[2020-12-29 03:05] taoyinzhou commented on #6011
@jwhui ,
1. Does OPENTHREAD_CONFIG_ANNOUNCE_SENDER_ENABLE apply to MTD, so that the end device can also follow the channel switching of OTBR?
2. Could this solve the problem that if the end device is turned off first and the OTBR channel is switched, can the end device be switched back when it is powered on?
3. Do you recommended to set the channel at the beginning and not to let it switch channel

[2020-12-29 04:50] simonlingoogle commented on #6011
Agree that OTNS is not using the ideal way of configuring network parameters. However, it does reveal a potential connectivity issue we currently have. I think it's better that we resolve the actual underlying issue if we are to change the default parameters.

Currently, two nodes becoming Leader at the same time does not have connectivity issue since they are default parameters.

[code]

[2020-12-29 05:08] jwhui commented on #6011
I believe we should remove [`ActiveDataset::GenerateLocal()`](https://github.com/openthread/openthread/blob/471cf8bedf77796600ce7e2b4deaeb834cd97e44/src/core/meshcop/dataset_manager_ftd.cpp#L307). A Thread device should never form a Thread network using default values. Yes, this will require changes to anything that relies on this behavior.

[2020-12-29 05:16] simonlingoogle commented on #6011
Agree that the `GenerateLocal` behavior should be removed.

@Moandor-y Will you take on this fix, which may involve fixing many test scripts, including OTNS tests?

[2020-12-29 09:06] Moandor-y commented on #6011
I agree. Just to confirm my understanding, by removing `GenerateLocal`, the major change is that if the user doesn't specify a dataset, no matter if the user has set some parameters directly, the node won't form a new network.

@simonlingoogle can you fix the OTNS part? I can take the rest of them. I think we can start after <https://github.com/openthread/openthread/pull/5998> is merged as it's ch

[2020-12-29 09:19] simonlingoogle commented on #6011
I will fix OTNS part.

[2020-12-29 18:27] purvisb commented on #6003
Switching to a laptop running the same version of Ubuntu natively to avoid complications with the VM.

I ran these commands:
`stty -F /dev/ttyACM0 115200 cs8 -cstopb -parenb crtscts`
`screen /dev/ttyACM0 115200`

A blank terminal window opens that won't display any characters when I type. Although the CDC LED on the Chip does flash whenever I type a character on the laptops keyboard.

[2020-12-30 01:47] Irving-cl commented on #6001
I checked the logs and pcaps. It's not case 7_1_01 but case 5_3_01.
![Screenshot from 2020-12-30 09-35-15](https://user-images.githubusercontent.com/12945188/103324554-f3b71d00-4a82-11eb-9fcf-a495b5852b51.png)

The cause for the failed run of 5_3_01 is the second fragmented ping didn't get replied. No crashes happened and the capture seemed to be correct, except that the last few packets don't exi

[2020-12-30 06:17] brianljt commented on #6017
NRF52811 uses RTC0 which only supports 3 compare registers compared to RTC1 which supports 4. However, in alarm.c, it used CC[3] as sync counter. https://github.com/openthread/openthread/blob/9ca79ddd9af3d4e3f78cb6e611a3117a71b2198c/examples/platforms/nrf528xx/src/alarm.c#L85 This counter is used in Timer Coordinator module to synchronize and coordinate operations of the Low Power timer that count

[2020-12-30 19:20] #6001 closed

[2020-12-30 19:21] #6017 closed

[2020-12-30 19:53] jwhui commented on #6003
@purvisb , it appears that basic UART communication is not occurring as expected.

Note that the UART configurations have moved to: [examples/platforms/nrf528xx/nrf52840/transport-config.h](https://github.com/openthread/openthread/blob/master/examples/platforms/nrf528xx/nrf52840/transport-config.h). Have you tried modifying `transport-config.h` (rather than `platform-config.h`)?

[2020-12-30 20:43] purvisb commented on #6003
I appended the text ([in this comment](https://github.com/openthread/openthread/issues/6003#issuecomment-751848130)) I originally put in `platform-config.h` to `transport-config.h`. Then I remade the firmware with no parameters and burned `ot-cli-ftd.hex` to the chip. Attempting to open the CLI has the same results as last time.

[2020-12-30 20:55] jwhui commented on #6003
@purvisb , have you tried reaching out to makerdiary to see if they have any suggestions?

[2020-12-30 21:18] purvisb commented on #6003
I just emailed support@makerdiary.com. I'll post any relevant suggestions on this issue unless told otherwise.

[2020-12-31 04:42] FiveDimensions commented on #6005
In Step 3, should filter MGMT_ACTIVE_SET.rsp with Accept, but there is a LEAD_PET.rsp sent out by Leader with the same Message ID(packet index# 36) in Step 2 @librasungirl @simonlingoogle
![image](https://user-images.githubusercontent.com/33887762/103394753-5da7f300-4b65-11eb-9541-82783af0691e.png)

[2020-12-31 05:34] FiveDimensions commented on #6018
From the advertisement the packets, Leader did not expire Router_1's ID after Router_2 power off 580s, add more extra time to test

[2020-12-31 06:52] simonlingoogle commented on #6005
@FiveDimensions @librasungirl

Seems wireshark matched PKT 36 as the ACK of PKT26 because they have same `TKN`.

It's strange that PKT 34 and PKT 26 use the same `TKN: 89 03`. CoAP should generate random token for each new request.

[2020-12-31 13:45] TPolzer opened #6028 "RCP does not support time sync"
I built the RCP for the nrf52840 dongle and ot-daemon at 22b043bf62328e89773fa61c9bb80770f81a4bef with the following commands:
[code]
To make ot-daemon build, I implemented `uint16_t otPlatTimeGetXtalAccuracy(void)` as `return 40;` (I don't there's a way to query clock accuracy under Linux?).

I tried running ot-daemon, but it crashes with a nullpointer dereference shortly after I issue the `threa

[2020-12-31 14:24] TPolzer opened #6029 "ot-daemon doesn't properly forward multicast from TUN"
I built the RCP for the nrf52840 dongle and ot-daemon at 22b043b with the following commands:
[code]
I then joined to the existing  thread network I have:
[code]
Multicast from the cli looks good (I have 5 other devices in the network):
[code]
But multicast from the host (i.e. through the TUN device) only hits the parent node:
[code]

[2020-12-31 14:30] TPolzer commented on #6029
Unicast (mostly...) works:
[code]

[2020-12-31 17:16] jwhui commented on #6029
IPv6 Hop Limit value on linux defaults to 1 for multicast messages. Try setting the Hop Limit or TTL value on the host as an argument to `ping6` - see [ping6 man page](https://linux.die.net/man/8/ping6).

[2020-12-31 17:17] jwhui commented on #6028
The time sync feature is not currently supported in RCP mode.

Note that the time sync feature is experimental and not a part of the Thread specification.

[2020-12-31 17:33] TPolzer commented on #6029
Thanks! That indeed fixes the multicast ping. It's still a bit weird that I'm unable to ping other nodes from the rloc mesh local address (fdbf:e492:40f3:de5a:0:ff:fe00:b401), but it's not an issue for me.

[2020-12-31 17:33] #6029 closed

[2021-01-01 22:50] gabekassel opened #6030 "Commissioning Failures"
**Describe the bug** A clear and concise description of what the bug is.

I've been seeing lots of failures around commissioning a Thread device onto my network. Phone app is able to petition, but commissioning never completes successfully. I can't tell if this is a misconfiguration on the border router or some kind of incompatibility.

**To Reproduce** Information to reproduce the behavior, inclu

[2021-01-02 01:07] gabekassel commented on #6030
I did see one success tonight (which I didn't capture logs for), but then multiple failures. Here's additional logging during failures.
[otdaemon.log](https://github.com/openthread/openthread/files/5759625/otdaemon.log)

[2021-01-02 12:29] Irving-cl opened #6031 "[devsite] seeming mistakes in Hardware Codelab"
**Describe the bug**
1. `NCP` are still used in some places. [Codelab #Step4](https://openthread.io/codelabs/openthread-hardware#3) says, "**Set up the RCP Joiner**". And `ot-ctl` is used to manage the Thread device. However, the title of **Step8** is "Add the NCP Joiner". And there are many other occurrences of `NCP` and `wpantund`, `wpanctl`. It seems that there's no NCP in this codelab. I guess

[2021-01-02 19:58] gabekassel commented on #6030
Commissioning from ot-daemon cli works perfectly

[code]

[2021-01-03 00:02] ricardocirio opened #6032 "[codelab] Getting Started: Developing with OpenThread APIs build errors"
Hi,

I followed the getting started guide: [openthread-apis](https://openthread.io/codelabs/openthread-apis) and got errors during build related to the use of the **otUdpBind** and **otUdpSend** functions without the required _otInstance_ parameter. I solved it by adding the parameter to the calls.

1. Git commit id: 22b043bf62328e89773fa61c9bb80770f81a4bef
2. IEEE 802.15.4 hardware platform: nrf5

[2021-01-03 03:07] Irving-cl commented on #6032
Hi @ricardocirio,

Thanks for raising the issue! The two APIs do need a `otInstance` parameter now. The document needs to be updated.

[2021-01-03 05:10] librasungirl commented on #6005
There is no guarantee in existing implementation that the random token of 2 bytes would be unique as required by RFC7252.

Some possible options
1. increase the token length (valid token length [0, 8]) to reduce the probability of generating the same token - the disadvantage is the extra CoAP header cost
2. Update Wireshark to match request/response properly as Message ID should also be considered

[2021-01-03 14:13] wgtdkp commented on #6030
@gabekassel It looks like the BR and joiner device are not compatible with each other. Is it possible for you to use the same commit for both the BR and joiner?

[2021-01-03 19:31] gabekassel opened #6033 "OT-Daemon/RCP Incompatibility"
**Describe the bug**
I observed that an RCP running from around commit c00cb8a4c4f6e2a619770ffbb4abfd0f36a7fdc2 is not compatible with host ot-daemon from current ToT (22b043bf62328e89773fa61c9bb80770f81a4bef). Since, in my system, I use ot-daemon not only to manage the Thread network but also to manage the RCP firmware (added custom version and a bootload launching command via diagnostic commands

[2021-01-04 00:44] gabekassel commented on #6030
@wgtdkp i tried that. i find commissioning works, but only intermittently. most attempts fail. here's another log where it was failing.

let me know any suggestions to further debug
[Uploading ot1.log…]()

[2021-01-04 01:49] gabekassel commented on #6030
I was able to successfully commission just now and captured tcpdump on BR (didn't have OT logs handy)

I've noticed when things stop working, the joiner reports "Not Found" or "Security" as failure reason. I've also noticed the commissioning app can't petition (asks for commissioning credential again). I do see discover requets on the BR from the joiner whenever I run joiner command.

[code]

[cod

[2021-01-04 03:35] wgtdkp commented on #6030
@gabekassel The log shows that the message buffers are exhausted, could you do the following?
1. enlarge message buffers for `ot-daemon`: add below code to file `openthread-core-posix-config.h`
[code]
2. share you build configuration of `ot-daemon`.

[2021-01-04 03:48] gabekassel commented on #6030
Building with that change now. Here are my current ot-daemon build flags

[code]

[2021-01-04 04:02] gabekassel commented on #6030
Things look **much** butter with that change. Just commissioned five times without issue.

Is this buffer change unique to my platform?

[2021-01-04 16:50] jwhui commented on #6005
I think we should update the matching to conform with RFC 7252 Section 5.3.2.

[2021-01-04 19:40] jwhui commented on #6030
@gabekassel , I don't think this is unique to your platform. The external commissioner increases message buffer utilization because it needs to maintain a DTLS session with the external commissioner and proxy messages between the commissioner, leader, and joiner. I just submitted #6030 to increase the default message buffer pool size for posix build.

[2021-01-04 21:23] gabekassel commented on #6030
Pasting PR link for future us https://github.com/openthread/openthread/pull/6037

[2021-01-05 03:33] FiveDimensions commented on #5982
MGMT_ACTIVE_SET.rsp got LEAD_PET.rsp ack,  similar with #6005
![image](https://user-images.githubusercontent.com/33887762/103603473-a8e94980-4f49-11eb-98ac-10f5fa910bd2.png)

[2021-01-05 03:40] Moandor-y commented on #6033
Hi @gabekassel , I ran an OT daemon compiled with <https://github.com/openthread/openthread/commit/22b043bf62328e89773fa61c9bb80770f81a4bef> and it works fine with an nrf52840 RCP compiled with <https://github.com/openthread/openthread/commit/c00cb8a4c4f6e2a619770ffbb4abfd0f36a7fdc2>. Also tried running against a simulated RCP and didn't see the issue. Is this issue only happening with EFR32MG1P?

[2021-01-05 03:42] gabekassel commented on #6033
I haven't tried with another RCP but can tomorrow. But the RCP api version did increment recently.

[2021-01-05 04:02] Moandor-y commented on #6033
The RCP API version was changed in <https://github.com/openthread/openthread/pull/5999>, which is a backward-compatible change. If RCP incompatibility was introduced then `SPINEL_MIN_HOST_SUPPORTED_RCP_API_VERSION` must be increased. There should be some other reason.

[2021-01-05 15:46] FiveDimensions commented on #6018
Add routerselectionjitter=1 for Leader

[2021-01-05 16:59] Vyrastas commented on #6031
Yeah, I have a long-standing task to update this Codelab to remove the references to wpantund and wpanctl, but I haven't had time lately.  I'll try to take a look later this week but if someone else (a Googler) wants to update, the Codelabs are now on openthread.io so they can be edited like any other openthread.io source file.

[2021-01-05 17:37] #6030 closed

[2021-01-05 17:53] #6016 closed

[2021-01-05 18:05] jwhui opened #6041 "[github-actions] v1_2_LowPower_5_3_01_SSEDAttachment fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/v1_2_LowPower_5_3_01_SSEDAttachment.py fails intermittently.

**Console/log output**

- [logs_48243.zip](https://github.com/openthread/openthread/files/5771824/logs_48243.zip)
- [packet-verification-low-power-pcaps.zip](https://github.com/openthread/openthread/files/5771825/packet-verification-low-power-pcaps.zip)

[2021-01-05 18:27] #5944 closed

[2021-01-05 18:49] abtink commented on #6033
@gabekassel On a quick glance at the logs, I don't think this is related to RCP API version and RCP-host compatibility. The API version is tracking the spinel definitions (spinel msg format) and whether there is a incompatible change.

The error here seems to  indicate a more fundamental problem with the UART/driver interface between RCP and host:
- The error `"RCP => Framing error 6:"` is indicat

[2021-01-05 19:13] gabekassel commented on #6033
Thanks @abtink - I just made two firmware trying to bisect and haven't been able to reproduce. I'm comfortable considering this transient for the moment and see if it happens again.

[2021-01-05 19:14] #6033 closed

[2021-01-05 19:22] gabekassel opened #6042 "Add command line argument to ignore RCP API version checking"
**Is your feature request related to a problem? Please describe.**
OT-Daemon can be used to manage RCP firmware on the coprocessor. However, in the case the RCP API version is incompatible, ot-daemon will fail to start (and thus block any diag commands used to put RCP into DFU).

**Describe the solution you'd like** A clear and concise description of what you want to happen.
This request is to add

[2021-01-05 19:22] gabekassel commented on #6033
Moving to https://github.com/openthread/openthread/issues/6042

[2021-01-06 00:32] Irving-cl commented on #6031
@Vyrastas

Ok, I think I can do it as I just played with it recently.

[2021-01-06 03:46] simonlingoogle commented on #5982
If it happens only with `/c/lp` and `/c/as`, maybe there is something wrong with our CoAP Token generation. :(

[2021-01-06 06:47] brianljt commented on #6010
As suggested by @bukepo , I'm trying to add V1.2-* test cases into posix test and use virtual time with better simulation time accuracy for CSL tests.

[2021-01-06 09:33] FiveDimensions commented on #5992
This issue happened after opening the rf-shield for Router_1 and Router_2 for 250s, Router_2 may not merge into the previous network. Changing network id timeout setting from the Router_2 initial bring-up to the beginning of shielding them, it can make sure merge them to original network

[2021-01-06 20:23] purvisb commented on #6003
I have not heard back from makerdiary. I spent several hours troubleshooting and I think I have a solution. But I don't know why this resolves the issue:

Make and burn the firmware with USB=1. I (luckily) observed that when you do this, ttyACM0 and ttyACM1 populate in /dev. This only seems to happen when the USB=1 parameter is supplied. If you try and connect to ttyACM0, it gives the same error a

[2021-01-06 23:06] jwhui commented on #6014
@dismirlian , thanks for raising this issue.

At a minimum, I think it would be great to emit a critical-level log and assert. Would you be willing to submit a PR for that?

[2021-01-06 23:08] jwhui commented on #6015
@dismirlian , thanks for raising this issue.

I think it would be great to have a test suite that validates a given platform implementation. Would you be willing to start this effort?

[2021-01-06 23:12] jwhui commented on #6011
Correct. OpenThread should not fabricate its own Operational Dataset without the user explicitly telling it to do so.

[2021-01-06 23:22] romacdon commented on #6013
@dismirlian you are correct.  That is an issue and we also recently found this in our Simplicity Studio version and fixed it the exact same way.  We removed that same line.  That is the correct fix.  We are in the process of updating GitHub to support the latest Silabs GSDK and will include this fix with that update but if you want to push in that change now that would be great.

[2021-01-06 23:24] jwhui commented on #6003
@purvisb , great to hear that you were able to figure it out.

It appears that this is expected behavior. From their [documentation](https://wiki.makerdiary.com/nrf52840-mdk/):

The `USB=1` option enables the USB controller on the nRF52840.

[2021-01-07 01:56] purvisb commented on #6003
That makes sense.

I also see that [your documentation](https://github.com/openthread/openthread/blob/master/examples/platforms/nrf528xx/nrf52840/README.md) includes USB=1 as a parameter when making the firmware. I did follow this documentation. But at the step where this is burned to the chip, I never though to re-confirm that I was using the right ttyACM file. Because I thought I already confirm

[2021-01-07 15:58] #6003 closed

[2021-01-08 02:13] #6042 closed

[2021-01-08 04:07] jwhui opened #6047 "[github-actions] Cert_9_2_19_PendingDatasetGet fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/Cert_9_2_19_PendingDatasetGet.py fails intermittently.

**Console/log output**

- [logs_49037.zip](https://github.com/openthread/openthread/files/5785162/logs_49037.zip)
- [packet-verification-pcaps.zip](https://github.com/openthread/openthread/files/5785163/packet-verification-pcaps.zip)

[2021-01-08 18:00] suveshpratapa commented on #6013
@dismirlian @romacdon Opened a PR to fix the efr32 example https://github.com/openthread/openthread/pull/6050

[2021-01-08 19:59] #6013 closed

[2021-01-08 20:03] dismirlian commented on #6014
Hi @jwhui I can submit a PR. Would it be sufficient to assert? Do you think there should be also a critical level message?

[2021-01-08 20:07] jwhui commented on #6014
Yes, I think we should have both a critical-level log and assert (as mentioned in https://github.com/openthread/openthread/issues/6014#issuecomment-755770014).

[2021-01-09 13:19] MarcelloDavis opened #6053 "Cannot ping external IPv6-addresses from a child device"
Hello,

I have successfully set up a Thread mesh network using a Raspberry Pi 3B with a nRF52840 USB dongle servicing as the borderrouter, and a Thunderboard Sense 2 (EFR32MG12) as a member of the network.
Via `> router table` I can see both participants:
![image](https://user-images.githubusercontent.com/75616258/104092498-a9088280-5284-11eb-98f2-fe77cc26bfdf.png)
And I can also ping the borderro

[2021-01-09 17:25] jwhui commented on #6053
To send packets to an external address, the Thread network must be configured with an external route (either a default route or more-specific route). In doing so, you also need to configure the Thread network with a globally routable IPv6 address.
[code]
Without an external route, the Thread network will not know to route packets to a border router. Without a globally routable IPv6 address, the ex

[2021-01-10 10:16] MarcelloDavis commented on #6053
@jwhui thank you very much! I'll try this out

[2021-01-11 18:00] MarcelloDavis opened #6058 "Issues with COAP on Borderrouter"
Hello,

I installed the OpenThread ot-rcp example on my Borderrouter (Raspberry Pi 3B with nordic nRF52840 Dongle) and an ot-cli-ftd example for my Thunderboard Sense 2 (EFR32MG12).

**For the Borderrouter, I essentially followed this tutorial:**

[code]
`OTBR_AGENT_OPTS="-I wpan0 spinel+hdlc+uart:///dev/ttyACM0" #I checked that this is the port of my dongle`
[code]

**For the Thunderboard I follo

[2021-01-11 21:19] jwhui commented on #6058
The RCP only includes the IEEE 802.15.4 MAC/PHY and the higher layers run on the host. If you want to include CoAP in otbr-agent, you can try adding the `-DOT_COAP=ON` build option to [otbr_install()](https://github.com/openthread/ot-br-posix/blob/master/script/_otbr#L56).

[2021-01-12 07:54] MarcelloDavis commented on #6058
@jwhui oh, yes I totally forgot about that, sorry! And thank you very much for your quick response!
Can I alternatively build a ncp design just by changing rcp to ncp in this line:
`arm-none-eabi-objcopy -O ihex ot-rcp ot-rcp.hex`
so that I have the application layer running on the host processor?

Best regards

[2021-01-12 08:49] VGuenat opened #6063 "RadioSpinelNoResponse serial errors on CC2538"
**Describe the bug**
After operating correctly for some time, the `otbr-agent` (from `openthread/ot-br-posix`) crashes due to a serial `RadioSpinelNoResponse` errors. It sometimes happens after a few minutes, then after a few seconds. I post the issue here as the problem seems to come from the `spinel` part of the code, not the `ot-br-posix` one.

**To Reproduce**

1. Git commit id: 01d169ad876583

[2021-01-12 17:54] MarcelloDavis commented on #6058
@jwhui thank you very much for your quick response! I tried adding the option right in the otbr_options:
[code]
But this led to an error so that I couldn't finish the ./script call.
Then I tried putting it in
[code]
And this time I could run the ./script call, but after complete setup I wasn't able to find the coap command when typing `ot-ctl help`.

Do you have any advice? And thank you very much

[2021-01-12 18:21] jwhui commented on #6058
I just applied this diff:
[code]

And successfully built OTBR with the following commands:
[code]

The coap command appears as expected:
[code]

Can you describe what error you ran into?

[2021-01-12 19:48] jwhui commented on #6063
@VGuenat , thanks for raising this issue.

We recently merged #6037, which might help address the "NoBufs" errors on the host side.

You might also take a look at #6043, which might help address lost frames being sent from the RCP to host. Not sure if this will help with the "NoResponse" timeout, but worth a try.

[2021-01-12 20:31] MarcelloDavis commented on #6053
@jwhui I started a new thread network and added the lines you provided like this:
[code]
And on my Thunderboard I typed:
[code]

I can join the network with my Thunderboard, but that did not solve the problem that I cannot ping external addresses. I also tried `pasor med` instead of `paros med`, but that didn't help. Do you know what I'm doing wrong?

Best regards!

[2021-01-12 20:33] jwhui commented on #6053
@MarcelloDavis , `fd11:22::/64` is a unique local address and not a globally routable prefix. If you want to receive packets from IPv6 hosts on the public internet, you need to have a globally routable IPv6 prefix.

[2021-01-12 21:01] jwhui commented on #6031
Codelab updates have been published.

[2021-01-12 21:01] #6031 closed

[2021-01-12 21:02] jwhui commented on #5963
Closing stale issue.

[2021-01-12 21:02] #5963 closed

[2021-01-12 21:04] jwhui commented on #5290
Closing stale issue.

[2021-01-12 21:04] #5290 closed

[2021-01-13 00:37] Irving-cl commented on #5991
Fixed by #6021

[2021-01-13 00:37] #5991 closed

[2021-01-13 08:15] SwathiRamachandra commented on #5897
@silabs-YupingX A friendly reminder.

Thanks,
Swathi

[2021-01-13 08:27] VGuenat commented on #6063
Thank you for the comment. I tried using the latest openthread commit in the otbr-agent but didn't see a difference.

I will swap the CC2538 module on Monday with one based on the EFR32 and see if it solves the problem, just to be sure on which side of the serial connection the problem lies.

[2021-01-13 16:20] jwhui commented on #6063
@VGuenat , note that #6043 applies to the RCP. Did you test with the latest commit in both otbr-agent and RCP?

[2021-01-13 19:59] abtink opened #6067 "[csl] coordinate between CSL and data poll tx requests"
This is follow up from discussion in https://github.com/openthread/openthread/pull/6038#discussion_r556290446.

Basically the idea is to coordinate/manage between `DataPollSender` and CSL modules
Example of this is when we need to send fast polls `DataPollSender::SendFastPolls()` or in general other APIs that control polling rate.
- If CSL sample period is same or shorter than fast poll interval,

[2021-01-14 00:58] Irving-cl commented on #6067
SGTM.

So in general, the logic would be like: when we try to send data poll, we check that if CSL Sample would happen soon (we may need to decide how long is 'soon' in our case), then `DataPollSender` skip polling. And CSL Sampling goes as always. So basically we can do this by adding some code to `DataPollSender`.

[2021-01-14 01:36] abtink commented on #6067
Yes. Thanks. This sounds good to me.

We wait about ~100ms after poll (for timeout) so I think around same interval may make sense for how "soon" before CSL sample to skip the data poll.

Thoughts?

[2021-01-14 01:56] jwhui commented on #6067
Do we want to make it configurable - at least make it a compile-time option? I could see some applications not caring as much about the latency. For example, some applications may be fine to wait a full second if the latency is acceptable.

[2021-01-14 17:28] dismirlian commented on #6015
Hi @jwhui, I'm sure I don't fully understand all the details and use cases of the platform API, and also I'm quite busy right now. Maybe, with your help (the OT team), I can kick this off in some weeks.

[2021-01-15 04:58] #6014 closed

[2021-01-15 12:47] VGuenat commented on #6063
@jwhui Indeed I forgot it the first time. I tried yesterday with both the otbr-agent and the RCP using the latest available commits and the issue persisted. As said before I will try on Monday with an EFR32 (both with and without HW flow control). I will also try with a different linux platform, to see if there is a link there.

I'll put the results here when I'm done.

[2021-01-16 09:14] leonsteenkamp opened #6080 "Setting up Docker build environent, issue with ./script/bootstrap"
When following the build guide at https://openthread.io/guides/build, which clones the current master branch to a Docker image. At the step './script/bootstrap' where the tools are installed there seems to be a problem with the compiler install.

In openthread/script/bootstrap starting at line 70 where the compiler is downloaded to /tmp. The archive is extracted to /tmp and then the archive is del

[2021-01-17 17:34] #6080 closed

[2021-01-18 14:45] imax16041998 commented on #1137
i have same error. **`ModuleNotFoundError: No module named 'Crypto'`**
I installed **cryptodome** v3.9.9 and uninstall package **crypto**
How to fix it????
![image](https://user-images.githubusercontent.com/50973410/104929211-2bf0b200-59d6-11eb-8304-77f70cba5035.png)

my email: imax16041998@gmail.com
thank you so much!

[2021-01-18 15:05] jwhui commented on #1137
@imax16041998 , did you try the proposed solutions that were posted above in this issue?

[2021-01-18 15:08] imax16041998 commented on #1137
@jwhui i tried but still error.
i tried uninstall Crypto and install cryptodome

[2021-01-18 15:12] jwhui commented on #1137
@imax16041998 , did you try uninstalling both crypto and pycryptodome first and then reinstalling pycryptodome?
[code]

[2021-01-18 15:27] imax16041998 commented on #1137
@jwhui yes. i tried but still error :(

[2021-01-18 15:30] imax16041998 commented on #1137
can you give me your email and help me run my souce code?

[2021-01-19 00:51] Irving-cl commented on #1137
@imax16041998

The python environment is sometimes troublesome. If you want to run python tests, I would recommend running it using docker. Would you consider that? I can provide some help.

[2021-01-19 00:54] Irving-cl commented on #1137
@imax16041998

Just noticed that you work on windows system. I haven't tried the docker solution on windows. I think it can also work.

[2021-01-19 09:19] VGuenat commented on #6063
@jwhui I did some more testing yesterday, replacing the CC2538-based module by a EFR32MG21 Development Kit (BRD4180A). The results were good and no crashes were detected. Testing the CC2538-based module with the otbr-agent on my laptop confirmed the assumption that the error lies in the firmware and/or BSP.

It seems strange to have problems with the CC2538 since it is a Thread certified component

[2021-01-19 13:51] deimi opened #6093 "bootstrap script fails in docker environment container"
**Describe the bug**
`script/bootstrap` does not fully work in a docker build environment.

**To Reproduce**

1. `docker run -it openthread/environment bash`
2. `cd openthread`
3. `script/bootstrap`

**Console/log output**
[code]

**Additional context**
When doing manual builds, this is not a problem as the next steps for the actual building will work fine. But when using the docker image in an au

[2021-01-19 14:07] Irving-cl commented on #6093
@deimi

The docker image has everything we need to run openthread. So we don't need to install anything in the docker. What CI pipeline do you mean? Is it possible to skip the step calling `script/bootstrap`?

[2021-01-19 14:31] deimi commented on #6093
@Irving-cl
We are using a gitlab pipeline in our project to build the nordic dongle firmware.

[code]

I was just following the instructions as explained here https://openthread.io/guides/build.
But you are right, I tried now and the build works fine if we skip the script/bootstrap part. So in my opinion this should either be "fixed" like in my pull request or the documentation should be more prec

[2021-01-19 14:38] Irving-cl commented on #6093
@deimi

Sounds good to me. Thanks! I think we would also put update the guide later.

[2021-01-19 18:32] #6093 closed

[2021-01-20 05:53] Irving-cl commented on #6032
The Codelab has been updated.

[2021-01-20 05:53] #6032 closed

[2021-01-20 17:38] ToMiller opened #6098 "Transmitting sensor data from thread network to external IPv6 network"
Hello,

I have just been getting started with openthread and am trying to read sensor data from a EFR32 board, and want to send these data via a borderrouter to an external network.
I have created an ot-cli-ftd example on my EFR32 and can read out sensor data, and I also have a borderrouter working. I have connected them both in one mesh-network and can transmit the data.

However I find it diffic

[2021-01-20 23:14] paragdixit-g opened #6100 "[codelab] typo in codelab3 (Simulate a Thread Network)"
In codelab 3 (Simulate a Thread Network),  under  'Verify the Network', under '1. Check connectivity'
 this line:
"Node 1's RLOC of 0x5800 is found in the table"
should likely be:
"Node 2's RLOC of 0x5800 is found in the table"

[2021-01-21 00:03] jwhui commented on #6100
@paragdixit-g , thanks for pointing that out. I agree.

[2021-01-21 00:59] Irving-cl commented on #6100
Thanks. I've submitted a CL for that.

[2021-01-21 01:31] Irving-cl commented on #6100
Fixed.

[2021-01-21 01:31] #6100 closed

[2021-01-21 04:17] Vyrastas commented on #6100
Thanks @Irving-cl 👍

[2021-01-21 19:37] abtink opened #6106 "List of PRs for SRP and DNS-SD feature"
Using this issue here to list and track all the PRs related to SRP and DNS-SD feature in OT repo (specifically the order we want to merge and/or they way they depend on one another). This is mainly to help us quickly access the PRs.

SRP related PRs:
- [x] [srp] common utils #6048
- [x] [net] SRP client implementation #6038
- [x] [net] initial implementation of the SRP server #5986
- [x] [tests] a

[2021-01-22 05:05] uttaravadina opened #6108 "Automatically override to the LEADER Role for a specific Node when it reconnects to the Thread Network"
**Is your feature request related to a problem? Please describe.** A feature that allows a Node to be assigned itself as the LEADER Role when it re-joins the network. It might be the case where a certain node in the Network holds more weightage because of being much more capable in terms of certain parameters.

*Parameters*:
   - Open physical space around the node
   - Resistance to interference

[2021-01-22 05:15] uttaravadina commented on #6108
@jwhui it's completely understandable that changing such settings in production can cause the network to become unstable but there will be corner cases arising where such requirement ensures that the network reaches a certain state by overriding those APIs. Some thread networks might want to isolate themselves as the environment is relatively small and stable or certain devices by default need to

[2021-01-22 21:29] silabs-YupingX commented on #5897
@SwathiRamachandra From the radioconf you attached, it looks like the frame is not set up for 15.4 (e.g. length decoding and crc). We don’t currently have a tested radio_settings.radioconf file for 915MHz.

Have you seen this KBA? Wondering if it might be of any help at all: https://www.silabs.com/community/wireless/proprietary/knowledge-base.entry.html/2017/02/24/ieee_802_15_4_andra-vGci

Also, h

[2021-01-22 21:43] SwathiRamachandra commented on #5897
@silabs-YupingX, Yes the default config file which is in railtest example works fine for tx/rx test with two devices.
I will try with the link provided.

Thanks,
Swathi

[2021-01-24 14:47] maxikrie commented on #6053
I think I ran into the same issue (it may however well be that I have a lack of understanding the overall concept - i am new to Openthread and not an export on networking).

I have setup a border router on Raspberry Pi 4 following the instructions on https://openthread.io/guides/border-router/build (with automatic Wi-Fi AP setup) with RCP running on a nrf52840 DK. I have used the Web GUI with defa

[2021-01-24 16:02] maxikrie commented on #6053
P.S. I rechecked and the fd11:22:xx address have now disappeared on both RCP and FTD for some reason. I guess this was not really the mesh local address, but rather the respective longer of the fdb4:42db:c94e:893c:xx addresses?

I can ping the longer address of the FTD from the RCP, but not from the border router
![Screenshot from 2021-01-24 17-00-33](https://user-images.githubusercontent.com/4449

[2021-01-24 20:21] maxikrie commented on #6098
I am currently trying to achieve something similar and I have decided for DDS employing following open source implementation with support for constrained devices - https://github.com/eProsima/Fast-DDS. So far it looks promising, but I hit an obstacle with the thread - I can let you know more once this is resolved.

An alternative would be MQTT-SN, but I don't like that beyond the embedded devices

[2021-01-25 12:22] maxikrie commented on #6098
https://github.com/openthread/openthread/issues/6053#issue-782606606

[2021-01-26 12:57] wgtdkp opened #6115 "[github-actions] test_mlr_multicast_routing_across_thread_pans.py fails intermittently"
**Describe the bug**
tests/scripts/thread-cert/backbone/test_mlr_multicast_routing_across_thread_pans.py fails intermittently.

**Console/log output**
artifacts: [thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/5873362/thread-1-2-backbone-results.zip)

[2021-01-26 21:27] #4213 closed

[2021-01-27 15:05] maxikrie commented on #6053
I could at least shed some light on the non-persistence of the 'on-mesh' prefix. I had rebooted the border router, which causes the 'on-mesh prefix' to disappear and needs to be re-added with

as described in https://openthread.io/guides/border-router/external-commissioning?comm=ot-commissioner (see Manual). This issue describes the part about non-persistence after reboot https://github.com/openth

[2021-01-27 20:55] jwhui commented on #6063
For CC2538 testing, we use the [Zolertia Firefly](https://zolertia.io/product/firefly/).

That seems odd to me. Can you provide the output of `bufferinfo` to validate the number of available message buffers?

[2021-01-27 21:03] jwhui commented on #6108
@uttaravadina , thanks for raising this issue.

Implementing this change would require a change to the Thread Specification. Currently, whether the partition is a singleton (compose of a single leader) takes precedence over a higher weight value. In other words, a partition with multiple routers will have higher priority over a partition with a single leader even though the latter has a higher wei

[2021-01-27 21:07] jwhui commented on #6098
Yes, given that Thread is an IPv6 network, a packet's destination can be any IPv6 host that is reachable from the Thread device.

Both CoAP or MQTT are IP-based protocols. Either approach should work, but which is better will depend on your specific use case.

Unfortunately, we do not have any tutorials specific to CoAP or MQTT. However, I believe some silicon vendors supporting OpenThread have ex

[2021-01-27 21:12] jwhui commented on #6053
It appears that the PC only has a link-local IPv6 address. That is not sufficient if you want the PC to communicate with devices that are not on Wi-Fi/Ethernet (e.g. a Thread device).

One way to get things going is by manually configuring IPv6 addresses and routes on your Wi-Fi/Ethernet link. You can take a look at [Practical Networking for Linux Admins: IPv6 Routing](https://www.linux.com/topic/

[2021-01-29 02:04] librasungirl commented on #5982
Confirmed that it has the same cause as #6005
<img width="1589" alt="9_2_5_same_token" src="https://user-images.githubusercontent.com/19217991/106221750-29355e80-6219-11eb-98e5-d83d96f5bda8.png">

Let's close this one and track in #6005

[2021-01-29 02:04] #5982 closed

[2021-01-29 06:24] jwhui commented on #6058
Closing stale issue.

[2021-01-29 06:24] #6058 closed

[2021-01-29 06:25] jwhui commented on #5712
Closing stale issue.

[2021-01-29 06:25] #5712 closed

[2021-02-02 23:52] jwhui opened #6133 "[codecov] pull request status checks is broken"
**Describe the bug**

codecov status checks are either not being reported or updated properly.

- #6130
- #6131
- #6132

[2021-02-03 05:34] bukepo commented on #6133
also for #5384

[2021-02-04 07:41] wgtdkp commented on #6133
And https://github.com/openthread/openthread/pull/6123 is reporting wrong coverage.

[2021-02-04 21:48] jwhui opened #6139 "[github-actions] test_srp_name_conflicts.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/test_srp_name_conflicts.py fails intermittently.

**Console/log output**

- [logs_53861.zip](https://github.com/openthread/openthread/files/5928732/logs_53861.zip)
- [cli-time-sync-thread-cert.zip](https://github.com/openthread/openthread/files/5928734/cli-time-sync-thread-cert.zip)

[2021-02-05 15:40] SwathiRamachandra opened #6145 "Unable to ping in 868Mhz band"
Hi,
I have two nodes leader and child. There is no output from ping command in leader device. The ping command is successful. But I could see from network analyzer of Silabs IDE, the ping response is sent from leader and child node has replied for the ping response, see below image. In leader device in IP6::HandleDatagram(), HasUnicastAddress() has not passed after ICMP6 reply from child.

Reprodu

[2021-02-05 16:08] jwhui commented on #6145
@SwathiRamachandra , the BRD4163A board is not a board that is currently included in our repo. I assume there is some custom platform code that you are running?

I noted that the Extended MAC address in the router table does not seem to match the MAC Src/Dest addresses in SiL Network Analyzer. In Thread, the link-local address should be derived from the Extended MAC address.

When processing the I

[2021-02-05 17:09] SwathiRamachandra commented on #6145
@jwhui Sorry, the above image was from older Thread network configuration and the Ext MAC was created with another Thread config. Sorry for the confusion.
Below I have created the Thread network again and the respective network analyzer image.

The datagram's destination address in ICMPv6 ECHO reply is fe80:0:0:0:5481:5727:1cd7:433b

ipaddr of Leader:
fdde:ad00:beef:0:0:ff:fe00:fc30
fdde:ad00:beef

[2021-02-05 17:18] jwhui commented on #6145
Given that the ICMPv6 Echo Reply's MAC Dest is 3E2FF3E3C0CA1B6C, I would expect the IPv6 Destination Address to be fe80:0:0:0:3c2f:f3e3:c0ca:1b6c. However, you indicated that the IPv6 Destination Address is fe80:0:0:0:5481:5727:1cd7:433b, which is the address assigned to the peer. In that case, the ICMPv6 Echo Reply won't be processed correctly.

Thread uses 6LoWPAN header compression. For link-lo

[2021-02-05 18:11] #6139 closed

[2021-02-05 19:11] jwhui opened #6146 "[github-actions] Cert_9_2_07_DelayTimer.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/Cert_9_2_07_DelayTimer.py fails intermittently.

**Console/log output**

- [logs_54184.zip](https://github.com/openthread/openthread/files/5934729/logs_54184.zip)
- [packet-verification-pcaps.zip](https://github.com/openthread/openthread/files/5934738/packet-verification-pcaps.zip)

[2021-02-06 22:49] krbvroc1 opened #6148 "ot-ctl returns incorrectly escaped data"
When using ot-ctl, it returns lines that are terminated with a 'mysterious' 0xd at the end of each line.

I am extracting the mleid of a border router from a script and this illegal character had tripped me up. It appears to be on all ot-ctl output. I am not aware that '\d' is a legal escape code.

Example:
[code]

[2021-02-06 22:53] #6148 closed

[2021-02-06 22:54] krbvroc1 commented on #6148
Wrong repo...should be otbr

[2021-02-07 14:39] TPolzer opened #6151 "Implement (intentionally) unreliable multicast"
**Is your feature request related to a problem? Please describe.**

What I want to achieve seems like it should be a relatively common issue:

I have a set of lights, each of them a full thread device, and a dimmer (a minimal thread device running on battery).
It would be nice to be able to smoothly regulate brightness with low latency for a group of lights.

That works pretty well (with <10bytes

[2021-02-08 01:12] purvisb opened #6152 "How to add user commands to CLI?"
I'm trying to figure out how to add my own commands to the OT CLI. I'm starting by adding a command that prints a string when called. I already achieved this two ways, but I'm really not sure if what I'm doing is proper.

One way I achieved this was by reverse engineering some stuff in the openthread source code and guessed and it somehow worked. But I feel like this isn't proper. Another way I ac

[2021-02-09 23:32] nealjack opened #6159 "Outdated nrf_security library documentation for nRF52840 crypto cell 310 support"
It appears the [documentation](https://github.com/openthread/openthread/tree/master/examples/platforms/nrf528xx/nrf52840#cryptocell-310-support) for cryptocell support with external applications is outdated. The library `libmbedcrypto_cc310_backend.a` no longer exists in `third_party/NordicSemiconductor/libraries/nrf_security/lib` among others.

The current contents of `third_party/NordicSemicondu

[2021-02-10 10:32] SwathiRamachandra commented on #6145
@jwhui Thanks for your help,
I am able to ping between the device in 868MHz band now, with the latest OpenThread commit.

Thanks,
Swathi

[2021-02-10 17:34] #6145 closed

[2021-02-10 19:30] jwhui commented on #6151
@TPolzer , thank you for submitting this issue.

Unfortunately, the Thread Specification does not provide the mechanism that you are proposing. Thread uses MPL [RFC 7731](https://tools.ietf.org/html/rfc7731), which includes a sequence number in the IPv6 Hop-by-Hop Option header for duplicate suppression and message ordering. MPL maintains a sliding window to determine which messages have been rece

[2021-02-10 19:35] jwhui commented on #6152
@purvisb , it really depends on your project goals - both approaches work and are acceptable. Directly modifying the OpenThread CLI component does reduce dependencies on external projects. At the same time, implementing the CLI in the nRF SDK avoids having to modify the OpenThread component.

[2021-02-10 23:09] TPolzer commented on #6151
Thanks for the detailed response!

I'm aware this feature request doesn't fit well with the existing multicast design/infrastructure, i.e. short term I'll have to pick workarounds.

On the other hand from an end user perspective, this seems like a reasonable thing to ask for in a smart home setting and under normal conditions it doesn't seem impossible (from the 802.15.4 imposed constraints), so I

[2021-02-10 23:43] jwhui commented on #6053
Closing stale issue.

[2021-02-10 23:43] #6053 closed

[2021-02-10 23:44] jwhui commented on #6063
Closing stale issue.

[2021-02-10 23:44] #6063 closed

[2021-02-10 23:44] jwhui commented on #6098
Closing stale issue.

[2021-02-10 23:44] #6098 closed

[2021-02-11 02:55] Irving-cl opened #6161 "[doc] Links to ot-nrf528xx example have expired."
**Describe the bug**
In ot-nrf528xx [README.md](https://github.com/openthread/ot-nrf528xx/blob/main/README.md), the links to the examples have expired. Clicking them leads to 404 Page not found.
![Screen Shot 2021-02-11 at 10 54 42 AM](https://user-images.githubusercontent.com/12945188/107598037-986a7400-6c57-11eb-9254-11b69b743b2a.png)

[2021-02-11 02:57] jwhui commented on #6161
See https://github.com/openthread/ot-nrf528xx/pull/2

[2021-02-11 02:59] Irving-cl commented on #6161
Thanks! Then we can wait for the PR.

[2021-02-11 04:14] #6161 closed

[2021-02-11 17:43] krbvroc1 opened #6164 "nRF52840 DTLS JOIN failure"
I have not been able to get Nordic support on this issue, maybe openthread can help and I believe Nordic monitors here.

- I first started using Nordic 'examples/thread/cli' which works fine joining a Thread network.
- Next I tried Nordic 'examples/thread/dfu/client' and I disabled Nordic special 'autocommission' (hardcoded masterkey) feature from their demo. This demo fails joining a Thread netwo

[2021-02-11 18:05] jwhui commented on #6164
It is the `ecjpake_key_kp_pair` extension. You can find more details in [Thread 1.1.1](https://www.threadgroup.org/support#specifications) Section 7.4.7.3.

@LuDuda , can you help with the Nordic SDK example?

[2021-02-11 19:47] purvisb commented on #6152
@jwhui , We are working with GPIO and SAADC drivers to connect sensors to nrf52840-mdk chips. Then we are going to send this data to a SQL database via COAP.

Are we losing any functionality by using the nRF SDK? The OpenThread stack is pre-compiled so we can't modify that. But I believe everything in [this API](https://openthread.io/reference/api-updates) is accessible in the sdk (I need to confi

[2021-02-11 20:50] LuDuda commented on #6164
Hello @krbvroc1, I am assuming this is the [Devzone ticket](https://devzone.nordicsemi.com/f/nordic-q-a/71115/thread-sdk-ota-bug) you created couple days ago?

I can look at this problem and reply there. But first i would need to understand better what are you using on the Border Router side? Have you tried with the newest ot-br-posix?

Both examples use nrf_security, the difference is that DFU cl

[2021-02-11 21:14] krbvroc1 commented on #6164
Hi @LuDuda - yes that is the Devzone ticket. Initially I was running the Nordic provided ot-br image on RaspPi. However, I have recently switched to running the latest ot-br-posix on RaspPi and that is what I am currently using. (Using 52840 dongle RCP rather than NCP on that RaspPi).

I have been conflicted about using nRF5 SDK for Thread for new development. But it seems from what I have seen on

[2021-02-11 21:25] jwhui commented on #6152
@purvisb , I don't think you'll be missing any functionality if you are fine with pre-built binary and the existing OpenThread APIs. You would likely receive better support from Nordic if you used their nRF SDK constructs. That said, if you have any plan to switch away from nRF SDK, then you may want to avoid binding to it.

[2021-02-12 16:05] purvisb commented on #6152
@jwhui Is there a simpler way to add a command using only the Open thread Source code? Presumably with otCliSetUserCommands?

Likewise if I wanted to import a driver to use in my CLI command, how would I go about doing that? I already tried some things that failed, which prompted me to try the nRF SDK.

[2021-02-12 18:04] jwhui commented on #6152
Yes, you can use `otCliSetUserCommands()` to include your own command table.

The OpenThread examples in this repo run in a bare-metal environment that does not provide many services that an RTOS may provide. If you are looking to integrate other peripheral drivers, it largely depends on the peripheral driver's dependencies, if any. The SDK will provide more services and support. I do not have any

[2021-02-13 12:31] Irving-cl opened #6168 "[nrf52840] CSL transmission fails when using a dongle as CSL Transmitter and a DK as CSL Receiver"
**Describe the bug**
For some reason, I'm using a nrf52840 dongle as CSL Transmitter and a nrf52840 DK as CSL Receiver. When I ping from the Transmitter to the Receiver, it fails. (The Receiver didn't receive it and there's no ack.) However it can work in the opposite way: If I ping from the Receiver to the Transmitter, it works. And the Receiver can receive the ping reply. I also tried using 2 do

[2021-02-13 14:46] hubertmis commented on #6168
@Irving-cl , what's CSL Period for attached pcap?

[2021-02-13 14:49] Irving-cl commented on #6168
@hubertmis, it's 3125 (500ms).

[2021-02-13 15:28] hubertmis commented on #6168
It seems dongle clock drifts from the sniffer clock back ~10 us per 1s (10 PPM, it's within tolerance). For the successful transmissions (no 23, 28), the transmitter is a little too late (a number of dozens of microseconds, within tolerance). However, the transmitters clock keeps drifting and if you wait long enough, it transmits the frame earlier than expected. Frames 30-33 are transmitted ~80 us

[2021-02-14 14:05] LuDuda commented on #6159
@MarekPorwisz can you look at it?

[2021-02-15 00:16] purvisb opened #6170 "CoAP doesn't work when using out-of-band commissioning"
**Describe the bug**
CoAP times out in a thread partition made via out-of-band commissioning. CoAP works as expected in a thread partition made via in-band commissioning.

**To Reproduce**
compilation command:
`make -f examples/Makefile-nrf52840 USB=1 JOINER=1 COMMISSIONER=1 COAP=1`

Use this script on two nrf52840-mdk SOCs. They automatically join each other. Note that $1 is the name of the symli

[2021-02-15 14:46] MarekPorwisz commented on #6159
It seems that somehow I forgot to update this part of doc, while I updated the[ RTOS part](https://github.com/openthread/openthread/tree/master/examples/platforms/nrf528xx/nrf52840#cryptocell-310-rtos-support).

For some reason, the order of the libraries does matter to some compilers.
Here is an order of linking used in [nrf platform samples](https://github.com/openthread/openthread/blob/4538a5fb

[2021-02-15 14:55] krbvroc1 opened #6171 "[coap] use of `nullptr` in C API"
I just fetched the most recent Zephyr zephyr-v2.5.0-148-g4ee876b797b1 which just merged #4247 (CoAP block transfers).

Build fails... (board is nrf52)...both crosstools arm compiler and arm gcc.
[code]

[2021-02-15 18:22] nealjack commented on #6159
@MarekPorwisz thanks! With that library ordering, I am able to successfully build an external application.

However, my thread applications no longer function. I turned on openthread logging and am seeing a lot of failed attachments:

[code]

I think that last line there `Failed to process UDP: Security` might be indicative of the mbedtls/cc310 backends not working correctly. Are there any compila

[2021-02-15 20:56] TPolzer commented on #6151
Turns out my application level retransmits were more aggressive than intended, sorry.
After fixing that, the behavior in a smallish network is now acceptable at 25 Hz multicast (don't have the hardware to test with a big network).

That said, it's still easily (visually) distinguishable from a wired dimmer. I guess the lowest hanging fruit now would be for the sleepy end device to be able to immed

[2021-02-16 03:26] jwhui commented on #6170
I believe this is due to a mismatch in your Active Operational Dataset. Rather than setting each individual parameter separately, I recommend either (1) setting the entire Active Operational Dataset as hex-encoded data or (2) specifying only the master key and channel and letting the device retrieve the full dataset after attaching.

For (1), you can retrieve the Active Operational Dataset from th

[2021-02-16 03:46] jwhui commented on #6171
@krbvroc1 , thanks for raising this issue. I just submitted a proposed fix in #6173, please review.

[2021-02-16 19:22] #6171 closed

[2021-02-16 19:24] krbvroc1 commented on #6171
Thanks.

[2021-02-17 03:08] purvisb commented on #6170
I will implement that later this week, I'll let you know if that works. Thank you.

[2021-02-17 15:16] MarekPorwisz commented on #6159
First thing that came to my mind, but is only a guess without diving into the issue, is that recently there was and update that was removing the use of default masterkey. From that point you need to perform the commissioning or set masterkey manually (in addition to setting channel, and panid).

[2021-02-17 18:31] nealjack commented on #6159
@MarekPorwisz That was it! Setting a master key worked and my device now joins the network.

[2021-02-18 02:04] #6159 closed

[2021-02-18 03:20] brianljt commented on #6133
also for #6070

[2021-02-18 08:46] abtink opened #6184 "Enhance PR dependency "Depends-On:" feature"
The dependent PR  feature is useful when having changes that impact other repos.  While using it from https://github.com/openthread/openthread/pull/6157 noticed that the current code seem to require that the `"Depends-On:"` to be last line in the PR decsription text body.

- The reason seems to be that we get `\r\n` in the text body we retrive from github API for the PR.
- In `depends_on_pr="$(gre

[2021-02-18 17:05] #6010 closed

[2021-02-21 00:39] purvisb commented on #6170
@jwhui When I type `dataset active -x` on an SOC CLI - it just returns the human readable format.

[2021-02-21 01:24] purvisb commented on #6152
@jwhui In the nRF SDK - I got the command to work, but with a warning.

I initialize an otCliCommand
`otCliCommand readCommand = {"read", read};`

read is defined as
`static void read(void *aContext, uint8_t aArgsLength, char *aArgs[])`

Then I add the command
`otCliSetUserCommands(&readCommand,1);`

This compiles. But on the line where I initialize readCommand - I get this error:
`
initialization

[2021-02-21 04:54] purvisb opened #6188 "CoAP add resource and sending POST's"
I'm trying to add a resource via my embedded program. heres my code
[code]

Nothing ends in an error. But when I go into the CLI and type `coap resource` - it outputs (null). Likewise sending a GET to the "test-resource" resource fails.

Also I'm struggling to figure out how to send messages from a client to the server running a resource. I've hunted around for examples and tried them with no luck

[2021-02-21 09:46] wgtdkp commented on #6152
@purvisb I believe the nRF SDK is not including the latest OpenThread definitions documented [here](https://openthread.io/reference/struct/ot-cli-command).

The OT CLI command callback signature has been changed in this PR https://github.com/openthread/openthread/pull/5587.

For the nRF SDK, I think you should define the `read` command as:
[code]

[2021-02-21 10:00] wgtdkp commented on #6188
The CLI command `coap resource` outputs the CLI CoAP resource which is set by command `coap resource <resource-url>`.

Could you confirm if you can ping the CoAP server?

[2021-02-21 10:09] wgtdkp commented on #6170
@purvisb I believe you are using the nRF SDK but not building from the latest OpenThread code, right?

The `dataset active -x` command is introduced 5 months ago with this PR https://github.com/openthread/openthread/pull/5549. The equivalent command before is `dataset active binary`. You can check all available `dataset` sub-commands with `dataset help`.

[2021-02-21 22:38] purvisb commented on #6152
That fixes the warning. I don't have any further questions on this thread at this time. Thank you!

[2021-02-21 22:38] #6152 closed

[2021-02-21 22:45] purvisb commented on #6170
@wgtdkp yes I am using the nRF SDK and I am not building from the latest OpenThread code. `dataset active binary` still returns the human readable format. Heres what `dataset help` outputs:
[code]
Any further suggestions? It might just be better for me to import the most recent version of OpenThread.

[2021-02-22 03:21] wgtdkp commented on #6170
@purvisb Okay, it seems your OpenThread version is too old... One way is to update the OpenThread, while another way is to set the dataset fields one by one.

[2021-02-22 05:17] purvisb commented on #6188
Figured this out. Issue was that the CoAP CLI and CoAP in my embedded program don't really talk to each other.

[2021-02-22 05:17] #6188 closed

[2021-02-22 16:02] hubertmis commented on #6168
@Irving-cl, was my comment of any help? Have you narrowed down the issue?

[2021-02-23 00:16] Irving-cl commented on #6168
@hubertmis, Thanks very much. I'll try it soon. Sorry I was busy with something else.

[2021-02-23 02:24] Irving-cl commented on #6168
@hubertmis, the problem only occurs when I use one dongle and one DK. How can we debug with the dongle?

[2021-02-23 10:52] hubertmis commented on #6168
@Irving-cl, it depends what debugging do you mean. The easiest one would be to use TC2050 cable and SWD/JTAG debugger like described here: https://infocenter.nordicsemi.com/topic/ug_nrf52840_dongle/UG/nrf52840_Dongle/hw_swd_if.html?cp=4_0_5_5_6

If you are interested in GPIO debugging to verify timing, you would need to select available pins and solder connectors to them.

However, I think I've fo

[2021-02-23 11:06] Irving-cl commented on #6168
@hubertmis,

As I remember, we intentionally put it to the beginning of the CSL window according to the experience. I think at that time we haven't used the `transmit_at` solution. I would definitely try to put it to the center. I'll keep you updated.

For debugging, I'm planning to purchase one logic analyzer. I think it will be helpful to debug CSL in the future. Do you think a logic analyzer wi

[2021-02-23 11:29] hubertmis commented on #6168
It depends what M stands for. If that's MHz, it would be more than enough. With radio timing accuracy we are aiming now 1us. 2MHz logic is enough to measure such timings. 100MHz is 50 times better than enough :)

[2021-02-23 11:46] Irving-cl commented on #6168
@hubertmis Yeah, it's MHz. It seems that even the cheapest ones have maximum frequency of 100MHz. So I'm curious about that.

[2021-02-23 11:49] hubertmis commented on #6168
It's possible that the device can keep up 100MHz only when you are sampling one channel. For two channels it can degrade to 50MHz, 4 channels 25 MHz, 8 channels 12.5 MHz etc.

I have never used more than 8 channels for CSL tests. Even with such limitation, the cheapest one seems fine (as long as it supports enough number of channels).

[2021-02-24 11:21] Irving-cl commented on #6168
@hubertmis, I just did more experiments. I did the same thing (2 device, a child attach to the parent and the parent ping the child, CSL period is **3125, 500ms**) for three cases:
* Use 2 dongles
* Use 2 DKs
* Use one Dongle as parent and one DK as child

Just as before, the ping succeeded in the first two cases and failed in the last case. Here are the detailed results:
### dongle to dongle
![Sc

[2021-02-24 11:43] hubertmis commented on #6168
It's most probably caused by different properties of crystals used in dongle and DK. I expect that dongle crystal drifts slightly back in your experiments, while DK crystal drifts slightly forward. If both devices in the tests have similar drift, they can communicate with each other (it explain why dongle-dongle and DK-DK works).

However, if transmitter's clock drifts away from the receiver clock

[2021-02-24 19:13] dismirlian opened #6201 "SED battery drained quickly because of frequent re-attach sequences"
Under the following circumstances a SED's battery is drained very quickly:
- device with very marginal connectivity (de-attaches frequently)
- default `OPENTHREAD_CONFIG_MLE_ATTACH_BACKOFF_MINIMUM_INTERVAL` (251ms)
- "fast" poll period (in our case, 11s)

This happens because the SED de-attaches frequently, and tries to attach very fast (the default `OPENTHREAD_CONFIG_MLE_ATTACH_BACKOFF_MINIMUM_IN

[2021-02-24 19:21] jwhui commented on #6201
@dismirlian , thanks for raising this issue.

As you probably know, OpenThread actually implements a backoff mechanism using the following configurations:

- [OPENTHREAD_CONFIG_MLE_ATTACH_BACKOFF_ENABLE](https://github.com/openthread/openthread/blob/d24327fd71a96bda0619f6b6331184e313b73909/src/core/config/mle.h#L121)
- [OPENTHREAD_CONFIG_MLE_ATTACH_BACKOFF_ENABLE](https://github.com/openthread/ope

[2021-02-24 19:49] dismirlian commented on #6201
Hi @jwhui, thanks for the (incredibly) fast answer. Yes, I'm aware of those configurations. I'll try to explain better:

After a detach, the default `OPENTHREAD_CONFIG_MLE_ATTACH_BACKOFF_*` values cause attach attempts at roughly these times (in ms):

0
251
753
1757
3765
7781
15813
31877
64005

As you see, there are 6 attach attempts in ~8s.

If the connectivity is marginal, one of these attempts

[2021-02-24 20:00] jwhui commented on #6201
@dismirlian , thanks for clarifying!

Yes, I think applying some kind if hysteresis will certainly help in this situation. As you propose, there could be a single build-time configuration that specifies the minimum time delay between successive attaches and an implementation can always set to 0 to keep the behavior as it is today. Probably something that is easy to add in [`Mle::GetAttachStartDela

[2021-02-24 20:44] abtink commented on #6201
Thanks @dismirlian for raising this issue.

It's an interesting practical situation.
- An SED node with such a poor link-quality is practically not usable (basically should be considered as not being part of the Thread network).
- But I agree that it would be good to have mechanism to preserve its battery. Current reattach backoff mechasnim resets the to min wait time on a successful attach.

I ca

[2021-02-24 22:24] dismirlian commented on #6201
@jwhui, I'd prefer that this be implemented by an expert (because it touches the very core), if it ever gets implemented.

@abtink, thanks for looking into this.

In practice we see that this SED is quite useable during some periods, and quite unuseable in others (we have yet to find out **why** this happens...). When it's attached, we transmit the messages we have cached, and that's ok in our use

[2021-02-24 23:49] jwhui commented on #6201
Sounds good. I've assigned to @abtink.

I think it's all a tradeoff. At first glance, if we require X attempts, then the energy cost during poor connectivity is multiplied by X. It's not yet obvious to me whether that is desirable.

[2021-02-25 03:30] abtink commented on #6201
Submitted PR https://github.com/openthread/openthread/pull/6202.

It's a different idea where we add a (build-time configurable) delay before resetting the current attach backoff interval upon a successful attach. This way if the device detaches before the delay wait time, we resume from the same attach backoff interval as before. Another way of thinking about this is that _if we detach too quickl

[2021-02-25 03:37] Irving-cl opened #6203 "VIRTUAL_TIME thread-cert test cases get stuck when the frame is incorrect"
**Describe the bug** A clear and concise description of what the bug is.
When I run a test case with `VIRTUAL_TIME=1`(there's some errors in my binaries), the case got stuck forever. This causes the workflow on github action always running (not showing that the case fail). If I run it locally, it's like this:

**Expected behavior** A clear and concise description of what you expected to happen.
So

[2021-02-25 13:11] dismirlian commented on #6201
@abtink that was fast. I think it's a very good idea, and would be useful in our particular scenario.

Thank you very much for the support.

[2021-02-25 14:46] simonlingoogle commented on #6203
One quick fix is that you can add `USE_MESSAGE_FACTORY = False` to your test case to skip message decoding since we are using `pktverify` for this test case.

[2021-02-25 16:46] #6201 closed

[2021-02-26 10:37] Moandor-y opened #6211 "Running out of message buffer after a long time"
**Describe the bug**

Message buffer is full of `6lo send` messages after running for a long time in a simulated environment.

**To Reproduce**

Commit: 33f15fac2faad5aa31920a24cbbc8b2fc49dbe08

Topology: a leader and an SED

Change `OPENTHREAD_CONFIG_NUM_MESSAGE_BUFFERS` to 280. Create a cert test like this to simulate a long running scenario:
[code]

Run it with `OT_NODE_TYPE=rcp THREAD_VERSION=

[2021-02-26 10:46] simonlingoogle commented on #6211
Great finding!

Just FYI, currently we have another issue that an indirectly message of a SED Child (ICMPv6 Echo Request of payload size 1232) could be removed before all its fragments are sent, causing the SED unable to fully receive all Ping Request fragments. Not sure if it's related to #5638 though.

@abtink @Moandor-y

[2021-02-26 13:05] landjalan commented on #1137
thanks

[2021-02-26 15:52] zisis912 commented on #1137
thank you so much!

[2021-02-26 18:09] abtink commented on #6211
Thanks for raising the issue. I will investigate this.

[2021-02-26 20:46] jwhui commented on #6211
@Moandor-y , thanks for raising this issue.

@abtink , I believe we are not dequeuing the supervision messages in this case and they are getting stuck in the queue.

[2021-02-26 21:41] abtink commented on #6211
Yes. The problem is that the message was removed from the child, but would not be dequeued and freed.

Submitted #6123 which should help address thi.

[2021-02-26 23:11] #6211 closed

[2021-03-01 08:00] wgtdkp opened #6218 "[efr32] efr32 example is broken"
**Describe the bug** A clear and concise description of what the bug is.
cannot build the efr32 example app with:
[code]

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id: d8a2cd9a70cfda7c2657645b4a57411eadaa4e61
2. IEEE 802.15.4 hardware platform
3. Build steps
4. Network topology

**Expected behavior** A clear and concise description of what you expected to ha

[2021-03-01 08:03] wgtdkp commented on #6218
@lmnotran Could you help on this?

[2021-03-01 16:09] lmnotran commented on #6218
Yeah, I'll take a look at this

[2021-03-01 16:19] jwhui commented on #6164
@krbvroc1 , has this issue been resolved?

[2021-03-01 16:20] jwhui commented on #6170
@purvisb , has this issue been resolved?

[2021-03-01 16:21] lmnotran commented on #6218
@wgtdkp Could you check to make sure that you have Gecko SDK v3.1.1?

[code]

This is the latest patch release and the mbedtls installation was moved between v3.1.0 and v3.1.1 so that might explain the error. I wasn't able to reproduce the error using your details above.

[2021-03-01 16:22] krbvroc1 commented on #6164
No, never got a response here or on the Devzone ticket. In parallel, I have been trying to rewrite my code to use the nRF Connect SDK which is based on Zephyr / Openthread.

[2021-03-01 18:27] romacdon commented on #6218
@wgtdkp I checked the build failures in the associated CHIP PR (project-chip/connectedhomeip#5062) here: https://github.com/project-chip/connectedhomeip/pull/5062/checks?check_run_id=2003750768.  The failures in that build do not appear top be the same failure you included in the description in this issue.  I'm guessing you probably tried to recreate the CHIP build failures in your local OpenThrea

[2021-03-01 18:38] lmnotran commented on #6218
A good starting point for which files and directories need to be added to the CHIP build are here

- [third_party/silabs/Makefile.am](https://github.com/openthread/openthread/pull/6154/files#diff-2699900c349405f9143dba91c68a853d34d6536085eb0631e8759f6bbea2df90)
- [examples/platforms/efr32/efr32_platform_defs.am](https://github.com/openthread/openthread/blob/master/examples/platforms/efr32/efr32_pl

[2021-03-01 21:37] purvisb commented on #6170
I'm working on updating my OpenThread binary [here](https://devzone.nordicsemi.com/f/nordic-q-a/72146/update-openthread-in-nrf-sdk).

This issue has not been resolved. But once I update the binary, the solution you provided will probably work. I'm fine with closing this issue if you want. I'll try and reopen it or make a new issue if I encounter an issue with your aforementioned solution.

[2021-03-02 02:36] wgtdkp commented on #6218
@romacdon @lmnotran Thanks for your information! I didn't have the `third_party/silabs/gecko_sdk_suite` after pulling all submodules:
[code]

Seems I need to download the SDK to there manually? It may be good if we can add a submodule for the SDK.

[2021-03-02 05:58] wgtdkp commented on #6218
@romacdon @lmnotran I am closing this issue as the CI failure has been fixed within project-CHIP. But I think we should also have the gecko_sdk within `openthread` (or another repo `ot-efr32`? @jwhui ) so that we can make sure the efre32 example can always build.

[2021-03-02 05:58] #6218 closed

[2021-03-02 07:07] oc1tane opened #6222 "Commissioning support for product line nrf52811"
Hi I am trying to implement Openthread for a device on a Nrf52811 controller. I have been warned about the lack of 192 kb memory and the lack of a crttography module. But nevertheless, the protocol does not take up much space, even a little remains for its software. And the acceleration can be transferred to the program.

So what I was trying to do:
- Build Openthread firmware for nrf52811
- I use

[2021-03-02 07:53] pszkotak commented on #6164
Hi @krbvroc1, we are working on this issue.

[2021-03-02 16:34] doru91 opened #6224 "Compilation issues inside radio_spinel_impl.hpp"
The compilation issues seems to be caused by commit id 33f15fac2faad5aa31920a24cbbc8b2fc49dbe08

Compilation issues:

[code]

[2021-03-02 16:45] jwhui commented on #6224
@doru91 , thanks for raising this issue. Can you provide more details on your toolchain? This may be due to a toolchain issue not supporting this use of `template` key word.

As FYI - our continuous integration currently includes build checks against arm-gcc versions (4, 5, 6, 7, 9), gcc (5, 6, 7, 8, 9, 10), and clang (6, 7, 8, 9).

[2021-03-02 16:48] doru91 commented on #6224
doru@ubuntu:~/Desktop/private_repos/ot-nxp$ /usr/local/bin/arm-none-eabi-g++ -v
Using built-in specs.
COLLECT_GCC=/usr/local/bin/arm-none-eabi-g++
COLLECT_LTO_WRAPPER=/opt/gcc-arm-none-eabi-9-2020-q2-update/bin/../lib/gcc/arm-none-eabi/9.3.1/lto-wrapper
Target: arm-none-eabi
Configured with: /mnt/workspace/workspace/GCC-9-pipeline/jenkins-GCC-9-pipeline-200_20200521_1590053374/src/gcc/configure --

[2021-03-02 17:32] jwhui commented on #6224
@doru91 , is it possible for you to provide the build command and any additional details so that we can reproduce?

The latest build checks passed using arm-gcc-9 - https://github.com/openthread/openthread/actions/runs/614628402. Are you aware of any differences that may trigger this build issue?

[2021-03-02 17:44] jwhui commented on #6222
@oc1tane , thanks for reaching out. This concern is not just code size, but also available RAM. The steps below should get you a build of MTD with JOINER enabled:

1. Set [`OPENTHREAD_CONFIG_MESSAGE_USE_HEAP_ENABLE`](https://github.com/openthread/openthread/blob/8f7024c3e9beb47a48cfc1e3185f5fce82fffba9/src/core/config/openthread-core-default-config.h#L140) to 1.
2. `./bootstrap`
3. `make -f exampl

[2021-03-02 18:26] abtink commented on #6224
@doru91 , one theory/guess is that somehow the `radio_spinel_impl.hpp` is being compiled in a build config without either `OPENTHRED_FTD` or `OPENTHREAD_MTD` being defined. The `Instance::Get<SettingsDriver>()` (which seems to be causing the compile error) is under the check `#if OPENTHREAD_MTD || OPENTHREAD_FTD`.

[2021-03-02 23:57] nealjack opened #6225 "ECDSA signature failure: MBEDTLS_ERR_ECP_BAD_INPUT_DATA"
**Describe the bug**
Attempting an ECDSA signature using `otCryptoEcdsaSign` results in `OT_ERROR_FAILED` . Digging into this a little deeper, the call to `mbedtls_ecdsa_from_keypair` returns MBEDTLS_ERR_ECP_BAD_INPUT_DATA. [My code](https://github.com/lab11/nrf52x-base/blob/up_openthread/lib/google_cloud/gc_iot.c#L163) that uses this function call worked on commit c6a258e.

I have a feeling that

[2021-03-03 04:02] mnp222 opened #6226 "Support for Spinel Interface ID"
Silabs would like to add support for using the Spinel Interface ID with the RCP.
The Spinel header contains a 2-bit IID field which allows the protocol to
support multiple networks over a single connection. Currently OpenThread sets
the Spinel IID value to 0 and it remains unused.

There are many possible use cases. The one we are initially targeting is
a multi-PAN RCP, in which multiple host proc

[2021-03-03 14:15] oc1tane commented on #6222
Thanks for the quick reply, indeed I did so...
Compiled the libraries of the thread downloaded through the git and slipped them into the directory of the SDK Nordic
**./openthread/output/nrf52811/lib (folder openthread from github)** -> (to)  **./external/openthread/lib/nrf52811/gcc (folder SDK Nordic v.4.0)**

<PATH_TO_OPENTHREAD>/openthread/examples/../third_party/NordicSemiconductor/nrfx/hal/nr

[2021-03-03 14:25] romacdon commented on #6226
@jwhui can you comment on the process here.  I asked @mnp222 to add this issue to get some feedback before proceeding with a PR.  Are there specific people we should wait on for approval?

[2021-03-03 18:58] jwhui commented on #6222
@oc1tane , for questions specific to the Nordic SDK, I suggest posting in Nordic DevZone.

/cc/ @LuDuda

[2021-03-03 19:14] jwhui commented on #6226
@romacdon , raising an issue is good for larger changes/enhancement to get some initial feedback on the approach. If you already have a PR ready, feel free to submit that as actual code can provide more visibility into the proposal.

[2021-03-03 19:15] jwhui commented on #6226
@mnp222 , thanks for proposing the enhancement. This all seems reasonable to me.

@abtink , thoughts?

[2021-03-03 19:20] abtink commented on #6226
The description of using Spinel IID sounds reasonable to me as well.

[2021-03-03 21:11] mnp222 commented on #6226
Thank you @jwhui and @abtink, I'll submit the PR.  Currently it is written with a configuration switch OPENTHREAD_MULTIPAN_RCP_ENABLE that turns the whole feature on and off.  That may not be really necessary in many places, so we can discuss.

[2021-03-03 23:56] jwhui opened #6229 "[github-actions] test_dua_dad.py is failing"
After merging https://github.com/openthread/ot-br-posix/pull/715 (which disables the DUA feature by default), `tests/scripts/thread-cert/backbone/test_dua_dad.py` is failing.

We should set `OTBR_DUA_ROUTING` properly where appropriate.

[2021-03-04 00:01] jwhui commented on #6225
@LuDuda , can you assign this to someone that can take a look?

[2021-03-04 01:33] jwhui commented on #6229
Resolved by #6230

[2021-03-04 01:33] #6229 closed

[2021-03-04 07:59] doru91 commented on #6224
This is the compilation command:

2/8] Building CXX object src/imx_rt/rt1060/CMakeFiles/openthread-rt1060.dir/radio.cpp.obj
FAILED: src/imx_rt/rt1060/CMakeFiles/openthread-rt1060.dir/radio.cpp.obj
/usr/local/bin/arm-none-eabi-g++  -DOPENTHREAD_CONFIG_ASSERT_ENABLE=1 -DOPENTHREAD_CONFIG_BACKBONE_ROUTER_DUA_NDPROXYING_ENABLE=0 -DOPENTHREAD_CONFIG_BACKBONE_ROUTER_MULTICAST_ROUTING_ENABLE=0 -DOPENTHRE

[2021-03-04 16:26] #6184 closed

[2021-03-04 22:39] LuDuda commented on #6225
Yes will do. Thanks Jonathan.

[2021-03-04 22:57] LuDuda commented on #6222
Hello @oc1tane,

As Jonathan mentioned, please create a ticker on [Nordic's DevZone](https://devzone.nordicsemi.com/).

To give you some hints:
1. It seems you use nRF5 SDK for T&Z in version 4.0, but you pasted instruction to version 2.0. I suggest to migrate to follow steps for 4.0 version - [link](https://infocenter.nordicsemi.com/topic/sdk_tz_v4.0.0/thread_ot_libraries_building.html).
2. nRF5

[2021-03-06 11:33] oc1tane commented on #6222
I was able to compile and run the application except for an error that causes a heap in thread_utils. I commented out the platform_init () function and the firmware began to weigh about 178 kb, which allows it to be flashed to nrf52811, but the problem is that the entire timer began to work involuntarily, and the joiner does not occur when the button is pressed. Apparently this function is very im

[2021-03-08 07:47] SriNagaC opened #6244 "OPENTHREAD WITHOUT RASPBERRY PI"
to openthread-users
Dear,

I am using Efr32mg12 2.4ghz BRD4161A Radio broads using simplicity studio V5(silicon labs).

my project Target is i want create mesh network.

I want make LED light ON/OFF in light device(3-4 devices) FROM THE SWITCH device BUTTON.

i am thinking to use you can use a Thread FTD (Full Thread Device) to act as Thread leader to form Thread network. Then, use some other FTD

[2021-03-08 18:20] jwhui commented on #6244
Our [Developing with OpenThread APIs](https://openthread.io/codelabs/openthread-apis#0) codelab might be helpful.

[2021-03-09 02:21] purvisb opened #6250 "DNS help"
I'm burning FTD SOC firmware on an NRF52840-MDK. This node is joined to a partition with a verified working border router attached.

When I make firmware from OpenThread repository with parameters `USB=1 COMMISSIONER=1 DNS_CLIENT=1` and run the command `dns resolve ...` it returns:
[code]

When I burn FTD SOC firmware from the nrf SDK for Thread and Zigbee v4.1, the `dns resolve ...` command retur

[2021-03-09 02:43] jwhui commented on #6250
@purvisb , does the `dns` command appear in the list when you enter the `help` command? If not, it is likely because you initially did a build without the `DNS_CLIENT` feature enabled and did not reconfigure the build system.

One thing you can try is: `make -f examples/Makefile-nrf52840 clean` and rebuild.

Or you can blow away the existing build and output directories `rm -rf build output` and t

[2021-03-09 03:06] purvisb commented on #6250
That worked. Guess I wasn't being diligent with cleaning the output directory.

Thanks!

[2021-03-09 03:06] #6250 closed

[2021-03-09 08:52] squishykid opened #6254 "Error in instructions on https://openthread.io/codelabs/openthread-hardware#3"
**Describe the bug** When running the guide, I had to run `script/build nrf52840 USB_trans` instead of `script/build nrf52840 UART_trans`. Otherwise ot-daemon would exit with `[CRIT]-PLAT----: platformRadioInit() at ../../src/posix/platform/radio.cpp:105: InvalidArgument`

**To Reproduce** Information to reproduce the behavior, including:

1. Follow the guide: https://openthread.io/codelabs/openth

[2021-03-09 08:56] bukepo commented on #6254
Thank you for reporting this issue. We are fixing the guide.

[2021-03-09 09:43] brianljt opened #6256 "[github-actions] v1_2_test_csl_transmission.py fails intermittently"
@bukepo points out that CI test thread-1-2-posix fails intermittently.

https://github.com/openthread/openthread/runs/2064804931?check_suite_focus=true

[2021-03-09 19:09] jwhui commented on #6254
The codelab has been updated. Thanks, @squishykid !

[2021-03-09 19:09] #6254 closed

[2021-03-09 22:33] LuDuda commented on #6222
@oc1tane as I mentioned, please create a ticker on Devzone, which is prefered platform to handle issues with nRF5 SDK.

The lack of `otHeapSetCAllocFree` suggests that either:
- you are not on the OT commit from the release - c6a258e3
- you missed the `EXTERNAL_HEAP=1` switch while building the libraries, for example:
`make -f examples/Makefile-nrf52811 JOINER=1 COAP=1 DIAGNOSTIC=1 DNS_CLIENT=1 EX

[2021-03-10 05:37] Hard1kPrajapat1 opened #6260 "OT-Daemon kills itself while handling RCP timeout at random time."
Hello OT Team,

I am working on the custom product where Openthread would be used. I am facing the issue while commissioning the other device to join the network.

**The environment setup:**
- A custom product that has CC2538 connected on UART and RCP binary(without any change) is flashed on the CC2538.
- A nRF52840 DK is flashed with a simple client binary to act as an end device

**Problem:**
-

[2021-03-10 05:48] jwhui commented on #6260
@Hard1kPrajapat1 , thanks for raising this issue.

When you say "RCP binary(without any change)" do you mean:
1. A binary you built without any changes to the source? If so, what git commit are you using?
2. A binary that you downloaded?

@bukepo , thoughts on this error?

This has been previously reported in #5662 and #6063. It seems that HW flow control can help. Given that you are also using nR

[2021-03-10 06:19] Hard1kPrajapat1 commented on #6260
@jwhui, thanks for the quick response.

The RCP binary without change means that I have cloned the openthread source from GitHub and just compiled it like that only. The last commit from my source is:

[code]

I will check for the HW flow control. Also, If I flash the RCP binary on nRF52840 DK, it will need the host processor right? or it will work as an RCP directly just like an end device withou

[2021-03-10 06:24] bukepo commented on #6260
What's the host os for ot-daemon? And what's the git commit of ot-daemon?

[2021-03-10 06:26] jwhui commented on #6260
@Hard1kPrajapat1 , you could try moving forward to a newer commit, given that we have increased buffer sizes to help reduce the likelihood of dropped RCP->host frames (see #6043).

Can you use the same host and just replace CC2538 with nRF52840? The RCP always needs a host.

[2021-03-10 07:04] Hard1kPrajapat1 commented on #6260
The host OS is Linux, tested with kernel 2.6 as well as 4.9 and faced the same problem. The last git commit for ot-daemon is below:

[code]

I will test with new commits by cloning new openthread source and will try the RCP binary on nRF52840 as well.

[2021-03-10 09:38] pszkotak commented on #6164
@krbvroc1, thanks for giving us time to carefully look at it.
Please find result of our troubleshooting in the devzone ticket.
If there is further assistance needed lets continue there.

[2021-03-10 12:15] edmont commented on #6225
Hi @nealjack. Did you enable deterministic ECDSA? Please take a look to this PR, see if it's somehow related: https://github.com/openthread/openthread/pull/6261

[2021-03-10 18:47] jwhui commented on #6164
Discussion moved to [DevZone ticket](https://devzone.nordicsemi.com/f/nordic-q-a/71115/thread-sdk-ota-bug).

[2021-03-10 18:47] #6164 closed

[2021-03-10 19:29] jwhui commented on #5314
Resolved by https://github.com/openthread/ot-br-posix/pull/701

[2021-03-10 19:29] #5314 closed

[2021-03-10 19:29] jwhui commented on #5689
@romacdon , has this issue been addressed?

[2021-03-10 19:30] jwhui commented on #5819
@romacdon , thoughts on this issue?

[2021-03-10 19:31] jwhui commented on #5897
Closing stale issue.

[2021-03-10 19:31] #5897 closed

[2021-03-10 19:33] jwhui commented on #6151
Great to hear.

Implementing this would require the SED to maintain security associations with multiple parents and, in turn, increase the average power consumption on the SED.

[2021-03-10 19:35] suveshpratapa commented on #5689
Hi @jwhui this issue has been addressed as part of this merge: https://github.com/openthread/openthread/pull/6154

We removed the FIFO queue and now directly save the state per held packet in our implementation.  This should get around having to maintain the queue or its size.

See release note:

Remove FIFO queue that was maintaining unique identifiers (contents of received packet: PHR+MAC header

[2021-03-10 19:35] jwhui commented on #6170
@purvisb , thanks for the update. I'll close this for now. Feel free to reopen if you run into more issues.

[2021-03-10 19:35] #6170 closed

[2021-03-10 19:37] jwhui commented on #5689
@suveshpratapa , great, thanks for the update!

[2021-03-10 19:37] #5689 closed

[2021-03-10 19:38] #6244 closed

[2021-03-10 20:50] TPolzer commented on #6151
I'll close the thread here then. It'd be nice to have a faster multicast, but at this point I guess it's not worth the amount of work necessary.

[2021-03-10 20:51] #6151 closed

[2021-03-10 21:13] jwhui opened #6264 "[github-actions] test_plat_udp_accessiblity.py failing"
**Describe the bug**

./tests/scripts/thread-cert/border_router/test_plat_udp_accessiblity.py fails intermittently.

**Console/log output**

- [logs_59853.zip](https://github.com/openthread/openthread/files/6118887/logs_59853.zip)
- [thread-border-router-results.zip](https://github.com/openthread/openthread/files/6118888/thread-border-router-results.zip)

[2021-03-10 22:34] romacdon commented on #5819
Thanks for the ping on this @jwhui.

@dismirlian - I checked with a few people here and you are correct.  We support `OT_RADIO_CAPS_SLEEP_TO_TX`.  Have you already tried this?  If so feel free to open a PR.  If not I will get one of the team members here at Silabs to make the change.

[2021-03-11 03:46] wgtdkp opened #6267 "[github-actions] v1_2_test_csl_transmission.py fails"
Describe the bug

./tests/scripts/thread-cert/border_router/v1_2_test_csl_transmission.py fails intermittently.

Console/log output

- https://github.com/openthread/openthread/pull/6237/checks?check_run_id=2082343326
- [thread-1-2-posix-pcaps.zip](https://github.com/openthread/openthread/files/6120272/thread-1-2-posix-pcaps.zip)

[2021-03-11 05:11] Hard1kPrajapat1 commented on #6260
Just to inform you that I have tried the ot-daemon by enabling the hardware flow control as following, but still that issue persists.
`'spinel+hdlc+uart:///dev/ttyACM0?uart-baudrate=115200&uart-flow-control'`

It was running for long duration and then it failed with error "HandleRcpTimeout". May be the buffer size is the issue.

[2021-03-11 05:28] jwhui commented on #6260
Thanks for the update.

Did you make any other changes? For example, did you try changing out the CC2538 with an nRF52840?

Let us know if you have any more findings.

[2021-03-11 05:30] Hard1kPrajapat1 opened #6269 "Openthread video guide or tutorial?"
Hello Team,

I am new to this technology, and I want to adopt the tutorial or any video lecture for the Openthread to learn. I have searched the same on Udemy google but could not found. Is there any link or websites where we can have and learn?

Thanks,
Hardik

[2021-03-11 05:32] jwhui commented on #6269
There are a number of guides and tutorials linked on https://openthread.io/

[2021-03-11 06:14] Hard1kPrajapat1 commented on #6269
Thanks for sharing the link, there are a lot of guides available which will be useful. But I am looking for the Video tutorial which explains the openthread from scratch, its connectivity, and working.

[2021-03-11 06:22] jwhui commented on #6269
There is a video from Google I/O 2018 on the front page of https://openthread.io/ that provides an overview of Thread and OpenThread.

[2021-03-11 06:53] Hard1kPrajapat1 commented on #6269
Okay, thank you so much.

[2021-03-11 06:53] #6269 closed

[2021-03-11 09:47] Hard1kPrajapat1 commented on #6260
I have cloned the fresh Openthread source today and compiled the RCP binary as well as ot-daemon and tested the thread network. Still, it is failed with the same error "HandleRcpTimeout".

I will test the same RCP binary with nRF52840 and get back to you.

JFYR, below is the last commit ID of new openthread source:
[code]

[2021-03-11 12:26] doru91 commented on #6224
How to reproduce the issue:

[code]

[2021-03-11 16:55] jwhui commented on #6224
@doru91 , I get an error "Could not found a valid SDK package!" Is `doru91/ot-nxp/third_party` supposed to include some additional submodules? Or what are the steps necessary to obtain a valid SDK package?

[2021-03-11 17:08] #6264 closed

[2021-03-11 17:32] jwhui opened #6271 "[github-actions] test_advertising_proxy.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/border_router/test_advertising_proxy.py fails intermittently.

**Console/log output**

- [logs_60121.zip](https://github.com/openthread/openthread/files/6124867/logs_60121.zip)
- [thread-border-router-results.zip](https://github.com/openthread/openthread/files/6124868/thread-border-router-results.zip)

[2021-03-11 19:52] nealjack commented on #6225
I did not enable deterministic ECDSA to my knowledge. Should I be?

I updated my openthread libraries to include that PR, however I am still having the same issue - the ECDSA signature is still failing.

[2021-03-11 19:55] dismirlian commented on #5819
@romacdon I did try it, and I had to make a very small modification (IIRC I removed/changed some `otEXPECT_ACTION` or `assert` to cope with an unexpected sleep->transmit transition). It worked fine, but the radio driver has changed a lot since then; this was some months ago (maybe when I posted the issue?) and I didn't save the modification.

[2021-03-11 19:57] romacdon commented on #5819
Thanks @dismirlian.  I'll get someone to make the official change.  We definitely appreciate all your help.

[2021-03-12 03:45] wgtdkp opened #6272 "[github-actions] v1_2_LowPower_5_3_01_SSEDAttachment.py fails intermittently."
**Console/log output**
[ packet-verification-low-power.log](https://github.com/openthread/openthread/files/6127431/packet-verification-low-power.txt)
[packet-verification-low-power-pcaps.zip](https://github.com/openthread/openthread/files/6127451/packet-verification-low-power-pcaps.zip)

[2021-03-12 03:51] jwhui commented on #6272
Dup of #6401

[2021-03-12 03:51] #6272 closed

[2021-03-12 04:04] wgtdkp opened #6273 "[github-actions] v1_2_test_csl_transmission.py fails intermittently."
**Console/log output**

[thread-1.2-posix.log](https://github.com/openthread/openthread/files/6127500/thread-1.2-posix.log)

[thread-1-2-posix-pcaps (1).zip](https://github.com/openthread/openthread/files/6127540/thread-1-2-posix-pcaps.1.zip)

[2021-03-12 04:07] jwhui commented on #6273
Dup of #6267

[2021-03-12 04:07] #6273 closed

[2021-03-12 07:02] brianljt commented on #6267
Dup of #6256

[2021-03-12 07:25] brianljt commented on #6271
Another failed run artifacts. FYI.

[thread-border-router-results.zip](https://github.com/openthread/openthread/files/6128236/thread-border-router-results.zip)
[logs_60331.zip](https://github.com/openthread/openthread/files/6128237/logs_60331.zip)

[2021-03-12 08:03] doru91 commented on #6224
@jwhui, NXP_RT1060_SDK_ROOT is supposed to reference a valid SDK. This is still work in progress so for the moment we are simulating an SDK inside third_party/rt1060_sdk/RT1060_SDK/ by creating TODO.c file and SW-Content-Register.txt. I copy-pasted the above instructions in my Ubuntu 20 terminal and the compilation process starts:

doru@ubuntu:~/Desktop/public_repos/ot-nxp$ ./script/build_rt1060
+

[2021-03-12 10:26] edmont commented on #6225
OpenThread added deterministic ECDSA signature recently (https://github.com/openthread/openthread/commit/c00cb8a4c4f6e2a619770ffbb4abfd0f36a7fdc2) but it seems this does not affect to your code which is still using `Ecdsa:Sign`, not `P256::KeyPair::Sign`.

Just to confirm, when you say _`mbedtls_ecdsa_from_keypair` returns MBEDTLS_ERR_ECP_BAD_INPUT_DATA_ you mean `mbedtls_ecdsa_sign`, right? Accor

[2021-03-12 12:31] ChauhanPD commented on #6003
I am facing the same issue with wpantund as well as NCP device. I have taken the latest commit of wpantund, but still the same error.
In my set-up, I have nrf52840 chip is connected via UART with the host processor (i.MX6ULL) on our custom board.
I have taken out the RX, TX, CTS, RTS and GND from the nrf52840 UART which is connected to the host processor and connected with the PC (ubuntu) to give

[2021-03-12 15:48] purvisb commented on #6003
@ChauhanPD I would recommend you open a [new issue](https://github.com/openthread/openthread/issues/new/choose). The OpenThread team is pretty responsive.

[2021-03-12 16:00] #6271 closed

[2021-03-12 17:19] #6267 closed

[2021-03-12 19:01] nealjack commented on #6225
Yes, I meant `mbedtls_ecdsa_sign` returns MBEDTLS_ERR_ECP_BAD_INPUT_DATA. The call to `mbedtls_ecdsa_from_keypair` is successful.

[2021-03-12 20:16] abtink commented on #6224
@doru91 , I think your last comment adds more confidence in the theory/guess from https://github.com/openthread/openthread/issues/6224#issuecomment-789116593, i.e. the `OPENTHREAD_FTD` or `OPENTHREAD_MTD` are not in the list of defines when building some file that is including `"radio_spinel.hpp"` (which itself includes `"radio_spinel_impl.hpp"`).

Here is the flow I see:
- This file that is being

[2021-03-12 22:16] abtink commented on #6224
I think @jwhui  and I found the root-cause here. 😃

The error is actually with the non-template `static Instance &Instance::Get(void)` method. This method is available under single OT instance config and the build here seems to be enabling `OPENTHREAD_CONFIG_MULTIPLE_INSTANCE_ENABLE` in its [config](https://github.com/doru91/ot-nxp/blob/dfcc142f59d9220d3cae11c61dfb3d319a84658a/src/imx_rt/rt1060/op

[2021-03-14 07:49] purvisb opened #6278 "How to create thread or loop?"
I'm working out of the nRF SDK on the NRF52840-mdk.

I would like to read from a sensor periodically with a set time increment. How should I do this?

I did experiment with an bsp. But that yielded strange results. Does OpenThread have some API I can use? Or is an RTOS better suited for this use case?

[2021-03-15 00:41] jwhui commented on #6278
If you want more general system services like schedulers, timers, and peripheral drivers, you should look to SDKs and/or RTOSes. OpenThread's primary scope is to provide Thread networking.

[2021-03-15 06:09] ChauhanPD opened #6283 "WPANTUND fails to initialize on-board nrf52840"
I am facing the same issue (as reported in #6003) with wpantund as well as NCP device. I have taken the latest commit of wpantund, but still got the same error.
In my set-up, I have an on-board nrf52840 chip connected via UART with the host processor (i.MX6ULL) on our custom board.

I have flashed nrf52840 Chip with cli-ftd.hex file which is generated with below command:

[code]
and flashed via j-

[2021-03-15 06:10] doru91 commented on #6224
Thanks a lot for your help. Disabled OPENTHREAD_CONFIG_MULTIPLE_INSTANCE_ENABLE for the moment and the code compiles.

[2021-03-15 06:16] ChauhanPD commented on #6003
Thanks purvisb for your comment. I have opened this as a new issue. I thought the observations for error are the same, so maybe I should continue here. The only difference is of the hardware setup.

[2021-03-15 11:21] edmont commented on #6225
@nealjack could you check if you properly updated OpenThread and nrf_security libraries in your project? I hooked your code using `mbedtls_ecdsa_sign` within the `joiner stop` CLI command in this branch: https://github.com/edmont/openthread/commit/a338dc62518b92b8be97621520af2386f88c348a. It works well on a recent OT snapshot.

[2021-03-15 17:35] abtink commented on #6224
@doru91 , can you please help provide more info on your use-case and if/why you may need the `MUTILPLE_INSTANCE` feature?

In general, would recommend not using `MULTIPLE_INSTANCE` feature:
- Enabling this, requires all OT core objects to track the `ot::Instance` they belong to.
- This adds a lot of memory and code overhead.

[2021-03-15 18:43] abtink commented on #6283
@ChauhanPD , I can suggest one thing to check based on the error logs you posted.

Would suggest to check if the socket path you are using and passing to `wpantund` in
[code]
 is correct and all parameter/configs are also correct and match the configs on the NCP firmware build.
- The error from `wpantund` indicates that it cannot talk to the NCP (no responses from NCP) on the provided socket path.

[2021-03-16 06:03] ChauhanPD commented on #6283
Thanks, @abtink for your reply.

Actually, I was giving "/dev/ttymxc0" only as a socket path. But the captured log had "/devv/ttymxc0"!
Anyway, I have again given the correct path. Also, re-compiled the NCP firmware and flashed on-board nrf52840 using j-link / nrfConnect utility.
But the output is the same as my first post.

Should I flash NCP firmware or RCP firmware in on-board nrf52840 with the

[2021-03-16 06:29] abtink commented on #6283
In general, `wpantund` works with an NCP (so NCP build and not RCP). There is no explicit dependent service for `wpantund` (it uses DBus to provide API to other processes but that does not seem to be an issue here).

`wantund` expects to get a socket path which it then uses to communicate to NCP
- The socket can be to a serial device (UART) or another process, or input/output of an executable, or

[2021-03-16 07:33] brianljt opened #6286 "[low-power] retransmission frame CSL IE handling"
**Describe the bug**
Retransmission frame with CSL IE included has wrong MIC which causes retransmission failure.

**To Reproduce**
1. Start OT1.2 router
2. Start OT1.2 child(mode -)
3. Enable CSL on the child
4. Ping from child to the router

**Expected behavior**
If retransmission happens, retransmitted frame should not change the content of the frame. However, in current implementation, the CSL

[2021-03-16 07:35] brianljt commented on #6286
This issue is fixed in PR #6275. However, without updating the CSL IE, the retransmission frame will update the router with incorrect CSL phase info. Need to add counter measure to this.

[2021-03-16 07:37] brianljt commented on #6286
Example sniffer log, retransmission frame has incorrect MIC as CSL IE is updated.

![image](https://user-images.githubusercontent.com/33165765/111272331-6e98d880-866d-11eb-8cfb-85072e27334f.png)

[2021-03-16 10:44] edmont commented on #6168
It seems @hubertmis proposal of centering the receive window is working well for me: https://github.com/openthread/openthread/pull/6287

[2021-03-16 11:08] hubertmis commented on #6168
@Irving-cl, could you try PR #6287 on your setup to verify if it fixes the problem you reported?

[2021-03-16 11:11] Irving-cl commented on #6168
@edmont @hubertmis

Thanks solving the issue! I'll verify it ASAP.

[2021-03-16 11:35] ChauhanPD commented on #6283
Dbus status:
/usr/sbin# ps -ax | grep dbus
  250 ?        Ss     0:06 /usr/bin/dbus-daemon --system --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only
19054 ttymxc3  S+     0:00 grep dbus

I have disabled Hardware Flow control in OpenThread code of nrf52840 and flashed NCP hex file. Again verified baudrate, Pin numbers for Tx and Rx. Still the output of "wpantund" is same -

[2021-03-16 12:28] doru91 commented on #6224
Agree, we don't need the MULTIPLE_INSTANCE feature. So this issue can be closed from my side.

[2021-03-16 15:34] #6224 closed

[2021-03-16 16:57] jwhui opened #6290 "[github-actions] test_mlr_multicast_routing_across_thread_pans.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/backbone/test_mlr_multicast_routing_across_thread_pans.py fails intermittently.

**Console/log output**

- [logs_61113.zip](https://github.com/openthread/openthread/files/6150846/logs_61113.zip)
- [thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6150847/thread-1-2-backbone-results.zip)

[2021-03-16 19:15] jwhui opened #6291 "[github-actions] test_advertising_proxy.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/border_router/test_advertising_proxy.py fails intermittently.

**Console/log output**

- [logs_61185.zip](https://github.com/openthread/openthread/files/6151675/logs_61185.zip)
- [thread-border-router-results.zip](https://github.com/openthread/openthread/files/6151676/thread-border-router-results.zip)

[2021-03-17 02:13] paragdixit-g opened #6292 "Wait For Response times out during RadioSpinel::Init with aResetRadio = false"
We see that during RadioSpinel::Init with aResetRadio = false, the Openthread times-out waiting for response.

This is because, WaitForResponse is done outside the conditional :

[code]

Is this is a bug ?  ie  WaitForResponse should be done within conditional ?
Or Is the expectation that this function is called with  'aResetRadio = false'  only if rcp is reset earlier or is otherwise expected to

[2021-03-17 02:36] Irving-cl commented on #6168
@edmont @hubertmis

I tried the latest main branch (commit 12d5f793e) but it still cannot work (using one dk and one dongle).

Here is how I build the `ot-cli-ftd` for dongle and dk:
[code]

Then I start the DK as leader:
[code]
And start the dongle as SSED:
[code]

And when I ping from DK (leader) to dongle (SSED), still, there is no reply. Could you please take a look?

[2021-03-17 03:46] wgtdkp commented on #6291
@jwhui Looking into the log, I think it is not the `test_advertising_proxy.py` that is failing:

[code]

Seems we made some mistakes when rebasing https://github.com/openthread/openthread/pull/6274 (The `IsValidOmrPrefix` is removed from the header file).

For GitHub Action workflow, we should fail at the `Build OTBR Docker` step when there is any error. This is a known issue @simonlingoogle.

[2021-03-17 04:32] jwhui commented on #6291
@wgtdkp , thanks for catching that.

I captured another failure in `test_advertising_proxy.py`:

- [logs_61259.zip](https://github.com/openthread/openthread/files/6153749/logs_61259.zip)
- [thread-border-router-results.zip](https://github.com/openthread/openthread/files/6153753/thread-border-router-results.zip)

Thoughts?

[2021-03-17 05:43] wgtdkp commented on #6291
[code]

We are expecting that the Advertising Proxy will update the host address when client updates its IPv6 address:
[code]

The `dns-sd` log shows that mDNSResponder doesn't remove the stale AAAA record immediately when the record is updated:
[code]
The old address `2001::1` is removed 2 seconds after adding the new address `2001::2`.

I think wait a bit longer after updating the address should

[2021-03-17 07:12] simonlingoogle opened #6296 "[github-actions] Cert_9_2_02_MGMTCommissionerSet fails intermittently"
Cert_9_2_02_MGMTCommissionerSet fails intermittently

[packet-verification-pcaps.zip](https://github.com/openthread/openthread/files/6154355/packet-verification-pcaps.zip)

[logs_61308.zip](https://github.com/openthread/openthread/files/6154354/logs_61308.zip)

[2021-03-17 08:24] wgtdkp opened #6298 "[github-actions] toranj-rcp-trel fails intermittently"
toranj-rcp-trel fails intermittently

[logs-61324.txt](https://github.com/openthread/openthread/files/6154782/logs-61324.txt)

[2021-03-17 08:31] wgtdkp opened #6299 "[github-actions] test_bmlr.py fails intermittently"
test_bmlr.py fails intermittently

[logs-61316.txt](https://github.com/openthread/openthread/files/6154812/logs-61316.txt)
[thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6154815/thread-1-2-backbone-results.zip)

[2021-03-17 08:42] wgtdkp commented on #6256
More failure logs:
[logs-csl-trransmission.txt](https://github.com/openthread/openthread/files/6154883/logs-csl-trransmission.txt)
[thread-1-2-posix-pcaps.zip](https://github.com/openthread/openthread/files/6154884/thread-1-2-posix-pcaps.zip)

[2021-03-17 08:47] khaled34 commented on #4327
What will be the release date for openthread 1.2 ?

[2021-03-17 09:46] squishykid opened #6300 "state=detached for RCP Joiner in codelab tutorial"
**Describe the bug** When running through the guide, when it comes time to join the RCP Joiner to the network, I get the following error:
[code]

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id: 12d5f793e7a99b34ca9a52a71d9d6df0207f2dd7
2. IEEE 802.15.4 hardware platform: nRF52840-DK
3. Follow guide to: https://openthread.io/codelabs/openthread-hardware#7 , then

[2021-03-17 10:05] squishykid commented on #6300
The rest of the guide was great though, cool to see the UDP packets flying around the mesh

[2021-03-17 10:55] Irving-cl commented on #6300
@squishykid

How long did you wait after `thread start`? It may take a while (though not very long) for the device to attach. Does the RCP Joiner keep `detached` state?

[2021-03-17 17:13] #6298 closed

[2021-03-17 17:15] #6256 closed

[2021-03-17 19:05] abtink commented on #6292
I think @bukepo may remember more on this and can help shed more light on this.

But I don't think it's is a bug and it is actually intentional.

As you said, the idea is that one way or other we expect the RCP to be reset before `Init()` is called. I think reset is required to ensure that RCP starts fresh with no previous state.
-  It can be done through a software command (sending an spinel RESE

[2021-03-17 19:59] nealjack commented on #6225
I double checked that I've copied in the most recent nrf_security libraries from `third_party/NordicSemiconductor/libraries/nrf_security`.

Thanks for taking the time to hook in my code to an example. I'll try it out and report back.

What make flags are you using to build the cli application?

[2021-03-17 21:35] nealjack commented on #6225
I cloned and built your CLI example and verified that the `joiner stop` command executes successfully. I used the following to build for an nRF52840 dongle:
[code]

I still can't get it to work with my own application however.

[2021-03-17 22:12] jwhui opened #6303 "[github-actions] bbr_5_11_01.py fails initermittently"
**Describe the bug**

tests/scripts/thread-cert/backbone/bbr_5_11_01.py fails intermittently.

**Console/log output**

- [logs_61562.zip](https://github.com/openthread/openthread/files/6160012/logs_61562.zip)
- [thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6160013/thread-1-2-backbone-results.zip)

[2021-03-17 22:44] jwhui opened #6304 "[github-actions] test_reset.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/test_reset.py fails intermittently.

**Console/log output**

- [logs_61590.zip](https://github.com/openthread/openthread/files/6160181/logs_61590.zip)
- [posix-cli-thread-cert.zip](https://github.com/openthread/openthread/files/6160182/posix-cli-thread-cert.zip)

[2021-03-18 01:25] purvisb commented on #6278
@jwhui thank you for the clarification. Out of curiosity, what are [tasklets?](https://openthread.io/reference/group/api-tasklets) To me this sounds kind of like a (OS) thread. Or is this just used exclusively to coordinate openthread?

[2021-03-18 01:36] jwhui commented on #6278
Tasklets are a common OS concept. OpenThread has its own implementation of tasklets for scheduling purposes within OpenThread itself.

[2021-03-18 01:46] squishykid commented on #6300
Hi, apologies for the noise. After running through the guide again and waiting a bit longer it worked as described.

[2021-03-18 01:46] #6300 closed

[2021-03-18 02:35] #6278 closed

[2021-03-18 08:27] edmont commented on #6225
Any luck with disabling the external heap? https://github.com/lab11/nrf52x-base/commit/7d7f7a5aa64ab9135024746947e514ce41365ccf I didn't try with external heap enabled myself.

BTW, nRF5 SDK project is now discontinued by Nordic in favor of [nRF Connect SDK](https://www.nordicsemi.com/Software-and-tools/Software/nRF-Connect-SDK). FYI, nrf_security libraries are now generated based on the latest.

[2021-03-18 11:37] ChauhanPD commented on #6283
Hello,

To remove any compile-time doubts, I have run the compilation in docker image of OpenThread (as mentioned in 1(b) of https://openthread.io/guides/build ).
Also, I have disabled Hardware Flow control in i.MX6 processor and in nrf52840 code. Baudrate is also given in wpantund command same as in nrf52840 code. Pin numbers are also verified many times.

Still, the error has not changed.

[2021-03-18 11:48] mikhail-pridushchenko opened #6310 "nRF52840 dongle FW build broken"
**Describe the bug**
nRF52840 dongle firmware build broken for OTBR commit cf3a67383e9e25ca89208234d8efd8bee6b92f25 (merged PR 721)

**To Reproduce**

1. Git commit id 818a774bcf2cc655ff3d400f50c5b50d96d3e771
2. IEEE 802.15.4 hardware platform nRF52840 dongle
3. Build steps
[code]

**Expected behavior**
No errors during build.

**Console/log output**
[code]

[2021-03-18 12:11] wgtdkp commented on #6310
@mikhail-pridushchenko It looks like you didn't clear before building the new firmware, try:
[code]

[2021-03-18 12:19] mikhail-pridushchenko commented on #6310
@wgtdkp Thank you.
`./bootstrap` step was missing. Pity is that no obvious error is produced in this case

[2021-03-18 12:19] #6310 closed

[2021-03-18 14:13] edmont commented on #6168
@Irving-cl could you please give a try to this? https://github.com/openthread/openthread/pull/6311

[2021-03-18 14:21] Irving-cl commented on #6168
@edmont sure, will have a try soon.

[2021-03-18 15:12] jwhui opened #6312 "[github-actions] test_dua_dad.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/backbone/test_dua_dad.py fails intermittently

**Console/log output**

- [logs_61772.zip](https://github.com/openthread/openthread/files/6165151/logs_61772.zip)
- [thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6165152/thread-1-2-backbone-results.zip)

[2021-03-18 15:15] #6304 closed

[2021-03-19 05:35] simonlingoogle commented on #6133
Technically speaking, this issue of wrong codecov reporting is not resolved yet.
Should we keep it open until the actual codecov dropping issue is resolved? @jinran-google @jwhui

[2021-03-19 07:18] ChauhanPD commented on #6283
I have flashed ot-cli-ftd firmware and opened that uart port on the terminal (using microcom) of i.MX6 processor. But there is no ">" and also no response for any command like state, reset.

Fortunately, I tried with one separate hardware module of nrf52840 which can be connected to our board via Mikrobus connector having another uart of i.MX6 host processor. I just changed the Tx / Rx pin number

[2021-03-19 14:57] jwhui opened #6314 "[github-actions] border router tests failing"
**Console/log output**

- https://github.com/openthread/openthread/actions/runs/666906173
- https://github.com/openthread/openthread/actions/runs/666900234

[2021-03-19 15:21] wgtdkp commented on #6314
The `Build OTBR Docker` step is failing:
[code]

[2021-03-19 15:25] jwhui commented on #6314
@wgtdkp , yes, we are waiting on https://github.com/openthread/ot-br-posix/pull/722, but that is experiencing CI failures as well.

[2021-03-19 15:37] jwhui commented on #6283
@ChauhanPD , yes it appears that wpantund and the NCP are communicating properly.

[2021-03-19 15:58] paragdixit-g commented on #6292
Thanks for the explanation !

It may help to add to documentation of Init the expectation that RCP should be in 'init state' prior to calling the function with aResetRadio = false.

[2021-03-19 16:03] #6292 closed

[2021-03-19 16:29] andoks commented on #1803
Echoing Kasper above me, I too am curios if anyone has this working on arduino.

Going back to the roots of this issue itself, would it perhaps be possible to flash an [Arduino nano 33 BLE](https://store.arduino.cc/arduino-nano-33-ble) (based on the nRF52840  chip) with a thread-enabled firmware?

[2021-03-19 17:07] hpssjellis commented on #1803
@andoks I have moved on as it is much too difficult, but yes with the Particle Debugger it is fairly easy to flash nrf52840 bootloader to the Nano 33 BLE and then use nordic software. However that has several pitfalls, such as losing a few pins. See link below.

Getting openthread nicely running on the Nano 33 Ble Sense with the Arduino environment would be interesting, but I have moved on to LoRa

[2021-03-19 18:00] nealjack commented on #6225
I disabled the external heap and still had the same issue.

I can look into migrating my codebase to the new nRF SDK, but that will take some time and isn't my highest priority at the moment.

I link in the nrf_security included in openthread, not the one included in the old SDK. So it shouldn't be an issue.

[2021-03-19 20:21] jwhui commented on #6314
Resolved by https://github.com/openthread/ot-br-posix/pull/722

[2021-03-19 20:21] #6314 closed

[2021-03-19 23:25] paragdixit-g opened #6316 "[build][gn] Enabling logs with gn is causing compilation to fail as lib/platform isn't included in compilation"
This error shows up on Fuchsia which uses gn to build openthread when we enable all logging (which can be done by assingning 'openthread_config_full_logs' to 'true' in etc/gn/openthread.gni ) .

[code]
This is because  src/lib/platform/exit_code.c is not included in compilation for src/lib/spinel through a build dependency chain.

I'll work on adding the BUILD dependency. Filing the bug just to de

[2021-03-20 03:04] purvisb opened #6319 "How to simulate multiple RCP nodes?"
[I've gone through this codelab](https://openthread.io/codelabs/openthread-simulation-posix#1)

I'd like to simulate multiple RCP nodes. How do I do this? Can I create multiple ot-daemon instances?

[2021-03-20 03:59] jwhui commented on #6319
`ot-daemon` currently only supports a single instance. If you really want to run multiple instances with a simulated RCP, you can use multiple Docker container instances - see our guide for how to [attach a simulated RCP to a Docker container](https://openthread.io/guides/border-router/docker/run#simulated_rcp).

You can also run `ot-cli` with a simulated RCP - see [src/posix/README.md](https://gi

[2021-03-20 21:34] gabekassel opened #6321 "OT-Daemon Loses Off-mesh Prefix on Restart"
**Describe the bug**
ot-daemon will not preserve prefixes in network data for that host/router. Not clear if this is by design, but means prefixes need to be re-added manually if ot-daemon crashes and is restarted by a system manager (e.g. systemd)

**To Reproduce** Information to reproduce the behavior, including:
Start ot-daemon, add a prefix for that host, restart ot-daemon, ifconfig up/thread

[2021-03-20 22:43] jwhui commented on #6321
@gabekassel  , are you using the [`OPENTHREAD_CONFIG_BORDER_ROUTING_ENABLE `](https://github.com/openthread/openthread/blob/de3ddb7169c85f8b1f1bf6fe322cd997d59dd1ba/src/core/config/border_router.h#L65) feature introduced in #5856? This feature should locally generate a prefix for use with off-mesh communication and store it in settings (see [src/core/border_router/routing_manager.cpp](https://gith

[2021-03-21 03:50] gabekassel commented on #6321
@jwhui i'm not using that feature, but instead applying my own OMR from an out of band configuration. out of curiosity, if an OMR is provided (like I'm doing) with the mentioned feature, will it converge on my preferred prefix or have already set a new/random one?

since we usually have 2+ BRs in a home, it made sense to try to have a pre-determined OMR with prefixes/routes for each BR in netdata.

[2021-03-21 04:05] jwhui commented on #6321
@gabekassel , I think we'll need to think more about this. Currently, we are following the behavior in [Section 5 of draft-lemon-stub-networks-02](https://datatracker.ietf.org/doc/html/draft-lemon-stub-networks-02#section-5), which currently states:

[code]

In summary, if the randomly chosen OMR prefix is numerically lower than another one that is manually configured, the randomly chosen OMR pref

[2021-03-21 04:10] gabekassel commented on #6321
In our case currently, all BRs have the same OMR applied during bringup/merging/joining.

I'm not sure how much value the custom OMR has, but it's derived as the second /64 from a /48 given to the home (first /64 goes to WiFi).

[2021-03-21 04:22] jwhui commented on #6321
Applying the same OMR won't work if the Thread network ever partitions. But maybe you are depending on Thread-over-Infrastructure to just work :) Is there ever a case in your scenario where both Wi-Fi and Thread can be partitioned?

Do your configuration have a notion of "leader" or "root" node for Wi-Fi? Another option is that only the elected "root" serves as a border router, but that would mean

[2021-03-21 12:44] gabekassel commented on #6321
It's certainly possible wifi or thread couple independently partition, but feels unlikely both would partition at the same time. There are also transient cases where one BR is rebooting while others are still serving wifi/thread.

Yes we do have this concept when the network is in NAT mode. It felt very advantageous to leverage every available BR, so I've been trying to avoid designs like this.

F

[2021-03-21 16:59] jwhui commented on #6321
Standardizing on a single solution (i.e. `draft-lemon-stub-networks`) will likely be simpler to deal with, at least in the beginning. If we run into compelling reasons to support "out-of-band" configurations, then we can address those at that time.

[2021-03-22 01:25] Irving-cl commented on #6168
@edmont

I just tried with the latest commit 97d30e31. It seems that it still doesn't work. And it even cannot ping successfully when I use 2 DKs.

In addition, I tried the same thing with the main branch(without this PR). CSL transmission still doesn't work. It seems that it's affected by #6287. CSL transmission works after I reverted the change of #6287.

Does CSL transmission work on current ma

[2021-03-22 10:22] edmont commented on #6168
Sorry, I keep adding changes to the adaptative receive window PR. https://github.com/openthread/openthread/pull/6287 is actually reverted by https://github.com/openthread/openthread/pull/6311. The latest should be used for both Leader and SSED.

I just tested with the latest commit (https://github.com/openthread/openthread/pull/6311/commits/2ad609cfc173b5255408684c7daabc9cbe8a5634) and it worked w

[2021-03-22 10:28] ChauhanPD commented on #6283
@jwhui Thanks for confirming. I have taken nrf52840 EVK and ran CLI image on it. With that below are the logs

-----------
Host Board:
wpanctl:utun7> comissioner joiner-add f4ce3601f0a1258 100 "J01NME"
Added Joiner F4:CE:36:01:F0:A1:25:86, timeout:100, PSKd:"J01NME"
--------------
nrf52840 EVK:

Done

Done

up
Done

Done

router
Done
-----------------------------------------

So, nrf52840 EVK has

[2021-03-22 14:39] ChauhanPD commented on #6283
Also, with running my Host processor as leader and nrf52840 EVK as router, when I open web-page on my cellphone (running Android OS 10), I checked status and I found
"WPAN service" as "uninitialized" and
"wpantund" as "down"

What are the reasons for this?

I have started wpantund service from command line and when I run below command
systemctl start wpantund
it says
the interface ttymxc2 is locke

[2021-03-23 14:49] KaSroka opened #6337 "Throughput degradation with Thread 1.2 features enabled"
**Describe the bug**
During testing we have found out that enabling Thread 1.2 features results in decreased throughput in child to child communication.

**To Reproduce**
1. Flash the devkits with image build from latest main branch with Thread 1.2 features enabled. The devkitss are up and running.
2. Form topology: end-device <> router <> end-device (end devices are FTD, using NCP wpantund interf

[2021-03-23 15:12] cahty82008 opened #6338 "how to setup OTBR with wpantund and connect with a masterkey"
I followed this tutorial with Step 7 and Step 8  to set up a OTBR and join it with the masterkey
[https://openthread.io/codelabs/openthread-hardware#6](url)

I set up a border router with wpanctl(the tutorial is using a CLI example), but i have problem to connect to this border router. Are there any other parameters that i should set up on OTBR?

**set up the OTBR:**
[code]
**set up a joiner with

[2021-03-23 15:31] MoriartyJr opened #6339 "OpenThread Daemon error macOS"
When building posix Deamon on macOS an implicit conversion error is thrown.

running `make -f src/posix/Makefile-posix DAEMON=1 ` will throw following error:
`/../src/posix/platform/daemon.cpp:75:12: error:
      implicit conversion loses integer precision: 'ssize_t' (aka 'long') to 'int'
      [-Werror,-Wshorten-64-to-32]
    rval = write(sSessionSocket, buf, (size_t)static_cast<size_t>(rval));`

[2021-03-23 22:29] #6316 closed

[2021-03-24 04:31] simonlingoogle commented on #6337
Hi @KaSroka,

Thanks for catching this issue.

Could you sniffer the traffic and upload the PCAPs (both 1.1 and 1.2). This would be very helpful for identifying the cause.

[2021-03-24 08:18] edmont commented on #6225
@nealjack could you give a try increasing the Memory Manager buffers? https://github.com/lab11/nrf52x-base/blob/master/boards/nrf52840dk_thread/app_config.h#L75-L85

[2021-03-24 10:12] luga-ns commented on #6337
Thread 1.1:
build with:
make -f examples/Makefile-nrf52840 BORDER_AGENT=1 BORDER_ROUTER=1 COAP=1 COAPS=1 COMMISSIONER=1 DHCP6_CLIENT=1 DHCP6_SERVER=1 DNS_CLIENT=1 ECDSA=1 IP6_FRAGM=1 JOINER=1 LINK_RAW=1 MAC_FILTER=1 SERVICE=1 SLAAC=1 SNTP_CLIENT=1 UDP_FORWARD=1 THREAD_VERSION=1.1
results:
test_app_layer_thput_performance_short_child_router_child result comment: {'min': 36.1, 'max': 54.1, 'avg': 50

[2021-03-24 15:29] Irving-cl opened #6344 "[posix] ot-br-posix dry run will be affected by failed initialization of irrelavant modules"
**Describe the bug** A clear and concise description of what the bug is.
When I run ot-br-posix on a device, I found that I cannot correctly get RCP version by using `--radio-version`. The reason is that `platformBackboneInit` in `otSysInit` failed and the program directly exited. The code to handle `radio-version` is after `otSysInit` and doesn't have a chance to run. I think it's possible that s

[2021-03-24 16:11] #5819 closed

[2021-03-24 18:21] jwhui commented on #6338
@cahty82008 , it appears that the master keys do not match:
[code]
vs.
[code]

[2021-03-25 02:31] simonlingoogle commented on #6337
Comparing the `thread_1_1` and `thread_1_2` PCAPs,  one difference is that in `thread_1_2`, the router (leader) do not forward the 1128 sized UDP datagrams as many as in `thread_1_2`.

For example, in the traffic shown below, the router only forwards two UDP datagrams, in the meantime the end device has sent tens of datagrams.

![image](https://user-images.githubusercontent.com/52448427/112408941-

[2021-03-25 10:10] cahty82008 commented on #6338
thanks for the reply. At first I thought
`dataset masterkey 00112233445566778899aabbccddffee`
should match with
`wpanctl setprop Dataset:MasterKey 00112233445566778899aabbccddffee`

i changed dataset masterkey from '00112233445566778899aabbccddffee' to '11112233445566778899DEAD1111DEAD', and i also runed `wpanctl permit-join 3600 1212`

but still i can not connect to my OTBR

status of joiner:
`>

[2021-03-25 11:39] bukepo commented on #6344
dry run can be used to test the stack can be initialized successfully.

[2021-03-25 13:53] luga-ns commented on #6337
[Thread_1_2_debug_logs.zip](https://github.com/openthread/openthread/files/6204979/Thread_1_2_debug_logs.zip)
build with:
make -f examples/Makefile-nrf52840 BORDER_AGENT=1 BORDER_ROUTER=1 COAP=1 COAPS=1 COMMISSIONER=1 DHCP6_CLIENT=1 DHCP6_SERVER=1 DNS_CLIENT=1 ECDSA=1 IP6_FRAGM=1 JOINER=1 LINK_RAW=1 MAC_FILTER=1 SERVICE=1 SLAAC=1 SNTP_CLIENT=1 UDP_FORWARD=1 BACKBONE_ROUTER=1 CSL_RECEIVER=1 LINK_ME

[2021-03-25 14:53] simonlingoogle commented on #6337
There seems to be many 6lowpan fragment dropping like below:

[code]

This happens when OT is running out of message buffers.
It's unclear why Thread 1.2 has less available message buffers. I think we should check if:
- Thread 1.2 is allocating less number of message buffers overall
- What components have been allocating message buffers, and whether they have released the buffers.

[2021-03-25 15:30] jwhui commented on #6338
@cahty82008 , I believe your master key is still not matching:
[code]
vs.
[code]

[2021-03-25 15:52] jwhui opened #6349 "[github-actions] test_srp_register_single_service.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/test_srp_register_single_service.py fails intermittently.

**Console/log output**

- [logs_63743.zip](https://github.com/openthread/openthread/files/6206059/logs_63743.zip)
- [cli-mtd-thread-cert.zip](https://github.com/openthread/openthread/files/6206061/cli-mtd-thread-cert.zip)

[2021-03-25 16:17] cahty82008 commented on #6338
@jwhui   hi jwhui, please notice that i in my OTBR **i set up two keys:**
**OTBR:**
`wpanctl setprop Network:Key 11112233445566778899DEAD1111DEAD
wpanctl setprop Dataset:MasterKey 00112233445566778899aabbccddffee`

**and in the joiner, i tried both keys as the masterkey, unfortunately both of them are not working:**
**joiner first try:**
[code]
**joiner second try:**
[code]

[2021-03-25 17:55] jwhui opened #6350 "[github-actions] docker build is failing due to mplatform/mquery error"
**Describe the bug**

Docker build is failing due to mplatform/mquery error.

**Console/log output**
[code]

**Solution**

Replace mplatform/mquery with buildx imagetools inspect.

[2021-03-25 22:40] jwhui opened #6355 "[github-actions] external-commissioner test hangs"
**Describe the bug**

external-commissioner test hangs.

**Console/log output**

[logs_64064.zip](https://github.com/openthread/openthread/files/6208245/logs_64064.zip)

[2021-03-25 22:44] jwhui opened #6356 "[github-actions] Cert_9_2_06_DatasetDissemination.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/Cert_9_2_06_DatasetDissemination.py fails intermittently.

**Console/log output**

- [logs_64082.zip](https://github.com/openthread/openthread/files/6208255/logs_64082.zip)
- [packet-verification-pcaps.zip](https://github.com/openthread/openthread/files/6208256/packet-verification-pcaps.zip)

[2021-03-25 23:41] #6350 closed

[2021-03-26 01:57] jwhui opened #6358 "[github-actions] Cert_5_3_06_RouterIdMask.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/Cert_5_3_06_RouterIdMask.py

**Console/log output**

- [logs_64109.zip](https://github.com/openthread/openthread/files/6208838/logs_64109.zip)
- [posix-ncp-thread-cert.zip](https://github.com/openthread/openthread/files/6208839/posix-ncp-thread-cert.zip)

[2021-03-26 02:53] purvisb opened #6359 "PSK questions"
A colleague of mine is researching the vulnerability of OpenThread to brute force attacks.

What are the character restraints on the PSK?

Also whats the difference between PSKc and PSKd?

[2021-03-26 03:01] jwhui commented on #6359
These details are specified in Chapter 8 of the [Thread 1.1.1 Specification](https://www.threadgroup.org/support#specifications).

In summary:

1. The PSKd (aka Joining Device Credential) is used to establish a secure session between a Commissioner and Joiner. The PSKd is a random value unique to each device. The value is represented as 6 to 32 characters, with an alphabet of 32 characters.
2. The

[2021-03-26 10:20] luga-ns commented on #6337
I've tested this also on Thread 1.1
[Thread_1_1_logs.zip](https://github.com/openthread/openthread/files/6210847/Thread_1_1_logs.zip)
the same logs with error:NoBufs and error:Drop in Thread 1.1.
Result in case of build with debug logs is almost the same as for Thread_1_2:
test_app_layer_thput_performance_short_child_router_child result comment: {'min': 0.0, 'max': 27.1, 'avg': 16.72, 'ninety_perc

[2021-03-26 12:12] eujean opened #6360 "CC2652 Spinel missing capabilities"
**Describe the bug** RCP Missing capabilities on CC2652

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id: b0e1712d3b240981dc78f61356af8641dae5960f
2. IEEE 802.15.4 hardware platform: TI CC2652
3. Build steps: `make -f examples/Makefile-cc2652`
4. Network topology: Beaglebone border router with CC2652 as RCP

**Expected behavior** OTBR should start normally

**C

[2021-03-26 15:10] eujean commented on #6360
I've noticed now that I was very optimistic.

I will look into implementing the required items for the Thread 1.2 on the radio.

[2021-03-26 18:56] nealjack commented on #6225
Okay, after a lot of digging I believe that I've identified what causes this issue. I'm not sure why though.

I was able to build a working application that uses my code that performs an ECDSA sign. However, when I build that application to work with nordic's background dfu bootloader, I run into the ECDSA signature failure.

The difference between the two applications are primarily a different li

[2021-03-27 03:26] bukepo opened #6363 "[macOS] unable to access addresses on utun from host"
**Describe the bug** A clear and concise description of what the bug is.
Unable to access addresses on utun from host, either ICMP or UDP. After some analysis, a packet destined to the utun doesn't enter host's IP stack, but directly goes out through utun interface. As a result, services on Thread interface won't be accessible from host or external networks.

[2021-03-27 08:25] wgtdkp commented on #6349
The log shows that the SRP client becomes a `Leader` rather than a `Router`:
[code]

I can not think of a reason how this could happen. @simonlingoogle Any thoughts?

[2021-03-28 15:57] simonlingoogle commented on #6349
Haven't dig deep into this issue, but I can see some abnormality in the PCAP:

<img width="1164" alt="Screen Shot 2021-03-28 at 11 49 04 PM" src="https://user-images.githubusercontent.com/52448427/112758328-58512c00-9020-11eb-83e6-d69341a1de87.png">

The SRP client sends two `Parent Requests` quickly, so the second `Parent Request #9` to REED is sent even before the `Parent Response`. This could c

[2021-03-28 22:17] HannanSolo opened #6366 "API Code lab typo on step 6"
**Describe the bug** A clear and concise description of what the bug is.
On step 6 on the api code lab it instructs to add this line of code.
[code]
after the `otCliUartInit` call, but in reality the `otCliUartInit` has been changed to `otAppCliInit(instance)`

[2021-03-29 01:26] simonlingoogle commented on #6344
Is this feature absolute required in some scenario ? I think we can just specify `-B ....` even for dry runs. It seems a overkill for me to implement such feature just to type less letters.

[2021-03-29 03:09] #6344 closed

[2021-03-29 09:46] thcu-gp opened #6367 "Brew not installed"
This line assumes the `brew` command is available.
On my freshly installed Ubuntu 18.04 it isn't.
There seems to be code to select a package manager (which is `apt` on Ubuntu), but still uses `brew` for this one step.
https://github.com/openthread/openthread/blob/d0bbfe6e4c0d173bd41423842dbb2f9bad6a2137/script/bootstrap#L50

[2021-03-29 18:47] purvisb commented on #6359
No further questions at this time.
Thanks!

[2021-03-29 18:47] #6359 closed

[2021-03-30 01:45] jwhui commented on #6366
@HannanSolo , thanks for raising this issue. We'll update the codelab accordingly.

[2021-03-30 03:56] Irving-cl commented on #6168
@edmont @hubertmis

I just verified with the latest commit(a43e34824) for #6311. It works for both cases (DK-to-DK, DK-to-dongle). Thanks for the change! Let's close the issue after #6311 merged.

BTW if you have time, please help double check the DK-to-dongle case. I think your tests would be better.

[2021-03-30 05:17] abtink commented on #6106
Closing this.

[2021-03-30 05:17] #6106 closed

[2021-03-30 08:28] mauricewillemsen opened #6371 "NRF52840 SPI RCP, RadioSpinelNoResponse"
**Describe the bug** OT-DAEMON crashes after 30min - 1hour with RadioSpinelNoResponse

**To Reproduce**
We're using openthread daemon on a raspberry pi 3B, and a nordic NRF52840 connected through SPI, on a custom PCB.

When using ot-daemon compiled with:
`make -f src/posix/bin/Makefile-posix DAEMON=1 RCP_BUS=spi`

And a rcp binary for the nrf chip using:
`make -f examples/Makefile-nrf52840 BORDER_

[2021-03-30 17:32] jwhui commented on #6319
Closing stale issue.

[2021-03-30 17:32] #6319 closed

[2021-03-30 17:33] jwhui commented on #6260
@Hard1kPrajapat1 , any update on this issue?

[2021-03-30 20:32] Vyrastas commented on #6366
This is fixed.

[2021-03-30 20:32] #6366 closed

[2021-03-31 00:16] jwhui opened #6376 "[github-actions] backbone-router test hangs"
**Describe the bug**

backbone-router test hangs

**Console/log output**

[logs_65078.zip](https://github.com/openthread/openthread/files/6233013/logs_65078.zip)

May be related to #6355.

[2021-03-31 00:21] jwhui opened #6377 "[github-actions] posix-pty-daemon test hangs"
**Describe the bug**

posix-pty-daemon test hangs.

**Console/log output**

[logs_65064.zip](https://github.com/openthread/openthread/files/6233031/logs_65064.zip)

May be related to #6355

[2021-03-31 01:31] #6376 closed

[2021-03-31 01:31] #6377 closed

[2021-03-31 01:31] #6355 closed

[2021-03-31 02:10] jwhui opened #6380 "[github-actions] test_plat_udp_accessiblity.py fails intermittently"
**Describe the bug**

tests/scripts/thread-cert/border_router/test_plat_udp_accessiblity.py fails intermittently.

**Console/log output**

- [logs_65181.zip](https://github.com/openthread/openthread/files/6233336/logs_65181.zip)
- [thread-border-router-results.zip](https://github.com/openthread/openthread/files/6233337/thread-border-router-results.zip)

[2021-03-31 08:44] Hard1kPrajapat1 commented on #6260
@jwhui, I was testing with the new cloned source, with the latest RCP and ot-daemon binary from the latest Openthread source, I am not getting that error anymore. I have tested for a week on multiple boards but have not seen after.

Could you please help me to understand what would be the difference between the older source and the newer Openthread source? What could resolve this? Transmit buffer

[2021-03-31 13:26] edmont commented on #6168
Hi @Irving-cl. Please find attached two capture files: [dk_leader-dg_ssed.zip](https://github.com/openthread/openthread/files/6236886/dk_leader-dg_ssed.zip)

I used commit https://github.com/openthread/openthread/commit/f81eebeb48fe72d0bfe3427a8cba0a17ef3f77d0 for building for the `default.pcapng` test, where you can see how the Leader (DK) is able to transmit via CSL even after 36 seconds (frame

[2021-04-01 06:40] simonlingoogle commented on #6290
**Seems like our real-time sniffer failed to capture all the Thread traffic during the multicast ping process.**

The test topology is like: `Host` <---> `PBBR1` <---> `Router1`.

In the test, `Host` pinged a multicast address that `Router1` has subscribed and expect `Router1` to send the ping reply.

The issue is that there is no `Router1`'s `Ping Reply` in the Thread traffic.

However, we can ac

[2021-04-01 15:10] #6339 closed

[2021-04-01 15:14] #6290 closed

[2021-04-01 20:05] dismirlian opened #6391 "Custom TLVs in network diagnostics response"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.
Thread's network diagnostics feature is very useful to get information from devices, from the Thread network itself, topology visualization, etc., to help manage the deployment. However, the device's application may also need to report relevant metrics. These can be related to

[2021-04-01 20:13] jwhui opened #6392 "[github-actions] thread-1-2-clang-m32 is failing"
[code]

[2021-04-01 20:25] dismirlian commented on #6391
As a side-effect of this proposal, two TLVs covered by the spec can be filled by the callback: battery level TLV and supply voltage TLV.

[2021-04-02 00:58] jwhui commented on #6260
@Hard1kPrajapat1 , yes increasing the buffer sizes helps avoid dropped frames. When a dropped frame is a response that the host was expecting, the `ot-daemon` process will die.

For more background see the following comments:

1. https://github.com/openthread/openthread/issues/5678#issuecomment-714735882
2. https://github.com/openthread/ot-br-posix/issues/559#issuecomment-721982478

If you are no

[2021-04-02 01:01] #6392 closed

[2021-04-02 02:22] Irving-cl commented on #6168
@edmont

Thanks for the testing! Since it works, we can close this issue now.

[2021-04-02 02:22] #6168 closed

[2021-04-03 01:25] #6299 closed

[2021-04-05 07:15] ChauhanPD commented on #6283
Hello All,

I was able to see everything correct on web-page on next reboot and did everything from web-page.

But as I have also asked earlier:
The next query is:
I would like to use RCP image (not NCP) for my nrf52840 connected with Host processor. So, in this case, what changes are required in ot-br-posix code? Because when nrf52840 is running with RCP image. nrf52840 is just a Radio gateway fo

[2021-04-05 16:17] jwhui commented on #6283
When using the RCP image, you should use the main branch of [openthread/ot-br-posix](https://github.com/openthread/ot-br-posix/).

We recently published a codelab with all the latest features - [Thread Border Router - Bidirectional IPv6 Connectivity and DNS-Based Service Discovery](https://openthread.io/codelabs/openthread-border-router#0). I encourage you to check it out.

[2021-04-06 03:20] JumaLuata opened #6405 "Please synchronize the image tool of K32W061 with SDK_2.6.2_K32W061DK6_MR2_1"
The image tool of SDK_2.6.2_K32W061DK6_MR2_1 has been upgraded to support python3.
On Ubuntu 20.04, the python-pip deb package cannot be installed, which will cause errors when verifying `is_linux_package_installed "python-pip"` when running the **_sign_image.sh_** script.
You can get SDK_2.6.2_K32W061DK6_MR2_1 from [here](https://mcuxpresso.nxp.com/en/select).

[2021-04-06 08:56] edmont commented on #6225
Hi, not sure how flash distribution could affect this issue, specially when the application is programmed after the bootloader. In any case, could you confirm that there are no overlapping flash regions for your layout?

By the way, did you give a try to the increased Memory Manager buffers?

[2021-04-06 09:57] ChauhanPD commented on #6283
One observation:
When I program the hex file of NCP using nrfconnect 3.6.1 and read back from memory, it shows two areas in the rectangle area at left side - one is  green at top indicating "Application" as region name having 4 bytes and another is dark yellow at the bottom indicating "MBR or Application" as region name.

But when I program the hex file of RCP using same nrfconnect 3.6.1 and read

[2021-04-06 12:13] doru91 commented on #6405
Hi, @JumaLuata

Thanks for raising this issue, we are aware of it. It will be solved shortly: we are in progress of refactoring the OpenThread Code and in the future, we'll use directly the SDK files (through an env variable) instead of using the old ones from third_party/nxp.

I'll post an update by the end of the week with the new refactored repository.

If you are an internal NXP employee pleas

[2021-04-06 15:55] abtink commented on #6283
@ChauhanPD
- `wpantund` on its own requires an NCP to interact with.
- If you want to use RCP, you can follow https://github.com/openthread/ot-br-posix/

Let me also point you to https://openthread.io/platforms#platform_designs which provides an overview of how different architectures works.

[2021-04-06 17:47] ChauhanPD commented on #6283
Thanks @abtink .

I have gone through  https://github.com/openthread/ot-br-posix/ . But haven't found changes required in wpantund or openthread or ot-br to work with RCP image.

I have gone through all pages of https://openthread.io/guides/border-router/build but nothing specific found for RCP image. With all those steps, I can successfully communicate with NCP image (running on nrf52840) from Ho

[2021-04-06 18:11] abtink commented on #6283
@ChauhanPD, `wpantund` works with an NCP. If you intend to use `wpantund` to directly interact with the RF chip running an RCP build, it won't work and was never supported (basically you would be missing the OpenThread protocol stack/implementation).

`wpantund` needs to interact with an NCP. Now this can be realized  different ways:
- `wpantund` interacts directly with RF chip that is running NCP

[2021-04-06 18:47] jwhui commented on #6283
@ChauhanPD , as I mentioned in https://github.com/openthread/openthread/issues/6283#issuecomment-813480702, the main branch of [openthread/ot-br-posix](https://github.com/openthread/ot-br-posix) supports RCP and does not include `wpantund`.

The `wpantund/master` branch of [openthread/ot-br-posix](https://github.com/openthread/ot-br-posix) supports NCP and does include `wpantund`.

[2021-04-06 19:37] jwhui opened #6411 "Developer Meeting: TCP API"
The OpenThread project will be hosting its first developer meeting on Thursday April 15th.

**Topic:** Transport Control Protocol (TCP) in OpenThread

**Time:** Thursday April 15th 08:00 PDT, 11:00 EDT, 15:00 UTC, 17:00 CEST, 23:00 CST.

**Agenda**
1. TCP APIs
2. TCP Implementation

**Meeting Info**

If you would like to participate in this meeting, please send me your name and email address and I

[2021-04-06 22:45] jwhui commented on #6338
@cahty82008 , with wpanctl, just try setting the masterkey one way:

For example:
[code]

[2021-04-06 23:50] jwhui opened #6412 "[github-actions] pty-macos OT_DAEMON=on fails intermittently"
[logs_5425.zip](https://github.com/openthread/openthread/files/6268052/logs_5425.zip)

[2021-04-07 00:15] jwhui commented on #2445
Closing stale issue. If this is still of interest to anyone, please open an issue in [openthread/ot-efr32](https://github.com/openthread/ot-efr32).

[2021-04-07 00:15] #2445 closed

[2021-04-07 00:17] jwhui commented on #4237
Closing stale issue. Using CMake/Ninja avoids these warnings.

[2021-04-07 00:17] #4237 closed

[2021-04-07 00:19] jwhui commented on #1611
Closing stale issue. If this is still of interest, feel free to reopen.

[2021-04-07 00:19] #1611 closed

[2021-04-07 00:19] jwhui commented on #4816
Closing stale issue. Transition to CMake/Ninja should will avoid this issue.

[2021-04-07 00:19] #4816 closed

[2021-04-07 00:21] jwhui commented on #4998
Closing stale issue. Build scripts in platform-specific repos specify the build type.

[2021-04-07 00:21] #4998 closed

[2021-04-07 03:35] abtink commented on #6371
I can suggest some ideas to may be try out and investigate.

- What is the NCP buffer size on the RCP side? (`OPENTHREAD_CONFIG_NCP_TX_BUFFER_SIZE`)?
   - If you can change/increase/decrease it, it may be be good to see if impacts the issue (happen less frequently, or not)?

- Do you have logs enabled on RCP side?
  - If so, can you disable logging on RCP to see if it helps or not?

- When we see

[2021-04-07 08:37] mauricewillemsen commented on #6371
Thanks for your response,

- Did increase the `OPENTHREAD_CONFIG_NCP_TX_BUFFER_SIZE`, crash still occurs. Will investigate more to see the impact.
- Tried both with logs enabled and disabled. Didnt solve the problem
- The error on the host is always the tx timeout which results in no response timeout.

[2021-04-07 13:51] mauricewillemsen commented on #6371
Crash occurs faster with both decreasing and increasing `OPENTHREAD_CONFIG_NCP_TX_BUFFER_SIZE`.

[2021-04-08 12:07] Irving-cl commented on #6391
@dismirlian

Do you mean to provide an API in OT for the application to set a callback to get the custom values for custom TLV? I think the network diagnositcs interface should be unified. For example, if I have 2 products (A and B) from 2 different vendors who defined different custom TLVs, when A makes query B, it gets a custom TLV (but implemented by B). So the data in the custom TLV doesn't ma

[2021-04-08 12:09] #6203 closed

[2021-04-08 18:01] ChauhanPD commented on #6283
Hello,

I have updated the commit id in bb file of ot-br-posix and used below one:
##Main branch Commits till Apr 06, 2021
SRCREV = "b9565b4c44c9ccb413748d82905c8ef741768f57"

I have also updated the openthread source code with below commit id:
##Apr 7, 2021
OPEN_THREAD_COMMIT_HASH="83cecbb8e3f9418e3953e3ce65c269561b3f947b"

Using our .bb file I was able to compile the recipe for ot-br-posix after

[2021-04-09 09:34] ChauhanPD commented on #6283
Hello All,

I got a discussion about my above issue related to ot-ctl at [this](https://github.com/openthread/ot-br-posix/issues/644).

But again, to compile an RCP image that can communicate with the Host successfully, which compiler flags must be set?

I have tried below,
make -f examples/Makefile-nrf52840 COMMISSIONER=1 JOINER=1 COAP=1 DNS_CLIENT=1 MTD_NETDIAG=1 BORDER_ROUTER=1 MAC_FILTER=1 TMF

[2021-04-09 09:48] wgtdkp commented on #6283
Hi,

When I opened that file (/etc/default/otbr-agent), the line has

I think you need the "-B wlan0" option.

Could you provide the output of "cat /var/log/syslog | grep otbr-agent" ?

BRs,
kangping

On Fri, Apr 9, 2021 at 5:35 PM ChauhanPD ***@***.***> wrote:

[2021-04-09 09:58] ChauhanPD commented on #6283
Thanks, @wgtdkp for your quick reply.

I have restored that option (-b wlan0).
But observed the same error.

output of "cat /var/log/syslog | grep otbr-agent" ?
Apr  9 09:54:24 imx6ull otbr-agent[4629]: Running 0.3.0-b9565b4c-dirty
Apr  9 09:54:24 imx6ull otbr-agent[4629]: Thread version: 1.2.0
Apr  9 09:54:24 imx6ull otbr-agent[4629]: Thread interface: wpan0
Apr  9 09:54:24 imx6ull otbr-agent[462

[2021-04-09 11:24] wgtdkp commented on #6283
It seems the communication between the otbr-agent and RCP is not working.

make -f examples/Makefile-nrf52840 COMMISSIONER=1 JOINER=1 COAP=1

Looks like the very important USB or BOOTLOADER option is missing for the
nRF52xxx boards.

OpenThread is switching to maintain platform-specific examples in
separate repos, could you try to build the RCP with
the https://github.com/openthread/ot-nrf528xx re

[2021-04-09 20:46] jwhui commented on #6405
NXP examples have moved to https://github.com/openthread/ot-nxp

[2021-04-09 20:46] #6405 closed

[2021-04-09 21:13] jwhui commented on #6411
The Doodle poll is now closed. The most voted for time slot was Thursday April 15th 08:00 PDT, 11:00 EDT, 15:00 UTC, 17:00 CEST, 23:00 CST.

If you would like to participate in this meeting, please send me your name and email address and I will add you to the calendar invite.

[2021-04-10 02:29] jwhui commented on #6260
Closing stale issue.

[2021-04-10 02:29] #6260 closed

[2021-04-10 11:15] ChauhanPD commented on #6283
Hello @wgtdkp

Let me tell you that the nrf52840 chip to flash the RCP image is on a custom Plug-in Module on our custom board having an i.mx6ull processor. I am not using nrf52840 Dongle or EVK for the RCP image. So, I think in my case, the USB or BOOTLOADER option should not be used. Kindly correct me, if needed.

So, for my set-up, can I use  https://github.com/openthread/ot-nrf528xx repo?

Sam

[2021-04-11 02:57] wgtdkp commented on #6283
I think you are right.

Can you provide the `border-agent` configuration file?

[2021-04-11 17:05] ChauhanPD commented on #6283
root@imx6ull:~# vi /etc/default/otbr-agent
# Default settings for otbr-agent. This file is sourced by systemd

# Options to pass to otbr-agent
OTBR_AGENT_OPTS="-I wpan0 -B wlan0 spinel+hdlc+uart:///dev/ttymxc2"
#OTBR_AGENT_OPTS="-I wpan0  spinel+hdlc+uart:///dev/ttymxc2"

[2021-04-12 12:44] ChauhanPD commented on #6283
vi etc/cmake/options.cmake
 33 option(OTBR_BACKBONE_ROUTER "Enable Backbone Router" OFF)
 34 if (OTBR_BACKBONE_ROUTER)
 35     target_compile_definitions(otbr-config INTERFACE OTBR_ENABLE_BACKBONE_ROUTER=1)
 36 endif()
 37
 38 option(OTBR_BORDER_ROUTING "Enable Border Routing Manager" OFF)
 39
 40 option(OTBR_DBUS "Enable DBus support" OFF)

Are line numbers 33 and 40 correct?

[2021-04-12 14:35] ChauhanPD opened #6436 "Compile Ot-br-posix and RCP image"
My Query is about guide to compile ot-br-posix with web-service and to compile RCP image to which ot-ctl can communicate.

I have take ot-br-posix and openthread of below commit ids:
ot-br-posix:
#Master branch Commits till Apr 06, 2021
SRCREV = "b9565b4c44c9ccb413748d82905c8ef741768f57"

openthread:
#Apr 7, 2021
OPEN_THREAD_COMMIT_HASH="83cecbb8e3f9418e3953e3ce65c269561b3f947b"

I have compiled o

[2021-04-12 15:09] jwhui commented on #6283
@ChauhanPD , these lines seem fine to me. These `option()` command declares an option for the user. Do you have any specific concern with these lines?

[2021-04-12 19:41] purvisb opened #6437 "Is OpenThread compatible with nrf51822?"
I'm exploring the idea of getting OpenThread working on a [Crazyflie drone](https://store.bitcraze.io/products/crazyflie-2-0).

Is OpenThread compatible with the nrf51822 platform? I don't see a MakeFile for it in openthread/examples/.  I'm not sure if this is an indication of incompatibility. Or if there just isn't a make file for that.

[2021-04-12 19:45] jwhui commented on #6437
@purvisb , Thread currently requires an IEEE 802.15.4 radio. I believe the nRF51822 does not support IEEE 802.15.4.

[2021-04-12 19:49] jwhui opened #6438 "[github-actions] macOS build checks are failing"
[code]

[2021-04-12 19:51] purvisb commented on #6437
@jwhui The [nRF51822](https://www.nordicsemi.com/Products/Low-power-short-range-wireless/nRF51822) has BLE. Doesn't BLE run on 802.15.4?

[2021-04-12 19:54] jwhui commented on #6438
It appears adding `brew update` should help. I'll try this out and submit a PR shortly if this works.

For further context see: https://github.com/Homebrew/discussions/discussions/691

[2021-04-12 19:55] jwhui commented on #6437
@purvisb , BLE is built on 802.15.1.

[2021-04-12 20:04] purvisb commented on #6437
@jwhui thank you for the clarification!

[2021-04-12 20:04] #6437 closed

[2021-04-12 20:53] dismirlian commented on #6391
Hi @Irving-cl, thanks for your answer.

Yes. I agree it should be unified, but it might help in case of a "closed" deployment.

Our particular use case was dealt with using an application-specific CoAP endpoint, so I'll close this issue for now...

Thanks for your support.

[2021-04-12 20:53] #6391 closed

[2021-04-13 00:26] #6438 closed

[2021-04-13 04:18] ChauhanPD commented on #6283
option(OTBR_BACKBONE_ROUTER "Enable Backbone Router" OFF)

For Thread Version 1.2, OTBR_BACKBONE_ROUTER should be ON, right?

@wgtdkp below information is what you have asked for.
[code]

[2021-04-13 04:33] jwhui commented on #6283
Yes, this is set here:
https://github.com/openthread/ot-br-posix/blob/9242530cf66d6c6ae06d72400f17d9b711c91c0b/script/_otbr#L83

[2021-04-13 06:22] ChauhanPD commented on #6283
Thanks, @jwhui .

Ok. So, OTBR_BACKBONE_ROUTER is made ON as below:
File: script/_otbr

if with BACKBONE_ROUTER; then
        otbr_options+=(
            "-DOTBR_BACKBONE_ROUTER=ON"
        )
    fi

And "BACKBONE_ROUTER" is set "1" as below:
examples/platforms/ubuntu/default:35:BACKBONE_ROUTER=1

But further query is "from where ubuntu/default is called?"

[2021-04-13 06:24] jwhui commented on #6283
https://github.com/openthread/ot-br-posix/blob/75ef16d55e24c65bd5a89c9696e99591caf639c7/script/_initrc#L69

[2021-04-13 06:43] ChauhanPD commented on #6283
Thanks, @jwhui

script/bootstrap:34:. "$(dirname "$0")"/_initrc
So, in the case of the Yocto build system, I have to call
`"script/bootstrap"`
from a recipe before compilation. Right?

[2021-04-13 07:11] jwhui commented on #6283
`script/bootstrap` is for installing dependencies.

Note that `script/_initrc` is also used by `script/setup`.

[2021-04-13 07:16] ChauhanPD commented on #6283
yes. So, script/setup should be called from a recipe, right?

[2021-04-13 14:54] jwhui commented on #6283
It depends on your goals. `./script/setup` configures a number of other Linux-based services, including NAT64, DNS64, DHCPv6, network manager, etc. That script has always served this purpose, even in the [wpantund branch](https://github.com/openthread/ot-br-posix/tree/wpantund/master).

If you just want to build OpenThread, then you can figure out the CMake options you want and call CMake/Ninja di

[2021-04-13 17:54] ChauhanPD commented on #6283
Thanks @jwhui for clarification.

My goals are simple:
- Create Thread Network with RCP image
- Send / Receive messages via the network.

So, Which flags should be ON and how to compile (like one way suggested to use CMake/Ninja directly)?

Thanks and Regards.

[2021-04-13 20:02] #6286 closed

[2021-04-13 22:32] jwhui commented on #6411
This is a reminder that this meeting will be held Thursday April 15th 08:00 PDT, 11:00 EDT, 15:00 UTC, 17:00 CEST, 23:00 CST.

If you would like to participate in this meeting, please send me your name and email address and I will add you to the calendar invite.

[2021-04-13 22:36] jwhui commented on #6371
@mauricewillemsen , are you able to reproduce this issue with a Nordic dev board or USB dongle?

[2021-04-13 23:04] jwhui commented on #6283
@ChauhanPD , I would suggest starting with either the Nordic nRF52840-DK or USB dongle and a Raspberry Pi as a reference. Once you get that working, you determine what you need to customize for your platform.

[2021-04-14 20:03] Abhayakara opened #6447 "SRP Client on the accessory used incorrect srp server IP address"
The SRP client uses an IP address that isn't configured on the SRP server.

**To Reproduce**

Git commit id: d8a2cd9a70cfda7c2657645b4a57411eadaa4e61
Border router: Apple's implementation of Duckhorn router running on Raspi pi 4 Model B
Accessory: running on nordic nrf52840-DK

**Expected behavior** We expect the SRP client to use the address advertised in the network data

**Console/log output**

[2021-04-14 21:31] jwhui commented on #6447
@Abhayakara , thanks for raising this issue!

My guess is that the Service/Server TLV format used to advertise the SRP Server is not compatible between the two implementations. OpenThread currently only includes the RLOC16 and Port information, rather than the full IPv6 address.

Can you provide one or both of:

1. Service/Server TLV format used by Apple's implementation.
2. Output of [`netdata sh

[2021-04-14 22:33] abtink commented on #6447
@Abhayakara  I think as Jonathan said the format of the TLVs are different between the implementations. As you know we are still discussing this in Thread TC calls (the mechasnim on how to discover SRP servers). Moving forward I think we want to converge and use the model we discussed:
- Use network data service entry to indicate SRP and DNS server (need to decide on the service number)
- On clien

[2021-04-14 22:58] abtink commented on #6447
@Abhayakara,  is `wpantund` being used on the border router side (on RPi)?

If so, please note that `wpantund` default behavior is to filter (not add) the RLOC and ALOC IPv6 addresses from NCP on the host `"wpan0"` netif that it manages (there are some historical reasons why this behavior was desired and become default mode).

I guess this may be the reason why the anycast address is not seen in t

[2021-04-14 23:01] Abhayakara commented on #6447
It's going to be necessary to be able to advertise an SRP service that's not on the Thread network at all, so it makes sense to support the ability to choose a server that's got an IPv6 address that's not mesh-local and not anycast. Separately, we should support anycast. Supporting the external SRP server is backwards-compatible with what HomePod Minis currently advertise, so this gets us backward

[2021-04-14 23:23] jwhui commented on #6447
In the spirit of minimizing optionality, what about having the border router serve as a proxy when the SRP service is not on the Thread network? Thread devices then only need to worry about the anycast address and the network data is more compact. In either case, the border router will need to know the IP and port of the SRP service.

[2021-04-15 00:13] Abhayakara commented on #6447
That would be a bit more work on the border router. Does this really buy us anything? In the default case the network is going to be more compact anyway, right?

[2021-04-15 00:40] jwhui commented on #6447
I agree it shifts the complexity from SRP clients to the border router.

I can also see the value of maintaining the flexibility of specifying the IPv6 address and port.

So we can support two separate SRP service types to encode anycast and unicast. If both appear in the network data for whatever reason, can we have the SRP client always prefer one? It'd be simpler for the SRP client to only have

[2021-04-15 00:56] Abhayakara commented on #6447
If we can signal the availability of anycast without advertising it as a service that might be better. The way my client works is to try successive servers if it doesn't get through to the first one. Anycast makes this impossible, because the client has no way to choose a specific server. I think that if anycast is present, it makes sense to just register with the anycast server; BRs shouldn't adv

[2021-04-15 01:25] jwhui commented on #6447
I'm not sure I understand the distinction between "anycast" and "service". Is the goal generalize the anycast address to support more than just SRP?

I believe just signaling the availability of anycast in Thread requires the Service TLV mechanism. The Thread network data needs to include identifiers (RLOCs) for each of the border routers that are announcing the availability of anycast - it's how

[2021-04-15 02:08] abtink commented on #6447
The two service TLV definitions look great to me.

I think in both `ServiceTLV` definitions in between 4 and 5 we need one more byte for a "service number" (as part of the Service TLV data blob). So:

The Anycast model Service TLV Data is 2 bytes:
- Service number (1 byte) - can use 0x02 (after 0x01 being used BBR)
- SRP seq number for re-registeration (1 byte)

The SRP infra Service TLV Data is 1

[2021-04-15 02:25] jwhui commented on #6447
Yes, thanks for catching that.

[2021-04-15 02:36] bukepo opened #6449 "[github-actions] v1_2_test_csl_transmission fails intermittently"
The job:
https://github.com/openthread/openthread/pull/6428/checks?check_run_id=2348812753
The pcap:
[thread-1-2-gcc-m32-pcaps.zip](https://github.com/openthread/openthread/files/6314848/thread-1-2-gcc-m32-pcaps.zip)

[2021-04-15 02:38] brianljt commented on #6449
Hi @bukepo, would you please also upload the artifacts like pcap and log? Thank you!

[2021-04-15 07:51] bukepo opened #6453 "Cert_5_5_02_LeaderReboot.py fails intermittently on NCP"
The PR #6452  should not cause such as issue.

The job:
https://github.com/openthread/openthread/pull/6452/checks?check_run_id=2350342511

[2021-04-15 08:19] librasungirl commented on #6453
Artifacts are lost after re-run.
@bukepo may upload the artifacts next time when you meet the issue again?

[2021-04-15 08:20] #6453 closed

[2021-04-15 13:50] bukepo opened #6455 "[github-actions] v1_2_LowPower_5_3_01_SSEDAttachment.py fails intermittently"
Job:
https://github.com/openthread/openthread/pull/6451/checks?check_run_id=2350287690

Pcap:
[packet-verification-low-power-pcaps.zip](https://github.com/openthread/openthread/files/6318477/packet-verification-low-power-pcaps.zip)

[2021-04-15 16:11] samkumar commented on #6411
Here are the slides that I presented at today's meeting: [openthread_tcp_design_api.pdf](https://github.com/openthread/openthread/files/6319431/openthread_tcp_design_api.pdf)

At the next meeting, I'll present some slides discussing possibilities for TCP implementations, and we'll have a discussion about TCP implementations similar to the one we had today about TCP APIs.

[2021-04-15 16:32] beriberikix commented on #6411
Apologies for missing the presentation and if this was brought up in
person, but the slides mention CoAP doesn't support high-bandwidth
transfers but that isn't entirely accurate. To clarify, RFC 8323
<https://tools.ietf.org/html/rfc8323> defines TCP as a transport and is
implemented in projects like libcoap <https://github.com/obgm/libcoap>.
Additionally, the CoRE working group specified block tr

[2021-04-15 16:56] jwhui commented on #6455
Dup of #6041

[2021-04-15 16:56] #6455 closed

[2021-04-15 17:08] jwhui opened #6456 "Developer Meeting: TCP Implementation"
The OpenThread project will be hosting its next developer meeting on Thursday April 29th.

**Topic:** Transport Control Protocol (TCP) in OpenThread

**Time:** Thursday April 29th 08:00 PDT, 11:00 EDT, 15:00 UTC, 17:00 CEST, 23:00 CST.

**Agenda**

TCP Implementation

**Meeting Info**

If you would like to participate in this meeting, please send me your name and email address and I will add you t

[2021-04-15 17:12] jwhui opened #6457 "Developer Meetings"
The OpenThread project has started to host developer meetings. This issue tracks past and upcoming developer meetings.

**Upcoming Meetings**

- 2021-04-29: TCP Implementation #6456

**Past Meetings**

- 2021-04-25: TCP API #6411

[2021-04-15 17:18] Abhayakara commented on #6447
Right. So with the IP address service, we have the enterprise number (44970), one byte of service data (0x5d), and 18 bytes of server data, with the IP address and port number in network byte order.

[2021-04-15 18:28] abtink commented on #6447
Sounds good. 44970 is Thread Enterprise number (which is encoded as compressed in Service TLV). `0x5d` would be the service number (for The SRP infra Service TLV model).

In Jonathan's suggestion from https://github.com/openthread/openthread/issues/6447#issuecomment-819952599, the IP and port are part of the Service TLV data and not Server data.

I think both cases (including it in Service or Seve

[2021-04-15 18:32] Abhayakara commented on #6447
I'm not sure how big a problem this is, but with this approach, existing thread accessories that interoperate with HomePod will not successfully discover the service if it's in the service data. That said, we definitely want this efficiency, and this is probably the best way to get it.

[2021-04-15 18:33] samkumar commented on #6411
Thanks @beriberikix for raising this point. I should clarify that I was referring to UDP-based CoAP since that's the only way that CoAP can be used as an alternative to TCP. I'm aware of the block-transfer protocol in CoAP, but my understanding is that each block must be ACKed before the next block can be sent, meaning that throughput degrades inversely with the network round-trip time. TCP throug

[2021-04-16 01:19] jwhui opened #6460 "[codecov] add upload commands to GitHub Action Workflow files"
Upload was removed from `./script/test` in #6459 due to security concerns.

See https://about.codecov.io/security-update/

[2021-04-16 01:22] jwhui opened #6461 "[github-actions] OTCI cli-sim testCliSimRealTime fails intermittently"
[code]

[logs_68963.zip](https://github.com/openthread/openthread/files/6321890/logs_68963.zip)

[2021-04-16 01:58] simonlingoogle commented on #6461
I guess `seqno 256` is invalid. should round it to 0.

[2021-04-16 03:17] bukepo commented on #6449
another failure:
https://github.com/openthread/openthread/pull/6450/checks?check_run_id=2358701469
artifacts:
[thread-1-2-clang-m64-pcaps.zip](https://github.com/openthread/openthread/files/6322243/thread-1-2-clang-m64-pcaps.zip)

[2021-04-16 04:11] simonlingoogle opened #6462 "Failed to build POSIX `ot-ctl` with TREL link only (without 802.15.4)"
**Describe the bug**

Failed to build on POSIX `ot-ctl` with TREL link only.

**To Reproduce**
[code]

**Expected behavior**
Build ot-ctl successfully.

**Console/log output**
[code]

The following command can work:
[code]

[2021-04-16 04:16] jwhui commented on #6462
Yes, multi radio requires at least one of:
- `-DOPENTHREAD_CONFIG_RADIO_LINK_TREL_ENABLE=1`
- `-DOPENTHREAD_CONFIG_RADIO_LINK_IEEE_802_15_4_ENABLE=1`

[2021-04-16 05:24] simonlingoogle commented on #6462
@jwhui
Yes. But see I have already used `-DOT_TREL=ON`. Seems it does not pass configuration `OPENTHREAD_CONFIG_RADIO_LINK_TREL_ENABLE=1` to posix apps.

[2021-04-16 05:49] ChauhanPD commented on #6283
Thanks @jwhui

For that experiment also, I need to know which flags should be ON for RCP image to make it work with Host processor's ot-br-agent/ot-ctl.

[2021-04-16 05:51] jwhui commented on #6283
See the [Setup OTBR](https://openthread.io/codelabs/openthread-border-router#1) section of the codelab.

[2021-04-16 05:54] jinran-google commented on #6460
The Codecov GitHub Action is using the same bash script, without any integrity checks, so it should not be an option: <https://github.com/codecov/codecov-action/blob/9b0b9bbe2c64e9ed41413180dd7398450dfeee14/src/index.ts#L15>

I think either we have to keep coverage uploading disabled for a while, until a good solution occurs, or we save a copy of the bash script in our repo and manually update it

[2021-04-16 05:54] bukepo opened #6466 "[github-actions] test_srp_register_single_service.py fails intermittently"
[logs_69004.zip](https://github.com/openthread/openthread/files/6322808/logs_69004.zip)
[cli-time-sync-thread-cert.zip](https://github.com/openthread/openthread/files/6322812/cli-time-sync-thread-cert.zip)

[2021-04-16 05:56] jwhui commented on #6460
@jinran-google , the primary concern is using it in scripts that a developer may run locally. Using the Codecov GitHub Action does not have this same risk.

[2021-04-16 05:57] jwhui commented on #6466
Dup of #6349

[2021-04-16 05:57] #6466 closed

[2021-04-16 06:15] jinran-google commented on #6460
OK, that makes sense. It's OK to use their GitHub Action as we don't use any other secrets besides `secrets.GITHUB_TOKEN` in GitHub Actions.

Also, Codecov is implementing a checksum verification in their GitHub Action and it will be landed by the end of tomorrow.

[2021-04-16 07:08] ChauhanPD commented on #6283
I have tried "OT_THREAD_VERSION=1.2", but not "USB_trans" as I thought it would be for nrf52840 Dongle or EVK.
But still with "OT_THREAD_VERSION=1.2", I am not able to communicate from Host processor by running ot-ctl with nrf52840  having RCP image. Error I observed is same "connect session failed: No such file or directory".  Should I use "USB_trans" option?

To build RCP I follow below link and

[2021-04-16 08:49] Irving-cl opened #6471 "[Proposal] add logs for test cases of Haisenbugs"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.
Currently we have many **'xxx fails intermittently'** issues. Sometimes with luck, we can fix the issue by observing the pcap. However, more often, I found it not easy to find out the root cause of these Haisenbugs without detailed logs. Here I proposed two solutions to collec

[2021-04-16 12:31] ChauhanPD commented on #6283
my (yocto) compilation output is as below:

CMake Error at build/tmp/work/cortexa7t2hf-neon-poky-linux-gnueabi/otbr/git-r0/recipe-sysroot-native/usr/share/cmake-3.14/Modules/FindBoost.cmake:2132 (message):
|   Unable to find the requested Boost libraries.
|
|   Boost version: 1.65.1
|
|   Boost include path: /usr/include
|
|   Could not find the following static Boost libraries:
|
|           boos

[2021-04-16 14:13] #6041 closed

[2021-04-16 14:13] #6449 closed

[2021-04-16 15:42] jwhui commented on #6283
The DK has two USB ports. If you connect to the nRF USB port, then you should us the `USB_trans` option. This is discussed in [the guide](https://openthread.io/codelabs/openthread-hardware#3) that I have linked a few times above.

You shouldn't need any options if you are using UART. `make -f examples/Makefile-nrf52840` should be sufficient in this case.

[2021-04-16 18:46] abtink opened #6472 "Lack of TREL posix implementation test coverage with removal of `ot-ncp` posix app"
TREL poisx platform implementation (in general multi-radio build) were covered by running full set of `toranj` tests under the previous `toranj-rcp-trel` in GitHub actions.

The `ot-ncp` posix app was recently removed from https://github.com/openthread/openthread/pull/6428 which basically also removed these tests from the GH action.

Note that we have a TREL platform implementation under simulatio

[2021-04-16 21:20] abtink commented on #6462
When building the posix platform configs seems to be set up correctly.
See we have both `-DOPENTHREAD_CONFIG_RADIO_LINK_TREL_ENABLE=1` and `-DOPENTHREAD_CONFIG_RADIO_LINK_IEEE_802_15_4_ENABLE=0`
[code]

[2021-04-16 22:43] abtink commented on #6462
I spent some time debugging this (enabling `verbose` mode on cmake and `ninja`).

I think this has to do with how cmake files were declared for posix app executables. _It actually has nothing to do with TREL and the `OT_TREL` flag itself._

See the command here for building `../../src/posix/cli.cpp`. None of the configs are incldued here other than the `DOPENTHREAD_CONFIG_RADIO_LINK_IEEE_802_15_4_

[2021-04-17 00:56] abtink commented on #6462
As I mentioned the issue is more fundamental to how the `posix` cmake files are defined and it is not really tied to TREL or `OT_TREL` flag.

The issue seems to be with  `src/posix/cli.cmake` (same situation with `src/posix/daemon.cmake`). They don't include `ot-config` under `target_link_libraries` and therefore the `OEPNTHREAD_CONFIG` definitions from cmake options are not included when building

[2021-04-19 01:23] simonlingoogle commented on #6462
Any comment on this issue? @bukepo

[2021-04-19 02:04] purvisb opened #6479 "linkmetrics not working as I expect"
**Describe the bug**
Here's my outputs
[code]
[code]
**To Reproduce**

Git commit id: de93711e223aade9867d4bf196258776be269b79
Using nrf52840-mdk
build all firmware with `USB=1 THREAD_VERSION=1.2 LINK_METRICS=1 JOINER=1 COMMISSIONER=1`

**Expected behavior**
The same outputs as seen [here](https://github.com/openthread/openthread/blob/main/src/cli/README.md#linkmetrics-query-ipaddr-single-pqmr)

*

[2021-04-19 08:49] Irving-cl commented on #6479
Hi @purvisb

Thanks for raising the issue. There are a few problems here:

* Your commit `de93711` is a little old. There are some fixes to this issue after this commit. Please use the latest commit.
* Regarding `linkmetrics mgmt fe80:0:0:0:1029:e885:cfe7:de20 enhanced-ack register qmr
`, please note that according to spec, **at most two** metrics can be used in enhanced-ack probing. So you can do

[2021-04-19 10:27] 99002507 opened #6486 "Issue on commissionig EFR32mg12 device into network"
I have followed  instructions from [https://www.silabs.com/documents/public/quick-start-guides/qsg170-openthread-sdk-quick-start-guide.pdf](url) to act as thread end device.

I have only one device, followed the instructions and made it as a leader.

My problem here is, As I have only one EFR32 device and made it as Leader and I can see from BorderRouters wpanctl status that BorderRouter is acting

[2021-04-19 14:33] #6460 closed

[2021-04-19 14:48] #6461 closed

[2021-04-19 23:00] jwhui commented on #6486
See response at https://groups.google.com/g/openthread-users/c/jDNeiIqsFzc/m/WVstLRjoCgAJ

[2021-04-19 23:00] #6486 closed

[2021-04-20 04:56] superwhd opened #6490 "Duplicate echo replies"
**Describe the bug**

A router sends an echo request to a border router. Then the border router sends back two echo replies.

**To Reproduce**

I detected this error in simulation environment. See https://github.com/openthread/openthread/pull/6484.

[code]

**Expected behavior**

This is a unicast echo request so I expected only one reply will be sent for every request.

**Console/log output**
![a

[2021-04-20 05:07] simonlingoogle commented on #6490
@superwhd
Thanks for revealing and reproducing this issue.

I guess maybe the ping request is handled by both OpenThread and Linux Kernel, causing duplicate ping responses.

[2021-04-20 06:50] superwhd opened #6494 "IP packet from link-local address is forwarded out of the link"
**Describe the bug**

Topology: ROUTER_2 ----- ROUTER_1 ---- ROUTER_3

ROUTER_2 sends an echo request, from ROUTER_2's link-local address to ROUTER_3's RLOC.

The ping request is forwarded to ROUTER_3, which I think is not as intended.

**To Reproduce**

The test case is in https://github.com/openthread/openthread/pull/6492.

To run the test case:
[code]

**Expected behavior**
The ping packet shou

[2021-04-20 08:06] eujean commented on #6360
Closing this issue here. Will reopen it on https://github.com/openthread/ot-cc13x2-cc26x2

[2021-04-20 08:06] #6360 closed

[2021-04-21 05:32] #4328 closed

[2021-04-21 07:24] mauricewillemsen commented on #6371
@jwhui , The issue seems related to SPI, cause it is not happening with the USB dongles.
However we have custom hardware board, with only SPI exposed to raspberry pi, and not uart. Having USB dongles is undesirable as well.
Setting `RESTORATION_MAX_COUNT` gives that the RCP is restored and the ot-daemon is not killed.
But the issue that the restoration is necessary remains.

We've found that is pr

[2021-04-21 11:21] pdgendt commented on #6371
I can confirm this issue, I've had the same problem with an nRF52840 RCP SPI connected to posix border router (custom board).

However I also had UART available, which never seemed to fail, so we changed to that.

[2021-04-21 12:21] ChauhanPD commented on #6283
Thanks @jwhui

I will compile RCP image without any flag, but ot-br-posix compilation is having an error related to "Boost" folder. Is "Boost" compulsory for ot-br-posix compilation? If Yes, may you guide/hint to resolve that error?

Regards.

[2021-04-21 17:39] jwhui commented on #6371
@LuDuda @MarekPorwisz , is this something you can help take a look at?

[2021-04-21 22:44] jwhui commented on #6494
Thread routers forward IPv6 messages across multiple hops at the 6LoWPAN layer - a layer below IP. In this case, I do not think it is the job of ROUTER_1 to drop the message. ROUTER_1 is simply forwarding the 6LoWPAN frame as is specified by the Mesh Addressing header.

We could add some code in the originating router (ROUTER_2 in this case) to drop the packet if it notices that the destination is

[2021-04-22 00:54] jwhui commented on #6283
Boost dependencies are normally installed as part of script/bootstrap:
https://github.com/openthread/ot-br-posix/blob/a362436119261c7ea8f74a778b0d2a1236579b4f/script/bootstrap#L65

I believe Boost is only required by the web service feature. If you do not require the web service feature, then you can disable it by setting the `OTBR_WEB` CMake option to `OFF`.

[2021-04-22 06:18] simonlingoogle commented on #6494
I think you are right that the Router is forwarding the message according to its mesh header.

Maybe we just say it's expected behavior as long as the ping is not successful in the end.

@librasungirl @superwhd

[2021-04-22 13:31] MarekPorwisz commented on #6371
@pszkotak Please have a look at it

[2021-04-22 21:23] abtink commented on #6447
Submitted PR https://github.com/openthread/openthread/pull/6501 which implements what we discussed above.

[2021-04-23 02:52] jwhui commented on #6412
[logs_71072.zip](https://github.com/openthread/openthread/files/6362404/logs_71072.zip)

[2021-04-23 04:50] #6412 closed

[2021-04-25 03:29] simonlingoogle commented on #6494
Agree with @jwhui that checking the source address is not that useful:

- The checking code is never useful but only adds code size because OT should never sends packets with wrong source addresses (except for testing purpose)
- In the case of testing, we actually prefer the packets with wrong source addresses to be sent out so as to test the behavior of the receiving devices.

Should we close thi

[2021-04-26 05:17] jwhui commented on #6338
Closing stale issue.

[2021-04-26 05:17] #6338 closed

[2021-04-26 06:21] ChauhanPD commented on #6283
Hello @jwhui
Thanks for your reply and support.

One more query:
script/setup modifies and/or adds files to the file-system along with compilation. Right? So, in my case of Yocto compilation, it actually modifies files of my PC and compiles code of the yocto build folder.
Is it okay to set up after compilation? Is there any dependency of set-up before compilation? Can we do only compilation and th

[2021-04-27 09:42] backkem commented on #6456
Hi @jwhui, I'm wondering if this meeting is open to the public. I'm trying to broaden LAN support in browsers, see [Local devices API](https://discourse.wicg.io/t/idea-local-devices-api-lan-services). Enabling secure access to Thread devices from the browser would be a perfect use-case.

[2021-04-27 14:03] pszkotak commented on #6371
@mauricewillemsen, so far I did not not manage to reproduce the issue with the ot-cli (instead of ot-daemon) with lower clock (500kHz instead of 8MHz). Now I'm switching to the values you tested. It would make debugging a bit harder, but there I do not see other options at this moment.

In my test scenario I use another CLI FTD device which is constantly pinging the RCP+RPi node.
The command I use

[2021-04-27 14:56] jwhui commented on #6456
@backkem , yes, this meeting is open to anyone in the OpenThread community that would like to join. Please send me your name and email address and I will add you to the calendar invite.

[2021-04-27 15:37] abtink commented on #6472
Submitted https://github.com/openthread/openthread/pull/6518 which is adding some build checks under posix with TREL enabled in the CI.

[2021-04-27 15:51] abtink opened #6520 "[github-actions] frequent failures of `cli-ftd-otns`"
Noticed that `cli-ftd-otns` seems to be failing more frequently (than before):
- https://github.com/openthread/openthread/actions/workflows/simulation-1.1.yml
- Example: https://github.com/openthread/openthread/runs/2448314372?check_suite_focus=true
(Seems to be related to "Generate coverage" step).

@simonlingoogle can you please help take a look. Thanks.

[2021-04-27 15:54] backkem commented on #6456
@jwhui Michiel De Backker; ![image](https://user-images.githubusercontent.com/38858977/116272807-7e81fd00-a781-11eb-837b-a2e6bcfd28b8.png)

[2021-04-27 16:48] jwhui commented on #6520
See https://github.com/openthread/ot-ns/pull/123

[2021-04-27 16:57] #6520 closed

[2021-04-27 17:27] jwhui commented on #6283
@ChauhanPD , your current issues all seem related to cross-compiling OTBR for i.MX6ULL. If so, can you close this issue and open a new issue in https://github.com/openthread/ot-br-posix/ ?

[2021-04-27 18:27] pszkotak commented on #6371
It's been at least 3 hours with the ot-deamon and 8MHz SPI clock and still no issues with the communication.
@mauricewillemsen, do you have any more hints that could help to reproduce the issue?

[2021-04-27 22:47] jwhui commented on #6337
Resolved by #6458

[2021-04-27 22:47] #6337 closed

[2021-04-28 00:29] jwhui opened #6523 "[github-actions] MATN_15_ChangeOfPrimaryBBRTriggersRegistration.py fails intermittently"
[logs_72225.zip](https://github.com/openthread/openthread/files/6388317/logs_72225.zip)
[thread-border-router-results.zip](https://github.com/openthread/openthread/files/6388319/thread-border-router-results.zip)

[2021-04-28 03:33] bukepo commented on #6367
unfortunately,  `apt` doesn't provide this package. This line tries its best to install shfmt if `brew` is available.

[2021-04-28 04:51] bukepo commented on #5980
Does this failure still happen?

[2021-04-28 04:52] jwhui commented on #5980
I haven't seen this in a while. Closing.

[2021-04-28 04:52] #5980 closed

[2021-04-28 05:02] jwhui opened #6525 "[github-actions] v1_2_LowPower_7_1_01_SingleProbeLinkMetricsWithEnhancedAcks.py fails intermittently"
[logs_72353.zip](https://github.com/openthread/openthread/files/6389190/logs_72353.zip)
[packet-verification-low-power-pcaps.zip](https://github.com/openthread/openthread/files/6389191/packet-verification-low-power-pcaps.zip)

[code]

[2021-04-28 05:54] #6283 closed

[2021-04-28 06:16] jwhui commented on #6462
Resolved by #6474

[2021-04-28 06:16] #6462 closed

[2021-04-28 07:38] Tonyyengithub opened #6526 "[docs] nRF5x Command Line Tools link is invalid"
**Describe the bug** A clear and concise description of what the bug is.
Page (https://openthread.io/codelabs/openthread-hardware#1)
'Install nRF5x Command Line Tools' website link is invalid

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id
2. IEEE 802.15.4 hardware platform
3. Build steps
4. Network topology

**Expected behavior** A clear and concise descripti

[2021-04-28 07:40] pszkotak commented on #6371
Another question that comes to my mind is about the connection.
Have you connected the interrupt pin? As far as I remember we experienced some issues without it in the past.
In my case the connection looks exactly as [here](https://infocenter.nordicsemi.com/topic/sdk_tz_v4.1.0/thread_border_router.html#thread_border_router_setup_3_spi).

[2021-04-28 12:14] Endag opened #6528 "Node not acquiring address from on-mesh(global) prefix."
In my test network i have border gateway based on otbr( commit 8f23e77966a36ed67eb99b9be14e6189806977b6) and two nodes, one based on stock nRF52840 ftd-cli (from 4.1.1 SDK), second is my code loosely based on that SDK.

Demo from SDK acquiring global address normally, but my own application is not.

What kind of settings can cause such behavior? I tried to not modify openthread's config files from

[2021-04-28 12:33] wgtdkp commented on #6528
I suspect your second end device is not in the same Thread network which is
formed by OTBR:
1. make sure that you can ping the OTBR device from your second end device.
2. please provide the result of command "netdata show" on all the 3 devices
if pinging OTBR is working.

BRs,
kangping

On Wed, Apr 28, 2021 at 8:14 PM Endag ***@***.***> wrote:

[2021-04-28 12:56] Endag commented on #6528
I can all nodes by mesh-local address normally in any combination.

Openthread release in my nodes is too old to give human-readable network data, will binary dump be helpful to you?

[2021-04-28 13:24] Endag commented on #6528
I'll leave it here anyway to save time

On first glance end-devices netdata is matching

ot-ctl netdata show
Prefixes:
fd11:22:0:0::/64 paros med d800
Routes:
fd5d:d8ff:4288:0::/64 s med d800
Services:
Done

ftd-cli
03140040fd110022000000000504d800330007021140030f0040fd5dd8ff428800000103d80000081a0b02d4010810000000000000000000000000000000000902d800

my app
03140040fd110022000000000504d800330007021

[2021-04-28 15:42] jwhui commented on #6528
@Endag , one thing to check is whether [OPENTHREAD_CONFIG_IP6_SLAAC_ENABLE](https://github.com/openthread/openthread/blob/2999f834e644cd84ad5991a104f736cf1da39ce0/src/core/config/ip6.h#L117) is enabled.

[2021-04-28 22:34] jwhui commented on #6523
This failure seems to happen fairly frequently.

[2021-04-29 02:51] anying11 opened #6531 "otns failed to detect node uart type"
I come from the otns project and install openthread and otns according to the guide of otns.But it went wrong.The author of otns told me it has something to do with ot-cli-ftd and readline.Althouth I rebuilt readline ,it still has gone wrong.I felt hopeless.Could me give some advice on the reason of bug or the way to fix it?Thanks

[2021-04-29 04:03] Vyrastas commented on #6526
Thanks for reporting this, I'll check across all the codelabs and docs to ensure the link is updated, as I think we use it in other content.

[2021-04-29 04:53] Endag commented on #6528
Enabling SLAAC indeed helps, thank you.

But I didn't find in documentation any clear clues that SLAAC is needed for communication beyond scope of mesh, as  mesh-local address is auto-assigned by stack when commissioning i was expecting that same goes for global address, if prefix available.
Perhaps documentation (or at least config entries in headers) need some clarification.

[2021-04-29 04:53] #6528 closed

[2021-04-29 16:46] samkumar commented on #6456
Here are the slides that I presented at today's meeting: [openthread_tcp_design_implementation.pdf](https://github.com/openthread/openthread/files/6400253/openthread_tcp_design_implementation.pdf)

There was broad support for using TCPlp. As we discussed, I'll make a pull request with the entire TCP stack so that people can try out the code, but I'll also submit "bite-sized" pull requests so that

[2021-04-29 23:01] jwhui opened #6538 "[github-actions] test_ndproxy.py fails intermittently"
[logs_72922.zip](https://github.com/openthread/openthread/files/6402091/logs_72922.zip)
[thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6402092/thread-1-2-backbone-results.zip)

[2021-04-30 01:05] #6525 closed

[2021-04-30 11:19] pszkotak commented on #6371
@MarekPorwisz, unassigning myself. Please reassign if there will be a need for it.

[2021-04-30 18:11] ndyck14 opened #6546 "[border router] total SRP server entries on a network should be limited by BR clients"
Unicast SRP server entries take up 22 bytes in the network data and anycast entries take 2 bytes. Both should be limited for cases where users may have many BRs.

Suggested limits:
unicast: 2 per network
anycast: 5 per network

Requirements:

1. Servers must observe the network data and if the limit for SRP servers has been reached, they must not add their own entries
2. If the limit has been exce

[2021-04-30 18:13] ndyck14 commented on #6546
We can look to take up this work. Feedback on the description is welcome

[2021-04-30 22:31] abtink commented on #6546
Thanks @ndyck14 for submitting this and also offering to help with this.

Yes, we do indeed need such a feature and behavior.

I have actually already started on such a feature as a follow up to PR https://github.com/openthread/openthread/pull/6501.

We had an experimental implementation of a very similar behavior for on-mesh prefix entries in network data from years ago (it was intended for an in

[2021-05-01 00:51] jwhui commented on #6479
Closing stale issue.

[2021-05-01 00:51] #6479 closed

[2021-05-01 00:51] #6411 closed

[2021-05-02 05:54] tutulala opened #6549 "ECDSA build error on EFR32 (BRD4166A) platform"
**Describe the bug** A clear and concise description of what the bug is.

While building SRP_CLIENT example with nrf52840 platform (for USB dongle) when through and work as expected with following flags:
[code]

The same build is broken on EFR32 (BRD4166A) platform with following flags:
[code]
And it ends up in following error:

[code]

**To Reproduce** Information to reproduce the behavior, inclu

[2021-05-02 08:20] tutulala commented on #6549
It seems at least 4 defines are missed:

[code]

For cmake build script (when build with cmake):
This source ${SILABS_MBEDTLS_DIR}/library/pkwrite.c need to be added in the source list of <root>/third_party/silabs/cmake/mbedtls.cmake.

[2021-05-02 20:20] iniakpothompson commented on #1137
These were my steps to solve the problem:
1. pip install crypto
2. pip install pycryptodome
3. Change crypto to Crypto in the Library->site-packages folder of my virtual environment

[2021-05-03 05:24] thanglenguyen commented on #6549
Created a [pull request](https://github.com/openthread/ot-efr32/pull/41) on platform specific repo openthread/ot-efr32.

[2021-05-03 18:25] romacdon commented on #6549
I assigned this @thanglenguyen since they created a PR against it - https://github.com/openthread/ot-efr32/pull/41

[2021-05-03 18:49] #6549 closed

[2021-05-04 20:48] Vyrastas commented on #6526
This will be fixed in https://github.com/openthread/ot-docs/pull/14

[2021-05-04 23:09] jwhui opened #6563 "[github-actions] test_radvd_coexist.py fails intermittently"
[logs_73915.zip](https://github.com/openthread/openthread/files/6424353/logs_73915.zip)
[thread-border-router-results.zip](https://github.com/openthread/openthread/files/6424354/thread-border-router-results.zip)

[2021-05-05 06:31] Endag commented on #6371
I've ran into same issue with RCP connected by USB, so it seems to be something more to  investigate

[2021-05-05 18:51] jwhui commented on #6371
@Endag , this seems like a different issue. If you continue to experience this problem, please open a new GitHub Issue and provide more details necessary to reproduce the issue, including git commit, commands used to build the firmware image, etc.

[2021-05-05 22:11] jwhui commented on #6538
[logs_8082.zip](https://github.com/openthread/openthread/files/6430526/logs_8082.zip)
[thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6430527/thread-1-2-backbone-results.zip)

[2021-05-06 01:04] jwhui opened #6566 "[github-actions] test_dua_routing.py fails intermittently"
[logs_8083.zip](https://github.com/openthread/openthread/files/6431084/logs_8083.zip)
[thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6431085/thread-1-2-backbone-results.zip)

[2021-05-06 02:52] #6523 closed

[2021-05-06 03:19] jwhui opened #6568 "[github-actions] test_multi_border_routers.py fails intermittently"
[logs_8086.zip](https://github.com/openthread/openthread/files/6431530/logs_8086.zip)
[thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6431531/thread-1-2-backbone-results.zip)

[2021-05-06 04:07] wgtdkp opened #6571 "[github-actions] MATN_16_LargeNumberOfMulticastGroupSubscriptionsToBBR.py fails intermittently"
[MATN_16_log.txt](https://github.com/openthread/openthread/files/6431690/MATN_16_log.txt)
[thread-border-router-results (2).zip](https://github.com/openthread/openthread/files/6431691/thread-border-router-results.2.zip)

[2021-05-06 04:22] jwhui commented on #6303
[logs_74077.zip](https://github.com/openthread/openthread/files/6431735/logs_74077.zip)
[thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6431736/thread-1-2-backbone-results.zip)

[2021-05-06 04:25] jwhui opened #6572 "[github-actions] v1_2_LowPower_5_3_01_SSEDAttachment.py fails intermittently"
[logs_74085.zip](https://github.com/openthread/openthread/files/6431740/logs_74085.zip)
[packet-verification-low-power-pcaps.zip](https://github.com/openthread/openthread/files/6431742/packet-verification-low-power-pcaps.zip)

[2021-05-06 04:29] jwhui opened #6573 "[github-actions] test_mlr_multicast_routing_timeout.py fails intermittently"
[logs_74185.zip](https://github.com/openthread/openthread/files/6431751/logs_74185.zip)
[thread-1-2-backbone-results.zip](https://github.com/openthread/openthread/files/6431752/thread-1-2-backbone-results.zip)

[2021-05-06 04:51] jwhui opened #6574 "[github-actions] MATN_09_DefaultBRMulticastForwarding.py fails intermittently"
[logs_74026.zip](https://github.com/openthread/openthread/files/6431810/logs_74026.zip)
[thread-border-router-results.zip](https://github.com/openthread/openthread/files/6431811/thread-border-router-results.zip)

[2021-05-06 05:14] wgtdkp commented on #6568
The error is:
[code]

It doesn't look like an issue with the test itself.

[2021-05-06 05:33] Endag opened #6575 "Cyclic deamon quit at HandleRcpTimeout"
OTBR daemon repeatedly quits (and get restarted by systemd to only quit again) complaining about timeout of communication with RCP.

**To Reproduce** Information to reproduce the behavior, including:

**OTBR build:**
Git commit: 8f23e77966a36ed67eb99b9be14e6189806977b6
Cmake build options: -D BUILD_TESTING=OFF -D OTBR_BORDER_ROUTING=ON -D OTBR_WEB=ON -D OTBR_REST=ON -D THREAD_VERSION=1.2

Build it

[2021-05-06 05:34] Endag commented on #6371
gotcha, moved with my problem https://github.com/openthread/openthread/issues/6575

[2021-05-06 15:39] romacdon commented on #6456
Hi @samkumar - thanks for all the research and the great presentations wrt to your TCP work. This IETF document was recently brought to my attention and I'm wondering how much the info in this doc overlaps with the research you've done. https://tools.ietf.org/id/draft-ietf-lwig-tcp-constrained-node-networks-04.html.

[2021-05-06 17:08] #6563 closed

[2021-05-06 17:10] samkumar commented on #6456
Hi @ramacdon, that Internet Draft is indeed in the same spirit as my research. The same author, Prof. Gomez, also published an [article in IEEE Internet Computing](https://ieeexplore.ieee.org/document/8259430) that you may be interested in.

Overall, these are the key differences I've identified:
1. The Internet Draft gives recommendations on TCP usage, and additional useful TCP features, in the c

[2021-05-06 17:13] jwhui commented on #6574
Resolved by #6579

[2021-05-06 17:13] #6574 closed

[2021-05-06 17:14] romacdon commented on #6456
Thank you very much for the detailed reply @samkumar.

[2021-05-06 18:13] jwhui commented on #6575
@Endag , thanks for raising this issue.

For the RCP, are you using the [nRF52840 Dongle](https://www.nordicsemi.com/Software-and-tools/Development-Kits/nRF52840-Dongle) or your own custom hardware?

Are you able to test with the reference hardware (Raspberry Pi 3B+ or 4B and a nRF52840 Dongle)? If so, do you see similar behavior?

[2021-05-06 18:16] jwhui commented on #6371
@mauricewillemsen , any thoughts on the questions posed above?

- https://github.com/openthread/openthread/issues/6371#issuecomment-827822428
- https://github.com/openthread/openthread/issues/6371#issuecomment-828226297

[2021-05-06 22:20] abtink opened #6583 "[log] bad string/output in logs"
I have noticed recently some bad/weird formats in some of the log lines (e.g., the `Send Advertisement` below).
[code]

Adding this issue to investigate this further.

[2021-05-06 22:39] abtink commented on #6583
I think I found the cause of this issue. It seems that it was introduced from PR https://github.com/openthread/openthread/pull/6564 (adding `StringWriter`).

Here is, for example, the method that logs MLE message (e.g., `Send Advertisement`).
[code]

The issue is that this code assumed that `String<kRlocStringSize> rlocString` will start as an empty string, but now we don't have a constructor in `

[2021-05-06 23:11] abtink commented on #6583
Found a few other cases that same issue can happen, e.g., in `link_quality.cpp`:
[code]

Also in `RadioSelector::Log()` method.

[2021-05-07 00:04] abtink commented on #6583
Submitted PR https://github.com/openthread/openthread/pull/6584 to fix this.  This can impact beyond just getting bad log (can potentially cause crash) so I think we want to address it quickly.

The idea in this PR is that any `String` variable definition is always immediately followed by a `StringWriter writer(string)` definition which then initializes the string buffer (sets it as empty). I went

[2021-05-07 00:59] bukepo commented on #6583
Thank you for the quick fix! I thought the static analyzers can find such indeterminate values. Let's see if we can find some enhancements to the GitHub action checks.

[2021-05-07 01:44] simonlingoogle commented on #6583
Why didn't we go with solution 1. I think option 1 is better so that `StringWriter` is just responsible for appending characters to the string. It does not care if the original string is empty or not.

[2021-05-07 02:01] abtink commented on #6583
I do like this as well sine it is a safer model, but did not go for it for now due to its code size impact. Adding a constructor to clear the `String` adds up to ~110 bytes (please see https://github.com/openthread/openthread/pull/6582). It somewhat defeats one of the main benefits of `StringWriter` (which is/was to reduce code size).  For now, I think would be good to fix this quickly and then  l

[2021-05-07 02:28] #6583 closed

[2021-05-07 03:45] simonlingoogle commented on #6538
**Current findings:***

PBBR (also Leader) re-register its DUA and sends unsolicited NA and `Backbone Answer`, which resets its `Time Since Last Transaction` to zero.

[code]

It's unclear why PBBR re-registers. Checked the code but couldn't find any cause that may cause PBBR to reregister its DUA.

Corresponding PCAP: [test_ndproxy_9_merged.pcap.zip](https://github.com/openthread/openthread/files

[2021-05-07 03:49] simonlingoogle commented on #6538
[test_ndproxy_9.log](https://github.com/openthread/openthread/files/6438897/test_ndproxy_9.log)

[2021-05-07 05:27] Endag commented on #6575
It was custom hw, tested with  PCA10056 DK and same RCP fw, it seems to work fine, so it must be something in rcp's platform part of code.

Mine RCP-board version is mainly breakdown board for interfaces and  radio/usb on standart pins, so it was working fine when it was flashed with NCP firmware from Nordic SDK(so i didn't think to check rcp with other hw).

Any suggestions where to check platfor

[2021-05-07 06:59] jwhui commented on #6575
@Endag , the logs show that the host is not receiving an indication from the RCP that the transmit operation completed successfully and timed out.

I am not able to reproduce this issue using a Raspberry Pi 4B and a nRF52840 Dongle. Can you confirm whether the RCP firmware you built experiences the same issue using the reference hardware (Raspberry Pi 3B+ or 4B and a Nordic board)?

[2021-05-07 07:32] kkasperczyk-no opened #6586 "Potential vulnerability in remove - re-add service pattern."
**Problem**
Some time ago we discussed with @abtink @LuDuda @Damian-Nordic and @jwhui the problem of missing service update feature and we concluded it that this is how SRP protocol works like, so in case of necessity to update specific service record it should be removed and re-added once again.

I introduced that solution in the Project CHIP, but @msandstedt noticed (https://github.com/project-c

[2021-05-07 07:38] Endag commented on #6575
As i said, same firmware works fine when i using standart Nordic PCA10056-DK board as RCP.

Only reason i can come up now for such behavior is that RCP firmware uses some pins that cause  some errors in hardware, but for now i cannot  figure which.
Pin used by radio driver's FEM are unused at my board.

[2021-05-07 07:50] abtink commented on #6546
Just submitted PR #6587.

[2021-05-07 08:22] wgtdkp commented on #6586
Not sure if I understand the problem correctly, but if your requirement is to update service RRs like TXT entries or port number in SRV RR, I think SRP supports this well. The client can always re-new the SRP service with different RRs.

I see you PR in the CHIP repo https://github.com/project-chip/connectedhomeip/pull/6539. The problem is that you are trying to add two different services with the

[2021-05-07 08:37] kkasperczyk-no commented on #6586
Thanks for answering on that @wgtdkp, I answered your questions in PR comment: https://github.com/project-chip/connectedhomeip/pull/6539#discussion_r628025782

[2021-05-07 09:05] thcu-gp commented on #6367
The script failed ungracefully once (that's  why I opened the issue)
But on the last try it showed the warning properly.
Closing the issue

[2021-05-07 09:05] #6367 closed

[2021-05-07 09:08] wgtdkp commented on #6586
https://github.com/project-chip/connectedhomeip/pull/6539#discussion_r628051535 @abtink @jwhui  thoughts?

[2021-05-07 09:22] McDope999 opened #6588 "OpenThread And Azure IoT Hub question"
I'm currently working on a project where we are looking into using OpenThread along with Azure IoT Hub, and I would like to hear if anyone anyone have experience/knowledge about integrating an OpenThread device with Azure IoT Hub? I'm new to both technologies, but one of the problem i'm facing is that Azure IoT SDK is supporting MQTT, which is not supported by OpenThread because of the UDP transpo

[2021-05-07 15:27] librasungirl commented on #6538
From the log
[code]
We can see thatThe reregistration delay in default bbr dataset (1200s) takes effect indeed, which might be the reason that we see re-registration from PBBR some time later.

I would say that the change in https://github.com/openthread/ot-br-posix/pull/724 (which enables bbr functionality by default) helps to expose one issue in existing dua implementation. When sending DUA.req,