[2017-05-19 18:36] jwhui commented on #1771
Resolved by #1772.

[2017-05-19 18:36] #1771 closed

[2017-05-20 19:31] DuaneEllis-TI opened #1794 "TODO: IPV6_LL_ADDR - in the NCP is not implemented."
WPANTUND - requests, and the NCP replies with not-implemented for this property.
Not a show stopper but something to put on the backlog.

[2017-05-22 14:27] GiedriusM opened #1798 "NCP-UART: assert when used with CDC"
One of my devices uses USB CDC protocol as a UART channel. This means that before the VCOM is opened on the host, no data can be sent and as such otPlatUartSend returns an error, which causes an assert in `ncp_uart.cpp`, when sending an initial status update (even before wpantund sends any information).

I've changed otPlatUartSend code to always return no error and this seems to work, however I h

[2017-05-22 14:31] thcu-gp commented on #1780
I agree with your final conclusion.

[2017-05-22 15:07] LuDuda commented on #1798
We have encountered similar problem with USB CDC. Please look at #1563

[2017-05-22 16:01] GiedriusM commented on #1798
Thank you, @LuDuda. That's exactly the same problem. Is it correct to say that the consensus and the proposed solution for this issue is that UART driver should never return en error, but instead delay calling otPlatUartSendDone until it is ready to send new data?

[2017-05-22 20:39] beriberikix opened #1803 "FR: Arduino support"
Arduino has been a long-time ask as a supported framework. Most users just want a solution that allows them to hang a radio off an Uno, form a simple mesh and write some Processing code to blink lights/control motors/etc. I propose that an initial port would effectively be an NCP connected to an Arduino via serial and Arduino-inspired interface that maps to the CLI commands. Any OT-supported platf

[2017-05-23 02:51] aeliot commented on #1803
I think that the initial port, with just the NCP model, shouldn't involve too many (if any) changes to OT, it should just need an Arduino library to handle spinel, and probably a bit of management so that the user doesn't need to know too much about the inner workings of OT.

[2017-05-23 03:56] aeliot commented on #1803
I spoke too soon.  I had assumed that since there were other network technologies that supported Arduino, there would be a light weight IP stack for it already.  It looks like most shields actually bring their own IP stacks, running them NCP side instead of host side.  I'm looking into if it would be worth it to port a super light weight IP stack (probably uIP since it looks like it could fit on a

[2017-05-23 04:06] jwhui commented on #1803
OT brings just enough of an IPv6 stack to support Thread.  Another possibility is to extend Spinel to export another data stream that is more friendly to application developers (e.g. UDP).

[2017-05-23 04:38] aeliot commented on #1803
Yea, thats what I was just thinking about.  This also could make porting to other minimal development platforms easier down the road too.

[2017-05-23 06:48] rlubos commented on #1798
Exactly, this is how it works on our side. When USB CDC driver is not able to send data due to closed port, it  stores the data, sends it once the port is opened and then calls otPlatUartSendDone. No data should be lost in this particular case, as NCP shall not send any more data before otPlatUartSendDone is called.

[2017-05-23 15:18] GiedriusM commented on #1798
Applied your solution. Seems to work.

[2017-05-23 15:18] #1798 closed

[2017-05-23 21:11] LuDuda opened #1814 "Invalid MPL cache entry lifetime value"
I've just spotted that OT sets `OPENTHREAD_CONFIG_MPL_CACHE_ENTRY_LIFETIME` to **5** seconds.

Current specification defines it to **30** minutes (according to RFC7731), but this time may be reduced to **90** seconds (due to errata [SPEC-679](https://threadgroup.atlassian.net/browse/SPEC-679))

If we adjust our cache lifetime, I believe there is a need to store our MPL Sequence value in a persiste

[2017-05-23 21:32] DuaneEllis-TI opened #1815 "Inconsistent prototype vrs implementation in src/core/meshcop/dataset_manager.cpp"
The prototype in the class definition is:
[code]
The implementation, has 'const uint8_t aLenght'
[code]
our static code checkers found this inconsistency.

[2017-05-24 11:58] wbober opened #1818 "Router floods network with Child Update Requests after reset"
We see a suspicious behavior of a router/leader after reset. If the router had any children then, after reset, it will send a child Update Request to each of them. The issue is that it keeps doing so every second, for about 240 seconds (I guess until all children are removed from the child table). Is that intended?

Steps to reproduce:
- start a device and wait until it promotes to a leader
- star

[2017-05-24 15:33] jwhui commented on #1818
The mechanism you are observing is intended to implement the child restoration feature after a reset, as discussed in Thread 1.1 Section 4.7.3.  I'll review the implementation again to see if/how we can improve.

[2017-05-24 15:39] wbober commented on #1818
@jwhui Yes, I'm aware of that. The issue is that the current implementation causes quite a lot of traffic (4 frames / child) every second. My understanding of Section 4.7.3 is that it's sufficient to send a single Child Update Request after a reset.

[2017-05-24 15:45] jwhui commented on #1818
If the implementation is sending 4 frames/child every second, I agree that is a problem.  At the same time, I'm not sure one is that robust since messages can get lost (albeit with low probability).  I think some number between 2 and 4 is sufficient.

[2017-05-24 15:51] wbober commented on #1818
From a brief code inspection and info from my colleagues it looks like there is one Child Update Request / per child / per second generated in mle_router. 4 frames per request are due to MAC retransmissions.

I think it should be sufficient to generate a single Child Update Request / per child sometime after reset and leave to MAC to deal with potential frame loss.

[2017-05-24 15:54] jwhui commented on #1818
Ah, I see what is going on.  I believe the current logic was written with the SED in mind.  For SEDs, the desire was to keep trying to send Child Update Request messages for as long as the SED's timeout.  We felt this was OK given that transmissions are naturally rate limited by the SED's polling.

However, the current logic fails to change that behavior for rx-on-when-idle Children.  I'm fine wit

[2017-05-24 18:30] #1815 closed

[2017-05-24 20:18] jwhui commented on #1814
Regarding the `SEED_SET_ENTRY_LIFETIME` value, I believe even 90 seconds is much longer than we need.  With relatively small values of `DATA_MESSAGE_IMAX` and `DATA_MESSAGE_TIMER_EXPIRATIONS` should mean that something on the order of 5 seconds should be sufficient.  Thoughts?

I'd like to avoid non-volatile storage of the MPL Sequence value, if possible.

[2017-05-24 20:32] jwhui commented on #855
The attach mode argument was removed from the API as a part of #1816.

[2017-05-24 20:32] #855 closed

[2017-05-24 22:40] abtink commented on #1794
This has been bothering me as well... Will take care of it...

[2017-05-25 00:34] jwhui commented on #1467
Resolved by #1619.

[2017-05-25 00:34] #1467 closed

[2017-05-25 02:51] d-bahr opened #1828 "Multi-Hop Multicast Packets via NCP"
I have a network with 2 routers and 1 leader. The leader is within range of router 1, and router 1 is within range of router 2, but the leader is out of range of router 2 and must go through an extra hop to get there.

When I send a multicast packet from the leader to the all-nodes link-local address "FF02::1", I would expect both routers to receive the multicast packet, but it appears that router

[2017-05-25 02:53] jwhui commented on #1828
Link-local scope in Thread is defined by receivers within direct transmission range.  If you want to reach receivers multiple hops away using multicast, you need to use Realm-Local Scope (e.g. FF03::1).

[2017-05-25 05:12] d-bahr commented on #1828
Thanks, that seems to do the trick. In the CLI, pinging FF02::1 only returned a ping from router 1, but pinging FF03::1 returned a ping from both routers. I'll go ahead and close this issue.

[2017-05-25 05:12] #1828 closed

[2017-05-25 13:44] #1818 closed

[2017-05-25 15:22] LuDuda commented on #1814
@jwhui I'm fine with the current solution.

But maybe we should propose this change to be included in the specification.

I can easily imagine situation where node with OpenThread stack may have problem to send MPL messages to nodes with other Thread stack. e.g. after reset (in worst case other nodes will not hear up to 27 MPL messages)

[2017-05-27 02:19] chshu opened #1839 "CC2650: Pass up ACK frames to support the new transmit done callback"
Please refer to #1786, #1790 for more details.

[2017-05-27 02:20] chshu opened #1840 "KW41Z: Pass up ACK frames to support the new transmit done callback"
Please refer to #1786, #1790 for more details.

[2017-05-27 02:21] chshu opened #1841 "EMSK: Pass up ACK frames to support the new transmit done callback"
Please refer to #1786, #1790 for more details.

[2017-05-27 02:25] chshu opened #1842 "nRF52840: Pass up link quality information of the ACK frames"
#1836 passed up the ACK Psdu, while the link quality information of the ACK frame is not passed up. Another enhancement in #1790 is that all ACK messages will be used for link quality evaluation, so it would be better to also pass up the link quality information of the ACK frames.

[2017-05-27 02:28] chshu commented on #1786
Filed separate issues (#1839, #1840, #1841, #1842) for the remaining work on different platforms, so I think this issue could be closed.

[2017-05-27 02:28] #1786 closed

[2017-05-29 07:18] georgecpr commented on #1840
Please test and feedback PR #1848

[2017-05-31 16:06] #1842 closed

[2017-05-31 16:07] jwhui commented on #1840
Resolved by #1848.

[2017-05-31 16:07] #1840 closed

[2017-06-01 09:14] qiangg commented on #1841
I have send a PR #1859. The code has been tested on EMSK board. Thanks.

[2017-06-01 13:02] beriberikix opened #1860 "Move vagrant, docker in /etc to "Script to rule them all""
https://github.com/github/scripts-to-rule-them-all

`borderrouter` [moved](https://github.com/openthread/borderrouter/pull/7) to the [script-to-rule-them-all](https://github.com/github/scripts-to-rule-them-all) config boilerplate and I think it is a very clean pattern. I'm proposing we move the Vagrantfile, Dockerfile (when merged) and [codelab](https://codelabs.developers.google.com/codelabs/open

[2017-06-01 16:00] jwhui commented on #1841
Resolved by #1859.

[2017-06-01 16:00] #1841 closed

[2017-06-01 16:02] jwhui commented on #1663
@mstamer, can you provide any updates on this issue?

[2017-06-01 16:20] mstamer commented on #1663
Sorry for the delay.  I have the code done and figured out the issues.  Issue was in the distcheck, it actually copies and zips all files,  then unzips in different location to build that.  So, main issue was that I needed to include this new header file in one of the make files...  That solved the problem...  Since it has be quite a while, I plan to do a re-pull of the repo, and then re-apply my

[2017-06-01 20:20] jwhui commented on #1794
Resolved by #1826.

[2017-06-01 20:20] #1794 closed

[2017-06-02 01:29] DuaneEllis-TI opened #1863 "cli coap example does not seem to work"
make -f examples/Makefile-posix

In one terminal window:
[code]
In a second terminal window
[code]
Note: Over the air, using real hardware and a sniffer, I see the CoAP response.
I also tried other variants.
[code]
This contradicts the example in the documentation.
[code]
Am I missing something?

[2017-06-02 01:31] jwhui commented on #1863
This was first reported here: https://groups.google.com/forum/#!topic/openthread-users/YHw1DqGynmQ

I'm actively working on a fix for this.

[2017-06-02 11:53] thcu-gp opened #1869 "Test harness FED 9.2.13 fails"
**Observation:** The parent of the dut sends a icmp destination unreachable.

**Cause:** the ping destination is the mleid of the dut, but the mesh header final destination is the dut's parent's rloc16. Because the dut is a FED, the parent does not know the dut's mleid, therefore sending the icmp error (it can not ip forward the message).

**Down the rabbit hole:** the Final destination in the mes

[2017-06-02 15:56] #1863 closed

[2017-06-02 18:37] jwhui commented on #1869
@thcu-gp, good catch!  I agree that the FED should be the originator for the mesh header.  The existing implementation only checked whether the device was in the child state.  We really should be checking whether or not the device is acting as an MED.  I have submitted #1870 to address this issue.  Please review.

[2017-06-03 20:35] jhwoodyatt opened #1873 "Consider making OpenThread available with the Conan C/C++ Package Manager"
The [Conan](https://conan.io/) C/C++ Package Manager seems to be the emerging convention.

[2017-06-03 22:44] beriberikix commented on #1873
Ya, Conan seems to be growing in popularity and will likely grow now that jfrog acquired them.

@jhwoodyatt are you familiar with their system and syntax at all? Adding a config to /etc seems like a easy first step.

[2017-06-04 10:26] beriberikix commented on #760
Conan was also suggested in #1873

[2017-06-04 15:11] librasungirl commented on #1869
Validated #1870 on the mixed testbed with TH v45
[GitHub_Issue1869.zip](https://github.com/openthread/openthread/files/1050439/GitHub_Issue1869.zip)

[2017-06-05 19:31] #1869 closed

[2017-06-09 16:23] abtink commented on #407
PR https://github.com/openthread/openthread/pull/1886 addresses this issue.

[2017-06-09 18:01] #407 closed

[2017-06-12 20:27] jwhui commented on #1663
Resolved by #1877.

[2017-06-12 20:27] #1663 closed

[2017-06-14 01:00] DuaneEllis-TI opened #1902 "Illegal Network Name causes crashes"
This actually crashes wpantund, but has roots in the mis-behaving remote device.

Not sure where this should be filed, as it is an architectural decision.

To reproduce:

From the 'wpanctl' application, use the "scan" command to scan for networks.  The code in wpantund (dbus, specifically) assumes, rightly or wrongly, that the network name is a UTF8 string.

the NCP transmits a beacon request.

In

[2017-06-14 01:19] jwhui commented on #1902
My personal preference is to have the NCP simply pass through the Network Name as it does today and have wpantund updated to handle such cases.  It gives the host more visibility into what's going on in the network.

Do you believe the "O\377\377\377\377hread" network name something caused by the OpenThread library itself?  If so, can you also provide more information to reproduce?

[2017-06-14 02:12] DuaneEllis-TI commented on #1902
I'd agree - let the host see this. But that means the host, in this case, wpantund needs to firewall this type of issue.

I'll file an issue on the wpantund side.

As to what is causing it? Don't know  yet. We  have several people experimenting with things.

[2017-06-14 02:12] #1902 closed

[2017-06-19 20:54] fizz-bang opened #1915 "Building cc2650 examples is there a bug or have I done something wrong?"
Hi, I am jumping straight in and trying to build the cc2650 example to use with the launchpad hardware.

I "think" I have everything in place as per the instructions (usually use IDE's under Windows) but when I follow the instructions using a terminal window in Ubuntu 16.04 LTS to build the example I get errors:

make -f examples/Makefile-cc2650
  BUILD    cc2650
make -j10 -C build/cc2650 --no-pri

[2017-06-19 21:05] beriberikix commented on #1915
What happens when you enter `arm-none-eabi-gcc --version`?

[2017-06-19 21:10] fizz-bang commented on #1915
arm-none-eabi-gcc --version
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]
Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2017-06-19 21:11] fizz-bang commented on #1915
gcc --version
gcc (Ubuntu 5.4.1-2ubuntu1~16.04) 5.4.1 20160904
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2017-06-19 21:29] beriberikix commented on #1915
Looks like you have version of the ARM GCC compiler (standard GCC won't work.) To level set, have you tried the [codelab](https://codelabs.developers.google.com/codelabs/openthread-simulation/) first to see if you have everything else set up correctly?

[2017-06-19 21:39] jwhui commented on #1915
There is an issue with compiling the cc2650 example using gcc6.  As noted in [examples/platforms/cc2650/README.md](https://github.com/openthread/openthread/blob/master/examples/platforms/cc2650/README.md), the cc2650 platform is currently tested against `arm-none-eabi-gcc 5.4.1 20160609 (release)`.  Try using gcc 5.4.1 instead.

[2017-06-20 18:41] raryanpur commented on #1915
I had the same issue as @fizz-bang building the cc26xx examples using gcc6 and resolved by rolling back to `arm-none-eabi-gcc 5.4.1 20160609 (release) `as mentioned by @jwhui

[2017-06-20 20:24] fizz-bang commented on #1915
Indeed, that seems to be the problem.  I do not get errors using 4.9.3 20150529  which is easy to install in Ubuntu.  I will upgrade to 5.4.1. when I get a bit further on.

Thanks everyone!

[2017-06-20 20:24] #1915 closed

[2017-06-22 06:08] Daparrag opened #1928 "openthread seems like Contiki"
**Hi, everyone**

maybe you have earned about @contiki operating system  which has the same network architecture present in @openthread ; Maybe I'm wrong but what is the principal difference between  @openthread  and the competitors like @contiki  or @RTOS operating systems.

**What is Contiki?**

- Contiki is an open source operating system for the Internet of Things.
- Contiki connects tiny low-

[2017-06-22 06:27] aeliot commented on #1928
From my understanding, Contiki is an OS, where as OpenThread is a networking stack.  Although OT can be run bare metal (as is common in our example code), it can also be run with an OS like Contiki or FreeRTOS.

[2017-06-22 06:58] jwhui commented on #1928
Adding to @aeliot's comments, OpenThread is designed to be OS and platform agnostic.  You can read more in a recent [blog post](https://nest.tech/an-open-foundation-for-the-connected-home-1070a8e41e34).

[2017-06-22 13:43] beriberikix commented on #1928
And as an example of how OpenThread runs *in* an OS and is not a competitor to something like Contiki, check out the integration of OpenThread with [RIOT](https://github.com/RIOT-OS/RIOT/pull/7082), another RTOS.

[2017-06-23 06:05] Daparrag commented on #1928
**Hi everyone**
Thanks you so much for clarify my doubts.

I'm understood  that this **openthread** is quite interesting and soon I will try to get involved.

again thanks you so much.

[2017-06-23 19:00] #1928 closed

[2017-06-26 20:43] darconeous commented on #1472
This is basically addressed by #1912, right?

[2017-06-26 21:33] darconeous opened #1938 "NCP: Add support for Spinel's multiple-value get/set commands"
Implement NCP support for `CMD_PROP_VALUE_MULTI_GET`, `CMD_PROP_VALUE_MULTI_SET`, and `CMD_PROP_VALUES_ARE`, as described by #1331 ([docs](https://rawgit.com/darconeous/openthread/feture/spinel-prop-multi/doc/draft-spinel-protocol.html#prop-value-multi-get)).

This was originally requested by @pvanhorn a while back but somehow fell off my plate, so I'm filing this issue to make sure we have someth

[2017-06-26 21:53] darconeous commented on #129
OpenThread really needs a comprehensive fuzz/fault-insertion testing plan, and this seems like the most appropriate issue to track that with.

I'm bumping this up in priority to increase visibility. Also adding the "**help wanted**" tag, since @mturon doesn't necessarily have to be the person to implement it.

Tagging @jwhui, @abtink, and @nibanks for comment.

[2017-06-26 22:43] pvanhorn commented on #1938
Ahh yes, I remember it well.

[2017-06-27 09:17] khn123 opened #1939 "bootstrap kw41z"
I just compiled the example and I got the following ...
`machine@ubuntu:~/openthread$ ./bootstrap
./third_party/nlbuild-autotools/repo/scripts/bootstrap: 280: ./third_party/nlbuild-autotools/repo/scripts/bootstrap: --automake: not found
machine@ubuntu:~/openthread$ make -f examples/Makefile-kw41z
  CONFIG   kw41z...
(cd build/kw41z && /home/machine/openthread/examples/../configure INSTALL="/usr/bi

[2017-06-27 09:21] khn123 commented on #1939
I just compiled the example and I got the following ...
[machine@ubuntu:~/openthread$ ./bootstrap
./third_party/nlbuild-autotools/repo/scripts/bootstrap: 280: ./third_party/nlbuild-autotools/repo/scripts/bootstrap: --automake: not found
machine@ubuntu:~/openthread$ make -f examples/Makefile-kw41z
  CONFIG   kw41z...
(cd build/kw41z && /home/machine/openthread/examples/../configure INSTALL="/usr/bi

[2017-06-27 14:41] hubertmis commented on #1939
I had similar problem. I installed `libtoolize` to solve it.

[2017-06-29 10:53] chshu opened #1945 "Multiple microseconds timer support"
Current OT only support multiple milliseconds timer, and a single microseconds timer used by [CSMA  backoff](https://github.com/openthread/openthread/blob/master/src/core/mac/mac.cpp#L109) (only enabled by nRF52840 now).

To support the coming new features, we need multiple microseconds timer, the change proposal:

1. Platform alarm APIs update

    - Combine current two alarm APIs ([alarm](https:

[2017-06-29 16:08] jwhui commented on #1945
For background, we've had significant discussion around this topic before in #1267.  Note that #1267 implemented Option 1 above.  However, the discussion led to #1379 being implemented instead.  Please review that discussion describe why something like #1267 is preferred now.

[2017-06-29 17:13] chshu commented on #1945
The implementation in #1267 is more like the Option 2: create a new `class TimerUsec` and handle the two different timers in `TimerScheduler`.

The option 1 above is different, it will convert all `class Timer` to microseconds timer, so there is no new class, just increase 2 bytes (RAM space) to each `Timer` (totally ~50 bytes), but the code is more concise and less code size than Option 2.

Regar

[2017-06-29 18:10] jwhui commented on #1945
Due to padding, I believe adding a single `uint16_t` to the `Timer` class will actually add 4 bytes to each instance.  On the default CLI build for CC2538, that adds 112 bytes RAM (flash overhead difficult to know without some additional prototyping).  For comparison, the change in #1267 adds 16 bytes RAM and 1072 bytes flash.

A separate question to ask: does your use cases for microsecond timer

[2017-06-29 18:11] abtink commented on #1945
A possible 3rd option (which I personally prefer)

Creating a new `UsecTimer` on its own (not sub-classing `Timer`) and have it use its own linked-list and basically its own separate `UsecTimerScheduelr` to manage only the `TimerUsec` instances.

This gives us flexibility to use `TimerUsec` where we need it and also not complicate the logic of comparing timers of different accuracy in a single `Ti

[2017-06-29 18:13] jwhui commented on #1945
@abtink, see my comments above :)

[2017-06-29 18:16] jwhui commented on #1945
@abtink, see my comments above :)

[2017-06-29 18:22] jwhui commented on #1939
@khn123, did the suggestion @hubertmis help resolve your issue?

[2017-06-30 10:50] chshu commented on #1945
Thanks @jwhui for the suggestion.

Below is the updated solution:

- Keep both alarm APIs (alarm, usec-alarm), and update usec-alarm to use single 32-bit microsecond representation;
- Reuse the original `class Timer` for both milliseconds timer and microseconds timer;
- Add a new `UsecTimerScheduler` to handle microsecond timers, and call into usec-alarm API.

[2017-07-04 08:42] Gr3yh0und opened #1956 "Different .map files for different targets"
Hey,
I am building my own `app` as an `ftd` and `mtd`. But the `Makefile-cc2538` only adds `-Map=map.map` as a `LDFLAG` which leads to the `map.map` file to get overwritten in the `build` directory. Would it be possible to get two map files like `app123-ftd.map` and `app123-mtd.map` automatically?

I'm currently changing the created `Makefile` which isn't a nice thing to do.

[2017-07-05 09:40] bydottck13 commented on #1939
@jwhui, I had the similar problem, and this works for me:
# sudo apt-get install libtool

My OS is Ubuntu 14.04 32 bits.

[2017-07-06 03:10] chshu commented on #1945
I have submitted #1962 to support multiple microseconds timer, it adds 320 bytes flash and 32bytes RAM.

I made some changes to the previous solution, and follow @abtink's suggestion to add separate `UsecTimer` and `UsecTimerScheduler`, because of that:

Since #1926, to reduce RAM usage in single Instance mode, the `TimerSchedulerLocator` does not store the `TimerScheduler` initialized in Timer's

[2017-07-10 23:01] #1945 closed

[2017-07-11 13:06] thcu-gp opened #1978 "MLE Announce processing corner case"
Currently the Thread spec only specifies what to do if `local_timestamp > announce_timestamp` and what to do if `local_timestamp < announce_timestamp` The case where both timestamps are equal is unspecified.

OpenThread acts as if `local_timestamp > announce_timestamp` when both timestamps are equal. This causes a huge number of MLE Annouce Messages to be sent in rapid succession (see
[InfiniteAnn

[2017-07-11 16:10] thcu-gp opened #1979 "uint8_t* vs otExtAddress"
Sometimes the OpenThread api uses uint8_t* (of length 8) and sometimes it uses otExtAddress to represent an extended address.
*  `otLinkSetAssignLinkQuality` has argument `uint8_t* aExtAddr`
* `gpOpenThreadApi_ThreadSetSteeringData` has argument `otExtAddress_t aExtAddress`

I believe a unified approach would be better

[2017-07-11 17:28] #933 closed

[2017-07-11 19:37] jwhui commented on #1978
Thanks for identifying this, @thcu-gp!  I agree with your suggested fix.  Would you like to submit a PR?

[2017-07-11 19:39] jwhui commented on #1979
Thanks for flagging this issue.  I agree we should unify around `otExtAddress` rather than the generic `uint8_t*`.

Note that `otLinkSetAssignLinkQuality()` is being replaced as a part of #1967.  Are there other instances that need changing that you are aware of?

[2017-07-12 13:07] thcu-gp opened #1985 "There is no check on the channel value of otLinkSetChannel"
The value provided to `otLinkSetChannel` is directly passed to `Mac::SetChannel`. In this function `OT_ERROR_NONE` is always returned. Therefore, `otLinkSetChannel` will never generate an error when an invalid channel number is provided.

wpanctl in wpantund will default the channel to 0
`target_network.channel = strtol(optarg, NULL, 0);` (wpantund/src/wpanctl/tool-cmd-join.c:97)
which eventually

[2017-07-12 13:18] thcu-gp commented on #1979
| file | function |
|--|--|
| src/core/api/link_raw_api.cpp:202 | otError otLinkRawSrcMatchAddExtEntry(otInstance *aInstance, const uint8_t *aExtAddress) |
| src/core/api/link_raw_api.cpp:226 | otError otLinkRawSrcMatchClearExtEntry(otInstance *aInstance, const uint8_t *aExtAddress) |
| src/core/api/link_api.cpp:65 | const uint8_t *otLinkGetExtendedAddress(otInstance *aInstance)

[2017-07-13 15:22] jwhui commented on #1978
Resolved by #1984.

[2017-07-13 15:22] #1978 closed

[2017-07-13 16:25] jwhui commented on #1979
Thanks for identifying those other instances.  Are you planning to submit a PR for this?

[2017-07-13 16:27] jwhui commented on #1146
Closing stale issue.

[2017-07-13 16:27] #1146 closed

[2017-07-13 16:43] srickardti opened #1990 "MbedTls global heap constructor"
When adding a C++ heap implementation for mbedtls (#1970) a global c++ object was added.

https://github.com/openthread/openthread/pull/1970/files#diff-82c87f674ffd8fa01d57e705c0b369bfR45

The initialization of this object should be done in the `MbedTls` object constructor.

[2017-07-13 16:49] jwhui commented on #1990
@srickardti, thanks for raising this issue!

We should also look into placing the allocated memory block for the heap in the `otInstance` structure itself.  Doing so would better support the multiple instance feature.

[2017-07-13 17:43] jwhui commented on #1956
@Gr3yh0und, thanks for reporting this issue.  I have submitted #1992 to help address this.  Please review.

[2017-07-13 19:50] Gr3yh0und commented on #1956
Looks good to me, thanks for adding this. Should've come up with that myself! 👍

[2017-07-14 15:37] #1990 closed

[2017-07-14 16:14] jwhui commented on #129
I'm starting work on adding initial fuzz testing support.

[2017-07-14 19:00] #1956 closed

[2017-07-15 04:11] librasungirl opened #2003 "MGMT_ACTIVE_SET.req/MGMT_PENDING_SET.req from Thread Device should include entire dataset"
Currently to avoid possible interop issue before all stack vendors reach consensus,  OT accepts partial dataset from thread device and supplement it to be complete with existing active/pending dataset settings as in #2002 .
However finally we should supplement it in MGMT_ACTIVE_SET.req/MGMT_PENDING_SET.req from Thread Device when using the cli commands to update partial dataset (as in #1999).  And

[2017-07-17 06:07] macysstorage commented on #1979
thanks

[2017-07-17 07:23] khn123 commented on #1939
@jwhui  this works for me. Thx @hubertmis .

[2017-07-17 07:23] #1939 closed

[2017-07-20 17:38] #129 closed

[2017-07-24 03:42] malexw opened #2026 "./bootstrap fails with error "not found""
Hi folks,

Following the instructions for building the CC2650 driver demo, I've installed autoconf, automake, and the gcc-arm toolchain. After running `./bootstrap` from the repo root, I get this error:

[code]

Have I just missed a set-up step somewhere?

[2017-07-24 03:45] bukepo commented on #2026
Have you installed libtool?
[code]

[2017-07-24 03:47] malexw commented on #2026
That was the problem, thanks!

[2017-07-24 03:47] #2026 closed

[2017-07-26 09:30] Gr3yh0und commented on #1803
That would be a cool feature. It would also be nice to get support for the [FRDM-K22F](http://www.nxp.com/products/software-and-tools/hardware-development-tools/freedom-development-boards/nxp-freedom-development-platform-for-kinetis-k22-mcus:FRDM-K22F) as it's also Arduino R3 compatible and with using a NRF24L01 as IEEE 802.15.4 radio that would create an OT platform available for less than 30$.

[2017-07-26 14:33] beriberikix commented on #1803
Unfortunately, AFAICT the NRF24L01(+) can function as an IEEE 802.15.4. However, the [FRDM-KW41Z](http://www.nxp.com/products/software-and-tools/hardware-development-tools/freedom-development-boards/nxp-freedom-development-kit-for-kinetis-kw41z-31z-21z-mcus:FRDM-KW41Z) has R3 headers, as well as the Nordic [nRF52840-DK](https://www.nordicsemi.com/eng/Products/nRF52840-Preview-DK). That said, there

[2017-07-26 19:15] #1985 closed

[2017-07-27 17:49] DuaneEllis-TI opened #2037 "CoAP - Duplicate message detection & Commissioning Problems"
This is the embedded side of:  https://github.com/openthread/borderrouter/issues/81

At a general level, the public CoAP API should provide a means to detect duplicate CoAP requests of a server,  this currently does not exist.

At a specific level, in the Leader when a commissioning petition is received there is no 'duplicate message detection' - there needs to be.

For example, this time line:

1

[2017-07-27 19:30] jwhui commented on #2037
OpenThread's CoAP implementation should already include duplicate detection and response retransmission ([relevant code](https://github.com/openthread/openthread/blob/master/src/core/coap/coap.cpp#L656)).

Does the "duplicate" CoAP request from the Android app contain the same CoAP Message ID?  If so, then I believe this is more of an issue in the Border Agent.  If not, these are really distinct C

[2017-07-27 19:43] DuaneEllis-TI commented on #2037
I did not see the "coap" level duplicate detection - thanks for pointing that out.

The android app sends the *SAME* message ID.

The AGENT does not recognize the duplicate, and creates a *NEW* message ID.

In fact, I think the AGENT probably should *NEVER* do duplicate detection.  Instead *only* the end point should perform duplicate detection. Rational:  Lets say the forwarded/proxied message (A

[2017-07-27 19:58] jwhui commented on #2037
In general, I agree with your comments around the Border Agent.  However, unless there is a stateless 1:1 mapping between the received COMM_PET and sent LEAD_PET message, the Border Agent probably needs to perform some kind of duplicate detection.  Because the Border Router may generate CoAP requests for other purposes, we may need to maintain some kind of mapping between CoAP message IDs.

[2017-07-27 21:03] DuaneEllis-TI commented on #2037
Is there an absolute hard requirement that the proxy always sends (to the network/leader) from a specific port?  I believe the answer is no, because the spec talks about the source as a Ephemera port number (reference spec 8.4.7.3.1 sequence diagram in figure 8-16)

Today, the agent supports/requires 1 proxy - for commissioning and only commissioning.

If in the future more proxies are required (

[2017-07-27 21:40] jwhui commented on #2037
Makes sense to me.  There is no hard requirement on the source port.  However, we currently have a single CoAP instance (performing both client and server roles) bound to the TMF port on the NCP.  One path forward is to push the Border Agent's CoAP Client functionality that interacts with a new UDP socket on the NCP side.

[2017-07-27 22:02] DuaneEllis-TI commented on #2037
Not sure I completely understand your "however..."

can you say that another way?

[2017-07-27 22:16] jwhui commented on #2037
OpenThread's CoAP implementation currently combines Client and Server functionality on a single UDP socket.  The TMF Proxy on the NCP utilizes the same CoAP instance on the NCP.  To utilize separate UDP source ports between TMF Client interactions originated by the NCP itself and those provided via the TMF Proxy, we could either (i) create a second CoAP instance on the NCP to support the TMF Proxy

[2017-07-27 23:03] DuaneEllis-TI commented on #2037
I think that is a *future* problem that we must solve when we have to support more then 1 proxy on the agent and it is not a current issue that must be addressed as part of this idea/method to fix.

[2017-07-27 23:09] jwhui commented on #2037
Not sure I follow.  There is a single CoAP instance on the NCP for handling all TMF messages.  IIf you want to send CoAP Requests with different source ports, we need to have more than one CoAP instance.  For example, Address Queries are sent on one source port and Petitions are sent with a different source port.  What am I missing?

[2017-07-27 23:21] DuaneEllis-TI commented on #2037
I am saying this: The Agent only preforms proxies on behalf of a the commissioning app, and since there can only be 1 commissioner at a time ... then it is legal for the agent/proxy to copy the message IDs from the (public-side) to the (proxy'ed-side) and visa-versa.

You seem to be saying the Agent will, or could do other things in the future.  My answer is this: If/when that happens we solve the

[2017-07-27 23:24] jwhui commented on #2037
What I'm saying is that the Border Agent currently shares the same CoAP endpoint as all other TMF CoAP interactions on the NCP.

[2017-07-27 23:57] jwhui commented on #2037
Let me try to pull this discussion back in.  The TMF Proxy code on the NCP currently sits on top of the NCP's CoAP instance.  If we simply changed that to sit directly on top of a UDP socket bound to an ephemeral port, that should satisfy the proposal here, right?

In other words, the host-side Border Agent would generate the LEAD_PET.req message (with the CoAP Message ID copied from the received

[2017-07-28 00:26] DuaneEllis-TI commented on #2037
@jwhui

partial answer  - yes - however - I think we need also need to do that for the other proxied messages (keep alive, commissioner set, and relay tx and tx - the agent just uses/copies the same message id).

I say partial answer because I don't have the entire design in my head as well as you do, I'm not sure about how the port numbers are allocated/managed and matched up/reconnected

[2017-07-28 05:12] jwhui commented on #2037
@DuaneEllis-TI

OK, I think I have a good understanding of what needs to happen.

Yes, I provided COMM_PET/LEAD_PET as just a single example of how it would work and did not mean to limit the solution to those messages.

[2017-07-28 10:00] jaimebohigas opened #2040 "cc2538 makefile, configure file not found"
I just begin to follow the first steps to compile the examples for the cc2538 chipset, and I found these errors:

/bin/sh: 1: /mnt/c/Users/JaimeBohigas/openthread/examples/../configure: not found

I looked for configure file but on the repository is missed. How can I fix the problem??

Thank you very much.

Kind regards

[2017-07-28 12:57] biboc opened #2042 "OpenThread settings seems to miss first page"
Hi,

FTD node creates a Thread network and becomes Leader, it stores networkdata (settings) in internal memory.
Then if node resets and node tries to restore previous stored networkdata.

At the line:
https://github.com/openthread/openthread/blob/master/examples/platforms/utils/settings.cpp#L289

Wee see that we start by checking second page but what I can see it that networkdata are stored in fir

[2017-07-28 14:15] biboc commented on #2042
wrong reading from me

[2017-07-28 14:15] #2042 closed

[2017-07-28 15:05] #1979 closed

[2017-07-28 15:10] jwhui commented on #2040
It would help if you referenced the steps that you actually tried and their output.  In particular, did you follow the steps in this [README.md](https://github.com/openthread/openthread/blob/master/examples/platforms/cc2538/README.md)
?  Also, make sure you have the GNU toolchain installed (autoconf, automake, libtool)

[2017-07-31 08:02] jaimebohigas commented on #2040
Dear all, specially Mr. jwhui,

I have followed the steps on the README.md, and also I use the bash on windows toolchain.

I verified I have installed the autoconf, automake and libtool too.

The libtool version I have got is 2.4.6-0.1
The automake version I have got is 1:1.15-4ubuntu1
the autoconf version I have gor is 2.69

This is the report I have on compile time

jaimegm@DESKTOP-95UCL84:/mnt/

[2017-07-31 15:46] jwhui commented on #2040
Did you run `./bootstrap` then `make -f examples/Makefile-cc2538`?  What was the output, if any, from `./bootstrap`?

[2017-07-31 20:28] LuDuda opened #2046 "[MeshForwarder] Incorrect link-layer address selection"
I found that there are couple violations to Thread Specification when it comes to link-layer address selection (in `MeshForwarder::UpdateIp6Route`).

Hightlights:
 - REED sends both link-local and real-local scope multicast message using IEEE 802.15.4 broadcast, however it must transmit message as IEEE 802.15.4 unicast to its parent.
 - When End Device sends realm-local scope multicast (e.g. from

[2017-08-01 09:10] jaimebohigas commented on #2040
Dear all,

Finally I have finished the make procedure.

I made a mistake because I tried to execute the file bootstrap before I had all the necesary programs.

Thank you very much.

[2017-08-01 09:11] #2040 closed

[2017-08-01 12:10] Embedded-1 opened #2050 "coap start : OpenThread Command is not working for KW41z"
Hello,

I had built the OpenThread application for KW41z Board, flashed the binary and joined with another Node.

Here I observed that "coap start" command is not working fine as per expectation.

Kindly see the logs on its terminal:
******************************************************************************************

fdf4:e9a9:c246:b131:0:ff:fe00:400
fd01:0:0:3ead:ae81:371b:79a8:1859
fdf4:e

[2017-08-01 15:28] LuDuda commented on #2050
Hello,

To make a use of OpenThread CoAP implementation in the application layer, you need to explicitly enable it.

Please add extra argument when you build your project, I guess for your platform it would look like:
`make -f examples/Makefile-kw41z COAP=1`

Internally it will add `--enable-application-coap` option to `configure`.

[2017-08-01 16:52] jwhui commented on #2046
Sounds great.  Thanks for identifying and working to address these issues!

[2017-08-02 09:01] Embedded-1 commented on #2050
Thanks, @LuDuda . It is working fine.

[2017-08-02 16:21] #2050 closed

[2017-08-02 18:19] pkanek opened #2055 "Application -- Network join status"
What is the best way for the application (running on the device) to query the network join status of a thread device?
This will help the application to make a decision to start the join process or join with the available network data.

[2017-08-02 18:24] jwhui commented on #2055
A Thread device is commissioned when it has a valid Active Operational Dataset.  OpenThread provides the [otDatasetIsCommissioned()](https://github.com/openthread/openthread/blob/master/include/openthread/dataset.h#L59) API to indicate whether or not it has a valid Active Operational Dataset.  Does that help?

[2017-08-02 19:27] pkanek commented on #2055
@jwhui  Thanks

[2017-08-02 19:32] #2055 closed

[2017-08-02 21:09] pvanhorn opened #2057 "Create an otPlat API to handle vendor / platform specific Spinel properties."
Occasions exist where a host needs to send commands that are specific to its platform. Such commands should not be implemented by Openthread but should be handled by code that is technically separate from Openthread but still part of the NCP image.  Because Spinel and ncp_base get first opportunity to parse incoming frames from the host, it becomes necessary for ncp_base to have a way to route ven

[2017-08-03 23:16] DuaneEllis-TI opened #2061 "style_guide.md - include order"
Style guide states, that include should be in this order:

Preprocessor #include directives should be grouped, ordered, or sorted as follows:
* This compilation unit's corresponding header, if any.
* ... blah blah blah ...

In reality, the current common practice is, and probably should be:
* include <openthread/config.h> must be the first #include file.
* This compilation unit's corresponding hea

[2017-08-05 00:08] DuaneEllis-TI opened #2068 "DEBUG UART"
See Pull request: https://github.com/openthread/openthread/pull/2082

Observation: often physical devices have more then 1 physical UART

1) The NCP does have support to push the DEBUG LOG upto the host platform over a "reverse channel"
This is nice but depending upon log volume - the rate of increased traffic causes other problems.

2) In the GRL test harness, it took talks to the CLI and does no

[2017-08-05 00:21] DuaneEllis-TI opened #2069 "cc2538 FLASH settings location"
Probably for some historic reason, the location of the CC2538 FLASH settings is in the middle of the flash at address 0x00203900 - which if you turn on features, and turn the logs up the flash grows and then the two areas (code/text) vrs (settings) overlap and things go horribly wrong.

Most typically the initialized data goes bad at startup because the ".data" initializes are are stored at the EN

[2017-08-05 00:55] jwhui commented on #2068
@DuaneEllis-TI, separating the log output stream from the CLI is very useful.  OpenThread can actually be configured to use the platform-provided `otPlatLog()` implementation or to stream them through the CLI or Spinel.  See [`OPENTHREAD_CONFIG_ENABLE_DEFAULT_LOG_OUTPUT`](https://github.com/openthread/openthread/blob/master/src/core/openthread-core-default-config.h#L618).  Having a separate log ou

[2017-08-05 01:20] DuaneEllis-TI commented on #2068
yes, well aware of these things, and the Macro to set the log function.

[2017-08-05 01:26] jwhui commented on #2068
For the posix use case, what tradeoffs do you see with using syslog vs. writing directly to a file?

[2017-08-05 06:41] #2061 closed

[2017-08-05 17:59] DuaneEllis-TI commented on #2068
I am not against using SYSLOG, the feature should remain and not be removed.
I am only proposing an alternate for POSIX - this also serves as POSIX test vehicle for the embedded side of the "otPlatDebugUart_xxx()" functions.

But you asked, and I'm sure that there are many "linux types" that would ask the same question.
All of the below is from an 'non-linux' point of view

Currently the POSIX use

[2017-08-05 20:31] jwhui commented on #2068
Adding an option for specifying a log-output file sounds like a great enhancement to me.  I wasn't clear from your earlier comments whether you were proposing to replace the existing syslog-based implementation or to provide another option.  Thanks for providing your detailed thoughts.

I can see both syslog and dedicated log file output being useful depending on the use case and user.  FWIW, as a

[2017-08-07 19:24] #2046 closed

[2017-08-08 20:44] #2069 closed

[2017-08-08 20:54] DuaneEllis-TI opened #2081 "COMM_KA vrs RELAY_{tx|rx} spec issue/question"
Hmm - There seems to be a large timing issue that manifests in multiple ways, no one way is clearly the problem.  This could also be due to the way the Android Commissioning app is structured :-(

For the purposes of this discussion, I want to divide the commissioning process into 3 phases.

Phase 1 - is prior to the DISCOVERY REQUEST
Phase 2 - is during the time the RLY_{TX|RX} is active
Phase 3

[2017-08-08 21:10] jwhui commented on #2081
@DuaneEllis-TI, thanks for raising this issue.  This seems to be an implementation-specific issue in the Thread Group's Commissioning application.  The DTLS session from an External Commissioner terminates at the Border Agent.  As a result, the timing of sending DTLS messages between the Commissioner and Border Agent should be independent from the DTLS messages between the Commissioner and Joiner.

[2017-08-09 18:01] #1713 closed

[2017-08-09 18:10] jwhui commented on #1839
Resolved by #2080.

[2017-08-09 18:10] #1839 closed

[2017-08-17 07:06] GiedriusM opened #2110 "NCP add joiner PSK does not work without OPENTHREAD_ENABLE_BORDER_ROUTER=1"
I am not aware if OPENTHREAD_ENABLE_BORDER_ROUTER=1 is required for a NCP device, but `wpanctl commissioner -a XXXXXXXXXXXXXXX` gives an error 16 (PropertyNotFound), which is caused by combination of
[code]
in wpantund codebase and
[code]
in the openthread codebase.

For me personally, not all NCP devices should/could be border routers, for example in cases there they are used just to give connect

[2017-08-18 13:45] Nopik opened #2120 "Missing SRV implementation"
It seems, that Service TLV and Server TLV along with all remaining implementation (like distribution of that in the Network Data) is missing, although Thread spec v1.1.1 mentions it and OpenThread claims compatibility with Thread 1.1.1

[2017-08-18 17:36] Nopik commented on #2120
Can I get some basic pointers in order how to implement it properly? Consider me a beginner in the areas of OpenThread internals and Thread specification itself, please.

If I understand correctly, the implementation would consist of following parts:
a) leader when receiving Service / Server TLVs, add them to network data and broadcast them as usual. Some service ALOC assignment might be involved,

[2017-08-18 17:47] jwhui commented on #2120
Your proposal looks pretty good overall.  Some points that may help:

1. The Service ALOC is derived from the Service Type ID.  The Service Type ID is allocated by the Leader.
2. The API to register new Server information can be modeled after the existing APIs for adding/removing Border Router and External Route information.  See [include/openthread/border_router.h](https://github.com/openthread/o

[2017-08-18 17:54] Nopik commented on #2120
Thanks. I will probably need some help with that TODO part, though ;)

[2017-08-18 17:55] jwhui commented on #2120
Sounds good.  Let's get through the Network Data registration and access first.  Then we can strap in the message forwarding logic.

[2017-08-19 18:24] Nopik commented on #2120
@jwhui I did some preparation work, re-read the Thread spec to understand all nuances, also got the existing testsuite running and green. The testsuite seems to run the cli examples in the background and check the results. So, it seems, that the best way for me to move forward would be to extend the cli by commands like `server register` and `dump networkdata` (the latter I was already missing a l

[2017-08-19 18:29] Nopik commented on #2120
Actually, `netdataregister` should probably become `netdata register` + `netdata show` + `netdata unregister` + `netdata add srv ...`, etc. Probably keeping `netdataregister` around for compatibility reasons. Probably with some local & leader flavors (i.e. leader has its netdata, but locally we might have different data, so we need commands to show & manipulate both).

[2017-08-19 20:16] Nopik commented on #2120
Also, there is another detail. The `ThreadNetif` class has this code:

[code]
and, obviously, few (5-10?) places, where code like

[code]
or
[code]
is used. If I'm reading this, those are exactly the places where network data local should be handled (cleared, sent, retransmitted, etc.) - so I'm thinking about removing `#if OPENTHREAD_ENABLE_BORDER_ROUTER` from those places. The `ot::NetworkData::L

[2017-08-21 04:52] jwhui commented on #2120
@Nopik, thanks for sharing your thoughts and proposals.

1. For the CLI commands, I think we should simply add commands to add/remove server data.  `netdataregister` can be used to trigger the `SRV_DATA.ntf` message.  I understand the desire for viewing the raw contents of the network data.  In practice, this is only useful to core Thread/OpenThread developers.  The APIs should provide information

[2017-08-21 07:38] Nopik commented on #2120
Right. I'll go as you described.

For the record, I was thinking about doing the API layer just as you described, and maybe extend CLI by some display of network data - not about exposing API to get the raw bytes.

As a person who've been learning Thread/OpenThread details, I really found it annoying not being able to see the network data in the CLI - just for the learning purposes.

As for the `#

[2017-08-21 20:31] Nopik commented on #2120
@jwhui 2 questions:

1) It seems that Border Router API has 2 methods which will be 100% identical in my Server API, namely `otBorderRouterGetNetData()` and `otBorderRouterRegister()`. They just seem to operate on the underlying Network Data Local structure directly. I would strongly recommend getting some public API to do that, instead of duplicating the code between Border Router and Server impl

[2017-08-22 04:23] jwhui commented on #2120
@Nopik

1. I think it makes sense to rename the APIs to `otNetDataLocalGet()` and `otNetDataLocalRegister()`.  Note that we already have a bunch of `otNetData*` APIs, but those are for the Thread Network Data published by the Leader.

2. The documentation of `otBorderRouterGetNetData()` indicates that the passed in value indicates the size of the output buffer.  As a result, I would say this is a

[2017-08-22 04:29] jwhui commented on #2110
Thanks for pointing this out!  Off hand, I'm not sure why wpantund needs to lock the local network data - adding entries to the joiner list does not affect the local network data.

[2017-08-22 04:31] jwhui commented on #2057
Resolved by #2117.

[2017-08-22 04:31] #2057 closed

[2017-08-22 11:27] GiedriusM commented on #2110
I haven't had time to take a closer look, but I've noticed that each time `wpanctl commissioner -a XXXXXXXXXXXXXXX` is executed, an MLE is sent. Attached pcap might give you some insight.

![comm_netdata](https://user-images.githubusercontent.com/4882339/29562979-4d4e4e2a-8744-11e7-8fdf-47bfab4545b3.png)

[2017-08-24 17:28] jwhui commented on #2068
Resolved by #2082.

[2017-08-24 17:28] #2068 closed

[2017-08-25 11:20] CiaranWoodward opened #2136 "Joiner does not give correct priority to available networks"
Currently, the joiner (joiner.cpp) gives priority to networks on higher channels. This has the effect that a joiner can accidentally fail to join the correct network if there is another network on a higher channel which is listing 'accept any' steering data. The Thread spec 1.1.1 section 8.4.4.1.2 specifies a priority system for choosing a network to try and join.

I will shortly submit a pull req

[2017-08-25 18:35] jwhui commented on #2136
Thanks for raising this issue and working to address it.

As for handling multiple responses, you point out the right issues.  One nit is that the Thread spec does not specify how many responses a device must be able to support.  A max queue length of 1 is still a valid.  That said, OT could provide a compile-time configurable option the number of responses to support.  If you want to pursue this

[2017-08-25 19:48] carloscal opened #2138 "Cannot build for Silabs Ef3r2 device"
I'm getting some build casting warnings (treated as errors) when building for the Silabs Efr32 device, I'm using the lastest build (Aug 25). Simplicity installed Flex 1.2.1.0.

The file in question is the /examples/platforms/efr32/radio.c, the fix is to explicity cast the to the correct pointer type.

This is the error in question:
=====
/opt/openthread-repo/openthread/examples/../examples/platfor

[2017-08-26 03:15] xiaom-GitHub commented on #2138
Thanks for notifying this compile error. I will submit a PR to address this soon.

Xiao

[2017-08-26 15:18] Nopik commented on #2120
I think there is some problem in the Thread 1.1.1 specification, regarding Service TLV. Generally, when some server want to register itself, it sends `SVR_DATA.ntf` to the leader. That request should contain Service TLV, but it in turn contains `S_id` field, which is assigned by the leader. What value local server should assign to the `S_id` field, when registering new service?

Most likely this f

[2017-08-26 15:27] Nopik commented on #2120
The nesting of the structures (list of services, each having a list of server), where both service and server TLV have their own data blobs is pretty annoying when it needs to be defined as a static C arrays. Namely, it suggests such structures:

[code]
Which causes the structure to have like 16 kilobytes. Since network data is 255 bytes max, Service TLV has minimum of 4 bytes of header, it is at

[2017-08-26 21:07] jwhui commented on #2120
@Nopik

1. Regarding the `S_id` field, I agree that the Thread Specification is underspecified here.  I would assume `S_id` field is ignored in a `SRV_DATA.ntf` message.

2. I agree that translating the nested structure of Service and Server TLVs into static structures is undesirable.  When iterating through the network data from the leader, I would have each iteration through the Server Set retur

[2017-08-28 14:44] xiaom-GitHub commented on #2138
Please have a review for #2143 . Thanks.

[2017-08-29 04:14] #2138 closed

[2017-08-29 09:05] ltukezl opened #2150 "[Commissioning] Save default gateway address"
When using wpantund and having programmed the nfc meshcop example from Nordics infocenter, I next use the command ```wpanctl config-gateway fefe:fefe:fefe:fefe:: -d``` to give a default prefix to my devices.

  However the problem is, that once I lose the power of the device, I am unable to have the old address info, without reverting to the non gateway address. Only way to attain new address is t

[2017-09-01 10:55] GiedriusM opened #2156 "Confusion with Joining Device Credential vs PSKd and their usage"
As far as I understand, the joiner-commissioner DTLS session should be established using base32-thread encoded string (Joining Device Credential), however in the Thread 1.1.1 specification there's a small distinction of Joiner Device Credential vs PSKd:
`This credential when specifically encoded in binary is referred to as the PSKd (Pre-Shared Key for the Device).`
and `otJoinerStart` has a param

[2017-09-01 15:05] turon commented on #2156
Hi Giedrius,

The Joiner Device Credential and PSKd are essentially the same thing, the
only difference is the encoding.

The PSKd is in raw binary form, and is what the underlying OpenThread code
uses.

The specification section on base32-thread encoding of the Joiner Device
Credential is a presentation layer advisory.  The PSKd needs to be
presented to the user in a standard way across the entir

[2017-09-01 15:38] jwhui commented on #2156
@GiedriusM, let me answer your questions directly (your original post indicates you already fully understand the differences between the Joiner Device Credential and PSKd).

`otJoinerStart()` and `otCommissionerAddJoiner()` take the PSKd (i.e. the binary form).

The short answer is that the Thread Certification Harness also passes the PSKd rather than the Joiner Device Credential, so the API needs

[2017-09-01 17:44] GiedriusM commented on #2156
I was pretty sure that these functions take Joining Device Credential (JDC). There are few reasons for that:
1) Thread 1.1.1 spec, section 8.4.4.5 mentions JDC instead of PSKd
```The Commissioner, upon reception of a DTLS-ClientHello message with a cookie from one of its scanned Joiners, inspects the Joiner IID, and looks up the Joining Device Credential to use to continue the DTLS handshake for t

[2017-09-01 18:00] jwhui commented on #2156
@GiedriusM, the existing OpenThread APIs should be changed to taking byte-array rather than char-array to avoid the confusion you are raising.  FWIW, the char-array is passed directly as a byte-array to [`mbedtls_ssl_set_hs_ecjpake_password()`](https://github.com/openthread/openthread/blob/master/third_party/mbedtls/repo.patched/include/mbedtls/ssl.h#L1892), which takes the EC J-PAKE password as b

[2017-09-03 07:30] librasungirl opened #2164 "[netdata] issues when multiple BRs are configured the same prefixes (or routes) with different stable flag"
Multiple BRs MAY be configured with the same prefixes (or routes) of different stable flags, different priorities etc. That is, in theory, one prefix may include both stable and unstable borderroutertlv, each of which may also include multiple borderrouterentries.

Current `GetNextOnMeshPrefix()` would always get the BRs in the first `BorderRouterTlv` of the Prefix.  Another impact  is on`IsOnMesh

[2017-09-04 22:32] leslieguyo commented on #1915
How do I install a specific version 5.4.1 using apt-get?

[2017-09-04 23:21] beriberikix commented on #1915
The ARM team doesn't maintain older packages on apt-get. I'm not on a Linux machine but I'm pretty sure you can find older packages maintained by third parties. See the update from [ARM](https://launchpad.net/gcc-arm-embedded/+announcement/13824).

[2017-09-05 21:59] abtink commented on #2164
With the change from https://github.com/openthread/openthread/pull/2073, the two methods `GetNextOnMeshPrefix()` and `GetNextExternalRoute()` should now iterate over all entries.

[2017-09-05 23:22] jwhui commented on #1915
FWIW, you can grab older versions directly from https://launchpad.net/gcc-arm-embedded

[2017-09-06 02:33] librasungirl commented on #2164
@abtink, I think #2073 could iterate all entries in the **first** `BorderRouterTlv` of one Prefix. However as stated above, one `PrefixTlv` may have two `BorderRouterTlv` (one stable, and one unstable).  Existing code does try to iterate the second `BorderRouterTlv`.

[2017-09-06 03:26] abtink commented on #2164
Ah, I see... Got it. Thank you.

[2017-09-07 10:02] erja-gp opened #2176 "MbedTls failure during commissioning on slow platforms."
We're seeing issues when running the OpenThread stack on an older platform, where the crypto computations are done on the CPU and are not fast enough to avoid DTLS timeouts on the other side.

The issues are similar to, but not the same as, what is reported in: https://github.com/openthread/openthread/pull/1207

In our case the code (including the fix "0001-Fix-commissioning-problem-with-retransmi

[2017-09-07 15:37] jwhui commented on #2136
Resolved by #2152.

[2017-09-07 15:37] #2136 closed

[2017-09-07 19:27] nutka7 opened #2178 "Running `./output/x86_64-unknown-linux-gnu/bin/ot-cli-ftd 0` should print a warning."
When you follow the Simulation Codelab but use node numbers 0 & 1 instead of 1 & 2 Thread doesn't work as expected (both clients transition to Leader). A warning explaining that 0 node number is special would save some time debugging.

[2017-09-08 08:20] hubertmis commented on #2176
I would not completely disable retransmission mechanism even if following set of conditions is met:
- slow platform,
- state with known delay,
- retransmission is caused by retransmitted message from the peer.
I think it would be spec violation. RFC requires to retransmit last flight if previous flight from the peer is received.

I agree we don't have to retransmit a flight multiple times in case

[2017-09-08 13:16] erja-gp commented on #2176
I understand your doubt, but perhaps this scenario was not taken into account while writing the DTLS RFC. I cannot believe that we should intentionally start duplicate transmissions.
Should I also create a ticket in the mbedtls group to raise that question there?

[2017-09-11 23:32] abtink commented on #2164
PR: https://github.com/openthread/openthread/pull/2183

[2017-09-12 13:24] GiedriusM commented on #2156
@jwhui  Are there any news about base32-thread spec? I've submitted an early PR for this #2185

[2017-09-13 18:23] bot-zjlu opened #2191 "Unstable test results for thread-cert test case 9-2-14 commissioner with TI-2538 devices."
We run the test cases under '\tests\scripts\thread-cert' with 7 TI-2538 devices by adding some device manager and our own sniffer scripts.

Now all the test cases except 'Cert_9_2_14_PanIdQuery' when Commissioner as DuT are passed.  We stress-test the  test case of 'Cert_9_2_14_PanIdQuey_Commisisoner_As_DuT.py" many times and found about 60-70% changes passed and 30-40% failed.

The error message

[2017-09-14 01:02] #2164 closed

[2017-09-14 02:43] jwhui commented on #2176
@erja-gp, thanks for raising this issue.  Given that this is an issue that is primarily dealt with in mbedTLS, I think it would be worthwhile to raise the issue within the mbedTLS community.

[2017-09-14 08:24] jwhui commented on #2191
@bot-zjlu, I have not seen this kind of failure rate for this test scenario.

Are you running the `ot-cli-ftd` example image directly from [examples/apps/cli](https://github.com/openthread/openthread/tree/master/examples/apps/cli)?  Or are you running some custom code on the CC2538?

[2017-09-14 17:01] bot-zjlu commented on #2191
Hi Jonathan,

Thank you for quick response!

We make the build with "Makefile-cc2538" and use the binary file
 'output/cc2538/bin/ot-cli-ftd'

thanks,

zj

On Thu, Sep 14, 2017 at 1:24 AM, Jonathan Hui <notifications@github.com>
wrote:

--
Thanks,

zj

[2017-09-18 17:12] jwhui commented on #2191
@bot-zjlu, in your original posts, I see that two exceptions are occurring.  The first seems to be something related directly to the serial.  Do you know what `pexpect` is expecting that is causing the timeout?  If I'm understanding properly, the second exception seems to be a direct result of the first.

[2017-09-18 19:44] bot-zjlu commented on #2191
@jwhui ,

Thanks Jonathan for your investigation and reply on this.

Do I know what the 'expect' command expects?   It expects 'Conflict:' from the serial port, but didn't get it, and the timeout exception has occurred.  Again, this failure happens about 30~40% rate on the CC2538 boards, but not always.

When I have moved to the latest OpenThread code (git hash: 782328a6c2955b441c4d256d72dad7ffd02

[2017-09-18 20:17] jwhui commented on #2191
Thanks for the additional detail.

Yes, when the `commissioner panid` command is run, it expects an output starting with `Conflict:`.  Unfortunately, it is difficult to determine the issue without some additional detail.  You mentioned that you have sniffer traces for both the passing and failing runs.  Can you attach those to this issue?

[2017-09-18 20:28] jwhui commented on #2150
Closing as duplicate of https://github.com/openthread/borderrouter/issues/104.

[2017-09-18 20:28] #2150 closed

[2017-09-18 21:56] bot-zjlu commented on #2191
double-attached twice for same log file to prevent file crash.

[9_2_14_commissioner_failed_sniffer_log.zip](https://github.com/openthread/openthread/files/1312401/9_2_14_commissioner_failed_sniffer_log.zip)

[9_2_4_sniffer_log.zip](https://github.com/openthread/openthread/files/1312399/9_2_4_sniffer_log.zip)

[2017-09-21 20:57] jwhui commented on #2191
@bot-zjlu, thanks for attaching the sniffer traces.  AFAICT, the IEEE 802.15.4 Beacon with the conflicting PAN ID is being sent.  However, it is difficult to tell whether or not ROUTER1 actually receives the IEEE 802.15.4 Beacon message.  Can you debug further to see if ROUTER1 is receiving the Beacon?

[2017-09-22 03:04] bot-zjlu commented on #2191
@Jhui, we are working on..

On Thu, Sep 21, 2017 at 1:57 PM, Jonathan Hui <notifications@github.com>
wrote:

--
Thanks,

zj

[2017-09-27 07:02] xinnnxinnn opened #2225 "Case 7.1.3 is failed because the expected packet "unicast data response" is not found (refer to Issue #2107)"
Hi,
When I test case 7.1.3  using openthread according to test plan V1.1, the test procedure 2  "
The DUT MUST send a unicast MLE Data Response with the updatedNetwork Data to SED_1." is failed.
I find that in function "SynchronizeChildNetworkData" , leader sends child  update request to SED instead of data response (refer to Issue #2107 "[mle] enable retransmission of network data to SEDs"). So t

[2017-09-27 07:53] jwhui commented on #2225
This is a known issue with the Thread Test Harness and is being tracked within the Thread Group as [TESTPLAN-380](https://threadgroup.atlassian.net/browse/TESTPLAN-380).

Sending a Child Update Request is allowed and Thread 1.1.1 Section 5.15.4 states:
[code]

[2017-09-27 08:21] xinnnxinnn commented on #2225
Hi @jwhui,
Thank you for your reply, I will also track this issue.

[2017-09-29 22:40] DuaneEllis-TI opened #2237 "message buffer peak usage - verses "normality" & running out of buffers."
This is more of a question about openthreads message buffer implementation, and how buffer management is done.  It seems the default message buffer count is minimal at best and possibly far to small on the NCP device.

I have what I believe to be a simple test case -  NCP + Border Router  + One joining device - Android APP  - During the joining process, the peak buffer usage is 31 (of 40) buffers

[2017-10-02 16:01] jwhui commented on #853
Closing stale issue.

[2017-10-02 16:01] #853 closed

[2017-10-02 16:01] jwhui commented on #486
Closing stale issue.

[2017-10-02 16:01] #486 closed

[2017-10-02 16:13] jwhui commented on #2237
The relatively long lifetimes for messages in the CoAP response cache is expected - RFC 7252 specifies a default `EXCHANGE_LIFETIME` value of 247 seconds.  The current OpenThread default limits the CoAP response cache to 10 messages.  Of course, the maximum number of message buffers held in the CoAP response cache depends on the size of the messages.

RFC 7252 allows for bypassing the response cac

[2017-10-04 21:08] DuaneEllis-TI commented on #2237
An update - there is *NO* buffer leak that we can find

What we do find, is that if/when commissioning is active *AND* other data activity is happening (ie: pings, and coap requests to other nodes) the commissioning process is more prone to failure.

that said, it is often hard to tell if it is the "process it self" the quality level in the Thread Commissioning App

This issue can be closed.

[2017-10-04 21:08] DuaneEllis-TI commented on #2237
closing.

[2017-10-04 21:08] #2237 closed

[2017-10-05 17:58] GiedriusM opened #2248 "Application coap retransmission problem"
This is identical situation to #2128, except instead of secure coap, the application coap is affected.

[2017-10-05 18:02] GiedriusM commented on #2248
The current solution of GetOwner feels quite awkward especially if yet another exception for application coap would be added. Re-implementing context variable in (single instance) timers could greatly simplify and unify the code.

[2017-10-06 20:05] leslieguyo commented on #1915
guys I am new to linux. How do I install a previous version of gcc-arm-none-eabi.  sudo apt-get install will always get the latest version and using this version to build openthread is giving errors. The bootstrap script has this command and I am stuck. Please help. I need step-by-step instructions if possible

[2017-10-06 20:09] jwhui commented on #1915
@leslieguyo

1. Download pre-built binaries from: https://launchpad.net/gcc-arm-embedded
2. Extract the downloaded file.
3. Update your `PATH` to point to the bin directory.
[code]

[2017-10-06 20:12] leslieguyo commented on #1915
Thanks.

[2017-10-06 20:45] leslieguyo commented on #1915
if I try to run arm-none-eabi-gcc  --version I get this message $HOME/gcc-arm-none-eabi-5_4-2016q3/bin/arm-none-eabi-gcc: No such file or directory

[2017-10-06 20:52] jwhui commented on #1915
Can you copy-paste the terminal output here?

[2017-10-06 21:00] leslieguyo commented on #1915
leslie@leslie-VM:~$ export PATH=$HOME/gcc-arm-none-eabi-5_4-2016q3/bin:$PATH
leslie@leslie-VM:~$ arm-none-eabi-gcc --version
bash: /home/leslie/gcc-arm-none-eabi-5_4-2016q3/bin/arm-none-eabi-gcc: No such file or directory
leslie@leslie-VM:~$

[2017-10-06 21:04] jwhui commented on #1915
@leslieguyo, as mentioned in my comment above, can you validate that `/home/leslie/gcc-arm-none-eabi-5_4-2016q3/bin/arm-none-eabi-gcc` actually exists?

[2017-10-06 21:07] leslieguyo commented on #1915
leslie@leslie-VM:~$ ls -l /home/leslie/gcc-arm-none-eabi-5_4-2016q3/bin
total 27132
-rwxr-xr-x 1 leslie leslie  772740 Sep 26  2016 arm-none-eabi-addr2line
-rwxr-xr-x 2 leslie leslie  800200 Sep 26  2016 arm-none-eabi-ar
-rwxr-xr-x 2 leslie leslie 1306664 Sep 26  2016 arm-none-eabi-as
-rwxr-xr-x 2 leslie leslie  780464 Sep 26  2016 arm-none-eabi-c++
-rwxr-xr-x 1 leslie leslie  771332 Sep 26  2016

[2017-10-06 21:11] jwhui commented on #1915
How about simply executing:
[code]

[2017-10-06 21:14] leslieguyo commented on #1915
leslie@leslie-VM:~$ /home/leslie/gcc-arm-none-eabi-5_4-2016q3/bin/arm-none-eabi-gcc --version
bash: /home/leslie/gcc-arm-none-eabi-5_4-2016q3/bin/arm-none-eabi-gcc: No such file or directory
leslie@leslie-VM:~$

[2017-10-06 21:22] jwhui commented on #1915
It appears your system is 64-bit - you need to install the 32-bit libraries.  See more [here](https://ioprog.com/2015/06/27/setting-up-arm-none-eabi-gcc-on-ubuntu-15-04/).

[2017-10-06 21:27] leslieguyo commented on #1915
yes it is. Forgot about that

[2017-10-06 21:28] leslieguyo commented on #1915
okay working now
Thanks a lot.

[2017-10-09 07:46] vinvinodk opened #2254 "EUI64 ? SHA256 of EUI64 : while adding joiner"
As per the section 8.10.1.9 of thread specification, User will feed the EUI64 of the device to the Commissioner for adding a thread product. But in native commissioner code of OT, we are mem-comparing the user's EUI64 address against SHA256 of EUI64.

Code @ Commissioner::HandleRelayReceive API of commissioner.cpp file.

If my understanding is wrong, then user should feed SHA256 of Device's EUI64.

[2017-10-10 16:33] jwhui commented on #2254
At the user-interface level, the input should be the factory-assigned IEEE EUI-64.

I see that the `commissioner joiner add` CLI command does expect the Joiner ID (i.e. SHA-256 of the factory-assigned IEEE EUI-64).

I can look into changing the CLI to support the factory-assigned IEEE EUI-64 instead.

[2017-10-10 20:23] abtink commented on #2248
The reason behind removing context from `Timer` was to reduce memory (specially for MTD build). Almost all of classes/instance within OT are singletons and we can save RAM by not keeping track of  context pointer for callbacks.  We have few cases where this may not be the case (like `Coap` or `DatasetManager`). Here are some approaches we can consider:

1. Short-term we can use the same solution a

[2017-10-11 06:28] hanno-arm commented on #2176
Hi everyone,

I have been working on a related fix https://github.com/ARMmbed/mbedtls/pull/946 for Mbed TLS and am trying to understand whether it might also resolve the present issue. From @erja-gp's description, it seems that the problem is that there's a datagram including a `ChangeCipherSpec` followed by application data, and which gets completely dropped because the unexpected `ChangeCipherSp

[2017-10-11 08:07] hubertmis commented on #2176
@hanno-arm, thanks for your input. It looks that this commit should fix one of two reported problems. I'll try to apply it and check on nRF52 platform.

The second problem is connected with slow ECC calculations. Some platforms calculate ECC in software so slow, that peer times out and retransmits last flight (check sequence diagram in #1207). This retransmission is stored in rx buffer and it is n

[2017-10-11 08:11] erja-gp commented on #2176
I will try to verify it before the end of this week.

[2017-10-11 08:28] hanno-arm commented on #2176
@hubertmis I agree that this leads to unnecessary network load, but does it prevent the handshake from succeeding?
The only time-agnostic remedy I could conceive on the level of Mbed TLS is to never issue multiple retransmissions in response to what the library finds within a single datagram, but this wouldn't solve the problem when multiple datagrams have accumulated during a longer calculation.

[2017-10-11 08:31] hubertmis commented on #2176
@hanno-arm I've never seen a problem with successful handshake on nRF52 caused by duplicated responses. Only unnecessary traffic. From my perspective preventing duplicated responses is 'nice to have' but not priority.

[2017-10-11 08:46] GiedriusM commented on #2248
1. I agree that such workaround is possible as it would be the least disturbing change.
2. I'm not quite sure I follow how this would help to get from a static timer handler context into the class context without a similar mechanism to 1.

--- OFF-TOPIC ---
As a general thought, some things about the Timer do not feel right. First the dependency on the otInstance (with a separate timer scheduler)

[2017-10-11 09:37] hubertmis commented on #2176
@hanno-arm I've performed smoke test with provided patch. I could not finish DTLS handshake. There was some assertion fault in OpenThread. I don't have time to debug it right now.

[2017-10-11 09:40] hanno-arm commented on #2176
@hubertmis Thanks for giving it a try so quickly. Did you apply the commit only or the entire PR? It might be that the problem triggering #1207 is occurring here, too, in which case the entire PR would be needed. But of course it might be something entirely different, or a fault introduced by the commit - let me know once you had time to debug.

[2017-10-11 09:57] hubertmis commented on #2176
@hanno-arm I've used patched version from OpenThread (fix for #1207 is present) and added your commit as another patch. It seems that after handshake first (or 2nd) `mbedtls_ssl_write()` returns `MBEDTLS_ERR_SSL_WANT_READ`. I didn't check why.

[2017-10-11 10:47] hanno-arm commented on #2176
@hubertmis Ok, so the failure happens after `mbedtls_ssl_handshake` has completed? Is it happening for the joiner or the commissioner? Is the scenario you tested the one described in this issue or something different?

[2017-10-11 10:58] hubertmis commented on #2176
@hanno-arm It seems that handshake is completed. I can see first Application Data sent by Joiner, followed by `Change Cipher Spec, Encrypted Handshake, Change Cipher Spec, Encrypted Handshake` combo sent by Commissioner. After this message Joiner reports `MBEDTLS_ERR_SSL_WANT_READ`

[2017-10-11 11:52] erja-gp commented on #2176
This sounds very much like the original problem which I described in https://github.com/openthread/openthread/issues/2176.

Each retransmitted frame (due to a slow device) causes its own separate answer. This means later on in the flow, a frame not related to the current state of the state machine is received and this causes the DTLS code to return errors (the state machine got confused). The 'dup

[2017-10-11 12:54] hanno-arm commented on #2176
@erja-gp @hubertmis Could you point me to the code where you're performing the handshake and sending the application data afterwards, so that I can have a closer look?
Also, is it possible for you to give the whole PR a try and see if you still have problems? The use of `WANT_READ` is quite incompatible with event-driven IO in the current codebase. Note also that the PR will be in conflict with th

[2017-10-11 13:21] hubertmis commented on #2176
@hanno-arm I believe handshake and application data is handled in `src/core/meshcop/dtls.cpp` file. `Start()` and `Send()` methods.
I've tried to perform commissioning procedure with mbedtls replaced with ARMmbed/mbedtls#946. The result is exactly the same. During sending application data Joiner stops in assertion `WANT_READ`.

[2017-10-11 14:34] hanno-arm commented on #2176
@hubertmis Thank you. In general, note that you must be prepared to receive a `WANT_READ` or `WANT_WRITE`, even if you call the library in response to an incoming message event or for the purpose of writing. The reason is exactly what we have been discussing, namely that incoming datagrams might entirely consist of unexpected or stale records that are silently discarded. For example, if the Joiner

[2017-10-11 15:09] hubertmis commented on #2176
@hanno-arm I'm not sure how `dtls.cpp` works.
@jwhui Could you help us with this problem?

[2017-10-11 16:18] jwhui commented on #2176
@hanno-arm, thanks for working with us to address this issue.

Application data is only sent in response to calling `mbedtls_ssl_handshake()` and the ssl context `state` member is set to `MBEDTLS_SSL_HANDSHAKE_OVER` after the call.  The corresponding code is here: https://github.com/openthread/openthread/blob/master/src/core/meshcop/dtls.cpp#L402

[2017-10-11 17:00] hanno-arm commented on #2176
@jwhui Thanks. So it looks like it is ensured that `Dtls::Send` is only called once `Dtls::Process` has passed https://github.com/openthread/openthread/blob/master/src/core/meshcop/dtls.cpp#L402 - that's very important, because if `Dtls::Send` was called beforehand, the subsequent invocation of `ssl_write` would would complete the handshake silently, and `mConnectedHandler` would be skipped this w

[2017-10-11 18:30] abtink commented on #2248
On (2) this is what I am thinking: We can have the Coap sub-classes define the timer and its static callback. From the static class method in the sub-class we can then  invoke the base class `HandleTimer()` method. The sub-classes would be singleton so `GetOwner()` would work ok. The base class can still start/stop the timer since it gets a pointer/reference to it in the constructor... (I think th

[2017-10-11 21:04] GiedriusM commented on #2248
What about ResponsesQueue::HandleTimer? I think it should also have it's context fixed.

[2017-10-11 21:10] abtink commented on #2248
Good point! It does indeed...

[2017-10-11 21:28] pkanek opened #2257 "Scan() function is called before initializing the mEnergyScanHandler"
https://github.com/openthread/openthread/blob/95f744fbb40fe5dbd69856820520b397fb372fad/src/core/mac/mac.cpp#L212

This can cause an exception, if the otPlatRadioEnergyScan() returns an error in Mac::StartEnergyScan() function.

The fix is to initialize the  mEnergyScanHandler before calling Scan() function in Mac::EnergyScan().

[2017-10-11 21:29] Nopik commented on #2120
@jwhui I added PR #2256 to showcase my current progress and hopefully get some feedback. The work there is not finished yet. It currently only handles managing local network data and sending it to leader. Next steps are to handle the SRV TLVs on leader and then use them in mesh forwarder.

Please let me know if I'm going in the right direction.

[2017-10-11 21:31] abtink commented on #2257
Good find! Thanks. Do you want to submit a PR for this (or let me know I can add it)....

[2017-10-11 22:30] pkanek commented on #2257
I will create a PR.

Thanks,
Parag

From: Abtin Keshavarzian [mailto:notifications@github.com]
Sent: Wednesday, October 11, 2017 2:32 PM
To: openthread/openthread
Cc: Kanekar, Parag; Author
Subject: [EXTERNAL] Re: [openthread/openthread] Scan() function is called before initializing the mEnergyScanHandler (#2257)

Good find! Thanks. Do you want to submit a PR for this (or let me know I can add it)

[2017-10-12 07:37] hubertmis commented on #2176
@hanno-arm When I disable all hardware acceleration I get following handshake exchange that leads to the assertion fault:
[code]

Check backtrace that reports WANT_READ error code:
[code]

[2017-10-12 09:39] hanno-arm commented on #2176
@hubertmis This is very helpful. So it is indeed the case that (at least) the second `Dtls::Send` is called when a handshake is in progress (either the initial or a new one), and the return of `WANT_READ` is to be expected and desired in this case.
Still, after our discussion above it is unclear to me at moment how it can happen that `Dtls::Send` is called while a handshake is in progress. @hubert

[2017-10-12 10:46] hubertmis commented on #2176
@hanno-arm , I've enabled logging to get some information.
Here is log of processing flight (11): https://pastebin.com/bQ1uEiM2
It seems that problem is in line `[0000080258] -MESH-CP-: bad application data message`. It is followed by error `MBEDTLS_ERR_SSL_UNEXPECTED_MESSAGE` that closes connection in https://github.com/openthread/openthread/blob/master/src/core/meshcop/dtls.cpp#L450. Because of

[2017-10-12 10:50] hanno-arm commented on #2176
@hubertmis Is renegotiation disabled for in your Mbed TLS build?

[2017-10-12 10:53] hubertmis commented on #2176
@hanno-arm I've found following test in `mbedtls-config.h`:
[code]
Because of that I think renegotiation is disabled. Can I verify it run-time?

[2017-10-12 10:57] hanno-arm commented on #2176
@hubertmis Ok, great, we've found the issue. It's a bug in Mbed TLS that has already been fixed but not yet merged: As you can see looking at [this part of `ssl_read`](https://github.com/ARMmbed/mbedtls/blob/development/library/ssl_tls.c#L6881), the code-path handling handshake when expecting application data is only included if `MBEDTLS_SSL_RENEGOTIATION` is set, and otherwise handshake messages

[2017-10-12 11:43] hanno-arm commented on #2176
@hubertmis Could you apply [this patch](https://github.com/mpg/mbedtls/commit/2694afbb56639f2135f1dd48b3ef903df6ac7ecd) and retest?

[2017-10-12 11:57] hubertmis commented on #2176
@hanno-arm Tested. Works perfectly on nRF52840 :)

[2017-10-12 12:08] hanno-arm commented on #2176
@hubertmis That's great news. So let me summarize the outcome of this:
1. PR https://github.com/ARMmbed/mbedtls/pull/946 fixes that sometimes datagrams are unrightfully dropped when they contain a stale `ChangeCipherSpec`. That's what initially triggered this issue.
2. Patch https://github.com/mpg/mbedtls/commit/2694afbb56639f2135f1dd48b3ef903df6ac7ecd fixes that handshake messages are treated as

[2017-10-12 15:30] hanno-arm commented on #2176
@hubertmis Added a slightly different patch as part of [this PR](https://github.com/ARMmbed/mbedtls/pull/1141). If you could give that a test run in conjunction with either https://github.com/ARMmbed/mbedtls/commit/52c6dc64c675d24b1be65e06d43dd67dc111e762 or https://github.com/ARMmbed/mbedtls/pull/946, that would be great.

[2017-10-12 19:47] jwhui commented on #2156
@GiedriusM, given the recent discussions, I think it may make sense to change the API and CLI surface to accept the Joiner Credential (i.e. base32-encoded string).

Regarding the Thread Test Harness, the harness is indeed passing the PSKd directly, and this is something we need to resolve with the Thread Group.

Thoughts? (I know this causes extra work for you).

[2017-10-12 20:08] GiedriusM commented on #2156
Then I guess it's not worth merging the current PR, but do a fresh one once the details are sorted.

[2017-10-12 20:10] jwhui commented on #2156
@GiedriusM, I would suggest moving forward with making the change to Joiner Device Credential now.  We'll resolve the Thread Test Harness discrepancy separately (and provide an interim workaround to the Thread Test Harness, if needed).

[2017-10-12 20:36] GiedriusM commented on #2156
@jwhui, could you expand on what you mean by "JDC change"? As I understand, decision is to have JDC string passed inside of the API, instead of binary PSKd, which is what is currently done in OpenThread.

[2017-10-12 20:47] jwhui commented on #2156
@GiedriusM, couple necessary items:
1. Change argument/variable names to clearly indicate when JDC is being used.
2. Integrate base32 conversion of JDC to PSKd where necessary.

[2017-10-13 02:06] jwhui commented on #2156
@GiedriusM, on further thought, it might be best to hold off on any changes for now.  We'll try to get some quick feedback from the Thread Group on this issue.  Thanks again for raising this issue.

[2017-10-13 07:22] hubertmis commented on #2176
@hanno-arm I've just tried https://github.com/ARMmbed/mbedtls/pull/1141 with ARMmbed/mbedtls@52c6dc6 patch. It works correclty.
Also tried to apply https://github.com/ARMmbed/mbedtls/pull/1141 as patch on top of ARMmbed/mbedtls#946, but patching failed and I did not perform this test.

[2017-10-13 07:28] hanno-arm commented on #2176
@hubertmis Ok, the merge conflicts will be resolved eventually. Knowing that [#1141](https://github.com/ARMmbed/mbedtls/pull/1141) together with https://github.com/ARMmbed/mbedtls/commit/52c6dc6 works fine provides enough confidence to go forward with it for now. Thanks again for all the input and the report. Let me know if you encounter any other problems.

[2017-10-13 07:32] GiedriusM commented on #2156
Alright, let me know when there's any news. I would also suggest reconsider using binary PSKd representation internally, instead of JDC. For one, it makes more sense to work with an actual value rather than a representation of it, as less [core] code is needed to verify it's validity and it leaves a slightly lower program and RAM memory footprint. It is also simpler when PSKd is stored inside EEPR

[2017-10-13 09:07] erja-gp commented on #2176
@hanno-arm I've also tests ARMmbed/mbedtls#1141 with ARMmbed/mbedtls@52c6dc6 patch and it also is working on my platform.

[2017-10-13 09:10] hubertmis commented on #2176
@hanno-arm Do you plan a release that includes  ARMmbed/mbedtls#946 and ARMmbed/mbedtls#1141? When can we expected it?

[2017-10-13 10:32] hanno-arm commented on #2176
@hubertmis I'm sorry, but that's nothing I decide or can safely comment on.

[2017-10-13 18:02] abtink commented on #2248
Submitted https://github.com/openthread/openthread/pull/2264 which should address this.
Ended up going for a hybrid of (1) and (2) approaches, i.e., defining a Cap base class and 3 sub-classes and passing the handlers from sub-classes.

[2017-10-13 20:50] Vyrastas commented on #2178
@nutka7 Thanks for the heads up... in the interim I'll update the Codelab to mention not to use 0.

[2017-10-17 12:12] erja-gp commented on #2176
@hanno-arm A slightly different question: when do you think the above fixes will me merged to the main branch ?

[2017-10-17 12:14] hanno-arm commented on #2176
@erja-gp I hope and try to get them reviewed and merged soon, but I cannot make any definite statements - I'm sorry.

[2017-10-17 21:24] Nopik opened #2272 "Unimplemented method?"
It seems that `AppendDiscovery` is declared at https://github.com/openthread/openthread/blob/master/src/core/thread/mle.hpp#L1131 but never used. Should it be removed, or is it left for future reference/implementation?

[2017-10-17 21:33] jwhui commented on #2272
@Nopik, good catch.  Feel free to submit a PR to remove.

[2017-10-18 07:47] Nopik commented on #2272
#2273 created.

[2017-10-18 07:47] #2272 closed

[2017-10-19 01:05] jwhui commented on #2257
Resolved by #2274.

[2017-10-19 01:05] #2257 closed

[2017-10-19 05:30] jwhui commented on #2248
Resolved by #2264.

[2017-10-19 05:30] #2248 closed

[2017-10-19 19:16] jwhui opened #2279 "[travis] increased failures on Cert_5_3_03_AddressQuery"
Example log from Travis: [log.txt](https://github.com/openthread/openthread/files/1399705/log.txt)

[code]

[2017-10-20 02:48] hjian2017 commented on #2279
Here we power off Router_3 and wait for the DUT to update its address cache and removes all entries based on Router_3’s Router ID.
I discussed this with RongLi before. We thought the average time is :
MAX_NEIGHBOR_AGE + INFINITE_COST_TIMEOUT + ID_REUSE_DELAY + propagation time + transmission time ~ 550s.

We find Harness wait for 580s here. So I will try 580s.

[2017-10-24 18:05] DuaneEllis-TI opened #2299 "BUG: Failed Commissioning results in "Frame rx failed, error:UnknownNeighbor" on second try"
Scenario:
    NCP + Border Router
    Joining Device

During first attempt at commissioning, something goes wrong - commissioning fails.

During the second attempt, the joiner reports:
 [INFO]-MAC-----: Frame rx failed, error:UnknownNeighbor, len:78, seqnum:228, type:Data, src:0x6c00, dst:ffeeb4c865ab8cdf, sec:n

Steps to reproduce:
*   Start the commissioning process (attempt 1)
*    during the p

[2017-10-24 22:03] jwhui commented on #2299
@DuaneEllis-TI, the log message you provided indicates that the Joiner is receiving messages that include a short source address in the IEEE 802.15.4 header.  All messages sent from the Joiner Router to the Joiner should include an extended source address.

Can you provide the log output (INFO level) for both the Joiner Router and Joiner devices during this process?

[2017-10-25 04:49] librasungirl commented on #2279
Closed as #2291 already merged

[2017-10-25 04:49] #2279 closed

[2017-10-26 16:51] jwhui commented on #1741
@DuaneEllis-TI, is this still an open issue for you?

[2017-10-26 16:53] #1741 closed

[2017-10-26 16:54] jwhui commented on #2037
@DuaneEllis-TI, is this still an open issue?

[2017-10-26 16:56] DuaneEllis-TI commented on #2037
resolved

[2017-10-26 16:56] #2037 closed

[2017-10-26 19:28] jwhui commented on #2120
Resolved by #2256.

[2017-10-26 19:28] #2120 closed

[2017-10-29 04:03] bot-zjlu commented on #2191
Hi Jonthan,

Sorry for late reply!  I have other urgent task to do, so no time on this
project.  We still have this problem and will work in it if get time.

Thanks,

zj

On Thu, Oct 26, 2017 at 9:50 AM, Jonathan Hui <notifications@github.com>
wrote:

--
Thanks,

zj

[2017-11-02 17:17] jwhui commented on #2254
@vinvinodk, submitted #2311.

[2017-11-02 17:39] wwhuang opened #2312 "README link to Qorvo does not work"
The link to Qorvo is for https://www.qorvo.com, which fails. The http version of quorvo works. I'm not sure if qorvo's https site is just down or does not exist.

[2017-11-03 15:51] jwhui commented on #2312
@wwhuang, thanks for reporting this.  We'll get this fixed.

[2017-11-03 16:35] Vyrastas commented on #2312
I think it was a mistake, as we have the http:// version on openthread.io

[2017-11-06 17:05] jwhui commented on #2312
Fixed by #2318.

[2017-11-06 17:05] #2312 closed

[2017-11-07 17:41] #2254 closed

[2017-11-07 18:42] beriberikix opened #2324 "Silicon Labs Thunderboard 2 support?"
https://www.silabs.com/products/development-tools/thunderboard/thunderboard-sense-two-kit

Silicon Labs recently announced a new, low-cost development kit that supports their 802.15.4 hardware. Has anyone been able to test the existing `efr32` platform example?

[2017-11-08 20:42] jwhui opened #2325 "AppVeyor builds failing due to expired certificate"
Example log snippet:
[code]

[2017-11-09 15:34] CiaranWoodward opened #2328 "FR: Openthread Platform Abstraction for 802.15.4 MLME-SAP and MCPS-SAP"
Hi, I am trying to investigate the possibility of running openthread on top of an external 802.15.4 MAC layer, using the 802.15.4 defined MLME-SAP and MCPS-SAP.

So far, I have successfully got a mostly-working port by:
-Modifying Mac.cpp to use SAP primitives rather than raw PHY frames and manage the PiB security tables as necessary
-Completely changing radio.h to provide a SAP-primitive interfac

[2017-11-09 16:56] jwhui commented on #2325
Submitted #2329 as a temporary workaround.

[2017-11-09 20:18] jwhui commented on #2325
Merged #2329 as a temporary workaround.  Lowering the priority of this issue.

[2017-11-10 05:18] turon opened #2331 "script/bootstrap or instructions to install tools should be available for Mac"
The openthread.io site mentions running `script/bootstrap` in order to automatically install required tools, but it doesn't work on Mac:

[code]

[2017-11-10 05:30] bukepo commented on #2331
I think we should remove from the main function the following lines:
[code]

[2017-11-10 06:02] jwhui commented on #2331
Submitted #2332 to install basic tools for building.  Please review.

[2017-11-14 16:04] jwhui commented on #2328
@CiaranWoodward, thanks for submitting this proposal.  There have been a few other cursory requests to support the IEEE 802.15.4 MLME-SAP and MCPS-SAP.  However, it sounds like you have some working code, which is great.

I think you outlined the advantages of supporting the MLME-SAP and MCPS-SAP nicely.  Some of the reasons why OpenThread went with the current model are:

1. Support IEEE 802.15.4

[2017-11-14 19:06] CiaranWoodward commented on #2328
@jwhui Thanks for your response.

I do have some working code using the Cascoda CA-8210 radio, and am currently doing some major refactoring and fixing bugs as they pop up. I have builds which have been stable and able to form flexible networks while handling large loads, and have run the stack using the CA-8210 on several platforms from low-power bare-metal systems to desktop linux systems.

I ag

[2017-11-16 17:56] CiaranWoodward commented on #2328
I'd also like to clarify that receiving and decrypting Mode 2 messages in this way is fine (although the mode 2 key device descriptor should have UniqueDevice=1 as an exception to what is specified in 7.2.2.2.5 of the thread spec 1.1.1).

It is transmitting that is the problem. I notice that the only required usage is an announce - which does not seem to require the source address for any other pr

[2017-11-16 19:36] DuaneEllis-TI opened #2350 "Commissioning is broke in Conformance Tests from GRL"
We think this Issue: https://github.com/openthread/openthread/issues/2254
And this merge: https://github.com/openthread/openthread/pull/2311

Is causing some problems with the Thread Conformance/Certification scripts from GRL

Which assumes the previous functionality...

In the end, the commissioning tests fail.

[2017-11-16 20:24] DuaneEllis-TI commented on #2350
Hmm - Update on this -

The GRL  DUT code for the commissioner tests is given/passed as a parameter the EUI64 - then for the openthread configuration it calculates a the HASH MAC and performs the ADD  using the HASHMAC

The solution is quite simple:  require 2 different Python scripts for openthread based devices.

Version: Original - remains unchanged

Version: NEW - passes the EUI64 not the HASH

[2017-11-17 09:36] jwhui commented on #2350
@DuaneEllis-TI, I'm not quite clear on what the issue is, but let me try to answer:

OpenThread reference devices driven by the Thread Test Harness should use the OpenThread python script provided with the Thread Test Harness.

For the OpenThread DUT device:
1) Drive the DUT manually.
2) Add the latest OpenThread.py file from GitHub as a [new reference platform](https://openthread.io/certification

[2017-11-21 00:11] Hyungsin opened #2357 "MLE: MTD's mode setting?"
I tested MTD mode, which does not make a node sleep.
Why is "RxOnWhenIdle" turned on here? I think it is supposed to be disabled for MTD.
https://github.com/openthread/openthread/blob/master/src/core/thread/mle.cpp#L67

[2017-11-21 00:19] jwhui commented on #2357
The radio is always-on when attaching to a network, in order to receive MLE Parent Response messages.  A MTD only receives messages via IEEE 802.15.4 Indirect Transmissions after it has selected a Parent.

[2017-11-21 00:37] Hyungsin commented on #2357
Yes, but to make a node sleep, I think SetRxOnWhenIdle(false) should be executed as follows.
https://github.com/openthread/openthread/blob/master/src/core/thread/mle.cpp#L1680
https://github.com/openthread/openthread/blob/master/src/core/thread/mle.cpp#L1824
https://github.com/openthread/openthread/blob/master/src/core/thread/mle.cpp#L2900

When RxOnWhenIdle is on in mDeviceMode, the above lines a

[2017-11-21 00:40] jwhui commented on #2357
Minimal Thread Devices (MTDs) may operate as a Minimal End Device (MED) or Sleepy End Device (SED).  The former is the default configuration in OpenThread.  The latter may be configured by setting the rx-on-when-idle flag to false.

[2017-11-21 00:46] Hyungsin commented on #2357
Oh, I did not know that SED is not default.
Then it's fine if the default setting is documented somewhere since SED is also working well with disabling rx-on-when-idle.

[2017-11-21 01:03] Hyungsin opened #2358 "Routing: Handling the link with cost 4"
I see the following note on the page 5-25 of Thread specification 1.1.1.
![image](https://user-images.githubusercontent.com/22308790/33049196-bc641e8c-ce13-11e7-82b0-64d0d83dbdd2.png)

In my understanding, Thread wants to select a neighbor with link cost 4 as the nexthop only if there is no other choices. But the following line makes me feel that OpenThread may prefer a direct transmission to the

[2017-11-21 01:11] jwhui commented on #2358
General consensus is that Link Cost 4 links included in the route selection as other link metrics.  I can see how the specification text is confusing.  It may be worth filing an errata JIRA.  At the same time, the text does not contain normative keywords.

See [SPEC-218](https://threadgroup.atlassian.net/browse/SPEC-218) for more discussion around this topic.

[2017-11-21 01:17] Hyungsin commented on #2358
Thanks! But I cannot access SPEC-218.

[2017-11-21 01:20] jwhui commented on #2358
You need to be a Thread Group member.

[2017-11-21 01:27] Hyungsin commented on #2358
Ok. Is academic membership enough to see this?

Also regarding the following line, does OpenThread want to use direct route even though there are better multihop routes? For example, when the direct route has cost 4 and the two-hop route has cost 2 (1+1), OpenThread seems to select the direct route.
https://github.com/openthread/openthread/blob/master/src/core/thread/mesh_forwarder.cpp#L958

[2017-11-21 01:33] Hyungsin commented on #2358
I'm curious about the reason why link cost 4 is not handled differently. Avoiding using link cost 4 links may increase hop distance a little bit, but it would not be problematic since routers are plugged-in and always-on.

[2017-11-21 01:40] jwhui commented on #2358
Yes.  Academic and Affiliate membership have the same benefits: http://threadgroup.org/joinus#Membershipbenefits

In practical settings, going multiple hops incurs a lot more risk than the link/path cost may suggest.  In addition to link margin, there's buffering constraints, routing inconsistencies, etc.  If you can deliver directly to the destination, you avoid all of that uncertainty.

If the d

[2017-11-21 01:49] Hyungsin commented on #2358
I see, thanks!
Maybe UC Berkeley is not an academic member yet?

[2017-11-21 01:54] jwhui commented on #2358
I don't think so.  I reached out to you earlier in the year... :)

[2017-11-21 01:56] Hyungsin commented on #2358
and we answered "Yes"... :) So does it take a while?

[2017-11-21 01:57] jwhui commented on #2358
You have to apply: http://threadgroup.org/join/Becomemember

[2017-11-21 02:04] Hyungsin commented on #2358
Got it. Thanks!

[2017-11-21 16:10] duenzhaw opened #2359 "Secure coap api in ot? [new feature]"
What is the best way to implement secure coap with ot? It would be possible to implement secure coap on top of the udp api of ot, although ot uses secure coap by itself.
One can find a secure coap implementation in [coap_secure.cpp](https://github.com/openthread/openthread/tree/master/src/core/coap). However, there is no secure coap api.
If a secure coap api is implemented, there must be a possibi

[2017-11-21 20:29] TobiasReichert opened #2360 "[CC2650 example][Building error] Dereferencing type-punned pointer will break strict-aliasing rules"
I have tried to build the CC2650 example.

Steps i made:
[code]

But wenn i do the last one i get this error
[code]

This guy seems to have the same error: https://github.com/openthread/openthread/pull/2332#issuecomment-345943567

arm-none-eabi-gcc version:
[code]
Hope you can help =)

[2017-11-22 00:55] jwhui commented on #2357
See the [`otThreadSetLinkMode`](https://github.com/openthread/openthread/blob/master/include/openthread/thread.h#L211) API.

[2017-11-22 01:34] jwhui commented on #2360
Proposed fix in #2361.

[2017-11-22 08:43] TobiasReichert commented on #2360
Fixed by:
https://github.com/openthread/openthread/pull/2361

Thank you =)

[2017-11-22 08:43] #2360 closed

[2017-11-22 10:51] maronows opened #2362 "[CC265x example][Building error]error: initializer element is not a constant expression [-Wpedantic]"
Hi,

After changes introduced in #2361 the build process went further for this example but I'm still getting some errors.

`In file included from /home/aron/devel/openthread/examples/../examples/platforms/cc2650/cc2650_ccfg.c:48:0:
/home/aron/devel/openthread/examples/../third_party/ti/devices/cc26x0/startup_files/ccfg.c:389:42: error: initializer element is not a constant expression [-Wpedantic]

[2017-11-22 13:21] CiaranWoodward opened #2364 "REED and FED receiving of multicasts from neighboring routers"
According to section 4.7.7.4 of thread spec 1.1.1 REEDs and FEDs must maintain one-way links with neighboring routers so that the REED/FED can receive MAC-secured multicasts from them. Currently in openthread FEDs/REEDs use link requests & accepts as required, but drop incoming MAC-secured transmissions that are not from their parents.

This is because the method of validating a MAC source address

[2017-11-22 17:36] jwhui commented on #2362
Thanks for submitting this issue.  Proposed fix in #2366.

[2017-11-22 21:37] #2362 closed

[2017-11-22 21:39] #2358 closed

[2017-11-22 21:39] #2357 closed

[2017-11-27 15:48] Rubeer opened #2369 "CoapBase::HandleRetransmissionTimer doesn't set the InterfaceID?"
On retransmit, the interfaceID is 0, causing OT_ERROR_DROP in Ip6::SendDatagram.
Am I doing something wrong? Adding
`
messageInfo.mInterfaceId = OT_NETIF_INTERFACE_ID_THREAD;
`
in Coap::HandleRetransmission solves the problem for me.

[2017-11-27 17:02] jwhui commented on #2369
@Rubeer, good catch.  Setting the interface id is necessary for link-local communication.  Would you like to submit a PR with the fix?  If not, I can submit the PR.

[2017-11-27 17:05] jwhui commented on #2364
@CiaranWoodward, good catch!  Would you like to submit a PR with the proposed fix?

[2017-11-27 17:27] jwhui commented on #2359
@duenzhaw, exposing a secure coap functionality sounds like a great enhancement.  I'm not aware of any existing work that does this already.  The particular strategy to recommend largely depends on the use case.

On the simple end of the spectrum, the use case only requires a basic CoAP implementation and does not need to operate simultaneously with Thread Commissioning roles.  In this case, I wou

[2017-11-27 17:27] jwhui commented on #2350
@DuaneEllis-TI, were you able to make progress on this issue?

[2017-11-27 17:29] jwhui commented on #2328
@CiaranWoodward, I would contact help@threadgroup.org about gaining access to the JIRA.

[2017-11-27 17:30] jwhui commented on #2299
@DuaneEllis-TI, any updates on this issue?

[2017-11-27 17:34] CiaranWoodward commented on #2364
@jwhui Sure, I'll look further into it and submit a PR soon

[2017-11-27 17:36] jwhui commented on #2156
@GiedriusM, just to follow up on this, I have filed [SPEC-742](https://threadgroup.atlassian.net/browse/SPEC-742).  There seems to be agreement within the Thread Group that the JDC itself should be used as the J-PAKE shared secret (i.e. the string itself and no base32 conversion).

[2017-11-27 17:52] DuaneEllis-TI commented on #2350
Yes we have - sorry should have updated this issue and closed it earlier.

[2017-11-27 17:52] #2350 closed

[2017-11-27 17:52] CiaranWoodward commented on #2328
@jwhui I did that and it appears that affiliates don't have access to it unfortunately

[2017-11-27 17:53] Rubeer commented on #2369
I have created a pull request: https://github.com/openthread/openthread/pull/2370

[2017-11-27 20:51] GiedriusM commented on #2156
Thanks, @jwhui! So I assume that the answer to my first question is "yes"? If so, then the second one becomes kind of unanswered :grin:

I take it, that at the time of writing the whole binary/encoded representation was not fully conceptualized and later the ASCII variant became "de facto". Either way the cited section could be rephrased and if it is decided that JDC is the PSKd, then one or the o

[2017-11-28 12:52] tomas-c opened #2372 "STATUS_NOMEM on SiLabs EFR32"
Hi there,

I've been testing SiLabs MGM12P modules with OpenThread. After a 30min to 2 hours of operation the NCP stops transmitting/receiving IPv6 packets. On every transmit wpantund tells me that NCPs last status is STATUS_NOMEM.

[code]

Has anyone else encountered this before?

What's the best way to debug this when it takes several hours to reproduce?

[2017-11-28 17:33] abtink commented on #2372
@tomas-c  the `NOMEM` typically indicates that that the OT message buffers may be all in use (so `NcpBase` cannot allocate a `Message` for a new IP message). We have seen this symptom in past and the root cause can be different things.
Here are some suggestions for further debugging:
- You can get the status of the OT buffer using the wpantund property `"OpenThread:MsgBufferCounters"` when device

[2017-11-28 17:35] jwhui commented on #2369
Resolved by #2370.

[2017-11-28 17:35] #2369 closed

[2017-11-29 11:44] tomas-c commented on #2372
@abtink Thanks for the suggestions.

I tried enabling NCP debug logs that but seems to use up all the UART bandwidth which results in almost immediate STATE_NOMEM.

As for OpenThread:MsgBufferCounters, I get the following;

[code]

mFreeBuffers is 0 but total number of messages is less than mTotalBuffers. Is this normal or am I missing something?

[2017-11-29 11:49] tomas-c commented on #2324
I have tested MGM111 and MGM12P modules. They all seem to work. Thunderboard uses the EFR32MG12 family chip (same as MGM12P module) so I don't expect it to major any issues.

You might need to modify the makefiles to compile for the specific chip and depending on whether that module has a FEM might need to port [this](https://www.silabs.com/community/wireless/zigbee-and-thread/knowledge-base.entry

[2017-11-29 17:40] abtink commented on #2372
From the counters it looks like all buffers are being used in the "send queue".

An `ot::Messages` (which can contain a full IPv6 payload) can itself contain multiple data buffers (which are fixed size). The counter numbers are ok. There are `"m6loSendMessages = 14"` messages in the send queue which consume total of  `"m6loSendBuffers = 40"` (which is the total number of buffers).

The likely case

[2017-11-30 08:10] Hyungsin commented on #2358
Assume that a neighbor has a weak link which becomes on and off.
Then, the current openthread tries to send packets directly to the neighbor whenever the link is on and experiences continuous failures when the link is off. Is this cycle repeated infinitely without giving any penalty to that neighbor node?

[2017-11-30 15:24] tomas-c commented on #2372
Was able to increase serial baud rate to ~1MHz and that was enough to avoid MAC log messages interfering with normal operation.

I have attached a log file of one of the devices that experiences the issue. A bit difficult to read as wpantund doesn't include new lines when printing NCP log messages.

I did notice one thing. At around 14:03:20 the MAC layer prints "Starting operation" twice without

[2017-11-30 16:33] tomas-c opened #2379 "efr32 CSMA done twice?"
It seems that both the radio and OpenThread perform CSMA.

In efr32 radio.c function otPlatRadioTransmit
[code]

RAIL_CSMA_CONFIG_802_15_4_2003_2p4_GHz_OQPSK_CSMA is

[code]

so SiLabs Rail is set to use CSMA.

Now if we look into MAC layer, we see that before transmitting it calls `RadioSupportsCsmaBackoff()` and if it returns false - performs its own CSMA. In efr32 radio.c function, otPlatRadioG

[2017-11-30 17:09] jwhui commented on #2372
From the logs, it appears as we expected - the radio is getting stuck on a transmit operation for some reason.

Would it be possible for you to add a log just before the call to `otPlatRadioTransmit()` and another in `otPlatRadioTxDone()` to see if the callback is getting called properly?

[2017-11-30 17:49] abtink commented on #2372
Exactly...Seems like radio platform code may be getting stuck on a tx and not invoking callback.

For to code to add `\n` to all OT log and make the logs easier to read, you can change this config option `OPENTHREAD_CONFIG_LOG_SUFFIX` and set it to be `"\n"`....Then OT log functions would then automatically add the new line.

[2017-11-30 22:52] darconeous opened #2380 "[nrf52480] Calling nrf_drv_radio802154_fsm_sleep() breaks usb-cdc-uart transmit"
I am currently working on bringing up a nRF52480-based NCP that uses its native USB capabilities to communicate with the application/host processor, using [USB-CDC-ACM UART implementation](https://github.com/openthread/openthread/blob/master/examples/platforms/nrf52840/usb-cdc-uart.c) (Added in #2215, documented [here](https://github.com/openthread/openthread/tree/master/examples/platforms/nrf5284

[2017-11-30 23:09] darconeous commented on #2380
It seems like things go off the rails once `sleep_start()` in `nrf_drv_radio802154_fsm.c` is called as a result of calling `otThreadSetEnabled(false)` (when it had previously been enabled).

[2017-11-30 23:30] darconeous commented on #2380
Poking around some more, it seems that both the RAAL and USBD use HFCLK. Neutering the macro `NRF_RAAL_HFCLK_STOP()` prevents this problem from occurring.

[2017-11-30 23:36] darconeous commented on #2380
Of course, it's never that simple, as after that I'm seeing issues when attempting to scan. But hopefully that is enough information to help someone more familiar with the code to figure out what is ultimately wrong and the best way to fix it.

[2017-12-01 00:09] darconeous commented on #2380
Maybe `nrf_raal_continuous_mode_enter()`/`nrf_raal_continuous_mode_exit()` should be updated to use `nrf_drv_clock`?

Also, Everything seems to lock up pretty badly (no longer handled incoming commands) after a call to `otPlatRadioReceive()` when using USB-CDC-ACM.

[2017-12-01 00:41] xiaom-GitHub commented on #2379
Thanks for helping test and debug the root cause！sorry to bring this issue. Just as you mentioned, please supplement OT_RADIO_CAPS_CSMA_BACKOFF & OT_RADIO_CAPS_TRANSMIT_RETRIES cap in otPlatRadioGetCaps() to see if the issue will be fixed. If so, would you mind to submit a PR for this bug? Thanks!

[2017-12-01 07:57] rlubos commented on #2380
Thank you for your input, practically you've found the problem yourself.

Indeed for some reason we do not use `nrf_drv_clock` in standalone `nrf_raal`. I'll propose a fix soon.

[2017-12-01 20:14] darconeous opened #2382 "[nrf52480] usb-cdc-uart: Sending/receiving beacons locks up NCP"
It would appear that when used in usb-cdc-uart mode that receiving or sending a beacon locks up the NCP hard (as opposed to #2380 where only usb-cdc-uart transmit was jammed).

Responding to a beacon request:

[code]

Performing a scan where we received a beacon response:

[code]

It is unclear to me if this is beacon-specific, or if this represents a general problem with sending/receiving packets

[2017-12-01 20:19] darconeous opened #2383 "[nrf52480] usb-cdc-uart: NCP locks up after receiving CMD_RESET"
When built with `USB=1`, the resulting nRF52480 NCP image will lock up hard after receiving `CMD_RESET`.

Removing the call to `PlatformDeinit()` from `otPlatReset()` seems to correct the issue. Is the call to `PlatformDeinit()` really necessary before calling `NVIC_SystemReset()`?

[2017-12-01 20:42] darconeous commented on #2382
Looks like some stack corruption has led to the NCP getting stuck in `HardFault_Handler()`:

[code]

[2017-12-01 21:43] darconeous commented on #2382
It looks like there is a problem with the logging code in `examples/platforms/nrf52840/logging.c` starting on 168:

    length += vsnprintf(&logString[length], (LOG_PARSE_BUFFER_SIZE - length),
                        aFormat, paramList);
    logString[length++] = '\n';
    va_end(paramList);

This code is making an incorrect assumption about the return value of `vsnprintf()`. The return value of

[2017-12-01 22:19] darconeous commented on #2382
Proposed fix in #2384.

[2017-12-01 22:29] darconeous commented on #2383
Proposed fix in #2383

[2017-12-02 08:59] LuDuda commented on #2382
Great catch! Thank you for helping us with this issue. Indeed vsnprintf return value was incorrectly interpreted.

[2017-12-03 00:19] #2380 closed

[2017-12-04 15:05] tomas-c commented on #2379
Thanks, Xiaom. Will do once I get #2372 sorted. Thought just mention now before someone else starts looking.

[2017-12-04 16:54] #2364 closed

[2017-12-04 16:55] jwhui commented on #2382
Resolved by #2384.

[2017-12-04 16:55] #2382 closed

[2017-12-04 16:55] jwhui commented on #2383
Resolved by #2388.

[2017-12-04 16:55] #2383 closed

[2017-12-04 16:57] jwhui commented on #2299
@DuaneEllis-TI, any updates on this issue?

[2017-12-04 16:59] jwhui commented on #2176
Status update:
- https://github.com/ARMmbed/mbedtls/pull/946 appears close to merging.
- https://github.com/ARMmbed/mbedtls/pull/1141 has been merged.

[2017-12-04 17:02] jwhui commented on #2110
@abtink, can you take a look?

[2017-12-04 17:15] DuaneEllis-TI commented on #2299
This still happens - it is very hard to reproduce, and when we do reproduce - we don't always have all the logging and sniffers going that we wish.

[2017-12-04 17:41] abtink commented on #2110
We are not changing the network data so not sure why the `THREAD_ALLOW_LOCAL_NET_DATA_CHANGE` is being used. Probably copy-paste from another part. I can change this.

[2017-12-04 23:11] tomas-c commented on #2372
Thanks, guys. I added the log messages and jwhui suggested. Logs attached.

It works for a while but then at 14:11:28, after the last "otPlatRadioTransmit" call, "otPlatRadioTxDone" is never called back.

I thought maybe RAIL_TxDataLoad or RAIL_TxStartWithOptions calls inside otPlatRadioTransmit fail but I ran another test and both of those always return 0, even on the last call to otPlatRadioTran

[2017-12-04 23:37] tomas-c commented on #2372
Just a guess but the logic in efr32RadioProcess for calling back otPlatRadioTxDone doesn't seem to handle the case when the correct ACK is missed and an ACK for a different transmission is received.

[2017-12-05 14:02] tomas-c opened #2391 "efr32 AutoAck not setup but assumed working"
From `examples/platforms/efr32/radio.c`:

[code]

From Rail library rail_types.h:

[code]

Looks like we are not guaranteed the Rail library will wait for an acknowledgement on transmission if we have not setup auto ack and it's not explicitly done anywhere in the platform driver.

[2017-12-05 14:16] tomas-c commented on #2391
False alarm, RAIL_IEEE802154_Init is called in radio.c which in turn calls RAIL_AutoAckConfig. Please disregard.

[2017-12-05 14:16] #2391 closed

[2017-12-05 20:00] tomas-c commented on #2372
Looks like that's exactly what happens. It gets an acknowledgement but DSN doesn't match so keeps waiting forever.

[2017-12-06 02:53] abtink commented on #2110
Submitted https://github.com/openthread/wpantund/pull/256 which should address this.

[2017-12-06 15:04] tomas-c opened #2399 "Incorrect transmit power for efr32"
OpenThread uses dBm to set power. RAIL_TxPowerSet expects dBm * 10.

[2017-12-06 15:30] tomas-c commented on #2399
Submitted #2400

[2017-12-06 17:12] jwhui commented on #2399
@tomas-c, thanks for the fix!  Resolved by #2400.

[2017-12-06 17:12] #2399 closed

[2017-12-06 21:43] abtink commented on #2110
Above PR merged in wpantund.

[2017-12-06 21:43] #2110 closed

[2017-12-06 21:44] jwhui commented on #2379
I've addressed this issue as part of the transition to RAIL 2.x in #2401.

[2017-12-06 21:46] jwhui commented on #2372
@tomas-c, this issue may be addressed in #2401.

[2017-12-08 00:44] pvanhorn opened #2410 "[ncp] Add a public method to ncp_base that allows vendor code to send Spinel messages to a host."
In order to allow vendor specific code to send Spinel packets to a host asynchronously, a new method must be added to the ncp_base class.  This method will be public and callable from vendor code. Like VendorCommandHandler this new method will be implemented by the vendor to perform vendor requirements with full access to the ncp public and private methods and members.

This will allow vendor code

[2017-12-09 00:39] VictorAtPL opened #2414 "Cannot open Visual Studio .sln project file"
Hello,

I cloned repository code of OpenThread and tried to open .sln project file located at etc/visual-studio as openthread.sln and I get following error:
![image](https://user-images.githubusercontent.com/1886347/33790573-9c00588c-dc81-11e7-9710-0483896bab2a.png)

Version of VS:
![image](https://user-images.githubusercontent.com/1886347/33790585-ab0d2742-dc81-11e7-9cb0-86b15002b871.png)

I appr

[2017-12-12 02:29] jwhui commented on #2414
Thanks for raising this issue.  I'm not sure why AppVeyor does not run into this specific error.

The solution file was last updated by #2329.  Can you try removing the commented-out lines completely to see if that helps?

[2017-12-12 08:08] TobiasReichert opened #2416 "'cc1plus': execvp: No such file or directory"
I'm trying to get the CC2650 Example to run.

I have installed the gcc 5.4.1 like it's described in this issue:https://github.com/openthread/openthread/issues/1915#issuecomment-334857701
[code]

But when i trying to compile this error appears:
[code]

What am I doing wrong?

[2017-12-12 08:33] jwhui commented on #2416
It appears your system is 64-bit - you need to install the 32-bit libraries.  See how [here](https://ioprog.com/2015/06/27/setting-up-arm-none-eabi-gcc-on-ubuntu-15-04/).

[2017-12-12 08:44] jwhui commented on #2416
What host OS are you using?  If ubuntu, can you try running:
[code]

[2017-12-12 10:36] TobiasReichert commented on #2416
Oh Sorry.
Yes i'm on Ubuntu.
But if you start the bootstrap it will install the newest arm-gcc, which is on version 6.
In Version 6 there will be this error: https://github.com/openthread/openthread/issues/1915#issue-237021114

So i run the bootstrap, uninstalled the arm-gcc and downloaded the version 5 https://launchpad.net/gcc-arm-embedded/5.0

[2017-12-12 13:13] jwhui commented on #2416
FWIW, the gcc6 errors should be addressed by #2366.  I just built the latest master with no problems using the following version:
[code]

[2017-12-12 13:18] TobiasReichert commented on #2416
Oh okay i will check that.

[2017-12-12 15:01] duenzhaw commented on #2359
We are still doing conceptional work. As we only require basic CoAP implementation (until now), everything indicates that we start on the simple end of spectrum: implementation of CoAPS api within OT (not on top of the udp api).
We have started a list of changes required for adding such an api:
- mbedtls-config.h
  - enable ciphersuites (We probably use: mbedtls: TLS-ECDHE-ECDSA-WITH-AES-128-CCM-8

[2017-12-13 02:36] abtink opened #2418 "Invoking EnergyScan while ActiveScan is ongoing causes crash"
The current `Mac` implementation uses a shared union member variable to store the handler for either active and energy scan. Wit the fix from issue https://github.com/openthread/openthread/issues/2257 (and PR: https://github.com/openthread/openthread/pull/2274) the `mActiveScanHandler` or `mEnergyScanHandler` are set to `NULL` in case of any error in starting the scan operation. This can overwrite

[2017-12-13 02:44] abtink commented on #2418
How about if we use a model similar to `Mac::Sender` and `Mac::Receiver` for active/energy scan operations. Basically adding a new `ScanClient` class which contains the callback logic and other scan parameters. With this model, we can have multiple clients start different scans at the same time and they will be served in the order they are issued.

Thoughts? @jwhui?

[2017-12-13 05:48] #2331 closed

[2017-12-13 08:02] TobiasReichert commented on #2416
Okay no errors on building with version 6.3.1.
Thank you for the good Support. =)

PS: Maybe it would be good if you change the version hint:
https://github.com/openthread/openthread/blob/master/examples/platforms/cc2650/README.md

[2017-12-13 08:02] #2416 closed

[2017-12-14 03:14] abtink commented on #2418
https://github.com/openthread/openthread/pull/2420 should address this issue.

[2017-12-15 09:11] andredas opened #2421 "otThreadDiscover doesn't workt with EUI64 filter enabled"
I'm not 100% sure if this is the right way to use this method, but when I use the otThreadDiscover method with the EUI64 and joinable filters enabled to discover joinable networks. I don't get any response. But I can join the network using the otJoinerStart method.

When I look to the difference of this two methods I see that the otJoinerStart method encrypt the EUI64 before comparing this to the

[2017-12-16 14:01] retobkeller opened #2424 "[nRF52840]: cannot build nrf_egu.c"
nRF52840 specific issue. I built commit 38b7d9e with this issue:

<assert.h> was not found in nrf_egu.h
I had to change <assert.h> into "nrf_assert.h" in the file nrf_egu.h

Best,
Reto

[2017-12-16 14:43] jobroe commented on #2324
You can try my [fork.](https://github.com/jobroe/openthread/tree/thunderboard-sense-2) I  changed the make-files according to the Thunderboard Sense 2 platform. Unfortunately there is currently no board config for version 2 included in the SDK. Therefore I used the board config of version 1. I can not give information if everything works but on my desk, the simply getting started ping example is w

[2017-12-16 15:49] jwhui commented on #2418
Resolved by #2420.

[2017-12-16 15:49] #2418 closed

[2017-12-18 09:47] librasungirl opened #2425 "[tests] unstable tests collection"
OT Contributors may have experienced travis tests failure which may be not relative to their PRs. Re-run travis build is current workaround. Now we have dedicated person who will
help to improve this. If you have met or are experiencing travis tests failure and you think it should not be a problem caused by your PR, please help to list the unstable tests here. Thanks.

Sometimes it is hard to repr

[2017-12-18 16:48] jwhui commented on #2424
FWIW, I just built 38b7d9e for nrf52840 without any issue.

Can you provide more information on your build environment?

[2017-12-18 20:12] jwhui commented on #2421
@andredas, thanks for raising this issue.  I submitted #2426 to address this issue.  Please review.

[2017-12-18 21:58] abtink commented on #2425
Great to see this. Thanks.
I have seen the following tests failing for me on some travis runs:
- FAIL: Cert_5_5_08_SplitRoutersLostLeader.py (example: [travis master build](https://travis-ci.org/abtink/openthread/jobs/318196314))
- FAIL: Cert_9_2_12_Announce.py

[2017-12-18 23:53] jwhui commented on #2410
Resolved by #2412.

[2017-12-18 23:53] #2410 closed

[2017-12-20 05:32] #2421 closed

[2017-12-20 05:32] #2178 closed

[2017-12-21 11:23] tomas-c commented on #2372
@jwhui, just tested - not an issue with #2401

[2017-12-21 16:36] #2424 closed

[2017-12-22 04:56] retobkeller commented on #2424
Sorry, I am late.

I used:
- "SDK for Thread" from Nordic
- Eclipse
- GNU Tools ARM Embedded/5.4 2016q3

Thank you Jonathan and hubertmis for fixing it!!!

Best,
Reto

[2017-12-25 12:44] VictorAtPL commented on #2414
Yes, it helped.

Could you tell me why did you comment those lines?

[2017-12-26 14:59] tomas-c commented on #2372
@jwhui Was a bit too eager to speak - still an issue with Rail 2.0 update.

After 5h of operation one of four devices I had in a network encountered NOMEM.

[2017-12-26 15:11] beriberikix commented on #37
Closed with this [release](https://github.com/openthread/openthread/releases/tag/thread-reference-20170716)?

[2017-12-29 11:57] LuDuda opened #2444 "[mle] multicast address subscription by SEDs"
As Thread specification says:

"_Thread devices MAY subscribe to additional realm-local multicast addresses. Rx-off-when-idle Children MUST register such IPv6 multicast addresses with their Parent to receive them via IEEE 802.15.4 indirect transmissions._"

Currently, OpenThread does not allow this operation (registration of multicast address as unicast does not work because of several reasons - e

[2017-12-29 19:49] gemini-dakota opened #2445 "[efr32] add support for SPI Slave API"
It appears that support for using SPI (as opposed to UART) is not supported for the EFR32 platform. I am able to get UART compiling for using the EFR32 as either a CLI or NCP device. However, when I enable SPI, I receive the following linking error: "undefined reference to `otPlatSpiSlaveEnable'". I briefly looked into this error and openthread appears to be missing the implementation of this func

[2018-01-03 03:36] librasungirl commented on #2444
Thanks for raising this. Agree that it is a missing feature. I'd like to implement this.

[2018-01-03 16:57] jwhui commented on #2445
@gemini-dakota, the EFR32 example drivers do not currently include SPI support.  You are correct, that the platform APIs in`spi-slave.h` need to be implemented.  We welcome any contributions!

[2018-01-03 16:58] jwhui commented on #2414
@VictorAtPL, #2325 details why those lines were commented.  I can submit a PR that directly removes those lines.

[2018-01-03 17:01] jwhui commented on #2414
@VictorAtPL, submitted #2448.  Please review.

[2018-01-03 18:13] jwhui commented on #37
@beriberikix, sounds good to me!

[2018-01-03 18:48] #37 closed

[2018-01-03 19:26] jwhui commented on #2372
@tomas-c, thanks for the feedback.  Is the observed behavior the same as what you've described above?  In particular, is the `otPlatRadioTxDone()` not coming back?

[2018-01-04 12:41] tomas-c commented on #2372
The behaviour was different in my last test. The the stack didn't get permanently stuck in NOMEM state anymore but NOMEM did happen quite often and resulted in messages being lost.

I have attached logs from my latest test. I added some more log messages to track when radio starts transmitting and when finishes (see attached radio.c).

`State=OT_RADIO_STATE_TRANSMIT, DSN=%d, ackReq=%d` - logged in

[2018-01-04 17:30] jwhui commented on #2372
@tomas-c, looking at the log, it seems that each `NOMEM` occurs shortly after three UDP multicast messages (ff03::1 destination) are sent back-to-back from wpantund to the NCP.  There are many other occurrences of a single multicast message being sent from wpantund to NCP, but those do not cause `NOMEM` indications.

One example:
[code]

Can you describe more the traffic pattern that you are testi

[2018-01-05 14:31] gemini-dakota commented on #2445
@jwhui Thanks for the response!

[2018-01-08 12:50] tomas-c commented on #2372
@jwhui I have four devices. One device (call it "server") transmits a beacon to ff03::1 (single CoAP, non-confirmable multicast) every 5 seconds. The other three devices (call them "clients") upon receiving this beacon start sending to the "server" heartbeart messages every 5 seconds (single CoAP, non-confirmable unicast). In the test, the devices are at max transmission power and within 5m of eac

[2018-01-08 21:22] #2414 closed

[2018-01-08 21:48] LuDuda commented on #2425
Adding logs to already reported test.

FAIL: Cert_9_2_12_Announce.py - [travis_9_2_12_announce.txt](https://github.com/openthread/openthread/files/1613163/travis_9_2_12_announce.txt)

[2018-01-09 08:26] librasungirl commented on #2425
FAIL:  Cert_5_1_09_REEDAttachConnectivity
https://travis-ci.org/openthread/openthread/jobs/326701681

[2018-01-09 12:20] librasungirl commented on #2425
FAIL: Cert_5_1_08_RouterAttachConnectivity
https://travis-ci.org/openthread/openthread/jobs/326715975

[2018-01-09 17:47] #2372 closed

[2018-01-09 17:47] #2379 closed

[2018-01-12 03:37] philixwan opened #2470 "How to download Thread-Test-Harness1.1-Alpha v1.0-Release_40.0"
Hello, We want to use the automatic test for openthread. Can you help me where we can download Thread-Test-Harness1.1-Alpha v1.0-Release_40.0?

[2018-01-12 03:44] jwhui commented on #2470
Follow the instructions here: http://graniteriverlabs.com/thread/

[2018-01-12 03:50] philixwan commented on #2470
But I can download just the latest version from here, Is this version used as Harness Automation Tool?

[2018-01-12 03:55] jwhui commented on #2470
You should use the latest version available at the link above.

[2018-01-12 04:04] librasungirl commented on #2470
There are many updates in TH since Alpha v1.0-Release_40.0. It may not have much sense to run with this out-of-date version.
We have realized that the automation tool may not work well with the latest TH R1.2.0 and I believe @FiveDimensions is working on this. Please help to update when there is any progress @FiveDimensions, thanks!
Before the automation tool is ready, TH itself provides another A

[2018-01-12 05:03] philixwan commented on #2470
Thank you very much.

[2018-01-13 06:07] librasungirl commented on #2444
@LuDuda , #2474 is submitted to provide this feature. I have done some simple validation. Please help to have a review, and maybe further verification if you'd like. Thanks.

[2018-01-13 08:33] librasungirl commented on #2425
FAIL：Cert_5_2_5_AddressQuery
https://travis-ci.org/openthread/openthread/jobs/328382463
@hjian2017 , maybe you want to have a look as well as it is you who last updated it #2173

[2018-01-13 08:38] librasungirl commented on #2425
Another failing run of Cert_9_2_12_Announce in @jwhui 's #2472 , with the same error as the log @LuDuda attached above.

[2018-01-13 13:48] LuDuda commented on #2444
@librasungirl that is so awesome! ! Of course i will take a look on your contribution.

[2018-01-16 22:40] #2470 closed

[2018-01-19 00:14] jhwoodyatt commented on #1873
My forecast is growing less optimistic...

[2018-01-19 01:52] beriberikix commented on #1873
Agreed. http://pfultz2.com/blog/2017/10/27/universal-package-manager/

[2018-01-19 19:41] jhwoodyatt commented on #760
I'm withdrawing my suggestion of Conan in #1873. I've never heard of PlatformIO, and I will look into it. I've been experimenting with another one lately, which I like very much, but I'm not ready to promote it here.

[2018-01-22 15:12] al1img opened #2498 "Enable HW Flow control for NCP by default"
In PR https://github.com/openthread/openthread/pull/2401 hardware flow control was enabled for UART because it is recommended by Spinel specification. But pyspinel and borderrouter don't configure HW flow control by default, neither other platforms has flow control enabled by default. So, NCP setup doesn't work out of the box and required additional configuration for EFR32.

The proposal is to dis

[2018-01-23 03:08] VictorAtPL opened #2501 "[DTLS] Cannot successfully join to Thread network thru own written code"
Hi,

I have two CC2538 modules. I have managed to successfully join to commissioner when both devices are configured by CLI. It weren't 100% rate success joins, but the trend was that I could join and ping the another device.

I started to write custom main.c files, first is for commissioner and second is for joiner.

Unfortunately when I start devices, the network is being formed, but the joiner

[2018-01-23 13:12] McMm77 opened #2503 "sInstanceRaw"
I have ported TI CC2538 to FreeRTOS and wanted to add openthread to my project.
But when everything compiles, I have a memory issue. In better words, lack of memory (RAM - .bss).

According to the generated memory map (generated by code composer), it seems that the following
variable is taken the most memory.

openthread/src/core/api/instance_api.cpp
static otDEFINE_ALIGNED_VAR(sInstanceRaw, sizeo

[2018-01-23 16:56] jwhui commented on #2503
`sInstanceRaw` is a memory buffer that contains _all_ statically allocated memory for a given OpenThread instance.  The memory size you quoted above is for an FTD and includes message buffers, router table, child table, address mapping table, among others.

[2018-01-23 16:59] jwhui commented on #2498
@tomas-c recommended and tested the use of HW flow control in #2401.  @tomas-c, can you comment on the proposal above?

[2018-01-23 18:12] tomas-c commented on #2498
Enabling flow control solved most of my NOMEM issues in long-running setups. The spinel specification not only recommends but requires flow control.

I quickly checked NRF52840 code and it seems it enables flow control too (UART_HWFC  is set to NRF_UART_HWFC_ENABLED). Unless I'm missing something?

On the other hand, I agree that it is unnecessary for CLI version.

How about instead of setting uar

[2018-01-24 12:01] al1img commented on #2498
Probably the issue name is confusing. I don't mean to disable flow control completely but temporary because the main issue I see it is inconsistency between different components of openthread:
- not all platforms enable hw flow control by default (only efr32 and nrf);
- border router doesn't enable hw flow control for wpantund;
- pyspinel doesn't enable hw flow control;
- openthread documentation

[2018-01-24 13:23] GiedriusM opened #2507 "otThreadGetDeviceRole returns OT_DEVICE_ROLE_CHILD long after the router has timed it out"
Hi, my team has encountered a peculiar bug which is reproduced in non-standard way, so I expect some grain of salt when looking at it. There's a setup with NCP (border) router and few (2-4) devices, all of which are custom platform. Some devices are connected to a debugger and may be paused for indefinite amount of time. If the pause is long enough that the router times-out the device, it does not

[2018-01-24 17:44] jwhui commented on #2507
Yes, this is expected behavior for Thread.

Thread 4.7.5 states:

OpenThread includes an optional build feature that implements the above.  You can enable the build feature by passing the `--enable-child-supervision` flag as part of configure.  Some more pointers regarding this feature:
- APIs in [include/openthread/child_supervision.h](https://github.com/openthread/openthread/blob/master/include/

[2018-01-25 13:43] VictorAtPL commented on #2501
Any thoughts guys? Or suggests of ways how to debug it?

Need to make it work, because it's part of my thesis paper.

[2018-01-25 16:32] al1img commented on #2498
I see issue https://github.com/openthread/pyspinel/issues/28 for pyspinel already.

[2018-01-25 19:57] jwhui commented on #2498
@al1img, thanks for clarifying.  I agree that we need to resolve the inconsistencies.  Would you be willing to help out with that?

[2018-01-25 19:57] #2503 closed

[2018-01-25 20:08] jwhui commented on #2501
@VictorAtPL, I did a quick review of your code and did not notice anything obvious.  I also tested your code with posix platform and it seemed to work fine.  I suspect that this is an issue specific to the CC2538 platform.

The Joiner Finalize message is used to trigger application and/or vendor-specific provisioning.  See Thread 1.1.1 Section 8.4.5 for more details.

The "hangs" you see during mb

[2018-01-25 21:52] nealjack opened #2513 "NRF52840 build fails on GCC 7.2 -Wexpansion-to-defined"
On a clean git clone on a fresh install of Ubuntu 17.10, the build environment bootstrap script will install the latest arm-none-eabi-gcc, version 7.2.1. GCC version 7 includes `-Wexpansion-to-defined`, which causes multiple macros in the Nordic libraries to throw warnings, which are treated as errors. This can be fixed by adding `-Wno-expansion-to-defined` to the `COMMONCFLAGS` variable in `Makef

[2018-01-26 14:00] al1img commented on #2498
Sure I will help. But I would like to agree the plan before make any changes. Also I will rename the issue to better match its topic. The plan is:

1. Extend otPlatUartEnable(void) with two following parameters:
    * uint32_t aBaudRate - UART baud rate;
    * bool aHwFlowControl - enables HW flow control.
CLI: `otPlatUartEnable(115200, false);` NCP: `otPlatUartEnable(115200, true);`
I can impleme

[2018-01-26 14:28] zsolthajnal commented on #1137
Thanks as well. This worked to me too.

[2018-01-29 13:40] tomas-c commented on #2498
Regarding point 1: spinel documentation allows software flow too control so perhaps instead of true/false use enum/constants?

[2018-01-29 16:11] #2444 closed

[2018-01-29 16:12] jwhui commented on #2513
Resolved by #2514.

[2018-01-29 16:12] #2513 closed

[2018-01-29 18:40] jwhui commented on #2191
@bot-zjlu, I'm going to close this stale issue.  Please reopen if/when you want to move it forward.

[2018-01-29 18:40] #2191 closed

[2018-01-29 18:41] jwhui commented on #346
This effort has been completed.

[2018-01-29 18:41] #346 closed

[2018-01-29 18:44] jwhui commented on #2498
@al1img, this sounds like a reasonable plan to me.

[2018-01-29 19:07] jwhui commented on #2498
@al1img, had a discussions with some other Nest folks.  Rather than changing `otPlatUartEnable(void)` to accept baud rate and flow control parameters, how about making them platform-specific build-time configurations instead?  The thinking is that OpenThread core on the embedded side does not really need to (and thus should not) be concerned with baud rate and flow control and should be contained

[2018-01-29 21:25] al1img commented on #2498
@jwhui, thanks for discussions. In general, UART build-time configuration sounds reasonable. In current implementation it is build-time and platform-specific in some way. What is missing it is make it also application specific in order to have different configuration for NCP and CLI. For this purpose openthread-core-config.h could be extended with application specific config:
[code]
Then in the ap

[2018-01-30 20:10] jobroe commented on #2324
Is there any interest in supporting the Silabs Thunderboard Sense 2 platform in general ?
If I would do a pull request , how would you like to add the platform support ?
As additional folder under /examples/platforms/:
[code]
Or other suggestions ?

[2018-01-30 20:21] jwhui commented on #2324
Would be great to add support for the Thunderboard Sense 2 platform.

From your [fork](https://github.com/jobroe/openthread/tree/thunderboard-sense-2), it appears that the only changes are a CPP define and a board path.  Does it make sense to add conditionals in [examples/Makefile-efr32](https://github.com/openthread/openthread/blob/master/examples/Makefile-efr32) and [examples/platforms/efr32/Mak

[2018-01-31 17:57] jwhui commented on #2501
@VictorAtPL, I just tried your main.c files on top of the latest master with two CLI nodes (https://github.com/openthread/openthread/commit/9190aa21c4b3983c05aad6be8fd5d62942b8cbd8) and everything worked as expected.

I built the images using: `COMMISSIONER=1 JOINER=1 make -f examples/Makefile-cc2538`

[2018-01-31 20:29] #1780 closed

[2018-01-31 20:31] jwhui commented on #1873
@jhwoodyatt, do you want to keep this issue open?

[2018-01-31 20:32] jwhui commented on #2507
@GiedriusM, do you have anything else to add to this issue?

[2018-01-31 20:37] jwhui commented on #2498
@al1img, can we just define a common include header that is included by code in [examples/platforms](https://github.com/openthread/openthread/tree/master/examples/platforms)?  I understand the desire for common build options that can be leveraged across platforms.  However, I'm not sure I see why we need to make any updates to OpenThread core.

[2018-01-31 22:51] al1img commented on #2498
@jwhui, sorry I miss your point. The main goal I would like to achieve is different default UART configuration for NCP anc CLI applications. I don't see how it could be done with common include header in examples/platforms only. Adding possibility to configure UART by config header doesn't make much sense compared to current implementation.

[2018-01-31 23:31] jwhui commented on #2498
@al1img, I was thinking the new include in `examples/platforms` would specify defaults and app-specific includes in `examples/apps/cli` and `examples/apps/ncp` could override those defaults.  Of course, code in `examples/platforms` would need to be updated to include these.  Primary concern here is to avoid incorporating mechanisms within OpenThread core that are really specific to platforms or ex

[2018-02-01 08:13] GiedriusM commented on #2507
Thank you, @jwhui! It completely answers my question.

[2018-02-01 12:53] al1img commented on #2498
Thanks for clarification. The drawback of such solution is creating another configuration file for UART only. There is one place where all configuration done, it is PROJECT_CORE_CONFIG_FILE which overrides default core config and obviously UART configuration should be done there. My proposal was to add possibility to override some settings by specific application. This solution is more generic. It

[2018-02-01 14:05] CiaranWoodward commented on #2328
Update: I am still working on this after being on hold for a bit, submitted JIRA issues [SPEC-754](https://threadgroup.atlassian.net/browse/SPEC-754) and [SPEC-753](https://threadgroup.atlassian.net/browse/SPEC-753), and will soon be testing against the harness to make sure everything else is compliant.

[2018-02-01 16:48] #2507 closed

[2018-02-01 16:57] jhwoodyatt commented on #1873
I'm not sure I like PlatformIO any better than Conan or any of the other obvious alternatives, but I'm sympathetic to at least the general view expressed in that Paul Futz blog post: that the embedded C++ community needs to settle on a decent application package manager. Either that, or my current preferred alternative: abandon C++ for a language with a community that already has one (and I can th

[2018-02-01 16:57] #1873 closed

[2018-02-01 17:08] jhwoodyatt commented on #760
I wanted to test the claim that PlatformIO is open source by reviewing the license. I found the subscription license for PlatformIO Plus, but it was not easy for me to tease out what features of the open sourced logic are independent of the subscription service. If there were alternative hosting services for PlatformIO, and open source development of the PlatformIO Core were not dominated entirely

[2018-02-02 03:30] librasungirl commented on #2425
FAIL: Cert_5_3_05_RoutingLinkQuality when building #2521
[travis_5_3_05_fail_2.txt](https://github.com/openthread/openthread/files/1687973/travis_5_3_05_fail_2.txt)

[2018-02-02 14:43] tomas-c opened #2530 "[efr32] otPlatRadioTxDone not being called"
In some of the larger networks wpantund started printing "STATUS_NOMEM" errors. After this happens, the devices become leaders and form one device partitions. Checking the status of application buffers shows they are all being used for transmission and are not being released.

I made the modifications to radio.c to debug the problems. I have attached the diff at the bottom (the line numbers might

[2018-02-02 20:14] #1466 closed

[2018-02-02 20:21] jwhui opened #2533 "[code-style] change from astyle to clang-format"
The OpenThread project currently uses [astyle](http://astyle.sourceforge.net/) to automatically format code and enforce the [OpenThread style guide](https://github.com/openthread/openthread/blob/master/STYLE_GUIDE.md).  In general, I've found astyle to be fairly limited.

This is a proposal to change to [clang-format 5](http://releases.llvm.org/5.0.0/tools/clang/docs/ClangFormat.html), which provi

[2018-02-03 13:56] GiedriusM opened #2537 "[question] otLinkSetExtendedAddress and IEEE EUI-64"
Hi,

Thread specification explicitly prohibits the use of a factory assigned IEEE EUI-64 (Table 3-2). The only exception is out-of-band commissioning when the extended address MAY be set to IEEE EUI-64, however given the nature of "out-of-band" it is not going to be used anyway.

So more out of curiosity, rather than technical reason, I have few questions:
1) If IEEE EUI-64 is forced as an extende

[2018-02-04 23:26] tomas-c opened #2538 "[efr32] otPlatRadioTxDone ACK frame is always NULL"
I see that when reporting end of transmission in efr32 platform driver, the ACK frame is always NULL. Other platforms pass the ACK frames they receive to otPlatRadioTxDone.

Can not doing so cause issues?

[2018-02-05 17:20] jwhui commented on #2537
The IEEE EUI-64 identifier is an administered identifier typically configured in the factory.  While factory-assigned identifiers are typically assumed to be globally unique, there are a number of instances where that assumption was violated (flaws in manufacturing, counterfeit devices, etc.).

In the context of Thread, devices using the same IEEE Extended Address in the same network leads to the

[2018-02-05 17:31] jwhui commented on #2538
@tomas-c, thanks for raising this issue.  Passing the ACK frame up is required for OpenThread to process the Frame Pending bit in an IEEE 802.15.4 ACK frame.  Note that this mechanism is only required when operating as a Sleepy End Device (SED).  In any case, the ACK frame should be passed up to OpenThread for completeness.  Would you like to submit a PR to address this issue?

[2018-02-05 17:35] jwhui commented on #2530
@tomas-c, thanks for raising this issue.

The only things that come to mind are:
1. OT are not properly handling one or more RAIL events that indicate the end of transmission.
2. OT is making calls to the RAIL API that causes the transmission to abort without RAIL sending a `RAIL_EVENT_TX_ABORTED`  event.
3. The RAIL library has a bug or is behaving in an unexpected way.

[2018-02-05 17:55] tomas-c commented on #2538
Will do if I ever get #2530 solved - that's a bit higher on the priority list.

[2018-02-05 18:14] tomas-c commented on #2530
Here's what I currently know:

**Regarding option 1)**

From Rail 2.1 rail_types.h (Rail 2.0 doesn't define RAIL_EVENTS_TX_COMPLETION)

[code]

We currently handle all of these and on every one of them set `sTransmitBusy = false;`. The only exception is when we receive RAIL_EVENT_TX_PACKET_SENT where we check for `(sTransmitFrame.mPsdu[0] & IEEE802154_ACK_REQUEST) == 0`.

I checked and in every si

[2018-02-05 19:53] GiedriusM commented on #2537
Thanks, @jwhui, once again it answers my questions! "Out-of-band" meaning same "band", but different protocol did not come into my mind :)

[2018-02-06 22:34] #2537 closed

[2018-02-07 10:55] TobiasReichert opened #2548 "[SAMR21] error: this use of "defined" may not be portable"
Hey guys,
I'd like to build openthread on _SAM R21 Xplained Pro_ .
I have made the first two steps from the build example without any problems.
But I don't know what to do on the third or fourth step.
There is no _conf_board.h_ file or _CONF_IEEE_ADDRESS_ macro.
And in the fourth step you should change a _user_board.h_ which I also couldn't find.

Ignoring these steps and building like it is descr

[2018-02-07 11:26] al1img commented on #2548
Hi @TobiasReichert , about steps to build: the third step is outdated, currently IEEE extended address is read correctly form user row section for SAMR21 Xplained Pro. Step 4 is for boards different from Xplained Pro. So, just skip steps 3 and 4. In case Xplained Pro board it should be compiled without changes.

About error you see: the latest gcc has more strict rules. There is no such error with

[2018-02-07 15:52] tomas-c commented on #2530
After more debugging I noticed that, just before the problem happens, RAIL_EVENT_RX_FIFO_OVERFLOW is triggered.

My first guess was that if a frame requires an ACK and RAIL_EVENT_RX_FIFO_OVERFLOW is triggered then, depending on how Rail is implemented, it's possible RAIL_EVENT_RX_ACK_TIMEOUT is never called and efr32RadioProcess thinks that transmission never finished. The only problem with this t

[2018-02-07 17:09] jwhui commented on #2530
@tomas-c, thanks for investigating this issue!  Given that calls to `RAIL_StartCcaCsmaTx()` does not return an error, my guess is that RAIL actually delays the transmission until after the RX FIFO exits the overflow state.  As a result, with your fix, we will flush the RX FIFO properly and allow RAIL to perform the transmission.

[2018-02-07 17:29] jwhui commented on #2548
@al1img, thanks for the clarifications!  Would you be willing to update [examples/platforms/samr21/README.md](https://github.com/openthread/openthread/blob/master/examples/platforms/samr21/README.md) with this info?

[2018-02-07 18:59] al1img commented on #2548
Sure, I will update. Also will check the compiling issue with gcc 7 and add flag if it works.

[2018-02-08 17:06] jwhui commented on #2530
Resolved by #2549.

[2018-02-08 17:06] #2530 closed

[2018-02-08 19:53] jobroe commented on #2324
I agree to your suggestion and also started to create a proposal, see [here](https://github.com/jobroe/openthread/tree/efr32-configurable-board). With this version it is possible to configure the MCU and board, for example
 `make -f examples/Makefile-efr32 COMMISSIONER=1 BOARD=BRD4161A MCU=EFR32MG12P432F1024GL125`
But I think the selection should be limited to supported boards and the MCU should b

[2018-02-08 20:37] jwhui commented on #2324
@jobroe, I believe all you need is to have a board-specific define (e.g. `-DEFR32MG12P332F1024GL125`) and a board-specific include path (e.g. `-I$(EFR32MG_SDK_SRCDIR)/hardware/kit/EFR32MG12_BRD4166A/config`).  In your example above, how about appending to `COMMONCFLAGS` and `EFR32_MBEDTLS_CPPFLAGS` instead?

[2018-02-09 16:55] jwhui commented on #2548
Documentation updated in #2552.

[2018-02-09 16:55] #2548 closed

[2018-02-09 21:43] jwhui commented on #2533
Resolved by #2534.

[2018-02-09 21:43] #2533 closed

[2018-02-09 23:54] pvanhorn opened #2554 "[mle] Ensure that the radio is left in the receive State while Thread is stopped and the Interface is up."
Currently, when Thread is stopped the radio is transitioned to sleep.  This is technically a bug as the radio should transition to the receive State until the Interface is brought down.  Ideally, the code that Thread uses to transition the radio into and out of Sleep should be separate from the code used when Thread is stopped.  Furthermore, the code should avoid toggling the radio state while Thr

[2018-02-11 14:48] jobroe commented on #2324
@jwhui  Unfortunately I'm not sure what is the different between my proposal and your last suggestion. Could you please explain more detailed ?

[2018-02-12 11:15] TobiasReichert commented on #2548
Okay fixed =)
Thank you very much @al1img @jwhui for your friendly help

[2018-02-12 12:40] unitrust1 commented on #2445
@jwhui you are very correct,the platform APIs in spi-slave.h need to be implemented.

[2018-02-12 20:04] jwhui commented on #2324
Maybe I misunderstood your previous comment, but I thought you were concerned about having to modify `configure.ac`.  What I'm saying is that the platform-specific Makefile can simply setup `COMMONCFLAGS` and `EFR32_MBEDTLS_CPPFLAGS` without any hooks in `configure.ac`.

[2018-02-12 21:11] al1img commented on #2498
Update: currently all platform specific code is compiled to a platform lib and then linked with ncp or cli application. It means that to implement above solution with uart header config two different platform libs are required. Which requires to make changes in build system. Basically it will not be the easy and beauty solution.

[2018-02-13 17:23] jwhui commented on #2498
@al1img what about adding an API to [examples/platforms/platform.h](https://github.com/openthread/openthread/blob/master/examples/platforms/platform.h) that allows for dynamically configuring the UART?

[2018-02-13 20:32] jobroe commented on #2324
Okay now I got it, I'm sorry. I updated my proposal, see [here](https://github.com/jobroe/openthread/commit/bf8226502e9352280880dce5572f58ec410a4f7f)
The user can now just provide the board for example for WSTK:
[code]
or for Thunderboard Sense 2
[code]
What do you think ?

[2018-02-14 17:04] #2554 closed

[2018-02-14 21:47] jwhui commented on #2324
@jobroe, your approach looks good to me.

[2018-02-16 18:14] robertcragie opened #2561 "Typo in gp712 Makefile.am"
Line 61: SORUCES->SOURCES

[2018-02-16 18:23] jwhui commented on #2561
@robertcragie, thanks for reporting this issue.  Submitted a fix in #2562.

[2018-02-16 18:23] jwhui commented on #2501
Closing this issue.  Please reopen if you still have this issue.

[2018-02-16 18:23] #2501 closed

[2018-02-17 10:56] jobroe opened #2565 "[efr32] EFR-32 example does not build anymore"
Hi All,

i checked out the current master and I tried to build the efr32 example. But it is not building successfully at least on my machine. I checked the latest commits and I saw there are changes according include sequence by applying the clang-format. It could be related to that.  See attached the log.
[build-error-efr32.log](https://github.com/openthread/openthread/files/1733597/build-error-e

[2018-02-18 21:35] rdewaele opened #2568 "[kw41z] OPENTHREAD_ENABLE_CLI_LOGGING no longer supported"
The example platforms _kw41z_ and _efr32_ include a header `<cli/cli-uart.h>` and a call to a function `otCliLog` that are enabled when the macro `OPENTHREAD_ENABLE_CLI_LOGGING` is defined.

It seems that the header nor the function no longer exist, per https://github.com/openthread/openthread/commit/da357701406a38a94478b7f8c6a90f09cded0166

However, `src/cli/cli_uart.cpp` still supports `extern "

[2018-02-18 21:54] rdewaele commented on #2568
Adding a C header with prototypes corresponding to cli_uart.cpp and changing `otCliLog ` to `otCliPlatLogv` fixed the issue for me on _kw41z_.

As I can not be sure about the intent when the header file was removed, I would like some advice as to how this issue should be resolved correctly. I'll gladly make a PR upon feedback on this issue.

[2018-02-20 17:28] #2561 closed

[2018-02-20 18:42] jwhui commented on #2568
@rdewaele, thanks for reporting this issue.  The macro `OPENTHREAD_ENABLE_CLI_LOGGING ` and function `otCliLog` is not longer used and these other calls you point out should be removed.  The examples [examples/platforms/efr32/logging.c](https://github.com/openthread/openthread/blob/master/examples/platforms/efr32/logging.c) and [examples/platforms/kw41z/logging.c](https://github.com/openthread/ope

[2018-02-20 21:56] DuaneEllis-TI opened #2571 "Unknown Neighbor during Join"
This problem has existed on and off for quite some time now - it's also a very temperamental problem - meaning - it goes away, then comes back on its own.

Short version: During commissioning, the joining device gives up with an "Unknown Neighbor" message
the work around seems to be (a) reconfigure the network (new pan id, new passwords) and it seems to fix it self. or wait a little bit and it fix

[2018-02-20 22:09] DuaneEllis-TI commented on #2571
See: https://github.com/openthread/openthread/issues/2299

[2018-02-20 22:46] jwhui commented on #2571
@DuaneEllis-TI, thanks for digging into this issue.

Looking at the ncp.txt log file, it seems to start off with one link-local IPv6 address:
[code]

But then switches to using a different one later on:
[code]

The `MeshForwarder` component [selects the MAC Source Address](https://github.com/openthread/openthread/blob/master/src/core/thread/mesh_forwarder.cpp#L422) by first doing a match of the IP

[2018-02-20 22:53] jwhui commented on #2571
@DuaneEllis-TI, is it possible that the linux host is assigning `fe80:0:0:0:c742:9fc9:f6fe:7264` to the Thread interface, which then gets propagated down into the NCP?

[2018-02-20 23:02] DuaneEllis-TI commented on #2571
Attached is the output of "ifconfig" and various other things some of which I had to type by hand...
with various IP addresses  of other parts of the system

[ifconfig-bbb.txt](https://github.com/openthread/openthread/files/1742224/ifconfig-bbb.txt)

[2018-02-20 23:02] DuaneEllis-TI commented on #2571
Oops did not intend to close...

[2018-02-20 23:34] DuaneEllis-TI commented on #2571
Hmm - I formed a new network and might be misleading you.
the NCP log shows the network name as

Which is 'as it was'  when the problem first introduced it self again.

You'll notice the network name has changed from Feb20 - to Feb20_v2
sorry for the confusion.

[ifconfig-v2.txt](https://github.com/openthread/openthread/files/1742305/ifconfig-v2.txt)

Let me back up to the top and and reproduce ag

[2018-02-20 23:59] DuaneEllis-TI commented on #2571
Setting expectations - this will take a day or so - before I can get back to this.

[2018-02-21 00:27] DuaneEllis-TI commented on #2571
Q: If there are some places i could / should instrument with some more logging - (ie: Litter the some section or area with lots of print statements) - please point me at them.

I do think this is really about a corner/error-recovery case -

ie: Something goes wrong in the commissioning process.

The scenario I'm thinking is this:

the Human (our victim) is lost - and tries to reset things to start

[2018-02-21 16:47] #2565 closed

[2018-02-21 16:49] jwhui commented on #2571
@DuaneEllis-TI, it might be useful to log when unicast addresses are added in `Netif::AddUnicastAddress()`.  I suspect that there are multiple link-local IPv6 addresses, causing the default source address selection to use the wrong one.

[2018-02-21 23:49] DuaneEllis-TI commented on #2571
Updated logs - added logs in various other functions also - you should recognize the names, I am also printing the address that is being passed to the function where used/possible.

I have not reviewed these yet.

[joiner-feb21.txt](https://github.com/openthread/openthread/files/1746126/joiner-feb21.txt)
[bbb-feb21.txt](https://github.com/openthread/openthread/files/1746127/bbb-feb21.txt)
[ncp-feb

[2018-02-22 00:07] DuaneEllis-TI commented on #2571
Hmm - the joiner.txt - where it states:

the "short@444" - occurs in the function   MeshForwarder::GetMacSourceAddress()

The current code is here: https://github.com/openthread/openthread/blob/master/src/core/thread/mesh_forwarder.cpp#L430

Our internal branch is a little behind (we are in the process of merging to master now)

[2018-02-22 00:33] DuaneEllis-TI commented on #2571
The host - well that's WPANTUND - straight out of the box - no change, so this change would need to occur in wpantund.

[2018-02-22 00:39] DuaneEllis-TI commented on #2571
Remember here - this is occurring during a relay - from the far away Android Device.

In this case, the leader/commissioner is the NCP -

I don't know enough of the spec to question another possible corner case, specifically: Where the Joiner is multiple mesh/router hops away...  from the NCP/Border Router.

[2018-02-22 00:52] jwhui commented on #2571
The communication between the Joiner Router and Joiner is always done via link-local addresses - doesn't matter how many hops away the Border Router is from the Joiner.

wpantund does not add its own link-local addresses - it simply takes them from either the NCP or linux network interface.  The NCP log clearly indicates that the link-local address is "external" (i.e. coming from the host).  Ideal

[2018-02-22 01:41] DuaneEllis-TI commented on #2571
So putting it another way...

The NCP ends up with multiple IPv6 addresses and chooses the wrong one here.

Once the joining operation starts ... (ie: Discovery Request/Response) why can't the meshcop code just "lock on-to" the address used during the discovery process?

[2018-02-22 02:47] jwhui commented on #2571
I just submitted #2579.

There's really only one link-local IPv6 address that the device should use.  Thread assumes that link-local addresses are derived from the IEEE 802.15.4 Extended Address.

[2018-02-22 19:47] abtink commented on #2571
We can consider filtering the user/interface added link-local IPv6 addresses on `wpantund` (i.e., not syncing a link-local address from user/interface on NCP).

I wonder if there is a way to configure linux host to not add its own link-local IPv6 address.
Maybe disabling autoconf  `echo 0 > /proc/sys/net/ipv6/conf/wpan0/autoconf`

[2018-02-23 02:27] abtink commented on #2571
Just submitted https://github.com/openthread/wpantund/pull/278 on wpantund.

[2018-02-24 02:45] samkumar opened #2585 "Copying Headers in OpenThread"
I noticed that when the Ip6 layer processes a received packet, it first copies the header out of the message to the stack, and then processes the header. Similarly, when sending a packet, it first constructs the header on the stack, and then copies it into the Message. Other layer of the protocol stack (e.g., UDP) work in the same way.

However, if OPENTHREAD_CONFIG_MESSAGE_BUFFER_SIZE is tuned co

[2018-02-25 16:41] al1img commented on #2498
Technically this is possible: for example to add following function PlatformSetUartConfig(int speed, UartFlowControl flow) which stores UART config in some variables and this config will be applied on otPlatUartEnable call. But IMHO it will look like some kind of workaround.

[2018-02-27 01:42] DuaneEllis-TI commented on #2571
As an FYI - the way to reproduce the original issue easily seems to be

1) using gui form the network.
2) Using the android app commission a device.

3) Important - power cycle, the entire border router (NCP + linux-host)
I am not sure if is always limited to just the NCP

4) Try to commission another device.

[2018-02-27 02:36] jwhui commented on #2585
Thanks for submitting this proposal.

Couple things to consider:
1. There may be multiple IPv6 headers in a given datagram.  Thread uses IPv6-in-IPv6 encapsulation for MPL.  Applications may also choose to use IPv6-in-IPv6 encapsulation.  How do you propose to handle this case?
2. Are you proposing to require that `OPENTHREAD_CONFIG_MESSAGE_BUFFER_SIZE` be large enough to hold an IPv6 + IPv6 HBH O

[2018-02-27 02:37] jwhui commented on #2324
Resolved by #2566.

[2018-02-27 02:37] #2324 closed

[2018-02-27 14:52] jwhui commented on #2498
@al1img, I agree that the approach is not ideal.  At the same time, we really want to minimize the interface between OpenThread and the platform layer - as a result, we want to limit the `otPlat*` APIs to represent only the functionality that OpenThread actually uses.  Open to other suggestions if you have them.

[2018-02-27 18:59] robertcragie opened #2592 "PlatformInit() namespacing"
PlatformInit() namespacing is a bit generic and has caused an issue in a porting exercise I am doing, Would it be possible to change it to otPlatInit() in line with the other platform files? The same would apply to PlatformProcessDrivers().

[2018-02-27 19:01] jwhui commented on #2592
@robertcragie, thanks for raising this issue.

We want to reserve the `otPlat*` prefix for platform functions that the OpenThread library actually uses.  Things like `PlatformInit()` and `PlatformProcessDrivers()` are specific to the particular examples that are using OpenThread.  Would something like `otExampleInit()` and `otExampleProcessDrivers()` help?

[2018-02-27 19:58] turon commented on #2592
I'd like to throw the proposed namespace of `otRuntime*` into the hat.  So `PlatformInit()` and `PlatformProcessDrivers ()` would become `otRuntimeInit()` and `otRuntimeProcessDrivers()`.

[2018-02-27 20:12] jwhui commented on #2592
@turon, not sure I see "runtime" as a good fit.  A "runtime" typically implements an execution model, or portions thereof.  In this case, `PlatformInit()` and `PlatformProcessDrivers()` have nothing to do with the execution model.

[2018-02-28 09:26] robertcragie commented on #2592
@jwhui I see your point as these are called by the example apps' `main()`, not the OpenThread library and are indeed specific to the way the examples are structured. The `otExample` prefix works for me but I would suggest making that distinction clear in the porting guide, i.e. separating what is actually platform abstraction from specific example implementation API.

[2018-02-28 11:14] mwilniewiec opened #2595 "Invalid Border Agent Locator in leader network data (unable to join)"
I found that leader + commissioner can eventually go to an invalid state where Commissioner is sending keep alives and it is accepted by the leader but nobody can join.

The problem shows up when a border agent sent a leader petition in a child state (not leader, nor router). In that case a child RLOC is saved in network data Border Agent Locator.
When this thread device changes it's state to "rou

[2018-02-28 14:41] jwhui commented on #2595
@mwilniewiec, thanks for reporting this issue!

I agree that the Thread specification does not address how to handle RLOC changes.  The Thread Group is tracking this issue in [SPEC-490](https://threadgroup.atlassian.net/browse/SPEC-490), but that has gone stale.

I do agree that, at a minimum, that the Leader should update the Border Agent Locator TLV when noticing a change via the Keep Alive mess

[2018-03-03 19:35] Nopik commented on #2595
I don't think that the 2) approach (not allowing changes) will be a good solution. I would just go with #2596 and allowing mesh to heal after short period of time. Then, as optimization, reduce this time to minimum, hopefully to zero.

[2018-03-07 17:45] #2595 closed

[2018-03-13 18:10] #2568 closed

[2018-03-14 18:24] jwhui commented on #2538
@tomas-c, I just submitted #2617, which should resolve this issue.  Please review if you get a chance.

[2018-03-21 16:09] #2538 closed

[2018-03-21 17:36] abtink opened #2633 ""make pretty" is failing (cannot find nrf files)"
`make pretty` and `make pretty-check` both failing for me with:

[code]
I am building with following configurations:
[code]

[2018-03-21 17:57] abtink commented on #2633
`sudo git clean -dfx` addressed it... closing...

[2018-03-21 17:57] #2633 closed

[2018-03-27 12:54] zhanglongxia opened #2640 "Traffic hang issue"
Scenario:
Four NORDIC dev boards with ot-cli-ftd image. The image is based on the commit: 4e92a73. The topology is shown in the following figure. A is leader, B, C and D are routers.
         A
          |
         B
       /    \
      C     D

Issue description:
Both the Node C and D are sending traffic to A at the same time. A moment later, the node A can't receive any packets from node C and D

[2018-03-27 13:05] zhaxia commented on #2640
The topology:
![topology](https://user-images.githubusercontent.com/12897117/37968951-263291a2-3202-11e8-98f1-5c8828244dc7.jpg)

[2018-03-27 14:03] LuDuda commented on #2640
Thank you for reporting this issue. We are looking at it.

[2018-03-29 08:44] LuDuda commented on #2640
We found the root cause in our radio driver. The fix will be available soon. One more time thanks for raising this and very detailed description! 👍

[2018-03-30 10:31] hubertmis commented on #2640
The fix is available here: https://github.com/NordicSemiconductor/nRF-IEEE-802.15.4-radio-driver/pull/91
We plan to merge it to OT repository next week (after weekly robustness testing).

[2018-04-04 16:26] #2640 closed

[2018-04-05 09:03] hanno-arm commented on #2176
Update: https://github.com/ARMmbed/mbedtls/pull/946 has been merged and will be included in the next release of Mbed TLS.

[2018-04-09 03:07] Macielyoung commented on #1137
Thanks. I have tried various methods and they didn't work to me. Your method works well.

[2018-04-12 08:46] bukepo opened #2661 "DialogSDK cannot be compiled by gcc-6 because of 1 << 31"
In some older compiler, 1 << 31 was undefined. Shall we change this to 1U << 31 at line https://github.com/openthread/openthread/blob/master/third_party/dialog/DialogSDK/bsp/peripherals/src/hw_otpc.c#L164

[2018-04-16 03:25] yuzhyang opened #2664 "Could not send packets any more"
## SUMMARY
One node could not send packets any more in long-term run
Image version: #2649
Platform: Nordic

## STEPS for Issue happening
1. Keep sending unicast packets between each possible connection in a 12-node network with 512B payload size, repeat 50 times, interval 500ms
2. Send multicast packets from each node with 512B payload size, repeat 50 times, interval 500ms
3. The number of sending

[2018-04-16 03:47] yuzhyang commented on #2664
@LuDuda @hubertmis Please let me know if you want specific register value etc.

[2018-04-16 14:34] kbogucki opened #2665 "nRF5 SDK for Thread example does not work with nrf_cc310 lib"
Hi,

I cannot run openthread example with change (add cryptocell support (#2628)):
https://github.com/openthread/openthread/commit/996be6e1474d405fdb10e83ce7d50c2a80fad6db

Example from nRF5 SDK for Thread (nRF5_SDK_for_Thread/examples/thread/experimental/freertos_coap_server) does not work when linking with openthread/third_party/NordicSemiconductor/libraries/nrf_cc310/lib/libnrf_cc310_0.9.9.a

T

[2018-04-16 19:14] LuDuda commented on #2665
Hello @kbogucki.

The new version of nRF5 SDK for Thread is going to be released in a few days maybe tomorrow) with your specific example fixed.

For the time being, can you try move all platform initialization out of FreeRTOS task, and call it from the main function, before FreeRTOS's thread is created?

[2018-04-16 19:43] LuDuda commented on #2664
Hello @yuzhyang thnks for reporting this issue. Most likely there is some race condition in our radio driver, which incorrectly prevents reporting of ACK timeout or frame being transmitted.

We will of course take a look on that and fix as soon as possible. We will start investigating this at the begginning of the next week due to lack of engineers in next few days (internal activities).

Which ve

[2018-04-16 23:07] #103 closed

[2018-04-16 23:07] jwhui commented on #251
Closing this issue now that we have an example implementation (albeit for a different platform).  See [examples/platforms/nrf52840/spi-slave.c](https://github.com/openthread/openthread/blob/master/examples/platforms/nrf52840/spi-slave.c).

[2018-04-16 23:07] #251 closed

[2018-04-16 23:09] #2325 closed

[2018-04-16 23:10] jwhui commented on #2585
Closing stale issue.  Please reopen if/when you want to push this forward.

[2018-04-16 23:10] #2585 closed

[2018-04-17 04:55] yuzhyang commented on #2664
Thanks, @LuDuda. The hung node's chip version is Q1AAA 1646AD. More info for your reference, we have 1716AK and 1650AE in the testbed as well, which are not hung at present.

[2018-04-17 10:01] kbogucki commented on #2665
Hi @LuDuda,

Moving platform init to main function solved the problem.
Thanks for your help.
Waiting for new SDK.

Regards,
Krzysztof

[2018-04-17 10:01] #2665 closed

[2018-04-17 11:58] thcu-gp commented on #2176
It would be great to have this next version of mbedtls in OpenThread

[2018-04-17 16:36] jwhui commented on #2176
Yes, we'll sync with the next release of mbedtls when that is available.

[2018-04-17 16:39] jwhui commented on #2661
@JakubBrachTieto, can you help take a look?

[2018-04-25 19:54] ekarlso opened #2682 "Error compiling on Ubuntu 18.04"
latest trunk

./bootstrap
make JOINER=1 COMMISSIONER=1 USB=1 -f examples/Makefile-nrf52840
  MKDIR    output
  MKDIR    build/nrf52840
  CONFIG   nrf52840...
(cd build/nrf52840 && /home/ekarlso/software/openthread/examples/../configure INSTALL="/usr/bin/install -p" CPP="arm-none-eabi-cpp" CC="arm-none-eabi-gcc" CXX="arm-none-eabi-g++" CCAS="arm-none-eabi-gcc" OBJC="cc" OBJCXX="" AR="arm-none-eabi-

[2018-04-25 20:06] jwhui commented on #2682
This error typically indicates that your arm gcc toolchain is not installed.

Does `which arm-none-eabi-gcc` return anything for you?

--
Jonathan Hui

On Wed, Apr 25, 2018 at 12:55 PM, Endre Karlson <notifications@github.com>
wrote:

[2018-04-25 20:35] ekarlso commented on #2682
which arm-none-eabi-gcc
/usr/bin/arm-none-eabi-gcc

Using built-in specs.
COLLECT_GCC=arm-none-eabi-gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/arm-none-eabi/6.3.1/lto-wrapper
Target: arm-none-eabi
Configured with: ../src/configure --build=x86_64-linux-gnu --prefix=/usr --includedir='/usr/lib/include' --mandir='/usr/lib/share/man' --infodir='/usr/lib/share/info' --sysconfdir=/etc --localstatedir=/var --d

[2018-04-25 21:47] jwhui commented on #2682
It's not immediately obvious to me what is causing this issue.  It appears
that the link check against strlcpy is failing, which typically indicates
an issue with your build environment.

Can you provide your full config.log?

FWIW, master HEAD (2c4b793
<https://github.com/openthread/openthread/commit/2c4b7932835d3f155cbe3c885741d5ac5570255f>)
has passed Travis build checks with arm-none-eabi-gcc

[2018-04-25 23:44] pvanhorn opened #2683 "[MAC] Modify the MAC to store two channels; radioChannel and networkChannel."
Currently, the MAC layer stores a mChannel value that represents both the channel set by otLinkSetChannel() and the channel to which the radio is currently set. A Discovery scan for instance, will use MAC::SetChannel() to change the channel while performing a discovery scan. When the Discovery scan completes the Discovery logic restores the channel to its original value.  This behavior is less opt

[2018-04-26 18:27] jwhui commented on #2682
One thing to try is replicating the same steps that Travis uses to install gcc-arm-none-eabi.

https://github.com/openthread/openthread/blob/master/.travis/before_install.sh#L77

[2018-04-27 04:57] chshu opened #2686 "[efr32] no uart output on ThunderBoard Sense 2 board"
There is no uart output when running latest OT build on [ThunderBoard Sense 2](https://www.silabs.com/products/development-tools/thunderboard/thunderboard-sense-two-kit) board, while uart input works well.

More details:

- Firmware: ot-cli-ftd built by`make -f examples/Makefile-efr32 BOARD=BRD4166A`
- Based on some debugging, the uart input works well, the device could receive cli command correct

[2018-04-27 11:37] LuDuda commented on #2664
Hello we have a suspect. We observed that this behavior is correlated with CSMA/CA algorithm.

And appears if this [function ](https://github.com/openthread/openthread/blob/master/third_party/NordicSemiconductor/drivers/radio/mac_features/nrf_802154_csma_ca.c#L134 ) draws 0 multiple times in a row.

 Unfortunately we are all ooo next week due to national holidays. We will try to fix it afterwards

[2018-04-27 16:11] jwhui commented on #2686
I confirm the same issue.  It has something to do with the UART flow control.  Applying this diff fixes the problem for me.

[code]

[2018-04-27 20:33] ekarlso commented on #2682
Yeah, it seems it doesnt like GCC 6 .

[2018-04-27 20:33] #2682 closed

[2018-04-27 21:42] jwhui commented on #2682
As mentioned above, Travis has build checks against GCC 6 for both x86 and arm, which are passing.

[2018-04-28 06:44] chshu commented on #2686
@jwhui , The change also works for me, thanks:+1

[2018-05-07 10:58] hjian2017 opened #2698 "When there is an error in DTLS config process, should OT unexpected exit?"
Hi,
There is a line of code in Dtls::MapError:
assert(rval >= 0);

The MapError function is called by Dtls::Start when try to config the dtls. If there is an error in the DTLS config process, I think OT will unexpected exit.

That is not safe and might lead to the fellowing problems:
    1. affect the robustness.
    2.have not released the resource of SSL.
    3.user don't know what happen.

Sugg

[2018-05-09 04:35] #2698 closed

[2018-05-09 12:49] LuDuda commented on #2664
Hello, I was able to reproduce failure behavior that was caused by race condition in radio.c.
The fix is on pull request. Is there any chance you can rerun your test on your end?

[2018-05-15 16:02] yuzhyang opened #2709 "Recent commits haven't been backward compatibility since #2667"
SUMMARY

Recent commits could not join one same WPAN with previous since #2667 ;
Sniffer with previous version could not decrypt packets from nodes using recent firmware
Platform: Nordic

DETAILS

Nodes with 2649 and Node with 2684 could not join one same OT network with the proper configuration.
This difference should happen since #2667 (2667. could not co-work with 2666, 2666. is working with pr

[2018-05-15 17:10] yuzhyang commented on #2709
Platform nrf52840 is using here. Thanks for the useful info, I've done the verification using 2708 just now. Good to see that the 2708 could join the 2649 network now :-) Still one small problem, the router table is blank though the neighbor with 2649 could ping 2708 and 2708 could ping 2649 as well after 20 mins.
Log from 2708

ping fdde:ad00:beef:0:0:ff:fe00:c800

router table
router table
| ID

[2018-05-15 18:52] jwhui commented on #2664
Resolved by #2700.

[2018-05-15 18:52] #2664 closed

[2018-05-15 21:13] rdewaele opened #2711 "Alpine Linux & Musl libc compatibility: _IOC_SIZEBITS undefined"
I am experimenting with OpenThread in Docker using Alpine Linux, which uses musl libc. Compiling the unmodified sources resulted in an error about _IOC_SIZEBITS not being defined. Googling this error led me to the following page and prompted my solution included below: https://www.spinics.net/lists/linux-spi/msg08503.html

[code]

I'm open to submitting this change as a PR, but maybe it's simpler

[2018-05-15 21:19] jwhui commented on #2711
@rdewaele, thanks for reporting this issue.  Please go ahead and submit a PR.

[2018-05-15 21:31] darconeous commented on #2711
Good find! Happy to take this as a pull request.

[2018-05-16 14:44] BJeanjean opened #2717 "some commands not available (CoAP, Commissioner...)"
Good Evening,

I'm using the EFR32™ Mighty Gecko Wireless Starter Kit, and I followed each step from this page https://github.com/openthread/openthread/tree/master/examples/platforms/efr32 .
However, I now have got some issue, in fact I would use CoAP and Commissioner commands for my project, but they are not available when I enter help into the console:

[code]
And when I want to use those comman

[2018-05-16 14:45] ChrIgiSta commented on #2359
We have just made a PR: #2716

Regards

[2018-05-17 04:05] jwhui commented on #2717
@BJeanjean, thanks for reporting this issue.  I just tested with the latest master and was unable to reproduce your issue.

If you did a build without those optional features enabled, you may need to run configure again.  You could try running clean first and then rebuilding:
[code]

Alternatively, you could try building from a clean repo:
[code]

You should see configuration output similar to:
[c

[2018-05-17 09:50] BJeanjean commented on #2717
Thanks for your fast answer.

I've try clean first before rebuilding and that now works with the leader. However I still cannot use CoAP with the Router, but I don't even know if I am supposed to be able to do so.
In fact, in my project I need one leader, and other nodes which could communicate in mesh Network, like we already can do with the examples from SiLabs (client/server), and I would use t

[2018-05-17 15:52] jwhui commented on #2717
@BJeanjean, did you try running through the [CoAP CLI example](https://github.com/openthread/openthread/blob/master/src/cli/README.md#coap-start)?  You should be able to use the CoAP service on any Thread device role (leader, router, child).  I just tried with the latest master (b76f72e) and it worked fine for me.

If you are still running into issues, can you provide more detail on the steps you

[2018-05-17 15:53] #2711 closed

[2018-05-18 12:42] rdewaele opened #2724 "[posix] Dockerize OpenThread"
related: #1784, #2711
possibly related: #1860

I currently have a semi working version of OpenThread in Docker. The setup is to have a container running (Alpine Linux) for each OpenThread instance.
As the original POSIX platform "broadcasts" messages by looping over all possible ports, for each sending packets to 127.0.0.1, I modified this to use a multicast address. Each instance subscribes to th

[2018-05-18 13:06] BJeanjean commented on #2717
I retried to do everything again (even delete de gecko_sdk_suite folder to copy another one) and it seems to work now. I suppose that after cleaning I did something wrong when I flashed the second card.
Well thank you a lot for your help, and good luck for the future of OpenThread !

[2018-05-21 02:06] wanglun2012 opened #2726 "multicast communication with Group ID supporting"
Hello,
Does openthread support multicast communication like ZigBee?
It needs a 16-bit network address called multicast address(Group ID).
Multicast: This is a transmission to every device in a particular PAN belonging to a dynamically defined multicast group, and within a given transmission radius measured in hops.

Thank you.

[2018-05-21 23:29] chshu commented on #2726
Yes, OpenThread supports multicast, please refer to [Thread Spec 1.1.1](https://www.threadgroup.org/ThreadSpec) section 5.2.3.

By default, all Thread devices will subscribe to some Link-Local and Realm-Local multicast addresses (e.g., ff02::1, ff03::1).

You can also define you own multicast group, and subscribe your devices to it. Please refer to the [multicast related APIs](https://github.com/o

[2018-05-22 02:30] wanglun2012 commented on #2726
@chshu
Thanks for you reply firstly.
Thread Spec 1.1.1 section 5.2.3 just indicates supporting IPv6 multicast.
But it is different from ZigBee multicast extremely.

So, openthread just supports IPv6 multicast. Am I right?

[2018-05-22 02:37] chshu commented on #2726
@wanglun2012 Yes, Thread is IPv6 based protocol.

[2018-05-23 01:08] joker9357 opened #2730 "bootstrap and make file failed"
I'm new for raspberry pi and I am setting up the development environment on raspbian following the tutorial.
when I executed the "./script/bootstrap" it told me

"Unable to locate package 'clang-format-5.0' "

and then I checked the bootstrap file and apt list, there is no clang-format-5.0 in apt list.

So I replaced the 5.0 with 4.0.

As a result, when I make file, there are a lot of nothing to b

[2018-05-23 01:22] NickNamerr opened #2731 "Child list stack"
Hello, I am using EFR32 chipset and ot-cli-ftd. After entering "child list" - cli does not react until hard reset of device.

[2018-05-23 02:19] wanglun2012 commented on #2726
@chshu
I read the API which you mentioned.
But I don't know how to verify Openthread multicast.
For example, there are 4 nodes and I let 3 nodes subscribe multicast address ff05::1.
What should I do next?

[2018-05-23 02:40] chshu commented on #2726
@wanglun2012 If you are using CLI version, you can simply use the ping cmd to verify:

Subscribe multicast address with cmd:
`ipmaddr add ff05::1`

Ping the multicast address from another node with cmd:
`ping ff05::1`

[2018-05-23 03:04] rdewaele opened #2732 "[test-diag] unit test linker error on OS X (10.13.4)"
## Platform Information

[code]

[code]

[code]

## Steps to produce the error

[code]

## Symbol living in the common section

Inspection of the archive shows that the missing symbol _is_ present in the misc.o object file in the _common_ section. It is also undefined in the platform.o object file. This corresponds with the definition of the variable in misc.c file and the extern declaration in th

[2018-05-23 03:39] wanglun2012 commented on #2726
@chshu
Thanks for you reply.
That's exactly what I were thinking.
I have already verified the multicast by ping cmd.

If I want to group control some lamps for demo show, maybe I should do some application development because Openthread lacks of higher application layer.

[2018-05-23 08:07] jwhui commented on #2730
clang-format 5.0 is required for automated code formatting using the `make pretty` target.  If you do not care about automated formatting, you can just comment that line out.

Rather than relying on apt-get, you could try to directly use the [official build for Clang 5](http://releases.llvm.org/5.0.0/clang%2bllvm-5.0.0-armv7a-linux-gnueabihf.tar.xz).  Then comment out the clang-format-5.0 install

[2018-05-23 10:06] NickNamerr opened #2733 "CoAP ack does not reaching sender"
Hello,

Just figured out that node does not recieve ACK message for CON CoAP Request.
What i made:
coap start
coap resource ipaddr
coap post 2001:db8:935::1 ipaddr con fd11:1111:1122:0:4e8f:f214:76d:f7a5

2001:db8:935::1 is eth0 of OTBR, there is running CoAP server and sending back message to ip from CoAP message

meanwhile ran tcpdump to see raw data on wpan0 interface.
1) message from node
 fd1

[2018-05-24 03:35] yuzhyang opened #2738 "[MLE] OPENTHREAD_CONFIG_ENABLE_DYNAMIC_MPL_INTERVAL could not be enable after #2678"
[Enhancement] When set OPENTHREAD_CONFIG_ENABLE_DYNAMIC_MPL_INTERVAL to 1, the compile could not pass since commit #2678.

[2018-05-25 17:15] jwhui commented on #2717
@BJeanjean, great to hear, and thanks!

[2018-05-25 17:15] #2717 closed

[2018-05-25 17:16] jwhui commented on #2726
Yes, Thread provides IPv6 connectivity and is intentionally application-layer agnostic.

[2018-05-25 17:16] #2726 closed

[2018-05-25 19:37] jwhui commented on #2733
@NickNamerr, there seems to be an issue with your CoAP server running on the OTBR.  The CoAP client is rejecting the ACK because the ACK message's IPv6 source address does not match the request message's IPv6 destination address.

RFC 7252 Section 4.1 states:

   IP address and a UDP port number.

RFC 7252 Section 5.3.2 states:

       destination endpoint of the original request.

Can you check y

[2018-05-25 19:51] LuDuda opened #2748 "[mle] assert in HandleAdvertisement method"
During testing of ot-ncp-radio example, i got this assert on posix side:

`src/core/thread/mle_router.cpp:1270: otError ot::Mle::MleRouter::HandleAdvertisement(const ot::Message&, const ot::Ip6::MessageInfo&): Assertion "leader != NULL" failed.`

Unfortunatelly i couldn't reproduce it to pull more debug information.

Thoughts?

[2018-05-25 20:17] jwhui commented on #2731
@NickNamerr, thanks for reporting this issue!  I just submitted a fix in #2749.  Please review.

[2018-05-25 20:47] jwhui commented on #2738
Resolved by #2739.

[2018-05-25 20:47] #2738 closed

[2018-05-28 14:08] thcu-gp commented on #2176
just wanted to mention there is a new tagged version 2.9.0 of mbedtls
https://github.com/ARMmbed/mbedtls/tree/mbedtls-2.9.0

[2018-05-29 17:01] #2731 closed, assigned to jwhui

[2018-05-29 23:30] #2709 closed

[2018-05-30 09:08] LuDuda commented on #2748
I got this assert again, but only once (it's very hard to reproduce), it is related with re-synchronization.

[code]

GDB Logs:

[code]

It seems like mLeaderData has Leader Id set to 27 but mRouterTable is empty. When i put breakpoint in this line, it looks like in correct situation mRouterRable contains Leader object.

[2018-05-30 21:16] LuDuda commented on #2748
@jwhui i think i found the reason, the problem was introduced in #2678.

The assert happens after re-synchronization of FTD child if this condition fails: https://github.com/openthread/openthread/blob/master/src/core/thread/mle_router.cpp#L1195

Because of that we don't call `ProcessRouteTlv` method and so `mRouterTable` stays empty.

The assert is hard to reproduce since it depends on the random

[2018-05-30 22:23] Nopik opened #2758 "Add support for long routes"
Currently OpenThread (and Thread itself) does perform very poorly when faced with network consisting of long line of devices - e.g. a street, where there is a device in each street lamp. So, each device sees few neighbours on each side only. If the radio reachability is relatively small (e.g. device can see 5 neighbours on each side), and we want to have lets say 150 devices in line, it is (sadly)

[2018-05-30 23:12] jwhui commented on #2732
@rdewaele, thank you for raising this issue and detailed description!  If I read this correctly, your suggestion is to initialize globals at declaration.  If so, I agree and please submit a PR with the fix.

[2018-05-30 23:31] jwhui commented on #2748
@LuDuda, thanks for identifying this issue!  At first glance, it seems we need a couple fixes:

1. In `MleRouter::HandleAdvertisement()`, force processing the Route64 TLV if the router table is not initialized yet (i.e. after first attaching to the network).
2. In `MleRouter::HandleParentRequest()`, replace the assert with `VerifyOrExit()`.

I'll think more about the how best to resolve this issue

[2018-05-31 14:58] rdewaele commented on #2732
@jwhui Indeed, initialising the globals fixed the issue in my testing. The alternative/complementary fix is to add some flags to the build system (compiler `-fno-common` and/or linker `-Wl,-load_all`) but these are more heavy handed I feel, and may have side effects.

Would you like me to scan the whole project for uninitialised globals, or change the one I experienced this problem with.

[2018-05-31 15:55] jwhui commented on #2732
@rdewaele, I agree with not relying on compiler flags to address this. If you are willing, it would be great if you addressed all uninitialized globals.

[2018-05-31 21:48] jwhui commented on #2748
A proposed fix is in #2759.  Please review.

[2018-05-31 23:01] jwhui commented on #2176
Submitted #2756 for upgrade to v2.9.0.  Please review.

[2018-06-01 10:32] iarod opened #2761 "Example for cc2640r2f"
Hello ,

are there plans for adding as an example the cc2640r2f platform? Or has this already been added and I am missing something (I'm new to OT and TI MCUs).
 I'm currently exploring the "Porting" guide on https://openthread.io/guides but I don't know if I'm going in the right direction.

Thanks in advance!

[2018-06-01 15:13] #2761 closed

[2018-06-01 15:20] iarod commented on #2761
Just learned that the CC2640R2F is not able to operate in IEEE 802.15.4 mode. My bad!

[2018-06-01 17:07] jwhui commented on #2758
Thanks for continuing to drive this proposal (and apologies for not responding to your mail earlier).

While a primary goal of OpenThread is to be a leading reference implementation of Thread, I would also like to see OpenThread support development of forward-looking features that may eventually land in a future version of the Thread specification.  Allowing a Thread network to expand beyond sever

[2018-06-01 22:07] Nopik commented on #2758
I'm glad to hear that this work have a chance to be merged, encouraging ;) Indeed, the plan is for it to be completely compiled out by default, with no cost.

As for the old & new mixing, I don't have a solid plan yet - I'm also afraid that it won't be possible, at least in some edge cases. I wasn't aware of the Security Policy TLV details, it's R bit seem indeed very interesting solution.

Since

[2018-06-03 13:32] rdewaele commented on #2732
@jwhui Just a heads up, it's likely I'll only have time in the weekends for a bit to work on this, so it may take a week or two before I get around to wrap this up.

[2018-06-03 17:32] VictorAtPL opened #2762 "Reassembly timeout while joining to network with preconfigured node"
I am trying to connect to working network with the CLI node.

The attach process doesn't want to finish. There are repetitions of following frames/packets:
![image](https://user-images.githubusercontent.com/1886347/40889283-33d0bae0-6764-11e8-805d-1849be315e0d.png)

In node which I am trying to connect I can see following logging info:

Please take a look at sniffer packets whether whole tranmissi

[2018-06-04 22:40] #2748 closed

[2018-06-05 05:27] jwhui commented on #2762
@VictorAtPL, AFAICT, it seems that the the attaching child is not properly acknowledging the Child ID Response fragments.

Note that the zip file you attached seems to contain the log, rather than the pcap.

Also, can you provide more details on the platform(s) you are using?

[2018-06-05 21:28] VictorAtPL commented on #2762
@jwhui I am sorry, I've uploaded .log file twice rather than pcap-ng file in zip. Now it's changed. Take a look at first post.

I am using TI CC 2538. Not sure what more do you want to know.

Why could it not properly send ACK messages? Timing? Doesn't it look like a bug in OpenThread?

I've also tried this patch: https://github.com/openthread/openthread/pull/2371 and it didn't help.

[2018-06-06 16:57] jwhui commented on #2762
@VictorAtPL, I was not successful at reproducing this issuing using the latest commit (3eb552a).

I set up a Thread Leader using a CC2538.  Then with another CC2538 in factory-reset state, I performed the following:
[code]

Can you provide detailed steps to help us reproduce the problem?

[2018-06-06 22:03] jwhui commented on #2758
Router-Eligible End Devices (REEDs) are required to process Route64 TLVs because they are capable of becoming a router if needed.  If an end device never intends to become a router, there is no reason for it to process Route64 TLVs.  That said, I believe we need to add code to properly honor the Security Policy TLV R bit.

[2018-06-06 22:05] jwhui commented on #2081
Closing due to inactivity.

[2018-06-06 22:05] #2081 closed

[2018-06-06 22:05] jwhui commented on #2299
Closing due to inactivity.

[2018-06-06 22:05] #2299 closed

[2018-06-06 22:05] jwhui commented on #2571
Closing due to inactivity.

[2018-06-06 22:05] #2571 closed

[2018-06-06 22:07] #2730 closed

[2018-06-06 22:07] jwhui commented on #2733
Closing due to inactivity.

[2018-06-06 22:07] #2733 closed

[2018-06-06 22:33] Nopik commented on #2758
Yeah, the change seems so incompatible, that it warrants the R bit usage. I will go for it.

My only concern is that we have only 1 R bit for whole Thread 1.x stuff. By using it, this feature will eye forward Thread 2.x. Which probably is a proper thing to do... Also, Thread 2.x should probably define more bits like this (only 3 left without extending the TLV) to block all Thread 2.x REEDs from be

[2018-06-07 05:16] centrexsolutions-admin opened #2767 "Border Router (Prepare Joiner Device) - Building Makefile-cc2650 fails"
Hi,

I'm trying to make a build of the cc2650 with a switch of JOINER=1 for my OpenThread Border Router.

I am using the following command
$ sudo make -f examples/Makefile-cc2650 JOINER=1

I get the following output (Provided just the error. If you need more I can paste the full logs).
/usr/lib/gcc/arm-none-eabi/5.4.1/../../../arm-none-eabi/bin/ld: ot-cli-mtd section `.text' will not fit in region

[2018-06-07 15:55] jwhui commented on #2767
The CC2650 only has 128 KB flash.  As noted by the linker error `region 'FLASH' overflowed by 17504 bytes`, 128 KB flash is not enough to support a build that includes the Thread Commissioning Joiner capabilities.  You should consider the CC2652 or other supported platforms that have more flash capacity.

[2018-06-07 15:55] #2767 closed

[2018-06-08 16:00] #2176 closed

[2018-06-09 14:32] VictorAtPL commented on #2762
I can not reproduce it now, too.
I am closing the issue. I will reopen it if it occurs again.

[2018-06-09 14:32] #2762 closed

[2018-06-09 17:37] Nopik commented on #2758
@jwhui it seems that the R bit in Security Policy TLV is currently ignored in OpenThread. This is a bug, actually. In order to fix it, should I just add proper `&& (aDataset.mSecurityPolicy.mFlags & OT_SECURITY_POLICY_ROUTERS)` to https://github.com/openthread/openthread/blob/master/src/core/thread/mle_router.cpp#L104 and https://github.com/openthread/openthread/blob/master/src/core/thread/mle_rou

[2018-06-09 17:47] jwhui commented on #2758
@Nopik, as you noted, the R bit is currently ignored.  I’ll have a PR up soon to address this.  You can see a preview here: https://github.com/openthread/openthread/compare/master...jwhui:security-policy

[2018-06-09 18:14] Nopik commented on #2758
Thanks. I started to implement this on my PR, but I'll revert, as your implementation seems to be better.

[2018-06-11 21:16] jwhui commented on #2758
@Nopik, I just submitted #2778.  Please review.

[2018-06-12 01:11] nealjack opened #2781 "Openthread platform pin/peripheral configuration is hardcoded"
For all platforms, the UART pin/peripheral configurations are hardcoded in the Openthread library. For example  `openthread/examples/platforms/kw41z/uart.c` hardcodes the use of UART0 and the UART pins  as PTC6 and PTC7. This makes it difficult to use the library on any board besides the development kits these choices were based on. Many modern SoCs allow extensive pin/peripheral muxing to allow f

[2018-06-12 16:16] jwhui commented on #2781
Thanks for suggesting this enhancement.

Note that the example drivers are not a part of the OpenThread library and are only intended to provide example implementations of the platform APIs defined in [include/openthread/platform](https://github.com/openthread/openthread/tree/master/include/openthread/platform).  It is not a goal of the OpenThread project to deliver a fully-featured SDK across the

[2018-06-12 20:54] nealjack commented on #2781
When the openthread libraries are complied, are they compiled as platform agnostic binaries?

My previous experience was with the Nordic Thread SDK, where it contained a precompiled binary that seemed to have pins for the dev kits hardcoded into it. I might be mistaken or remembering wrong, and I haven't tried the new SDK, but if this is the current norm for compiling the library it should be chan

[2018-06-15 07:19] LuDuda opened #2798 "[ip6] memory leak when passing frame from NCP to Host"
Hello,

**Background:**
Recently I have found a serious issue while performing OpenThread NCP stress tests.

I have 24x NCP devices (nRF52840) in my setup that flood network (approx. for ~8h) with Echo Request packets on FF03::1 with different sizes. I control devices using pyspinel wpan API.

The result i found is that after test i see a flood of _MLE Parent Request_ messages. The end result is t

[2018-06-15 08:42] KaSroka opened #2799 "OpenThread cannot work after using link raw API"
When after using link raw API we want to start Thread network it won't work correctly as radio would be left in disabled state.

To reproduce (see comments inline):
[code]

To make it work we need to add call to `otPlatRadioEnable` before we enable Ip6/Thread and this should be avoided.

[2018-06-15 09:53] LuDuda commented on #2798
Update.. It turns out that the problem is related to the test procedure. After the test i did close all Spinel connections, and because of that buffers start to fill NCP queues and eventually we end up with no free buffers. Do you see any solution for that, since i still consider this as unwanted behaviour?

Anyway during investigation i found that memory leak may actually happen if https://github

[2018-06-15 12:25] KaSroka opened #2801 "[radio] mIsCcaEnabled flag behaviour is not well defined"
Expected behaviour for this flag is not well defined.

Current mac (and link raw) behaviour for frames with `mIsCcaEnabled` set to `false` looks like this:
- Start CSMA-CA random backoff
- Send frame without CCA

But most common case for frames with CCA disabled is that we just transmit frame without backoff as well.

We should define common CSMA-CA random backoff behaviour when this flag is set t

[2018-06-15 18:28] abtink commented on #2798
@LuDuda, I am curious to understand what caused the leak.

About the `ncp_base_mdt.cpp` code, `otMessageQueueEnqueue` or `otMessageQueueEnqueueAtHead` return the following errors
[code]
In both cases, the message is included in the queue (it's owned by the `mMessageQueue` queue). Then later the message is dequeued (`otMessageQueueDequeue()`)  and passed to `SendDatagramMessage()`
- In case of succ

[2018-06-15 18:39] LuDuda commented on #2798
Hello @abtink as i wrote in last comment, I discovered that the problem was not related with the memory leak. When i turned off host side, message queue in the ncp_base_mtd has started to fill in, and eventually i believe all buffers were placed in this queue. Because of that OT was unable to allocate message to reply with MLE Parent Response etc. Do you think it's correct behaviour, in such cases