[2018-06-15 23:38] abtink commented on #2798
Thanks @LuDuda. It makes sense.
We keep the messages in NCP spinel buffer until we can deliver them to host. I think this is the desired behavior for NCP build. NCP build relies on the host. Host can go to sleep/low-power mode and then we have `otPlatWakeHost()` mechanism and `SPINEL_PROP_HOST_POWER_STATE ` from OpenThread to wake host (when there is a message for host).

[2018-06-16 12:01] Nopik opened #2802 "Minor code questions"
During OpenThread code analysis I've stumbled into few bits of code which generated some questions. I'm opening this issue as an umbrella one to host them all, to avoid issue spamming with single sentence stuff. If it will be necessary, I'll split separate issues and/or PRs.

Here we go:

- there are two `RouteTlv` structures, inheriting over two different bases, apart from it they are pretty iden

[2018-06-16 20:53] Nopik opened #2803 "Path cost calculation errors"
During my work on #2775 I've been testing how path cost is being calculated, and I've noticed some oddities. Maybe it is me not understanding the fine details of the Thread spec, but more likely this is some bug. Here it goes:

First, I've been testing 'long line' kind of topology: devices are in line, each device can see only 1 neighbour each side, end ones can see only 1 neighbour. Pretty much i

[2018-06-16 21:37] jwhui commented on #2803
@Nopik, thank you for sharing your findings with such detail!

I think everything you have described is as designed and expected.

In particular, the route entries maintain both path cost and link cost separately.  Route cost is the best path to a given router ID that is advertised by a neighboring router.  In your 'long routes' example above, `8c00` -> `bc00` is `8` because it represents the path

[2018-06-16 22:06] Nopik commented on #2803
Thanks for clarification. Indeed, all the cases seem to be my wrong interpretation of the results, not bugs. I thought that the path cost displayed by `route table` is just a cost to reach given node, but apparently it is `best cost from neighbours to reach that node`, which basically explains everything.

And for the LQ stuff, for some reason I expected all the values to be the same - and since t

[2018-06-16 22:06] #2803 closed

[2018-06-16 22:35] Nopik opened #2804 "CLI output is truncated"
When cli is trying to display large chunks of text, the output gets truncated. For example, when having 12 routers, the output of `router table` gets cut like this:

[code]

which seems to be at 1000 bytes mark or very close, at least on my platform (osx).

To reproduce, just launch 12 nodes, do this on each of it:
[code]
wait for routers to appear and issue `router table` on any of the nodes.

[2018-06-17 16:31] LuDuda commented on #2804
Hello @Nopik, CLI output is truncated because of maximum TX buffer size, set to 1024 by default, see `OPENTHREAD_CONFIG_CLI_UART_TX_BUFFER_SIZE` ([config](https://github.com/openthread/openthread/blob/master/src/core/openthread-core-default-config.h#L261)).

[2018-06-17 16:51] LuDuda commented on #2798
Thank you @abtink for clarification. If this is desired behavior for NCP i am going to close this issue.

As a future improvement, i think it would be good to leave some buffers (e.g. 10% of all) for the stack to allow mesh operations such as packet forwarding or prevent situations where we end up in Leader role of a new network - as described in my first post.

[2018-06-17 16:51] #2798 closed

[2018-06-17 19:27] Nopik commented on #2804
Thanks, I expected something like that, but didn't knew which value it is. I guess it is not a bug, then. I'll close this issue and if anyone thinks that it actually should be fixed (e.g. by bumping the bufsize to 2k), we can reopen.

[2018-06-17 19:27] #2804 closed

[2018-06-18 18:53] raupune opened #2806 "Create standalone ARM 32 bit library for Embedded System"
Dear,
I have gone through example set given here. But these examples are limited while real world projects requirements are way different.

I want to create a standalone library file (.a extension for now) and use that file in my project.

I will write all necessary files required for PAL(platform abstraction layer) at my own. (For e.g. implementation of radio.c file).

But I am not able to find o

[2018-06-18 19:44] jwhui commented on #2806
Each [example platform](https://github.com/openthread/openthread/tree/master/examples) has a README that walks through the build process.  The library files that you are looking for are generated as part of that process.  For example:
[code]
Where `libopenthread-ftd.a` is the OpenThread library for Full Thread Device (FTD).

Of course, feel free to integrate OpenThread into your own build system a

[2018-06-18 19:55] jwhui commented on #2802
Thanks for pointing these out.

`NetworkDiagnostic::RouteTlv::mRouterIdMask` should add the `+ 1` for consistency.  Although, the `+ 1` in this specific case does not change anything.

`NetworkDiagnostic::RouteTlv::mRouteData` should change from `Mle::kMaxRouters` to `Mle::kMaxRouterId + 1` fo consistency as well.

Yes, because of the `aTlv.IsRouterIdSet(i) == IsAllocated(i)` check above, I believ

[2018-06-18 20:19] jwhui commented on #2801
I think it makes sense to exclude backoff when `mIsCcaEnabled` is set to false.  Maybe we should rename it to `mIsCsmaCaEnabled`.

We can separate the backoff and CCA functionality when there is a clear use case.

Would you like to submit a PR to address this?

[2018-06-18 21:47] Nopik commented on #2802
Thanks, PR submitted.

[2018-06-18 21:47] #2802 closed

[2018-06-19 08:20] raupune commented on #2806
Dear,

Thanks for prompt reply.

I went through examples and its pretty good

But will you please elaborate how can I integrate Openthread in my own build system?

Integrating Openthread Library in other projects build environment is a genuine requirement. Will you please address the problem?

I went through RIOT OS  Openthread implementation. They imported only required Openthread Stack. And they

[2018-06-19 10:14] BJeanjean opened #2812 "[efr32] build failure for BRD4161A and BRD4166A due to FEM control"
Good Morning,

A few days ago, an update of the openthread has been released, the I decided to download the new version of it. I am currently working on the EFR32MG12P433F1024GM48 module on a custom device, I have updated all the SDK from Simplicity Studio, but when I want to do the "make -f", I have new errors I never had before:

[code]

I don't really know what to do, and I would like to know i

[2018-06-19 11:30] tomas-c commented on #2812
Might be due to #2763. Looking into it now.

[2018-06-19 11:40] tomas-c commented on #2812
Indeed. If in `./examples/platforms/efr32/Makefile.am` you remove `@top_builddir@/third_party/silabs/gecko_sdk_suite/v2.2/util/plugin/plugin-common/fem-control/fem-control.c` and rerun `./bootstrap` then it should fix the problem. I will create a pull request to fix this later.

[2018-06-19 12:08] tomas-c commented on #2812
@jwhui Looks like we need a conditional compilation on that file. Some EFR32 boards need it and some don't. I'm thinking it could be done in two ways:

1. Define BOARD_INCLUDES and BOARD_SOURCES in ./examples/Makefile-efr32 and pass them to ./examples/platforms/efr32/Makefile.am.

2. Add conditionals to configure.ac, maybe something like OPENTHREAD_EXAMPLES_EFR32_<board_name> and pick the right fi

[2018-06-19 17:33] jwhui commented on #2806
Integrating OpenThread into your project is largely dependent on your project-specific toolchain and development flows.  While the OpenThread repo utilize the GNU toolchain, OpenThread is designed to be toolchain agnostic.

In addition to RIOT-OS, some other projects that have integrated OpenThread are Zephyr and IoTivity-Lite.  Silicon vendors have also integrated OpenThread into their own vendor

[2018-06-20 07:36] BJeanjean commented on #2812
It worked ! Thank you a lot

[2018-06-20 08:59] NickNamerr opened #2816 "assert in otError MleRouter::HandleAdvertisement"
Programm stuck on efr32.
 leader = mRouterTable.GetLeader();
                    assert(leader != NULL);
     0001 6094   B900       CBNZ         R0, 0x00016098             ; <_ZN2ot3Mle9MleRouter19HandleAdvertisementERKNS_7MessageERKNS_3Ip611MessageInfoE>+0x3BC
     0001 6096   E7FE       B            0x00016096                 ; <_ZN2ot3Mle9MleRouter19HandleAdvertisementERKNS_7MessageERKNS_3Ip61

[2018-06-20 20:28] jwhui commented on #2812
@tomas-c, at this point I'm leaning towards adding the includes and sources to `examples/Makefile-efr32`.  Ideally, `configure.ac` is limited to building the core OpenThread library.  The example platforms are currently intended to be examples for demonstrating the OpenThread library.  Thoughts?

[2018-06-21 07:51] NickNamerr commented on #2816
I forked master branch at commit id 94bc7b14f30be7071ae3e1a871469d779042a30b.
Used Ozone from Segger as debugger.

[2018-06-21 11:50] KaSroka commented on #2801
I can submit a PR which will exclude backoff when `mIsCcaEnabled` is set to `false`.

[2018-06-21 15:14] raupune opened #2822 "Integrate with Openweave"
Dear,
How to integrate Openweave and Openthread?
Openweave works on Application Layer. While Openthread covers remaining.
I went through Google codelabs.
But question still pinches my mind How to integrate them here?
How to build them together?
I am novice at GNU Build Toolchain.
Thanks.

[2018-06-21 15:28] raupune commented on #2806
Dear jwhui,
Thanks for prompt reply.
My idea is to build a Device/Architecture independent 32 bit library.
Put that library in another project.
Write HAL ( Hardware Abstraction Layer) in respective project.
But question still remains, How to build such independent library?
Openthread says it's Device/Platform agnostic (hardware should be 802.11.15.4 compliant) .
Then it should be possible to creat

[2018-06-21 16:01] jwhui commented on #2806
In your original post, you wanted to generate a static library (`.a`).  Static libraries are compiled for a specific instruction set.  So, by definition, the static libraries are architecture-dependent.

As mentioned in my previous post, cach [example platform](https://github.com/openthread/openthread/tree/master/examples) has a README that walks through the build process.  The library files that

[2018-06-21 16:07] jwhui commented on #2816
I believe this issue was addressed with #2759.  Try moving to a more recent commit and see if the issue remains.

[2018-06-22 14:47] akansal1 opened #2823 "Unable to read messages on COAP server running on Raspberry Pi via Nodered"
I am trying to read COAP messages on nodered running on Raspberry Pi, but I am unable to do so directly. The problem I have found is that UDP packets are being directed to NCP  on OTBR that and are not able to routed to localhost server.

![image](https://user-images.githubusercontent.com/8511760/41782932-2cb83202-7659-11e8-9b7b-f862c4c55188.png)

I am able to read packets, if I forward coming on

[2018-06-25 11:49] tomas-c commented on #2812
@jwhui After more investigation, I could not see an obvious way to pass board-specific sources from <ot_root>/examples/Makefile-efr32 into <ot_root>/examples/platforms/efr32/Makefile.am so not sure about the first option anymore. I pushed #2830 as an alternative fix for this particular problem.

[2018-06-25 21:45] jwhui commented on #2823
This is issue is related to the border router project.  Let's continue the discussion in: https://github.com/openthread/borderrouter/issues/142

[2018-06-25 21:45] #2823 closed

[2018-06-26 16:20] #2661 closed

[2018-06-26 16:21] jwhui commented on #2812
Resolved by #2830.

[2018-06-26 16:21] #2812 closed

[2018-06-29 05:42] NickNamerr opened #2842 ""txpower 3" reset efr32mg13p732 ftd"
Hello,

I could not set "txpower" for efr32mg13p732(supports up to 19dBm) from cli.
Code of "efr32/radio.c":

**_status = RAIL_SetTxPowerDbm(sRailHandle, ((RAIL_TxPower_t)OPENTHREAD_CONFIG_DEFAULT_TRANSMIT_POWER) * 10);_**

seems does not work, "txpower" in cli retruns "0" , "txpower 1" sets it to 1, "txpower 2" sets it to 1, "txpower 3" calls soft reset of the board.

[2018-06-29 05:47] NickNamerr opened #2843 "Thread Network splits into partitions"
Dear sir/madam
I have 31 devices with ot-cli-ftd installed. Sometimes device detaches of the network, form it own, became the "leader" and never returns back.
That means in same time i have 5-6 "leaders" on same channel, networkname, masterkey, panid, extended panid.

Could you tell how to prevent it?

[2018-06-29 06:31] NickNamerr commented on #2816
So far I have not faced issue again. Tks.

[2018-06-29 07:29] jwhui commented on #2842
I haven't tried to reproduce the issue yet, but I'm not able to notice any issues by reviewing the code.  Everything seems inline with the RAIL API documentation.

[code]

[2018-06-29 08:05] NickNamerr commented on #2843
1. gb833373, efr32mg13p732
2. I have to do it. could you give me reference how to get the log from device?

[2018-06-29 08:10] jwhui commented on #2843
If you are using the CLI app, try:
1. Define `OPENTHREAD_CONFIG_LOG_OUTPUT` to be `OPENTHREAD_CONFIG_LOG_OUTPUT_APP` https://github.com/openthread/openthread/blob/c925b42941dc2bfc31161903e6754ff03a94489c/examples/platforms/efr32/openthread-core-efr32-config.h#L44
2. Add the `FULL_LOGS=1` to `make -f examples/Makefile-efr32` command. https://github.com/openthread/openthread/blob/eb4fcff15f92481a619

[2018-06-29 09:14] NickNamerr commented on #2843
I caught  the log, but accidentally could not copy from putty terminal under UBUNTU, will send you screenshots of log over email.

[2018-06-29 09:34] tomas-c commented on #2842
From my experience RAIL_SetTxPowerDbm tries to set the closest value possible on the particular board. That value depends on your hal-config.h. From where did you take your hal-config.h?

I would recommend testing with a SiLabs CLI application, it's very possible you'll see the same behaviour in which case will need to contact SiLabs. I had a similar problem with MGM12P.

[2018-06-29 09:42] tomas-c commented on #2843
I think we've been mostly using the EFR32 driver for EFR32MG12P, yours is EFR32MG13P, perhaps that's why you are having issues.

Should be quite easy to get it to work though:

1) Get the correct hal-config.h from one of the demo Silabs projects for your radio.
2) Update all lines in <openthread>/examples/platforms/efr32/Makefile.am where it says EFR32MG12 or efr32mg12 (I see 4 such lines).
3) Upd

[2018-06-30 04:18] NickNamerr commented on #2843
The issue is not to get it work, but to figure out why thread network breaks in partitions?

[2018-07-02 01:14] NickNamerr commented on #2842
Thank you, will try to reach out SiLabs support.

[2018-07-02 15:44] #2801 closed

[2018-07-02 17:37] jwhui commented on #2843
@NickNamerr, thanks for providing the log.  The log does not show any MLE messages being received, which are required for partitions to merge.  What time period does this log capture cover?  Can you provide more logs across a longer time period?  We should see MLE Advertisements being sent by neighboring routers/leaders every 30 seconds.

[2018-07-03 00:55] fscii commented on #2822
To be perfectly honest, and I really hope people hear this with the open mind its being said with... I prefer that the open community have said thanks for the gift of openthread etc... we'll take it into consideration and may incorporate it or may not.  Basically what they did was give the open community the labor of making everything else on earth Nest compatible.  Imagine apple doing that now. n

[2018-07-03 01:54] NickNamerr commented on #2843
@jwhui please check bigger log
[log.log](https://github.com/openthread/openthread/files/2157339/log.log)

[2018-07-03 01:58] jwhui commented on #2843
@NickNamerr, thanks for sharing the log.  It appears that there are no message buffers available to receive IPv6 datagrams.  Can you try using the `bufferinfo` CLI and sharing its output?  This should provide some additional insight into where the allocated buffers are being held.

[2018-07-03 02:59] NickNamerr commented on #2843
This happens accidentally and very random. I need some time to run it and catch this case. But i will do it for sure.

[2018-07-03 03:07] jwhui commented on #1137
@guanhui07, uninstall pycrypto.  There is name collision in packages `pycrypto` and `pycryptodome` (both have module `Crypto`).

[2018-07-03 11:00] NickNamerr commented on #2843
Finally catch device

total: 40
free: 0
6lo send: 22 40
6lo reas: 0 0
ip6: 0 0
mpl: 0 0
mle: 0 0
arp: 0 0
coap: 0 0
coap secure: 0 0
application coap: 0 0
Done

leader
Done

after command 'reset' device came state became "child"

[2018-07-03 15:20] jwhui commented on #2843
All of the buffers are queued in the mesh forwarder queue.  This behavior typically indicates an issue with the radio driver.  In particular, this tpyically occurs after a successful call to [otPlatRadioTransmit()](https://openthread.io/reference/group/radio-operation#otplatradiotransmit) but the radio driver does not call [otPlatRadioTxDone()](https://openthread.io/reference/group/radio-operation

[2018-07-04 10:16] bukepo opened #2857 "[nrf52840] Unable to write long bytes to uart"
For CLI, pasting `dataset mgmtsetcommand pending pendingtimestamp 40 activetimestamp 80 delaytimer 60000 channel 16 panid 45006`, results in
[code]
Using system call `write()` results in the same.

*NOTE* The firmware was built with **USB=0**

[2018-07-05 09:36] KaSroka commented on #2857
What OS + terminal are you using? I have tried master with USB=0 on linux (ubuntu) with screen and minicom - everything is ok.

[2018-07-05 10:37] bukepo commented on #2857
Did you paste or typed?

[2018-07-05 10:41] KaSroka commented on #2857
As in your description - pasted.

[2018-07-05 11:01] KaSroka commented on #2857
Yes, I've tested on PCA10056 0.11.0 using built-in JLink (JLink firmware from Jan 12 2018)

[2018-07-06 01:33] bukepo commented on #2857
I'm testing on `PCA10056 V0.9.2 2017.26`, so this could be a hardware issue?

[2018-07-06 07:03] KaSroka commented on #2857
I will test it on 0.9.2 2017.27 that I have. Can you try upgrading onboard JLink firmware so we could confirm that it's not an JLink issue?

[2018-07-06 07:13] KaSroka commented on #2857
Quick test with minicom shows that it's working - but on this board I have same JLink firmware (I think it's from version 6.20i of their software)

[2018-07-06 08:16] bukepo commented on #2857
@KaSroka How to upgrade the firmware? Do you have a guide?

[2018-07-06 12:12] KaSroka commented on #2857
I don't know how to do this on Linux but on windows you can use J-Link Configurator (part of J-Link software for windows)

[2018-07-08 16:57] bukepo opened #2867 "otLinkOutOfBandTransmitRequest() and otPlatRadioTransmit()"
According to #2488, `otLinkOutOfBandTransmitRequest()` is designed to be in conjunction with other mac operation which includes normal transmission. However, `otPlatRadioTransmit()` is designed to accept buffer provided by `otPlatRadioGetTransmitBuffer()` only(see https://github.com/openthread/openthread/blob/master/include/openthread/platform/radio.h#L422), which returns a single static buffer on

[2018-07-09 03:42] bukepo commented on #2857
Hi @KaSroka , I updated J-Link firmware, the errors still exists. I verified screen on macOS and Linux. I verified using `write()` on Linux. All fails with the same error.
Here's the firmware info. As you see, it's the latest.
[code]

[2018-07-09 10:58] KaSroka commented on #2857
Can you provide me the code using `write()` on Linux so I could test it on my side? I think this would allow me to make exactly same steps as you are making.

[2018-07-09 20:40] jwhui commented on #2732
@rdewaele, any update on your progress?

[2018-07-09 20:41] #2781 closed

[2018-07-09 20:42] jwhui commented on #2799
@KaSroka, thanks for pointing this out.  Are you willing to submit a PR to address this issue?

[2018-07-09 20:42] #2806 closed

[2018-07-09 20:43] rdewaele commented on #2732
@jwhui I took some time off this and next weekend so I'll try and look into this either this or next Friday. Our project is currently focusing on parts different than OpenThread so that's why I didn't find the time yet.

[2018-07-09 20:55] darconeous commented on #492
Closing. See https://github.com/openthread/spinel-spec

[2018-07-09 20:55] darconeous commented on #524
Closing. See https://github.com/openthread/spinel-spec

[2018-07-09 20:55] darconeous commented on #525
Closing. See https://github.com/openthread/spinel-spec

[2018-07-09 20:55] #525 closed

[2018-07-09 20:56] #524 closed

[2018-07-09 20:56] #492 closed

[2018-07-09 20:56] darconeous commented on #1472
Closing. See https://github.com/openthread/spinel-spec

[2018-07-09 20:56] #1472 closed

[2018-07-09 21:05] jwhui commented on #2842
@NickNamerr, do you have any updates on this issue?

[2018-07-09 21:21] jwhui commented on #2843
Stopping and starting the Thread network interface puts the EFR32 radio back into a known state.  My guess is the radio driver is not calling `otPlatRadioTxDone()` after  a successful call to `otPlatRadioTransmit()`.

I would take a deeper look into the EFR32 radio driver.  The `sTransmitBusy` flag is generally reset as a part of [RAILCb_Generic()](https://github.com/openthread/openthread/blob/ed5

[2018-07-10 17:04] pvanhorn commented on #2867
Hi Yakun.  It is expected that a module which calls otLinkOutOfBandTransmitRequest would have also called otPlatRadioGetTransmitBuffer to acquire a valid buffer.  Therefore systems that expect to call otLinkOutOfBandTransmitRequest, must implement otPlatRadioGetTransmitBuffer, such that it can provide multiple buffers.  Since the call to otLinkOutOfBandTransmitRequest and the implementation of otP

[2018-07-14 21:09] LuDuda commented on #2857
Hello @bukepo,

Since we cannot reproduce this problem locally, and in my opinion problem has to be related with on-board J-Link and not with nRF52840 directly, i would recommend three things:

1) Run JLinkCommander or JLinkExe (under Linux), connect to the board and write: `msddisable` (it disables mass storage support)
2) Change JLink version to 5.12j (this is the most reliable JLink firmware th

[2018-07-15 02:01] bukepo commented on #2857
Hi @LuDuda , I tried several dev boards, all behave the same. I also upgraded to the latest JLink firmware through JLinkExe and ran `msddisable`.
Here's what I did.
[code]
Then, I ran the test script
[code]
got the result,
[code]
As you see, there's some characters like **USBS** as I described in the issue description.

[2018-07-15 08:15] LuDuda commented on #2857
Thanks @bukepo for trying out and sharing the test script. I will back to you ASAP.

[2018-07-16 06:49] chshu opened #2896 "[nrf52840] cc310 is not initialized in some cases"
CC310 is supposed to be initialized during platform init, but I noticed an issue that CC310 will not be initialized if OT dtls related features are not enabled (commissioning, joiner, border agent).

The way to reproduce:

1. Build with: ```make -f examples/Makefile-nrf52840 USB=1```
[cc310_mbedtls.c](https://github.com/openthread/openthread/blob/master/third_party/NordicSemiconductor/libraries/cr

[2018-07-16 07:05] rlubos commented on #2896
@chshu No, it's not expected, CC310 should be initialized in both cases. The only case when it should not be built-in is when you specify DISABLE_CC310=1 during build explicitly. If it behaves as you say, there must've been a bug somewhere in build configuration.

[2018-07-16 07:07] chshu opened #2898 "[nrf52840] device hangs when reinitializing cc310"
#2878 reinitialize all peripherals except uart for pseudo reset, but it introduced another issue that the device hangs when reinitializing cc310, the issue only exist when OT Dtls related features are enabled (because of #2896).

The way to reproduce:

Build with: ```make -f examples/Makefile-nrf52840 COMMISSIONER=1 USB=1```
Download and perform ```reset``` cli command, the device will hangs in:
[

[2018-07-16 07:14] chshu commented on #2896
@rlubos I didn't specify DISABLE_CC310=1, could you please help to double confirm if the issue exists?

[2018-07-16 07:15] rlubos commented on #2896
I'll try to reproduce it.

[2018-07-16 09:15] rlubos commented on #2896
Ok, I was able to reproduce the issue. It looks that the problem we're facing is caused by some nasty "feature" of a `ld`. I've faced similar issue some time ago with different library.

So in general, by default linker searches for symbols only in those object files within library, that contain yet unresolved dependencies. Therefore, in case `weak` implementations are found by linker earlier than

[2018-07-17 01:29] NickNamerr commented on #2843
Could it be a reason of subject:
	"C63FC1D598CF809A, RLOC16:0800, FrameErrRate:12.88%, MsgErrorRate:0.82%, AveRssi:-63, LastRssi:-64, "
	"DAEABD7F10574E09, RLOC16:0c00, FrameErrRate:8.10%, MsgErrorRate:0.74%, AveRssi:-60, LastRssi:-60, "
	"9A59E8FE4B807196, RLOC16:1c00, FrameErrRate:41.05%, MsgErrorRate:6.64%, AveRssi:-76, LastRssi:-76, "
	"023ADF571CB91F05, RLOC16:3c00, FrameErrRate:52.83%, MsgEr

[2018-07-17 07:11] NickNamerr commented on #2842
File radio.c
status = RAIL_SetTxPowerDbm(sRailHandle, ((RAIL_TxPower_t)aPower * **_10_**));
i could not enter float number to set 3 dBm (0.3)

in "void efr32RadioInit(void)" :
status = RAIL_SetTxPowerDbm(sRailHandle, ((RAIL_TxPower_t)OPENTHREAD_CONFIG_DEFAULT_TRANSMIT_POWER) * 10);
but :
../../openthread/openthread/src/core/openthread-core-default-config.h:#ifndef OPENTHREAD_CONFIG_DEFAULT_TRANSMI

[2018-07-17 07:11] NickNamerr commented on #2842
I do not have any updates, the main reason why i started to use OT is weak SiLabs support.

[2018-07-17 09:55] NickNamerr commented on #2842
device:

ca880afc823c5a3f
Done

17 dBm

OTBR:
wpanctl scan
   | Joinable | NetworkName        | PAN ID | Ch | XPanID           | HWAddr           | RSSI
---+----------+--------------------+--------+----+------------------+------------------+------
 1 |       NO | "OpenThreadDemo"   | 0x1234 | 11 | 1111111122222222 | CA880AFC823C5A3F |  -59

device:

Done

OTBR:
wpanctl scan
   | Joinable | Network

[2018-07-17 09:55] #2842 closed

[2018-07-17 11:31] LuDuda commented on #2857
Hello @bukepo i was able to reproduce the issue on one of our Linux machine.

**Background**:

It seems that J-Link emulator on-board implements 6 USB endpoints (EPs) that can be used.
Unfortunately, only 4 of them support USB packet sizes of up to 512 bytes. The EPs used for VCOM are the ones that do not support 512 byte packet sizes but only 64 bytes.

Strangly this seems not to be a problem on

[2018-07-18 07:21] NickNamerr opened #2904 "Thread network keep "dead" ofMeshRoutes"
0xd404  and 0x7806 are rloc16's of BR ncp that were before. Also remains configuration of GW.

Thread:NetworkData = [030F004020010DB88569B2B50103600A00]
Thread:NetworkDataVersion = 0xAC
Thread:OffMeshRoutes = [
	"2001:db8:8569:b2b5::/64    origin:ncp      stable:yes preference:medium  rloc:0xd404 next_hop_is_host:no "
	"2001:db8:8569:b2b5::/64    origin:ncp      stable:yes preference:medium  rloc:

[2018-07-18 08:20] librasungirl commented on #2904
Generally it may take some time for the Leader to remove the stale border router information from network. If the border router is Child, the parent will be responsible for notifying the Leader that the border router not exist any more when timing out the child (default 240s).

Looking from your case,
- for the 0xd404
   the parent 0xd400 still live in the network, how long does 0xd404 has disappe

[2018-07-18 09:29] NickNamerr commented on #2904
Eventually it cleaned, within couple hours.

[2018-07-19 06:38] NickNamerr commented on #2904
I will do it as i get stable network.

[2018-07-19 21:49] #2896 closed

[2018-07-20 04:13] NickNamerr opened #2908 "ot-cli-mtd FW stuck after ping BR mesh-local address"
Pulled commit 1075e35327ec97e94404e3ecb0bb2381641423ee (origin/master, origin/HEAD).

After :

2001:db8:8568:b2b5:2619:613d:ec45:d97
fd11:1111:1122:0:0:ff:fe00:4805
fe80:0:0:0:c888:afc:823c:5a3f
fd11:1111:1122:0:d5fd:c49b:ac26:c065
Done

stuck in mesh_forwarder.cpp line 377:
 else if (netif.GetMle().IsMinimalEndDevice())
    {
        mMacDest.SetShort(netif.GetMle().GetNextHop(Mac::kShortAddrBroa

[2018-07-20 04:52] jwhui commented on #2908
@NickNamerr, thank you for reporting this issue.  I was unable to reproduce this issue using posix emulation.

Can you provide all of the information necessary to reproduce and analyze?  For example:

- Hardware platform
- Build configuration
- Steps you performed in your test
- Debugger stack trace
- Was it working with an earlier commit?

[2018-07-20 05:00] jwhui commented on #2898
Resolved by #2897.

[2018-07-20 05:00] #2898 closed

[2018-07-20 06:08] NickNamerr commented on #2908
Sorry, looks like i did not do "make clean; ./bootstrap" after "git fetch; git pull".

[2018-07-20 16:55] jwhui commented on #2842
@NickNamerr, thanks for validating that this is an issue in Gecko SDK v2.2 and that it is addressed in v2.3.  I have submitted #2909 to update to Gecko SDK v2.3.

[2018-07-20 16:55] jwhui commented on #2908
@NickNamerr, thanks for reporting back.

[2018-07-20 16:55] #2908 closed

[2018-07-23 14:07] jwhui commented on #2904
Resolved by #2905.

[2018-07-23 14:07] #2904 closed

[2018-07-24 10:59] Bokenator opened #2913 "Mesh hopping in thread"
I'm having a bit of problem reaching a device via the Mesh link multicast address `ff03::1`. My setup currently looks like the following:

[code]

The setup has 3 devices, A, B, and C. A is connected to B, which is connected to C, but A and C are out of range from each other.

The problem I am having right now is that I am able to ping C from A by using C's link global address. But I am not able t

[2018-07-24 11:31] jwhui commented on #2913
Can you provide more information on your setup?  Are the nodes running in SoC mode (e.g. with CLI app) or NCP mode (e.g. with wpantund on Linux)?

[2018-07-24 11:33] Bokenator commented on #2913
@jwhui In the setup above, all three devices are running NCP with wpantund on Linux, and I am running the ping commands from the shell.

[2018-07-24 11:39] jwhui commented on #2913
Linux, by default, sets the IPv6 Hop Limit value to 1 on multicast messages.  Check if your `ping6` command offers a "hop limit" or "ttl" option and set that to something larger than 1.

[2018-07-24 17:43] rgreenwood60 opened #2914 "platformRadioDeinit() in Radio.c possible bug"
Visual Studio 2015 Community Edition displays warning
'close' undefined ; assuming extern returning int

should this be statement be
closesocket(sSockFd);

[2018-07-24 19:10] rgreenwood60 opened #2916 "[windows] fix Warning uninitialized memory '*aJoinerId' in otJoinerGetId()"
In function otJoinerGetId() of otapi.cpp
otExtAddress structure pointed to by aJoinerId potentially is uninitialized
and produces a C6001 compiler warning.

adding
ZeroMemory(aJoinerId, sizeof(otExtAddress));
before calling
return DwordToThreadError(SetIOCTL(aInstance, IOCTL_OTLWF_OT_JOINER_ID, aJoinerId));

suppresses the warning and initializes the calling routines structure before attempting to

[2018-07-25 05:25] kpyush opened #2918 "NRF52840 SED Power consumption"
Hi can you give figures for current profile when nrf52840 is configured as Sleepy End Device with following configurations.

[code]

[2018-07-25 05:31] jwhui commented on #2916
Thanks for raising this issue.  Would you like to submit a PR to address this?

[2018-07-25 05:53] jwhui commented on #2914
Thanks for raising this issue.  The posix emulation platform utilizes posix APIs.  Does the windows posix layer support using `close()` on sockets?

[2018-07-25 10:58] Bokenator commented on #2913
[code]

@jwhui Unfortunately in Raspberry Pi (running Raspbian) I'm unable to find the flag that sets the maximum number of hops allowed.

[2018-07-25 12:30] tomas-c opened #2921 "Broken build after enabling OPENTHREAD_CONFIG_DISABLE_CSMA_CA_ON_LAST_ATTEMPT"
When compiling latest master (bb064cd074939cddb0d4020e772857584d147dfd) for EFR32 with OPENTHREAD_CONFIG_DISABLE_CSMA_CA_ON_LAST_ATTEMPT set to 1 I got the following error:

`
/home/tomas/Work/repos/openthread/examples/../src/core/mac/mac.cpp: In member function 'void ot::Mac::Mac::StartCsmaBackoff()':
/home/tomas/Work/repos/openthread/examples/../src/core/mac/mac.cpp:1032:15: error: 'sendFrame' w

[2018-07-25 12:42] jwhui commented on #2921
Thanks for raising this issue.  I'll take a look.

[2018-07-25 13:39] jwhui commented on #2921
I submitted #2922.  Please review.

[2018-07-25 14:29] tomas-c commented on #2921
Thanks! Fixes the compilation problem.

[2018-07-25 17:04] Bokenator commented on #2913
[code]

In this case I'm running the ping command from device A. I'm just issuing the ping command with the default ttl, and it looks like the default value is 64. All the output with (DUP!) are returned from device B. So far nothing is coming back from device C.

[2018-07-25 17:06] jwhui commented on #2913
Did you try running the command with sudo?

[2018-07-25 17:10] Bokenator commented on #2913
[code]

The result seems to be the same.

[2018-07-25 17:12] jwhui commented on #2913
Can you use tcpdump to capture the packets going into wpan0 in a pcap file?

[2018-07-25 17:20] Bokenator commented on #2913
[code]

I just copy and pasted the output. Does that help?

[2018-07-25 17:24] jwhui commented on #2913
Not quite.  The idea is to view the IPv6 Hop Limit value in the packet.  Can you try the `-vv` option?  If that doesn’t fully decode the IPv6 header, then capturing the pcap file would allow using wireshark to dissect the packets.

[2018-07-25 17:30] jwhui commented on #2913
Yes, note that the IPv6 Hop Limit “hlim” value is set to 1.  That’s why the packet is only traversing a single hop.

Does ping6 exist on your RPi?  If so, can you try that?

[2018-07-25 17:32] Bokenator commented on #2913
Yes, I do have ping6 on my RPi. However, I'm not sure which flag I should use to change the hlim parameter.

[code]

[2018-07-25 19:03] jwhui commented on #2913
In the examples you included above, none included the `-t` option.  Did you try the following?
[code]

[2018-07-25 19:12] Bokenator commented on #2913
@jwhui That worked! Thanks a lot!

[2018-07-25 19:12] #2913 closed

[2018-07-26 07:15] #2921 closed

[2018-07-26 14:52] blaizi opened #2929 "Keep udp open, ifconfig up and thread"
Hello

I'm currently working on an openthread project, on an EFR32 device, and I have got a question:
After disconnecting a node, is it possible, after reconnecting it, that it stays in the state it was before, like router state for example, and also that the udp connection still activated.

Thank you a lot !

[2018-07-26 15:16] blaizi commented on #2929
I actually have a SoC communicating with a NCP, and when I disconnect this SoC and then reconnect it, it is still in the network, but the ifconfig is down and the UDP closed.
I am currently struggling to manage that the UDP still open and the ifconfig still up when I put this node on power again.
If I understand correctly that is not possible because of the NCP ? (which would still on power in my

[2018-07-26 21:10] jwhui commented on #2929
By default, the example applications do not bringup the interface and start Thread protocols after power on.  OpenThread supports changing this default behavior via the [`otThreadSetAutoStart()`](https://github.com/openthread/openthread/blob/f824343f8cac34863c4267ae96a390da48c86ad3/src/core/api/thread_api.cpp#L479) API.  You can also change the value via the [`autostart`](https://github.com/openth

[2018-07-26 22:58] PlaidShirtPat opened #2931 "gcc8 compiler error: class-memaccess"
I am trying to compile the posix example platform and getting the following error:
[code]

This on Archlinux 4.17.6-1
gcc version: gcc (GCC) 8.1.1 20180531
commit: 98ed5ea2adf9a7e2641e6ac70fb0bc3c2c7fc74e

It seems this is a newish compiler error introduced in gcc8

[2018-07-26 23:48] jwhui commented on #2931
Thanks for raising this issue!  I can look to resolving these compiler errors.

[2018-07-27 06:58] NickNamerr opened #2932 "Slaac address lost after restart "thread""
Tried to restart "thread" on device (it worked before):

fd11:1111:1122:0:388d:3a46:73b:2ab8
fe80:0:0:0:e8dd:4629:bd81:a4a8
Done

Done

Done

2001:db8:8568:b2b5:5618:f8e8:7090:9f67
fd11:1111:1122:0:0:ff:fe00:c808
fd11:1111:1122:0:388d:3a46:73b:2ab8
fe80:0:0:0:e8dd:4629:bd81:a4a8
Done

Done

Done

fd11:1111:1122:0:388d:3a46:73b:2ab8
fe80:0:0:0:e8dd:4629:bd81:a4a8
Done

Done

Done

fd11:1111:1122:0:

[2018-07-27 07:47] jwhui commented on #2932
Thanks for raising this issue.  I have reproduced the behavior and will submit a fix soon.

[2018-07-27 13:16] blaizi commented on #2929
Oh thanks a lot for your help !
However about the UDP, I suppose that it cannot make the "udp open" and "udp bind" automatically after power on ?

[2018-07-27 16:37] abtink commented on #2726
@bokenator, multicast addresses can be added (subscribed) or removed using wpantund `"IPv6:MulticastAddresses"` property with `insertprop` (alias: `add`) or `removeprop` (alias: `remove`) commands, e.g.,  `wpanctl add IPv6:MulticastAddresses <address>`. `wpantund` will add the address on both NCP and the Linux network interface (`wpan<x>`).

[2018-07-27 20:19] PlaidShirtPat commented on #2931
You can make this change to supress the warnings if you like:
[code]

[2018-07-30 17:25] jwhui commented on #2932
I submitted #2938 to resolve this issue.  Please validate/review.

[2018-07-31 19:40] jwhui commented on #2929
As noted, the example CLI app does not automatically bringup the interface and open the UDP socket at startup time.  However, you could modify the example CLI app to make the appropriate calls to bring up the Thread interface and bind to the UDP socket.

[2018-08-01 03:03] NickNamerr commented on #2932
I checked it, it works:

2001:db8:8568:b2b5:b5fd:eb36:d2f6:ffb7
fd11:1111:1122:0:0:ff:fe00:6
fe80:0:0:0:94e3:9dff:c548:275c
fd11:1111:1122:0:dc79:4152:e90c:b80b
Done

Done

2001:db8:8568:b2b5:b5fd:eb36:d2f6:ffb7
fe80:0:0:0:94e3:9dff:c548:275c
fd11:1111:1122:0:dc79:4152:e90c:b80b
Done

Done

fe80:0:0:0:94e3:9dff:c548:275c
fd11:1111:1122:0:dc79:4152:e90c:b80b
Done

Done

fe80:0:0:0:94e3:9dff:c548:27

[2018-08-01 11:52] LuDuda commented on #2918
Hello @kpyush,

Could you please raise this question in [Nordic Semiconductor DevZone portal](https://devzone.nordicsemi.com/) where our tech support will help you.

[2018-08-01 12:11] kpyush commented on #2918
@LuDuda sure..

[2018-08-01 15:32] jwhui commented on #2932
@NickNamerr, thanks for validating!

[2018-08-01 15:32] #2932 closed

[2018-08-02 02:05] jwhui commented on #2931
@PlaidShirtPat, thanks for the suggestion.  I went ahead and resolved the warnings rather than disabling them.  I just submitted #2944 to resolve this issue.  Please review.

[2018-08-02 05:37] #2918 closed

[2018-08-03 19:13] #2592 closed

[2018-08-03 19:14] #2931 closed

[2018-08-06 08:08] bokenator opened #2949 "What kind of routing protocol does OpenthreadThread use?"
Does OpenThread use reactive routing protocol (DSR) like zigbee or does it use a proactive routing protocol?

[2018-08-06 17:40] jwhui commented on #2949
Thread implements a proactive, shortest-path, any-to-any, distance-vector routing protocol.  You can find all the details in the [Thread 1.1.1 Specification](https://www.threadgroup.org/support#specifications).

[2018-08-07 16:16] #2949 closed

[2018-08-07 16:16] #2929 closed

[2018-08-07 18:56] LuDuda commented on #2857
Hello @bukepo, have you verified my suggestions? Is this still an issue?

[2018-08-08 14:13] blaizi opened #2952 "UDP value's treatment"
Hello,

I am currently working on the thread project, on the microprocessor EFR32. I would Like to treat the UDP values that I receive. (for example, set a LED "on" after an UDP message is receive, modify its intensity, send an UDP reply, ...)
However, I'm trying to modify the cli_udp_example.cpp, and I tried many things without success. (like using the header hw_gpio.h, or even use the library av

[2018-08-08 16:51] bokenator opened #2953 "How do I access the routing table from NCP"
Hi there, is there a way to get the routing table from `wpanctl`?

[2018-08-08 17:02] abtink commented on #2953
wpanctl get Thread:RouterTable

[2018-08-08 18:19] #1462 closed

[2018-08-08 19:48] cisordeng commented on #1137
Maybe to python scripts list rename `Crypto` to `crypto` or use `crypto`.
haha,My English is so poor.

[2018-08-08 20:02] cisordeng commented on #1137
haha,Thanks.

[2018-08-08 21:29] jwhui commented on #2952
On EFR32, I suggest using the GPIO APIs provided by the SiLabs Gecko SDK.

https://siliconlabs.github.io/Gecko_SDK_Doc/efm32g/html/group__GPIO.html

[2018-08-09 08:09] blaizi commented on #2952
So I just have to create the Header .hpp with the enumeration and functions in the openthread/src/core/ path, and then include this header in the cli_udp_example.cpp file ?

[2018-08-09 17:06] jwhui commented on #2952
Given that the example EFR32 platform library already [compiles in the SiLabs GPIO abstractions](https://github.com/openthread/openthread/blob/101e243372214ab470695506de7c9031f3cb50d1/examples/platforms/efr32/Makefile.am#L105), you should be able to just inluced `em_gpio.h` and call the SiLabs Gecko SDK APIs directly.

[2018-08-09 19:10] balaji-reddy opened #2955 "EFR32 build failed"
**Describe the bug**
Not able to compile OpenThread for EFR32 target.

**To Reproduce**
Information to reproduce the behavior, including:
1. Build `master` branch using `efr32` makefile for board `BRD4161A`, like
    `make -f examples/Makefile-efr32 BOARD=BRD4161A`

**Expected behavior**
It should compile at least without any blocking errors.

**Console/log output**

[code]

**Additional context**

[2018-08-09 19:14] jwhui commented on #2955
Thanks for raising this issue! This bug was introduced with #2927. I’ll submit a fix soon.

[2018-08-10 01:31] #2955 closed

[2018-08-10 08:32] blaizi commented on #2952
Ah yes it works, thank you a lot for your help

[2018-08-10 16:27] #2952 closed

[2018-08-10 16:28] #2953 closed

[2018-08-14 16:55] Goran58 opened #2959 "Support for LAUNCHXL-CC26X2R1"
**Describe the bug**
Unable to run the CC2652 output file on LAUNCHXL-CC26X2R1

**To Reproduce**
build with;
make -f examples/Makefile-cc2652
Use TI UniFlash tool and download the output file ot-cli-ftd to the launchpad

The download is successfull but no response on the cli connection (minicom to device /dev/ttyACM0)

[2018-08-15 16:45] srickardti commented on #2959
Hey @Goran58, I've got the device running on a debugger and have found that it is spinning in the synchronous wait for the CM0 in `radio.c` on line `968`. This is due to the IEEE overrides to the CM0. I had added the current overrides that were available from SmartRF Studio. That includes the switch to the MCE/RFE patch, which isn't applied.

The easiest way to get up and running is to comment out

[2018-08-15 20:27] Goran58 commented on #2959
Hi @srickardti, thanks for your help. I have today used the examples in the SIMPLELINK SDK and have managed to set up a working thread network that consists of a Border Router and two Router nodes and support for external commissioning with Openthread Commissioning App. Works very well, but it would be nice to be able to use the openthread native examples to do same setup. But I can wait with that

[2018-08-16 09:11] TobiasReichert opened #2967 "SAMR21 ASF compile error"
Hey Guys,

**Describe the bug**
with the newest version of Advanced Software Framework (ASF) you can not compile the SAMR21 Example.

**To Reproduce**
Do the steps on:
[samr21](https://github.com/openthread/openthread/tree/master/examples/platforms/samr21)

**Console/log output**
[code]

**Additional context**
- OS: Linux Mint 18.3 Sylvia
- Linux version: 4.15.0-30-generic
- asf version: 3.42.0.77

[2018-08-16 09:40] TobiasReichert commented on #2967
asf-3.39 does not work, too.

[2018-08-16 15:43] BJeanjean opened #2969 "Call UdpOpen and UdpBind fuctions"
Hello,

I am using OpenThread and I would like to call automaticaly the Udp functions at the boot of the Microcontroller (I am using EFR32), then I don't have to use the Cli to send and receive message after creating the port once.
I am currently struggling, I am trying to modifie the Cli_Udp_Example.cpp , without success (I tried for example to call otUdpOpen and otUdpBind functions into UdpExamp

[2018-08-16 16:25] jwhui commented on #2967
@TobiasReichert, thanks for raising this issue!

This seems to be an issue with the Advanced Software Framework (ASF) itself. In particular, both `asf/sam0/utils/compiler.h` and `arm-none-eabi/include/sys/cdefs.h` (included by the former) define `__always_inline`.

One hack is to apply the following patch to `xdk-asf-3.40.0/sam0/utils/compiler.h`:
[code]
Basically, avoid defining `__always_inline`

[2018-08-16 17:12] jwhui commented on #2969
It should be as simple as calling `otUdpOpen()` and `otUdpBind()` as part of the startup code.
- Here is [a _very_ simplistic example](https://gist.github.com/jwhui/5bdce29cd97fe257d3362970f51800e9).
- Take a look at the [UDP API reference](https://openthread.io/reference/group/api-udp) for more information.

[2018-08-17 16:34] #2959 closed

[2018-08-20 08:12] BJeanjean commented on #2969
Thank you a lot for your answer.
I have modified the main.c file and added some lines in the handleUdpReceive function and it's now working like I want.

[2018-08-20 08:49] yuzhyang opened #2977 "[nrf52840] Uart_cli would be hung after network formation since #2968"
**Summary**
UART CLIs would not have response for OT network running around 20 mins; All the Uart CLIs are disabled within the same WPAN.

**To Reproduce**
Information to reproduce the behavior, including:
1. 12 nodes are used with ot-cli-ftd firmware
2. Start OT network ('thread start') and keep interact with nodes through UART CLI (eg: command 'state' via JLink UART)
3. UART CLIs of all the node

[2018-08-21 06:48] NickNamerr opened #2980 "error: redefinition of 'otError ot::Mle::Mle::GetLeaderAloc(ot::Ip6::Address&) const"
commit af2bfc1cc4a9b48e2c81b63645b45d67ac1ad11b

/home/user/openthread/openthread/examples/../src/core/thread/mle.cpp:993:9: error: redefinition of 'otError ot::Mle::Mle::GetLeaderAloc(ot::Ip6::Address&) const'
 otError Mle::GetLeaderAloc(Ip6::Address &aAddress) const
         ^~~
In file included from /home/user/openthread/openthread/examples/../src/core/thread/mle.cpp:36:0:
/home/user/openthread

[2018-08-21 06:56] bukepo commented on #2980
This commit didn't change mle.hpp or mle.cpp. What version are you compiling?

[2018-08-21 07:03] librasungirl commented on #2980
For a clean af2bfc1, the Line 993 in mle.cpp should be `otError Mle::GetAlocAddress(Ip6::Address &aAddress, uint16_t aAloc16) const`, other than `GetLeaderAloc()`.

[2018-08-21 09:16] tototrix opened #2981 "Debugging in target environnement"
Hi everyone,
I tried OpenThread with my Silabs EFR32 and it's working great. To go further i would like to code and debug my project in Simplicity Studio with breakpoints and so on.
Is it possible to do that ?
I fear that the only debug capabilities of OpenThread are with debug log.

Thanks in advance for your feedback.

[2018-08-22 04:37] jwhui commented on #2969
@BJeanjean, glad to hear that you got things working!

[2018-08-22 04:37] #2969 closed

[2018-08-22 04:40] jwhui commented on #2980
@NickNamerr, as @librasungirl noted, L993 of mle.cpp does not match with the error you included above. Can you ensure that you have a consistent and clean version of the OpenThread source files?

https://github.com/openthread/openthread/blob/af2bfc1cc4a9b48e2c81b63645b45d67ac1ad11b/src/core/thread/mle.cpp#L993

[2018-08-22 04:44] jwhui commented on #2981
I am not familiar with Silicon Labs' Simplicity Studio IDE. However, I assume all you need to do is include the OpenThread source files in a Simplicity Studio project. Using the build+debug command should just work.

Alternatively, you could just use the ARM gcc toolchain (i.e. `arm-none-eabi-gdb`) to directly debug without an IDE.

[2018-08-22 04:45] LuDuda commented on #2977
Hello, thanks for raising this issue. I'm ooo, @hubertmis will look at it.

[2018-08-22 07:33] tototrix commented on #2981
Thank you for your quick reply.

Unfortunately i am not familiar with command line debugging:

- Have you some documentation/tutorials to read ?
- Is-it possible to do step-by-step debugging ?
- Possible to put breakpoints ?
- To view variables values ( watch values in IDE) ?

Thank you again for your help.

[2018-08-22 08:08] swordinrock123 opened #2985 "Problem about Dataset Delay Timer Management"
Hello,

When I was trying the harness certificate test in NCP mode:
9.2.18 RollingBackTheAciveTimestampWithPendingCommissioningDataset(Router and ED).
I got failure results and then I did some analysis, I guess I found a problem about the Dataset Delay Timer Management,

According to the specification(8.4.3.4 Delay Timer Management):
When a Thread Device's Delay Timer reaches zero, the Thread Devi

[2018-08-22 08:55] hjian2017 commented on #2981
I am not familiar with Silicon Labs' Simplicity Studio IDE, but I think you can debug in Simplicity Studio with breakpoints .

[2018-08-22 11:33] librasungirl commented on #2985
@swordinrock123 , thanks a lot for raising this issue and excellent analysis. Agree that there is indeed a bug as you point out.

The phenomenon caused by this issue would be that OT device would have the dataset (with activetimestamp 20) in use, but have dataset (activetimestamp 0x4e20) in local, thus it would keep sending MGMT_SET_ACTIVE.req to Leader,  however get response with Reject status.
I

[2018-08-22 15:53] librasungirl commented on #2985
@swordinrock123 , I have proposed a fix as in #2988 , please help to have a review. Thanks.

[2018-08-23 00:30] NickNamerr commented on #2980
Please check "mle.hpp":
https://github.com/openthread/openthread/blob/af2bfc1cc4a9b48e2c81b63645b45d67ac1ad11b/src/core/thread/mle.hpp#L857

[2018-08-23 00:51] jwhui commented on #2980
I don't yet see the problem. The implementation of `GetLeaderAloc()` makes a call to `GetAlocAddress()`. Can you clarify how the two lines of code below are in conflict with each other?

https://github.com/openthread/openthread/blob/af2bfc1cc4a9b48e2c81b63645b45d67ac1ad11b/src/core/thread/mle.cpp#L993

https://github.com/openthread/openthread/blob/af2bfc1cc4a9b48e2c81b63645b45d67ac1ad11b/src/core/

[2018-08-23 02:13] swordinrock123 commented on #2985
@librasungirl I just wrote a comment about your PR.
I'm using the R1.3.0 Harness tool, which has v48.0 internal, I'm not sure about the root cause of 9.2.18, but if I modify the DatasetManager::Set and have mLocal.Set(aDataset) always work, I can pass the case.
Anyway, I will check more about it, and when your solution to this bug is ready, I will test it. Thanks!

[2018-08-23 03:10] swordinrock123 commented on #2985
@librasungirl

[2018-08-23 03:15] swordinrock123 commented on #2985
@librasungirl ， Hi， thanks for your quick response, I just tested your solution, it can help me pass the 9.2.18(Router and ED), and it looks good to me about your solution. I may need more research to know why this case is impacted by this bug.
PS: My harness tool version is R 1.3.0(v48.0)

[2018-08-24 01:52] librasungirl commented on #2985
@swordinrock123 I have pushed another proposal in #2988 to fix the issue. Would you please help to test it? Thanks.

[2018-08-24 15:44] #2977 closed

[2018-08-27 18:10] bisdash opened #2996 "[mle] API to provide MLE Parent Response information"
Need to provide a way for clients of openthread(most likely vendor specific upper layers) to get parent request scan response data for SED. The plan is to implement it via a callback which needs to be installed by upper layer. The callback will be used to deliver following stats about a parent when a Parent Response is handled in Mle.
1. RSSI (1 byte)
2. rlock16 (2 byte)
3. extAddr (8 byte)
4. pri

[2018-08-27 20:18] #2980 closed

[2018-08-28 18:52] jwhui commented on #2985
Resolved by #2988.

[2018-08-28 18:52] #2985 closed

[2018-08-28 18:53] jwhui commented on #2981
You can find some resources by searching around the web. One such resource: https://mcuoneclipse.com/2015/03/25/command-line-programming-and-debugging-with-gdb/

[2018-08-28 18:53] #2981 closed

[2018-08-28 20:08] jwhui commented on #2857
@bukepo, any updates?

[2018-08-29 01:42] bukepo commented on #2857
@LuDuda  After disabling MSD and flashing the latest firmware, it works! Thank you very much.

[2018-08-29 01:42] #2857 closed

[2018-08-29 09:28] swordinrock123 commented on #2985
@librasungirl Sorry about replying late, I just use your new proposal and tested the 9.2.18, it works fine, Thank you!

[2018-09-05 01:52] abtink opened #3019 "[posix-app] building app with a project specific openthread-core-project.h config"
OpenThread builds allows user to provide a project specific header file defining all config parameter.
Having same level of flexibility for posix-app model (enabled using `--enable-posix-app`) would be very useful.

The posix-app model from [openthread-core-posix-config.h](https://github.com/openthread/openthread/blob/master/src/posix/platform/openthread-core-posix-config.h) fixes some of the defi

[2018-09-07 13:48] TobiasReichert commented on #2967
Sorry for the late answer.

@jwhui thanks for your answer. I can confirm your fix works. :)

Unfortunately, I have no microchip account to properly forward the bug.

[2018-09-07 13:48] #2967 closed

[2018-09-07 17:25] abtink opened #3043 "[posix-app] asserts when running toranj test-010 with posix-app/rcp model"
I have been trying to get `toranj` test to run with posix-app and RCP (NCP with radio only) model.
Many tests are passing ok but `test-010-on-mesh-prefix-config-gateway.py` fails consistently:
[code]

From wpantund/OT logs I get this assert
[code]

Created this issue to investigate this further.

[2018-09-08 13:29] Ahmedkalnaggar commented on #2985
@librasungirl @jwhui I am running a CLI app not NCP as the main issue.

[2018-09-08 14:11] librasungirl commented on #2985
@Ahmedkalnaggar , when apply pending dataset, generally `mRadioChannel` would be updated immediately in Mac layer.
https://github.com/openthread/openthread/blob/master/src/core/mac/mac.cpp#L535
That is, both transmission and receive should be on the new channel.

Would you please provide more information? e.g your certification log, or your cert environment (platform, OT commit, Test Harness Versi

[2018-09-08 18:27] LuDuda commented on #2985
@librasungirl  I run Thread Harness v48.2 yesterday (it's still running) on current OT master and i also see failures in SED_9_2_6, ED_9_2_6 and Router_9_2_6. I will take a closer look on this at Monday, but in all cases it seems DUT doesnt switch to the second channel.

The one change I did was replacing NXP with OpenThread for SED role in TopologyConfig.txt due to TESTPLAN-380 issue (but this is

[2018-09-08 22:13] LuDuda commented on #2985
I think i found the problem of 9.2.6.

It was introduced in #2838 more precisely in this [line](https://github.com/abtink/openthread/blob/master/src/core/mac/mac.cpp#L526). This prevents device to change channel defined in Pending Dataset.

Logs from device says:
` 0> [0000226249] -MESH-CP-: DatasetManager::ApplyConfiguration() Failed to set channel to 21 (InvalidArgs)`

The problem is that channe

[2018-09-09 10:00] librasungirl commented on #2985
Thanks @Ahmedkalnaggar for raising this issue and @LuDuda for findings.

We didn't find this issue in our internal regression on recent commit as on OT-only testbed, the default channel mask is '001fffe0' (11~26), the same behavior as ARM or SiLabs, and different from NXP which has channel mask, including only the channel it works on. #2838 is indeed the root cause for the failings you met.

Agree

[2018-09-09 16:07] Ahmedkalnaggar commented on #2985
Thanks @librasungirl  for the response and @LuDuda for the analysis 👍
I could confirm now that the problem with channel mask from Leader which is NXP in normal Topology Config file:
The channel mask is including only the old channel as @librasungirl  mentioned before. It's not updated with a proper mask for the new channel :
![image](https://user-images.githubusercontent.com/18114443/45266337-fdec

[2018-09-09 19:27] Ahmedkalnaggar commented on #2985
I have opened issue [TSTBED-106](https://threadgroup.atlassian.net/browse/TSTBED-106) on Thread group. I referenced our conversion here.

[2018-09-10 05:52] NickNamerr opened #3053 "[efr32] corrupted data in Settings area at FLASH"
My device(efr32mg13p732) FW(gc03f04d1) stopped to send CoAP messages. I figured out that there is missing correct data at address 0x7b000.  I observe it on different devices in my network. It happens within 1-2 weeks.
Please Help me to check attached file.
[settings_corrupted.zip](https://github.com/openthread/openthread/files/2365273/settings_corrupted.zip)

[2018-09-10 05:55] bukepo opened #3054 "[travis] bind: address already in use"
**Describe the bug**
Sometimes travis tests failed with `bind: Address already in use`

**To Reproduce**
Submit pull requests and check the travis failures.

**Expected behavior**
All tests passes or fails not for address already in use.

[2018-09-10 18:40] Ahmedkalnaggar opened #3056 "[mac] Channel mask check causing failure in Case 9.2.6"
**Describe the bug**
There is a problem in Latest Openthread versions with Test Case 9.2.6 (Router, ED and SED) it always fails in last step :

After some analysis and discussions we found that NXP (which is the Leader in default Topology Config file) send a channel mask with only old channel, not updated with a mask for the new (Secondary) channel. This leads the router (which is the DUT in test

[2018-09-10 18:47] Ahmedkalnaggar commented on #3056
Conversation started here #2985 .

[2018-09-10 21:36] abtink commented on #2985
From analysis above by @LuDuda  and @librasungirl , it looks like a pending dataset is being applied which tries to change the channel to one that is not included in the channel mask (the channel mask the same dataset  or earlier one?). If that's the case, then the fact that we reject the new channel, in my opinion, is correct behavior.

If a dataset is trying to change the channel, it should also

[2018-09-10 22:09] jwhui commented on #3056
From the conversation in #2985, I believe we need to revert the Channel Mask check. As @LuDuda mentions, the Thread 1.1.1 Specification makes no mention of restricting channel changes based on the Channel Mask. If the intended behavior is for the Channel Mask to also restrict channel changes, we would first need to make an update to the Thread specification and then the Thread Test specification.

[2018-09-10 22:52] abtink commented on #3056
In my opinion, the issue is with definition of "Channel Mask" TLV in dataset and that it is not intended to be used as "supported channels".

The solution I would suggest is as follows:
- We don't tie the MAC  "supported channel mask" with the "channel mask" TLV in dataset.
- Basically treat them as two (unrelated for now) network parameters.
- And we keep the "supported channel" at MAC layer and

[2018-09-10 22:55] jwhui commented on #3056
@abtink, your solution makes sense. As you noted, the Thread 1.1.1 Specification does not currently specify the Channel Mask TLV as a restriction on the channel that may be used for normal data communication.

[2018-09-10 23:35] abtink commented on #3056
Submitted PR https://github.com/openthread/openthread/pull/3058 with solution above.

[2018-09-11 00:26] NickNamerr commented on #3053
Here is settings from another device. This device does not connect at all unlike first one.
[settings_corrupted2.zip](https://github.com/openthread/openthread/files/2368888/settings_corrupted2.zip)

[2018-09-12 04:35] librasungirl commented on #2003
Closed as not an issue now and the workaround is removed in #2991

[2018-09-12 04:35] #2003 closed

[2018-09-12 04:38] #2867 closed

[2018-09-12 04:46] #1283 closed

[2018-09-12 08:00] jwhui commented on #3056
Resolved by #3058.

[2018-09-12 08:00] #3056 closed

[2018-09-13 08:26] #2916 closed

[2018-09-13 22:52] abtink commented on #3043
This is fixed.

[2018-09-13 22:52] #3043 closed

[2018-09-16 23:49] bukepo commented on #2732
Close this issue for #3049?

[2018-09-17 02:07] CraigZych opened #3079 "Micropython openthread support"
I am trying to make a working example of openthread running on micropython on the nrf52840.
I opened an issue to discuss this on the micropython github page but figured there may be interest here as well.

With the ease of development on micropython porting this over may bring a considerable audience to openthread.

Pycom has already ported openthread to micropython but specifically on the lora ra

[2018-09-17 19:45] jwhui commented on #3079
@CraigZych, sounds like a great initiative!

[2018-09-18 13:04] arn-soft opened #3087 "nrf52840-dongle is unable to work as NCP"
**Bug details**
nrf52840 is not being able to work as NCP device. It throws initialization fault with border router. (we have tried with both RPI and linux machine)

**To Reproduce**
Compile and burn firmware of ncp-ftd (along with bootloader) in to nrf52840 dongle by using nRF connect Desktop app. with that set up try to use the dongle as NCP device with boarder router.

**Expected behavior**
It

[2018-09-18 19:11] jwhui commented on #3087
Can you provide more information to reproduce?

For example:
- Commit ID for NCP firmware.
- Commit ID for wpantund.
- Build command/configuration you used for NCP firmware.

[2018-09-19 08:34] IotPanorama commented on #3087
wpantund, commit id: 6752c40c50f5c556c3b0d150c250a0d1a0a82d32
NCP firmware commit id: 3da8087492138fbeca579318efab8a9506d91f0e
command used to build NCP Firmware.
1. make -f examples/Makefile-nrf52840 BORDER_AGENT=1 BORDER_ROUTER=1 COMMISSIONER=1 UDP_PROXY=1 USB=1
2. make -f examples/Makefile-nrf52840 COMMISSIONER=1 USB=1

[2018-09-20 04:27] jwhui commented on #3087
The wpantund commit ID is over a year old. I could not find the NCP commit id within the openthread/openthread repo.

Can you try again with the latest master branches of both openthread/wpantund and openthread/openthread?

[2018-09-20 05:34] IotPanorama commented on #3087
Ncp commit id, I have mentioned is actually commit id of openthread itself. If you guys have different commits for ncp firmware in particular then let me know. I will test that latest repository of both openthread and wpantund and will let you know about updates.

[2018-09-20 05:38] jwhui commented on #3087
As mentioned, commit id (https://github.com/openthread/openthread/commit/3da8087) does not exist - following the GitHub link results in an error.

Hope the latest master head of both openthread and wpantund will resolve your issue.

[2018-09-20 08:51] e-rk commented on #3087
Hi IotPanorama,
When building the examples for the dongle with bootloader use the BOOTLOADER=1 flag along with USB=1 when running make. Your command should look like this:

    make -f examples/Makefile-nrf52840 COMMISSIONER=1 USB=1 BOOTLOADER=1

Before that however you have to clean all previously generated files using this command:

    make -f examples/Makefile-nrf52840 clean

You may also have

[2018-09-22 04:29] jwhui commented on #2996
Resolved by #3027.

[2018-09-22 04:29] #2996 closed

[2018-09-24 02:33] NickNamerr opened #3094 ""neighbor table" or "neighbor list" shows only routers."
regarding https://github.com/openthread/openthread/tree/master/src/cli#neighbor-list
commands from subject must show REED as well.

0x0000 0x1000 0x1400 0x3000 0x3800 0x3c00 0x4400 0x5800 0x6c00 0x7800 0xa800 0xb000 0xb400 0xb800 0xcc00 0xec00
Done

| Role | RLOC16 | Age | Avg RSSI | Last RSSI |R|S|D|N| Extended MAC     |
+------+--------+-----+----------+-----------+-+-+-+-+------------------+
|

[2018-09-24 03:18] librasungirl commented on #3094
@NickNamerr ,  In existing implementation, `MleRouter::GetNextNeighborInfo()` first retrieves valid child info and then neighboring router info as
https://github.com/openthread/openthread/blob/master/src/core/thread/mle_router.cpp#L3610

So if REED is the device's neighbor (child), it should be shown by the `neighbor list/table` cmd

Below is the sample output on Leader under the topology Router-L

[2018-09-24 03:57] NickNamerr commented on #3094
Thanks for explanation.
So, this is list of neighbor routers and childs of device itself, is it?

[2018-09-24 04:09] librasungirl commented on #3094
Yes. You are correct.
In fact, for REED, it only maintains the one way frame-count synchronization with neighboring non-parent routers, to process incoming advertisement for efficiency (Thread 1.1 spec Section 4.7.7.4), however only its parent would maintain the bi-direction link with the REED, and the other neighboring routers would not take it as valid neighbor.

[2018-09-24 04:53] #3094 closed

[2018-09-24 07:49] NickNamerr opened #3095 "execute "wpanctl get" - causes NCP stuck"
After executes 4-5 times in the row command "wpanctl get" it stuck on showing parameter "Thread:NeighborTable". Here is some logs for better understanding the issue:

"wpanctl status" :
wpan0 => [
        "NCP:State" => "associated"
        "Daemon:Enabled" => true
        "NCP:Version" => "OPENTHREAD/20170716-00904-g06bff963-dirty; EFR32; Sep 24 2018 15:34:21"
        "Daemon:Version" => "0.08.00

[2018-09-24 07:55] NickNamerr commented on #3095
I have 27 REEDs in the network. After reset, when NeighborTable did not filled yet, it executes command without any issues. Maximum amount of devices in NeighborTable i have seen is 15. I hope it helps.

[2018-09-24 17:52] #2425 closed

[2018-09-25 19:48] jwhui commented on #3095
Can you see if the NCP is stuck in a loop? For example, by using JTAG and grabbing a stack trace?

[2018-09-26 04:51] NickNamerr commented on #2733
How to reopen this issue?

[2018-09-26 04:54] jwhui commented on #2733
Please create a new issue.

[2018-09-26 05:03] NickNamerr opened #3099 "CoAP con message - error 28 ResponseTimeout"
**Describe the bug**

Please check attached log of FTD device and screenshot of wireshark from OTBR.

There are clear that server send back CoAP ACK to right destination and port, device log shows that something like ACK received (there only BR and FTD in this network).
![image](https://user-images.githubusercontent.com/5268016/46058073-a6ed8900-c18b-11e8-9d3a-b46a2dc25f5b.png)
[coap-error28.log](

[2018-09-26 05:16] jwhui commented on #3099
@NickNamerr, note that a CoAP ACK is not the same as a CoAP Response. The ACK only acknowledges receipt of the CoAP Request, but does not actually provide the CoAP Response. In the wireshark screenshot, the CoAP ACK is an empty message.

Can you provide more detail on your setup? In particular, enough information so that someone else can reproduce your issue?

[2018-09-26 05:19] NickNamerr commented on #3099
this is log from POSIX example:

Coap service started: Done

Sending coap request: Done

============================================[len =  50]============================
| 69 98 39 34 12 00 44 00 3C 0D 10 00 00 00 01 95| i ? 9 4 ? ? D ? < ? ? ? ? ? ? ?|
| 4F 71 5C C8 65 45 82 62 1C 09 A0 74 F8 C0 47 16| O q \ ? e E ? b ? ? ? t ? ? G ?|
| A0 74 53 CD 7F 48 B0 B2 40 63 39 A9 EB 6F 96 5B| ? t S ?

[2018-09-26 05:35] jwhui commented on #3099
What is the CoAP server implementation in your setup? Is it a CoAP server running on OTBR?

[2018-09-26 05:38] NickNamerr commented on #3099
Yes, it node.js coap-server module running on OTBR RPI-based.

[2018-09-26 05:40] jwhui commented on #3099
I suspect the CoAP Server running on OTBR is not configured properly. As mentioned, I do not see any CoAP Response being sent on the wireshark screenshot that you provided. See [RFC 7252 Section 5.2](https://tools.ietf.org/html/rfc7252#section-5.2) for more detail on CoAP Responses.

[2018-09-26 05:46] NickNamerr commented on #3099
Do you mean, that [this](https://github.com/openthread/openthread/blob/2ce47a8e9cf86fc1568f2c2b45e18234193779ce/src/cli/cli_coap.cpp#L311) code does not handle ACK message?

[2018-09-26 05:50] jwhui commented on #3099
As mentioned previously, a CoAP ACK is **_not_** the same as a CoAP Response. The error you are seeing is "ResponseTimeout". The CoAP Server is sending the CoAP ACK, but **_not_** sending the CoAP Response. The CoAP Server must also send a CoAP Response.

[2018-09-26 06:10] NickNamerr commented on #3099
Thanks, this conversation was very useful to figure out what is wrong.

[2018-09-27 08:56] NickNamerr commented on #3095
I shall try to debug it.

[2018-09-27 20:46] #3099 closed

[2018-09-27 20:46] jwhui commented on #3087
@IotPanorama, any update on this issue?

[2018-09-27 20:48] jwhui commented on #2732
Resolved by #3049.

[2018-09-27 20:48] #2732 closed

[2018-09-28 05:18] NickNamerr commented on #3053
Check attached, device does not have any communication issues. Dump 0x7b000-0x7ffff
[settings_normal.zip](https://github.com/openthread/openthread/files/2426859/settings_normal.zip)

[2018-09-30 05:38] NOA-Ben opened #3109 "OpenThread Uart"
I am an openThread development user. I use NRF52840 to run this OpenThread protocol. Because the UART function is used in the project,
              I found that the API interface of OpenThread's UART can only send data, and can not receive serial data in the main function.
             This seems to be a bug, I look at the source code of uart.c, this function does not seem to do anything

[2018-10-02 10:54] jwhui commented on #3109
When using the CLI and NCP examples, `otPlatUartReceived()` is implemented by the CLI and NCP modules directly.

https://github.com/openthread/openthread/blob/9f55322d36d113fde31b2fea3c6fd5866d136648/src/cli/cli_uart.cpp#L106

https://github.com/openthread/openthread/blob/9f55322d36d113fde31b2fea3c6fd5866d136648/src/ncp/ncp_uart.cpp#L247

[2018-10-03 01:36] abtink commented on #3095
What is the value of `OPENTHREAD_CONFIG_NCP_TX_BUFFER_SIZE` in your configuration. Can you increase it?

I have a theory of what's happning. If the the spinel encoded neighbor table frame does not fit in the spinel NCP buffer, the NCP encoder will keep trying to prepare the response and hits the no buffer error and tries again, causing it to remain stuck in a loop.

[2018-10-05 16:30] abtink commented on #3095
That's very likely to be the cause. Can you increase it to at least 1K (preferably 2K)?

[2018-10-10 06:37] swordinrock123 opened #3137 "Suggest to add more EFR32 module series besides EFR32MG12P"
Hello,

I have been using OpenThread in my project for several months, and the EFR32 chip I am using is EFR32MG1B/EFR32MG1P, I can modify the Makefiles and have OpenThread work on my devices.

However, it bothers me that every time when I update OpenThread code from GitHub, I have to do the modifications to Makefile again. Since OpenThread can work on more EFR32 chip series, how about we add them

[2018-10-11 13:37] kpyush opened #3143 "Coap Error receiving coap response message (Error 28: ResponseTimeout)"
**Describe the bug**
Node is not able to receive coap response while we are sending packet on coap server.

**To Reproduce**
Hardware: NRF52840DK
OTBR on raspberry pi

Build steps:
    1. coap resource data
    2. coap start
     3. coap put 64:ff9b::68d3:64ed data con message

**Expected behavior**
It should receive proper response which being send by server.

**Console/log output**
Attached.
![c

[2018-10-11 19:16] ubx-caloca opened #3144 "[cc2652] does not compile"
Currently (Oct 11), I get an error when trying to compile for cc2652. I tracked the error and it seems that it appears after commit
[mbedtls] simplify config file (#3126) a5dc13e3be6e478afce64c3dce4ba27136ea709f

Information to reproduce the behavior, including:
1. Git commit id :
[mesh-forwarder] update indirect message logs (#3135) 467ab24e9baaa805ac98e9f1192a8217f3ca964c
2. IEEE 802.15.4 hardwa

[2018-10-11 21:11] jwhui commented on #3144
I am not able to reproduce the issue. Did you try from a clean checkout and running `./bootstrap` again?

[2018-10-11 21:15] jwhui commented on #3137
It depends how different the EFR32 variants are. In general, I think each directory under `examples/platforms` should cover a chip family. At the same time, if there is a common driver API that can be used across various chips, I could see those being considered as one family.

I think we should try to avoid chip-specific modifications to `configure.ac`.

[2018-10-11 21:16] jwhui commented on #3109
@NOA-Ben, were you able to resolve the issue?

[2018-10-11 21:18] jwhui commented on #3079
@CraigZych, are you actively working on MicroPython support? Do you have any updates to provide?

[2018-10-11 21:28] jwhui commented on #3144
Can you try the following steps:

1. `git clean -xfd` # this will blow away any untracked files
2. `./boostrap`
3. `make -f examples/Makefile-cc2652 JOINER=1`

Note that Travis also succeeds in building this configuration:

1. https://github.com/jwhui/openthread/commit/c7512794b250
2. https://travis-ci.org/jwhui/openthread/builds/440336706
3. https://travis-ci.org/jwhui/openthread/jobs/440336720

[2018-10-11 21:31] jwhui commented on #2225
This has been resolved in Thread Test Harness v49.3.

[2018-10-11 21:31] #2225 closed

[2018-10-11 22:02] ubx-caloca commented on #3144
Doing the previous steps worked !! Thanks Jonathan.

I will make note to do the those steps every time I pull the latest changes.

[2018-10-11 22:09] jwhui commented on #3144
Great to hear that it works!

[2018-10-11 22:09] #3144 closed

[2018-10-12 01:41] swordinrock123 commented on #3137
@jwhui Thank you for your reply, in my project, I didn't modify the driver of EFR32, which means currently I found no problem that EFR32MG1 share the same driver with EFR32MG12, however, there are some differences between them in Makefile and Makefile.am.

For example, in examples\platforms\efr32\Makefile.am, I need to do the following changes:
1. '-I$(EFR32MG_SDK_SRCDIR)/platform/Device/SiliconLa

[2018-10-12 03:05] NOA-Ben commented on #3109
I am very sorry to reply to you now. I modified the code of cli_uart.app, blocked the function of cli and recompiled the firmware. Now I can read the serial port data, thank you very much.

[2018-10-12 13:04] kpyush commented on #3143
We are receiving timeout even in piggybacked coap server. Worse thing is sniffer is getting the response and ack packets properly but device still sends duplicate packets till the maximum limit after that it throws response error.

In this log client is sending coap get packet on a ip address (2001:db8:1:ffff::c0a8:a64) with **test** resource defined.

cli-ftd example is being used as reference. (

[2018-10-12 14:09] LuDuda commented on #3143
From attached logs i see that your second problem is the same as reported in #2733 which you mentioned before.

Server responds from different IPv6 address. Check first reply from @jwhui in the #2733.

[2018-10-12 18:28] jwhui commented on #3137
@swordinrock123, some notes:

1. `examples/Makefile-efr32` already includes [conditionals based on the specific EFR32 board](https://github.com/openthread/openthread/blob/d64b889f5217b2af985c75accc52d2f97858a4c0/examples/Makefile-efr32).
2. `examples/platforms/efr32/Makefile.am` [utilizes the `BOARD` variable when listing include paths](https://github.com/openthread/openthread/blob/d64b889f5217b2a

[2018-10-13 10:07] kpyush commented on #3143
@LuDuda do you have any idea how to fix this #2733, If not then where should I look into OTBR or in CLI-FTD APP in order to resolve the issue.

[2018-10-13 14:54] LuDuda commented on #3143
The problem seems to be located in the CoAP Server implementation in the OTBR. Which implementation do you use?

I see one good solution and two workarounds:

1. CoAP Server should respond with the source address equal to the destination address of the request. This should be ensured in the CoAP Server implementation or its configuration (e.g. maybe you can bind to specific address). If its not, i

[2018-10-14 15:00] CraigZych commented on #3079
I am actively working on it but with limited time.

I'm still very interested if anyone is interested in helping.

I am currently working the angle that the best way is through the micropython zephyr port since it has openthread support. I had tried originally with the nrf port but this will open up many more board options.

[2018-10-15 05:44] kpyush commented on #3143
Coap server library: [Coapython](https://github.com/Tanganelli/CoAPthon)
The ip address **2001:db8:1:ffff::c0a8:ff01** is of NAT64. And **2001:db8:1:ffff::c0a8:a64** is of wlan0. The CoAP server is running in private network. When I tried to send CoAP message at destination address **2001:db8:1:ffff::c0a8:ff01**, then the packet is not able to reach my local server running on RPi.

I think we have

[2018-10-15 07:14] swordinrock123 commented on #3137
@jwhui Hi, I tried the similar model as you told me, but finally I find that it can not work because **automake does not allow it**.

You can check the document of Automake about ["Conditional compilation of sources"](http://www.delorie.com/gnu/docs/automake/automake_39.html)
It says that we can't use configure substitution in _SOURCE

And it also gives two possible ways:
1. [9.1.3.1 Conditional c

[2018-10-15 07:37] SKajto opened #3161 "Typo in the CLI README.md or the command txpowermax doesn't exists"
**Describe the bug**
The command txpowermax doesn't exists as described in the cli [README.md](https://github.com/openthread/openthread/blob/master/src/cli/README.md#txpowermax)

In the command example the command **txpower** has been used instead of **txpowermax**

**Console/log output**

[code]

[2018-10-15 07:52] jwhui commented on #3161
@SKajto, thanks for raising this issue. Just submitted #3162.

[2018-10-16 12:29] bukepo opened #3170 "Event for border agent state changes"
**Is your feature request related to a problem? Please describe.**
Missing border agent state changed event.

**Describe the solution you'd like**
Add this event.

**Describe alternatives you've considered**
None.

**Additional context**
Border router needs this event to decide whether to publish MDNS.

[2018-10-16 13:29] LuDuda commented on #3143
Great to hear that!

[2018-10-17 09:29] jwhui commented on #3137
@swordinrock123, what about something similar to what is done in [examples/platforms/efr32/fem-control.c](https://github.com/openthread/openthread/blob/a56666a6d0d6e1edf1f4bcd242bc0fed63ce6a76/examples/platforms/efr32/fem-control.c)?

[2018-10-19 09:56] nikiizvorski opened #3185 "Makefile nRF52840 not working on Ubuntu 18.04!"
**Describe the bug**
Makefile nRF52840 not working on Ubuntu 18.04 doesn't work and create a build the rest Makefiles do.

**To Reproduce**
Information to reproduce the behavior, including:
1. pull latest commit
2. Execute
$ cd ~/openthread
$ make -f examples/Makefile-nrf52840 clean
$ make -f examples/Makefile-nrf52840 JOINER=1

**Expected behavior**
Just build the build that is required from it.

[2018-10-19 10:01] nikiizvorski commented on #3185
Hey guys a solution to this would be if someone can build a nRF52840 ot-cli.hex for us on the latest commit and pass it to us. Thanks a lot!

[2018-10-19 10:01] bukepo commented on #3185
I have tested on 18.04, it works as expected. Could you please clean your worktree first?
[code]

[2018-10-19 10:07] nikiizvorski commented on #3185
Hey @bukepo just did that same result i have posted to tools i am using. If its working for you can you pass a cli hex from the latest so we can have a solution for now. Thanks

[2018-10-19 10:17] bukepo commented on #3185
I verified, the tool versions are the same. Could you please attach your `build/nrf52840/config.log`?

Besides, you may also try reinstalling the toolchain though `apt-get`.
[code]

[2018-10-19 10:38] nikiizvorski commented on #3185
Output:

This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by OPENTHREAD configure 20170716-00988-g71d4ad3e, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ /home/viblegrid/openthread/examples/../configure INSTALL=/usr/bin/install -p CPP=arm-none-eabi-cpp CC=arm-none-eabi-gcc CXX

[2018-10-19 10:38] nikiizvorski commented on #3185
Thanks a lot for the hex file!

[2018-10-19 10:40] bukepo commented on #3185
It seems to be caused by the tool chain. Could you please try remove the toolchain you installed and just run the following command to install toolchain?
`./script/bootstrap`

[2018-10-19 10:46] nikiizvorski commented on #3185
Can you suggest a command for that? Thanks

[2018-10-19 11:28] bukepo commented on #3185
what command?

[2018-10-22 03:21] NOA-Ben opened #3187 "Get the hardware MAC"
I can get the unique identifier of the device through the API interface. I need to use 3 or more slave nodes. Each slave node has a temperature sensor and transmits the temperature to the root node. I need to identify which temperature value comes from. node

[2018-10-22 03:23] NOA-Ben opened #3188 "Get the hardware mac"
I can get the unique identifier of the device through the API interface. I need to use 3 or more slave nodes. Each slave node has a temperature sensor and transmits the temperature to the root node. I need to identify which temperature value comes from. node

[2018-10-22 10:30] CiaranWoodward opened #3193 "[thci] channel mask format issue in commissioner command for cli device"
The THCI script fails in the Thread Test Harness for 9.2.14 due to a similar issue to #3150. This causes the test to lock up and crash, resulting in 'inconclusive'.

I can prepare a similar fix to #3150 and will submit a PR, can't promise it will be prompt

[2018-10-22 10:58] CiaranWoodward commented on #3193
Non-issue sorry, human error!

[2018-10-22 10:58] #3193 closed

[2018-10-22 10:58] CiaranWoodward commented on #3193
Non-issue sorry, human error!

[2018-10-22 13:02] KaSroka commented on #3185
I can confirm that it's toolchain related - gcc-arm-none-eabi that comes with Ubuntu 18.04 LTS has problem with ld. Try to uninstall it with `sudo apt remove gcc-arm-none-eabi` and install it from here https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads (I'm using version 6-2017-q2-update Linux 64bit and it works perfectly fine)

[2018-10-22 22:01] jwhui commented on #3187
You could use [`otLinkGetFactoryAssignedIeeeEui64()`](https://github.com/openthread/openthread/blob/71d4ad3e777672a441e238344290df302ad86bb7/include/openthread/link.h#L375) and include that as part of the application payload along with the temperature sensor.

[2018-10-22 22:01] jwhui commented on #3188
Duplicate of #3187.

[2018-10-22 22:01] #3188 closed

[2018-10-22 22:02] jwhui commented on #3185
Yes, every instance of:
[code]
that I've seen points to an issue with the GNU ARM Embedded Toolchain and can be solved by reinstalling the toolchain.

[2018-10-23 01:54] NOA-Ben commented on #3187
Thank you so fast reply, I will try now

[2018-10-23 05:48] #3170 closed

[2018-10-23 13:38] kpyush opened #3198 "How to save user data in settings area"
Hi there,

I wanted to save some user information in the settings, is there any way to save this information in the settings area.

[2018-10-23 15:55] jwhui commented on #3198
For testing purposes, you could try using the [`otPlatSettings*`](https://github.com/openthread/openthread/blob/a07751ec0d7b02394670803e40dd080833d94b36/include/openthread/platform/settings.h) API. However, make sure to avoid the [Key IDs used by OpenThread](https://github.com/openthread/openthread/blob/a07751ec0d7b02394670803e40dd080833d94b36/src/core/common/settings.hpp#L123) - I suggest choosin

[2018-10-25 13:09] nikiizvorski commented on #3185
I can confirm thats the solution and it works fine.

[2018-10-25 13:16] nikiizvorski opened #3213 "Zolertia Firefly NCP"
Hi the bug that we are facing is with Zolertia Firefly after is being flashed and thats been successful with one of the prebuilt firmwares doesn't seem to work as excepted. Only half functionality works and after it needs to make a connection it doesn't seem to do it.

**To Reproduce**
Just pull the latest bin from the website and flash it.

**Expected behavior**
To work as expected and as shown o

[2018-10-25 14:15] nikiizvorski commented on #3185
Can anyone build an hex or bin for cc2652? Would really appreciate it. Thanks

[2018-10-26 06:48] e-rk commented on #3087
Hi,
Can you please try checking out to the current master branch? Recently a bug with USB communication was fixed. Also try building the examples with these build flags:

        make -f examples/Makefile-nrf52840 COMMISSIONER=1 JOINER=1 COAP=1 DNS_CLIENT=1 MTD_NETDIAG=1 BORDER_ROUTER=1 MAC_FILTER=1 UDP_PROXY=1 BORDER_AGENT=1 LINK_RAW=1 SERVICE=1 USB=1 BOOTLOADER=1
Hope it helped.

[2018-10-26 09:04] josephn123 opened #3219 "[efr32] Project doesn't compile when OPENTHREAD_CONFIG_ENABLE_TIME_SYNC is enabled"
**Describe the bug**
When enabling `OPENTHREAD_CONFIG_ENABLE_TIME_SYNC` on efr32 config, the project will not compile because of the missing includes:
[code]

**To Reproduce**
Change `openthread-core-efr32-config.h` `OPENTHREAD_CONFIG_ENABLE_TIME_SYNC` to 1.

**Expected behavior**
Project compiles

**Console/log output**
Snippet:
[code]

**Additional context**
Willing to fix this, however I am not

[2018-10-26 21:53] jwhui commented on #3219
What commit-id are you using? I believe the build errors noted above were resolved by #3167.

[2018-10-28 12:51] ekarlso opened #3223 "Error building HEAD / master with gecko sdk 2.3"
**Describe the bug**
Error building HEAD / master with gecko sdk 2.3

**To Reproduce**
OT Rev: master
HW Platform: EFR32MG12P BRD4161A / Thunderboard sense 2

Build steps
Clone clean OT from gh
[code]
**Expected behavior**
Should be able to build

**Console/log output**
  BUILD    efr32
make -j10 -C build/efr32 --no-print-directory all
  CHECK    .local-version
make --no-print-directory all-recurs

[2018-10-28 15:43] jwhui commented on #3223
@ekarlso, thanks for raising this issue. I just submitted #3224 to resolve this issue. Please review.

[2018-10-29 19:39] #3223 closed

[2018-10-30 02:50] sergeuz opened #3233 "otLinkActiveScan() returns a non null-terminated network name"
**Describe the bug**

`otLinkActiveScan()` doesn't null-terminate a network name if it has the maximum length of 16 characters.

**To Reproduce**

Set up a network with a name containing 16 characters and perform an active scan.

**Additional context**

The issue is caused by an incorrect size argument passed to `memcpy()` in the `Mac::ConvertBeaconToActiveScanResult()` method (the source `BeaconP

[2018-10-30 02:56] jwhui commented on #3233
@sergeuz, thanks for raising this issue! Are you willing to submit a PR with the fix?

[2018-10-30 09:49] kevin-zhux opened #3235 "[efr32] Porting to efr32mg13p, cli no work."
**Describe the bug**
Cli works well in efr32mg12p332f1024gl125 demo (Oct. 18th, 2018) build . But when I modify efr32mg12p332f1024gl125 demo project to fit efr32mg13p732f512gm48, cli doesn't work anymore, nothing printed when I hit 'Enter'. The following files are modified:

/////////////////////   file 1   /////////////////////
<openthread>/examples/Makefile-efr32
////////////////////////////////

[2018-10-30 10:03] josephn123 commented on #3219
Build issue has been fixed, thank you. Closing this issue.

[2018-10-30 10:03] #3219 closed

[2018-10-30 10:15] kevin-zhux commented on #3235
This issue is the same as #2686 .

[2018-10-30 10:15] #3235 closed

[2018-10-30 10:40] nikiizvorski opened #3236 "nRF52840 - Board stopped working with Android Things"
**Describe the bug**
We have been buying nRF5280 boards and flashing them from open thread website in the first couple tests the devices work properly and connect to each other. We have tried to connect one to one and the devices do connect to each other. After some point we decided to connect to two or tree devices at the same time. In a short period of time we started noticing that some of the c

[2018-10-30 11:00] nikiizvorski commented on #3236
And the second part that we trigger after:

2018-10-30 10:59:29.319 1880-1880/com.example.things.lowpan.transmitter E/TransmitterActivity: Could not provision network
    com.google.android.things.lowpan.LowpanException: android.net.lowpan.JoinFailedException: android.os.ServiceSpecificException: JoinFailedUnknown (code 12)
        at com.google.android.things.lowpan.LowpanInterface$AsyncCallGlue.

[2018-10-30 11:14] nikiizvorski commented on #3213
bump

[2018-10-30 11:15] nikiizvorski commented on #3185
bump

[2018-10-30 13:57] sergeuz commented on #3233
@jwhui Sure. I won't be able to make it today though, but will definitely submit it tomorrow if that's ok

[2018-10-30 22:33] jwhui commented on #3233
@sergeuz, of course, no problem!

[2018-10-31 03:35] jwhui commented on #3213
Unfortunately, we do not have anyone actively supporting OpenThread on Android Things at this time - of course, contributions are welcome!

Otherwise, is it possible for you to use Raspbian on RPi 3b with [wpantund](https://github.com/openthread/wpantund)? Alternatively, you could try [OpenThread Border Router](https://openthread.io/guides/border-router).

[2018-10-31 03:36] jwhui commented on #3236
Unfortunately, we do not have anyone actively supporting OpenThread on Android Things at this time - of course, contributions are welcome!

Otherwise, is it possible for you to use Raspbian on RPi 3b with [wpantund](https://github.com/openthread/wpantund)? Alternatively, you could try [OpenThread Border Router](https://openthread.io/guides/border-router).

[2018-10-31 07:39] Nopik opened #3241 "Unable to disable UART HWFC on nRF52840"
1. Check out openthread master
2. Change `UART_HWFC ` to `NRF_UART_HWFC_DISABLED ` in https://github.com/openthread/openthread/blob/master/examples/platforms/nrf52840/platform-config.h#L86
3. For verification add line `#error boo` at https://github.com/openthread/openthread/blob/master/examples/platforms/nrf52840/uart.c#L179 - inside `#if`
4. Build openthread
5. Build fails (`#error boo`), but it

[2018-10-31 07:57] Nopik commented on #2724
This is so much needed. Especially, if toranj tests could be run in docker as well, the setup would be way easier.

[2018-11-02 02:55] swordinrock123 commented on #3137
@jwhui Hello, I followed your suggestion and it can work. But there still remains another problem.

In [https://github.com/openthread/openthread/blob/master/examples/platforms/efr32/Makefile.am#L57](url), it requires the board config path such as EFR32MG12_BRD4161A, as we know, these boards are all from SiLabs, what if someone is using board from other vendors with EFR32 as radio chipset?

After r

[2018-11-02 10:33] kevin-zhux opened #3255 "How to integrate OpenWeave and OpenThread"
Dear,

How to integrate OpenWeave and OpenThread, could you give me some advice or documentations?

Best Regard,
Kevin Zhu

[2018-11-02 13:37] CraigZych commented on #3079
@jwhui @rlubos

Any chance either of you can provide some insight into a stumbling block I'm having.

I'm trying to use the zephyr port of micropython https://github.com/pfalcon/micropython

Clone that repo and cd into ports/zephyr

If I copy the overlay-ot.conf (from this project zephyr/samples/net/echo-client) file and add the -DOVERLAY_CONFIG parameter from that example to line 105 of the MAKEF

[2018-11-02 14:16] bmeisels commented on #3079
@CraigZych
I have been playing with this today and i managed to remove the errors.
You are missing some configuration that the zephyr openthread  module is dependent on such as CONFIG_FLASH.
See my last message on https://github.com/micropython/micropython/issues/4098

[2018-11-02 21:20] jwhui commented on #3137
I think it makes sense to allow custom boards. One possibility is to add a "custom" option for the BOARD specifier. When "custom" is specified, the board-specific include path is not added. Thoughts?

[2018-11-03 12:16] PandaTea commented on #1137
amazing,its work

[2018-11-04 09:21] hubertmis opened #3268 "OpenThread selects RLOC as a source IPv6 address"
I'm trying to implement a simple application using OpenThread. Node A transmits a multicast message that is received by B. After some time B transmits a response to A. I've noticed that A uses RLOC as a source address of the multicast request. Because of that, if the network topology is changed between transmission of the request and the response, the response includes outdated RLOC as destination

[2018-11-05 08:54] rlubos commented on #3079
@CraigZych
Just to add my 2 cents here - due to config file refactorization applied some time age to the echo samples in Zephyr, they now use 3 config files to build OpenThread for nRF52840 - `prj.conf`, `boards/nrf52840_pca10056.conf` and `overlay-ot.conf`. As `nrf52840_pca10056.conf` is used by both, OpenThread and raw 802.15.4 configuration of this sample, some configs vital for OpenThread migh

[2018-11-05 12:39] bukepo opened #3271 "[nrf52840] support DFU Trigger Library (USB)?"
**Is your feature request related to a problem? Please describe.**
Even build with BOOTLOADER=1, the DFU trigger is not supported.

**Describe the solution you'd like**
Include DFU trigger feature.

**Describe alternatives you've considered**
None.

**Additional context**
I tried to add this feature, but I found there are too many dependencies that are not included in `third_party/NordicSemiconduc

[2018-11-06 10:40] rlubos commented on #3079
@Craigzyc
Unfortuantely nobody was working (yet) on improving the Zephyr port for OpenThread, so the static configuration of OpenThread parameters is the only possible option available out-of-the box.

[2018-11-06 15:15] LuDuda commented on #3271
Thanks @bukepo for reporting this issue.

We will take care of that. Note that when it comes to PC side, we currently have support for it only in nRF Connect, is that okay, or you expecting also some sample Linux application?

[2018-11-06 17:14] LuDuda commented on #3271
That is my current understanding. I will consult with the nrfutil team and let you know asap.

[2018-11-06 20:03] CraigZych commented on #3079
@rlubos

I know i had tried to change the panid through the cli and it didnt work. Is that due to it statically coded?

[2018-11-06 20:08] jwhui commented on #3095
@NickNamerr, any update on this issue?

[2018-11-06 20:09] jwhui commented on #3233
Resolved by #3246.

[2018-11-06 20:09] #3233 closed

[2018-11-06 20:09] #2822 closed

[2018-11-06 20:13] jwhui commented on #3268
@hubertmis, thanks for raising this issue.

I agree that Thread control protocols should use RLOC whereas application protocols should use ML-EID for IPv6 source address.

One proposal:
1. Update Thread control protocols explicitly specify the RLOC as IPv6 source address, and
2. Update default IPv6 source address selection to prefer the ML-EID on realm-local or smaller scope multicast destinations

[2018-11-06 20:33] jwhui commented on #3185
@nikiizvorski, CC2652 binaries: [ot-ncp-ftd-g38bd2569-cc2652.tar.gz](https://github.com/openthread/openthread/files/2554960/ot-ncp-ftd-g38bd2569-cc2652.tar.gz)

Closing, since the original issue has been resolved.

[2018-11-06 20:33] #3185 closed

[2018-11-06 20:34] #3213 closed

[2018-11-06 20:34] #3236 closed

[2018-11-06 20:34] jwhui commented on #3187
@NOA-Ben, any updates on this issue?

[2018-11-06 20:34] #3198 closed

[2018-11-07 08:06] rlubos commented on #3079
Well partially because of this. You can't modify PANID while network is up and running, and as it starts in Zephyr automatically, that's what's blocking you. If you have issued `thread stop` command first, you should be able to modify network parameters. Note, that you have to re-enable the network with `thread start` afterwards.

[2018-11-07 08:19] NickNamerr commented on #3053
I debuged till this [place](https://github.com/openthread/openthread/blob/master/src/core/meshcop/dataset_manager.cpp#L147):
lane 154:
timestamp = aDataset.GetTimestamp();
Actually it returns NULL. I changed topic name.

[2018-11-07 10:46] Craigzyc commented on #3079
Ok. I totally should have remembered that from playing with openthread before.

So even though we can't stop the auto initialization we can `thread stop` and setup the network the way we need it.

@rlubos
Can the cli be accessed from within code in the current implementation or is that only in the console manually?

[2018-11-07 10:55] rlubos commented on #3079
From what I know the OpenThread APIs are not exposed to the Zephyr application for now. It should be doable, still it's not something available out-of-the box.

[2018-11-07 11:01] Craigzyc commented on #3079
Ok, Thank you.

From what I saw in the comments on the zephyr issues it sounded like you were working on the openthread implementation but thats obviously not the case. Thanks for your help

[2018-11-07 12:29] librasungirl commented on #3271
@LuDuda , are there any plan for it?

[2018-11-07 12:56] hubertmis commented on #3268
That's one way to go. Another one would be to create a new message sub-type like `kSubTypeControl` and select appropriate source address based on the message sub-type.

[2018-11-08 02:39] NickNamerr commented on #3053
I found bug. It relates to SiLabs efr32 MSC_Init() and MSC_Deinit():

void MSC_Init(void)
{

  /* Disable writing to the flash */
  **MSC->WRITECTRL &= ~MSC_WRITECTRL_WREN;**

void MSC_Deinit(void)
{
  /* Disable writing to the flash */
  **MSC->WRITECTRL &= ~MSC_WRITECTRL_WREN;**

I have called MSC_Init in my code, so, second call triggered like MSC_Deinit();

[2018-11-08 02:39] #3053 closed

[2018-11-12 15:03] LuDuda commented on #3271
@librasungirl @bukepo our app team hasn't made plans to add DFU trigger to nrfutil (they need to estimate the effort).

There is also the possibility of using pc-nrf-dfu-js (https://github.com/NordicSemiconductor/pc-nrf-dfu-js), or the nrf-device-setup (https://github.com/NordicSemiconductor/nrf-device-setup-js).
They do not have a CLI like nrfutil, but are callable from node.js script. Our app te

[2018-11-12 23:52] #3241 closed

[2018-11-13 03:16] #3187 closed

[2018-11-14 11:31] bahubalioffice67 opened #3300 "Not able compile OpenThread on CC1352"
I am trying to compile the openthread  for cc1352. I am following steps given below :
$ ./script/bootstrap
$ ./bootstrap
$ make -f examples/Makefile-cc1352

 I am getting following error while compilation
~/openthread$ make -f examples/Makefile-cc1352
  BUILD    cc1352
make -j10 -C build/cc1352 --no-print-directory all
  CHECK    .local-version
make --no-print-directory all-recursive
Making all in

[2018-11-14 11:40] jwhui commented on #3300
@bahubalioffice67, can you provide more information about your build system (e.g. operating system, distribution, etc.).

One thing to try is uninstalling your arm-gcc toolchain then downloading and installing the latest directly from: https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads

[2018-11-14 11:43] bahubalioffice67 commented on #3300
OS:Ubuntu(18.04.1 LTS 64bit) running on virtualBox

[2018-11-14 11:51] jwhui commented on #3300
Makefile-cc1352 [configures](https://github.com/openthread/openthread/blob/33b0ee93308345316ca7a8a1ddc8aa86ba42983e/examples/Makefile-cc1352#L253) the compiler to use hard-float ABI. However, it appears that the linker is trying to link against a library built using soft-float ABI (i.e. `arm-none-eabi/lib/libg_nano.a`).

Instead, it should be trying to link against the library build using hard-flo

[2018-11-15 09:06] bahubalioffice67 commented on #3300
Thanks @jwhui
I have reinstalled latest arm toolchain and now I am able to compile it.

[2018-11-15 23:59] #3300 closed

[2018-11-16 13:40] tarunsmalviya opened #3311 "How to get network topology tool of thread?"
I tried to built a tool to evaluate network topology using 'sudo wpanctl getprop'. But in this command, only the nodes which are directly connected to NCP are listed.

Can any help?

[2018-11-16 17:53] abtink commented on #3311
There are multiple properties provided by OT/`wpantund` related to topology:
- `"Thread:ChildTable"` list of the children attached to the device
- `"Thread:NeighborTable"` list of neighbors (routers and direct chidllren)
- `"Thread:RouterTable"` list of all routers in networks (this list includes both routers that device can directly talk to, and routers that hops aways and the best next hop to re

[2018-11-16 19:39] tarunsmalviya commented on #3311
Yes. But I cannot create complete graph of network based on these information because this doesn't provide details of child which are not directly connected to NCP.

[2018-11-16 19:41] abtink commented on #3311
Each router tracks its own children, so need to get the date from each router node separately.

[2018-11-16 19:45] jwhui commented on #3311
By design, no Thread device needs to maintain state about all other Thread devices in the network - allowing the network to scale while minimizing memory and communication resource utilization.

As @abtink mentioned, the information needs to be aggregated across the nodes in the network.

[2018-11-16 20:04] tarunsmalviya commented on #3311
Okay. Got it.
Thank you!

[2018-11-16 20:07] tarunsmalviya commented on #3311
Okay.There are tools provided by Nordic which is for windows and Linux x64, in which a CLI is connected and the tools draws the network topology. Can you elaborate how did they do it.

[2018-11-16 20:09] jwhui commented on #3311
Nordic implemented an application layer protocol where nodes report topology information to the topolgy visualization service.

[2018-11-16 20:38] LuDuda commented on #3311
@tarunsmalviya @jwhui Actually, I am the author of nRF Thread Topology Monitor and just to be precise the tool communicates with CLI device which periodically retrieves the current list of routers. Each router is polled by sending the standard Thread diagnostic messages (MGMT_DIAG.req) - [CLI command](https://github.com/openthread/openthread/tree/master/src/cli#networkdiagnostic-get-addr-type-). I

[2018-11-16 20:46] jwhui commented on #3311
@LuDuda, thanks for clarifying! Adding support to spinel is an interesting thought. It might also be useful to implement a library so that any device that can route to the Thread network can perform these services.

[2018-11-16 20:59] LuDuda commented on #3311
@jwhui Can you elaborate more on what type of library are you thinking of?

Currently, we use almost unmodified CLI example (we do have some fancy led blinking :)) that is entirely driven from PC side by node.js script (with logic for polling all routers, topology database, visualization etc).

[2018-11-16 23:02] riedlse commented on #3087
I just got a few nRF dongles, I can't seem to get it programmed using the nRF Connect programmer. I tried the normal border router build and the one above. I select the file, but I can't write or erase. nRF connect 2.6.1 programmer 1.0.0

[2018-11-16 23:05] jwhui commented on #3311
@LuDuda use of TMF messages are limited to mesh-local addressing. It might also be nice to have something that does not require to be on-mesh. One possibility is to have something that operates in commissioner role and uses UDP proxy feature of border router. Anything more involved probably requires additional code on device and is probably best done within application-specific frameworks.

[2018-11-19 15:47] pszkotak commented on #3087
@arn-soft , on the last screenshot you provided it seems that in the middle of October you were using the month-old openthread commit. It is not a good idea for two reasons.
1. There is active development going on, including important bug fixes.
2. In a case when wpantund or openthread is much older than the other it may turn out that some change in the spinel protocol used to communicate between

[2018-11-20 05:46] #3311 closed

[2018-11-20 06:31] tarunsmalviya commented on #3311
@LuDuda Can you please share more details regarding [https://github.com/openthread/openthread/tree/master/src/cli#networkdiagnostic-get-addr-type-](CLI) command as I didn't find any proper documentation regarding the CLI command.

Thanks

[2018-11-20 06:39] jwhui commented on #3311
@tarunsmalviya , the [`networkdiagnostic get`](https://github.com/openthread/openthread/tree/cfc4882c3d7ee9f49ca9169394f61e7b43a56dd6/src/cli#networkdiagnostic-get-addr-type-) CLI command sends a `DIAG_GET.req` message to retrieve Thread state information from another device. You can learn more about available network diagnostics in [Thread 1.1.1 Section 10.11](https://www.threadgroup.org/support#

[2018-11-20 07:34] tarunsmalviya commented on #3311
@jwhui Thanks for the help :)

[2018-11-20 10:04] KaSroka opened #3322 "No internet connectivity when NCP is a commissioner"
I've noticed an issue that is caused by #3123. When NCP is a commissioner it would drop packets from other nodes instead of forwarding them to wpantund, blocking any internet traffic.

To reproduce we need one board with CLI and border router with internet connectivity.
CLI board should be able to ping external server:
[code]
Now start commissioner on border router:
[code]
Ping from CLI board woul

[2018-11-20 11:48] riedlse commented on #3087
red led is flashing, bring up nRF tools on the mac, open the programmer app, finds the device in DFU mode, load the hex file... Still can't program, do I have to add the DFU red code area or something to the download?
![screen shot 2018-11-20 at 6 46 26 am](https://user-images.githubusercontent.com/1156044/48771765-3432f280-ec90-11e8-9480-b0c89fc77fca.png)

[2018-11-20 11:59] pszkotak commented on #3087
It seems that the application overlaps the bootloader - small and big orange sections.
Have you built the firmware with the BOOTLOADER=1 flag?

Please run the following to be sure
1. `cd openthread`
2. `make -f examples/Makefile-nrf52840 clean`
3. `make -f examples/Makefile-nrf52840 USB=1 BOOTLOADER=1`
4. `arm-none-eabi-objcopy output/nrf52840/bin/ot-cli-ftd -O ihex cli.hex`
5. Load the `cli.hex`

[2018-11-20 12:05] riedlse commented on #3087
make -f examples/Makefile-nrf52840 COMMISSIONER=1 JOINER=1 COAP=1 DNS_CLIENT=1 MTD_NETDIAG=1 BORDER_ROUTER=1 MAC_FILTER=1 UDP_PROXY=1 BORDER_AGENT=1 LINK_RAW=1 SERVICE=1 USB=1 BOOTLOADER=1

Used the make file from above, I will try the shorter version...

[2018-11-20 12:07] pszkotak commented on #3087
The amount of used parameters should not matter. The `make ... clean` does.

[2018-11-20 12:09] riedlse commented on #3087
Nope, although instead of orange it shows up as green this time... Ran the make clean, used to doing that for open thread whenever I build.

It does look like it starts above 0, but not high enough

![screen shot 2018-11-11 at 3 23 23 pm](https://user-images.githubusercontent.com/1156044/48772675-16b35800-ec93-11e8-92cb-631c30c5c486.png)

[2018-11-20 12:10] riedlse commented on #3087
sorry wrong screen shot
![screen shot 2018-11-20 at 7 07 53 am](https://user-images.githubusercontent.com/1156044/48772747-48c4ba00-ec93-11e8-814f-35ec3223cbfe.png)

[2018-11-20 12:12] riedlse commented on #3087
Is there a command line way to use nrfjprog with this dfu dongle? it obviously does not have the debugger loaded.

[2018-11-20 12:13] pszkotak commented on #3087
Actually, when you would hover over the orange area you would see that it ends at 0x1000 as well.
The image can be written. Looks good to me.

[2018-11-20 12:20] pszkotak commented on #3087
There is no way to use the nrfjprog to flash the dongle without the J-Link.
The only command line way I am know is use of the USB DFU with the nrfutil.
It is more troublesome than nrfconnect as it requires generation of the app dfu package.
http://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.tools%2Fdita%2Ftools%2Fnrfutil%2Fnrfutil_dfu_serial_usb.html

[2018-11-21 16:04] ChrIgiSta opened #3323 "[coap] block transfer"
Is block transfer support for coap proposed for openthread?
Thanks for answer.

[2018-11-21 16:19] ChrIgiSta opened #3324 "Message size over 1280 Bytes"
Is there a way to send messages (e.g.) with udp, which is over 1280 Bytes?
I'm not be able to send udp packages with more than 1232 Bytes ( +8 Bytes UDP Header + 40 Bytes Ipv6 Header = 1280 Bytes in total) from a Openthread Device to an other.
I try it on a NRF52 and on POSIX Simulation. The situation is in both case the same.

I increase for this case `OPENTHREAD_CONFIG_IPV6_DEFAULT_MAX_DATAGRAM`

[2018-11-22 18:18] jwhui commented on #3324
Yes, increasing `OPENTHREAD_CONFIG_IPV6_DEFAULT_MAX_DATAGRAM` will allow you to send larger packets. Note, however, that the Fragmentation Header defined in [RFC 4944 Section 5.3](https://tools.ietf.org/html/rfc4944#section-5.3) only has 11 bits for the datagram length, which means that packets are limited to 2047 bytes.

[2018-11-23 12:55] twinklekumarp opened #3325 "OpenThread implementations for .Net Core"
Hi
As I am trying to find and follow OpenThread implementations for Microsoft .Net, I haven't found anything significant so far. It would be great if we able to implement OT for .Net core or .Net standard similar like OpenWeave so that other developers can take advantage of OT and language would not be barrier for them.

Implementation of OT for .Net core or .Net standard as library and released a

[2018-11-26 06:56] swordinrock123 opened #3326 "[efr32] EFR32 flash data page number problem"
Hi, I have a question about the flash page number of EFR32.

In my understanding, the flash is used for saving settings and config.
In [settings_flash.c](https://github.com/openthread/openthread/blob/master/examples/platforms/utils/settings_flash.c#L116), SETTINGS_CONFIG_PAGE_SIZE and SETTINGS_CONFIG_PAGE_NUM are used.

And for efr32, [SETTINGS_CONFIG_PAGE_SIZE](https://github.com/openthread/opent

[2018-11-26 21:57] jwhui commented on #3325
@twinklekumarp, I'm not very familiar with .Net Core. Can you provide more detail on the use cases you'd like to support? Are you looking to support a host running .Net Core, OpenThread running in .Net Core framework, and communicating via a serial connection to an 802.15.4 SoC? What host platforms are you targeting?

[2018-11-26 22:08] jwhui commented on #3326
Good catch. I believe you are correct. As you noted, it appears that the configuration in [examples/platforms/efr32/openthread-core-efr32-config.h](https://github.com/openthread/openthread/blob/0190f9bd9c3df6069b4d1740b9bf2dc8e77b700c/examples/platforms/efr32/openthread-core-efr32-config.h) uses fewer flash pages than [examples/platforms/efr32/flash.c](https://github.com/openthread/openthread/blob

[2018-11-27 17:37] abtink commented on #3324
@ChrIgiSta using NCP mode, I think you also need to update the max spinel frame size. This is  defined in `spinel.h` header file `SPINEL_FRAME_MAX_SIZE,` and used only in `spinel.c` within OpenThread code.

Since `spinel.h` is intended to be shared between host and NCP code, we cannot use OT configuration header to change its definitions.

If you are using `wpantund`, the spinel max size comes int

[2018-11-27 17:46] abtink commented on #3324
BTW, we technically don't need `OPENTHREAD_CONFIG_NCP_TX_BUFFER_SIZE` to scale with the max IPv6 message size (_though increasing it would help with other spinel frames so I suggest to keep as large as possible_).

The `NcpFrameBuffer` (when embedding an IPv6 `Message` into a spinel frame) does not copy the payload of `Message` into its buffer and instead just saves the `Message` pointer. It frees

[2018-11-27 23:47] jwhui commented on #2724
We now have a number of Docker images available:

1. [Simulating a Thread Network using OpenThread in Docker](https://codelabs.developers.google.com/codelabs/openthread-simulation/#0)
2. [Building OpenThread with a pre-configured dev environment](https://openthread.io/guides/build)
3. [OpenThread Border Router](https://openthread.io/guides/border-router/docker)

Hope that helps!

[2018-11-27 23:47] #2724 closed

[2018-11-28 04:07] bukepo commented on #3322
Thanks for raising this issue. I have submitted #3328 to fix this issue.

[2018-11-28 18:11] #3322 closed

[2018-11-29 10:07] ChrIgiSta commented on #3324
@abtink many thanks for answer.
I'm now be able to set the MTU of WPAN up to 2047 Bytes, and it works with the Border Router.

For people who also want (must) increase package size:
### NCP Device
 * `openthread-core-default-config.h` -> `OPENTHREAD_CONFIG_IPV6_DEFAULT_MAX_DATAGRAM` up to 2047
 _and_ `OPENTHREAD_CONFIG_DEFAULT_SED_BUFFER_SIZE` up to 2047
 * `src/ncp/spinel.h` -> `SPINEL_FRAME_MAX_

[2018-11-29 15:16] ChrIgiSta commented on #3324
On last question:
Is there a reason, why openthread doesn't handle fragmented Ipv6 packets?
If a Ipv6 fragment is detected, the `HandleFragment` called in `ip6.cpp`. In this function a check `VerifyOrExit(fragmentHeader.GetOffset() == 0 && fragmentHeader.IsMoreFlagSet() == false, error = OT_ERROR_DROP);` drop every by ipv6 layer fragmented packets.

Thanks

[2018-11-29 16:44] jwhui commented on #3324
@ChrIgiSta, thanks for listing the set of required changes!

To answer your question [Thread 1.1.1 Section 5.1](https://www.threadgroup.org/support#specifications) states that [RFC 2460 Section 4.5 Fragment Header](https://tools.ietf.org/html/rfc2460#section-4.5) is not required. However, I could see having IPv6 Fragment Header support as a configurable build option.

[2018-11-29 16:45] jwhui commented on #3323
@ChrIgiSta, sounds great. Thanks!

[2018-11-29 16:45] #3323 closed

[2018-12-03 11:16] ChrIgiSta commented on #3324
@jwhui, thanks for answer!

[2018-12-03 11:16] #3324 closed

[2018-12-03 13:13] thcu-gp opened #3344 "otLinkSetShortAddress is in link.h, while its implementation is in src/core/api/link_raw_api.c"
This gives build issues since we do not enable OPENTHREAD_ENABLE_RAW_LINK_API

[2018-12-04 05:22] #3268 closed, assigned to nobody

[2018-12-04 14:33] ChrIgiSta opened #3346 "[configure] plattforms not build without example"
Since [commit `a638442df81981dd0ad8cce85c1d493d4c594441`](https://github.com/openthread/openthread/commit/a638442df81981dd0ad8cce85c1d493d4c594441#diff-51285cdd4615fad5900cc237c3cd412c), the directory `platforms` only included, if `OPENTHREAD_ENABLE_EXAMPLES` is `1`.
Before this commit was `platforms` always included by [`examples/Makefile.am`](https://github.com/openthread/openthread/commit/a6384

[2018-12-04 20:40] jwhui commented on #3344
@thcu-gp, thanks for raising this issue. I submitted #3348 to resolve this issue. Please review.

[2018-12-04 22:44] jwhui commented on #3346
@ChrIgiSta, that was intentional at the time. Are you looking to have OpenThread build code in [examples/platforms/utils](https://github.com/openthread/openthread/tree/4c783e558422d27279ad0812899b1f641dec8643/examples/platforms/utils)? Everything else is platform-specific code and requires specifying a platform.

[2018-12-05 08:57] ChrIgiSta commented on #3346
@jwhui, exactly. they use parts of [examples/platforms/utils](https://github.com/openthread/openthread/tree/4c783e558422d27279ad0812899b1f641dec8643/examples/platforms/utils).

[2018-12-05 13:49] #3344 closed

[2018-12-05 16:25] avtolstoy opened #3351 "[netdata] 6LoWPAN Context Identifier reusage"
**Describe the bug**

6LoWPAN Context Identifiers are reused on Leaders that received/restored the Network Data from some other node (e.g. after a reset). This of course causes connectivity issues, because an incorrect prefix/CID is assigned during compression/decompression. The main issue is that only a simple call to `SetNetworkData()` is made without synchronizing the received Network Data with

[2018-12-05 16:36] Puchinger opened #3352 "make fails for EFR32 Silicon Labs"
I made executed exactly the same commands as described here:
https://github.com/openthread/openthread/tree/master/examples/platforms/efr32
And get following error after executing make -f examples/Makefile-efr32 BOARD=BRD4161A
**To Reproduce**
Information to reproduce the behavior, including:
1. git clone https://github.com/openthread/openthread.git
$ cd <path-to-openthread>
$ ./script/bootstrap
$

[2018-12-05 19:10] LuDuda commented on #3351
Thanks for raising this issue!

@jwhui as a first step I propose just to read out contexts from received Network Data and synchronize it with the internal database. What do you think?

However, I see some challenges with the current approach of accepting network data from some Router by Leader which has been just reset. Thread specification defines CONTEXT_ID_REUSE_DELAY variable that defines the

[2018-12-05 19:46] LuDuda commented on #3351
Although my concerns are probably incorrect for contexts in OpenThread since we don't remove prefixes from Network Data before `CONTEXT_ID_REUSE_DELAY` anyway. I'm not sure if this is correct behaviour and specification does not help a lot here. But worst case we will wait longer than `CONTEXT_ID_REUSE_DELAY` before we reealocate the context, so we are fine here.

[2018-12-05 20:00] jwhui commented on #3351
@avtolstoy, thanks for reporting this issue with detailed description!

@LuDuda, I agree that we should synchronize internal state with the received Network Data.

Regarding `CONTEXT_ID_REUSE_DELAY`, Thread 1.1.1 Section 5.15.9 states the following:

As a result, I believe OpenThread has the correct behavior. Of course, if the Leader resets, it will have to set the reuse delay back to `CONTEXT_ID_

[2018-12-05 21:48] jwhui commented on #3352
What version of Flex SDK do you have installed?

The existing EFR32 port requires Flex SDK v2.3. I believe the latest Flex SDK is v2.4, so be sure to install Flex SDK v2.3 as well. After copying, you should have the following directory: `third_party/silabs/gecko_sdk_suite/v2.3`

[2018-12-05 21:51] #3095 closed

[2018-12-05 22:47] LuDuda commented on #3351
I've created a PR with the proposed fix.

Regarding `CONTEXT_ID_REUSE_DELAY` you are correct, my assumption was that 6LoWPAN Context ID Set is Leader's internal table.

When it comes to `ID_REUSE_DELAY` i agree that creating a new partition is highly undesirable, but in the other hand blocking Router promotion for 100 seconds is also quite bad. Especially if there is some new node that has connect

[2018-12-05 23:01] jwhui commented on #3351
@LuDuda, thanks for proposing a fix!

In looking at the code, I think we may need another change to ensure the leader retrieves network data from a neighboring device. Something like https://github.com/openthread/openthread/compare/master...jwhui:network-data. Thoughts?

I agree to address the `ID_REUSE_DELAY` as a separate issue.

[2018-12-05 23:59] jwhui commented on #3137
@swordinrock123, an updates on this issue?

[2018-12-06 10:58] Puchinger commented on #3352
Tanks for your answer, using Flex SDK v2.3 solved the problem.
Maybe you could add the hint to use version 2.3 into the OpenThread on EFR32 Readme?

[2018-12-06 16:43] beriberikix commented on #3351
Many thanks @LuDuda @jwhui for looking into this and already submitting PRs. We appreciate the fast turnaround 🙇

[2018-12-06 16:48] #3351 closed

[2018-12-06 16:50] jwhui commented on #3352
@Puchinger, we'll update the README. Thanks for raising this issue.

[2018-12-06 16:52] jwhui commented on #3346
@ChrIgiSta, makes sense. I submitted #3355 to resolve this issue. Please review.

[2018-12-07 12:22] ChrIgiSta commented on #3346
@jwhui, i have reviewed the PR. Thanks for this change. :+1:

[2018-12-07 16:39] #3346 closed

[2018-12-10 13:41] jia200x opened #3362 "otInstanceInit struct allocation"
Hello OpenThread developers,

I'm currently improving the RIOT-OS port of OpenThread and came here to describe a problem I'm facing and a possible solution.

## The problem
I'm trying to create an OpenThread container struct like this:
[code]

Since `&ot_container == &ot_container->instance`, I could access RIOT-OS specific stuff from the instance pointer instead of defining global variables.

E.g

[2018-12-10 13:42] jia200x commented on #3362
(sorry, it published before I finished. I'm still writing the description)

[2018-12-10 14:53] jia200x commented on #3362
(done!)

[2018-12-10 15:53] avtolstoy opened #3363 "[nrf52840] Elevated number of dropped packets and ChannelAccessFailures"
**Describe the bug**
After upgrading OpenThread from f089fc8e25f6ce5bea9ef6c1bb11b234c4540c6a to 545ccd8dc8aeb360449cde43349f7ec633aa50e7 we are seeing elevated number of dropped packets and ChannelAccessFailures, which cause the connectivity between the nodes to be broken periodically.

**Console/log output**
The logs were collected from the border router node while performing an OTA upgrade of o

[2018-12-12 06:21] nealjack opened #3369 "[nrf52840] Hardfault on COAP header init"
**Describe the bug**
Upon attempting to initialize a COAP header, a hardfault occurs at the [memset of mOption](https://github.com/openthread/openthread/blob/master/src/core/coap/coap_header.cpp#L52).

**To Reproduce**
Using edb7982 with an nRF52840 built with:
[code]
and manually copied to overwrite the Openthread libraries in the nRF5 SDK for Thread v2.0.0.

The network is comprised of 3 routers

[2018-12-12 06:36] nealjack commented on #3369
Yup, that was it. Thanks for the quick reply!

[2018-12-12 06:36] #3369 closed

[2018-12-12 20:00] conormoneill opened #3372 "MleRouter::HandleStateUpdateTimer can continue to expire indefinitely"
If the following sequence occurs, the MleRouter::HandleStateUpdate timer can be left expiring indefinitely.

- Configure role as router via spinel interface
- Wait for node to complete MLE attach as a child.  HandleStateUpdateTimer will be started, and mRouterSelectionJitterTimeout will be set to a random number between 1 and 120 seconds.  When the jitter timeout expires the device will transition

[2018-12-13 19:33] Humancell commented on #1803
Hello,

I wanted to let you know that we are *very* close to having this complete.  Not ready to announce *yet* ... but extremely close.  We will obviously by making our repo and project completely open very soon.

My question is:  Is there an estimate on when the next "release" is coming?

We have had to make several updates to the code for compatibility, and will work towards this being an offic

[2018-12-14 00:02] jwhui commented on #1803
@Humancell, great to hear about your efforts! Our existing releases mirror what is provided with the Thread Test Harness. We do not currently have a newer release in the pipeline. Look forward to hearing more updates!

[2018-12-14 22:48] jwhui commented on #3372
Resolved by #3376.

[2018-12-14 22:48] #3372 closed

[2018-12-17 11:38] hubertmis commented on #3363
We've located the root cause of this problem. It is related to drift of high-frequency and low-frequency clocks. Recommended workaround is to change `NRF_RAAL_TIMESLOT_DEFAULT_MAX_LENGTH` value to `20000000`.
I'm working on proper fix.

[2018-12-18 18:06] tomas-c commented on #3363
@avtolstoy What percentage of CCA errors were you seeing before and after the changes?  With EFR32 platform I can get CCA errors 10% of outgoing messages with 10 devices in one room. Wondering it that I should investigate that further too.

[2018-12-19 05:10] avtolstoy commented on #3363
@tomas-c In a 4-node network after an OTA update (~700KB) of one of the nodes (through the border router):
- `f089fc8e25f6ce5bea9ef6c1bb11b234c4540c6a`: 0.9% dropped total, 0.6% due to `ChannelAccessFailure`
- `545ccd8dc8aeb360449cde43349f7ec633aa50e7`: 3.5% dropped total, 2.2% due to `ChannelAccessFailure`
- `545ccd8dc8aeb360449cde43349f7ec633aa50e7` with the workaround: 0.3% dropped total, 0.06%

[2018-12-24 10:32] kpyush opened #3400 "Ideal Poll period for SED"
What would be the ideal poll period for the SED sending data every :
- 30 seconds
- 60 seconds
When I am increasing poll period from more than 2 seconds then SED number of reattach to parent increases and eventually average current increases.

[2018-12-24 23:02] jwhui commented on #3400
@kpyush, are you using the [otThreadSetChildTimeout()](https://openthread.io/reference/group/api-thread-general#group__api-thread-general_1ga69319b9636a7f9b878fe663f64b0d835) API to change the parent's timeout value?

[2018-12-25 03:15] kpyush commented on #3400
Yes I am using otThreadSetChildTimeout() API and current Timeout is 10 seconds. Is child timeout is causing the reattach?

[2018-12-28 06:53] jwhui commented on #3400
As long as poll period is less than the child timeout, the SED should reliably maintain connection with its parent.

Can you provide more details on your setup? Including hardware platform, git commit id, build configuration, etc.

Also, can you enable logging and provide logs to help diagnose?

[2018-12-31 06:34] kpyush commented on #3400
@jwhui problem has been resolved after increasing the child timeout > poll-period.

thanks

[2018-12-31 06:34] #3400 closed

[2019-01-03 11:29] gjc13 opened #3427 "Radio only not working for nrf52840"
**Describe the bug**
Radio only not working for nrf52840
**To Reproduce**
git commit id
1. git commit id e14d763e2ec301a509fa757890819a8a05e0eeb1
2. nrf52840 dev kit
3. Build radio only ot_cli and nrf52840 ot_ncp_radio and ot_cli_ftd
4. Flash one nrf52840 dev kit with ot_cli_ftd, another with ot_ncp_radio.
5. Run
[code]
5. In both cli, type in
[code]
Both nodes become leader.
**Expected behavior**

[2019-01-03 13:16] bukepo commented on #3427
It seems the MSD is not disabled. Try disabling as https://github.com/openthread/openthread/blob/master/src/posix/README.md#nrf52840

[2019-01-03 19:09] #3087 closed

[2019-01-04 02:12] #3427 closed

[2019-01-04 16:46] jwhui commented on #3363
Resolved by #3432.

[2019-01-04 16:46] #3363 closed

[2019-01-08 18:51] kwangeom opened #3442 "DHCPv6 Client ID is carrying extended address instead of EUI64"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Information to reproduce the behavior, including:
1. Git commit id
2. IEEE 802.15.4 hardware platform
3. Build steps
4. Network topology

**Expected behavior**
A clear and concise description of what you expected to happen.

**Console/log output**
If applicable, add console/log output to help explain your pr

[2019-01-08 18:56] kwangeom commented on #3442
I wanted dnsmasq from BBB to allocate fixed IPv6 address to the device based on EUI64 of the client device. But the client solict message is carrying extended address even though its duid hw type set to eui64 like below. And this extended address looks like randomly generated whenever reboot. Is there any reason to use extended address instead of eui64 here? If this is a bug, could you fix it?

ot

[2019-01-08 21:12] jwhui commented on #3442
@kwangeom, thanks for raising this issue! I just submitted #3443 to resolve this issue. Please review.

[2019-01-17 11:02] LuDuda commented on #3271
Discussed F2F. The DFU Trigger support in nrfutil will be available within 4-6 weeks.

Until it happens [nrf-device-setup-js](https://github.com/NordicSemiconductor/nrf-device-setup-js) component can be used instead.

Below instruction for the attached script ([dfu-trigger.zip](https://github.com/openthread/openthread/files/2768240/dfu-trigger.zip)):

Prerequisite:
nodejs + npm installed (node 8.x

[2019-01-17 11:03] jwhui commented on #3271
@LuDuda, thanks!

[2019-01-17 11:03] #3271 closed

[2019-01-17 11:05] jwhui commented on #1938
No plan to implement. Closing.

[2019-01-17 11:05] #1938 closed

[2019-01-17 11:07] jwhui commented on #3325
@twinklekumarp, any updates?

[2019-01-17 11:07] jwhui commented on #3079
@Craigzyc, any updates?

[2019-01-22 14:33] PTS93 commented on #1803
@Humancell Will that be specific to the KW41Z or is it abstracted to work with all openthread supported plattforms that also support Arduino? The nRF52840 and SAMR21 comes to mind.

[2019-02-01 05:20] jwhui commented on #3325
Closing stale issue.

[2019-02-01 05:20] #3325 closed

[2019-02-01 05:20] jwhui commented on #3079
Closing stale issue.

[2019-02-01 05:20] #3079 closed

[2019-02-06 15:33] vervaekejonathan commented on #3255
I have the same question

[2019-02-06 18:26] jwhui commented on #3255
See: https://groups.google.com/d/msg/openweave-users/vHuFq9DhP9Y/WaPdssBpEQAJ

[2019-02-06 18:26] #3255 closed

[2019-02-07 12:28] josephn123 opened #3564 "Parent RSSI values don't update"
**Describe the bug**

Platform efr32. Build commit `f31f8c1f3c786a2465000e0ae18b85238618475f`, (latest, 6th Feb).

Parent RSSI value doesn't update, but corresponding entry in the neighbour table does. It seems the parent RSSI value is the value taken at the point or near the point of attaching to the parent, but not updated periodically afterwards.

**Steps to Reproduce**

- Attach two devices
-

[2019-02-07 13:10] josephn123 opened #3565 "[efr32] otPlatRadioGetRssi() is blocking"
**Describe the bug**
`otPlatRadioGetRssi()` is a blocking API call on the efr32. Should we not avoid blocking the main execution context?

If `otPlatRadioEnergyScan()` was implemented (it's essentially an asynchronous equivalent of `otPlatRadioGetRssi()`), would `otPlatRadioGetRssi()` even be needed?

[2019-02-07 16:50] jwhui commented on #3564
@josephn123, I presume this device is a router-capable device. If so, this is expected behavior for the current implementation.

After attaching as a child, the device will eventually transition to a router role. In doing so, the device no longer maintains its parent information (a router has no parent), but instead maintains neighbor tables (the combination of neighboring routers and children).

[2019-02-07 17:08] jwhui commented on #3565
@josephn123, `otPlatRadioGetRssi()` is generally only used to perform energy scans. Implementing `otPlatRadioEnergyScan()` should avoid the use of `otPlatRadioGetRssi()` when performing energy scans. However, the optional jam detector component currently also uses `otPlatRadioGetRssi()`. If you don't use the jam detector, then no need to worry about it.

Specifically for `otPlatRadioGetRssi(), ide

[2019-02-07 17:12] josephn123 commented on #3565
As an improvement, is there any reason that the jam detector couldn't be refactored to use `otPlatRadioEnergyScan()` instead?

[2019-02-07 17:13] josephn123 commented on #3564
Yes, makes sense, thank you

[2019-02-07 17:13] #3564 closed

[2019-02-07 19:09] jwhui commented on #3565
@abtink, thoughts?

[2019-02-07 19:48] abtink commented on #3565
Jam detector module uses the MAC layer `EnergyScan()` API with `scan_duration` set to zero.
What we expect from "zero-duration" scan is to take a single RSSI sample per channel in the scan mask.
This is currently implemented in `Mac` using the `otPlatRadioGetRssi()` radio API.

Main reason for this is that to ensure the jam-detection sampling is done quickly and radio is not blocked for other oper

[2019-02-11 11:11] rlubos opened #3578 "[mbedtls] Allow to disable global mbedTLS configuration"
Hello,

I'm working on improving the integration of OpenThread and Zephyr OS, focusing on mbedTLS currently. Current situation is, that OpenThread brings it's own copy of mbedTLS library with it's own OpenThread specific config file. My target is to use Zephyr's instance of mbedTLS, which is highly configurable, and which could be shared by OpenThread and application. With this approach, we could

[2019-02-11 11:14] rlubos commented on #3578
While creating the issue I found out that surprisingly  there's already PR #3575 opened, that in some extent covers the issues I'm facing (heap). There's still a problem with mbedTLS debug log level override, hence I've decided to leave the issue open for possible discussion.

[2019-02-11 17:36] Nopik opened #3582 "[ncp] unable to communicate with NCP over ALOC"
So, this case is pretty convoluted and involves some non-trivial use cases. I'll try to make it clear:

a) in our software we do use Service ALOC to talk from any node within mesh to nearest Border Router. BR is then passing such request, e.g. through MQTT to some external service (in reality that is much more complex, but the minimal case is as described here)

b) we do want 2-way coap communicat

[2019-02-12 17:32] jwhui commented on #3582
@Nopik, thanks for raising this issue!

You are running into the unfortunate uses of RLOC and ALOC to address services that are implemented on both the NCP and host. The fix you proposed in #3585 makes a lot of sense, since I expect Service ALOC endpoints to be implemented on the host.

Longer term, you may want to consider migrating to an architecture where OpenThread core is running on the host

[2019-02-13 08:53] Nopik commented on #3582
Great, thanks for clarification. We will investigate the host UDP approach (`ot-ncp-radio` version, right?), as it indeed seems very promising.

[2019-02-13 22:35] #3582 closed

[2019-02-14 08:08] rlubos commented on #3578
Closing as this got covered by #3575

[2019-02-14 08:08] #3578 closed

[2019-02-17 00:56] testter2 opened #3599 "how to send and receive ipv6 packet throw thread protocol with nrf52840"
I'm working on a project with nrf52840 and i'm trying to send and receive ipv6 packet throw thread protocol so i tried to use to send with otIp6Send and receive with otIp6SetReceiveCallback but code doesn't see the function that i pass to otIp6SetReceiveCallback so i don't can't receive from transmitter.

i also tried to handle testing example(packet_error_rate) in nRF5SDKforThreadv 0.11 sdk which

[2019-02-18 04:10] testter2 opened #3600 "otIp6Send doesn't work"
i'm trying to send ipv6 packet over thread with function otIp6Send.
but otIp6Send doesn't work and return '6' which means  "Failed to parse message or arguments." as openthread errors says.
i don't know why !!

i'm using nrf52840.
this's part of my code

static void ip_packet_transmit(void)
{
      uint8_t err;
      uint8_t* header5;
      header5= (uint8_t*)contructip6add(source_addr,des_addr,4)

[2019-02-18 04:30] jwhui commented on #3600
`OT_ERROR_PARSE` typically indicates that the IPv6 headers are not formatted properly.

Note that IPv6 uses big-endian byte ordering. However, your code does not seem to format the IPv6 header using big-endian byte ordering. Typically, you should use something like [`htons()`](https://linux.die.net/man/3/htons). You could also take a look at [src/core/net/ip6.hpp](https://github.com/openthread/ope

[2019-02-18 04:34] jwhui commented on #3599
Can you clarify what you mean by: "code doesn't see the function that i pass to otIp6SetReceiveCallback"?

[2019-02-18 05:27] testter2 commented on #3600
now using htonl
[code]

i have another problem as otIp6Send returns 2 which means "message was dropped." as openthread errors says.

[2019-02-18 18:15] testter2 commented on #3600
the problem was that header constructed in wrong way.

but now after editing the code
    header[0]=lwip_htonl((((uint32_t)ver)<<28)|(((uint32_t)TRAFFIC_CLASS)<<20)|FLOW_LABEL);
    header[1]=lwip_htonl((((uint32_t)pay_len)<<16)|(((uint32_t)NEXT_HEADER)<<8)|HOP_LIMIT);
    header[2]=(src[0]);
    header[3]=(src[1]);
    header[4]=(src[2]);
    header[5]=(src[3]);
    header[6]=(dest[0]);
    heade

[2019-02-19 15:18] testter2 commented on #3599
i'm working on thread_simple_coap example from nordic with some changes
in server side : we added case for button 2 to set new receiving callback function when receiving  an ipv6 packet. and at this function we print received packet.
in client side : we added case for button 2 to send ipv6 with otIp6Send function after we getting addresses from provisioning_response_handler function and construct

[2019-02-19 18:28] jwhui commented on #3600
Can you provide a hex dump of the IPv6 packet that you are trying to send as well as the coap message that is working for you?

[2019-02-19 22:04] jwhui commented on #760
Closing stale issue. We can re-open if there is renewed interest.

[2019-02-19 22:04] #760 closed

[2019-02-21 17:16] josephn123 opened #3615 "[efr32] cannot compile with log output OPENTHREAD_CONFIG_LOG_OUTPUT_APP"
**Describe the bug**
Set log output `OPENTHREAD_CONFIG_LOG_OUTPUT` to `OPENTHREAD_CONFIG_LOG_OUTPUT_APP`

**Console/log output**
Linker fails due to missing `efr32LogInit()`.

**Additional context**
This is because of the following in `examples/platforms/efr32/logging.c`:
[code]
The call to `efr32LogInit()` in `system.c` should not be made if the above is not true (so additional preprocessor check

[2019-02-21 17:57] jwhui commented on #3615
@josephn123, thanks for raising this issue! I agree with the proposed resolution. Would you like to submit a PR?

[2019-02-21 18:14] josephn123 commented on #3615
Will do, please assign to me

[2019-02-22 20:08] kwangeom opened #3619 "Steering Data is wrong"
**Describe the bug**
I tested with two devices to join a thread network.
First device was successful in commissioning and then tried commissioning for the second device.
But it does not start DTLS session because of wrong "Steering Data" from "Discovery Response".
From the below log captures, when second device tries commissioning, the steering data sent from NCP looks for the first device.

This

[2019-02-22 20:12] jwhui commented on #3619
@kwangeom, thanks for raising this issue. Can you provide more detail on the exact commands you used to reproduce the behavior? For example, the `wpanctl` commands on the border router and `cli` commands on the joiner, and their order?

[2019-02-22 21:32] kwangeom commented on #3619
from BBB side, I ran for the 2 devices,
root@beaglebone:/home/debian/borderrouter/tests/meshcop#  ./otbr-commissioner --                                                      network-name OpenThreadEom --xpanid 1111111122222222 --agent-passphrase 123456 -                                                      -joiner-eui64 00124b0014f41d01 --joiner-passphrase DRRLCK1 --agent-addr 192.168.

[2019-02-22 21:57] jwhui commented on #3619
Can you also increase the debug level (using the `-d` option) and capture the log output for the commissioner?

[2019-02-22 22:15] jwhui commented on #3326
@swordinrock123, submitted #3620 to address this issue.

[2019-02-22 23:32] jwhui commented on #3619
@kwangeom, after looking at this a bit, it appears that `otbr-commissioner` is not able to establish a DTLS session with the border agent until the previous session has timed out (~50 seconds).

@bukepo @gjc13, can you help take a look?

[2019-02-23 03:20] testter2 commented on #3600
this's the main of client example
[code]

[2019-02-23 05:52] jwhui commented on #3600
Are you sure you have the IPv6 address correct? What you show above is:
[code]
On a little-endian machine, that translates to: `fdde:ad00:e2fb:0e00:0000:00ff:fec0:0f00`, which does not appear valid.

As I requested in a previous comment, can you provide a hex dump of the IPv6 packet that you are trying to send as well as the coap message that is working for you? From that, it should be pretty easy

[2019-02-23 05:54] jwhui commented on #3599
I believe this is due to your IPv6 packet not being formatted properly at the sender, as mentioned in #3600.

[2019-02-23 05:59] testter2 commented on #3600
this the address i'm using now
    header[2]=(0xADDEFD);
    header[3]=(0xEFBE);
    header[4]=(0xFF000000);
    header[5]=(0x6400FE);

and that's the addresses i'm getting from ipaddr command
fdde:ad00:beef:0:0:ff:fe00:fc00
fdde:ad00:beef:0:0:ff:fe00:6400 (i'm using that address)
fe80:0:0:0:e036:1ed7:3316:76dd
fdde:ad00:beef:0:660b:9537:5373:7a2e

[2019-02-23 06:04] testter2 commented on #3599
this the address i'm using now
header[2]=(0xADDEFD);
header[3]=(0xEFBE);
header[4]=(0xFF000000);
header[5]=(0x6400FE);

and that's the addresses i'm getting from ipaddr command
fdde:ad00:beef:0:0:ff:fe00:fc00
fdde:ad00:beef:0:0:ff:fe00:6400 (i'm using that address)
fe80:0:0:0:e036:1ed7:3316:76dd
fdde:ad00:beef:0:660b:9537:5373:7a2e

[2019-02-23 06:14] testter2 commented on #3599
this's the packet i'm trying to send
start of header as : version,traffic class,flow label,payload length,next header,hop limit
source address : fdde:ad00:beef:0:0:ff:fe00:6400
destination address : FF030000 : : 1
data : aData [20]={1,0,2,3,1,0,2,3,1,0,2,3,1,0,2,3,1,0,2,3};

[2019-02-23 06:22] jwhui commented on #3600
It also appears that you are trying to send the messages with link security disabled. Thread requires all data packets (with the exception of commissioning-related ones) to be communicated with link security enabled.

Try changing the second argument to `otIp6NewMessage()` to `true`. For example:
[code]

[2019-02-25 17:26] #3326 closed

[2019-02-25 17:27] #3615 closed

[2019-02-26 05:05] testter2 commented on #3600
thank you now i can send and receive data but just one last thing ,when i receive data,i find byte number 5 always = 0 and byte number 6 = payload length .
is that normal ? is there a minimum payload length that i shouldn't use less than that minimum or not ?

[2019-02-26 05:10] jwhui commented on #3600
[RFC 8200 Section 3](https://tools.ietf.org/html/rfc8200#section-3) specifies the IPv6 Header format. The Payload Length occupies octets 5 and 6 and the field is big-endian. As a result, the Payload Length must be >= 256 before you will see octet 5 as non-zero.

[2019-02-26 05:37] testter2 commented on #3600
i'm not talking about payload length field in the header but the data after source and destination.
i find in data field that byte number 5 always = 0 and byte number 6 = payload length .

[2019-02-26 05:56] jwhui commented on #3600
Your code sets the IPv6 Next Header field to 17 (i.e. UDP).

[RFC 768](https://tools.ietf.org/html/rfc768) specifies the UDP Header format. The UDP Length occupies octets 5 and 6 and the field is big-endian. As a result, the Payload Length must be >= 256 before you will see octet 5 as non-zero.

[2019-02-27 20:13] jwhui opened #3635 "[travis] posix-app-ncp test fails frequently"
@bukepo, any thoughts?

[2019-02-27 23:06] bukepo commented on #3635
Yes, this requires a more complicated implementation to ensure the synchronization of all components(`ot-ncp-radio`, `ot-ncp-?td`, `pyspinel-cli.py` and `node_cli.py`). I will look into this ASAP.

[2019-03-01 14:00] ntavish opened #3641 "SPI doesn't seem to be working with OTBR image"
**Description**
Ive connected an nrf52840 board, with the NCP firmware compiled with SPI as the transport, on the correct pins for both nrf52840, and rpi3. I also had to slow the clock of the raspberrypi to for my saleae to capture the data.

![screenshot from 2019-03-01 19-11-42](https://user-images.githubusercontent.com/499791/53641743-e433d680-3c55-11e9-988b-c087ccd748d6.png)

**To Reproduce**

[2019-03-01 14:02] ntavish commented on #3641
Attaching Saleae logic analyzer exported file also.

https://drive.google.com/file/d/1hNA-SW0ZhLQYMxe7AuXh3eHYGlvkfiWK/view?usp=sharing

[2019-03-01 20:11] LuDuda commented on #3641
Hello @ntavish
At first glance, it seems that you have an incorrect [path](https://github.com/openthread/borderrouter/blob/82d4682d7e080437eaaa94c7f6951e75c0681caa/script/docker_entrypoint.sh#L87) to NCP device in `wpantund.conf` file.

As [README.md](https://github.com/openthread/openthread/tree/master/examples/platforms/nrf52840) states, the correct value of `Config:NCP:SocketPath` variable for

[2019-03-02 05:58] ntavish commented on #3641
Hi @LuDuda, thanks for the response, that solved the problem for me, not sure how I missed that!

Though one problem still persists for me, half the times wpantund fails to initialize, and sometimes when it does, it fails:

[code]
It might be because the clock speed for SPI is too high, it seems to be 125MHz in the raspian image I'm using:

[code]

The workaround for me has been to reduce default

[2019-03-03 13:58] dismirlian opened #3642 "Questions about the EFR32 radio driver"
Hi all, I have some questions about the EFR32 radio driver. I have been analyzing the code while waiting for some test hardware to arrive, so these are just questions, not confirmed bugs. In any case, some of the code looks suspicious. Sorry if some of these are dumb comments or questions.

1. According to the IEEE802.15.4 spec, the ACK timeouts are:
   * macAckWaitDuration = aUnitBackoffPeriod +

[2019-03-04 20:35] jwhui commented on #3599
Duplicate of #3600.

[2019-03-04 20:35] #3599 closed

[2019-03-04 20:35] #3600 closed

[2019-03-05 06:02] LuDuda commented on #3641
Hmm, I'm not familiar with such issue. @pszkotak any thoughts?

[2019-03-05 08:40] pszkotak commented on #3641
@LuDuda this is a different case than ours. Let me explain.

@ntavish does not run the OTBR image that is provided with nRF5 SDK for Thread and Zigbee, but some other distribution with docker. The image that we do test and share to public is based on raspbian and native wpantund. The SPI clock is set to 1MHz.

I propose to update the configuration/documentation for the SPI to:

- for NCP:
`Config:

[2019-03-05 08:55] ntavish commented on #3641
@pszkotak I'm running Raspbian too, Raspbian 9.8 stretch

[code]

Default clock on this seems to be 125MHz on this. I don't think I might have changed this, just enabled SPI (using raspi-config) and checked the clock speed. I checked it on another pi with release 9.6, clock seems to be 125MHz on that also.

[code]

[2019-03-05 09:01] pszkotak commented on #3641
@ntavish Thank you for a quick response.
I will check our build settings then, maybe we have some old code everyone forgot about that sets this ;).

Could you check if the configuration I posted (`Config:NCP:SocketPath "system:/usr/bin/spi-hdlc-adapter --gpio-int /sys/class/gpio/gpio25 --spi-speed 1000000 /dev/spidev0.1"`) can be applied to your wpantund.conf in the docker environement? It should

[2019-03-05 10:44] ntavish commented on #3641
That doesn't seem to be working for me. `wpantund` fails to initialize. Lower clocks are working though, tested with 700KHz and 500KHz.

    "system:/usr/bin/spi-hdlc-adapter --gpio-int /sys/class/gpio/gpio25 --spi-speed 500000 /dev/spidev0.1"

[2019-03-06 03:06] bukepo opened #3647 "[posix-app] enhance reset implementation"
**Is your feature request related to a problem? Please describe.**
posix/posix-app reset implementation.

**Describe the solution you'd like**
Move call to `otTaskletsProcess()` from main into `otSysMainloopProcess()`, ensure there's no business processing in `otSysMainloopUpdate()` and `otSysMainloopPoll()`, so that we can move `gResetJump` as an internal variable fully owned by platform. This ma

[2019-03-06 03:13] bukepo opened #3648 "[posix-app] Unify posix-app API prefix"
**Is your feature request related to a problem? Please describe.**
platform specific API prefix.

**Describe the solution you'd like**
A specific prefix for platform provided APIs. This helps caller tell what APIs are designed to be public and whether they are platform agnostic. Take posix-app platform as example, add `otPosix` to APIs for main.c

**Describe alternatives you've considered**
None.

[2019-03-06 03:18] bukepo opened #3649 "[posix-app] dynamic radio log level support"
**Is your feature request related to a problem? Please describe.**
logging

**Describe the solution you'd like**
add an argument to posix-app to support setting logging level of radio chip.

**Describe alternatives you've considered**
also provide a platform-specific API to set this dynamically.

**Additional context**
It's helpful when debugging.

[2019-03-06 06:11] tarakanov opened #3650 "RFC7252 features (CoAP Service Discovery, Multicast All CoAP Nodes)"
I cannot find answer anywhere else, so put it here.
I want to use RFC7252 features - service (Seciton 7) and multicast for "All CoAP nodes" (FF0x::FD, Section 12.8), to imlement M2M scenario. As I look through the OT code, I cannot find this implementation.
Are this coap-features implemented? Maybe OT has alternative for that purpose (to multicast all OT or CoAP nodes and discover their resources)

[2019-03-06 06:29] jwhui commented on #3650
OpenThread does not, by default, subscribe to the All CoAP Nodes address. Take a look at the [otIp6SubscribeMulticastAddress()](https://openthread.io/reference/group/api-ip6#otip6subscribemulticastaddress) API for subscribing to arbitrary IPv6 multicast addresses.

[2019-03-06 07:33] testter2 commented on #3600
thanks for your time and effort.
it works now as i sets ipv6 next header to 0x59. i don't know if it should be 59 or 0x59 as 59 means next header is null and that what i need but it doesn't send if i set it to 59

[2019-03-06 10:48] josephn123 opened #3651 "[ncp] add service spinel bindings"
I will begin working on this. Please assign to me.

Firstly, a couple of questions:

- The most suitable Spinel property? `SPINEL_PROP_THREAD_SERVICE = SPINEL_PROP_THREAD__BEGIN + 15`?
- Should adding/removing a property over spinel trigger `otServerRegister()` or should this be done separately (like the CLI)?
- We want the ability to add, remove, list all services & list all leader services?

[2019-03-06 12:34] josephn123 commented on #3651
With reference to the above, I have decided to go with adding a new group of spinel properties

[code]

[2019-03-07 05:19] tarakanov commented on #3650
Ok, otIp6SubscribeMulticastAddress()  is more general approach, I will try it.
And what about CoAP Service Discovery feature? Is it out of scope of current OT? Maybe OT has similar mechanism to discover node resources?
And one more great CoAP feature is observe mechainsm (rfc7641). Does OT has something similar?

[2019-03-07 05:58] jwhui commented on #3650
OpenThread does not currently implement CoAP Observe or Service Discovery. Possible options to implement them are:
1. Implement the feature directly in OpenThread core,
1. Implement the feature directly in your application using the [otCoapSetDefaultHandler()](https://openthread.io/reference/group/api-coap#otcoapsetdefaulthandler) API,
1. Use a third-party CoAP library on top of OpenThread.

[2019-03-07 06:08] tarakanov commented on #3650
Got it. Thank you

[2019-03-07 06:09] #3650 closed

[2019-03-07 19:10] Nopik commented on #3651
@josephn123 can you outline a bit how you're going to implement this, please?

Generally it should be possible to register a number of services, providing:
a) enterprise number
b) service data (sequence of bytes)
c) server data (sequence of bytes)
d) stable flag
for each service.

Theoretically it should be possible to register a number of servers (multiple server data) for single service, though

[2019-03-07 19:11] Nopik commented on #3651
And - it should be possible to read:
a) whether service is successfully registered or not (i.e. confirmed by leader)
b) what aloc was assigned

The above can be read from network data, though it would be nice to not force user to parse it manually.

[2019-03-08 05:37] bukepo opened #3656 "[nrf52840] otPlatRadioDisable() doesn't disable radio"
**Describe the bug**
From code, disabling nrf52840 doesn't really change the radio state in nordic SDK. If the radio state is in RECEIVE mode, otPlatRadioDisable() may still ACK packets.

[2019-03-08 11:30] LuDuda commented on #3656
Thanks, @bukepo for reporting this.

According to the [documentation](https://github.com/openthread/openthread/blob/master/include/openthread/platform/radio.h#L215), OT should always call `otPlatRadioSleep()` before invoking `otPlatRadioDisable()`. For complete radio shutdown you can use `nrf5RadioDeinit()` function.

Do you think this behaviour should be modified (as well as OpenThread documentat

[2019-03-08 11:53] bukepo commented on #3656
Yes. Shall we add asserts to prevent illegal usage?

[2019-03-08 14:22] josephn123 commented on #3651
@nopik I've edited the above comment with updated spinel props and documentation.

Essentially these just call the `otServer*` APIs listed in `server_api.cpp`

[2019-03-08 15:15] LuDuda commented on #3656
Can you clarify your reply (I see two contradicted sentences :smile:)?

My understanding is that `otPlatRadioDisable` behaves correctly (according to the documentation). Do you think about adding assert in the platform code or OT?

[2019-03-09 13:08] bukepo commented on #3656
Yes, I think we should add assert in platform code to prevent we use it in wrong way.

[2019-03-09 13:39] LuDuda commented on #3656
Thanks, I will look at it and propose PR.

[2019-03-12 01:21] bukepo opened #3668 "[udp] shall we return invalid arguments on port mismatch?"
**Is your feature request related to a problem? Please describe.**
Source port is set to the socket's bound port directly without checking the desired port in aMessageInfo in https://github.com/openthread/openthread/blob/master/src/core/net/udp6.cpp#L186.

**Describe the solution you'd like**
Return OT_ERROR_INVALID_ARGS if aMessageInfo.mSockPort is non-zero and different from the socket's bound p

[2019-03-12 03:40] bukepo opened #3669 "[cert-test] missing 5.7.3 CoAP Diagnostic Query Commands Router and FED Router"
This could also help improve code coverage since most code of network diagnostic are not covered yet.

[2019-03-12 03:49] jwhui commented on #3668
I believe the current OpenThread behavior is consistent with [RFC 3542 Section 6.2](https://tools.ietf.org/html/rfc3542#section-6.2):
[code]

[2019-03-12 04:10] bukepo commented on #3668
Thanks for sharing this. I'm not sure if I understood the line right.

   address for this output operation only

Our implementation seems did the reverse override. Does it means we should only call the following when messageInfoLocal is `0`?
[code]

[2019-03-12 04:24] jwhui commented on #3668
Oh yes, somehow I thought this was about IPv6 Source Address rather than UDP Source Port.

RFC 3542 doesn't cover UDP ports and I'm not aware of any existing precedent. I'm fine with returning error if the socket is bound, the source port is non-zero, and the socket name port differs.

[2019-03-12 04:26] jwhui commented on #3635
It appears Cert_7_1_03 is the one that fails most frequently and fails because the SED does not autoconfigure IPv6 addresses with the on-mesh prefix.

[2019-03-12 05:17] bukepo opened #3670 "[posix-app] should reset radio when exit"
**Is your feature request related to a problem? Please describe.**
The radio continues ACK packets after OpenThread core exits.

**Describe the solution you'd like**
Turn off radio before posix-app exits.

**Describe alternatives you've considered**
Just send a reset to cause radio resets.

**Additional context**
None

[2019-03-12 07:23] bukepo opened #3676 "[code-style] unify shell scripts style"
**Is your feature request related to a problem? Please describe.**
Styles of shell scripts differs.

**Describe the solution you'd like**
Use [google's shell style guide](https://google.github.io/styleguide/shell.xml).

**Describe alternatives you've considered**
None.

**Additional context**
I found the style guide is very helpful to write robust and easy understanding scripts.

[2019-03-12 08:26] bukepo opened #3678 "[udp] provide method to check if the socket is bound"
**Is your feature request related to a problem? Please describe.**
no method to check if a socket is bound or not.

**Describe the solution you'd like**
provide an inline method to check if the socket's sock port is 0.

**Describe alternatives you've considered**
None.

**Additional context**
Also update the code where it is current used, such as https://github.com/openthread/openthread/blob/maste

[2019-03-12 08:41] bukepo opened #3679 "[platform-netif] allow setting interface name from command line"
**Is your feature request related to a problem? Please describe.**
now the interface name of platform-netif is generated from kernel. sometimes we need give the interface a name.

**Describe the solution you'd like**
add a command line option to accept the desired interface name and exit with error if unable to use that name.

**Describe alternatives you've considered**
None.

**Additional context

[2019-03-12 12:10] bukepo commented on #3635
Maybe should temporarily disable the test case. I don't have time to fix it for now.

[2019-03-12 13:14] bukepo opened #3681 "[nrf52840] unable to use USB=1 ot-ncp-radio"
**Describe the bug**
/dev/ttyACM0 not found with USB=1 ot-ncp-radio.

**To Reproduce**
Information to reproduce the behavior, including:
1. dd69fabd2d42f51a05f2f752d0ff07566c327c68
2. nRF52840-dk
3. make -f examples/Makefile-nrf52840 USB=1
4. None

**Expected behavior**
/dev/ttyACM0 present just like the ot-ncp-ftd mode

**Console/log output**
[code]

**Additional context**
CDC is connected to ras

[2019-03-12 13:18] #3641 closed

[2019-03-12 14:54] bukepo commented on #3681
Any idea for this issue?

[2019-03-12 15:35] jwhui commented on #3635
Just submitted #3683 to temporarily remove posix-app-ncp test.

[2019-03-12 17:38] LuDuda commented on #3635
@bukepo from your first answer I see that you are aware of the root cause of this problem. Can you elaborate more on that? Is that issue only related to virtual time, or fundamentally RCP architecture is not stable?

[2019-03-12 18:56] LuDuda commented on #3681
@bukepo thank you for raising this issue.

We do have on hardware CI tests triggered on OT commit, where we perform smoke tests i.e. of RCP with USB, however on Linux PC instead of Raspberry Pi that pass. I've just verified that on my PC it also works as expected. We will, of course, check it on Rasberry Pi, however, the fact that normal NCP image works as expected is very strange (the USB port is

[2019-03-12 22:50] bukepo commented on #3635
Yes, the root cause was that when Travis is busy, the process scheduler may not schedule running order of processes of ot-ncp-radio, ot-ncp, pyspinel-cli and virtual time simulator as we expect. I added more virtual events to guarantee the order. However, I happened to think the order is not guaranteed in real situations, so I didn't submit the complicated version. I will look into this issue when

[2019-03-13 03:25] bukepo commented on #3681
@LuDuda I'm using nRF52840-DK(0.9.2) and Raspberry Pi(3B+). And I found USB=1 cannot work on latest master. The working commit is 84a2706393e083508d591492b734d1f589f29ecc. With this version, both `ot-ncp-radio` and `ot-ncp-ftd` works.

[2019-03-13 03:30] bukepo commented on #3681
@LuDuda changing USB_HOST_UART_CONFIG_DELAY_MS doesn't help.

[2019-03-13 06:15] LuDuda commented on #3681
@kasroka can you look at it?

[2019-03-13 10:08] ozanoner opened #3684 "[coap] otCoapMessage type not defined"
There is a type named otCoapMessage, but I couldn't find its definition. I appreciate if you can help me with it.
https://github.com/openthread/openthread/blob/master/src/cli/cli_coap_secure.cpp#L589

[2019-03-13 10:11] KaSroka commented on #3681
@LuDuda Sure.

[2019-03-13 12:25] KaSroka commented on #3681
@bukepo Ok, so the issue is probably due to board revision - you are using 0.9.2 which have some USB issues. Can you try with 0.11.0 or newer?

[2019-03-13 13:26] bukepo commented on #3681
No, I only have this version. As I mentioned, if I flash an older version, it works as expected. I think there is bug in the code. Besides, it cannot be enumerated on my macOS either. We have a many 0.9.2 version boards. Could you please provide a fix?

[2019-03-13 14:07] bukepo commented on #3684
@ozanoner Thanks for reporting this. I think it's a typo, which should be `otMessage`. Would you like to submit a PR to fix it?

[2019-03-13 14:07] KaSroka commented on #3681
@bukepo After playing with `git bisect` I've found out that commit 203bce7 broke support for board revision 0.9.2. On 0.11.0 it is working perfectly fine. This commit changed nrf_drv_usbd to nrfx_usbd - they should work in same way. I'll keep you informed when I found out something.

[2019-03-13 14:57] jwhui commented on #3684
For clarity the `otCoapMessage` argument should be removed. The `otCoapRequestHandler` type changed as part of #3419.

[2019-03-13 22:27] bukepo commented on #3684
Thanks, and we should also enable this feature in our CI test.

[2019-03-13 22:28] bukepo commented on #3681
Thank you!

[2019-03-13 22:33] bukepo opened #3685 "[posix-app] auto start support with platform netif enabled"
Auto start is now implemented in ot instance init. Giving no chance init other components including platform netif. We should change the design, possibly trigger auto start in a tasklet.

[2019-03-14 09:24] KaSroka commented on #3681
All I know right now is that it affects all Engineering A chips (QIAAAA marking on chip).

[2019-03-18 14:02] tarunsmalviya commented on #3311
@LuDuda Can you share the complete format of command you mentioned. According to document, the commnd is `networkdiagnostic get <addr> <type>`. But what are values of <type> and what information does this command send.
Also, please share any document regarding the same.

[2019-03-19 02:35] bukepo commented on #3681
Any update for this?

[2019-03-19 07:39] tarunsmalviya commented on #3311
@jwhui `router table` command returns the list of router with details like rloc16, etc.

When running `networkdiagnostic get` command which address we have to pass as argument because I tried with passing rloc16, but got parse error.

Also, I am unable to fetch NCP data when I run `networkdiagnostic get` command by passing multicast address.

[2019-03-19 07:57] LuDuda commented on #3311
@tarunsmalviya as described in the [documentation](https://github.com/openthread/openthread/tree/master/src/cli#networkdiagnostic-get-addr-type-) you need to pass RLOC IPv6 address, which is constructed from Mesh Local Prefix and RLOC16 - `MeshLocalPrefix::ff:fe00:RLOC16` e.g. `networkdiagnostic get fdde:ad00:beef:0:0:ff:fe00:f400 0 1 6`

[2019-03-19 11:32] LuDuda commented on #3681
@bukepo this issue is currently handled internally by PM. For a quick fix we recommend to revert the commit: `git revert 203bce7ae79ac63652c27aa26b3d480cd9c19cc0`

[2019-03-19 11:33] yunhanw-google commented on #3681
Thanks

On Tue, Mar 19, 2019 at 4:32 AM Łukasz Duda <notifications@github.com>
wrote:

[2019-03-20 07:07] bukepo opened #3699 "[nRF52811] hang in radio mode"
**Describe the bug**
Either working with pyspinel as sniffer or posix-app as radio transceiver, it get stuck in several minutes.

**To Reproduce**
Information to reproduce the behavior, including:
1. OPENTHREAD/0.01.00; NRF52811; Mar  3 2019 14:55:49
2. nRF52811-DK
3. Build with USB=0 and baud rate=460800

**Expected behavior**
It should not stuck or hang.

**Console/log output**
None.

**Addition

[2019-03-20 10:18] #3668 closed

[2019-03-20 12:51] marvensilabs commented on #3642
Hi Diego,  I'll do my best to answer your questions below regarding the EFR32 target.  Some questions may be better answered by the OpenThread team.

Seems like a typo. For now, we would recommend changing to 864 until we have more clarification in our documentation and possibly a new number to recommend. The code looks like it could support sub-GHz but if so we are surprised the same value is use

[2019-03-20 17:21] dismirlian commented on #3642
Hi Marven, many thanks for your detailed answer.

Ok, so 894us should be changed to 864us. However, I think these values would be correct for 915MHz also, because the IEEE 802.15.4-2011 standard says:

A change would be necessary for the 868MHz band (which the code doesn't support yet).

Got it. So the code could be simplified.

Ok, so, if I understand correctly, you are saying that the multiproto

[2019-03-21 16:05] jwhui commented on #3642
@dismirlian, thanks for raising these questions. As always, contributions are always welcome!

Let me try to answer the ones that are independent of EFR32 and RAIL.

Yes, an `otPlatRadioReceive()` can abort an ongoing transmit operation. Note that waiting for an IEEE 802.15.4 ACK is part of the transmit state. If OpenThread is handling ACK timeouts, then it uses `otPlatRadioReceive()` to abort wai

[2019-03-21 17:30] josephn123 opened #3703 "[efr32] efr32 project doesn't build"
**Describe the bug**
Build issue, by default `OPENTHREAD_CONFIG_RADIO_915MHZ_OQPSK_SUPPORT` is not defined.

**To Reproduce**
Take latest commit `e3d0368070c67c21e998b54c95cbc3c26178a2e1`
[code]

**Console/log output**
Snippet of full output:
[code]

[2019-03-21 18:29] jwhui commented on #3703
@josephn123, thanks for raising this issue! I just submitted #3704. Please review.

[2019-03-21 22:52] dismirlian commented on #3642
Hi @jwhui, thanks for your answer. I'll be happy to contribute some improvements to the driver once I get the hardware to test the modifications (unfortunately, my boards are stuck in customs).

Ok, so, if I understand correctly, this is the only case in which a receive can abort a transmit:
https://github.com/openthread/openthread/blob/e02c9702694ba6a1f15f25d7c5f3a1a62619cf3d/src/core/mac/sub_mac

[2019-03-22 07:10] bukepo opened #3706 "Shall we refine returning type of otMessageRead()?"
**Is your feature request related to a problem? Please describe.**
`otMessageRead()` current returns `int`, which differs from the internal `Message::Read()` returning `uint16_t`.
 https://github.com/openthread/openthread/blob/master/include/openthread/message.h#L275
https://github.com/openthread/openthread/blob/master/src/core/common/message.hpp#L418

From the definition of `otMessageRead()`, it

[2019-03-22 07:18] jwhui commented on #3706
I agree on changing to return `uint16_t`.

[2019-03-22 11:01] LuDuda commented on #3699
Hello @bukepo,

You wrote:

Do you mean a different baud rate? Do you use DK with JLink?

Can you check if you forced HWFC and disabled MSD?
https://github.com/openthread/openthread/tree/master/examples/platforms/nrf52811#hardware-flow-control-detection

[2019-03-22 11:06] bukepo commented on #3699
@LuDuda sorry I had a typo. I meant another platform. I will try your suggestion, and will update you when I get some results.

[2019-03-22 11:18] LuDuda commented on #3699
@bukepo thanks for the update. My sniffer on RCP has been working for more than one hour now (in raw mode - not pcap mode). Can you please use GDB and send me the output whenever hang happens. Maybe we can figure out the problem if the board is in assert state.

[2019-03-22 15:11] #3703 closed

[2019-03-22 15:12] #3706 closed

[2019-03-22 23:00] jwhui commented on #3362
@jia200x, OpenThread's [multiple instance feature](https://github.com/openthread/openthread/blob/23ff1015d4f68b07c303ab35c9656f43642d2c1d/configure.ac#L386) allows external allocation of OpenThread instance memory. Does that satisfy your use case?

[2019-03-23 14:28] dismirlian opened #3711 "About Radio caps"
Hi all,

The following code says that `OT_RADIO_CAPS_TRANSMIT_RETRIES` implies `OT_RADIO_CAPS_CSMA_BACKOFF`:

https://github.com/openthread/openthread/blob/42c46368f191aae9637782943e72c52c4b11824b/src/core/mac/sub_mac.hpp#L434-L441

Shouldn't `OT_RADIO_CAPS_TRANSMIT_RETRIES` also imply `OT_RADIO_CAPS_ACK_TIMEOUT`, given that `OT_RADIO_CAPS_TRANSMIT_RETRIES` means that the radio performs the whole

[2019-03-23 15:01] jwhui commented on #3711
@dismirlian, yes `OT_RADIO_CAPS_TRANSMIT_RETRIES` implies `OT_RADIO_CAPS_ACK_TIMEOUT`. However, `OT_RADIO_CAPS_ACK_TIMEOUT` does not imply `OT_RADIO_CAPS_TRANSMIT_RETRIES`.

At the same time, it is valid for a radio to support `OT_RADIO_CAPS_CSMA_BACKOFF` but not `OT_RADIO_CAPS_CSMA_BACKOFF`.

[2019-03-25 15:35] #3678 closed

[2019-03-27 14:35] bukepo opened #3719 "[travis] Is it possible to use multiple jobs to run toranj tests?"
**Is your feature request related to a problem? Please describe.**
From `tests/toranj/start.sh`, tests are run one by one. This could use a lot of time. I hope we can use multiple jobs to run these tests.

**Describe the solution you'd like**
For each job, create a net namespace for it so that multiple wpantund can run on a single host. And we can try out how many number of jobs saves most time.

[2019-03-28 11:26] tarunsmalviya commented on #3311
@LuDuda How do we calculate connections between router using router table. According to me, links between router can be known using id and next hop field, but in output of router table command, invalid router id is there in next hop, i.e., 63. Does that mean something?

[2019-03-28 12:44] LuDuda commented on #3311
In the TMM i just query for `Route64 `which helps to determine Routers topology. You can also query for `Child Table` to see attached children.

[2019-03-28 13:59] tarunsmalviya commented on #3311
@LuDuda Thanks!
Can you please explain how to determine link between routers using Route64?

[2019-03-28 15:42] jwhui commented on #3711
@dismirlian, do you have further questions on this?

[2019-03-28 15:47] jwhui commented on #3311
@tarunsmalviya, see [Thread 1.1.1](https://www.threadgroup.org/support#specifications) Section 5.20.1 for the MLE Route64 TLV Format.

Note that this issue was previously closed. Feel free to submit a new issue for future questions so that we can track them better. Thanks.

[2019-03-28 17:03] dismirlian commented on #3711
Hi @jwhui, no, it's clear, thanks!

[2019-03-28 17:04] #3711 closed

[2019-03-29 22:56] emenezes commented on #3087
Hi @jwhui, I know that this issue is closed and about 4 months old but I have the same problem here. Since it ended up straying a bit from the original problem and @riedlse did not follow up on the resolution, I'm asking again.

[code]

I flashed the hex file using nrfconnect.

The really funny thing is that I can connect to the NCP using pyspinel and the command _state_ returns _leader_ as it sho

[2019-03-31 00:04] bukepo opened #3724 "[nrf52840] unable to build with DEBUG=1"
**Describe the bug**
unable to build with DEBUG=1

**To Reproduce**
Information to reproduce the behavior, including:
1. 19544490e37a88642f5e016388038a9ac9def174
2. nrf52840
3. make -f examples/Makefile-nrf52840 DEBUG=1

**Expected behavior**
build successful.

**Console/log output**
If applicable, add console/log output to help explain your problem.

                           nrf_strerror_get(p_

[2019-03-31 13:42] LuDuda commented on #3699
@bukepo Any update?

[2019-04-01 01:26] bukepo opened #3726 "[nrf52840] otPlatRadioTransmit() returns errors not defined in API"
**Describe the bug**
OpenThread only allows returning `OT_ERROR_INVALID_STATE`, but OT_ERROR_FAILED is returned.

https://github.com/openthread/openthread/blob/master/include/openthread/platform/radio.h#L516
https://github.com/openthread/openthread/blob/master/examples/platforms/nrf52840/radio.c#L352

[2019-04-01 16:06] #3724 closed

[2019-04-02 23:17] bukepo commented on #3726
Thoughts?

[2019-04-03 05:35] LuDuda commented on #3726
Hello @bukepo, sorry, we are busy with release this week, will start working on that next week. But because higher layer asserts on any error, we need to figure out how to handle error internally.

[2019-04-04 12:28] tarakanov opened #3734 "Cannot obtain on-mesh prefix (global) address"
I have wireless setup - otbr (raspberry pi + NCP)  and 10 wireless nodes (kw41z, ftd, freertos). Nodes join the OT-network and receive mesh-local prefix. The communication between nodes is OK (udp, coap) using mesh-local and link-local addresses. The communication between nodes and otbr host is also OK.

But I cannot communicate to the Internet. I found, that devices do not receive global prefix (

[2019-04-04 13:00] tarakanov commented on #3734
I manage to fix this by defining  `#define OPENTHREAD_CONFIG_ENABLE_SLAAC 1` which is `0` in default configuration.

[code]

[2019-04-04 13:00] #3734 closed

[2019-04-07 04:55] jwhui commented on #3684
Resolved by #3737.

[2019-04-07 04:55] #3684 closed

[2019-04-08 15:32] aymanelakhal opened #3743 "build and flash openThread on FRDM-KW41Z"
Hello,

I want to use the OpenThread stack on the FRDM-KW41Z, I started by building and generating the binary files, thereafter I flashed the binary file on FRDM-KW41z through (PE micro) Test Tool (nxp), when I want to connect to the bus uart (ttyACM0) to control the communication of Thread nothing happens as expected,
I did not make any changes or configuration on the git file of openthread, I do

[2019-04-08 15:40] aymanelakhal commented on #3743
Hello,

I want to use the OpenThread stack on the FRDM-KW41Z, I started by building and generating the binary files, thereafter I flashed the binary file on FRDM-KW41z through (PE micro) Test Tool (nxp), when I want to connect to the bus uart (ttyACM0) to control the communication of Thread nothing happens as expected,
I did not make any changes or configuration on the git file of openthread, I do

[2019-04-09 10:31] gjc13 opened #3744 "Add reset mechanism for radio-only transmit"
**Is your feature request related to a problem? Please describe.**
Current radio-only mode transmit will get stuck if the ack frame of transmit TID is accidentally corrupt.

**Describe the solution you'd like**
Add timeout for waiting radio transmit done state in radio-only driver. Upon timeout, reset the RCP.

**Describe alternatives you've considered**
None

**Additional context**
None

[2019-04-09 15:50] jwhui commented on #3743
@aymanelakhal, I just tested the FRDM-KW41Z's MSD Bootloader method and that worked.

1. Clone the latest OpenThread repo.

2. Build the kw41z example apps:
[code]

3. Convert elf to bin.
[code]

4. Connect the FRDM-KW41Z via USB, the FRDM-KW41Z should then appear as a drive on your computer.

5. Drag-and-drop the `ot-cli-ftd.bin` file into the drive. After copying, the drive should automatically

[2019-04-10 08:45] aymanelakhal commented on #3743
Hello @jwhui ,

Thanks for your feedback, I tested the drag-and-drop method and it worked, i don't know what was the problem, maybe the flash method through Test Tool,

Regards,

[2019-04-11 07:48] hjian2017 opened #3754 "[dtls] on-mesh commissioner collapses if multiple dtls handshake with joiners"
If you use a joiner to repeatedly handshake with the on-mesh commissioner, join the thread network. When such a process is executed more than 15 times, it will cause a memory problem with the on-mesh commissioner and collapse.

[2019-04-11 10:25] #3743 closed

[2019-04-11 11:53] emenezes opened #3755 "nrf52840-dongle's ot-ncp fails with uninitialized:fault"
Hi folks, I know that a related issue was closed a few months ago (https://github.com/openthread/openthread/issues/3087) but I have the same problem here. Since it ended up straying a bit from the original problem and issuer did not follow up on the resolution, I'm asking again.

[code]

I flashed the hex file using nrfconnect.

The really funny thing is that I can connect to the NCP using pyspine

[2019-04-11 20:21] jwhui commented on #3755
@emenezes, thanks for raising this issue. Unfortunately, I am not able to reproduce this issue.

@LuDuda, any thoughts?

[2019-04-12 02:44] emenezes commented on #3755
Thank you for the quick reply @jwhui.

Just to clarify, you reproduced the steps and it worked for you?

I have 2 dongles, tried on both of them in ubuntu 18.04 and RPi3 raspebian. I even tried the OTBR precompiled image, the webserver indicates wpantund disconnected.

[2019-04-12 10:04] LuDuda commented on #3755
Hello @emenezes

As @jwhui I am unable to reproduce this issue.

The one idea that I have in mind is to remove persistent storage from the device. Because it is a dongle with the built-in bootloader, we need to either connect external JLink programmer or simply erase OpenThread settings using `wpanctl`. Because the problem appears on the initialization phase in `wpantund`, can you try run `wpantun

[2019-04-12 10:13] LuDuda commented on #3681
@bukepo after discussing the topic with PM, nRF52840 Engineering A chip support is end of line. Nordic recommends to switch to nRF52840 rev. C or later (production chip). I will update the README.md of our platform to state this. I believe we can close the issue now.

[2019-04-12 15:02] emenezes commented on #3755
Thanks @LuDuda, although your suggestion did not work directly it was in the right path.

The commands  `sudo wpanctl leave` and `sudo wpanctl dataset erase` did not work. So I did the following:

1. updated Thread and Zigbee sdk
2. flashed the cli ftd example
3. connect to serial port and did a `factoryreset`
4. flashed the ncp ftd back

After that wpantund worked fine and I was able to follow th

[2019-04-13 20:59] LuDuda commented on #3755
That is great @emenezes! Although it would be even better to reveal the real root cause :smile:

One thing we know is that persistent storage region that includes OpenThread settings is not automatically erased (on PCA10059 dongles) because bootloader only writes to the places where the application resides. I will try to figure out a better way than manually use `factoryreset` command to erase it.

[2019-04-15 13:42] emenezes commented on #3755
@LuDuda I did not flash any other application, but since I have 2 dongles I mixed them pretty well. I'm certain that the one I used as ncp was flashed before with a cli hex and configured to work. The configuration there must be from that. Apart from it, I did not flash anything else.

Thanks for your help.

[2019-04-15 15:36] #3656 closed

[2019-04-16 15:22] #3726 closed

[2019-04-16 16:25] jwhui commented on #3362
@jia200x, any comments?

[2019-04-16 16:26] jwhui commented on #3565
@josephn123, any further comments?

[2019-04-16 17:53] theHurc opened #3765 "Commissioner add-joiner command fails with too many arguments on BeagleBone"
I have built OpenThread on the BeagleBone black and it seems to work great if my devices already know the parameters to join the Thread network. However, when I go to add a device to the network via the command line with `sudo wpanctl commissioner joiner-add ...` I get an error saying there are too many arguments. I've run several commands to provide some context. If I provide 0 arguments it corre

[2019-04-16 17:55] #3565 closed

[2019-04-16 18:42] jaylogue opened #3766 "Allow nodes to assume the parent’s Thread operational parameters on attach"
Add an option to OpenThread such that, when a node attaches to a network, it always accepts the active operational dataset from the parent, even if the parent’s active timestamp is less than or equal to its own.

This supports OOB commissioning scenarios where commissioning is implemented by storing an incomplete operational dataset in the joining node (via the otSetActiveDataset() function).  Wit

[2019-04-17 03:02] NickNamerr opened #3768 "[efr32] assert triggered in otPlatRadioTransmit()"
**Describe the bug**
Firmware binary exited  [here](https://github.com/openthread/openthread/blob/master/examples/platforms/efr32/radio.c#L534)

After few hours of heavy load communications.

**To Reproduce**
Information to reproduce the behavior, including:
1. Git commit id 2057a141ef75247197634d709bff4789d34c02d3
2. IEEE 802.15.4 hardware platform EFR32MG13p732GM48
3. Build steps : https://githu

[2019-04-17 03:06] jwhui commented on #3768
@NickNamerr, thanks for reporting this issue.

Just to confirm, the build steps you referenced indicate that you are using OpenThread POSIX app and radio-only firmware on the NCP, is that correct?

[2019-04-17 03:06] NickNamerr commented on #3768
@jwhui Yes, this is correct.

[2019-04-17 03:09] jwhui commented on #3768
@josephn123 @marvensilabs, any thoughts on what might trigger [this assert](https://github.com/openthread/openthread/blob/master/examples/platforms/efr32/radio.c#L534) in `otPlatRadioTransmit()`?

[2019-04-17 03:12] NickNamerr commented on #3768
I change code to :
    if (status != RAIL_STATUS_NO_ERROR){
		otPlatReset(aInstance);
	}
    //assert(status == RAIL_STATUS_NO_ERROR);
And setup Breakpoint in oZone to catch variables value. Will update here once it will happen again.

[2019-04-17 09:03] jia200x commented on #3362
@jwhui sorry for the delay.

Yes, I think there could be a workaround with this approach for multiple instance feature.
It would be direct though, if there's a way to know the size of the `otInstance` object in compile time (instead of calling `otInstanceInit(NULL, &len)`.)

Do you know if this is possible?

[2019-04-17 09:11] jia200x commented on #3362
well, I think my second question is unrelated to the original. So I guess the issue could be closed.
Thanks!

[2019-04-17 17:12] #3362 closed

[2019-04-18 21:45] LuDuda commented on #3755
Hello, @emenezes I was able to reproduce the problem by digging a little more into logs.

**Steps to reproduce:**
- Flash the `CLI FTD` application
- Become a Leader of the network
- Execute `autostart enable` command (any chance you used it?)
- Flash the `NCP FTD` (without erasing Non-Volatile OpenThread Settings - e.g. by using nRF52840 Dongle and nRF Connect)
- Run `wpantund` - which throws the

[2019-04-18 22:45] jwhui commented on #3766
Submitted #3773 that implements proposal above.

[2019-04-19 10:08] vervaekejonathan opened #3775 "Multicast to Realm local address"
Hi!
Using OTBR in combination with nrf52 thread nodes.

I can ping to link local multicast addresses, but not to realm local multicast address.
Why is this and how can I discover all connected nodes in my thread network?
Thanks!

--- ff02::2%wpan0 ping statistics ---
3 packets transmitted, 3 received, +6 duplicates, 0% packet loss, time 2003ms
rtt min/avg/max/mdev = 0.147/38.344/65.371/27.510 ms

[2019-04-19 14:09] emenezes commented on #3755
Yes!!! I did use the `autostart enable` when I flashed the CLI. I guess you just mapped another root cause problem.

BTW you guys are doing amazing work! Thanks for that and FYI, I'm a PhD candidate using OT to establish a flying IoT network to aid the recovery of disaster areas.

[2019-04-19 15:18] LuDuda commented on #3755
@emenezes Thanks for the confirmation. The PhD thesis seems to be fantastic! I would be happy to read it and analyze conclusions after it is done :smile:

@jwhui Do you think this problem should be fixed somehow in OT itself (although note that its `otInstanceInitSingle` which starts thread part automatically, so it's not easy to bind it with `NCP`), or `wpantund` should be able to check `autostar

[2019-04-19 17:33] abtink commented on #3755
@emenezes , OT autostart feature is not typically enabled/used when using it in NCP mode with `wpantund`. `wpantund` can take care of starting the network.

Somewhat related to this: We have `"Daemon:AutoAssociateAfterReset"` configuration wpantund property to control `wpantund`'s behavior regarding this (it determines whether the `wpantund` should start the network (associate) if NCP is commissio

[2019-04-19 18:15] jwhui commented on #3755
@abtink, while autostart feature is not typically used with NCP, it is possible to get into this state. I agree with @LuDuda that we should do something so that others do not run into this in the future.

[2019-04-23 16:39] jwhui commented on #3775
@vervaekejonathan, can you try specifying the interface using the `-I` argument instead? For example:
[code]

[2019-04-23 16:43] jwhui commented on #3681
README was updated in #3759.

[2019-04-23 16:43] #3681 closed

[2019-04-23 20:16] jwhui commented on #3137
Closing stale issue.

[2019-04-23 20:16] #3137 closed

[2019-04-23 20:17] #3755 closed

[2019-04-24 05:10] #3766 closed

[2019-04-24 07:06] vervaekejonathan commented on #3775
that rapports only the IP address of the OTBR:

[2019-04-24 08:59] librasungirl commented on #3775
Hi @vervaekejonathan

In my trial on the setup (one OTBR Leader, one CLI Router), the ping could be forwarded into the Thread Network. And there are ping responses from both Leader and Router.

[code]

![Screen Shot 2019-04-24 at 4 48 37 PM](https://user-images.githubusercontent.com/19217991/56645750-dbd5a600-66b0-11e9-843e-f4e4cca95332.png)

One Note is that the default **hoplimit (i.e. ttl)** fo

[2019-04-24 09:19] vervaekejonathan commented on #3775
Hi @librasungirl
Changing the hoplimit did not fix the problem :(
Thanks for the tip anyway, I'll use it once this issue is solved ;)

[2019-04-24 09:22] vervaekejonathan opened #3782 "Masterkey rotation"
I would like to know more about masterkey rotation.

I can change the masterkey on the OTBR, but of course this key is not pushed to the nodes.
Is there a way this can be pushed via wpanctl? Or does this require an own implementation?

[2019-04-24 10:49] librasungirl commented on #3775
@vervaekejonathan,  would you please update the log level of wpantund and check whether the ping request is passed to the NCP radio like below sample log?

// fyi, update the log level
1) add one line `Daemon:SyslogMask "all -debug"` to `/etc/wpantund.conf`
2) then restart wpantund service `sudo systemctl restart wpantund`
3) check the syslog `tail -f /var/log/syslog | grep wpantund`

// sample lo

[2019-04-24 11:38] librasungirl commented on #3782
@vervaekejonathan , for one existing Thread Network, the valid operation to update masterkey is from commissioner via pending dataset which will take effect after specified delay (default min delay time 5min) so that there is chance for the dataset to propagate to Thread Network.

There are wpanctl commands which could help to promote OTBR to become on-mesh commissioner and update the pending data

[2019-04-24 11:40] vervaekejonathan commented on #3775
it seems restarting wpantund solved the issue..
thanks!

[2019-04-24 11:48] librasungirl commented on #3775
Great to know it works finally. Thanks for the update.

[2019-04-24 11:48] #3775 closed

[2019-04-24 15:00] vervaekejonathan commented on #3782
@librasungirl this works, thanks!

How safe is this? I mean, if someone has my current masterkey and is sniffing the data all the thread data, can the new masterkey be detected in the packets?

[2019-04-24 17:08] jwhui commented on #3782
@vervaekejonathan, Thread 1.1.1 does not provide a mechanism to securely communicate key updates to specific Thread devices. If someone has the Thread master key, they can also decode key update messages.

[2019-04-24 19:24] LuDuda opened #3783 "[coap] assert during removing message's metadata"
During OpenThread NCP stress tests on nRF52840 platform, following assert has been captured: https://github.com/openthread/openthread/blob/master/src/core/coap/coap.hpp#L308

**GDB Logs**
[code]

Under this test, the node likely was sometimes out of memory (message buffers). Despite we have been running those tests for some time already, this problem happened the first time so it's probably the ra

[2019-04-26 17:04] #3782 closed

[2019-04-26 22:36] #3783 closed

[2019-04-29 21:59] kwangeom opened #3790 "DHCPv6 support in OpenThread"
**Is your feature request related to a problem? Please describe.**
We want to use "dnsmasq" in BBB as dhcpv6 server instead of one running in NCP.
Current "dhcp6_clinet.cpp/.hpp" looks not support this case.
We have 3 problems with current "dhcp6_client.cpp/.hpp".
1. it use RLOC address of NCP as target address of Solicit message. So the message is always terminated at NCP, not delivered to BBB.
2

[2019-05-02 20:14] jwhui commented on #3651
Resolved by #3659 and https://github.com/openthread/wpantund/pull/386.

[2019-05-02 20:14] #3651 closed

[2019-05-05 16:11] CraigZych commented on #1803
Is this almost done?
I'd be very interested to try this out

[2019-05-06 09:14] NickNamerr opened #3797 "[efr32] wpantund Stopped with last UART and RADIO driver updates."
Wpantund keeps stopping with "[-NCP-]: Socket error on read: Input/output error 5"

To Reproduce
Information to reproduce the behavior, including:

Git commit id 267a3b3
IEEE 802.15.4 hardware platform EFR32MG13p732GM48
Build steps : https://github.com/openthread/openthread/tree/master/src/posix
Network topology : 10 FTD
Expected behavior
"wpantund" should not be stopped.

Console/log output
May 0

[2019-05-06 09:19] NickNamerr commented on #3797
"wpanctl get" forcing "wpantund" to stop execution and output is:
May 06 17:17:29  wpantund[19]: Signal jamming cleared
May 06 17:17:29  wpantund[19]: SpinelNCPTaskSendCommand.cpp:340: Requirement Failed ((mRetVal) == 0)
May 06 17:17:29  wpantund[19]: SendCommand task encountered an error: 16 (0x00000010)
May 06 17:17:33  wpantund[19]: SpinelNCPTaskSendCommand.cpp:340: Requirement Failed ((mRetVal

[2019-05-06 10:13] josephn123 commented on #3797
Hi @NickNamerr

- Does everything work as expected if kReceiveFifoSize is the default of 128?
- If so, you need to ensure kDmaBlockSize is half of the kReceiveFifoSize, i.e. if kReceiveFifoSize = 4096, kDmaBlockSize = 2048. This isn't at all obvious from the code, so some compile time checks, or at least some comments should be added.

[2019-05-06 10:30] josephn123 commented on #3797
Hi @NickNamerr

Does everything work as expected with a default kReceiveFifo size of 128?

[2019-05-06 19:20] kwangeom commented on #3790
do you have any plan on this ticket? I would like to support this feature ASAP. If you don't have plan in near future on this ticket, could you please give us patches to fix this issue?

Regards,

Kwang

[2019-05-06 20:04] KaSroka opened #3798 "Single entropy source sharing between OpenThread and application"
Currently, it's hard to develop an application that uses the same entropy source as OpenThread platform (especially with some kind of RTOS). Also in some places, we use entropy source directly instead of using mbedtls random generator which is not a good idea. Entropy source should be only used as a seed for mbedtls random generator.

I propose to create a single instance of mbedtls entropy contex

[2019-05-06 20:45] KaSroka commented on #3798
To clarify this abstraction for random would use mbedtls_ctr_drbg_rand (which with this entropy source) inside. This approach would also allow us to use mbedtls built-in mutex support in RTOS applications.

[2019-05-07 01:09] NickNamerr commented on #3797
Hi @josephn123 it does not, happened even often. My test it to send CoAP msg with payload 1037 bytes.

[2019-05-07 04:30] jwhui commented on #3798
@KaSroka, this sounds like a great enhancement. Would you like to submit a PR?

[2019-05-07 05:47] gidhin opened #3802 "DLTS commissioning from mobile app."
**Describe the bug**
A clear and concise description of what the bug is.
Need to commissioning from hybrid mobile app. I have install "npm i node-dtls-client" and i follow the instruction but didn't work.

code:
var dtls = require('node-dtls-client');

    dtls.setLogLevel(dtls.logLevel.FINE);

    var client = dtls.connect(4915, '10.42.0.6', 'udp4', function () {
      client.send(new Buffer('foo

[2019-05-07 06:04] bukepo commented on #3802
@gidhin From https://www.npmjs.com/package/node-dtls-client, it seems this module doesn't support the cipher suite required by Thread commissioning. I think you should try https://github.com/particle-iot/node-mbed-dtls.

[2019-05-07 06:38] NickNamerr commented on #3797
few more symptoms:
1) "Node type change: "unknown" -> "end-device" - but "RLOC" in routing parameters(OffMeshRoutes and OnMeshPrefix) did not update;
2) Caught assert at "RAILInt_xxxxxxxxx..." in oZone debugger';

[2019-05-07 07:13] gidhin commented on #3802
I have try this one but not working for me.

error : Module not found: Error: Can't resolve 'dgram'
  "node-dtls-client/build"

code is not working for me.

let option = {
type: "udp4",
address: "10.42.0.6",
port: 4915,
psk: { "psk_hint": "PSK" },
timeout: 1000, // in ms, optional, minimum 100, default 1000
ciphers: ["TLS_PSK_WITH_3DES_EDE_CBC_SHA",
"TLS_PSK_WITH_AES_128_CBC_SHA",
"TLS_PSK_WITH_AE

[2019-05-07 08:54] josephn123 commented on #3797
Does this look related to your other bug report #3768 ? I'll test myself today

[2019-05-07 10:16] KaSroka commented on #3798
@jwhui Yes, I'm working on it right now

[2019-05-08 01:20] NickNamerr commented on #3797
It does not relate directly, but behavior sometimes looks similar, RAIL API returns  busy state.
How to enable logs for "POSIX <-> REAL Hardware " model?

[2019-05-09 06:21] NickNamerr commented on #3797
@josephn123 "while true; do wpanctl get; sleep 2; done" - causes ot-ncp-radio firmware stuck in loop of method "RAILINT_xxxxxxxx". oZone debugger in disassembly windows show that there check R0 for 1 and it is 4, looks like SiLabs RAIL waits for something that never return right value.

[2019-05-09 14:13] sreeramp96 commented on #1137
from Crypto.PublicKey import RSA
ModuleNotFoundError: No module named 'Crypto'
I have installed both crypto and Crypto using pip, but still it shows this error

[2019-05-09 14:17] sreeramp96 opened #3806 "ModuleNotFoundError: No module named 'Crypto'"
I have installed Crypto using pip, but it still shows this error

![Annotation 2019-05-09 190903](https://user-images.githubusercontent.com/16064120/57460698-3ff09080-7293-11e9-92c5-60fc1d3cdc44.png)
 from Crypto.PublicKey import RSA
ModuleNotFoundError: No module named 'Crypto'

[2019-05-09 15:50] marvensilabs commented on #3768
In the RAIL library we check a status register to see if it is transmitting and if so the Tx functions return RAIL_STATUS_INVALID_STATE.  It looks like it could be RAILCb_Generic is setting sTransmitBusy to false when perhaps it shouldn't.  The RAIL_EVENTS_TX_COMPLETION mask in the SDK does not include RAIL_EVENT_SCHEDULER_STATUS or RAIL_EVENT_RX_ACK_TIMEOUT which could be the cause of sTransmitBu

[2019-05-09 15:53] jwhui commented on #3806
This question was also raised in #1137.

You need to install pycryptodome version 3.4.3:
[code]

You also need to uninstall `pycrypto` to avoid the name collision - both `pycrypto` and `pycryptodome` have a `Crypto` module.

[2019-05-09 17:01] sreeramp96 commented on #3806
okay will check this

[2019-05-10 02:19] abtink opened #3807 "Bug: SED with multiple IP addresses fails to attach (continuously)"
Discovered this issue while analyzing some failed cases of `toranj` test case [`test-010-on-mesh-prefix-config-gateway`](https://github.com/openthread/openthread/blob/master/tests/toranj/test-010-on-mesh-prefix-config-gateway.py).

An detached SED child with multiple IPv6 addresses can fail to attach back to its original parent (or any new router/parent).

- In MLE "Child ID Request" the child wil

[2019-05-10 03:14] librasungirl commented on #3807
@abtink there should have been some discussions within Thread Group about the issue you described.
And it should have agreed that if the AddressRegistraionTLV during attach (Child Id Request) or reattach (Child Update Request to restore link with parent) causing fragments, the additional addresses except MLEID could be postponed to register via Child Update Request after attach/reattach finishes.

[2019-05-10 03:39] bukepo opened #3808 "why notifier log requires log mac?"
Is this intended or typo?
https://github.com/openthread/openthread/blob/master/src/core/common/notifier.cpp#L175

[2019-05-10 21:38] abtink commented on #3807
Ype. Thanks. we are going for same solution.

[2019-05-10 23:22] abtink commented on #3807
Submitted https://github.com/openthread/openthread/pull/3813

[2019-05-11 17:07] jwhui commented on #3744
Resolved by #3749.

[2019-05-11 17:07] #3744 closed

[2019-05-12 04:13] #3808 closed

[2019-05-13 18:23] #3806 closed

[2019-05-14 05:40] tarunsmalviya opened #3815 "No response of <networkdiagnostic get> command when FTD CLI becomes leader?"

[2019-05-14 15:45] jwhui commented on #3815
@tarunsmalviya, thanks for raising this issue. However, I was not able to reproduce this behavior. In my simple setup of 2 FTDs, I am able to perform the following:
[code]

Can you provide more details to help us reproduce?

[2019-05-15 02:04] NickNamerr opened #3820 "[efr32] Routing stopped once NCP ROLE changed to "end-device""
**Describe the bug**
Wpantund stopped to update ROUTING PARAMETERS on ROLE CHANGED to "end-device". Routing works only if ROLE of NCP is ROUTER.

**To Reproduce**
Information to reproduce the behavior, including:
1. Git commit id 267a3b3
2. IEEE 802.15.4 hardware platform EFR32MG13p732GM48
3. Build steps https://github.com/openthread/openthread/tree/master/src/posix
4. Network topology 10 FTD

**E

[2019-05-15 18:32] jwhui commented on #3820
@NickNamerr, thanks for raising this issue.

If the NCP is configured as a router-capable FTD, then it is possible that the device is waiting to become a router. OpenThread currently has a check that avoids updating the network data when the device is pending an upgrade to router: https://github.com/openthread/openthread/blob/1a4b249a9527c88ea2f573fea9fda39bb025b5b1/src/core/thread/network_data_lo

[2019-05-16 03:11] NickNamerr commented on #3820
I have to debug it. BTW, the state changes to "end-device" and it keeps waiting(240 seconds?) till BR will become a "router". Is there a way, to prevent BR to change state so often?
I observed such behavior during process of sending CoAP messages with payload size 1047 from Server to FTD over BR. In normal (idle) operations does not happen.

[2019-05-16 06:24] bukepo opened #3826 "[nrf52xx] set acknowledged with frame pending flag"
**Is your feature request related to a problem? Please describe.**
Needs set acked frame pending flag in radio driver

**Describe the solution you'd like**
Implement in radio Nordic SDK.

**Describe alternatives you've considered**
None

**Additional context**
See more in #3785

[2019-05-16 18:18] jwhui commented on #3820
@NickNamerr, there are a couple reasons why a router may switch to "end-device":

1. The router is not receiving sequence number updates from the Leader and attempts to reattach to the network.

2. The router reset for some reason and did not receive an MLE Link Accept when it tries to reestablish its router role.

Also, to confirm, you noted that this behavior did not occur under the same test co

[2019-05-16 19:24] jwhui commented on #3807
Resolved by #3813.

[2019-05-16 19:24] #3807 closed

[2019-05-16 19:53] LuDuda commented on #3826
Hello @bukepo, it seems that we have sufficient support in our current radio driver for this feature.

We will send PR soon after adding some on-hardware tests, but can you please test if this [commit](https://github.com/LuDuda/openthread/commit/b20b1cd2ac7b140dad433591f59f79cd3641812e) resolves a problem that you found in #3785?

[2019-05-16 19:58] LuDuda commented on #3699
Ping :smile:

[2019-05-16 21:17] jwhui commented on #3790
@kwangeom, thank you for raising this issue.

Communicating using RLOCs between the NCP and host is a non-trivial task since they both need to share the same IPv6 address. Communicating IPv6 packets between the NCP and host is not something easily addressed in this architecture.

Have you considered using an architecture where OpenThread core is running on the host (see [OpenThread POSIX app](http

[2019-05-17 07:20] NickNamerr commented on #3820
@jwhui with 2057a14 it updates routing settings for POSIX<->OT_NCP_RADIO model, and traffic have continued to flow to destination and back.
How to enable LOGs for POSIX<->OT_NCP_RADIO ?

[2019-05-17 17:02] szymonnnm opened #3832 "Reference operator in `network_time.h` header file"
**Describe the bug**
I'm not sure wether it's desired, but it looks like in the `network_time.h` a reference operator has sneaked in:
[code]
This results in a build error when trying to include this file from some other `.c` file.

**To Reproduce**
Information to reproduce the behavior, including:
1. Git commit id: 0208d10563aa21c518092985c78ecf9cd223ab74
2. IEEE 802.15.4 hardware platform: nRF528

[2019-05-17 17:21] jwhui commented on #3832
@szymonnnm, thank you for raising this issue. I just submitted #3833. Please review.