[2016-11-05 01:19] chshu commented on #933
The CLOSE_NOTIFY is expected steps by the end of DTLS handshake which is also called by `Joiner::Close()` in `joiner.cpp`, so it maybe not the root cause, I will take a look at this issue.

[2016-11-08 09:56] chshu commented on #346
[Leader_5_8_4.zip](https://github.com/openthread/openthread/files/577798/Leader_5_8_4.zip)

[2016-11-08 16:01] xiaom-GitHub commented on #346
266232e with Harness R30
[ED_9_2_17.zip](https://github.com/openthread/openthread/files/578648/ED_9_2_17.zip)
[SED_9_2_17.zip](https://github.com/openthread/openthread/files/578649/SED_9_2_17.zip)

[2016-11-08 19:55] nibanks opened #950 "Test Cert_9_2_11_MasterKey is Unreliable"
I am getting failures in Cert_9_2_11_MasterKey.py fairly consistently on my master branch, which I keep as a clean clone of openthread/master. See failure [here](https://travis-ci.org/nibanks/openthread/jobs/174272023).

[code]

[2016-11-08 20:12] jwhui commented on #950
#912 should address this issue.

[2016-11-08 20:24] nibanks commented on #950
I just rebased this morning, and hit this failure two build tries in a row. #912 is already merged into master, right?

[2016-11-08 20:26] jwhui commented on #950
Oops, I meant #946.  Updated above comment to reflect that.

[2016-11-08 23:39] #950 closed

[2016-11-09 11:22] LuDuda opened #956 "Mesh: Deep Hops Left field"
Currently OT supports Mesh Header with Hops Left field set to 14 or less. However this is not always true, and we need to support Deep Hops Left field.

Also the algorithm of choosing Hops Left is described in 5.10.1.1 however it is also a little implementation dependent.

I think this field may be set to 14 if calculated (predicted) hop number is less that 14, and set to calculated hop number + X

[2016-11-09 13:53] wbober opened #960 "[spinel-py] Remove TunInterface dependency from codec.py"
Here's the use case: I'd like to use the spinel package on Windows to control an NCP. To make this possible I'd like to:

- Remove the dependency on TunInterface from codec.py. It looks to me that it's only there to be accessible for `if_up` and `if_down` methods. These are called from `spinel-cli.py`. How about making the TunInterface a member object of `SpinelCliCmd` class and removing self.tun_

[2016-11-09 13:56] wbober opened #961 "[spinel-py] A separate repository for the spinel package"
How do you feel about making a separate repository for the spinel package? I think the code might be useful for writing simple PC tools which need to connect to the Thread network through the NCP.

A separate repository would make the code more visible to potential users and make the commit history more clean.

[2016-11-09 15:22] #795 closed

[2016-11-09 15:30] jwhui commented on #960
I'm always an advocate of removing dependencies and simplifying as much as possible.  Is TunInterface even worthwhile to keep around?

[2016-11-09 15:36] jwhui commented on #956
Agree that we should support larger hop counts.

In addition to not requiring `memmove`, keeping the Deep Hops Left field can help give some indication that the packet may have started with a large Hops Left value.  I'm not sure saving 1 byte on the air will make much practical difference.  But I don't have a strong opinion either way.

[2016-11-09 16:14] librasungirl commented on #346
c4eff62 with Harness R30

[Leader_5_1_1.zip](https://github.com/openthread/openthread/files/581180/Leader_5_1_1.zip)
[Leader_5_1_5.zip](https://github.com/openthread/openthread/files/581181/Leader_5_1_5.zip)
[Leader_5_1_13.zip](https://github.com/openthread/openthread/files/581182/Leader_5_1_13.zip)
[Leader_5_3_7.zip](https://github.com/openthread/openthread/files/581183/Leader_5_3_7.zip)
[Leader_

[2016-11-09 20:29] turon commented on #960
I agree that codec.py should not have a dependency on tun.py.  I also agree that removing the need to track nodeid from spinel-cli is worthwhile.  That said, I think the TunInterface remains a valuable feature for Linux and Mac, and I'd support moving it to only be included by spinel-cli.py.

[2016-11-09 20:36] jwhui commented on #960
@turon, can you elaborate more on the value of TunInterface relative to wpantund?

[2016-11-09 20:40] #904 closed

[2016-11-09 22:17] turon commented on #960
@jwhui Agree that TunInterface is starts creating redundancy to the wpantund feature set.
To the extent that spinel-cli provides a good testing and fast bring-up tool for python users, I'd say the value is:
1) Provides a means to use standard python sockets for python-based test apps.
2) Provides a means to use stock posix IPv6 apps such as iperf, curl, dig, etc along side the familiar ot-cli mana

[2016-11-10 04:57] jwhui commented on #960
@turon wpantund also allows standard IPv6 performance measurement tools and socket-based programming.  I think it's better to include wpantund in these kinds of system-level tests.  The downside of TunInterface is that it relies on the host's IPv6 stack, which may limit the kinds of packets that you can inject into or receive from the Thread network and the kinds of tests that you can perform.

[2016-11-11 01:58] xiaom-GitHub commented on #931
closed #931 via #965 .

[2016-11-11 01:58] #931 closed

[2016-11-11 10:18] xiaom-GitHub commented on #346
0254cde with Harness R30
[Router_9_2_9.zip](https://github.com/openthread/openthread/files/585546/Router_9_2_9.zip)

[2016-11-12 09:45] xiaom-GitHub opened #967 "Thread device keeps registering newer dataset to Leader during dataset transition"
Observe the phenomenon, for example, there are two nodes, one is Leader and another is Router. Leader and Router forms a partition respectively (Leader has a larger partition id than Router's). Configure an older active timestamp on Leader's partition (e.g. 10) and a newer active timestamp (e.g. 20) on Router's.
Then remove the whitelist and let Router can hear Leader's advertisement. Router will

[2016-11-12 09:56] xiaom-GitHub commented on #967
To address this, maybe we can relay on whether or not receiving the MGMT_ACTIVE_SET.rsp or MGMT_PENDING_SET.rsp. We can set a flag as `false` when sending MGMT_ACTIVE_SET.req or MGMT_PENDING_SET.req, and then set this flag as `true` when receiving the response with `Accept` state TLV. If this flag is `true`, we stop registering since peer has received the request message, and if it's still `false`

[2016-11-14 02:19] jwhui commented on #967
I think stopping registration attempts after receiving a MGMT_ACTIVE_SET.rsp message will handle most cases.  However, I think it would be more robust to check that the Pending Dataset received from the network includes the Active Dataset's Timestamp.  In the corner case where the Pending Dataset has an even newer Active Timestamp, then there is nothing the device can do and should not even regist

[2016-11-14 02:55] xiaom-GitHub commented on #967
Yes, checking the active timestamp in pending dataset received from network makes sense. Will submit a PR for this later. Thanks.

[2016-11-14 03:09] xiaom-GitHub commented on #346
0254cde with Harness R30
[Router_9_2_10.zip](https://github.com/openthread/openthread/files/588290/Router_9_2_10.zip)

[2016-11-14 11:42] xiaom-GitHub commented on #346
2bc7921 with Harness R31
[Router_9_2_10.zip](https://github.com/openthread/openthread/files/589101/Router_9_2_10.zip)
[ED_9_2_10.zip](https://github.com/openthread/openthread/files/589102/ED_9_2_10.zip)
[SED_9_2_10.zip](https://github.com/openthread/openthread/files/589103/SED_9_2_10.zip)

[2016-11-14 14:05] librasungirl commented on #346
ca04d4e with Harness R31
[Leader_5_1_1.zip](https://github.com/openthread/openthread/files/589339/Leader_5_1_1.zip)
[Leader_5_1_5.zip](https://github.com/openthread/openthread/files/589342/Leader_5_1_5.zip)
[Leader_5_1_13.zip](https://github.com/openthread/openthread/files/589343/Leader_5_1_13.zip)
[Leader_5_3_6.zip](https://github.com/openthread/openthread/files/589344/Leader_5_3_6.zip)
[Leader_5

[2016-11-14 21:37] nibanks opened #971 "XON and XOFF Bytes Should Be Escaped in NCP"
More info on escaping here:

https://rawgit.com/openthread/openthread/master/doc/draft-spinel-protocol.html#rfc.appendix.A.1.2

[2016-11-15 14:18] jwhui opened #976 "thread-cert python 3 support"
In the past, the thread-cert python tests supported both python 2 and 3.  It seems that #957 does not support python 3.  @prfi, can you take a look take a look at adding python 3 support?

[2016-11-15 16:59] blauret opened #977 "Gcc version detection"
My experience is openThread does not compile with Gcc 4.x.

If this is assumed, would it be possible to to implement a check which verify the gcc is 5.x or greater or exit with a nice message.

Maybe it's my limited knowledge of gcc, but when you try to compile OT with gcc 4.x, the build fails with a rather cryptic message. This would be a nice improvement

[2016-11-15 17:03] blauret commented on #977
My experience is Thread does not compile with gcc version 4.x.

I saw somewhere in the build tools some checks about presence of gcc in the path. If OpenThread supports only gcc 5.x or greated, would it be possible to implement a check the version of gcc and display a nice message if it's too old?

[2016-11-15 17:09] jwhui commented on #977
OpenThread supports gcc 4, 5, and 6 and you can see the build results [here](https://travis-ci.org/openthread/openthread).

Can you provide your console output that includes the command line and error?

[2016-11-15 17:12] blauret commented on #977
Bens-mbpr:openthread ben$ arm-none-eabi-gcc --version
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.7.4 20130913 (release) [ARM/embedded-4_7-branch revision 202601]
Copyright (C) 2012 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

Bens-mbpr:openthrea

[2016-11-15 17:39] jwhui commented on #977
This does not seem to be a problem with the compiler, but a problem with the lib included with the compiler itself.  The distribution of arm-none-eabi-gcc that you are using does not include the nosys .specs file in its lib.

For example, from gcc-arm-none-eabi-4_9-2015q3:

[code]

[2016-11-15 19:41] prfi commented on #976
Yes, I will add support for Python 3

[2016-11-15 21:08] blauret commented on #977
Hi Jonathan,

Thanks for the tip. I'll look closer into my toolchain

[2016-11-15 21:08] #977 closed

[2016-11-16 09:54] #731 closed

[2016-11-16 17:02] #36 closed

[2016-11-16 21:47] nibanks commented on #933
Now I just hit a similar error on `Cert_8_1_01_Commissioning' ([build link](https://travis-ci.org/nibanks/openthread/jobs/176504186)):

[code]

[2016-11-17 06:47] chshu commented on #346
fc73bc3 with Harness R31
[Leader_5_8_4.zip](https://github.com/openthread/openthread/files/596658/Leader_5_8_4.zip)
[Commissioner_8_1_1.zip](https://github.com/openthread/openthread/files/596659/Commissioner_8_1_1.zip)
[Commissioner_8_1_2.zip](https://github.com/openthread/openthread/files/596660/Commissioner_8_1_2.zip)
[Commissioner_8_1_6.zip](https://github.com/openthread/openthread/files/596661

[2016-11-17 08:31] chshu commented on #933
I tried but failed to reproduce the failure locally with many runs, may need more efforts to locate the root cause.

[2016-11-17 13:17] #976 closed

[2016-11-17 14:07] xiaom-GitHub commented on #835
closed via #986 .

[2016-11-17 14:07] #835 closed

[2016-11-18 13:55] librasungirl commented on #346
[PR#991](https://github.com/openthread/openthread/pull/991) with Test Harness V1.1 Beta v1.0
[REED_5_2_5.zip](https://github.com/openthread/openthread/files/600054/REED_5_2_5.zip)

[2016-11-21 02:03] librasungirl commented on #346
9de7f12 with Harness V1.1 Beta v1.0
[REED_5_2_5.zip](https://github.com/openthread/openthread/files/602539/REED_5_2_5.zip)

[2016-11-21 16:46] #956 closed

[2016-11-22 12:44] wbober opened #1003 "Processing advertisements on parent migration"
Looking at the current implementation I see that when a child receives
an advertisement from its parent, which indicates that the parent has changed
its partition, it updates the leader information. However, it looks to me that the
Router Id Sequence number isn't updated.

This is problematic, since it might happen that the Router Id Sequence in
the new partition is lower that in the former one. T

[2016-11-22 17:51] jwhui commented on #1003
I also could not find how the Router ID Sequence value gets update as a result of the parent changing partitions.  Would you like to work on a fix?

[2016-11-23 03:18] librasungirl opened #1007 "Certification: missing feature of PARENT_PARTITION_CHANGE"
For Router 5.5.3, when the original Leader comes back and attaches to the new partition formed by original router, Harness would verify that the statusTLV in address solicit message from original Leader would have value 4 (PARENT_PARTITION_CHANGE) which currently not implemented in OT yet.

[2016-11-23 05:40] #905 closed

[2016-11-23 07:51] librasungirl commented on #346
c12c95f with Harness V1.1 Beta v1.0
[Router_5_2_6.zip](https://github.com/openthread/openthread/files/608300/Router_5_2_6.zip)

[2016-11-23 09:08] xiaom-GitHub commented on #346
70255e9 with Harness R31 (test script updated in [DEV-1104](https://threadgroup.atlassian.net/browse/DEV-1104))
[Leader_9_2_9.zip](https://github.com/openthread/openthread/files/608436/Leader_9_2_9.zip)
[Router_9_2_9.zip](https://github.com/openthread/openthread/files/608437/Router_9_2_9.zip)

[2016-11-23 09:41] wbober commented on #961
@turon Any thoughts?

[2016-11-23 10:35] rlubos commented on #1003
I will look into this issue.

[2016-11-23 14:40] nibanks commented on #961
Is there a reason you don't want to just put the code for the tools in this repository?

[2016-11-23 15:27] xiaom-GitHub commented on #346
70255e9 with Harness R31
[Leader_9_2_1.zip](https://github.com/openthread/openthread/files/609206/Leader_9_2_1.zip)
[commissioner_9_2_1.zip](https://github.com/openthread/openthread/files/609207/commissioner_9_2_1.zip)
[Leader_9_2_2.zip](https://github.com/openthread/openthread/files/609211/Leader_9_2_2.zip)
[commissioner_9_2_2.zip](https://github.com/openthread/openthread/files/609212/commissione

[2016-11-24 06:51] librasungirl commented on #346
[PR1009](https://github.com/openthread/openthread/pull/1009) with Harness 1.1 Beta V1.0

[Leader_5_2_3.zip](https://github.com/openthread/openthread/files/610629/Leader_5_2_3.zip)

[2016-11-24 08:00] chshu commented on #346
[PR#1010](https://github.com/openthread/openthread/pull/1010) with Harness R31:
[Leader_8_3_1.zip](https://github.com/openthread/openthread/files/610743/Leader_8_3_1.zip)

[2016-11-24 08:09] librasungirl commented on #346
master branch 5e61cc2 with Harness 1.1 Beta V1.0
[Router_5_1_7.zip](https://github.com/openthread/openthread/files/610750/Router_5_1_7.zip)

[2016-11-24 14:31] librasungirl commented on #346
[PR#1011](https://github.com/openthread/openthread/pull/1011) with Harness 1.1 Beta V1.0
[REED_5_2_4.zip](https://github.com/openthread/openthread/files/611530/REED_5_2_4.zip)

[2016-11-25 04:38] xiaom-GitHub commented on #346
46be5b4 with Harness V1.1 R31
[Router_9_2_6.zip](https://github.com/openthread/openthread/files/612502/Router_9_2_6.zip)
[Router_9_2_13.zip](https://github.com/openthread/openthread/files/612503/Router_9_2_13.zip)
[MED_9_2_13.zip](https://github.com/openthread/openthread/files/612504/MED_9_2_13.zip)
[FED_9_2_13.zip](https://github.com/openthread/openthread/files/612505/FED_9_2_13.zip)
[SED_9_2_13.

[2016-11-25 07:07] librasungirl commented on #346
[PR#1013](https://github.com/openthread/openthread/pull/1013) with Harness 1.1 Beta V1.0

[REED_5_5_5.zip](https://github.com/openthread/openthread/files/612673/REED_5_5_5.zip)

[2016-11-25 07:52] librasungirl commented on #346
ac26b87 with Harness 1.1 Beta V1.0
[Router_5_3_3.zip](https://github.com/openthread/openthread/files/612739/Router_5_3_3.zip)

[2016-11-25 09:14] xiaom-GitHub commented on #346
46be5b4 with Harness V1.1 R31
[Leader_9_2_7.zip](https://github.com/openthread/openthread/files/612841/Leader_9_2_7.zip)
[Leader_9_2_11.zip](https://github.com/openthread/openthread/files/612842/Leader_9_2_11.zip)
[Router_9_2_11.zip](https://github.com/openthread/openthread/files/612847/Router_9_2_11.zip)
[ED_9_2_11.zip](https://github.com/openthread/openthread/files/612848/ED_9_2_11.zip)
[SED_9_2

[2016-11-28 14:58] librasungirl commented on #346
[PR#1013](https://github.com/openthread/openthread/pull/1013) with Harness 1.1 Beta V1.0
[Router_5_5_3.zip](https://github.com/openthread/openthread/files/616656/Router_5_5_3.zip)
[REED_5_5_5.zip](https://github.com/openthread/openthread/files/616655/REED_5_5_5.zip)

[2016-11-29 03:25] chshu commented on #346
ac26b87 with Harness V1.1 R31
[Router_9_2_15.zip](https://github.com/openthread/openthread/files/618047/Router_9_2_15.zip)

[2016-11-29 06:37] xiaom-GitHub commented on #346
c2598bf with Harness V1.1 R31
[Router_9_2_6.zip](https://github.com/openthread/openthread/files/618205/Router_9_2_6.zip)

[2016-11-29 09:22] xiaom-GitHub commented on #346
c2598bf with Harness V1.1 R31
[SED_9_2_18.zip](https://github.com/openthread/openthread/files/618528/SED_9_2_18.zip)

[2016-11-29 18:58] nibanks commented on #711
With custom Windows Iot Core images (for the FTDI drivers) I have successfully got everything working with OpenThread running on the CC2538 device, connected to both a Raspberry Pi 2 (ARM) and MinnowBoard MAX (x64).

I'm working out the process to get my changes prebuilt into the IoT Core images, but it might take several weeks or months for it to be in the public images. Once I get all my PRs mer

[2016-11-29 19:02] jwhui commented on #711
Great to hear, awesome work, @nibanks!

[2016-11-29 19:33] beriberikix commented on #711
Awesome! Out of curiosity, are there any usb dongles that you know of that are supported by Windows Iot core with the in the in-box [Usbser.sys](https://msdn.microsoft.com/en-us/library/windows/hardware/dn707976(v=vs.85).aspx)? Cursory research suggests that one _could_ hook up [MCP2200](http://www.microchip.com/DevelopmentTools/ProductDetails.aspx?PartNO=adm00393) to the serial to circumvent the

[2016-11-29 19:49] nibanks commented on #711
The Windows IoT Core image already has the FTDI drivers on it, but I just had to update the INF files to add Texas Instrument's PIDs to it. I know there are a number of other supported devices already. I found this [Serial UART](https://developer.microsoft.com/en-us/windows/iot/Samples/SerialUART.htm) sample that recommends [this device](https://www.amazon.com/gp/product/B00LODGRV8) (down in the '

[2016-11-29 23:15] turon commented on #961
@wbober sorry for the slow response.  I don't have a strong opinion, but my leaning is to leave it in the main openthread repo.  One nice thing about it being part of the main repo is that it is tightly integrated into the continuous integration, which was the original driving goal for the package.

[2016-11-30 02:16] librasungirl commented on #346
c2598bf with Harness 1.1 Beta V1.0
[MED_6_3_2.zip](https://github.com/openthread/openthread/files/620787/MED_6_3_2.zip)

[2016-12-01 08:01] shahab5 opened #1028 "mJoinerRouterChannel must have a value between kPhyMinChannel and kPhyMaxChannel"
Hi,

If the Joiner discovery results are null, then the PHY channel is set to` mJoinerRouterChannel`, which is initialized to zero.

In joiner.cpp
`mNetif.GetMac().SetChannel(mJoinerRouterChannel);`

`mJoinerRouterChannel` should have a value between `kPhyMinChannel` and `kPhyMaxChannel`, shouldn't it?

Thanks,
Shahab

[2016-12-01 08:16] chshu commented on #1028
If discovery failed, the PHY channel shouldn't be set to `mJoinerRouterChannel`, please refer to the `mJoinerRouterPanId != Mac::kPanIdBroadcast` check before the channel set action.

[2016-12-01 09:01] shahab5 commented on #1028
Thanks, I was using an earlier version which didn't have this fix.

Thanks,
Shahab

[2016-12-01 09:01] #1028 closed

[2016-12-01 20:20] nibanks commented on #711
I have added the initial Wiki page for [OpenThread on Windows](https://github.com/openthread/openthread/wiki/OpenThread-on%C2%A0Windows) and just went through the steps on my MinnowBoard MAX connected to a TI CC2538. With these instructions, anyone with a CC2538 already setup and installed should be able to get the device working on any Windows 10 PC.

Though all the code isn't merged yet, I think

[2016-12-01 21:46] #971 closed

[2016-12-01 22:00] #842 closed

[2016-12-02 05:46] librasungirl commented on #1007
Fixed by #1013

[2016-12-02 05:46] #1007 closed

[2016-12-02 05:49] librasungirl commented on #346
[PR1030](https://github.com/openthread/openthread/pull/1030) with Harness V1.1 R31
[Router_5_7_1.zip](https://github.com/openthread/openthread/files/624187/Router_5_7_1.zip)

[2016-12-02 05:50] librasungirl commented on #346
353c3af with Harness V1.1 R31
[Router_5_5_7.zip](https://github.com/openthread/openthread/files/626457/Router_5_5_7.zip)

[2016-12-02 09:47] librasungirl commented on #346
[PR1034](https://github.com/openthread/openthread/pull/1034) with Harness V1.1 R31
[Router_5_3_5.zip](https://github.com/openthread/openthread/files/626801/Router_5_3_5.zip)

[2016-12-02 19:20] bot-zjlu opened #1036 "Some Test cases failed with 'sim' on Ubuntu."
Hi,

We tried to run the Cert. Test cases with commit '7d331844' with Node_Type='sim' on Ubuntu Linux 16-04, and find following problems :

1.  9 test cases (8-1-01, 8-1-02, 8-2-01, 8-2-02, 9-2-04, 9-2-08, 9-2-12, 9-2-13, 9-2-14) failed with following error messages:
======================================================================
ERROR: test (__main__.Cert_8_1_01_Commissioning)
------------

[2016-12-02 21:19] jwhui commented on #1036
For issue (1), how did you configure your build?  Make sure you've enabled both the commissioner and joiner roles.  For example:

[code]

[2016-12-02 21:21] jwhui commented on #1036
@prfi @nibanks, do either of you have experience running [test/scripts/thread-cert/sniffer.py](https://github.com/openthread/openthread/blob/master/tests/scripts/thread-cert/sniffer.py) on Windows?

[2016-12-02 21:45] nibanks commented on #1036
No, I haven't ever run it on Windows.

[2016-12-02 22:05] bot-zjlu commented on #1036
We ran the test cases under '../tests/scripts/thread-cert'  on Ubuntun
Linux with setting NODE_TYPE=sim.

Build with:

$ ./bootstrap
$ COMMISSIONER=1 JOINER=1 make -f examples/Makefile-posix

And we used to pass all the tests on Linux. but recently it no longer work.

On Fri, Dec 2, 2016 at 1:19 PM, Jonathan Hui <notifications@github.com>
wrote:

--
Thanks,

zj

[2016-12-02 22:12] jwhui commented on #1036
FWIW, [Travis runs Ubuntu](https://docs.travis-ci.com/user/ci-environment/) and the most recent build checks [passed](https://travis-ci.org/openthread/openthread/builds/180822524).

How about trying:

[code]

[2016-12-02 22:27] bot-zjlu commented on #1036
it still failed, let me check with latest codes.
.
.
.
make  check-TESTS
FAIL: thread-cert/Cert_5_1_07_MaxChildCount.py
FAIL: thread-cert/Cert_5_2_01_BecomeActiveRouter.py
FAIL: thread-cert/Cert_5_2_04_REEDUpgrade.py
FAIL: thread-cert/Cert_5_2_02_LeaderReject1Hop.py
FAIL: thread-cert/Cert_5_2_03_LeaderReject2Hops.py
FAIL: thread-cert/Cert_5_2_07_REEDSynchronization.py
FAIL: thread-cert/Cert_5_2_06

[2016-12-02 23:22] bot-zjlu commented on #1036
just verify with latest codes with commit: commit
917fd1d4cc77f9bf8d5f41e5d04f4962726266b2

Even I cant run './bootstrap', and it looks python version or some library
are different.

zj@ubuntu164-desktop:~/work/openthread-latest$ ./bootstrap
Unescaped left brace in regex is deprecated, passed through in regex;
marked by <-- HERE in m/\${ <-- HERE ([^ \t=:+{}]+)}/ at
/home/zjlu/work/openthread-late

[2016-12-02 23:34] jwhui commented on #1036
The bootstrap issue is a compatibility issue with automake and newer versions of perl, as noted [here](http://serverfault.com/questions/731539/automake-error-unescaped-left-brace-in-regex-is-deprecated).  You could downgrade to an older version of perl (I'm using 5.18.2).  I'll look into how best to support newer versions of perl.

[2016-12-03 16:43] librasungirl commented on #346
7846200 with Harness V1.1 R31
[REED_5_6_7.zip](https://github.com/openthread/openthread/files/628966/REED_5_6_7.zip)

[2016-12-05 02:16] xiaom-GitHub commented on #346
b11b64 with Harness V1.1 R33
[Leader_9_2_9.zip](https://github.com/openthread/openthread/files/630001/Leader_9_2_9.zip)
[Router_9_2_9.zip](https://github.com/openthread/openthread/files/630002/Router_9_2_9.zip)

[2016-12-05 09:03] mythay opened #1040 "6LBR like smart bridge mode"
I have learned that the IP tunnel is the recommended  communication mode between the host CPU and Openthread device (such as wpantund). It is fine for the CPU which can run complex OS like Linux and Windows, but for resource constraint MCU, it is hard to use.

I know that [6LBR](https://github.com/cetic/6lbr) can support not only tunnel mode, but also other mode. If I use the smart bridge mode, I

[2016-12-05 14:01] beriberikix commented on #346
Am I correct in that this last update signifies that OT is passing all 152 scenarios with V1.1 R33?

[2016-12-05 14:19] jwhui commented on #346
@beriberikix, we have not performed a full regression on R33.  However, we have passed all scenarios on some version of the harness.

[2016-12-05 16:03] wbober commented on #961
@nibanks Not really. I just thought it makes it more visible.
@turon  N/p

Conclusion: let's leave it as is. Reconsider if anyone else asks.

[2016-12-05 16:05] wbober commented on #960
Fixed by #1041.

[2016-12-05 16:05] #960 closed

[2016-12-05 16:59] jwhui commented on #1040
I'm not sure what you mean by "smart bridge" mode, that is not a traditional networking term.  [Bridging](https://en.wikipedia.org/wiki/Bridging_(networking)) is not generally recommended given the resources disparities between Thread and other link technologies like WiFi and Ethernet.  Instead, [routers](https://en.wikipedia.org/wiki/Router_(computing)) should be used to connect Thread networks t

[2016-12-06 02:08] mythay commented on #1040
@jwhui I understand your idea that router is a better way, and I think it is why another famous 6lowpan project Contiki only support slip officially.

But 6LBR provide more choice for border router, the router can be very simple and don't need a powerful host CPU running Linux or windows.

I extract some words and pictures from 6LBR as a brief introduction.

[The original link](https://github.com/

[2016-12-06 02:26] jwhui commented on #1040
Thanks for the pointers.  From what I understand, "SmartBridge" is essentially a marketing term for using IPv6 ND Proxy to bridge IEEE 802.15.4 networks.  Such methods work with RPL non-storing networks because the RPL root maintains state of all devices in its subtree.

In contrast, Thread does not require a single node to maintain state about all devices in the network.  This is by design, to in

[2016-12-06 05:55] #711 closed

[2016-12-06 05:56] jwhui commented on #828
@nirajthakre, I don't have a cygwin setup that I can test easily.  Did you end up resolving this issue?

[2016-12-06 08:03] LuDuda commented on #828
We have managed to build and run OpenThread using cygwin (32-bit version - since this is the only one pre-build in OpenThread's autotools).

One known issue is that arm-none-eabi-gcc does not recognize cygwin's path to the files, but it can be fixed by applying --srcdir option with Windows path to the configure:

e.g.:
`./configure [...] --srcdir="C:/Git/Openthread" --disable-docs`

The another is

[2016-12-06 09:38] mythay commented on #1040
Is there any plan for such features?

[2016-12-06 14:17] nibanks commented on #1036
@jwhui What would be the exact command/process to downgrade to version 5.18.2?

[2016-12-06 14:20] nibanks commented on #828
I do all my work entirely on Windows, but when I need to build OpenThread for Linux I am using the new Windows 10 feature [Windows Subsystem for Linux](https://msdn.microsoft.com/en-us/commandline/wsl/about). If you have Windows 10, I'd suggest going that route.

[2016-12-06 18:30] bot-zjlu commented on #1036
I use perlbrew <https://perlbrew.pl/> to downgrade Perl from 5.22.1 to
5.18.2.  But still failed on bootstrap.  But on Unbuntu-13-04 with Python
2.7.5 and Perl-5.14.2, bootstrap works fine.

========================== screen output
======================================
zj@ubuntu164-desktop:~/work$ cd openthread-latest
zj@ubuntu164-desktop:~/work/openthread-latest$ ./bootstrap
Unescaped left brace

[2016-12-07 01:30] abtink opened #1047 "Prioritization of MLE messages over data and handling of child re-attach"
Summarizing two features:

- Prioritize MLE traffic over data packet. This is particularly important for MLE "Child Id Response" message.

- Current implementation removes the child/neighbor when we recive a "Parent Requst" from it (child tries to re-attahc). This in turn causes all queued data packets for the node to be cleared. It'd be better to keep all the data packets  but clear out the queue

[2016-12-07 03:20] librasungirl commented on #346
[PR1049](https://github.com/openthread/openthread/pull/1049) with Harness V32
[Router_5_3_2.zip](https://github.com/openthread/openthread/files/635601/Router_5_3_2.zip)
[Router_5_6_9.zip](https://github.com/openthread/openthread/files/635615/Router_5_6_9.zip)

[2016-12-07 16:48] librasungirl commented on #346
15eca7c with Harness V32
[Leader_5_3_6.zip](https://github.com/openthread/openthread/files/637197/Leader_5_3_6.zip)
[Router_5_3_9.zip](https://github.com/openthread/openthread/files/637195/Router_5_3_9.zip)
[Router_5_3_10.zip](https://github.com/openthread/openthread/files/637194/Router_5_3_10.zip)
[Leader_5_6_6.zip](https://github.com/openthread/openthread/files/637196/Leader_5_6_6.zip)

[2016-12-07 17:32] bot-zjlu commented on #1036
We tried the './bootstrap' in latest OT sources with Ubuntu_13.10 with
default Python 2.7.9 and Perl 5.14.2, it works.

http://stackoverflow.com/questions/31753737/deprecated-left-curly-bracket-in-perl-regex-exactly-when

Also when set 'COVERAGE != 1' instead of 'COVERAGE ?= 0', the 9 failed
tests with Commissioner response error are passed.

But we still can't run Cert. Tests on Windows platform

[2016-12-08 00:00] jwhui commented on #1040
@mythay, we do not currently have any formal plan for such features.  However, we are always open to contributions.

[2016-12-08 13:16] librasungirl commented on #346
15eca7c with Harness V33
[Router_5_5_2.zip](https://github.com/openthread/openthread/files/639485/Router_5_5_2.zip)

[2016-12-08 17:34] LuDuda opened #1055 "Diagnostic commands"
Currently OpenThread supports some of diagnostic commands (DIAG_GET.req, DIAG_GET.rsp and DIAG_RST.nrf). CLI example exposes command `networkdiagnostic get`, however a response is not populated back (see `NetworkDiagnostic::HandleDiagnosticGetResponse`).

I would like to get those information on CLI at least in raw tlv ASCII format e.g.:
`DIAG_GET.ans: 0102fc00`
So the Openthread public API callba

[2016-12-08 22:23] nibanks commented on #1036
That native test running is only for testing on virtual Windows networking devices. I have not been able to get all the code publicly available for that yet. I hope to in the coming weeks.

[2016-12-09 22:17] jwhui commented on #1036
@bot-zjlu, submitted a proposed fix in #1060.

[2016-12-12 08:38] wbober commented on #1003
Fixed in #1044

[2016-12-12 08:38] #1003 closed

[2016-12-13 05:41] xiaom-GitHub commented on #967
closed this issue via #1061 .

[2016-12-13 05:41] #967 closed

[2016-12-13 16:07] nibanks opened #1067 "sniffer.py Assumes Posix Socket Virtual Environment"
Since `sniffer.py` and the associated functions were added to the certification tests, all tests have been broken on Windows. Extensive effort was put into refactoring `node.py` to allow for the tests to run on both Posix socket version of `otCli` and the `otNodeApi.dll` exposed on Windows.

A solution needs to be found to fix these issues. At the very least we should have the ability to disable t

[2016-12-13 16:45] jwhui commented on #1067
I agree it would be nice for the test suite to support different platforms.  A similar issue was brought up as part of #1036.

@prfi, thoughts?

[2016-12-13 23:22] jwhui opened #1068 "test_ipv6.py: spurious test errors"
We're seeing some spurious test failures on Travis related to `test_ipv6.py`.  Example build log below.

@prfi, can you take a look?

[code]

[2016-12-14 06:23] prfi commented on #1068
I will try to fix this today

[2016-12-14 13:18] prfi commented on #1067
I totally agree that tests should support different platforms. I've made changes that should allow to meet this requirement. Please check my pull request and let me know  if provided modifications are ok or not. If you have any idea how to improve sniffer design also let me know.

[2016-12-14 16:59] jwhui commented on #1068
Fixed by #1072.

[2016-12-14 16:59] #1068 closed

[2016-12-14 17:00] jwhui commented on #1067
Fixed by #1073.

[2016-12-14 17:00] #1067 closed

[2016-12-14 23:52] #828 closed

[2016-12-14 23:52] #1040 closed

[2016-12-14 23:52] #1036 closed

[2016-12-14 23:56] jwhui commented on #137
We currently use the gcc `-pedantic` option to "issue all the warnings demanded by strict ISO C and ISO C++".  More info [here](https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html).  We also have clang, gcc, and Visual Studio build support and checks.

[2016-12-14 23:56] #137 closed

[2016-12-15 17:47] nibanks commented on #828
As a follow up, I have put together a Wiki for explaining how to setup and build everything on Windows [here](https://github.com/openthread/openthread/wiki/Building-on-Windows).

[2016-12-16 21:29] LuDuda opened #1086 "Two-hop loops detection"
I have experimented with large Thread network with OpenThread's nodes that send quite a big amount of application packets. Once in a while i saw loops (A->B->C->B->C->B->C->... ended when mesh hop limit expired). I did some quick code analysis and it looks like there is no two-hop loops detection as per 5.9.6.

[2016-12-16 21:32] jwhui commented on #1086
Good catch!  Would you be willing to add that feature?

[2016-12-18 09:22] LuDuda commented on #1086
Sure, please go on with the fix then! Thanks :+1:

[2016-12-19 15:56] wbober commented on #961
I've experimented with adding dependency on spinel package directly from git. The drawback is that the whole repository, which is quite heavy, must be cloned in order to install the package.

Could we please reconsider a separate repository for spinel? An alternative is to place spinel package in pypi but I don't think it's the best thing to do at this stage.

@turon  Would using the package as a

[2016-12-19 16:27] turon commented on #961
@wbober Submodule works for me.  Would it just go straight into the same tools directory it lives in now?

[2016-12-19 17:04] wbober commented on #961
@turon Yes, I expect so. It would probably require some adjustments to the CI scripts to pull the submodule.

[2016-12-20 04:42] charishmag opened #1093 "Thread Harness - 8.1.1(OMC Joining,no JR,any commissioner,single(correct)) failure issue with ARM mbed Golden device"
Hi,
   Test 8.1.1(OMC Joining,no JR,any commissioner,single(correct)) is failing with ARM: NXP FRDM-K64F with Firefly as a Golden Device, whereas similar test is passing with openthread device taken as Golden device.
   ARM: NXP FRDM-K64F as a golden device is not responding for **Discovery request** from openthread device as a Router.
   Please find the attached image with no response for Discove

[2016-12-20 06:22] jwhui commented on #1093
@charishmag, thanks for pointing this out.  We'll take a look.  Thanks.

[2016-12-22 02:26] #1086 closed

[2016-12-22 18:51] jwhui opened #1100 "OpenThread API Naming Cleanup"
I'd like to clean up the OpenThread API naming.

Some issue I see with what exists today:
- Not grouped by component (although, some examples of grouping by component does exist, such as `otCoap*`).
- Some boolean properties are get/set while others are enable/disable.
- Implementation is in one large file `src/openthread.cpp`.
- API header files use `include/openthread-` prefix, while platform AP

[2016-12-22 18:54] abtink commented on #1100
:+1:

[2016-12-22 18:58] nibanks commented on #1100
That all sounds pretty good to me. Just to confirm, that means you won't be having any more subfolders in `include`?

For your example of `include/ot-api-mac.h` is that supposed to be what currently is `src/core/mac/mac.hpp`?

[2016-12-22 19:43] LuDuda commented on #1100
LGTM :+1:

For boolean properties i would prefer to have one Set function instead of two Enable and Disable.

Also I see that OTAPI and OTCALL keys which were added to support Windows are present only in openthread.h and not with other file like openthread-ip6.h.

@nibanks I believe in `include/ot-api-mac.h `we should have declarations related to MAC functionality from current `openthread.h` and n

[2016-12-22 19:46] nibanks commented on #1100
@LuDuda I agree that `include/ot-api-mac.h` should be that. I just wanted to confirm. I also prefer one set instead of enable/disable.

As for the `OTAPI` & `OTCALL`, the reason I only added it to some is because those are the control interfaces (not datapath related) and are the only ones exposed to user mode. For the sake of completeness though, it doesn't matter to me if we put them everywhere.

[2016-12-22 20:24] turon commented on #1100
I'm a very adamant supporter of the API naming portion of this proposal!

Is the motivation for flattening the include directories to eliminate namespace collisions with things like #include "platform/radio.h"?

[2016-12-22 23:26] jwhui commented on #1100
@nibanks, header files in `include` should only expose public APIs (i.e. those in `openthread.h`).

[2016-12-22 23:27] jwhui commented on #1100
An alternative to the header file naming convention is to add `openthread` to the path instead of the filename.

Client API header files
- include/openthread/[component].h (e.g. `include/openthread/mac.h`)

Platform API header files
- include/openthread/platform/[component].h (e.g. `include/openthread/platform/radio.h`)

[2016-12-22 23:34] turon commented on #1100
I prefer using a top-level directory such as "openthread" or "ot" for header namespace management to the flat, hyphenated ot-module-foo.h model.

[code]

[2016-12-22 23:56] nibanks commented on #1100
I prefer the hyphenated approach so that the file names are generally unique when compared to other libraries.

[2016-12-27 10:29] rlubos commented on #697
This topic seems to be outdated, I think it can be closed.

[2016-12-27 10:29] #697 closed

[2016-12-27 16:06] #820 closed

[2017-01-05 16:56] jwhui commented on #1047
Resolved by #1106.

[2017-01-05 16:56] #1047 closed

[2017-01-05 16:57] jwhui commented on #1055
Resolved by #1099.

[2017-01-05 16:57] #1055 closed

[2017-01-11 13:06] LuDuda opened #1131 "[SED] Forwarding multicast messages"
Currently when Router forwards MPL message to its SED children (destined to Realm-Local All Thread Nodes Address) it does it two times per one message, because MPL does retransmissions.

I don't see how current behaviour could violate Thread Specification, but what do you think about improving the process and forward such messages only once? Right now a second message will be discarded (due to MPL

[2017-01-11 17:09] jwhui commented on #1131
I agree that we should improve the multicast to sleepy behavior.  Please submit a PR, thanks!

[2017-01-12 14:02] #1131 closed

[2017-01-12 16:34] nibanks opened #1137 "Python Tests: No module named 'Crypto'"
I am working on getting the Python tests running on Windows again, since the dependency on the sniffer interface was added. I am coming across a dependency I am lacking but I don't know where/how to install it. Any help would be appreciated.

[code]

[2017-01-12 16:42] jwhui commented on #1137
The package you need is pycryptodome version 3.4.3.   You can install it via the following command.

[code]

I ran into this issue as part of #985.  I agree this should be included in a README or doc somewhere.

For future reference, viewing the Travis [before_install.sh](https://github.com/openthread/openthread/blob/master/.travis/before_install.sh) script is also helpful.

[2017-01-12 16:49] nibanks commented on #1137
Thanks. That seemed to work!

[2017-01-12 16:49] #1137 closed

[2017-01-12 19:16] pvanhorn opened #1139 "DataRequest Poll Timer can become stuck"
The logic in HandlePollTimer and SendMacDataRequest is such that it is possible for the mPollTimer to not be re-started when it should.

If SendMacDataRequest exits with error kThreadError_Already because a DataPoll is already in the SendQueue then the poll timer will not be re-started and the system will not continue to periodically poll.

The solution should likely have all the timer restart log

[2017-01-13 17:30] beriberikix opened #1145 "Programming OpenMote"
For future earthlings trying to flash an OpenMote with OpenThread via the UART, the following worked for me:

* ground the CTS/DI07 pin (labeled on the OpenBase)
* run `~/bin/cc2538-bsl/cc2538-bsl.py -v -e -w -b 115200 -p /dev/tty.usbserial-A9040YSF arm-none-eabi-ot-cli-ftd.bin`. Update the [cc2538-bsl](https://github.com/JelmerT/cc2538-bsl) location and serial port
* try hitting reset once or twi

[2017-01-13 17:30] #1145 closed

[2017-01-13 17:52] nibanks opened #1146 "Python Certification Tests Don't Handle Extra Messages"
When running the Python certification tests on Windows, the interface is open to every application/service that runs on Windows. So, the second it become available many different things try to use it. This is breaking the Python certification tests that assume a 'perfect' scenario of just the messages from the OpenThread stack.

Here is an example of an exception I am getting because the Windows s

[2017-01-16 13:35] prfi commented on #1146
Maybe I'm wrong but I think that assumption is that only OpenThread stacks and sniffer takes a part in the tests. I think that this kind of tests should give an answer if there is no regression in stack behavior and they shouldn't be disturbed by the external services. To be consistent with this assumption I break test always when the unexpected messages appear. Anyhow I have made changes that sho

[2017-01-16 13:52] hubertmis opened #1158 "NextHop is removed when the link is lost."
Let's say there are 3 routers in the mesh: A, B and C. Every router has established link with each other. When router A loses link to the router C it clears C's NextHop field. While it should set C's NextHop to router B (to forward frames to C via B).

[2017-01-16 15:43] nibanks commented on #1146
One of the reasons to test it on Windows is that Windows provides additional stress on the system. Besides that, there is no way to test it on Windows, as an actual network interface, without the entire system being able to bind to it.

[2017-01-17 04:28] bot-zjlu opened #1162 "Failed Cert. Test Caess with Ti-cc2538 DK boards"
We are trying to run Cert. Test cases (not GRL) on 2 TI-CC2538 Boards by adding device management scripts. Now we got following results (for those test cases only request two boards):
1) Cert_6_1_01
2) Cert_6_3_02
3) Cert_6_4_01
4) Cert_6_5_01
5) Cert_6_6_01
6) Cert_6_6_02(DUT as ED and SED)
7) Cert_5_3_01
8) Cert_5_5_01 (DUT as Leader, and Router)
9) Cert_5_8_02

Failed test cases are:
 10) Cert_

[2017-01-17 15:02] rlubos opened #1166 "REED behavior on migration"
In current implementation of OpenThread a REED drops its parent when he hears a MLE Advertisement from higher priority partition, and needs to reattach if the migration fails. According to the spec, it shall only leave it's current partition, after it succeeded in migration. Do we find this as an issue? I can look into it if we agree that it shall be fixed.

[2017-01-17 18:13] jwhui opened #1167 "python tests: Cert_9_2_09_PendingPartition.py spurious failures"
Seemed to be caused by #1155.  I'll take a look.

[2017-01-17 18:14] jwhui commented on #1166
I agree that this should be fixed.  Thanks!

[2017-01-17 18:18] jwhui commented on #1158
I agree that it would be ideal for A to set C's NextHop field to B.  However, routers currently do not maintain the Route TLV received from all neighboring routers.  As a result, A will need to wait until the next MLE Advertisement from B before updating the route to C.

How were you thinking that A could update its route to C?

[2017-01-17 20:18] LuDuda commented on #1158
I think it could be easily done if we follow the Thread Specification and have sort of "link set" and "route set" without maintaining Route TLV from all routers. What i mean is, instead of having `mNextHop `and `mRouteCost `in Router object, we could have sth. like , `mNextHop`, `mNextHopCost`, `mDirectCost`. Then we never set mNextHop to our Router ID, but we keep Router ID of a router that adver

[2017-01-18 03:23] #1167 closed

[2017-01-18 03:32] jwhui commented on #1158
Makes sense to me.  Is one of you planning to submit a PR to address this?

[2017-01-18 06:56] hubertmis commented on #1158
Sorry for too short explanation. I'll create PR.

[2017-01-19 05:31] jwhui commented on #1162
In short, while it is in theory possible to use OpenThread's python scripts with actually hardware, we have not really used them in this way.  As a result, do not expect the python scripts to work well with actual hardware.

The Thread Group Certification Harness is the official test harness used to test a Thread product for conformance and interoperability.  OpenThread's python scripts only imple

[2017-01-19 06:24] bot-zjlu commented on #1162
Thanks for quick response! We do need  a light weight test framewok for our
project before we get official GRL Test Harness. So it works well with some
bug fixing.

We cross check each "Cert. Test Case" against your test results of Harness
Automation, it seems to us there are more  test case in the "Cert Test
Case" than the test results listed on the web.

Thanks,

zj
On Jan 18, 2017 9:31 PM, "Jon

[2017-01-24 03:44] jwhui opened #1196 "[unit tests] test_lowpan.py mesh header test spurious failure"
Noticed a spurious failure on one of the builds.  @prfi, can you take a look?

[code]

[2017-01-24 09:04] MrMashy opened #1200 "Is OpenThread resistant to replay attacks?"
I couldn't find anything relating to it so I'm asking here, How does openThread address replay attacks?

[2017-01-24 18:26] jwhui commented on #1200
OpenThread uses the IEEE 802.15.4 Frame Counter field to guard against replay attacks.  Newly received messages are only accepted if the Frame Counter value is larger than the previously accepted frame.

[2017-01-24 18:26] #1200 closed

[2017-01-24 18:26] jwhui commented on #1196
Fixed by #1199.

[2017-01-24 18:26] #1196 closed

[2017-01-25 21:54] pvanhorn commented on #1139
@jwhui; This issue was resolved by PR: https://github.com/openthread/openthread/pull/1192

[2017-01-25 21:55] #1139 closed

[2017-01-25 21:56] #1162 closed

[2017-01-26 13:41] jwhui commented on #1158
Fixed in #1187.

[2017-01-26 13:41] #1158 closed

[2017-01-27 07:24] #1166 closed

[2017-01-27 12:45] hubertmis opened #1222 "Problem with energy scan (test 9.2.13)"
Test case 9.2.13 is not robust due to CoAP retransmissions:
When node A requests node B to perform energy scan, node A sends CoAP request (CON /c/es) using node B MLEID destination address. Node B sends CoAP response (ACK /c/es) using RLOC source address. Node A cannot match ACK with the request due to address mismatch and it retransmits the request (a few times). Because of retransmissions there

[2017-01-29 06:25] librasungirl opened #1228 "Security Policy B(value 0) doesn't take effect"
Thread spec 8.4.4.2
When the Security Policy B bit is not set (has value 0), the Beacon payload MAY be elided or
have an application specific value.

[2017-01-29 06:32] jwhui commented on #1228
I agree that OpenThread does not currently change its IEEE 802.15.4 Beacon behavior based on the Security Policy B bit.  However, the specification indicates this is a MAY and not a MUST.  Does the harness require this?

[2017-01-29 06:34] librasungirl commented on #1228
No impact. Just noticed this during looking into the 5.8.4 traffic.

[2017-01-29 06:47] jwhui commented on #1222
I agree the RFCs do not provide good guidance.  Regardless, is there a downside to setting the source address of the ACK to be the same as the request's destination address?  This could be done by removing the `memset` on `mSockAddr` before calling `SendEmptyAck()`.  Note that we would only want to do this if the request was unicast.  A multicast request will still need to rely on automatic source

[2017-01-30 06:25] hubertmis commented on #1222
That's right. But there is also a problem with anycast addressing. I came up with idea how to fix it. I'll create a PR.

[2017-01-30 13:58] #1222 closed

[2017-01-30 19:51] nibanks commented on #1146
I just hit another type of failure:

[code]

@prfi, could you take a look please?

[2017-01-31 14:04] hubertmis opened #1233 "Certification test 9.2.8 fails for SED"
When Active Timestamp or Pending Timestamp changes a parent should send unicast Data Response a SED. The Data Response message should contain Network Data (if changed), Active Timestamp and (optionally) Pending Timestamp. If SED detects that it has outdated Timestamps it should send Data Request to the parent. Parent responses with Data Response containing Active Dataset and Pending Dataset.

In c

[2017-01-31 17:03] jwhui commented on #1233
Thanks for pointing this out - I agree we should address this.  Do you have a fix in mind?  Otherwise, I can propose a fix.

[2017-01-31 17:14] hubertmis commented on #1233
I just skimmed the code. I think that removing line 2509 (static const uint8_t responseTlvs[] = {Tlv::kNetworkData, Tlv::kActiveDataset, Tlv::kPendingDataset};) from mle_router.cpp should help. But I didn't verify this solution. I'll be out of office tomorrow and I won't be able to prepare the patch before Thursday. It would be great if you fixed it earlier, but if you have other tasks I'll do tha

[2017-01-31 17:16] jwhui commented on #1233
👍  That's what I was thinking as well.  I'll test it out and see how it goes.

[2017-02-03 15:14] nibanks opened #1254 "Spinel: Add Source Match Radio Functionality"
With recent changes we have added the `otLinkRaw` API and hooked most of it up to NCP and exposed it through Spinel properties. The only APIs left are related to the Source Match functionality:

[code]

I was thinking we could add 3 new properties for this functionality:

`SPINEL_PROP_MAC_SRC_MATCH_ENABLED` to support enabling/disabling, via  the `SPINEL_CMD_PROP_VALUE_SET` command.

`SPINEL_PROP_

[2017-02-03 21:50] pvanhorn opened #1257 "spinel flag packing order for SPINEL_PROP_THREAD_ON_MESH_NETS"
The order and format of how the flags field is unpacked in ncp_base is currently defined locally within the method; NcpBase::InsertPropertyHandler_THREAD_ON_MESH_NETS(...).

This location makes it difficult for host side implementation, as this method must be examined in order to learn the proper format.  Furthermore the maintenance of this order is challenged as the order must be defined at least

[2017-02-04 04:38] jwhui commented on #1257
@darconeous @abtink , thoughts?

[2017-02-04 04:39] jwhui commented on #1254
@darconeous @abtink , thoughts?

[2017-02-06 19:36] abtink commented on #1257
IIRC, the bit flags are specified by thread...
I am fine with these to be defined in either `spinel.h` or maybe even better in an openthread header file (not sure which one though...).

[2017-02-06 19:37] abtink commented on #1254
Sounds good to me.

[2017-02-06 20:19] aeliot opened #1263 "Remove Nest Labs OUI from example code"
Right now both the Posix and the Dialog example code use the Nest Labs OUI (18:B4:30).  Since these are not Nest devices, they should probably not be using that OUI.
I'm not sure if there is a test or example range that should be used instead, more research may be needed.

[2017-02-07 01:27] aeliot commented on #1263
It doesn't look like there are reserved OUI or EUI-64 ranges for development usage.

[2017-02-08 16:28] nibanks opened #1280 "Assert in Thread::Mle::MleRouter::HandleChildIdRequest"
I just hit the following in my testing on Windows:

[code]

The assert is here:

[code]

My guess is that there may be an issue with detaching and still having pending packets to indicate to OpenThread. Here is a dump of the various objects on the stack:

[code]

[code]

[code]

[2017-02-08 17:29] abtink commented on #1280
Thanks for reporting this.
I wonder if we may be keeping the child table when we detach... Otherwise this should have caused an early exit:
`VerifyOrExit((child = FindChild(macAddr)) != NULL, ;);`

[2017-02-08 18:09] nibanks opened #1281 "Joiner::Start Doesn't Copy Vendor Strings"
While running testing I encountered a crash here:

[code]

This is because the `Joiner` class was holding onto the original pointers for the Vendor info passed into `Joiner::Start`. On Windows that was pointing back to memory that had already been freed by the system.

[code]

[2017-02-08 19:01] pvanhorn opened #1283 "Build OpenThread code base for Host system."
A host system, one that communicates to an OpenThread NCP over a bus (UART, SPI), may have need for a modest portion of the OpenThread libraries.  These would include various header files {openthread-types.h, spinel.h, hdlc.hpp}  along with libraries that can be used to unpack spinel frames {spinel.c, hdlc.cpp}.

The request would be to configure Openthread to build for this alternative environmen

[2017-02-08 19:03] nibanks commented on #1283
Isn't this what we do for Windows already? :)

[2017-02-08 19:11] vikoz opened #1284 "Assert in Thread::Message::SetOffset"
Upon testing on Windows I've hit the following during starting of nodes.
[code]

Assert happened in here:
[code]
Parameter value `aOffset = 0x88`
this:
[code]

It has been called from `MeshForwarder::ScheduleTransmissionTask()`
[code]
`i = 0n2`
And children[2]
[code]

[2017-02-08 19:45] pvanhorn commented on #1283
I don't know is it?  how do you configure OpenThread for Windows?

[2017-02-08 19:48] nibanks commented on #1283
All the VS project files build OpenThread into a Window Driver Static Library. That is then built into the otLwf.sys Windows Filter Driver. You can find more info [here](https://github.com/openthread/openthread/tree/master/examples/drivers/windows).

[2017-02-08 19:58] vikoz opened #1286 "Assert in Thread::Mle::MleRouter::BecomeRouter"
Whilst trying to call node.set_state('router') on a node that is a 'leader', the following assert in `ThreadError MleRouter::BecomeRouter(ThreadStatusTlv::Status aStatus)` has been hit:
[code]
dump of 'this':
[code]
My guess is that there should be a check for node being `kDeviceStateLeader`, like these:
[code]

[2017-02-08 20:00] pvanhorn commented on #1283
Yes, it does appear that you have achieved the stated goal for windows.  I would like to achieve the same goal for other platforms as well.

[2017-02-08 20:36] nibanks commented on #1283
Is your goal to completely duplicate the code we have for Windows on other platforms? What platforms specifically?

[2017-02-08 21:52] pvanhorn commented on #1283
We have linux based and RTOS based platforms which act as hosts to ncp devices here at Nest.  These platforms would benefit from the ability to build the small portion of OpenThread for a host based system.  That is spinel.c, hdlc.cpp and perhaps some future ncp_host.cpp to compliment ncp_base.cpp.

[2017-02-09 03:19] vikoz opened #1287 "Assert in MleRouter::ResetAdvertiseInterval"
Whist running test, where the nodes were initialised in 'rsdn' mode, but some of them were starting in 'child' state, the following assert has been failing:
[code]
The error is raising in here (since the state is 'child'):
[code]
Dump of 'this':
[code]
Called from the function `MleRouter::HandleStateUpdateTimer(void)`
in here:
[code]
That if doesn't seem to have checks for 'this' being a child. An

[2017-02-09 03:53] jwhui commented on #1287
Thanks for reporting this issue!  Will propose a fix soon.

[2017-02-09 03:54] jwhui commented on #1286
Thanks for reporting this issue!  Will propose a fix soon.

[2017-02-09 04:49] jwhui commented on #1281
Not copying was intentional to reduce memory requirements.  On embedded devices, we expected these values to be constant and statically declared.  Copying them would require an additional 180 bytes of memory within OpenThread.  Is the existing solution workable for you (with added documentation, of course)?

[2017-02-09 04:57] jwhui commented on #1280
Thanks for reporting this issue! Will propose a fix soon.

[2017-02-09 04:58] jwhui commented on #1284
I believe @abtink is currently working on a fix for this.

[2017-02-09 06:08] librasungirl commented on #1093
Hi @charishmag, this issue should have been fixed recently. Will close it now.
Please retry with latest master branch code and feel free to reopen it if you still have the problem. Thanks.

[2017-02-09 06:08] #1093 closed

[2017-02-09 14:26] #1280 closed

[2017-02-09 14:26] #1287 closed

[2017-02-09 14:26] #1286 closed

[2017-02-09 20:09] vikoz opened #1295 "Division by zero in Thread::Mle::Mle::HandleChildIdResponse"
Whilst testing, I've tried to set ROUTER_SELECTION_JITTER equal to 0. I've got the error due to division by zero:
[code]
in this part of the code:
[code]
And dump of 'this' shows that `mRouterSelectionJitter : 0x0`.

[2017-02-09 20:17] jwhui commented on #1295
Thanks for reporting this issue! Will propose a fix soon.

Note that this API only exists to support the Thread Certification Harness and should not be used by actual Thread products.

[2017-02-09 20:19] vikoz commented on #1295
Btw, there are other places with similar code like this:
[code]
I didn't get error there, but I reckon they're worth to look into.
Also, negative values don't seem to be handled as well.

I understand that API is only for testing purposes, but I just thought checks are always useful...
Thank you.

[2017-02-09 21:11] #1281 closed

[2017-02-10 11:23] GiedriusM opened #1303 "Disabled NCP device sends beacons after pcap mode"
Title says most of it, but more details here:
Two devices, device A in ncp mode, device B in cli (though it can also be ncp).
Device A powered, wpantund launched, state is "offline". Performing scan on device B returns no networks.
Run "wpanctl pcap" for device A; performing scan on device B returns new network:

Cancelling pcap mode does not stop device A from sending beacons in further scans. "w

[2017-02-10 12:16] rmadhuraj opened #1304 "need help to Build the command line openthread.."
HI team,
              i am trying to build the posix example to run on the Command Line , but it is throwing me error like....
       **madhu.r@CPU-245U:~/Downloads/openthread-master$ make -f examples/Makefile-posix**
.
.
.
checking for suffix of object files... configure: error: in `/home/madhu.r/Downloads/openthread-master/build/x86_64-unknown-linux-gnu':
configure: error: cannot compute suffix

[2017-02-10 12:17] #1295 closed

[2017-02-10 12:41] erja-gp opened #1305 "wrong panid used in discovery request."
It looks like the factoryreset, resets the radio (via otPlatReset) but does not reset the panid in the openthread stack.
According to the documentation the factoryreset will “Delete all stored settings, and signal a platform reset.”
Shouldn’t the panid in the openthread stack then also not be set to 0xffff ?

This can result in the wrong panId is used during Joining.
This can be seen during e.g. d

[2017-02-10 14:19] chshu commented on #1305
@erja-gp Which platform are you using? We don't see this issue during Certification test with CC2538.

[2017-02-10 14:37] erja-gp commented on #1305
When I look into the certification test which you mention, I see the same behaviour: please have a look here: https://github.com/openthread/openthread/files/596666/Joiner_8_1_1.zip
If you look at frame number 18, you will see that the destination panid is 0x6688, which I guess should be 0xffff. The certification test does not fail because it doesn't check the panid, but still, I believe that accor

[2017-02-10 16:00] chshu commented on #1305
@erja-gp, Please check the logs of Commissioner_x cases, for example: https://github.com/openthread/openthread/files/596659/Commissioner_8_1_1.zip.

In Joiner_x cases, we could control the DUT manually, which may have different setting process as you mentioned above.

[2017-02-10 16:46] jwhui commented on #1304
Can you provide more information about your system?  What Linux distro are you using?  What version of gcc do you have installed?  Can you also attach the `config.log` file(s) here to see if those provide any clues?

[2017-02-10 16:52] jwhui commented on #1305
The `factoryreset` CLI command should result in calls to `otPlatSettingsWipe()` and `otPlatReset()`.  The latter should cause the entire MCU to reset and go through `otInstanceInit()` again.  Any existing PAN ID setting should be reset to `0xffff` in the constructor.  Can you provide more information on what platform and git commit ID you are using?

[2017-02-10 17:17] #1284 closed

[2017-02-10 17:48] jwhui commented on #1303
Thanks for reporting this issue.  We'll investigate and get back to you.

[2017-02-11 05:00] rmadhuraj commented on #1304
@jwhui
            This is my system info
       **Linux CPU-245U 4.4.0-62-generic #83~14.04.1-Ubuntu SMP  x86_64  x86_64 GNU/Linux**

i attached a copy of config.log file by changing it as .txt file.

[config.txt](https://github.com/openthread/openthread/files/768226/config.txt)

Thanks for your time.

[2017-02-11 15:30] jwhui commented on #1304
Looking at your `config.log` file, this error stands out:

configure:4276: $? = 1
configure:4489: checking whether we are cross compiling
configure:4527: result: yes

It appears that your toolchain has some issues.  In particular, it looks like you are mixing a newer compiler (requiring --m64 instead of just --64) with an old "as" version or mixing your normal toolchain with arm toolchain.

[2017-02-11 17:11] turon commented on #1304
If you are trying to build OpenThread natively on an arm-linux system, you may need to update nlbuild-autotools to know about that toolchain:

[code]

[2017-02-11 17:14] jwhui commented on #1304
@turon, @rmadhuraj is trying to build for x86.  See his post above.

[2017-02-11 17:34] beriberikix opened #1307 "Windows 10 Vagrant VM"
For local testing, I like to use [Vagrant](https://www.vagrantup.com) to spin up different environments. I'd like to do the same for Windows tests, so I don't have to switch between physical machines. Are there free images for testing/development? I've used the [Edge VMs](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/) in the past for browser testing but not sure about the terms o

[2017-02-11 18:23] nibanks commented on #1307
What exactly do you want to test with the Windows VM? Do you want the virtual Thread environment I use to run the Python cert tests?

[2017-02-12 13:44] beriberikix commented on #1307
Yup, pretty much. It would also be nice to be able to run any other toolchains that are built for Windows. None do at the moment but potentially some future platforms only build and program on Windows.

[2017-02-12 16:53] nibanks commented on #1307
The virtual Thread environment I use relies on the latest Windows 10 image, not yet completely released (though I believe most of it is available via the Preview images). I will see what options I have for sharing out a VM for use.

[2017-02-13 04:45] rmadhuraj commented on #1304
Thanks @jwhui @turon ,

               so can you please tell me the possible solution?

[2017-02-13 04:50] jwhui commented on #1304
@rmadhuraj , please try upgrading your GCC toolchain to something newer (e.g. 4.9, 5, or 6).  That should help resolve the `as` issue I mentioned in my previous post.

[2017-02-13 06:15] jwhui opened #1309 "Spurious failures in 5.1.x tests."
I've been noticing an increased rate of spurious failures in the `Cert_5_1_xx.py` tests.

The tests always seem to succeed in the `state` checks, but fail on the message/sniffer check.  Example output:

[code]

Some full travis logs attached:
- [cert_5_1_1.txt](https://github.com/openthread/openthread/files/770238/cert_5_1_1.txt)
- [cert_5_1_11.txt](https://github.com/openthread/openthread/files/7

[2017-02-13 12:21] prfi commented on #1309
I will check that and I will try to fix.

[2017-02-13 13:14] erja-gp commented on #1305
OK, I see. I'm not calling the constructor because I didn't restart the main function. I'll see how I can fix this.
I had created a branch 13 days ago:
https://github.com/qorvo-erja/openthread/commit/260c7e6a953eb87805c410a461921ee0421e568d
My platform consists of a Qorvo GP712 radio which is connected to a raspberry pi and I'm transferring the CLI commands from the Test Harness to the pi over a s

[2017-02-13 14:08] rmadhuraj commented on #1304
hi @jwhui
                i tried with 6.2 and 4.9 . still i am unable to resolve issue. i tried removing the tool chain and reinstalling the tool chain. Now i am not able to compile even simple c program. sorry , i think i am letting you to think more.

**madhu.r@CPU-245U:~$ gcc p1.c
as: unrecognized option '--64'**

thanks.

[2017-02-14 07:48] rmadhuraj commented on #1304
HI @jwhui

 i updated the gcc tool chain to gcc to gcc-6. and reinstalled the arm-gcc- tools.

also the important thing is that initially In my .bashrc file i had set many PATHS to different versions/copies of arm-gcc-none-eabi... so then i commented them and kept only one default PATH..

thanks for all the above commentS .everything helped me.
Thank you
R Madhu.

[2017-02-14 07:51] jwhui commented on #1304
@rmadhuraj, great to hear and thanks for the update.

[2017-02-14 07:51] #1304 closed

[2017-02-14 09:10] hubertmis opened #1316 "Data Request flooding when Operational Dataset changes."
When Operational Dataset changes Leader sends unsolicited Data Response to all neighbor Routers containing new Timestamp value. Every Router in response sends Data Request to get new Dataset. The problem is that all Routers send Data Request at once that causes packet collisions.
I'm not sure if MLE_MAX_RESPONSE_DELAY jitter should be used in this case to prevent packet collissions.

[2017-02-14 13:03] GiedriusM commented on #1303
On a somewhat related note: when should cli mode start answering to beacon requests? After **ifconfig up** or after **thread start**? I expected it to be after the latter, but it appears to be after the former.

[2017-02-14 22:33] jovergar opened #1320 "Commissioner/Joiner Router port usage is incorrect in Joiner Authentication"
According to the the 1.1 spec, during the Joiner Authentication process, the Joiner Router should send to the Border Agent from an ephemeral port to port MM (61631), and should receive replies from the Border Agent on this ephemeral port.

joiner_router.cpp is not listening on this ephemeral port after sending the RLY_RX. Further, the Commissioner is then processing the DTLS-ClientHello and sendin

[2017-02-14 23:04] jwhui commented on #1320
Thread 1.1 Section 8.7.1.2 indicates that the RLY_TX.ntf message from Border Agent to Joiner Router is sent to the MM port.  Based on Thread 1.1 Section 10.3.1, I believe the intent is for all CoAP Request messages to have a well-known destination port.  Can you indicate where the spec indicates that RLY_TX.ntf messages are sent to the ephemeral port?  Maybe you found an inconsistency in the spec.

[2017-02-14 23:12] nibanks commented on #1320
According to Figure 8-5 (page 223 in Thread 1.1) the RLY_TX should from the MM port, but be sent to `UDP destination port: Eph(3)`. This seems to indicate the Spec has contradicting information.

The reason Jorge encountered this is because he is adding the Windows Border Agent code.

[2017-02-14 23:15] jovergar commented on #1320
I hadn't looked at 8.7.1.2 that you pointed out. Another figure that I hadn't examined too closely was 8.4.7.4.1, which agrees with the current implementation. So we have 2 sources that agree with the current implementation and that disagrees.

[2017-02-14 23:19] jwhui commented on #1320
Yes, I agree that Chapter 8 is inconsistent regarding this.  Please file a SPEC JIRA so that the Thread Group's Errata Committee can work to resolve this.

[2017-02-14 23:30] jovergar commented on #1320
@jwhui I'm not familiar with that process, where would I file this?

[2017-02-14 23:50] jwhui commented on #1320
The Thread Group JIRA portal is at https://threadgroup.atlassian.net/

Let me know if you'd like me to file the JIRA on your behalf.

[2017-02-15 00:31] jwhui commented on #1316
While the Thread spec does not clearly specify this behavior, I think it makes sense to apply `MLE_MAX_RESPONSE_DELAY` to MLE Data Requests sent in response to a multicast MLE Data Response.  Would you like to propose a change?

[2017-02-15 01:55] jovergar commented on #1320
@jwhui I don't have access to that group, could you please file it? Thanks.

[2017-02-15 07:32] hubertmis commented on #1316
Yes. I'll do that.

[2017-02-15 07:32] jwhui commented on #1316
Thanks!

[2017-02-15 17:15] jwhui commented on #1309
Fixed by #1324.

[2017-02-15 17:15] #1309 closed

[2017-02-15 17:45] #1316 closed

[2017-02-15 20:39] jwhui commented on #1320
I have created [SPEC-701](https://threadgroup.atlassian.net/browse/SPEC-701).  Thanks for finding this spec issue!

[2017-02-15 20:39] #1320 closed

[2017-02-17 03:10] vikoz opened #1336 "Packet dropped due to kThreadError_NoBufs when address is not in the Cache"
During testing on Windows I've hit a weird problem with ping. I was wondering if that's my wrong understanding or if there's a bug. Could you please help me with this?
I've created a network with 27 devices (15 of them - children, other - routers).
Then I tried to ping each router from every other. Leader 0 succeeded in doing so with all routers except for the last one - 26.
Router 26th addresses

[2017-02-17 04:44] jwhui commented on #1336
Thanks for identifying this issue.  The Address Cache should have an eviction policy when it becomes full.  I'll work on getting an LRU eviction policy implemented.

[2017-02-17 15:24] Gr3yh0und commented on #1145
@beriberikix, Did you try to access the OpenMote via serial? I have got two OpenMotes based on the OpenUSB Board and Contiki is running fine with serial access. But I do not get any output with Openthread. As far as I've checked OT also uses the GPIO Pins 0/1 for TX/RX.

[2017-02-18 16:09] beriberikix opened #1345 "Dealing with different versions of ARM embedded gcc for examples"
Different examples have different required versions of ARM embedded gcc. For example, most work fine with 4.9.x but both the cc2650 and da15000 recommend 5.4.x. The standard package manager per platform (brew, apt-get, etc.) don't have a standard way to install multiple versions of the ARM gcc, making it difficult to switch between platforms. Although that might not be typical among most users, is

[2017-02-18 16:18] jwhui commented on #1345
My general process for dealing with multiple versions of tools on Linux is simply to install them into different paths.  For example, I have:

[code]

Then I simply configure my `$PATH` to point to the proper directory when compiling.

Alternatively, if you look in each of the example convenience Makefiles (e.g. [examples/Makefile-cc2538](https://github.com/openthread/openthread/blob/master/exampl

[2017-02-18 16:20] beriberikix opened #1346 "Examples should output to unique directory"
The posix example creates a unique folder in the `output` directory, like `x86_64-apple-darwin` on a mac. The other platforms examples dump their binaries into the `bin` folder, overriding previous builds from potentially different platforms. Can we move to unique platform-specific directories in `output`? Ex. `output/cc2538/bin.` It would be even better to have devkit-specific directories but tha

[2017-02-18 16:33] jwhui commented on #1346
I'll take a look.

[2017-02-18 20:47] beriberikix commented on #1345
Fair enough :) I hacked together a little [shell script](https://gist.github.com/beriberikix/9d34d4d2a57baa2d360c920912190c08) because I'm lazy. Hopefully it would be useful for someone else.

[2017-02-18 20:47] #1345 closed

[2017-02-20 15:06] LuDuda opened #1351 "DNS support in OpenThread"
From application point of view, one of the most important core module in IPv6 stack is `DNS`.
What do you think about providing a simple implementation of it that works on `AAAA `records (IPv6 only) to OpenThread?

If so i am willing to implement it as an optional module (like we do with CoAP/DHCPv6 right now).

[2017-02-20 16:59] jwhui commented on #1351
Supporting DNS would be a great addition!  Looking forward to your contribution.

[2017-02-20 21:19] GiedriusM opened #1353 "Questionable CoAP behaviour in sleepy devices"
Couldn't think of an informative title, so I'll try to describe the situation. I have a router and end-device(s) setup. End-device has rxOnWhenIdle set to false, therefore it receives data using MAC data request frames. From time to time this device sends various CoAP requests (both confirmable and non-confirmable) to a server and expects a response. There are two scenarious/problems that happen:

[2017-02-20 23:29] nibanks opened #1354 "Assert in MleRouter::HandleStateUpdateTimer"
I was running through the Python cert tests and encountered this assert:

[code]

Callstack:

[code]

A dump of the MleRouter object and the child that asserted:

[code]

[2017-02-21 00:44] jwhui commented on #1354
Thanks for reporting this issue.  I'll take a look.

[2017-02-21 01:19] jwhui commented on #1354
Just submitted #1355.  Can you check if that resolves this issue?  Thanks.

[2017-02-21 06:09] hubertmis commented on #1353
I had the same problem but i solved it in the application code: after sending CoAP request set PollPeriod to small value like 500ms, in CoAP response handler reset PollPeriod to value used in your application.
I think this should be handled by the application. Not "hacked" in CoAP or MAC layer.

[2017-02-21 07:42] jwhui commented on #1336
I submitted #1358 to address this issue.  @vikoz, can you check if #1358 resolves this issue?

[2017-02-21 08:25] GiedriusM commented on #1353
Setting poll period works and at least for the time being I'll use it, but to me it feels a lot like a workaround, rather than a solution.
First, because it's somewhat inefficient - CoAP retries with exponential delays, and so would the number of MAC data request frames (in case no CoAP response is received).
Second, it forces you to constantly control MAC layer from even higher layer.
Third, this

[2017-02-22 01:14] beriberikix opened #1366 "Move updated wiki sitenav"
@betsyl-at-google has a draft of a [new sitenav](https://github.com/openthread/openthread/wiki/OpenThread-Docs) for the wiki that's more useful than we have now. Should we integrate it into the wiki home page?

[2017-02-22 01:21] beriberikix commented on #1366
On second thought, and probably the more obvious one, we could replace the existing sidenav.

[2017-02-22 17:06] #1354 closed

[2017-02-22 17:16] #1336 closed

[2017-02-23 00:29] betsyl-at-google commented on #1366
Let me know if you want my help with this.

On Tue, Feb 21, 2017 at 5:21 PM, Jonathan Beri <notifications@github.com>
wrote:

[2017-02-23 00:56] beriberikix opened #1375 "Update makefile for cc2650 example to default to MTD"
@srickardti can we update the make file for the cc2650 to default to only building the cli-mtd? Currently running `make Makefile-cc2650` tries to also build the FTD build and blows up.

[2017-02-23 01:26] srickardti commented on #1375
I'll make MTD only builds the default and add a configuration option to build the ncp.

[2017-02-23 03:02] chshu commented on #1375
How about to add a new build option **--enable-ftd**, then platform without this build option will not build cli-ftd (including libopenthread-ftd.a), and the build option will also helps to exclude some unused features from MTD build (#1361). @jwhui , May I know your opinion?

[2017-02-23 08:22] darconeous commented on #1254
Correct, there is no requirement for a GET.

Can you point me to an explanation of what exactly this source match functionality does?

If this capability has 802.15.4 PIB registers associated with it, I wonder if perhaps it might make sense to use the appropriate register from the [`PROP_15_4_PIB`](https://github.com/nibanks/openthread/blob/982ecdab9ebe05705eeafea1fd6dafcbe9ee02e1/src/ncp/spinel.h

[2017-02-23 08:25] darconeous commented on #1254
Hmm, yeah, not knowing what this functionality is, I don't see anything that looks similar in the 802.15.4 MAC PIB. :(

[2017-02-23 08:44] rlubos opened #1377 "Question about Joiners management in Commissioner"
I have a question regarding Commissioner and Joiners management. Current implementation seems to only support manual Joiner removal. It seems quite inconvinient to remove it manually anytime Joiner attaches, otherwise the buffer for Joiners gets filled up easily.

I would like to introduce some automation to the Joiner removal process, and I see two options to implement it:
1. One option is to imp

[2017-02-23 08:58] jwhui commented on #1254
The goal of this enhancement is to export the [radio source match functionality](https://github.com/openthread/openthread/blob/master/include/platform/radio.h#L256) via Spinel.  Many IEEE 802.15.4 radios implement hardware generated ACKs and use a table of short and extended address entries to indicate when to set the Frame Pending bit in hardware generated ACKs.  While common across many radio im

[2017-02-24 13:15] hubertmis commented on #1377
I like option 1. I would consider adding OpenThread API to enable/disable automatic Joiner removal.

[2017-02-24 15:04] nibanks commented on #1377
I would also vote for option 1.

[2017-02-24 18:10] #1375 closed

[2017-02-27 01:53] jwhui commented on #1377
Thanks for proposing this enhancement!  I also prefer Option 1.  I think we should make the timeout mandatory (users can always add a long timeout if they wish).  I am also fine with removing the Joiner after sending the Joiner Finalize Response.  However, if/when OpenThread supports application-layer provisioning through the DTLS session, we may need to add hooks so that the application can indic

[2017-02-27 17:57] nibanks opened #1394 "Endless MAC Poll Timer"
I'm not exactly sure how I got into this state, but I think it happened when I `thread stop` and `ifconfig down` on an `otInstance`; possibly while there was an outstanding Transmit. My Windows device got into a tight loop endlessly starting a 0 ms timer:

[code]

I don't have any other logs than these. Just 100 MB of those logs, collected in a matter of a minute. It rendered the machine completel

[2017-02-27 18:07] nibanks commented on #1394
I have confirmed that `thread stop` is what puts the machine in this state.

[2017-02-27 18:11] pvanhorn commented on #1394
The poll timer will certainly reset when there is already a datarequest in the sendqueue.  Its a bit of a mystery as to why the mPollPeriod == 0?  I wonder if as part of calling Thread stop or ifconfig down, the MeshForwarder class re-initialized via its constructor (mPollTimer is initialized to 0 there)? The logic in MeshForwarder::Stop looks like it should solve this issue as it calls mPollTimer

[2017-02-27 18:17] pvanhorn commented on #1394
Perhaps you have an order of operations issue.  It looks like if your code executed the MeshForwarder constructor before calling MeshForwarder.Stop() you could find yourself in the situation that you describe.  MeshForwarder.Stop() is called by Thread::Down().  I wonder if thread stop is calling the constructor?

[2017-02-27 18:18] nibanks commented on #1394
I put a break point on `otlwf!Thread::MeshForwarder::Stop` and it was not hit when I executed `thread stop`. My repro is to run the following with only one device:

[code]

And when `thread stop` is executed there is a pending transmit, if that makes any difference.

[2017-02-27 18:19] pvanhorn commented on #1394
Should the proper order be ifconfig down followed by thread stop rather than the other way around?

[2017-02-27 22:03] nibanks commented on #1394
I don't think calling either order should cause this kind of behavior. But I still believe `thread stop` should be called before `ifconfig down` anyways.

[2017-02-27 22:39] LuDuda commented on #1394
I believe this is the path of the problem:

`otThreadStop` -> `Mle::Stop` -> `Mle::SetStateDetached` -> `MeshForwarder::SetRxOnWhenIdle(false)` -> `mPollTimer.Start(mPollPeriod)`

PollTimer is started with uninitialized mPollPeriod of 0.

I think this has been introduced here: https://github.com/openthread/openthread/commit/63b78808c356ea86904991dbf9f4b590f81e0593

The previous version called SetR

[2017-02-28 00:33] pvanhorn commented on #1394
I agree with @LuDuda that code alone is always going to be a problem.

[2017-02-28 01:40] jwhui commented on #1394
@nibanks, thanks for reporting this issue!

@LuDuda, good catch!  Do you already have a fix?  If not, I can propose one soon.

[2017-02-28 12:00] LuDuda commented on #1394
Yes i will try to propose an easy fix.

[2017-02-28 15:08] beriberikix opened #1398 "cc2650 and sniffer.py"
What is required to use the cc2650 with the [sniffer.py](https://github.com/openthread/openthread/blob/master/tools/spinel-cli/sniffer.py) tool? I flashed the latest NCP bin (thanks again @srickardti @chshu!) and plugged in a usb cable. However, since the port is connected to the JTAG debugger and not your typical usb2serial, I don't know how to tell `sniffer.py`which connection to use. Can the XD

[2017-02-28 15:24] beriberikix commented on #1398
Nevermind, user error! The device shows up correctly as a usbmodem and I was able to pipe data to wireshark.

[2017-02-28 15:24] #1398 closed

[2017-02-28 16:00] turon commented on #1398
Glad you were able to figure it out!

Just for reference, the various connection methods are supplied in `tools/spinel-cli/spinel/stream.py`.  Currently supported connection methods are uart, socket, and pipe.  More methods could be added if they are determined to be useful.

[code]

[2017-02-28 16:33] jwhui commented on #1398
I believe the issue was more about how the CC2650 presents its serial interface, rather than how to use `sniffer.py`.

[2017-03-01 05:52] #1254 closed

[2017-03-01 17:45] LuDuda opened #1405 "Assert in network_data_leader_ftd.cpp"
I got assert inside `network_data_leader_ftd.cpp`

`network_data_leader_ftd.cpp:818: ThreadError Thread::NetworkData::Leader::RemoveRloc(uint16_t): Assertion false failed. Aborted (core dumped)`

This happens when Border Router that is already a native commissioner tries to register a prefix. I am working on that right now, i see that we have probably too many asserts in this file, i am trying to

[2017-03-01 17:49] jwhui commented on #1405
I agree we should remove the asserts that check for unknown TLVs.  Those are left over from initial implementation and validation.  For backwards compatibility, the implementation needs to be able to handle unknown TLVs in case new ones are defined in the future.

[2017-03-01 17:49] pvanhorn commented on #1405
Asserts during project development and debug are usually a good way to quickly catch and fix bugs.  Asserts in release code however are bad news if the error in question can be survived.  Perhaps what we need is a configurable macro that can take on the behavior of an assert during development and that of a simple error code return inside production code?

[2017-03-01 17:54] LuDuda commented on #1405
@jwhui @pvanhorn Thanks for feedback. I have in my local branch version that replaces assert with `kThreadError_Parse ` error but i  see for backwards compatibility we should probably just remove them then, right?

[2017-03-01 17:59] jwhui commented on #1405
Yes, I think it makes sense to simply skip over TLVs when possible.

I think a good general rule of thumb for TLV processing is to "be liberal in what you accept".  Of course, there are cases where the Thread spec requires more strict rules, but where those cases are not specified, we should be more liberal.  I believe this should lead to an overall more robust networking solution, especially when

[2017-03-01 22:03] #1394 closed

[2017-03-01 23:36] #1405 closed

[2017-03-02 01:52] pvanhorn opened #1407 "Platform Tx Power API"
There currently does not exist a mechanism by which Openthread can initialize the TxPower used by the platform for frames other than those that OpenThread transmits explicitly.  Consider ACK frames which are typically generated by either the hardware or radio driver in response to received frames.  The TX power used for these auto-generated frames must be configured.

It is proposed that the otSet

[2017-03-02 03:12] vikoz opened #1408 "Drop of packet due to invalidated neighbours"
When I run some test on Windows, my ping function fails. Usually after number of nodes is ~20 or more. They are all in router states, and they're neighbours of one another.
After debugging a bit, it appeared that the reason of failure lies in `Mac::ReceiveDoneTask` here:
[code]
When I looked into why neighbor is NULL, I found out that `this->mNetif->mMleRouter->mRouters` has all of its records (ak

[2017-03-02 05:52] jwhui commented on #1408
Thanks for reporting this issue.  Do you have OpenThread logging enabled?  If so, can you provide any log output?

[2017-03-02 08:22] wbober opened #1410 "Out-of-tree platform implementation"
The current source code organization doesn't allow for out-of-tree implementation of a platform. This is because flash.h is not part of the public API and settings.cpp are not included in the library.

Is there any strong reason to hide them? If not then I propose to:
a) move flash.h from examples/platforms/utils to include/platform (changing prefix name from util* to ot*) b) move settings.cpp fro

[2017-03-02 10:04] jwhui commented on #1410
We originally had `otPlatFlash*` APIs as you are suggesting here.  OpenThread switched to the current model with #889.  The argument was that use of `otPlatFlash*` APIs were implementation and platform specific, whereas OpenThread platform APIs are intended to be implementation and platform agnostic.  In this case, the `settings.cpp` file was an implementation of `otPlatSettings*` that flash-based

[2017-03-02 10:09] jwhui commented on #1407
I agree that OpenThread needs to support configuring the "default" transmit power at the radio level.  Your proposal seems reasonable to me.

[2017-03-02 10:17] hubertmis commented on #1407
:+1:

[2017-03-02 10:17] LuDuda opened #1411 "Segmantation fault in network_data_leader_ftd.cpp"
By accident I got `Segmentation fault` in network_data_leader_ftd.cpp.

How to reproduce:

Node 1 (Leader):
[code]
Node 2 (Router):
[code]

When Leader gets Server Data it throws:
` Segmentation fault (core dumped)`

The reason is memcmp here: https://github.com/openthread/openthread/blob/master/src/core/thread/network_data_leader_ftd.cpp#L523

I did verifiy that both pointers (`hasRoute `and retu

[2017-03-02 10:35] jwhui commented on #1411
Thanks for reporting this issue.  I'll take a look.

[2017-03-02 10:38] wbober commented on #1410
@jwhui Thanks. Ok, I understand the motivation. Maybe we could make the flash.h API public but put it, for example, to `include/utils` rather than to `include\platform`? This way it would be still clear what API must be implemented for a platform but one could use the settings implementation if he wanted to.

[2017-03-02 17:55] #1411 closed

[2017-03-02 19:45] vikoz commented on #1408
I do have some logs, though they seem not quite complete... Anyway, I have attached output from my test along with the OpenThread logs.
[logs.zip](https://github.com/openthread/openthread/files/814875/logs.zip)

[2017-03-02 20:20] vikoz commented on #1408
I do have some logs, although they seem to be not complete. Anyway, I have attached output from my test along with OpenThread driver's logs.
[logs.zip](https://github.com/openthread/openthread/files/814993/logs.zip)

[2017-03-02 22:40] jwhui commented on #1408
Thanks for providing the logs.  I looked through them, however I am not able to make much sense of them.

Some observations:
- All "drop not neighbor" log entries occur around 09:42:15.
- Coincidentally, all "delete router id" log entires also occur around 09:42:15 on thread 05F8.
- There is a big time gap in the log:

[code]

Can you help provide some background on the log and test scenario?

[2017-03-03 00:22] nibanks commented on #1307
I hope to be sharing out a Windows 10 VHD soon that you can use, in conjunction with the [instructions on the Wiki](https://github.com/openthread/openthread/wiki/OpenThread-on%C2%A0Windows), to run though all the Python certification tests. I hope that will satisfy your requirements!

[2017-03-03 17:52] abtink opened #1424 "Retranmissions to a sleepy child"
The spec requires that if the tx of an indirect frame (frame to a sleepy child) fails, the sender re-transmit the frame following the reception of a new data request command (a new data poll) from the sleepy child.

This issue is to track the implementation of this feature in OpenThread.

[2017-03-03 19:01] turon opened #1425 "Build: Compiling openthread should not cause build machine to reboot."
I have a fairly stock Ubuntu 16.04 virtual machine that would reboot randomly whenever I would initiate the the stock make commands to build an OpenThread example platform, i.e. the `make -f examples/Makefile-posix` method.

I've isolated the root cause to the large default values for the number of build jobs (`BuildJobs ?= 99`).  I plan to submit a PR to resolve this.

We probably want the defaul

[2017-03-03 19:02] jwhui commented on #1425
Are others experiencing this problem?

[2017-03-03 19:06] jwhui commented on #1425
FWIW, Travis uses Ubuntu Trusty VMs (which should be 16.04).

[2017-03-03 19:25] pvanhorn commented on #1407
@jwhui This can be closed.

[2017-03-03 19:26] jwhui commented on #1407
Fixed by #1417.

[2017-03-03 23:58] vikoz commented on #1408
Yes, neither could I make much sense of them. I am currently working on making them clearer, and then parsing them and separating for different nodes. Thing is that there are multiple nodes running on one machine and logs are mixed for all of them. Yes, they could be distinguished by thread id, but this is a complicated way. So, I will provide you with another log file shortly. But it takes long t

[2017-03-04 16:14] wbober commented on #1425
@jwhui @turon  I use Arch based VM exclusively. I don't have any issues with building for NRF52840 and I don't recall to have any with Posix builds (although I haven't tried for some time).

[2017-03-05 08:06] Gr3yh0und commented on #1425
Haven't seen this on Debian Stretch yet ...

[2017-03-07 17:35] beriberikix commented on #1366
@betsyl-at-google @jwhui can you review the proposed nav I just staged at the wiki?

[2017-03-07 18:39] nibanks commented on #1366
Would it be ok to add a link to [Building on Windows](https://github.com/openthread/openthread/wiki/Building-on-Windows) to either the [Getting Started](https://github.com/openthread/openthread/wiki/OpenThread-Docs#get-started) or [Build Tools](https://github.com/openthread/openthread/wiki/OpenThread-Docs#build-tools) sections? Also, I'm not sure where we should link in the [OpenThread on Windows]

[2017-03-07 18:40] jwhui opened #1435 "settings: handling compatibility between different versions"
As raised by @nibanks in #1423, we need to establish some method for handling different versions of settings stored using the `otPlatSettings*` API.  This issue is solicit thoughts around what method to use.

As a starting point, it seems like backward compatibility is required to allow migration from an older version of OpenThread to a newer version.  However, is forward compatibility also requir

[2017-03-07 18:44] beriberikix commented on #1366
How about Building on Windows under Getting Started and OpenThread on Windows in the Platforms page?

[2017-03-07 18:45] nibanks commented on #1366
Works for me. Thanks.

[2017-03-07 19:41] pvanhorn commented on #1435
We can never be sure what the life cycle of a product will require, but I think its fair to imagine that some product will have a need for forward compatibility. Perhaps it needed to revert a distribution and that might entail forward compatibility support.  I think your rule about never removing structures is spot on. If we are storing sequence numbers we may also need to store those in multiple

[2017-03-07 19:58] nibanks commented on #1435
While my personal preference is to use explicit version numbers, but I am fine if we decide to use the model of "only add properties" and update the code to account for a variable being missing, and set some default.

But if we do encounter a scenario where we have to delete, then our only recourse will be to start using a new ID, right? How do we go about migrating the data from the previous ID t

[2017-03-08 13:19] #1377 closed

[2017-03-08 20:36] #1425 closed

[2017-03-09 08:08] hubertmis opened #1444 "Test case 9.2.12 problem"
When nodes listening on a channel receive MLE Announce with greater Active Timestamp and other channel, they send simultaneously Parent Request message on the other channel. It causes packet collisions. Perhaps there should be jitter when sending Parent Request in response to the Announce message.

[2017-03-09 12:09] hubertmis opened #1446 "OpenThread deinitialization"
When OpenThread is initialized it takes some peripherals. It is not possible to deinitialize the OpenThread stack and use taken peripherals by other modules. It seems to be a good idea to provide termination function that releases OpenThread resources if an application don't use Thread connectivity continuously.

[2017-03-09 16:56] jwhui commented on #1446
We have an [`otInstanceFinalize()`](https://github.com/openthread/openthread/blob/master/include/openthread/instance.h#L197) function that is intended to serve this purposes.  Maybe that implementation needs to be extended to support your use cases?

[2017-03-09 18:56] nibanks commented on #1307
I have a VHD prepared and shared. I just need folks who are interested to email me (`nibanks`) `@microsoft.com` and I can give them explicit permission to download the 3.6 GB ZIP of the VHD and corresponding EULA.

[2017-03-09 23:03] beriberikix commented on #1307
Thanks @nibanks! Did you find out if there's hosted (even timeboxed) VM like the ones used for Edge testing? Can those VM be used for testing OT?

[2017-03-09 23:20] nibanks commented on #1307
This is the only VM that you will be able to use to run the Python certification tests with. It has some additional test drivers to expose virtual Thread interfaces.

[2017-03-10 02:24] beriberikix commented on #1307
Okay! I think I can close this out. Between the option to email you for a VM and the [build instructions](https://github.com/openthread/openthread/wiki/Building-on-Windows) you already posted, everyone should be covered. Thanks again.

[2017-03-10 02:24] #1307 closed

[2017-03-10 02:25] #1366 closed

[2017-03-10 06:42] hubertmis commented on #1446
I meant something like `PlatformDeinit()`. Maybe I'll just implement it and create a PR. We'll discuss there.

[2017-03-10 06:50] #1228 closed

[2017-03-10 13:44] LukaszGolonkaTieto commented on #1444
I am able to reproduce that issue.

[2017-03-10 18:18] jwhui commented on #1444
Thanks for reporting this issue!  This is yet another place where a message is sent in response to receiving a multicast message.  In general, I believe we should be applying jitter to all messages sent in response to receiving a multicast message.  @hubertmis, would you like to propose a fix?

[2017-03-10 18:19] jwhui commented on #1424
Resolved by #1432.

[2017-03-10 18:19] #1424 closed

[2017-03-10 18:21] jwhui commented on #1410
@pvanhorn, as author of #889, can you provide input here?

[2017-03-10 18:21] #1407 closed

[2017-03-10 18:24] jwhui commented on #1146
@nibanks, is this still an issue for you?

[2017-03-10 18:40] pvanhorn commented on #1410
As long as flash.h remains somewhere under examples, I have no objection.  If you are suggesting to move flash.h back into the core of openthread, then I have some concerns as that is not an API that we intend to have Openthread ever use directly.  Openthread loses interest after the otSettings API. Truth be told there is no expectation that setting should even reside in flash.  It may be stored i

[2017-03-10 18:52] jwhui commented on #1100
Resolved in #1173.

[2017-03-10 18:52] #1100 closed

[2017-03-10 18:53] jwhui commented on #1263
Any suggestions on what OUI to use?

[2017-03-10 18:55] nibanks commented on #1146
I still get those errors, but I silently ignore them. I'd prefer the code that handles the parsing didn't throw the exception, but I'm not blocked by it.

[2017-03-10 18:56] jwhui commented on #1146
@prfi, thoughts?

[2017-03-10 18:58] pvanhorn commented on #1263
Can/should Openthread register its own OUI?  too expensive?

[2017-03-10 19:14] turon commented on #1263
Looks like public OUI is a one time fee of US $2,735.

http://standards.ieee.org/develop/regauth/oui

[2017-03-10 19:18] jwhui commented on #1263
I'm not yet convinced we need to register a new OUI.  Instead, we could have a strict policy that example platforms must provide their own OUI.  The POSIX platform is really only used in emulation anyway, so using the Nest Labs (or any other organization's) OUI should not really matter.  Thoughts?

[2017-03-11 21:27] aeliot commented on #1263
I'm not sure getting our own OUI is the best approach, since OpenThread isn't actually manufacturing or administrating devices.  I think an explicit policy that example platforms need to supply their own OUI is probably the best option, and probably a comment in the POSIX example where it sets the OUI.

[2017-03-13 07:46] hubertmis commented on #1444
I'm out of office this week. I could have a look at this problem next week.

[2017-03-13 07:55] #1446 closed

[2017-03-13 08:51] hubertmis opened #1459 "Responses to MLE requests sent by SED"
When I experimented with a SED device I noticed a small problem:
1. SED attaches to a parent.
2. Parent sends Data Response to the SED (new Pending Dataset).
3. SED sends Data Request to receive new Pending Dataset.
4. Parent puts Data Response with the new Dataset to the indirect queue.
5. SED is going to retrieve Data Response when poll timer expires. It can be in a few hours or days.

Maybe we

[2017-03-13 15:01] wbober commented on #1410
@pvanhorn
That only works if we split configuration options for utils (`examples\platform\utils`) from platforms and apps (`examples\platforms\* and `examples\apps`).  Would that work for you?

[2017-03-13 17:52] pvanhorn commented on #1410
@wbober
I think that would work for me.  I would need to see the final product to be sure, but it sounds as if you are merely moving things around within the examples sub-directory in a way that would make your goals achievable and not break any existing features in the process.  If that assessment is accurate, then I would be in favor of this change.

[2017-03-14 16:15] jwhui opened #1462 "Locating types in public includes?"
At the start of the OpenThread project, there were only two public include files: `openthread-types.h` and `openthread.h`.  As features were added to the OpenThread API, the set of public include files grew beyond those two files.  Most recently, #1173 further broke out APIs into feature-specific include files, based on feedback in #1100.

The current state of OpenThread is that we continue to hav

[2017-03-14 16:18] nibanks commented on #1462
My preference is to keep types closes associated with their features. That way, if a feature isn't included (not even the header is included) then no additional types get included either. No need to add additional complexity/confusion with unnecessary types.

[2017-03-14 17:55] pvanhorn commented on #1462
One use case is coding for an NCP host, using code that can be recompiled to use Openthread on an SOC system.  What I mean by that is in one instance a firmware application would be resident on the same processor as Openthread and would interact with it through a middle layer module which hides whether Openthread is on the same processor (SOC) or a different processor (NCP).  The most efficient im

[2017-03-14 20:40] jwhui opened #1466 "Switching from `astyle` to `uncrustify`."
The OpenThread project currently uses [astyle](http://astyle.sourceforge.net/) to automatically format code and provide baseline enforcement of the OpenThread code style.  In general, I've found astyle to be fairly limited in its flexibility.

This is a proposal to switch to [uncrustify](https://github.com/uncrustify/uncrustify).  For better (or worse), uncrustify supports many more options than a

[2017-03-14 21:08] DuaneEllis-TI opened #1467 "Changes to support building in IDEs"
**Highlevel: #1** - Current autoconf, ./configure, Makefile.am, etc (collectively, auto-build-system) method of building things is not very compatible with GUI based IDEs

**Highlevel #2** - Support for non-GNU toolchains

**Highlevel #3** - Data structures across applications and libraries must be identical at link time.

**Problem:** In src/core/Makefile.am - lists numerous IF/ELSE/ENDIF which c

[2017-03-14 21:19] jwhui commented on #1467
Thanks for this proposal!  While the OpenThread project uses the GNU toolchain to support open and free development, we also have a goal of being toolchain agnostic.  At a high-level, I'm supportive of these changes since they help us achieve that goal.

On supporting missing library functions, #737 is a long-standing PR to resolve this.  @darconeous, do you have plans to move that forward?  Would

[2017-03-14 21:25] aeliot commented on #1467
The `./configure` and autoconf way of building is fairly standard as far as I know, what IDE are you using that is having issues with it?  Is there an alternative build system that would provide the same functionality?

[2017-03-14 21:31] aeliot commented on #1466
Could we also get a code style guide?  Possibly a page on the wiki laying out the style guidelines of OpenThread?

[2017-03-14 22:00] DuaneEllis-TI commented on #1467
The definition of Standard is relative to your specific vantage point. ./configure is generally highly focused on the Gnu/Linux world which is command line dominate.

There are _many_ very good embedded engineers who exclusively use (or require, or their employer requires) an IDE, a subset of this population is very command line adverse.

TI for example - across our multiple chip families support

[2017-03-15 06:15] prfi commented on #1146
In my opinion test framework should raise exception when it get an unsupported message (it has implemented support for all messages required by the Thread). But I am fine with leave it as is and close this issue.

[2017-03-15 22:54] jhwoodyatt opened #1472 "Spinel: Separate Definition of Protocol Basis"
Presentation of the Spinel protocol to IETF would likely find an easier path to publication as Request For Comment (RFC) if the general-purpose basis of the Spinel protocol were documented separately from the specialization of the Spinel protocol for Thread™ network control processors.

[2017-03-16 01:00] beriberikix commented on #1467
Reiterating @jwhui, one of the goals of OpenThread is to be portability and allow silicon vendors to develop the best OpenThread experience for their silicon and toolchains. It's nice to have a LCD/baseline around open source tools (that everyone can run) but enable the flexibility for commercially-supported options. Big fan of this proposal!

[2017-03-16 19:30] DuaneEllis-TI opened #1476 "Compiler vrs Compiler issues, vrs IDE issues."
Open thread relies upon a number of standard C header files that are different across compilers, and compiler releases.

For example:

#include <string.h> - depending on the compiler does not have some functions.
This also varies by compiler version, (ie: a fix was introduce in a later version)

In the GNU Autoconf world this is solved via either  "libiberty' or various "#ifdefs"
GCC supports an

[2017-03-17 11:20] hubertmis commented on #1444
I've started working on this issue. I found another problem. I'll explain it using simple example:
There are 3 nodes in the network: A, B, and C. A is in link rage of B, B is in link range of A and C, C is in link range of B. A is using channel 11 and has ActiveTimestamp == 30 while B and C are using channel 12 and have ActiveTimestamp == 10. A sends Announce message on channel 12. B receives Anno

[2017-03-17 17:24] jwhui commented on #1444
A call to `otPlatRadioTransmitDone()` should normally result in the following call path:

1. `Mac::TransmitDoneTask()`
2. `Mac::SentFrame()`
3. `Mac::ScheduleNextTransmission()`
4. `Mac::NextOperation()`
5. `otPlatRadioReceive()`

On return from this path, the receive channel should be set back to the `Mac::mChannel` value.

That said, one issue I do see is that on a Channel Access Failure, Abort,

[2017-03-17 18:59] aeliot opened #1477 "Win App Logo Change"
The windows app currently uses the Thread Group logo. (https://github.com/openthread/openthread/tree/master/etc/visual-studio/Assets)
These logos should probably be changed to the OT logo, since this app is by OpenThread and not by the Thread Group.

[2017-03-17 19:08] nibanks commented on #1477
Can someone point me to an image file of 'the OT logo'? As indicated in the link above, we need multiple sized, from a small icon to a splash screen.

[2017-03-17 19:11] aeliot commented on #1477
The full OpenThread logo can be found in the docs folder, I'm working on getting the sort OT logo

[2017-03-17 19:45] beriberikix commented on #1477
![icon_1264x1024_v2](https://cloud.githubusercontent.com/assets/178376/24060249/a52c42b6-0b0f-11e7-9a8a-85c6b8d5022a.png)

[2017-03-17 19:47] beriberikix commented on #1477
Here's a high-res logo. I have it as a .ai if you want multiple sizes, just need to know the resolutions.

[2017-03-17 20:58] turon opened #1479 "spinel-cli: debug levels > 1 should display more output."
spinel-cli.py can be assigned a higher debug level by either invoking with the "-d <level>" flag, or passing the "debug <level>" command into the cli shell.

None of this more advanced output is displaying however.  It seems like the calls to logging.debug() are not getting routed to stdout properly.

[2017-03-17 21:19] nibanks commented on #1477
I need the following sizes:

Icon
- 24 x 24
- 48 x 48
- 50 x 50
- 88 x 88
- 300 x 300

Splash Screen
- 620 x 300
- 1240 x 600

[2017-03-17 21:39] aeliot commented on #1476
These standard headers, and the function signatures, should be the same across compilers that support C99 (ISO/IEC 9899), shouldn't they?  Since we are using C99, I think as long as we are carful to only use standard functions that are from C99 and not a later revision, we should be safe.

[2017-03-17 21:39] beriberikix commented on #1477
Do you want the "OT" logo for all sizes?

[2017-03-17 21:44] jwhui commented on #1351
Resolved with #1460.

[2017-03-17 21:44] #1351 closed

[2017-03-17 21:59] nibanks commented on #1477
I'm fine with either that or the 'OpenThread' logo for the Splash Screen images.

[2017-03-17 22:20] DuaneEllis-TI commented on #1476
Question: Is strnlen() c99? or was this added at a later date

I believe this is an online copy of the C99 standard:

http://cs.nyu.edu/courses/summer12/CSCI-GA.2110-001/downloads/C99.pdf

the function is not described in that document.

Other places I have tried/looked.

I do not see it here: http://en.cppreference.com/w/c/string/byte
I do not see it here: https://en.wikibooks.org/wiki/C_Programm

[2017-03-17 22:25] aeliot commented on #1476
It looks like ```size_t strnlen(const char *s, size_t maxlen);``` is actually a posix function.  If we are using it in the code then it should be replaced with a C99 compliant alternative.

[2017-03-17 22:29] aeliot commented on #1476
So, for `strnlen` it looks like this issue has already been addressed, with spinel providing its own implementation of `strnlen` for compilers that dont provide one.

[2017-03-17 22:50] DuaneEllis-TI commented on #1476
I don't think there exists a "C99" compliant version.

I believe that the idea of "strnlen()" is generaly from a security point of view. If the string is really super long (ie: buffer overflow attack) then stop now - do not search until the end of memory or crash.

the spinel solution does not solve the problem.

I don't think: https://github.com/openthread/openthread/issues/279
completed/fixed th

[2017-03-18 00:47] beriberikix commented on #1477
I haven't spent this much time in Illustrator in a while...does these work?

![otlogo_1240x600](https://cloud.githubusercontent.com/assets/178376/24067427/bffa9316-0b39-11e7-8487-2de84e3ab66a.png)
![otlogo_620x300-01](https://cloud.githubusercontent.com/assets/178376/24067428/bffacc6e-0b39-11e7-9a9c-96418d3eaabc.png)
![oticon_300x300](https://cloud.githubusercontent.com/assets/178376/24067431/bffc

[2017-03-20 08:02] hubertmis commented on #1444
You are right. I didn't follow this path deep enough. I came across this issue on Posix platform, so there is probably race in Posix radio implementatin. I'll try to fix that.

[2017-03-20 16:05] beriberikix commented on #1477
[winapp_images.zip](https://github.com/openthread/openthread/files/855579/winapp_images.zip)

Adding as a .zip as well.

[2017-03-20 16:53] #1346 closed

[2017-03-20 17:28] pvanhorn opened #1487 "External Route Config mPreference values should have an enumeration."
the mPreference value defined in otExternalRouteConfig should have an enumeration for what is otherwise a set of cryptic values.

-1 == low priority
 0 == medium priority
 1 == high priority

Currently, any code using this member must assign one of the numerical values as there is no enum available.

It is proposed that the following enum be created to satisfy this readability issue;

typedef enum

[2017-03-20 17:33] pvanhorn commented on #1462
For reasons stated above it would be helpful to me for all types to reside in a single header file or for all types to reside in a set of header files which only contain types and have as few #includes as possible.  Can we move forward with this approach?

[2017-03-20 19:27] jhwoodyatt opened #1488 "Spinel: confusing overload of Interface Identifier term"
The choice of the name for the "Interface Identifier" (IID) field in the Spinel header could lead to confusion.

_IP Version 6 Addressing Architecture_ [RFC 4291] defines that term, "Interface Identifier" (also abbreviated IID), to signify the 64-bit remainder of a global scope unicast address after the subnet prefix.

In IPv6 terms, this field in the Spinel header is more closely related to the "

[2017-03-20 20:48] nibanks commented on #1477
The logos look pretty good except with the default color when pinned to the start menu. Looks good when pinned to task bar.

![image](https://cloud.githubusercontent.com/assets/20663557/24121001/d874e1da-0d73-11e7-83af-397a94bb014b.png)

![image](https://cloud.githubusercontent.com/assets/20663557/24121024/ed464cde-0d73-11e7-8c53-c22f5c6679e7.png)

[2017-03-20 20:53] darconeous commented on #1476
#737 is a somewhat unloved pull request that I need to get working again. It sets up a framework for pulling in implementations of functions which aren't present on some platforms. It could be easily extended to include `strnlen()`.

Unfortunately that PR hasn't gotten a lot of love since I first proposed it, and I need to do some additional work on it. It also doesn't really take into considerati

[2017-03-20 20:54] turon commented on #1477
@nibanks Is there a way to specify that white should be used as the default background on Win desktop?  The .png is just defining the transparent parts, so the background color is likely metadata of some sort in the desktop config.

[2017-03-20 21:02] nibanks commented on #1477
I updated my PR #1489 use a white background.

[2017-03-20 21:25] darconeous commented on #1257
Yes, we should go ahead and specify these in the Spinel header, if they haven't been already.

[2017-03-20 22:51] darconeous commented on #1488
Excellent observation.

What about "interface index"?

[2017-03-20 22:57] darconeous commented on #1488
Reading up on RFC 4007, but my gut feeling is that "Zone Index Number" might not imply the right scope.

[2017-03-20 23:00] darconeous commented on #1488
In other words, the "IID" was intended to be considered (for all practical purposes) like a separate physical link.

[2017-03-21 06:03] jwhui commented on #1444
FWIW, I am seeing increased spurious failures on 9.2.12 in Travis.

[2017-03-21 12:30] GiedriusM opened #1495 "Radio is in receiving mode while Thread is not started"
When mRxOnWhenIdle is false and (if) Thread interface is not started, the radio does not enter sleep mode. In the example code given below, otPlatRadioReceive is called initially, however otPlatRadioSleep is never called. I consider Thread to be "idle" while it is in kDeviceRoleDisabled state and therefore it should put the radio into sleep mode. IMO, in this scenario otPlatRadioReceive should not

[2017-03-21 15:53] aeliot commented on #1477
@nibanks could you also update the screenshots in /doc/images?  The following still have the old background:
windows-app-interface-list.png
windows-app-talk-client.png
windows-app-talk-server.png

[2017-03-21 16:52] jwhui commented on #1495
The Device Mode is a Thread-level concept (I agree that `otLinkModeConfig` is named inappropriately and should be called something like `otThreadDeviceMode`).  That said, the power management of the radio is only managed by the Thread layer when Thread is enabled.

We have use cases where the radio needs to be enabled to communicate IPv6 link-local messages while Thread is disabled.  The separatio

[2017-03-21 16:55] jwhui commented on #1479
Thanks for reporting this issue.  Will you be submitting a PR to address this?

[2017-03-21 16:57] jwhui commented on #1305
@erja-gp, is this still an issue for you?

[2017-03-21 17:07] turon commented on #1479
I noticed the regression when working on #1478, but unfortunately won't be able to allocate time to look into the fix in the near future.

[2017-03-21 18:42] jhwoodyatt commented on #1488
I'm working on a proposed revision.

I have a hunch that precision here will turn out to be important when bringing this to IETF. People with all kinds of different ideas about how operating systems can implement IPv6 nodes by offloading some of their interface functions to co-processor hardware will be reviewing this document. Hopefully, we can avoid a lot of semantic confusion when they all star

[2017-03-21 19:06] darconeous commented on #1488
Sounds like a winner to me.

[2017-03-22 04:52] jwhui commented on #1466
Initial style guide was added with #1490.

[2017-03-22 13:16] GiedriusM commented on #1495
Yes, this and few other ways I've found works as solution/workaround. However I should've been more clear and include a question whether this an intended behavior or a bug. Previously I though of mRxOnWhenIdle=false (a.k.a. "sleepy-mode") as 802.15.4 feature, but from your answer I make a conclusion, that this is Thread-only feature and that the Thread network expects the joiner device to be "alwa

[2017-03-22 15:53] #1444 closed

[2017-03-22 16:45] jwhui commented on #1495
Yes, you are correct.  The rx-on-when-idle device mode is managed at the Thread level.  When a device is joining as part of Thread Commissioning or performing an MLE attach, the radio's receiver is always enabled (except when transmitting).  The rx-on-when-idle mode only kicks in when a device is attached to a parent.

[2017-03-22 18:10] GiedriusM commented on #1495
Thank you for the explanation, it makes much more sense now.

[2017-03-22 18:10] #1495 closed

[2017-03-23 09:03] erja-gp commented on #1305
@jwhui No this no longer an issue.

[2017-03-23 13:54] GiedriusM commented on #1459
How about adding a "expectedResponseTimeout" (exRT) field to otMessageInfo? By default, 0 would mean that no response is expected, and non-zero values - to expect a response in no more than exRT. MAC layer would then send N data requests every exRT/N milliseconds. Or instead of linear delay between data requests there could be an exponential delay like in CSMA.
Also, if multiple messages with exRT

[2017-03-23 14:10] #1305 closed

[2017-03-23 16:46] abtink commented on #1459
Good point.
I am working on adding a new class `DataPollManager` which contains all the logic for handling of data polls and selection of polling interval (based on a combination of state of OpenThread and wishes of the app/user). I should have the PR for this soon. This can be used to address this issue.

[2017-03-24 14:10] GiedriusM commented on #1303
Update: this is not NCP-only issue, but rather a MAC issue. I can see this issue while scanning during commissioning. Both, the commissioner and the joiner return beacon responses.

[2017-03-24 18:08] DuaneEllis-TI opened #1512 "Make variable ${CMP} is not defined"
The included makefile fragment:  third_party/nlbuild-autotools/repo/automake/pre/macros.am

References the macro ${CMP} - however this macro is not defined.
The result is a strange message  like this during a build:

[code]

Not sure if this should be defined in/via/by - the  auto-tools in third_party/nlbuild-autotools or elsewhere.

[2017-03-24 18:18] jwhui commented on #1303
Whenever the interface is up, the IEEE 802.15.4 radio is available to communicate packets.  As a result, I believe the device should respond to IEEE 802.15.4 Beacon Requests even if Thread has not been started.

[2017-03-24 18:59] DuaneEllis-TI opened #1513 "TI chips do not report CRC"
TI chips do not report the CRC, instead they report status bits in place of the crc.

In sniffer mode (ie: sniffer.py) Wireshark wants a CRC otherwise it reports a BAD FCS

A simple quick workaround is to have the sniffer.py recompute the CRC when given a command line option.

[2017-03-24 19:19] jwhui commented on #1513
I think that makes sense.  Will you submit a PR to implement this?

[2017-03-24 20:55] GiedriusM commented on #1303
[code]
and
[code]
Thread device types are very similar to these. I, personally, map them like this:
Border-routers and routers - FFD, acting as coordinators.
REED - FFD, not acting as coordinator.
SED - RFD.

Combining the definitions with the mapping, gives that only [Border] Routers should respond to beacon requests. If I'm not mistaken, REED devices in my setup do respond with beacons (can't ch

[2017-03-24 21:13] jwhui commented on #1303
IEEE 802.15.4-2006 has the following definition for "coordinator":

At the very least, all Thread Routers should be considered IEEE 802.15.4 coordinators.  Whether or not REEDs are also considered IEEE 802.15.4 coordinators depends on the interpretation of "capable".

The primary purpose of transmitting beacons is to announce the presence of a network.  If REEDs and rx-on-when-idle end devices do

[2017-03-24 21:44] GiedriusM commented on #1303
I forgot to mention, that I was referring to 802.15.4-2011 version of the standard.

Given the definition, I fully agree with you on the 3rd paragraph.

I also understand the issue with network overlapping and the need to transmit beacons on broader range of devices when the network is running. However, given the scenario when Thread stack is disabled (keeping in mind that OpenThread has no other

[2017-03-27 16:15] GiedriusM opened #1516 "RFC: CoAP option update"
I've found few issues with CoAP option handling, so I plan on PR'ing few changes, but before that I would like some input on it.
Chages would be as follows:
- Add otCoapHeaderGetFirstOption - this allows for the application to do it's processing (e.g. query options).
- Remove otCoapHeaderGetCurrentOption - it becomes redundant.
- In Server::ProcessReceivedMessage, in option parsing change default

[2017-03-28 12:49] GiedriusM commented on #1516
No feedback received, moved to #1523

[2017-03-28 12:49] #1516 closed

[2017-03-28 18:12] nibanks opened #1524 "'Thread Start' Reverting to Persisted Settings"
I'm not sure if this is new behavior, or exactly how I got into this state, but whenever I use the CLI (on device, not Windows related), it seems to reset any settings back to the persisted state. For example:

[code]

[2017-03-28 18:26] librasungirl commented on #1524
@nibanks , I guess the device had been in a network with masterkey 00112233445566778899aabbccddeeff. The old network information would be stored in flash and the device would try to reattach to previous network firstly when bring up again.

To start a complete new attach process, please run cli 'factoryreset' which would help to clear the stored network information.

[2017-03-28 18:45] nibanks commented on #1524
@librasungirl , That can't be an acceptable design. If an application tries to change a particular setting and recreate the network, it shouldn't be required to reset everything.

[2017-03-28 19:02] jwhui commented on #1524
I've been thinking about this problem myself lately.  Thread specifies a way to manage the network configurations over the air through Active and Pending Operational Datasets.  The Active and Pending Operational Datasets are provided to the Leader and disseminated throughout the network.  Thread also specifies rules for switching between the Active and Pending Operational Datasets when a device be

[2017-03-29 13:24] nibanks commented on #1524
I'm not exactly sure how it should affect the datasets, but from an API stand point, we should support an application that allows for a user to 'play around with' the settings; creating and stopping the network multiple times, until they finalize on something. This shouldn't require the application to completely reset everything just to change one setting.

[2017-03-29 16:27] nibanks opened #1531 "nrf52840 RTT Logging Not Working"
Has something changed with the nrf52840 logging recently? I am following the steps [here](https://github.com/openthread/openthread/tree/master/examples/platforms/nrf52840#logging-module), but no logs ever show up.

I changed the default log level to `OPENTHREAD_LOG_LEVEL_DEBG` and enabled `OPENTHREAD_CONFIG_LOG_PLATFORM`, and just built the default image (both NCP & CLI). I have installed both NCP

[2017-03-29 16:48] jwhui commented on #1477
Addressed by #1529.

[2017-03-29 16:48] #1477 closed

[2017-03-29 16:49] jwhui commented on #1487
Resolved by #1525.

[2017-03-29 16:49] #1487 closed

[2017-03-29 17:57] jwhui commented on #1408
@vikoz, are you still running into this issue?

[2017-03-30 00:50] DuaneEllis-TI opened #1533 "SPINEL - protocol concerns"
some issues with the SPINEL protocol need to be addressed, specifically these deal with power management and sleepy devices.

## Issue 1 - the NCP may be in a deep sleep.

The NCP device may be asleep, or in an ultra low power state and not ready to respond quickly  (immediately) to a host that may be transmitting data.

Typically a GPIO signal from the HOST to wake, or draw the attention of the s

[2017-03-30 07:33] LuDuda commented on #1531
I have just performed quick smoke test on the current master:

[code]

I installed the same version of Segger J-Link (6.12a) and updated the firmware on the board to use also 6.12a firmware (by J-Link Configurator). I also used same settings as you have (including speed), and it appears to work fine on Windows.

![rttviewer](https://cloud.githubusercontent.com/assets/5144764/24491335/0e4fb536-1527

[2017-03-30 08:27] Gr3yh0und opened #1535 "MeshForwarder::LogIp6Message not building"
Current master is not building the LogIp6Message function when OPENTHREAD_CONFIG_LOG_LEVEL >= OPENTHREAD_LOG_LEVEL_INFO, which in my case is 4 > 3. Probably introduced in  #1515 ?

Compiler spits out:

[2017-03-30 13:21] nibanks commented on #1535
My PR #1532 just merged. It might have fixed your issues.

[2017-03-30 13:58] Gr3yh0und commented on #1535
Just made sure I merged your commit into my branch, which I did earlier. When I build the current master for the CC2538DK and change the Debug level from `CRIT` to `DEBG` it breaks.

[2017-03-30 14:16] nibanks commented on #1535
I just rebased my branch to the latest, and I have the following local changes in `openthread-core-default-config.h`:

![image](https://cloud.githubusercontent.com/assets/20663557/24508562/a430a7b8-1518-11e7-88cd-79a208b1133b.png)

![image](https://cloud.githubusercontent.com/assets/20663557/24508570/ae38277c-1518-11e7-8303-30260d56174d.png)

I ran the following commands:

[code]

Everything seeme

[2017-03-30 14:56] Gr3yh0und commented on #1535
Thanks Nick for checking that again. I did the exact same thing before... strange. It now does somehow build so maybe just another `clean` did the trick... I'm closing that until I can reproduce it...

[2017-03-30 15:16] nibanks commented on #1531
I just restart my Windows machine, rebuilt and reflashed the devices and now everything seems to work. Thanks for double checking!

[2017-03-30 15:16] #1531 closed

[2017-03-30 15:36] turon commented on #1531
Hi Nick,

I also had some issues with the logging recently.

The solution was to use a version of softdevice matched to what is
supported by the drivers in the openthread tree.

I'll let the Nordic folks provide more definitive details.

Martin

_____________________________
Martin Turon  |  Nest Labs

On Wed, Mar 29, 2017 at 9:27 AM, Nick Banks <notifications@github.com>
wrote:

[2017-03-30 16:13] jwhui commented on #1524
One workable solution may be to prevent changes to network configuration parameters (e.g. PAN ID, channel, master key, etc.) via the API while Thread is enabled.  When Thread is disabled, the client may change/update these values.  However, if the client does update the values, then the existing Active and Pending Operational Datasets stored on the device are invalidated.

As I mentioned above, th

[2017-03-30 16:34] Gr3yh0und commented on #1535
Could you please try to disable MAC logging?

`#define OPENTHREAD_CONFIG_LOG_MAC                               0`

[2017-03-30 16:41] jwhui commented on #1535
I'll have a PR out for this soon.  Thanks for catching this.

[2017-03-30 16:54] nibanks commented on #1524
I'm perfectly fine with only allowing changes while Thread is disabled.

[2017-03-30 17:03] rmadhuraj opened #1536 "Running NCP on Latest Wpantund failed."
Hi ,
      I Recently updated the wpantund from 0.07.0 to 0.08.0. i.e., as shown in
https://github.com/openthread/wpantund/blob/master/INSTALL.md#wpantund-installation-guide
And followed the simulator tutorial
https://github.com/openthread/wpantund/wiki/OpenThread-Simulator-Tutorial
Now i'm unable to Ping with NCP or CLI node from LINUX terminal.

These are the steps i followed.

**For building:**

[2017-03-30 17:12] jwhui commented on #1512
@DuaneEllis-TI, thanks for raising this issue.  I just submitted #1537.  Please let me know if this addresses your issue.

[2017-03-30 17:14] LuDuda commented on #1524
I also support this solution! :+1:

What I can say is that we have already got many questions about this issue from people that use cli example. By throwing specific error i believe it would be easier for OpenThread users to find the problem ("why this channel is not changing..") faster and understand this constrain.

[2017-03-30 17:22] abtink commented on #1536
Hi Madhu...Thanks for reporting this. I could also reproduce this locally. Will be working to address this...

[2017-03-30 17:25] rmadhuraj commented on #1536
Thank you @abtink ,
I'm pleased to see your updates.
Regards
R Madhu

[2017-03-30 17:43] darconeous commented on #1533
It isn't entirely clear what you are proposing overall, so I'll go over individual statements below.

By the way, Spinel isn't acronym, so you can just call it "Spinel", not "SPINEL".

This isn't actually a problem with [the recommended Spinel SPI protocol](https://rawgit.com/openthread/openthread/master/doc/draft-spinel-protocol.html#rfc.appendix.A.2). If the slave is just waking up and isn't rea

[2017-03-30 17:53] jwhui commented on #1535
Submitted #1538.  Please review.

[2017-03-30 18:17] darconeous commented on #1536
In the mean time, you may want to try using the `latest-unstable` tag, `full/latest-unstable` tag, or the `release/0.07/master` branch.

[2017-03-30 18:27] abtink commented on #1536
https://github.com/openthread/wpantund/pull/149 should address this. Worked ok on my local testing.

[2017-03-30 19:48] darconeous commented on #1536
The fix has been merged. Reopen if that didn't fix it.

[2017-03-30 20:21] DuaneEllis-TI commented on #1533
Effectively the MISO pin becomes another handshake signal.

An important thing to to note is handshake signals may be active low, or active high depending upon the actual HW architecture in the system.  Active high signals (ie: 0V is the idle state) are more power hungry only due to parasitic leakage in the HW design, and very anti-battery life. A few micro amps integrated over a long sleep time a

[2017-03-30 20:31] #1512 closed

[2017-03-30 20:32] #1535 closed

[2017-03-30 21:24] darconeous commented on #1533
More like the contents of the MISO frame are used as a handshake signal.

The current implementation of the SPI protocol in `spi-hdlc-adapter` makes no differentiation between the slave sending a frame full of 0x00 bytes or 0xFF bytes. Both will induce the host simply try again later. At sleep, the slave would pull MISO to whatever state is the lowest power. At wakeup, the slave would boot up and

[2017-03-30 21:31] nibanks opened #1540 "Raw Link Layer Issues on nrf52840"
I have spent the last two days getting Windows to work again, and I cannot for the life of me figure out what is going wrong on the Nordic Semiconductor devices. When I use two cc2538 devices and connect one to the other, it works just fine. Logs: [win_cc2538.txt](https://github.com/openthread/openthread/files/883844/win_cc2538.txt)

But when I try with two nrf52840 devices, 100% of the time, the

[2017-03-30 21:40] DuaneEllis-TI commented on #1533
duane>Why in the world would the host need to reconfigure the MISO pin?
darconeous> Why in the world would the host need to reconfigure the MISO pin?

As I said, some SOCs do not provide pin observably.

Your suggestion was the SPI-SLAVE holds MISO as an additional handshake. The problem occurs on SPI-MASTER side, example: PIN(X) is in mode GPIO, or PIN(X) is in mode (MISO).  For some SOCs when th

[2017-03-30 21:43] darconeous commented on #1533
We observe the pin by looking at the MISO frame after the transaction.

[2017-03-30 21:44] darconeous commented on #1533
If the slave holds MISO low, the frame received by the master will be all zero bits. If the slave holds MISO high, the frame received by master will be all one bits. There is absolutely no reason to change any pin settings on the master.

[2017-03-30 21:46] darconeous commented on #1533
And it isn't really a handshake. It is a refusal by the slave to handle the frame.

[2017-03-30 22:04] DuaneEllis-TI commented on #1533
How can we avoid this refusal?

[2017-03-30 22:14] darconeous commented on #1533
We don't avoid it. Refusals are normal: they are how the slave asserts flow control.

The master tries again a dozen (or so) milliseconds later, or we try again immediately if interrupt gets asserted (which it likely would be if the NCP is just waking up).

There are two ways the slave can refuse a frame from the master:

* Passive refusal: Don't wiggle MISO. Leave it in the same state for the dur

[2017-03-31 09:49] LuDuda commented on #1540
Thanks for reporting this issue. Can you help me to reproduce this on my local PC? What should i do? I have either Win 7 or Win 10 to test it.

Do you have any sniffer logs? I am wondering if Parent Response or ACK on Parent Response is not sent. What is also strange is that `kThreadError_Abort` is returned, however our driver can only return `kThreadError_None `or `kThreadError_ChannelAccessFailu

[2017-03-31 10:38] rmadhuraj commented on #1536
HI @darconeous @abtink

With the Latest Commit , all going well on Posix simulation.
But,
When i do the same things on the Nordic Boards , i'm NOT able to Ping between the NCP and CLI
and Pinging from Linux terminal to CLI node.
I followed the same procedures mentioned above for compilation, and flashed onto Nordic boards and connected to my Linux PC though USB ports.

**In term 1**
**Through seri

[2017-03-31 12:43] nibanks commented on #1540
When I get a chance, I will add the extra log to otLwf. I do not have sniffer logs. To repro, you will need Windows 10 (feel free to setup a test machine with a Windows 10 preview image for free), and you can follow the instructions here:

https://github.com/openthread/openthread/wiki/OpenThread-on%C2%A0Windows

If you have any problems or questions getting set up, feel free to email them to me.

[2017-03-31 13:23] pszkotak commented on #1536
Hi @rmadhuraj,

I have tested your setup (with two NRF52840 DK boards) with openthread commit 959b648 and wpantund commit c8fa12c.
I was able to ping the cli from the linux machine.
Please find logs below.

[code]
Could you confirm that you are building the same or not older commits?

@darconeous, We have captured the following. Sending TLV with the fdde:ad00:beef::/64 prefix seems to be source of

[2017-03-31 13:29] nibanks commented on #1540
As far as why the error was being reported incorrectly at the otLwf layer, it was because of an issue with encoding the error. I have submitted #1544 for a fix. But that obviously doesn't fix the main problem.

[2017-03-31 13:44] rmadhuraj commented on #1536
Hi @pszkotak ,
       i'm happy that you did it.

   Now I started Testing with the latest commits. Can you Please tell How you compiled the code for Nordic.

I followed the steps below

$ cd openthred-master
$ ./bootstrap
$ make -f examples/Makefile-nrf52840

Is this fine ? Or any configuration required.

Thanks and Regards
R Madhu.

[2017-03-31 13:56] pszkotak commented on #1536
@rmadhuraj,
[code]
is perfectly fine.

regarding the wpantund, I prefer to go with
`./configure --sysconfdir=/etc`
before make and then adjust /etc/wpantund.conf file.
That way you can simply start it by typing `wpantund`.

[2017-03-31 14:14] rmadhuraj commented on #1536
@pszkotak
        sorry to say again that still i'm facing the same issue after testing with latest commits.
I just now downloaded zip files of openthread and wpantund  and installed the way as you mentioned above.

For configuring the wpantund is this step fine ?

**$ sudo /usr/local/sbin/wpantund -o NCPSocketNme /dev/ttyACM0 -o WPANInterfaceName wpan0**

or do i need to change any parameters man

[2017-03-31 14:30] pszkotak commented on #1536
Parameters you are using are deprecated, but according to the log still correctly interpreted.
Result should be the same.
I use wpantund.conf with the following lines uncommented:
[code]

Could you tell a bit more about operating system you are using?
What distribution is it?
It there a firewall enabled?

When reflashing DKs please make sure you use the chiperase switch, eg:
nrfjprog --chiperase -

[2017-04-01 04:21] rmadhuraj commented on #1536
HI @pszkotak .
       My PC is UBUNTU 14.04.
However , i tested in another PC by following your inputs. Now it is pinging in all cases that we discussed ,
Thanks for all your inputs.

And one last question
what is the **tcpdump -i wpan0 ip6** command ?
It is capturing the data only in the case when ping is failed.(i.e, only packets transmitting but failed to receive).

Thanks and Regards.
R Madhu.

[2017-04-02 02:30] darconeous commented on #1536
Reopening so that @abtink has a look.

[2017-04-02 03:43] abtink commented on #1536
@rmadhuraj  do you see the original issue of no address of wpan0 interface?  Seems like you had a follow-up question/issue with Nordic dev board platform...and from your last comment it looks like it's all good.

[2017-04-02 17:03] LuDuda commented on #1540
I've just tried to follow the instruction on my private Win 10 machine.

After i run `install_otlwf.cmd` and `install_ottmp.cmd` and reboot (also i did `devcon.exe restart *ottmp*`) - i got following error all the time, i tried to reinstall it multiple of times.

[code]

Both installation looks correct - no errors or warnings. Where can i found some logs?

[2017-04-02 18:03] darconeous commented on #1536
@abtink: Sorry for the lack of clarification. I saw this from @pszkotak:

I figured you were in a better position to answer.

Feel free to re-close.

[2017-04-02 18:13] nibanks commented on #1540
Did you install the binaries downloaded from AppVeyor (the zip file) or did you build them yourself? And you made sure to enable test signing?

[2017-04-02 21:17] LuDuda commented on #1540
Yes i used the link from the doc (.zip). I did enable test signing by the command in the doc (i had to disable Secure Boot Policy)

But now i enter to Windows test mode by "`Disabling Driver Signature Enforcement`" in Startup Settings, and I can connect to the kit!

I will do some debugs and back to you soon. Thanks!

Side note: I had a lot of blue screens (reason: evsbc8.sys - Driver IRQ Not Less

[2017-04-03 01:29] nibanks commented on #1540
That's great news. It might be useful for you to update the Wiki with any issues and fixes you encountered in your setup. As for the crashes, I'd be interested in taking a look at the dumps. I believe [the following](https://msdn.microsoft.com/en-us/library/windows/hardware/ff542953(v=vs.85).aspx) has the info for collecting the dump. If you get the dump, I will also need to know what version of t

[2017-04-03 05:13] rmadhuraj commented on #1536
yes @abtink , Now everything is working fine.

I want to thank you all the participants once again.

[2017-04-03 05:13] #1536 closed

[2017-04-03 15:34] jwhui commented on #1459
Proposed fix in #1551.

[2017-04-03 15:37] jwhui commented on #1410
@wbober, any updates on this issue?

[2017-04-04 06:21] wbober commented on #1410
@jwhui I'll work in it in next few days.

[2017-04-04 16:21] #1459 closed

[2017-04-05 13:15] wbober commented on #1410
I've submitted a PR to this. However, this is not exactly what requested as `flash.h` gets exported to `openthread\platform\utils`. I'm not sure how to solve it otherwise, since this file is needed so I can build platform out-of-tree.

I'm not sure if autoconf can be configured to place this file in `openthread\platform\examples`, but assuming it can, would that be a ok for you?

@pvanhorn @jwhui

[2017-04-05 13:37] wbober commented on #1410
I've submitted a PR to fix this. I got it wrong with `flash.h` which is not really needed for an out-of-tree build.

[2017-04-06 02:51] jwhui commented on #1410
Resolved by #1557.

[2017-04-06 02:51] #1410 closed

[2017-04-06 04:38] librasungirl commented on #1233
@hubertmis, Test Harness has been updated a lot. Do you still experience 9.2.8SED fail in newer Harness?
In fact, there is some discussion about the issue ([TESTPLAN-272](https://threadgroup.atlassian.net/browse/TESTPLAN-272), [TESTPLAN-299](https://threadgroup.atlassian.net/browse/TESTPLAN-299) in thread group). Finally it is agreed to remove the check on Data Request from SED, and unicast Data R

[2017-04-06 07:19] wbober commented on #961
@turon Can we put this into action?

I think we need to do the following:
1) Create `openthread/spinel-cli` repository (ot team)
2) Move spinel-cli code from openthread to the new repository (me)
3) Add spinel-cli as a submodule to openthread (me)
4) Modify CI scripts to pull the submodule (not yet sure who can do that)

[2017-04-06 07:33] turon commented on #961
@wbober sure, I can discuss the first step with @jwhui tomorrow morning and help with step 4.

[2017-04-06 08:09] wbober commented on #961
@turon Great.

[2017-04-06 13:59] mstamer opened #1564 "Usage of arrays with a size of 0"
In the open thread code, there is usage in a few places of arrays of 0 size.  This feature (zero sized arrays) seems to be a specific feature enhancement to the gnu/gcc compiler.  Since I am tied to IAR, it would be nice to update the code to be more compiler independent...  I am also creating this ticket based on the info from the below user group thread...

https://groups.google.com/forum/#!sear

[2017-04-06 15:30] jwhui commented on #961
@wbober, I'm fine with separating spinel tools into a separate repo.  If we view spinel-cli as a separate package, is there a real need to include the spinel-cli repo as a git submodule within OpenThread?  We could just have the Travis scripts install the spinel-cli package as part of the setup process, which should be trivial.

[2017-04-06 15:40] #1233 closed

[2017-04-06 18:33] jwhui commented on #1564
Thanks for submitting this issue!  I'll have a PR out soon that enforces C++03 and does not allow GNU extensions.

[2017-04-06 19:01] darconeous opened #1565 "Make continuous integration test coverage deterministic"
We have a pretty extensive set of tests that get run automatically at every commit, which is excellent. These tests, however, are somewhat non-deterministic: the code coverage of the tests is slightly different between runs (varying by less than a percent). This leads to very confusing code coverage change reports for commits which have no code changes (like changes to documentation).

Additionall

[2017-04-06 19:39] darconeous opened #1567 "[spinel] consider updating SPI framing protocol to allow for fragmentation"
The current SPI protocol works pretty well, but it falls short in one key respect: the slave needs to buffer the entire outbound and inbound frames, which means that nominally there is a lot of wasted RAM.

Fragmentation of larger frames (say, >256 bytes) would allow for much smaller buffers to be used, significantly improving SPI memory usage.

I believe this can be implemented with a light-weigh

[2017-04-07 05:30] wbober commented on #961
@jwhui Yes, you are right.

[2017-04-07 06:56] jwhui commented on #961
What about naming the package and repo `pyspinel`?  Open to other suggestions as well.

[2017-04-07 07:09] wbober commented on #961
Yes, that's a good idea.

[2017-04-07 08:12] krlo commented on #1567
Great idea, but please define fragmentation for frames >255 bytes, NOT 256 as often counter register for SPI peripheral is one byte.

[2017-04-07 15:43] #1564 closed

[2017-04-07 20:50] darconeous commented on #1567
Here is a quick straw-man fragmentation protocol (assumes a reliable frame transport under the hood):

* Fragment frames are limited to a size of 256 bytes. (Actual limit is TBD. Should this be smaller?)
* The first byte is a header byte, leaving a maximum of 255 bytes of data per fragment.
* The least significant bit of the header byte is the "more fragments pending" bit (`FLAG_MORE_FRAG_PEND`).

[2017-04-07 20:58] darconeous commented on #1567
Alternatively, we could re-purpose one of the bits in the SPI header byte. But then we lose our layered approach (not that big of a deal)

[2017-04-10 02:15] CampbellWray opened #1574 "Add Bootloader Backdoor to CC2538 Example"
In commit 26e9f3db8b1fc4f60cac890414637e75c8aada18 the bootloader backdoor was added to the CC2650 Example.

Could a similar backdoor please be added to the CC2538 example

[2017-04-10 16:41] jwhui commented on #1574
I believe the backdoor is already enabled in the CC2538 example.  See the lock page configuration in [examples/platforms/cc2538/startup-gcc.c](https://github.com/openthread/openthread/blob/master/examples/platforms/cc2538/startup-gcc.c#L158).

[2017-04-10 16:58] jwhui commented on #1435
After thinking about this issue for some time, here is my proposal:

1. Modifying existing [otPlatSettings*](https://github.com/openthread/openthread/blob/master/include/openthread/platform/settings.h)  key values MUST only be done by appending new fields.  Existing fields MUST NOT be deleted or modified in any way.
2. To support backward compatibility (rolling back to an older software version),

[2017-04-10 17:00] jwhui commented on #961
Any concerns with using Apache 2 on the new pyserial repo?

[2017-04-10 17:05] nibanks commented on #1435
I'm fine with this design. I would also recommend someone doing a pass on all existing settings to make sure they are in an acceptable state going forward. Anything unnecessary should be removed now, so we have no need to remove anything in the future.

[2017-04-10 20:34] nibanks commented on #1540
Hi @LuDuda. Any progress here?

[2017-04-10 20:53] LuDuda commented on #1540
Was busy last week i did reproduce the issue today and will try to give you some asnwers in following days. Can you guide me how to enable all those logs that you have attached in the first post? Also did you build examples with --enable-link-raw-api or it does not matter?

[2017-04-10 21:12] nibanks commented on #1540
The default for link raw is actually enabled, so you shouldn't have to do anything to enable it. As for the logs, the scripts you run to install the driver also enable all the logging. You can use [tracelog.exe](https://msdn.microsoft.com/en-us/windows/hardware/drivers/devtest/tracelog) to flush the logs to file:

[code]

That will dump the file name to the console. Then you can convert that file

[2017-04-11 00:47] chshu commented on #1435
@jwhui, I totally agree with the proposal, and I also agree with @nibanks that we have to refine the settings to make sure we don't need to remove any fields in the future.

After going through all existing settings, I think **ChildInfo** and **ParentInfo** needs to be refined. I will reopen #1572 which has already addressed ChildInfo, I will also refine ParentInfo and push the PR soon.

Please le

[2017-04-11 05:02] CampbellWray commented on #1574
Looks like you might be right, it might be worth updating the readme (similar to the CC2650 one) so that it is more obvious that it is there and how to use it

[2017-04-11 13:19] LuDuda commented on #1540
So i have sent pull request that fixes the problem. Right now i can join to the Thread network successfully.

Btw. I see quite heavy traffic of non-Thread messages in the network, is it expected?

![windows_wireshark](https://cloud.githubusercontent.com/assets/5144764/24911000/d31cb746-1ec9-11e7-905e-4c0a6bd77e03.png)

Thanks for reporting the issue!

[2017-04-11 14:00] nibanks commented on #1540
Thanks for figuring this out! As for Windows being noisy, that is to be expected. A lot of different stuff tries to use the network to discover neighbors.

[2017-04-11 15:44] #1540 closed

[2017-04-11 22:15] jwhui commented on #1574
@CampbellWray, thanks for the suggestion.  I just submitted #1582 to update the README.

[2017-04-12 06:25] CampbellWray commented on #1574
Looks good, I'll give it a try when I next have the CC2538s in front of me

[2017-04-12 06:25] #1574 closed

[2017-04-13 15:41] #1524 closed

[2017-04-13 18:24] jwhui commented on #1303
@GiedriusM, thanks again for raising this issue.  I have submitted #1591, please review.

[2017-04-13 18:26] jwhui commented on #1408
@vikoz, is this still an issue for you?  If not, we should close this out.

[2017-04-14 10:55] CampbellWray opened #1593 "COAP server and client not working with POSIX"
When compiling the POSIX version of OpenThread the `coap server` and `coap client` commands do not work.

The commands do not show up with the `help` command either.

I have the latest version of the source code downloaded, and I am building it using:
[code]
Am I missing a necessary flag to get this to compile properly, or are the COAP commands just incompatible with the POSIX version?

[2017-04-14 12:18] jwhui commented on #1593
Try adding `--enable-application-coap` to the `configure_OPTIONS` list in [examples/Makefile-posix](https://github.com/openthread/openthread/blob/master/examples/Makefile-posix#L84).

[2017-04-14 12:33] CampbellWray commented on #1593
I tried that earlier and I got the following error:
[code]
However using a different machine, where the architecture is `i686` it works without any problems.

Perhaps the issue is specific to some architectures

[2017-04-14 12:52] jwhui commented on #1593
I'll take a look.

[2017-04-14 16:33] jwhui commented on #1593
I'm not able to reproduce your issue.  Can you provide more information about your environment?

[code]

[2017-04-15 00:04] CampbellWray commented on #1593
It is running macOS so I imagine that is the issue, it is odd because I haven't had any previous issues
[code]

[2017-04-15 00:17] jwhui commented on #1593
Have you tried a clean rebuild?

[code]

[2017-04-15 00:26] CampbellWray commented on #1593
That seemed to help, but it is now getting a different error
[code]

[2017-04-15 00:28] jwhui commented on #1593
Yup, I'm waiting to merge #1595 before submitting the fix, which is to cast to chat.

[2017-04-15 00:35] CampbellWray commented on #1593
Great, I have managed to temporarily fix it on my end by adding a char cast, would you like me to keep this issue open, or is this already covered elsewhere?

[2017-04-15 00:36] jwhui commented on #1593
Keep this open.  I'll tag this issue in the PR so that it automatically closes after merge.  Thanks for surfacing these issues!

[2017-04-15 01:22] CampbellWray commented on #1593
I thought I had better ask here before opening another issue as it is somewhat related.

It could simply be that I am doing something wrong but the coap client command seems to be causing segmentation faults.

For example:
[code]
I could just be using it wrong but either way, it might be worth putting something in place to stop this from happening.

[2017-04-15 17:01] DuaneEllis-TI opened #1599 "examples/posix/flash.c problems with self-checks."
Technically there is nothing wrong with this, but depending upon the machine validation check-tests run on, the tests fail.  The current result, depending on the environment where the self-test operations are run they fail - randomly, but run perfectly when the next time.

The intent here is to fix/address the problem so that the validation tests work on more machines.

During the FLASH.C init() c

[2017-04-15 17:33] DuaneEllis-TI opened #1600 "./configure - numerous places just say YES, NO, but not what is happening."
When running configure, it does not print the REASON for various YES/NO statements
Example output snippit from:  make -f examples/Makefile-posix

[code]

[2017-04-15 23:25] CampbellWray opened #1601 "coap client command causing segmentaion fault"
~~I have had a look around and I believe that this could possibly be due to the recent changed to the COAP API in commit b6e72560a9cf73dd47a7d6a36fc7c827bfd7d91e.~~

When running the `coap client ...` command in the POSIX application it will crash.

I have run it through gdb and this was the output:
[code]

Edit: I have since done a checkout of the initial commit of the coap client/server and it d

[2017-04-17 04:54] jwhui commented on #1601
Thanks for posting this issue.  Couple issues while looking into this:

1. [otCoapNewMessage()](https://github.com/openthread/openthread/blob/master/src/core/api/coap_api.cpp#L129) requires `aHeader` to be non-NULL but does not actually validate the argument.
2. The first call to `otCoapNewMessage()` in [Coap::ProcessClient](https://github.com/openthread/openthread/blob/master/src/cli/cli_coap.cpp

[2017-04-17 05:01] jwhui commented on #1600
Thanks for raising this issue and agree that it needs to be fixed!  Would you be willing to submit a PR to address this?

[2017-04-17 05:02] jwhui commented on #1599
Thanks for raising this issue and the thorough analysis.  I agree with the issue and the proposed resolution.  Would you be willing to submit a PR to address this?

[2017-04-17 05:24] CampbellWray commented on #1601
Okay so changing `line 259` to read `otMessage *message = NULL;` will stop the message from being declared with a NULL header (therefore fixing the segmentation fault).

Other than that I can't see any changes that need to be made.

On `line 321` the header is initialised by passing the `coapType` and `coapCode` to `otCoapHeaderInit`, both of which will both be non-NULL, so we can be certain that

[2017-04-17 05:25] CampbellWray commented on #1601
Unless you are talking about adding a validation check into the API code as well to make sure that it can't be initialised with NULL in the future

[2017-04-17 05:26] jwhui commented on #1601
Yes, I am proposing that both changes should be made :)

[2017-04-17 05:28] CampbellWray commented on #1601
Right, I re-read it afterward and realised what you were saying, shouldn't be a problem, I'll get onto that now

[2017-04-17 07:27] CampbellWray commented on #1601
I've had a look into this, I should probably start by saying that I have never worked with c++ before, but I am still more than willing to fix this problem.

Starting with `otCoapNewMessage` It calls `mThreadNetif.GetCoapClient().NewMessage(*(static_cast<const Coap::Header *>(aHeader)));` so I followed the files that goes through:

1. `thread/thread_netif.cpp` uses the `GetCoapClient` method defin

[2017-04-17 17:11] jwhui commented on #1601
The NULL-pointer check should go in C-API `otCoapNewMessage()` wrapper in [src/core/api/coap_api.cpp](https://github.com/openthread/openthread/blob/master/src/core/api/coap_api.cpp#L131).  The internal call to `NewMessage()` takes a reference, which implies that NULL is not a valid value.

[2017-04-17 17:55] #1303 closed

[2017-04-17 20:17] jwhui commented on #1593
Just submitted #1605.  Please review.

[2017-04-18 01:02] #1593 closed

[2017-04-18 01:55] CampbellWray commented on #1601
Okay so looking at how`message_api.cpp` handles errors, I have gone ahead and done this:
[code]
Is this acceptable, by returning a NULL message it's going to likely cause errors elsewhere but maybe that should be left for the code using the API to check whether the message was created successfully.

[2017-04-18 01:58] jwhui commented on #1601
Yes, that is perfectly fine.  NULL may also be returned if there are no message buffers available.  As a result, the caller needs to check the return value anyway.

[2017-04-18 02:14] CampbellWray commented on #1601
#1606 Submitted

[2017-04-18 04:13] CampbellWray opened #1607 "API Reference page 404"
Link to the API Reference page (https://openthread.github.io/openthread/) is giving a 404 error, and has been for the last day or so, is this just me or is this affecting others too?

If it is just me, is there somewhere else that these documents are hosted?

[2017-04-18 04:17] jwhui commented on #1607
The existing API reference has been removed for the following reasons:

1. The API reference contained many images that were bloating this repo.
2. In part due to the prior reason, the API reference was horribly out-of-date.

We are looking for a new site to host the API reference.  In the mean time, you can install Doxygen and Graphviz.  Once installed, the docs will generate automatically as par

[2017-04-18 04:25] #1601 closed

[2017-04-18 13:21] GiedriusM opened #1611 "[meshcop] provisioning support"
To my understanding provisioning currently is not implemented in the OpenThread stack. I wanted to know if this feature is planned for the near future and create an active issue as a feature request if it isn't.

I do realize, that provisioning content is application specific, however at least some API and/or hooks should be available for the application as JOIN_APP commands are a part of Thread s

[2017-04-18 14:07] hubertmis opened #1612 "Test case 9.2.2 problem"
I have a problem with test case 9.2.2 for a Leader role. It looks that the harness sends following commands to a cli device:
[code]

and the device sends following CoAP `/c/cs` messages:
[1] (missing Commissioner Session ID TLV); Steering Data TLV (0xFF)
[2] Commissioner Session ID TLV; Steering Data TLV (0xFF)
[3] Commissioner Session ID TLV; Steering Data TLV (0xFF)
[4] Commissioner Session ID T

[2017-04-18 15:43] jwhui commented on #1611
Application-layer provisioning through the MeshCoP protocol defined in Section 8.9.3 of the Thread Specification is not implemented at this time.  This is an enhancement we can look into if requested.  As always, we welcome contributions as well.

The provisioning URL information provides a means to inform the Commissioner of an application-specific Commissioner application desired by the Joiner.

[2017-04-18 19:45] #1599 closed

[2017-04-18 22:51] jwhui commented on #1600
Resolved by #1617.

[2017-04-18 22:51] #1600 closed

[2017-04-19 00:01] DuaneEllis-TI opened #1619 "MTD vrs FTD builds, and Makefile.am If/Else/Endif issues"
As discussed in #1467 (Changes to Support IDEs)

These problems are intertwined and share a number of common traits and are being addressed together in a single commit, sadly I don't see a way to break this up.

**PROBLEM 1**
In src/core/Makefile.am - lists numerous IF/ELSE/ENDIF which choose which files are added or not added to a specific library. While IDEs can provide some level of exclusion,

[2017-04-19 14:04] hubertmis opened #1625 "Missing Commissioning Data TLV in full Thread Network Data"
According to Thread 1.1.0 8.4.3.2 the Thread Network Data must include an MLE Commissioning Data TLV. But there is no Commissioning Data TLV in the Network Data TLV after initialization. It is added when a commissioner registers or resigns.
I think that Commissioning Data TLV should be added to the Network Data TLV during network data initialization.

[2017-04-19 14:50] srickardti opened #1627 "MT-Safe platform abstraction"
OpenThread takes advantage of a single threaded view of the processor. Either the User application is running or the stack is running. neither can preempt the other. On a multi-threaded architecture such as an RTOS, the preemption can happen at any time. This becomes an issue if a stack tasklet in running in the stack processing RTOS Task, and a context switch occurs to another RTOS task that trie

[2017-04-19 16:26] jwhui commented on #1625
We noticed the same issue as well when testing against the latest harness.  You are right that Section 8.4.3.2 states that the Commissioning Data TLV must be included in full network data.  At the same time, when no Commissioner is active on the network, it seems completely unnecessary to include the Commissioning Data TLV.

We have filed [SPEC-710](https://threadgroup.atlassian.net/browse/SPEC-71

[2017-04-19 21:37] darconeous commented on #1533
Closing. Please re-open if you have additional concerns.

[2017-04-19 21:37] #1533 closed

[2017-04-19 21:38] #1607 closed

[2017-04-20 00:38] DuaneEllis-TI commented on #1476
@jwhui, @darconeous, and @nibanks

I'd like to draw your attention to this issue, it is the next one I would like to better address.

This is the next large item I want to push into OpenThread.

Code in openthread currently does this:

`      #include <string.h>
`
To fix missing/problems with string.h - and other related, platforms do some "Gymnastics"
In ./configure land, we "force feed" header f

[2017-04-20 06:34] wbober commented on #961
@jwhui

Sorry for the delay - I was on holidays.

No concerns with Apache 2.

[2017-04-20 08:02] hubertmis commented on #1625
If Commissioner is removed from a network Network Data should include Commissioning Data with incremented Session Id. After any Commissioner is active for any time in the network, Commissioning Data must be present in the Network Data. It seems to be small overhead to include Commissioner Data before first Commissioner connects to the network.

I think we should make OT compliant with Thread speci

[2017-04-20 16:09] jwhui commented on #1625
I agree.  We'll work towards always including the Commissioning Data TLV.

[2017-04-20 16:41] hubertmis commented on #1625
I already have initial implementation on the branch https://github.com/NordicSemiconductor/openthread/tree/pr/set-commissioner-data-when-becoming-leader
But still working on python tests to pass.

[2017-04-20 16:43] jwhui commented on #1625
Great to hear you're already working on it!  I'll reassign this issue to you :)

[2017-04-20 19:35] darconeous commented on #1476
I'm not opposed to it. Seems like a workable and convenient solution.

[2017-04-20 19:37] darconeous commented on #1476
Regarding the library... I would assume this stuff would just go with the platform bits. I'm guessing that is option B? I would think we certainly wouldn't want to expose these headers to applications linking against us.

[2017-04-20 19:56] DuaneEllis-TI commented on #1476
Technically it is doable (putting the library in platform) but currently things in "src" do not include  headers from the platform directory, and there is no "platform include" directory. Is that what we want? I don't think so.

If we want these private to openthread, I think the headers should be inside the ${openthread}/src directory somewhere.

The question is really this:  Do we want to requir

[2017-04-21 02:12] librasungirl commented on #1612
The additional /c/cs is introduced since #1486.  I am afraid we could not do anything in THCI for this issue.
Personally I think Harness should correctly match the /c/cs response and /c/cs request it want to verify, not on some assumption on the message order. [DEV-1545](https://threadgroup.atlassian.net/browse/DEV-1545) is filed to track this.

[2017-04-21 03:56] jwhui commented on #1619
Resolved by #1620.

[2017-04-21 03:56] #1619 closed

[2017-04-21 04:58] jwhui commented on #1408
Closing this out since it's gone stale.  Please reopen if this is still an issue.

[2017-04-21 04:58] #1408 closed

[2017-04-21 15:54] #1625 closed

[2017-04-21 16:47] LuDuda opened #1638 "Stack reverts to non-volatile settings when changed by application"
Recently #1586 has been applied to invalidate Operational Dataset in case of change of some parameters like channel or PAN ID.

Unfortunatelly i can't see this behaviour using CLI example, at least in a way i would expect this to work:

[code]

I found that the problem is here:
https://github.com/openthread/openthread/blob/master/src/core/meshcop/dataset_manager.cpp#L191

`mLocal `is actually neve

[2017-04-21 19:19] jwhui commented on #1638
Yes, good catch.  I actually think we can remove the `Compare` method from the `if-statement`.  Thoughts?

/cc @chshu @librasungirl

[2017-04-21 19:22] darconeous commented on #1257
Did we ever do this? I think we might need to continue with this.

[2017-04-21 19:24] jwhui commented on #1257
This issue has not yet been addressed.

[2017-04-21 19:24] LuDuda commented on #1638
Great! If there will be no objections i am willing to send this simple fix.

[2017-04-21 19:25] jwhui commented on #1638
Go ahead and submit a PR, others can still object in the mean time :)

[2017-04-22 15:25] jwhui commented on #1638
Resolved by #1639.

[2017-04-22 15:25] #1638 closed

[2017-04-25 06:54] #844 closed

[2017-04-25 18:44] jwhui commented on #1627
Early on, we had fairly lengthy discussions around what concurrency model the OpenThread API would support.  For simplicity and testability, we landed on a design where the OpenThread API is assumed to be called from a single execution context.  Any mechanisms required to handle concurrency are out-of-scope and left to platform-specific code around the core OpenThread library.

Regarding this spec

[2017-04-25 21:05] jwhui opened #1655 "Move top-level C++ namespace from 'Thread' to 'ot'"
The current top-level C++ namespace `Thread` was chosen before the project received its OpenThread name.  This is a proposal to change the top-level namespace to the short name `ot`.

Thoughts/concerns?

[2017-04-26 11:50] GiedriusM opened #1662 "UDP port re-use for CoAP application client and server"
Real-life issue: application, which hosts CoAP application server, sends a registration (or update) to CoAP resource directory (https://tools.ietf.org/html/draft-ietf-core-resource-directory-10) enabled service with success, however once the service tries to contact the application server, it uses the information from registration (update) including the client UDP port, which in this case is ephem

[2017-04-26 16:35] jwhui commented on #1662
Can you point to the text in [draft-ietf-core-resource-directory](https://tools.ietf.org/html/draft-ietf-core-resource-directory-10) that indicates the using the UDP Header's Source Port of the CoAP Request?

[2017-04-26 16:54] mstamer commented on #1619
@jwhui @DuaneEllis-TI
Just curious, does the file "dhcp6_client.cpp" need the "#if OPENTHREAD_ENABLE_DHCP6_CLIENT" macros?  Or has it been decided that the dhcp client should always be present?

Thanks.

[2017-04-26 17:04] jwhui commented on #1619
@mstamer, good catch!  DHCPv6 Client should be optional.  Would you like to submit a PR?

[2017-04-26 17:31] mstamer commented on #1619
Will do.

[2017-04-26 17:35] DuaneEllis-TI commented on #1619
@jwhui  - Agree, it probably should.

This file also will need to include 'openthread-config.h'
it is an example of several that do not - perhaps it does via other headers

[2017-04-26 17:36] GiedriusM commented on #1662
Section 5.3, page 14:
```In the absence of this parameter the scheme of the protocol, source address and source port of the register request are assumed.```.

Another example could be [LwM2M 1.0 specification](http://www.openmobilealliance.org/release/LightweightM2M/V1_0-20170208-A/OMA-TS-LightweightM2M-V1_0-20170208-A.pdf), section 5.3.1, page 27:
```Upon receiving a “Register” operation from the

[2017-04-26 17:39] mstamer opened #1663 "DHCP6 Client should be optional"
With the recent update to the build environment, the dhcp6_client.cpp file missed its enable macro check.

The macro check and matching "endif" should be added to the file.   Also, if not present, the openthread-config.h header must also be included, wrapped with the if/else/endif scheme noted in the below comment and example in this ticket.

[code]

[2017-04-26 17:40] mstamer commented on #1619
missed that info in the ticket (#1663)...  Do you prefer I add that info to this ticket as well?

[2017-04-26 17:42] DuaneEllis-TI commented on #1663
I think you will need to include openthread-config.h  (via the if/else/endif scheme used in other files)
otherwise this pre-processor define will default to ZERO and this will be disabled.

[2017-04-26 17:43] jwhui commented on #1662
I noted this text as well.  However, [draft-ietf-core-resource-directory](https://tools.ietf.org/html/draft-ietf-core-resource-directory-10) does not specify how the source port is "assumed".

As noted at the end, this use of source address and port relates to future interactions with the LwM2M Client.  The text you copied here does not state any relationship between the Client and the service tha

[2017-04-26 18:06] jwhui commented on #1619
@mstamer, I think it makes sense to make the `#include` change in the same PR.

[2017-04-26 20:29] #1488 closed

[2017-04-26 21:40] GiedriusM commented on #1662
I am confused as to why this does not answer your question.

"How" is implementation specific and not related to the issue. Related part is that it is assumed (in case "con" is not present).

That is the problem. The registration itself is successful, but later on, when LwM2M server wants to contact LwM2M client (e.g. read resource value), it sends a request to LwM2M Client, using the connection i

[2017-04-26 22:07] jwhui commented on #1662
After rereading the text, I agree.  I guess I'm used to more traditional protocol interactions that do not have the client and server services bind to the same port.

What about simply putting a guard at the top of the respective `ProcessReceivedMessage()` methods such that:
1) `Client::ProcessReceivedMessage()` ignores all received CoAP Request messages and,
2) `Server::ProcessReceivedMessage()`

[2017-04-26 22:28] GiedriusM commented on #1662
That would probably be easiest way to keep client/server separation if there aren't any weird special case messages, that could be processed by both parties. I'll have to give it more though and will try to test it.

With this solution there should also be otCoapClientSetPort, which would set the port. However there is only one instance of CoAP client in OpenThread and both application and MLE use

[2017-04-27 00:27] jwhui commented on #1662
Disregard my previous suggestion to simply ignore messages, it breaks CoAP Reset message generation in the general case.  I have some additional thoughts and will post them here in a bit.

[2017-04-27 01:30] gandreello opened #1668 "make check does not work in python virtualenv"
I have tried to setup my development environment using a python virtualenv, but the OpenThread tests point to /usr/bin/python and so bypass the virtualenv and try to execute the system level installation of python.

[2017-04-27 04:23] jwhui commented on #1668
Resolved by #1667.

[2017-04-27 04:23] #1668 closed

[2017-04-27 05:27] jwhui commented on #1662
One possible option: introduce a `CoapSocket` object, that serves as the intermediary between a UDP socket (or DTLS session) and one or both of `CoapClient` and `CoapServer`.  `CoapClient` and `CoapServer` would be modified to bind to `CoapSocket` rather than directly to a UDP socket.  The `CoapSocket` would be responsible for sending a CoAP Reset message if neither the Client nor Server instances

[2017-04-27 07:24] hubertmis opened #1672 "Requesting new Network Data if Child Update Response contains new version"
Right now when a child handles Child Update Response message it calls `HandleLeaderData()`. Child Update Response does not contain Active or Pending Timestamps and because of that `HandleLeaderData()` does not send Data Request packet even if Network Data version in the message is greater than local value. It seems that Data Request should be sent in this case.

It is not a big problem because the

[2017-04-27 08:02] GiedriusM commented on #1662
Is it really an issue? Like you've said, lets assume:
1. `Client::ProcessReceivedMessage()` - ignores CON/NON request messages, i.e. processes CON/NON with response code, ACK and RST messages.
2. `Server::ProcessReceivedMessage()` - ignores CON/NON response messages, i.e. processes CON/NON with request code, ACK and RST messages.

If either server or client receives unknown ACK/RST message, they s

[2017-04-27 09:28] rlubos commented on #1662
Well, probably the architecure of our CoAP could be revised a little bit. Maybe the CoapBase (or it could become simpy CoAP) class, which currently is a common codebase for both client and server, could receive more responsiblity. It could receive all CoAP traffic, handle retransmission and deduplication, and dispatch requests/responses between client/server which in this case would be members of

[2017-04-27 09:54] bukepo commented on #1662
I agree that we could revise the architecture of CoAP. According to the RFC, both the client and the server can send confirmable messages(separate response), as a result, both side should have the retransmission mechanism.

[2017-04-27 14:32] jwhui commented on #1662
This logic assumes that a given UDP port implements both CoAP Client and Server functionality.  I think it is important to support the following scenarios:
1. Client only
2. Server only
3. Client and Server

It has become clear to me that there needs to be some shared message processing between the Client and Server components to support scenario 3 above.

My point here was that CoAP surfaces a sc

[2017-04-27 14:55] GiedriusM commented on #1662
And it doesn't? As far as I understand both CoAP client and server could bind their UDP sockets to the same port. It would be two separate sockets, but an incoming message would reach both of them and therefore the server and the client, where a mentioned filtering would be done.

[2017-04-27 15:02] jwhui commented on #1662
In the case that a CoAP Client is bound to a given UDP port, but *not* a CoAP Server, how do CoAP Reset messages get generated in response to receiving CoAP Response messages?  Having the CoAP Client simply ignore CoAP Response messages does not address this scenario.

[2017-04-27 15:20] GiedriusM commented on #1662
Aha, I was missing the `not a CoAP Server` parth. How about adding a single boolean flag mStandalone/mIgnoreRequests to the client and setting it when appropriate? Together with a filtering it could be simple solution. Be it a temporary one, until client and server cores are combined?

[2017-04-27 17:14] mstamer commented on #1663
@DuaneEllis-TI @jwhui
Hello, for this fix, do we just want to blankly add the if/else/endif scheme to all files that use some OPENTHRED_ENABLE macro?  I did notice that some headers also include this scheme, such as thread_netif.hpp, which is why the dhcp6_client.cpp will work since it includes this header...  And if we include this scheme in all files that use OPENTHREAD_ENABLE macros, I suspect

[2017-04-27 18:05] DuaneEllis-TI commented on #1663
1) Multiple inclusion of 'openthread-config.h - technically not a problem, and does not have anything other then pound-defines. if it was defining TYPES - then yea, you would get errors.

2) All internal thread source files need to include 'openthread-config.h' - PERIOD, and it needs to be the first file that is included.

3) This is a NIT - I don't like the if/else/endif - that occurs in **EVERY*

[2017-04-28 05:29] #1655 closed

[2017-04-28 05:58] jwhui commented on #1672
I agree that we should trigger an MLE Data Request message to be sent in this scenario.  Would you like to submit a PR that addresses this issue?

[2017-04-28 05:59] jwhui commented on #1663
I agree with @DuaneEllis-TI's points above.

[2017-04-28 06:05] jwhui commented on #1662
As a temporary solution, I am fine with having the Client and Server components simply ignoring Request and Response messages, respectively - even if that means not sending Reset messages in cases when we should be.  I can see how adding an `mIgnoreRequests` flag would provide a workaround, but I would like to avoid projecting temporary workarounds through the OpenThread API.

Thoughts?

[2017-04-28 07:28] GiedriusM commented on #1662
I agree. However at the moment I can't think of any good long-term solutions. Maybe it would be helpful to state the reasons (functionality) why there MUST be a separate CoAP client/server instance. From that it could be worked out what needs to be implemented in CoAP Base/Endpoint and what in Client/Server.

[2017-04-28 16:31] abtink opened #1681 "Configure error `link tests are not allowed after AC_NO_EXECUTABLES`"
Moving to OpenThread master, we are seeing build failures triggered during `configure`:
[code]

This seems to happen after the changes in this commit https://github.com/openthread/openthread/commit/d65418c12fbf820dd1ade22087541bff691a8f96.

@darconeous, @DuaneEllis-TI , any ideas?

[2017-04-28 16:34] DuaneEllis-TI commented on #1681
Why is this not being caught by travis checks?

What target CPU are you using here?  What compiler version?
can you provide a more complete config.log to examine?

[2017-04-28 16:45] DuaneEllis-TI commented on #1681
Also - does this help resolve the issue: https://github.com/openthread/openthread/pull/1677

[2017-04-28 17:01] abtink commented on #1681
Compiler is : `arm-none-eabi-gcc (v.4,9).`
[code]
Let me check with https://github.com/openthread/openthread/pull/1677....

[2017-04-28 17:18] abtink commented on #1681
I still see this with the https://github.com/openthread/openthread/pull/1677 changes included.

[2017-04-28 18:17] DuaneEllis-TI commented on #1681
so - i just pulled head, and using (the same compiler as you)
[code]
Works just fine.
What else can you tell me?

[2017-04-28 18:35] darconeous commented on #1681
This isn't an OpenThread bug. We can close this issue and discuss internally.

[2017-04-28 18:45] abtink commented on #1681
Thanks RQ . Also thanks @DuaneEllis-TI for your quick help with this.
Seems like it's related to an internal makefile  issue that we need to figure out.
Closing this issue.

[2017-04-28 18:45] #1681 closed

[2017-04-28 18:52] darconeous commented on #1681
See https://github.com/openthread/openthread/commit/812cc838ebe8bec59831273d5e296f32ade0ffa4#commitcomment-21953634

[2017-04-28 22:10] jwhui commented on #144
Published a [Porting Guide](https://github.com/openthread/openthread/wiki/Porting-Guide) on the wiki.

[2017-04-28 22:10] #144 closed

[2017-04-28 22:26] jwhui commented on #1263
Published a [Porting Guide](https://github.com/openthread/openthread/wiki/Porting-Guide) that includes the following text:

[2017-04-28 22:26] #1263 closed

[2017-04-30 01:19] librasungirl commented on #1612
Finally agreed on updating OT to not introducing the additional /c/cs as the fix #1670.

[2017-04-30 01:19] #1612 closed

[2017-05-01 03:45] #1672 closed

[2017-05-01 18:46] jhwoodyatt opened #1689 "spinel: copyright declaration in draft text"
The copyright notice in the Spinel protocol specification draft says that copyright is assigned to Nest Labs, Inc. but there is at least one contribution that originated from an authors outside Nest. We should correct this error before I submit to the Internet Draft queue.

[2017-05-02 09:25] thcu-gp opened #1700 "otThreadSetMasterkey"
The api call is given by:
[code]
If this is called with a masterkey that is not 16 bytes in length, e.g.
[code]
The 16 byte masterkey buffer will look like
[code]
because of the default masterkey that was used before. (One could consider clearing the buffer first)

The above results in the following
1. The actual masterkey used is: `0x5E, 0xA1, 0xED, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,

[2017-05-02 11:32] GiedriusM commented on #1662
Few additional current CoAP engine shortcomings that I came across:
1) No default request handler - it allows more efficient handling (and smaller code) when CoAP resources are in tree-like structure with many nodes, which require common processing.
2) No response "response" handler - this is needed in CoAP [observe](https://tools.ietf.org/html/draft-ietf-core-observe-14#section-3.6) to detect can

[2017-05-02 15:03] thcu-gp opened #1701 "use of the channelmask is unintuitive and misses a check"
1. 'all channels' in OpenThread is specified by `0xffffffff`, which well exceeds the allowed channels in MAC 802154.
2. the 'all channels' mask from the MAC 802154 spec uses `0x7fff800` to specify channels 11 to 26. To only uses the channels 11 to 26 in OpenThread, one has to specify `0x0000ffff` as a mask (unintuitive)
3. If one specifies e.g. the channelmask `0x000f0000` (channels 27 to 31). The

[2017-05-02 16:21] jwhui commented on #1701
@thcu-gp, thanks for raising these issues.  Responses below:

Strictly speaking, `0xffffffff` well exceeds the channels for the **2.4 GHz band** in IEEE 802.15.4-2006.  Thread has provisions for supporting other IEEE 802.15.4 PHYs (i.e. Channel Pages) which may have different channel ranges.  Rather than having separate "all channels" define for each Channel Page, we simplify on one.

The `OT_CHAN

[2017-05-02 18:34] jwhui commented on #1700
@thcu-gp, thanks for raising this issue.

The Thread Specification does not make a clear statement on possible lengths for the Network Master Key (or _thrMasterKey_).  That said, there are a number of areas which indicate that the length must be 16 bytes:

* Section 7.1.4 Test Vectors all have a 16-byte _thrMasterKey_.
* Section 8.10.1.6 indicates that the Network Master Key TLV Length is always s

[2017-05-02 19:09] jwhui commented on #1701
Submitted #1702.  Please review.

[2017-05-02 19:20] jwhui commented on #1689
Resolved by #1690.

[2017-05-02 19:20] #1689 closed

[2017-05-03 12:28] thcu-gp commented on #1700
I would suggest removing the length field entirely and always use the 16 byte masterkey.
One could keep the length field in the api, but then it should be made clear that `16 - length` `0x00` bytes are added to the masterkey (and still use the full 16 bytes internally)

[2017-05-03 14:11] chshu opened #1709 "Noise floor detection"
As defined in spec 5.9.4, some Link Metics like Link Margin/Quality/Cost are all calculated based on the received signal strength (RSS) and local noise floor.

But in current OT, the noise floor detection is not implemented yet, and the kDefaultNoiseFloor (-100 dbm) is used by default for the Link Metrics calculation.

I have some questions:
- Do you think it is necessary to implement noise floor

[2017-05-03 14:27] thcu-gp opened #1710 "joiner does not reset Crc16 calculations after joining attempt"
When the commissioner calculates the steeringdata, `Crc16::mCrc` is always `0` at the start of each calculation.
When the joiner calculates the steeringdata, `Crc16::mCrc` is only `0` at boot or after a reset, but not at each join attempt. Therefore if a joiner tries to join a second time (the first attempt might have failed), the steeringdata are calculated incorrectly and the joining fails.

`sr

[2017-05-03 14:30] chshu commented on #1710
I think the issue will be fixed by #1706.

[2017-05-03 15:43] jwhui commented on #1710
@thcu-gp, does #1706 address your issue?

[2017-05-03 16:30] jwhui commented on #1709
We thought about this in the past and decided not to compute the noise floor based on sampling the RSSI.  Some of the challenges that came out:

1. There is little guidance on how to compute the noise floor based on samples.  For example, how often should samples be performed?  What is the duration of the averaging window?  If something like exponentially-weighted moving average is used, what are

[2017-05-03 16:46] thcu-gp commented on #1710
yes, the fix in #1702 should do the trick

[2017-05-03 16:48] #1701 closed

[2017-05-03 17:05] jwhui commented on #1662
The idea behind separating the Client and Server functionality is to only use/allocate resources when they are actually used.  For example, if a device only needs to implement Client functionality, it does not need to allocate resources needed to support Server functionality.  The current split also makes it easy to have the Client and Server bind to different ports.  However, as you noted, it doe

[2017-05-03 17:09] jwhui commented on #1662
Thanks for pointing out additional feature requests.  Can you submit separate issues for these so that we can track them separate?  Would you also be willing to contribute some of your thoughts around the design of those additional features (e.g. APIs, where code should be modified, etc.)?  Even better, would you be willing to submit a PR with these additional features?

[2017-05-03 20:28] GiedriusM commented on #1662
I already have these and a couple of other changes in my development repo and will probably PR them during a coffee break tomorrow.

As for the main issue I probably won't be able to PR any reasonable code anytime soon. I've had an idea about a single CoAP Endpoint to which sockets could be registered and then coap messages would be sent and received based on messageInfo, but then I remembered DTL

[2017-05-03 22:56] DuaneEllis-TI opened #1713 "Patching mbedtls - vrs IDEs"
There's an IDE based issue with patching mbedtls that IDEs cannot easily handle.

In the ./configure world - (typically linux, but also cygwin, or msys) one often installs the package called: "build-essentials" and/or other sw-development packages or bundles. In the end, the "patch" command is present. Life is good, and simple.... and joyful.

IDEs do allow for a a pre/post build command. But the

[2017-05-04 01:44] jwhui commented on #1710
Resolved by #1706.

[2017-05-04 01:44] #1710 closed

[2017-05-04 02:36] chshu commented on #1709
@jwhui, Thanks a lot for the detailed clarification.

Given that there are many challenges to implement noise floor detection, I also prefer to use hardware-specific sensitivity value as the basic noise floor for link metric computation.

So I propose the following changes:
- Add `#define OPENTHREAD_CONFIG_RADIO_RECEIVE_SENSITIVITY -100` configuration
(platforms could define their own values separ

[2017-05-04 06:48] Gr3yh0und commented on #1713
Another option would be to use TinyDTLS? I'm currently using it additionally on top of OpenThread. Maybe create a sub-layer/API between OT and SSL and then a configure switch to choose between both?

[2017-05-04 06:48] Gr3yh0und commented on #37
Are there any plans to introduce a versioning / naming scheme in the future?

[2017-05-04 06:55] jwhui commented on #1713
@DuaneEllis-TI, another option may be to include the patched file in `third_party/mbedtls/patched` while keeping `third_party/mbedtls/repo` pristine.

[2017-05-04 06:58] jwhui commented on #1713
@Gr3yh0und, the [TinyDTLS site](https://projects.eclipse.org/projects/iot.tinydtls/governance) indicates:

Unfortunately, Thread 1.1 requires an EC-JPAKE cipher suite.

[2017-05-04 07:03] jwhui commented on #1662
@GiedriusM, thanks and look forward to your PRs.

I'm willing to take a look into expanding the responsibility of `CoapBase` as @rlubos suggested above.

[2017-05-04 07:07] jwhui commented on #37
@Gr3yh0und, we're getting very close to cutting the first release that is used as a reference by the [Thread Test Harness](http://graniteriverlabs.com/thread/).  As stated in the [README.md](https://github.com/openthread/openthread/blob/master/README.md), the plan is to follow the [Semantic Versioning Guidelines](http://semver.org/).

[2017-05-04 07:08] Gr3yh0und commented on #1713
@jwhui , Ah damn. Thought that there would be a cave eat somewhere... Thanks for pointing that out.

[2017-05-04 07:13] GiedriusM commented on #1700
How about reusing the otMasterKey type and, as such, forcing 16 byte length? From my experience it's often better to restrict the user to a certain requirement than to perform "under the hood" operation if the input is non conforming.

[2017-05-04 07:16] jwhui commented on #1700
@GiedriusM, exactly what I was thinking as well, and also satisfies @thcu-gp's suggestion.

[2017-05-04 08:07] abtink commented on #1709
@chshu simplifying and removing the noise floor sounds great. Thanks for initiating this.

I think the radio sensitivity may not be well-suited as an OpenThread configuration.  OT config option settings are mainly used to change some behavior/parameter within OT itself. Radio sensitivity should really be provided by the radio driver/platform which is closer to hardware.

My suggestion is that we i

[2017-05-04 08:32] chshu commented on #1709
@abtink, It does make sense to add a new radio API to get sensitivity value, which makes it more flexible for platforms to determine their own sensitivity value.

I will push a PR to address it, thanks for your suggestion.

[2017-05-04 15:43] DuaneEllis-TI commented on #1713
That does not work very well, IDEs often want to compile *ALL* source code in a directory.

It sort of needs to be the *entire* directory - all or none,

If I create two libraries  MBED-not-patched (containing all source files) and  MBED-PATCHED (containing the single patched file) -  I have no means to force the single patched file  to be picked out of the library instead of the unpatched file.

[2017-05-04 16:19] nibanks commented on #1713
VS manages just fine with its [mbedtls_k](https://github.com/openthread/openthread/blob/master/etc/visual-studio/mbedtls_k.vcxproj#L60) project file. It just explicitly declares which files to compile.

[2017-05-04 16:23] DuaneEllis-TI commented on #1713
@nibanks >> VS manages just fine with its mbedtls_k project file. It just explicitly declares which files to compile.

yea, with the caviate that if you modify the source file list (add, delete, rename a file) - you must manually modify the project file.

Other IDEs just compile the directory full of files.  Eclipse is an example of this.  Two ends of the spectrum.

[2017-05-04 16:38] nibanks commented on #1713
@DuaneEllis-TI,  mbedtls is fairly static as far as changes go. I don't think it is unreasonable to just rely on modifying a source list if it every actually changes.

[2017-05-04 16:41] DuaneEllis-TI commented on #1713
Agreed, Mbed is exactly 99.999% static.

However - Some IDEs have lists of files, some do not and will compile all files that match "*.c" and/or "*.cpp" - there is no list.

[2017-05-04 20:13] srickardti commented on #1627
We've altered our plans to accommodate this. Thanks for considering it though.

[2017-05-04 20:13] #1627 closed

[2017-05-04 21:19] jwhui commented on #1700
Submitted #1724.  Please review.

[2017-05-05 03:38] jwhui commented on #1709
Resolved by #1715.

[2017-05-05 03:38] #1709 closed

[2017-05-05 16:21] #1700 closed

[2017-05-08 20:24] mstamer commented on #1663
General question about the build environment...  I have the code done, but it fails when building/testing step:
1.9  Compiler: clang BUILD_TARGET="posix-distcheck" VERBOSE=1

Failure is due to "cannot find file".
Specific errors are:

../../../src/core/api/instance_api.cpp:36:39: fatal error: openthread-enable-defines.h: No such file or directory
 #include <openthread-enable-defines.h>

My change

[2017-05-08 20:35] mstamer commented on #1663
Forgot to mention, I placed the new file in:
openthread/include/

[2017-05-08 22:28] jwhui commented on #1513
Resolved by https://github.com/openthread/pyspinel/pull/5.

[2017-05-08 22:28] #1513 closed

[2017-05-09 00:20] DuaneEllis-TI opened #1741 "travis test: posix-ncp, and 'spinel.py'"
Currently, the .travis/setup.sh script

At the very top - installs (via pip) the package spinel:
For example the log reads:
[code]

This seems a bit strange, if there is a change to spinel - you would want to test the SPINEL that is *PRESENT* in the distribution under test, not the spinel that is in the master branch.

that said, it would be a nice thing - if rather then installing spinel, and thu

[2017-05-09 00:32] jwhui commented on #1741
As a result of #961, spinel-cli is now maintained in a separate repo [openthread/pyspinel](https://github.com/openthread/pyspinel).  Do you have a proposal on the 'quasi installed' location?

[2017-05-09 06:21] jwhui commented on #1662
@GiedriusM, I just submitted #1745, which I think you might appreciate :) . Please review.

[2017-05-09 07:38] GiedriusM commented on #1662
@jwhui, great job, I'm looking forward to merging this into my repo! I've skimmed through the changes and it seems good. My plan is to test the changes once it gets merged into the master, but if you want a pre-test, with some delay I could do that too.

P. S. What about #1717, #1718 and #1719? Are you going to append them or want me to resolve the conflicts once #1745 is merged?

[2017-05-09 14:41] DuaneEllis-TI commented on #1663
With automake - the compile commands are "quite" and not noisy.

If you type:  "V=1 make", or   "make V=1" - instead of saying:  "CC  somefile.c"
the makefile outputs the complete command line.

You could - for test purposes, tweak the travis scripts or the makefile that it invokes to add "V=1" and get a more detail from the compile.

Have you tried:  ```#include "filename"``` instead?  I wonder i

[2017-05-09 15:33] DuaneEllis-TI commented on #1741
Hmm - I see that this was moved, but never *removed* from openthread...

I guess there are two issues then:

a) Just how stable is the SPINEL protocol? How often do we expect new packets to be added to the protocol, and how do we coordinate updating *both* SPINEL and Openthread at the same time.  I am concerned about the corner case of requiring an update to *both* pyspinel and openthread in order

[2017-05-09 16:12] jwhui commented on #1741
The intent of #961 was to remove from this repository once the new repository was up.  No sense to maintain multiple copies of the same code.  #1742 completes the migration process.

FWIW, looking at the history, it seems that spinel-cli has mostly been a second class citizen.  Historically, changes/additions to the Spinel specification were immediately reflected in [src/ncp](https://github.com/op

[2017-05-09 16:20] jwhui commented on #1663
Should the new include file be placed in `src/core`?  Does it need to be a public include file?

[2017-05-09 16:50] jwhui commented on #1662
I don't have a strong preference either way on #1718 and #1719.  I have some reservation with #1717 since that makes changes to the API that will be removed by #1745.  Do you have a strong preference?

[2017-05-09 17:24] GiedriusM commented on #1662
Well, #1717 was supposed to be a temporary workaround for this issue, but #1745 should provide the proper solution, so I guess it's redundant and can be closed.
I will definitely need the other two for my application, so I might as well submit them to OpenThread.

[2017-05-10 21:07] jwhui commented on #1607
@CampbellWray, the API reference is now hosted at: https://openthread.github.io/openthread-docs/

[2017-05-10 22:05] #961 closed

[2017-05-10 22:07] jwhui commented on #1479
Moved to https://github.com/openthread/pyspinel/issues/6.

[2017-05-10 22:07] #1479 closed

[2017-05-11 17:00] #1435 closed

[2017-05-12 05:11] jwhui commented on #747
Resolved by #1703 and #1757.

[2017-05-12 05:11] #747 closed

[2017-05-12 18:51] #1662 closed

[2017-05-13 03:45] jwhui opened #1766 "style: use switch statement?"
https://github.com/openthread/ot-br-private/blob/master/src/border-agent/border_agent.cpp#L241

[2017-05-13 03:47] #1766 closed

[2017-05-13 06:07] jwhui commented on #1476
Resolved by #1642.

[2017-05-13 06:07] #1476 closed

[2017-05-15 23:44] pvanhorn opened #1771 "Implement support for Spinel's Host Power State feature."
Host MCU's can indicate to an NCP, via Spinel, that it is entering a low power state.  Depending on the State specified the procedures for waking up the host can vary.  The polices have been outlined in the Spinel documentation.

Support for this feature needs to be added to ncp_base and other associated source.

[2017-05-16 01:43] jwhui commented on #1257
Resolved by #1770.

[2017-05-16 01:43] #1257 closed

[2017-05-17 12:11] thcu-gp opened #1780 "otDatasetSendMgmtActiveGet"
Shouldn't otDatasetSendMgmtActiveGet be available for mtd devices as well?
Any device should be able to request the Active dataset from another device.

[2017-05-17 12:15] thcu-gp opened #1781 "otThreadGetPSKc and otThreadSetPSKc"
Currently `otThreadGetPSKc` and `otThreadSetPSKc` they are located in `src/core/api/thread_api.cpp`. However the are enclosed by `#if OPENTHREAD_FTD ... #endif`
Shouldn't they be moved to `src/core/api/thread_ftd_api.cpp`

[2017-05-17 13:21] chshu commented on #1781
@thcu-gp, Thanks for pointing it out, I think it is caused by a carelessness rebase operation: When I was working on #1680 (Remove some Leader/Router related features from MTD build), the PR #1635 (Add PSKc API) has not been merged yet. And after #1635 is merged, the rebase operation didn't complain any conflicts, so I ignored these two functions.

I have pushed #1782 to address this issue, thanks

[2017-05-17 13:52] chshu commented on #1780
@thcu-gp, As far as I see, only MGMT_ACTIVE_GET.rsp is mandatory for all devices, as described in section 8.7.4.4:

This feature is supported by MTD with PR #1360.

But regarding to MGMT_ACTIVE_GET.req, I didn't notice that it is mandatory for all Thread devices, could you please help to refer some words from spec? From section 8.7.4.3, it only says:

It is may, so I think it is not mandatory for

[2017-05-17 14:39] thcu-gp commented on #1780
Let me quote the spec on `MGMT_ACTIVE_SET.req` because it has similar phrasing with respect to the 'may'
p5-56 L32

This part has, similarly to MGMT_ACTIVE_GET.req, a 'may' in the text (note this is not a 'MAY'). However, in section 8.7.4.2 the spec says:

This text has a clear 'MUST'. In my opinion the 'may' more means _when it is required_ rather than _it is up to the device to decide if it send

[2017-05-17 15:41] chshu commented on #1780
@thcu-gp, Thread device could use MLE Data Request/Response to retrieve Datasets from its parent (OT are using this way), that's why I think `MGMT_ACTIVE_GET.req` could be optional.

I agree with you that the `may` is not `MAY`, and I'm open to support MGMT_ACTIVE_GET.req in MTD, my only concern is that it will increase some code size to MTD build while the feature may be not actually used.

[2017-05-18 03:40] chshu opened #1786 "Enhance otPlatRadioTransmitDone() callback by passing up the ACK frame"
This is a proposal to enhance otPlatRadioTransmitDone() callback by **passing up the ACK frame** as part of it.

Current otPlatRadioTransmitDone() callback only pass up the ACK's `aFramPending` information:
[code]
The new otPlatRadioTransmitDone() callback will pass up the whole ACK frame instead:
[code]

The benefits of the enhancement:
- The ACK messages could also be used for link quality evalu

[2017-05-18 06:32] wbober commented on #1741
@DuaneEllis-TI

I agree that using pyspinel master branch might not be the best idea. However, this could be solved by referencing a specific commit, branch, or tag in the setup.sh, i.e.:

git+https://github.com/openthread/pyspinel@COMMIT-SHA

Regarding the installation issue I would suggest to use python virtualenv. As a part of the job a CI server would have to create a virtual env and activate

[2017-05-18 07:44] thcu-gp commented on #1780
[code]
The function body is already part of an mtd build. So the only increase in code size comes from adding an additional function. So, unless one wants to shave off every superfluous byte. I'm not sure if code size is the most important ground to include or not include the api call. (One could turn the observation around and claim, the code size could probably be reduced further)

Use case is a

[2017-05-18 08:58] chshu commented on #1780
`otDatasetSendMgmtActiveGet()` is located in dataset_ftd_api.cpp which is not part of MTD now.

The code size was an issue before, we could not fit OT into some real products, that's the reason we need a MTD build, and want to keep MTD build smaller.

To support this functionality, we need to add at least following functions into MTD build (estimated hundreds bytes):
- [ProcessMgmtGetCommand()](ht

[2017-05-18 15:51] DuaneEllis-TI commented on #1741
The PY virtenv - if it is local to the build would be a good solution.

[2017-05-18 18:11] pvanhorn commented on #1786
I think my biggest concern with this is that, we currently find ourselves running out of radio buffers during periods of heavy throughput.  Using a RadioPacket to report every ACK might further tax that resource.  Understand that the packet is received via an ISR but the RadioPacket is delivered via a task thread.  This means a pool of packets is needed so that the ISR can continue to function whi

[2017-05-19 03:52] #1781 closed

[2017-05-19 04:40] chshu commented on #1786
@pvanhorn, Thanks for sharing your concern.

Here we are talking about passing up ACK frame instead of a single `aFramPending` flag, there will be no changes to how radio receive packets, and no extra packets pool needed.

The radio could transmit only one packet at a time, it will not transmit the next packet until it receive the ACK or timeout. So only a single ACK packet will be used, but not a

[2017-05-19 16:43] pvanhorn commented on #1786
Your last point is a good one. I hadn't thought that through to completion. So we are fine as long as we later don't create a transmit queue in an effort to increase throughput.