[2019-05-17 18:35] jwhui commented on #3820
@NickNamerr, with 2057a14, did you observe the NCP changing state to "end-device"? I wonder if the state change to end-device is an indicator.

To enable logging in POSIX app, try add the following to `src/posix/platform/openthread-core-posix-config.h`:
[code]

[2019-05-18 01:53] #3826 closed

[2019-05-20 05:09] bukepo opened #3839 "[ncp] cannot deal with mesh local prefix change well"
**Describe the bug**
Mesh Local Prefix is part of Thread network credential. However, if two nodes are configured with different mesh local prefix but has the same master key. The second device will use its parent's mesh local prefix. This causes problem with Dual-chip solution because the new mesh local prefix is not notified to host before notifying the ip addresses, causing RLOC addresses being

[2019-05-20 14:42] bukepo commented on #3699
not seeing this issue with latest code:+1:

[2019-05-20 14:42] #3699 closed

[2019-05-20 15:50] #3832 closed

[2019-05-20 18:41] abtink commented on #3839
@bukepo , can you please help explain how the mesh-local addresses from NCP are being treated as addresses added by user? `wpantund` is designed to track origin of addresses (is there a bug related to this logic or something else is going on here...). Thanks.

[2019-05-20 23:33] abtink commented on #3839
@bukepo , please ignore my earlier question.

[2019-05-21 03:25] bsvean2 opened #3845 "wpantund.service is not listed as an enabled service during Step 4 of the "Build and Configuration" page"
wpantund.service is not listed as an enabled service during Step 4 of the "Build and Configuration" page. I used the "sudo systemctl status" command to verify that the all of the required services are running, and wpantund.service is not listed as one of them. The other three services are listed (avahi-daemon.service, otbr-agent.service, otbr-web.service). This is preventing me from moving forward

[2019-05-21 09:35] LuDuda opened #3847 "[mle] certification tests ED_6_1_6, SED_6_1_6, Router_5_1_11 fail"
I have verified that because of #3803, ED_6_1_6, SED_6_1_6 and Router_5_1_11 fail.

The OT built from the previous commit successfully passes the certification test cases.

The device seems to attach to the first Router instead of sending another Parent Request with modified Scan Mask and attach to the REED.

Wireshark reference for ED_6_1_6: [Test_6_1_6.zip](https://github.com/openthread/openthre

[2019-05-21 18:12] jwhui commented on #3847
@LuDuda, thanks for identifying this issue!

I believe the issue is that the [check for Link Quality being 3](https://github.com/openthread/openthread/blob/master/src/core/thread/mle.cpp#L1641) is only for the receive direction and does not consider the bi-directional link quality.

I can submit a quick fix soon.

[2019-05-21 18:17] LuDuda commented on #3847
Yes, it also aligns with my static code analysis.

Thank you for a fix proposal! I can verify it tomorrow.

[2019-05-21 19:45] #3798 closed

[2019-05-22 02:06] bukepo opened #3852 "[code-style] unify python scripts and add style check"
**Is your feature request related to a problem? Please describe.**
A follow up to https://github.com/openthread/openthread/pull/3817.

**Describe the solution you'd like**
Add make pretty for python scripts and check that in Travis.

[2019-05-22 04:37] jwhui commented on #3839
Resolved by #3844.

[2019-05-22 04:37] #3839 closed

[2019-05-22 15:37] #3847 closed

[2019-05-23 12:25] FiveDimensions opened #3859 "OT does NOT work properly since 56fa9ac9cdb612895a524f00251135781603d90a"
When doing the certification test on latest code(eb46303ff8318a76d5a9012c389d8b25667c68b8), found OT (on cc2538) does not work, no packet send&recv. After binary searches on OT commit from last success test, locate the issue since 56fa9ac9cdb612895a524f00251135781603d90a

[2019-05-23 15:13] KaSroka commented on #3859
Please check if #3861 fixed the problem.

[2019-05-23 17:19] jwhui commented on #3642
@dismirlian, have you made progress on the items you listed above?

[2019-05-23 17:22] jwhui commented on #3670
Resolved by #3749 and #3801.

[2019-05-23 17:22] #3670 closed

[2019-05-23 17:26] abtink commented on #3019
I thik we can close this one.

[2019-05-23 17:26] #3019 closed

[2019-05-23 17:26] jwhui commented on #3802
@gidhin, from your note above, it seems you are still using `node-dtls-client`, which does not support the ciphersuite `TLS_ECJPAKE_WITH_AES_128_CCM_8 ` that Thread utilizes.

As @bukepo noted above, you can try with [`node-mbed-dtls`](https://github.com/particle-iot/node-mbed-dtls).

[2019-05-23 17:28] jwhui commented on #3815
@tarunsmalviya, can you provide any updates?

[2019-05-24 05:00] gidhin commented on #3802
Thanks for the update. Will check and let you know.

Thanks and Regards,
Gidhin S

On Thu, May 23, 2019 at 10:57 PM Jonathan Hui <notifications@github.com>
wrote:

[2019-05-24 05:46] tarunsmalviya commented on #3815
@jwhui Apologies for delay in response.
Actually, I found that FTD is not connected with any other node, so I was not getting any response for **networkdiagnostic get** command.

[2019-05-24 07:56] bukepo commented on #3859
@Irving-cl

[2019-05-24 09:40] bukepo opened #3866 "Use static const for non-enumeration constants?"
**Is your feature request related to a problem? Please describe.**
Currently OpenThread uses enum define constants event it is not an enumeration type. This causes issues like the compiler doesn't know the enumeration is signed or unsigned when choosing a overloaded methods.

**Describe the solution you'd like**
Use `static const <type>` to define non-enumeration constant, where `<type>` is a conc

[2019-05-24 11:17] LuDuda opened #3867 "[cert] Leader_5_5_7 often fails"
I found today that the certification test `Leader_5_5_7` very often fails. I didn't notice that before since by default we have retries on each case - to eliminate e.g. sniffer packet loses etc..

This test contains 3x Routers and 1x Leader. Routers do not have connectivity with other routers.
In the middle of the test, Leader is turned off, and after >120s is back to the network. It then realizes

[2019-05-24 22:53] dismirlian commented on #3642
Hi @jhwhui, I'm still waiting for the hardware to test. If you want, you can close this issue... all of my question have been answered, and I'll submit a PR in some weeks.

[2019-05-27 07:52] librasungirl commented on #3867
@LuDuda , thanks for raising this issue.

ARM Leader sends Address Solicit quickly because its THCI would reconfigure `routerselectionjitter` in `resetAndRejoin()` implementation.

OpenThread also introduced similar reconfiguration since #3524.
https://github.com/openthread/openthread/blob/master/tools/harness-thci/OpenThread.py#L405
It should work for Leader DUT role. Would you please check if yo

[2019-05-28 07:03] NickNamerr commented on #3820
@jwhui yes, I observed it. Sometimes it changes back to "router" , sometimes happens"Input/output error" and need to run again.

[2019-05-28 12:52] KaSroka opened #3874 "Should we maintain Windows support?"
I would like to raise some discussion and hear your opinion.
There were no contributions to the Windows part of OpenThread for a long time. We are not testing if it's working, only if it builds. Sometimes it slows down the development of new features as we have to figure out how to make AppVeyor happy. Also, it adds some bloat to the code (OTAPI, OTCALL, WPP_NAME). My opinion is that we should rem

[2019-05-28 12:52] bukepo opened #3875 "create a CI check with MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA_ENABLED=1"
**Is your feature request related to a problem? Please describe.**
Missing check with MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA_ENABLED=1

**Describe the solution you'd like**
Add a check with MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA_ENABLED=1

**Describe alternatives you've considered**
None

**Additional context**
#3873

[2019-05-28 13:40] KaSroka opened #3877 "Use numeric_limits for C++ code."
C++ standard defines `std::numeric_limits` as a standard way to query various properties of arithmetic types instead of defines like `UINT32_MAX`. Some implementations of stdlib don't define those when building for C++, that's why we need things like [this](https://github.com/openthread/openthread/blob/master/include/openthread/platform/toolchain.h#L310). I think that we should use proper way defi

[2019-05-28 17:14] #3859 closed

[2019-05-28 17:48] abtink commented on #3874
I agree...in favor of this.

[2019-05-28 19:32] jwhui commented on #3877
Using `std::numeric_limits` sounds like a good idea to me. Would you like to submit your proposed changes?

[2019-05-28 19:35] jwhui commented on #3867
I agree that we should file a Thread Group JIRA. As mentioned, we should wait the full 120s + delta timeout for an Address Solicit message if one is expected.

[2019-05-28 19:42] LuDuda commented on #3867
Thanks for your analysis and confirmation. I'll file a Thread Group JIRA.

[2019-05-28 20:11] jwhui commented on #3874
Given that the last real contribution to the Windows platform was more than two years ago, I am fine with removing Windows support. Do you have proposed changes you'd like to submit? Or would you prefer I take an initial stab?

[2019-05-28 22:01] KaSroka commented on #3874
@jwhui I took an initial stab but feel free to comment/contribute to my PR if you see more things that may be changed.

[2019-05-28 22:02] KaSroka commented on #3877
Yes, I'll submit proposed changes after testing with other compilers.

[2019-05-29 12:19] KaSroka commented on #3877
We would need to switch to C++11 from C++98 to make this work as pre C++11 version of `std::numeric_limits::max()` is not `constexpr` and we need this.

[2019-05-29 15:39] jwhui commented on #3820
@NickNamerr, I'm wondering if the underlying reason for state change is due to the NCP resetting/hanging unexpectedly. Enabling logging and providing the log output could help diagnose the issue.

[2019-05-29 17:22] josephn123 opened #3879 "[time-sync] new devices joining a partition can cause the whole partition to lose synchronisation with the leader"
**Describe the bug**

Device(s) holding a higher time sync sequence ID joins a partition. For example, the existing devices have just been been seeded by the leader with a time sync sequence of 10, and the new device(s) are seeding with a sequence ID of 136 as a relic from the previous partition. The existing devices, aside from the leader, accept and distribute the time synchronisation sequence,

[2019-05-29 18:30] josephn123 commented on #3879
Another, more common scenario, is a recently booted device (therefore with a low sequence number i.e. 3) coming in range of a network currently seeding with a high sequence number (i.e. 131). The fresh device joins and all devices apart from the leader sync to the new device. Synchronisation to the leader is lost again for up to 63 minutes.

[2019-05-29 19:45] jwhui commented on #3879
@josephn123, thank you for raising this issue.

I agree that a device attaching to a new partition should adopt whatever time sync sequence the partition has.

I also think it might be worthwhile for the Leader to reassert its authority by advancing its time sync sequence if it receives one that is ahead.

Thoughts?

/cc @chshu

[2019-05-29 20:50] jwhui opened #3880 "Move language standard baseline to C++11?"
The current language standard baseline is C++03 (see [STYLE_GUIDE.md](https://github.com/openthread/openthread/blob/master/STYLE_GUIDE.md#standards)).

Thoughts on whether we should move to supporting C++11?

One use case was raised in #3877.

[2019-05-29 20:51] jwhui commented on #3877
@KaSroka, thanks for pointing that out. I think moving to C++11 requires a separate issue for discussion, which I opened with #3880.

[2019-05-29 21:16] abtink commented on #3880
I am in favor in general. We should consider the list of the features that would be helpful (`auto`, ranged-`for` loops, `constexpr`,  `enum class`, etc.) and if there are any features we may want to limit the use of?
(new function syntax with `->` to specify return type, lambda with capture?)

[2019-05-29 21:25] KaSroka commented on #3880
As C++ 20 is coming I think that we may consider newer standards as well (if they have features that may help us). Also we are building with std=gnu++98 configured currently, not 03. And the Android build have no standard defined (I cannot see any std= flag when running Android build on Travis)

[2019-05-29 21:28] KaSroka commented on #3880
Here is a nice brief of new features in each version: https://github.com/AnthonyCalandra/modern-cpp-features

[2019-05-29 23:38] chshu commented on #3879
@josephn123 Thanks for reporting the issue. And I agree with you and Jonathon's suggestions, following changes may fix the issue:

1. Once a device attach a new partition, reset its mTimeSyncSeq to OT_TIME_SYNC_INVALID_SEQ (0), then it will accept any time sync sequence from the network.
2. If the Leader receives a newer time sync sequence (X), Leader updates it's mTimeSyncSeq to be (X + 1), so to

[2019-05-30 08:19] josephn123 commented on #3879
Thank you both for the feedback and the suggestions. I will work on a corresponding fix.

[2019-05-30 13:00] CiaranWoodward commented on #3877
Am I right in saying that this would be the first use of the C++ Standard Library in all of openthread? In that case we might also need to rethink the "The use of the C++ Standard Library shall be avoided" Style Guide rule and consider what should/shouldn't be allowed.

[2019-05-30 18:30] jwhui commented on #3880
@KaSroka, we can consider adopting newer versions of the C++ language standard. At the same time, we should also consider compiler support as well. If there are good use cases for using newer language features that are well supported by compilers, we can discuss further.

[2019-05-30 18:33] jwhui commented on #3877
@CiaranWoodward, good point. I think we should be selective in what portions of C++ Standard Library we allow. Maybe we can add a list of exceptions to the style guide, `std::numeric_limits` being one of the items?

[2019-05-30 21:20] isabyr opened #3885 "Commissioning won't start on border router NCP"
**Describe the bug**
I'm trying to build NCP with commissioning on border router, commissioning won't start.

**To Reproduce**
Information to reproduce the behavior, including:
1. Git commit id: 99937016c06674733a2b4c19abcf91cc5b4af949
2. Hardware: nrf52840/skb501
3. make -f examples/Makefile-nrf52840 NCP_SPI=1 COAP=1 BORDER_AGENT=1 BORDER_ROUTER=1 COMMISSIONER=1 UDP_FORWARD=1 LINK_RAW=1
4. I'm us

[2019-05-31 02:11] NickNamerr commented on #3820
Is it enough to enable log only on POSIX app side? Do I need to do something for "ot-ncp-radio" app?

[2019-05-31 16:14] #3879 closed

[2019-05-31 16:59] jwhui commented on #3815
@tarunsmalviya, thanks for the update.

[2019-05-31 16:59] #3815 closed

[2019-05-31 17:39] jwhui commented on #3820
I think logs on the posix app side should give decent visibility to start. The log output will come via wpantund, so it will be good to see the wpantund and posix app syslog output.

[2019-05-31 20:58] KaSroka commented on #3880
After looking into features of C++14 and 17 i cannot see any features that may help us maybe except relaxed requirements of constexpr in C++14 as well as no implicit const when using them.

[2019-06-03 11:19] bukepo opened #3892 "Is it required to acknowledge a MAC frame with the same version?"
**Describe the bug**
I found if the MAC frame is 15.4-2015, Nordic will ignore the received ACK whose version is 15.4-2006 although the sequence number matches.

**Additional context**
When we implemented the CSL `Mac::SendAck`, it uses the version 2006 when 2015 features is required. This resulted in Nordic node doesn't accept the ACK.

[2019-06-03 12:19] librasungirl commented on #3867
@LuDuda , do you have the JIRA number?

[2019-06-04 09:31] bukepo opened #3896 "add a size change report for pull request?"
**Is your feature request related to a problem? Please describe.**
We need to get notified for unexpected size change. This is important for size restricted platforms.

**Describe the solution you'd like**
Generate a size change report containing size changes of all platforms after running travis check.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2019-06-04 14:21] bukepo opened #3898 "Difference between OPENTHREAD_CONFIG_ENABLE_* and OPENTHREAD_ENABLE_*?"
I found some features are guarded by macros with the former prefix, but some are with the latter. I'm not sure when to use which one? If there's no differences, should we unify them?
Here's the list.

[code]

[code]

[2019-06-04 14:25] jwhui commented on #3898
- `OPENTHREAD_CONFIG_ENABLE_*` is used for configurations defined in [src/core/openthread-core-default-config.h](https://github.com/openthread/openthread/blob/master/src/core/openthread-core-default-config.h).

- `OPENTHREAD_ENABLE_*` is used for build configurations defined with `AC_ARG_ENABLE` in `configure.ac`.

[2019-06-04 14:48] jwhui commented on #3896
This would be very helpful.

The travis scripts print the output of `arm-none-eabi-size` in the build logs, but that is not visible enough.

Ideally, not only do we track difference for a given PR, but we also trend the code size so we can see the change over a longer period of time. It may be that not any one given change is significant, but many small changes are.

[2019-06-04 15:14] bukepo commented on #3898
Thank you!

[2019-06-04 15:14] #3898 closed

[2019-06-05 07:02] LuDuda commented on #3867
Sure, [TESTPLAN-456](https://threadgroup.atlassian.net/browse/TESTPLAN-456).

[2019-06-06 08:22] nigelg-silabs commented on #3642
Hi @dismirlian, Should this ticket be closed? It seems to have been re-opened

[2019-06-06 08:41] nigelg-silabs commented on #2686
Hi @jwhui, @chshu Can this be closed?

[2019-06-06 18:55] jwhui commented on #3874
Resolved by #3878.

[2019-06-06 18:55] #3874 closed

[2019-06-06 18:58] jwhui commented on #3685
Do we have a good use case for autostart? If not, maybe we should consider removing this feature?

[2019-06-07 16:30] jwhui commented on #3642
@dismirlian, thanks for the update. Given that all of the questions have been answered, I'll close this issue. Feel free to submit new issues in the future.

[2019-06-07 16:30] #3642 closed

[2019-06-08 01:06] jaimemi opened #3908 "Monitoring nodes"
Hi!

I am trying to make a real-time fault tolerant system in which the network will  notice when one of the nodes is down.

So far, I've tried to use CoAP sending messages back and forth, with watchdogs and so on, but it seems that the network colapses a little bit with so many messages.

I am quite sure there is something Open Thread itself implements to manage this problem, cause for example, w

[2019-06-10 15:51] jwhui commented on #3908
By design, Thread devices do not maintain state about all devices in a Thread network. For routing purposes, routers do maintain state about all other Thread routers in the network. However, for end-devices, routers only maintain state about their directly-attached children.

On a router/leader, take a look at:

- [otThreadGetChildInfoByIndex()](https://openthread.io/reference/group/api-thread-rou

[2019-06-10 23:26] bukepo commented on #3685
I think this feature is useful to for ot-br-posix's `--with-ncp=openthread` mode.

[2019-06-11 17:48] jwhui commented on #3685
In the case of `--with-ncp=openthread`, do we need to have a run-time configuration that is persistently stored?

[2019-06-11 18:05] bukepo commented on #3685
I agree we could remove this feature.

[2019-06-12 04:45] sjlongland commented on #3755
A heads up… we just hit this exact issue on CC2538 because our device stores the OpenThread settings off-chip in SPI flash.

So the problem isn't specific to nRF52840, it will affect any platform where the settings are not erased by flashing new firmware.  Maybe the NCP firmware could delete the `autostart` setting automatically when flashed, that would avoid this problem?

[2019-06-12 05:57] librasungirl commented on #3852
For the code style, after some initial investigation,  a popular tool black (https://github.com/python/black) is chosen to auto format the THCI scripts (work with python 2.7) locally via below command
`python3 -m black -l 79 -S tools/harness-thci -t py27` (line length: 79, keep existing single quote in code)
(`black` could not format docstring or comment)

flake8 is chosen as the style consistency

[2019-06-12 11:17] gjc13 commented on #3880
Personally I found such code snippet to be appealing if we can adopt C++11 (which introduces argument pack in templates and std::forward):
[code]
A quick test showed that such pattern of binding `this` to member functions gives even smaller code size than currently used static function and context pattern. The static function code segment can be removed in the final -Os output. Such pattern also w

[2019-06-14 03:52] jwhui commented on #3755
@sjlongland, just submitted #3920.

[2019-06-14 03:53] jwhui commented on #3685
@bukepo, submitted #3920.

[2019-06-14 04:04] sjlongland commented on #3755
@jwhui Fantastic. :-)  I'll have to give the new `wpantund` a try soon as our CI server picks up the changes.

[2019-06-14 19:40] #3685 closed

[2019-06-15 10:30] KaSroka commented on #3866
If we switch to C++11 we may specify a type for enum `enum asd : uint32_t { a = 123 };`

[2019-06-18 11:22] Irving-cl opened #3924 "[tests] change string format in travis test scripts"
**Make the usage of string concatenation consistent**
Currently at somewhere of our test script, for example, https://github.com/openthread/openthread/blob/master/tests/scripts/thread-cert/node.py#L683, the string format is as:
`cmd = 'commissioner panid ' + str(panid) + ' ' + str(mask) + ' ' + ipaddr`
we should be consistent and use format at such places, like https://github.com/openthread/openth

[2019-06-18 11:23] Irving-cl commented on #3924
@bukepo

[2019-06-18 12:05] librasungirl commented on #3852
@jwhui @bukepo thoughts?

[2019-06-18 12:24] bukepo commented on #3852
I agree with @librasungirl 's proposal. And I think 119 line length is good.

[2019-06-19 01:39] bukepo opened #3928 "[timer] select() doesn't support microsecond-timer"
**Describe the bug**
select() is based on Linux Jiffies, which doesn't support microsecond resolution. I didn't find a POSIX way supported by Linux and macOS.

[2019-06-20 08:27] gjc13 opened #3934 "nrf52840 radio not working on v0.9.3"
**Describe the bug**
Cannot use any radio functionality on nrf52840 v0.9.3 DK.

**To Reproduce**
Commit: 1b37f64ac3222d9b3c7c246416e25cf996787985
Build command:
[code]
Flash the ot-cli-ftd binary into nrf52840 v0.9.3 DK.
Run `scan` on command line.

**Expected behavior**
A list of networks found.

**Console/log output**
No network found and no log on radio inputs/outputs.

**Additional context**
M

[2019-06-20 19:30] jwhui commented on #3924
Resolved by #3929.

[2019-06-20 19:30] #3924 closed

[2019-06-21 00:20] bukepo commented on #3928
I am going to enhance this on Linux first. POSIX per-process timer will be used. see more on https://pubs.opengroup.org/onlinepubs/009695399/functions/timer_create.html.
However, this is not supported on macOS.

[2019-06-24 07:11] gjc13 commented on #3934
@LuDuda friendly reminder

[2019-06-24 08:48] LuDuda commented on #3934
Hello, @gjc13 we will take a look at this ASAP, however, note that this is engineering version of the silicon. Have you checked the production-ready silicon e.g. on PCA10056 v1.0.0 DK?

[2019-06-24 08:50] gjc13 commented on #3934
It works on v1.0.0 dongle. I don't have a v1.0 DK at my hand.

[2019-06-25 09:44] jwhui commented on #2156
This has been addressed in Thread 1.2 with [SPEC-742](https://threadgroup.atlassian.net/browse/SPEC-742).

[2019-06-25 09:44] #2156 closed

[2019-06-25 09:48] #3908 closed

[2019-06-26 09:21] seriph opened #3946 "Thread 1.2"
Is there an estimated eta on the new features from Thread 1.2 being implemented into OpenThread?

[2019-06-26 09:24] jwhui commented on #3946
@seriph, with the Thread 1.2.0 specification now in final status, we will start contributing new Thread 1.2.0 code in the coming weeks. Stay tuned!

[2019-06-27 15:44] NikhilSarnaik commented on #2686
This issue is present on the latest OT pull. I cannot see any cli output from the Thunderboard Sense 2. I tried to use the no-flow-control which did not fix it. Do we have any workarounds for this?

[2019-07-01 18:39] jwhui commented on #2686
@NikhilSarnaik, I just tested on ThunderBoard Sense 2 with the latest master (ce26bff) and the workaround above worked for me.

[2019-07-01 19:03] jwhui commented on #3928
Resolved on Linux platform by #3942.

[2019-07-01 19:05] jwhui commented on #3820
@NickNamerr, any updates on this issue?

[2019-07-01 22:45] jwhui commented on #3790
Closing stale issue.

[2019-07-01 22:45] #3790 closed

[2019-07-02 08:30] NikhilSarnaik commented on #2686
Hi @jwhui. I can confirm that the cli app works with the workaround on Thunderboard Sense 2 for me as well now. I had to reset the EFR to see the cli output. This is what I had missed before asking the question here, Thanks for the information.

[2019-07-02 12:47] KaSroka opened #3956 "A lot of logs is being dropped when using OPENTHREAD_CONFIG_LOG_OUTPUT_NCP_SPINEL"
**Describe the bug**

When using NCP with `OPENTHREAD_CONFIG_LOG_OUTPUT_NCP_SPINEL` and debug log level we drop a lot of logs. It's transport independent - the same happens on UART, USB or SPI. And the transport is not the bottleneck - under high load I've measured 8MHz SPI usage of ~4%.

I've also added some counters to measure a number of dropped logs. Here is an example with 115200 baud rate UA

[2019-07-02 16:43] jwhui commented on #3768
Resolved by #3922.

[2019-07-02 16:43] #3768 closed

[2019-07-02 16:46] jwhui commented on #2686
Resolved by #3922.

[2019-07-02 16:46] #2686 closed

[2019-07-02 16:47] jwhui commented on #3797
Resolved by #3922.

[2019-07-02 16:47] #3797 closed

[2019-07-02 17:43] abtink commented on #3956
What is your NCP buffer size config? Would recommend increasing it if you are using default.
`OPENTHREAD_CONFIG_NCP_TX_BUFFER_SIZE`
We use more than 3500 typically (specially when logs are enabled and go through NCP).

[2019-07-03 05:54] KaSroka opened #3957 "Diag power feature is not used anywhere"
`diag power` is not used by any platform expect nRF52840/nRF52811 (we have a plan to change this behavior) and it doesn't result in power change for any platform. I think that this command should be removed or call `otPlatRadioSetTransmitPower` for all platforms. In the current state, its behaviour is misleading. What do you think?

[2019-07-03 13:03] marvensilabs opened #3961 "Undefined reference to Frame::ToInfoString function when log level < LOG_LEVEL_INFO"
Building OpenThread I see the linker fails if the OPENTHREAD_CONFIG_LOG_LEVEL is set to OT_LOG_LEVEL_NOTE.  However, the link succeeds if it is set to LOG_LEVEL_INFO.

The commit ID used for testing is  0d75bbe.

The error message I see shows:
/examples/../src/core/thread/mesh_forwarder.cpp:1774: undefined reference to `ot::Mac::Frame::ToInfoString() const'

For building I've used the efr32mg12 pl

[2019-07-03 15:08] KaSroka commented on #3956
@abtink above measurement was done with default 512B and 115200 baud rate. I've changed this to 4096B but still can see some logs dropped. This is the result during commissioning:
[code]
~50% is dropped despite 4kB buffer size.

With 16kB buffer:
[code]
~20% is dropped despite 16kB buffer size.

When switched to 1000000 baud and 16k buffer I can see further improvement - when pinging with 1200B pa

[2019-07-03 15:43] jwhui commented on #3961
@marvensilabs, thank you for raising this issue!

I believe we should change the ifdef in `mac_frame.cpp` to `OT_LOG_LEVEL_NOTE`. I'll submit a fix shortly.

[2019-07-03 17:57] jwhui commented on #3961
@marvensilabs, just submitted #3962. Please review.

[2019-07-03 18:01] abtink commented on #3956
@KaSroka , if you can use larger buffers go for it. Higher UART buaud rate may also help.
One other suggestion is to reduce the log level. I notice you are using log level `DEBG`. That's generally very verbose. We commonly use `INFO` (or `NOTE`) with ~3.5 KB buffer (on dev builds) and generally works ok (rarely we see dropped logs). The `DEBG` we use for debugging only.

[2019-07-04 03:42] jwhui opened #3964 "[build] new policy proposal for configure/build options"
**Is your feature request related to a problem? Please describe.**
The policy for what options are included in `configure.ac` vs. `src/core/openthread-core-default-config.h` is not clear. Some options simply affect C preprocessor defines while others affect what artifacts to build, linker options, etc.

**Describe the solution you'd like**
- `configure.ac` only contains build options that cannot b

[2019-07-04 03:46] bukepo commented on #3964
related to #3898 shall we unify `OPENTHREAD_ENABLE_*` and `OPENTHREAD_CONF_ENABLE_*`?

[2019-07-05 17:27] robertcragie commented on #3934
I get the same problem on 0.9.0 and 0.9.2 boards using nRF52840 Q1AA:
[code]
When I run `scan` I see no beacon request.

[2019-07-08 10:43] KaSroka commented on #3956
@abtink Thanks for suggestions, bigger buffer helped.

[2019-07-08 10:43] #3956 closed

[2019-07-09 06:33] bukepo commented on #3934
How about we revert v1.4.0 first? @LuDuda All our dev boards don't work now.

[2019-07-09 11:31] #3961 closed

[2019-07-09 11:49] krlo commented on #3934
nRF52840 Engineering A chip support is end of life.  Nordic has supported this Engineering version of silicon up to, and beyond, the previously communicated period, to support prototype builds with nRF52840.  In [this section](https://infocenter.nordicsemi.com/topic/comp_matrix_nrf52840/COMP/nrf52840/nrf52840_comp_matrix.html) you can find compatibility matrix between the nRF52840 IC revisions and

[2019-07-09 15:16] chshu commented on #3957
The txpower was set within each package before, the feature was removed since #2352, then the diag txpower is maintained under platform layer by calling otPlatDiagTxPowerSet(), so the "diag power" cmd is still useful.

[2019-07-09 15:24] jsnayak opened #3979 "Configurable Number of Supported Children"
When trying to simulate a POSIX network to hold the upper limit of child nodes, I hit an upper limit of 64 after which I observed an assert as below:
ot-cli-ftd: /home/work/src/openthread_190702/examples/../src/core/common/message.cpp:667: bool ot::Message::GetChildMask(uint8_t) const: Assertion `aChildIndex < sizeof(mBuffer.mHead.mInfo.mChildMask) * 8' failed.

It was clarified that currently the

[2019-07-10 06:22] bukepo opened #3981 "[nrf52840] wrong link in README about programming dongle"
**Describe the bug**
https://github.com/openthread/openthread/blame/master/examples/platforms/nrf52840/README.md#L80

[2019-07-10 10:55] KaSroka commented on #3957
Yes but all `otPlatDiagTxPowerSet` implementations are empty except Nordic ones. #3969 fixes behaviour of `diag power`.

[2019-07-11 10:46] jsnayak opened #3985 "Random Number Generator Correctness"
I see that Openthread is now using a pseudo-random generator RandomManager::NonCryptoPrng::GetNext()
The random numbers generated using this (on the CC2538 platform) were tested using the [NIST Statistical Test Suite.](https://csrc.nist.gov/publications/detail/sp/800-22/rev-1a/final) The results have been attached and indicate a rather large % of failure; [finalAnalysisReport.txt](https://github.c

[2019-07-11 15:45] jwhui commented on #3985
@jsnayak, thank you for submitting this issue.

Note that [`RandomManager::NonCryptoPrng::GetNext()`](https://github.com/openthread/openthread/blob/a938ee2845df49d6208e3b94a9070025920cc6b3/src/core/common/random_manager.cpp#L122) is not intended for cryptographic applications, as the name suggests. As a result, there was no intention for it to pass the test suite published in [SP 800-22 Rev. 1a](h

[2019-07-11 15:45] #3852 closed

[2019-07-11 15:47] #3981 closed

[2019-07-11 20:19] abtink opened #3988 "Converting/Clearing queued msgs for sleepy child on child device mode change"
**Describe the bug**
We need to clear or convert the the queued messages (for indirect tx) to a sleepy child, when/if the child switches its device mode and becomes non-sleepy. I think with the current model, the messages would stay in the send queue. We need to also handle the case where we are in middle of an indirect tx of a longer message requiring fragmentation (we need to ensure the indirect

[2019-07-12 09:09] AuSchell opened #3990 "[est-client] Enrollment over Secure Transport (EST) client over CoAP Secure"
I've implemented an EST client for my fork of the OpenThread stack for a project and would like to share it with you, if that's something you are interested in. Unfortunatly, managing an EST server is too much to handle for a constrained device, so i can't provide an example with two nodes acting as server and client, so i provided an IPv6 address of an EST server which my team set up for our test

[2019-07-12 18:46] jwhui commented on #3820
Closing stale issue.

[2019-07-12 18:46] #3820 closed

[2019-07-17 07:06] gidhin commented on #3802
Hi
Im getting this error  :
The DTLS handshake timed out
    at Socket.expectHandshake

This is my code

var dtls = require("node-dtls-client").dtls;
options = {
type: "udp6",
address: "10.42.0.1",
port: 49888,
psk: {
"psk_hint": "PSK"
},
timeout: 1000, // in ms, optional, minimum 100, default 1000
ciphers: ["TLS_PSK_WITH_3DES_EDE_CBC_SHA",
"TLS_PSK_WITH_AES_128_CBC_SHA",
"TLS_PSK_WITH_AES_256_CBC

[2019-07-17 07:20] bukepo commented on #3802
Hi @gidhin It seems you are still using node-dtls-client instead of node-mbed-dtls.

[2019-07-17 23:10] jwhui commented on #3867
This issue has been addressed in [TESTPLAN-456](https://threadgroup.atlassian.net/browse/TESTPLAN-456).

[2019-07-17 23:10] #3867 closed

[2019-07-19 08:40] OscarVanL opened #4009 "Do we need to implement CRC/Checksum ourselves?"
Hi,

When implementing openthread, do we need to have CRC or similar checksums included in our UDP packets if we want to ensure message integrity? I'm using OpenThread for a IoT sensor network, so ensuring that the values reported for the sensors are valid and error-free is desirable.

I see on the technical overview that Thread uses CoAP, which already implements ACKs and resends, but I see no de

[2019-07-19 15:45] jwhui commented on #4009
@OscarVanL, it depends on what APIs you are using to send messages via OpenThread.

If you are using OpenThread's [CoAP](https://openthread.io/reference/group/api-coap) or [UDP](https://openthread.io/reference/group/api-udp) APIs, OpenThread will handle the UDP checksum calculation. However, if you are using OpenThread's [otIp6Send](https://openthread.io/reference/group/api-ip6#otip6send) API to s

[2019-07-19 15:46] OscarVanL commented on #4009
Thank you!

[2019-07-19 15:51] #4009 closed

[2019-07-21 04:01] nzinn08 opened #4013 "Question about operating as a SED"
Since I couldn't find a tutorial about how to initialize a device as a sleepy-end device anywhere on the OpenThread website I wanted to verify with the people here that everything I want to do for SED initialization is correct from what I've researched.

For APIs to use:
1. otThreadSetLinkMode to only have Secure IEEE 802.15.4 data requests enabled thereby disabling RX on when idle.
2. otLinkSendD

[2019-07-22 06:54] NickNamerr commented on #3768
Recently I pulled commit "db8c4c83399e5df7514d2ef8d4a57423e5f1b39a" and bug appeared in FTD, before was only at NCP(RCP).

Previously I used version : "a07751ec0d7b02394670803e40dd080833d94b36" and never happened on FTD.

[2019-07-22 17:14] jwhui commented on #4013
To enable Sleepy End Device (SED) operation, use [otThreadSetLinkMode](https://openthread.io/reference/group/api-thread-general#otthreadsetlinkmode) with the following config:
- mDeviceType = 0
- mNetworkData = 0 (but could be 1 if you want all network data changes)
- mRxOnWhenIdle = 0
- mSecureDataRequests = 1

To receive messages, a SED needs to poll its parent by sending an IEEE 802.15.4 MAC Da

[2019-07-22 19:16] #3934 closed

[2019-07-22 19:18] jwhui commented on #3988
Resolved by #4001.

[2019-07-22 19:18] #3988 closed

[2019-07-22 20:37] nzinn08 commented on #4013
Thanks for the detailed reply @jwhui! This definitely helps. I just have a few follow-up questions now.

1. In your reply to my original question 2, you stated that OpenThread handles this processing of the frame pending bit. The problem here is that I want to trigger an immediate Data Request and if there is no data pending then I'd like to immediately have my MCU enter low power mode. Is there a

[2019-07-22 22:54] jwhui commented on #4013
To answer your questions:
1. Power management should be handled at the platform layer. For example, if there are no platform-specific events pending, the platform can go to sleep until the next event (e.g. alarm timer fire).
1. Thread specifies the use of a child timeout parameter to help the Parent determine when it can time out state about a child. The child timeout is communicated by the Child

[2019-07-23 09:07] NickNamerr opened #4018 "[efr32] FTD role becames "DETACHED" after "ROUTER""
**Describe the bug**
After a while FTD goes to role DETACHED.

**To Reproduce**
Information to reproduce the behavior, including:
1. Git commit id : db8c4c83399e5df7514d2ef8d4a57423e5f1b39a
2. IEEE 802.15.4 hardware platform : efr32mg12p432f1024gm48
3. Build steps : make -f examples/Makefile-efr32mg12 SERVICE=1 COAP=1 BOARD=BRD4170A UDP_FORWARD=1 JOINER=1
4. Network topology: 4 FTD, 15 MTD(SED), 1

[2019-07-23 09:47] OscarVanL opened #4019 "How exactly is the SAMR21 only partially supported?"
Hi,

I want to use OpenThread on a SAMR21, however, see it is described as 'partially supported', but I can't find any more detail on what features are/are not implemented. Do you know what the limitations may be for the SAMR21?
So far I've experienced errors related to SSL on the device. Is this working?

Thanks

[2019-07-23 19:34] jwhui commented on #4019
@OscarVanL, "limited support" indicates that the example platform drivers are contributed by the community and not actively maintained by any particular person or organization.

When you say "SSL", are you referring to Thread Commissioning and DTLS? If so, what kind of errors are you seeing?

Note: I do not have any SAMR21 hardware and do not have any first-hand experience with OpenThread on the S

[2019-07-23 19:46] jwhui commented on #4018
@NickNamerr, thanks for raising this issue.

I have not seen this behavior before, where the message buffers are getting "stuck" in the MPL queue.

Can you check if [Mpl::HandleRetransmissionTimer](https://github.com/openthread/openthread/blob/bcbe8e2179e0fece8772c9a2442f1cd4f698a88f/src/core/net/ip6_mpl.cpp#L334) is getting called? If so, you should see calls to [mBufferedMessageSet.Dequeue()](ht

[2019-07-23 23:32] NickNamerr commented on #3820
@jwhui sorry, i did not have time to debug it yet, but i am going to do it.

[2019-07-23 23:37] NickNamerr commented on #4018
@jwhui Yes, I can do it. Only the question, when shall I do it? Because device goes to role DETTACHED unpredictably. I could debug it only when detect that there not traffic comes from devices.

I think MTD (SED) does not poll messages , but have to check it. BTW - I believe there shall be a logic, to handle this cases.

[2019-07-24 09:13] rlubos opened #4022 "Complete out-of-tree OpenThread build"
I've been working recently on improving Zephyr/OpenThread integration at a build system level, and I faced a problem with complete out-of-tree build of OpenThread.

My goal is to build OpenThread completely out-of-tree (from Zephyr project build directory) so that the original repository remains intact. While it works perfectly fine to call the `configure` script and build the libraries from the e

[2019-07-24 13:45] nzinn08 commented on #4013
Thanks for all the help, I really appreciate it!

[2019-07-24 13:45] #4013 closed

[2019-07-25 05:57] shalak opened #4025 "[cli] panid command produces different output format than it takes as argument"
**Describe the bug**
When used to set configuration, the `panid` CLI command converts decimal input into hexadecimal, but when used to get configuration it returns hexadecimal value, with no `0x` prefix - thus causing ambiguity.

**To Reproduce**
Use `panid` command in CLI:

[code]

**Expected behavior**
AC: format is the same for both input and output of `panid` command, by implicitly adding `0x`

[2019-07-25 16:23] jwhui commented on #4025
@shalak, thanks for raising this issue.

I agree that the input and output should be consistent. How about updating the output to always prefix the `0x` in front? If you agree, would you like to submit a PR for that?

[2019-07-25 22:50] jwhui commented on #4018
@NickNamerr, does the device get stuck in the DETACHED state? Or does it eventually recover and reattach? I would like to know if message buffers are getting stuck in the MPL queue, or is it transient behavior?

Note that MPL is not used to deliver messages to MTDs. The buffer info that you provided above does not indicate any other holder of message buffers.

In my previous question, I was lookin

[2019-07-25 22:51] jwhui commented on #4022
@rlubos, unfortunately, I am not aware of any way to perform `./bootstrap` out-of-tree.

[2019-07-26 07:45] shalak commented on #4025
Will [that](https://github.com/openthread/openthread/pull/4028) solve the issue?

[2019-07-26 07:55] NickNamerr commented on #4018
@jwhui device does not get stuck (MCU freeze?), it remains in DETACHED state with FW running, cli works fine. I never awaited moment when device eventually recovers and reattaches (stays for 7-13 hours in DETACHED state, while other devices have worked fine).

There are periodically CoAP messages form MTD/FTD to server through border router and back.

The symptoms is following:
1) MPL buffers numb

[2019-07-26 16:00] jwhui commented on #4025
Resolved by #4028.

[2019-07-26 16:00] #4025 closed

[2019-07-29 05:56] NickNamerr commented on #4018
@jwhui sorry, accidentally pressed "close and comment", reopened it.

[2019-07-29 11:06] bstraehl commented on #3768
The assert in otPlatRadioTransmit still happens here with commit ec6057c52474485cecded83b4031f10c8c6b1904 on a standard NCP and with BRD4161A. It's quite easily to reproduce with high UDP traffic.

[2019-07-29 18:37] hemanth-silabs commented on #3768
@bstraehl Is it possible for you to share the steps to reproduce this assert? Do you have any other information on where exactly the code asserts?

[2019-07-30 07:05] bstraehl commented on #3768
@NickNamerr Yes, the assert **status == RAIL_STATUS_NO_ERROR** in otPlatRadioTransmit fails. And even the values
status = RAIL_STATUS_INVALID_STATE; //(2)
aFrame->mInfo.mTxInfo.mCsmaCaEnabled = 1;
are the same as you mentioned.

@hemanth-silabs For some reasons, which I never will understand, our company decided to implement another serial protocol for the NCP. It's spinel-like but it's not spinel

[2019-07-30 08:07] bstraehl opened #4036 "Minimum set of information to attach to a network"
The API description states that **"The minimum set of information needed to attach is the PAN ID and Thread Master Key."**

But that's not true. Here the initialisation of a leader and an end device using CLI commands:
For the leader:
[code]
And the slave:
[code]
Even worse. If the end device is configured with a wrong PANID, as long as the master key is the same as the leader has, it's possible t

[2019-07-30 16:40] jwhui commented on #4036
@bstraehl, I suspect that your device was not in a "factory reset" state. After a reset, if the device has an Active Dataset in non-volatile storage, it will restore settings including the PAN ID.

You can check this by using the `panid` CLI command. When booting from factory reset, the PAN ID should show as `0xffff`.

In place of the `reset` command, try issuing the `factoryreset` command instead

[2019-07-30 17:58] jwhui commented on #3957
@KaSroka, I agree that it probably makes sense to remove the `otPlatRadioSetTransmitPower` API since it is not an API required/used by OpenThread core. We can always leave power set for the purpose of factory diags as a platform-specific CLI.

[2019-07-30 17:58] jwhui commented on #3957
@KaSroka, would you be willing to submit a PR with the proposed change?

[2019-07-30 19:46] abtink commented on #3957
@KaSroka , @jwhui , the `otPlatRadioSetTransmitPower` API is not used by core but it's used by ncp code and is exposed as spinel property `SPINEL_PROP_PHY_TX_POWER` which lets the power to be set from driver (`wpantund`). This let the higher layer code to control power in NCP builds where diags feature may be fully disabled. I suggest we keep it for now.

Thoughts?

[2019-07-30 20:16] jwhui commented on #3880
Based on feedback in #3899, will not pursue C++11 for now.

[2019-07-30 20:16] jwhui commented on #3877
Based on feedback in #3899, will not pursue C++11 for now.

[2019-07-30 20:16] #3877 closed

[2019-07-30 20:41] LuDuda opened #4038 "[doc] build switches"
**Is your feature request related to a problem? Please describe.**
I have a feeling that apart of OT Core developers, it is hard for OT users to know how and which switches to set in the building process. It is also confirmed by the number of support questions we receive.

**Describe the solution you'd like**
Creating the `README.md` file inside `openthread/examples` directory, that would describe

[2019-07-30 20:47] jwhui commented on #4038
@LuDuda, sounds like a great idea!

[2019-07-30 21:10] nzinn08 opened #4039 "Question about sending UDP Message to SED"
I am attempting to receive a UDP Message from a SED on a mesh network. I have set up the SED with link mode of "s" and it successfully joins the in-place network as a child of the leader. I then have a FTD join the network and switch to a router and is also a child of the leader. I open and bind a UDP socket for the SED and send a mesh-local UDP broadcast message to that port from the FTD and the

[2019-07-30 21:18] jwhui commented on #4039
Are you using `ff03::1` as the IPv6 destination address? If so, that will not be forwarded to a Sleepy End Device (SED). The only IPv6 multicast addresses that a SED implicitly registers are the Link-Local All Thread Nodes and Mesh-Local All Thread Nodes addreses. Both are Unicast Prefix-Based Multicast Addresses [RFC 3306](https://tools.ietf.org/html/rfc3306). See [Thread 1.1.1 Section 5.2.3](htt

[2019-07-30 23:56] nzinn08 commented on #4039
Ooo thanks for the link to the Thread spec, can't believe I didn't look at that before! So is the mesh-local prefix always the upper 64 bits of the RLOC for every device on the same thread network? Also, is the mesh-local prefix randomly generated upon creation of a new network?

[2019-07-31 06:55] bstraehl commented on #4036
@jwhui As you have seen in my second end device configuration, I redefined the PAN ID to 0xbeef, which is not the correct value, if you compare with the leaders configuration. Then I committed this to the active dataset. So I assume, that no matter if there was a factory reset or not, that this new value will be used during the next **thread start**, which is not the case. The PAN ID is simply ign

[2019-07-31 07:21] jwhui commented on #4036
@bstraehl, yes, the documentation is incorrect! Thanks for catching that.

As you noted, only the master key is required to join a network. As specified in [Thread 1.1.1 Section 8.7.7](https://www.threadgroup.org/support#specifications), MLE Announce messages may be used to resolve differences in Channel and/or PAN ID configuration.

I'll submit a PR soon to fix the docs and allow starting Thread

[2019-07-31 07:55] NickNamerr commented on #3768
@hemanth-silabs please check this [issue](https://github.com/openthread/openthread/issues/3768#issuecomment-483920532)

[2019-07-31 08:13] bstraehl commented on #4036
@jwhui Thank you for the clarification. But then also this "[join an existing network](https://openthread.io/guides/thread-primer/network-discovery#join_an_existing_network)" is wrong and I tried it. If you know PAN ID, extended PAN ID, channel and network name, this will not be sufficient to join a network, because you also need to know the master key. And the other way round, if you know the mas

[2019-07-31 13:21] nzinn08 commented on #4039
Thanks for the help!

[2019-07-31 13:21] #4039 closed

[2019-07-31 17:28] jwhui commented on #4036
@bstraehl, yes that page should be updated as well to include the master key. While all that is necessary to attach to a network is the master key, knowing the channel and PAN ID helps reduce attaching delays/transmissions since those parameters do not need to be discovered.

[2019-07-31 18:46] bstraehl commented on #4036
@jwhui Thank you.

[2019-07-31 18:46] #4036 closed

[2019-07-31 21:16] #3964 closed

[2019-08-02 02:50] bukepo opened #4053 "arm-gcc-8 takes much more time to run tests"
**Describe the bug**
In Travis-CI, it takes more than double time to finish arm-gcc-8 test. Not sure if anyone knows to enhancement that.
see: https://travis-ci.org/openthread/openthread/builds/566705354

[2019-08-05 15:15] hemanth-silabs commented on #3768
@NickNamerr @bstraehl Thank you for all the inputs. I think one of the changes to radio driver we made, did not make it to the PR. We are currently in process of raising another PR to fix this issue. I will let you know when the PR is raised.

[2019-08-06 05:13] gjc13 opened #4061 "Macro update message in openthread-core-config-check.h misleading"
For instance we have message:
[code]
However we are in fact using `OPENTHREAD_CONFIG_MLE_ATTACH_BACKOFF_ENABLE` to replace it. Such misleading messages make it hard and dangerous to update the product configs using OpenThread.

Another weird message is:
[code]
NRF_XXX macros should definitely not appear here.

I've not gone through the whole file to check which macro replacement messages are quest

[2019-08-06 05:30] jwhui commented on #4061
@gjc13, thanks for catching this issue. Submitted #4062.

[2019-08-06 05:40] bukepo opened #4063 "Provide a script to replace all outdated definitions"
**Is your feature request related to a problem? Please describe.**
A lot of definitions are changed recently. We need to provide a maintained script to replace outdated definitions in a project.

**Describe the solution you'd like**
Provide a script to scan all Makefiles and source files, and replace them all.

**Describe alternatives you've considered**
None.

**Additional context**
It seems some

[2019-08-06 05:50] jwhui commented on #3957
@abtink, thanks for pointing that out. I'm fine to keep `otPlatRadioSetTransmitPower()` for now.

[2019-08-06 05:50] #3985 closed

[2019-08-06 05:51] #4019 closed

[2019-08-06 05:54] KaSroka commented on #3957
Change from #3969 is enough in my opinion. Now we have two separate commands - one for normal operation and one for diag. We may close this issue if you agree.

[2019-08-06 05:59] jwhui commented on #3957
@KaSroka, sounds good. Thanks!

[2019-08-06 05:59] #3957 closed

[2019-08-06 06:01] #3054 closed

[2019-08-06 06:01] bukepo commented on #3054
Not reproducible any more.

[2019-08-06 06:05] jwhui commented on #4053
It seems other users of arm-gcc-8 are reporting similar concerns in the [Arm Compilers Forum](https://community.arm.com/developer/tools-software/tools/f/arm-compilers-forum/13459/gcc-g-version-8-very-slow-to-compile/36774).

[2019-08-06 06:06] jwhui commented on #3802
Closing stale issue.

[2019-08-06 06:06] #3802 closed

[2019-08-06 06:07] bukepo commented on #4053
Yes, please feel free to close this issue.

[2019-08-06 16:06] abtink commented on #4061
@gjc13 we decided to add the check macros after the main config change was done by Jonathan.
I argued for it (and added it) since I knew it would make the task of changing the config on internal projects easier.

Wrote a script to try to search and match the old config name to the new one. The script tried to match as many words as possible. Obviously there would be cases like above which the scri

[2019-08-06 18:15] #4053 closed

[2019-08-07 11:09] rlubos commented on #4022
Thank you for the answer, I suppose we can close the issue then.

[2019-08-07 11:09] #4022 closed

[2019-08-07 15:11] hemanth-silabs commented on #3768
@NickNamerr @bstraehl commit https://github.com/openthread/openthread/commit/6ebc5174087fbbe507f8132935d4f55ed7f6d1be fixes this issue.

[2019-08-07 15:13] hemanth-silabs commented on #4018
@marvensilabs @nigelg-silabs have a look at the issue above.

[2019-08-07 15:20] marvensilabs commented on #4018
We have been looking into a similar issue where we run out of buffers.
From testing it looks like the alarm is not being set if the expiration time t0 + dt is too small or ends up being before the time the RAIL_SetTimer is called.  This then prevents any further alarms from being set.  We have a fix that we are currently testing for this and should fix the issue described here.

[2019-08-08 05:06] bukepo opened #4070 "[posix-sim] ICMPv6 checksum is incorrect"
**Describe the bug**
ICMPv6 checksum is incorrect.

**To Reproduce**
Information to reproduce the behavior, including:
1. build: `./bootstrap && ./script/test clean build cert tests/scripts/thread-cert/Cert_5_1_01_RouterAttach.py`
2. Open current.pcap with WireShark

**Expected behavior**
The checksum of ping should be correct.

**Console/log output**
The checksum is wrong.

**Additional context**

[2019-08-08 08:22] nigelg-silabs commented on #2498
I'm not sure that this is an EFR32 issue per se. EFR32 enables flow control by default (except on the BRD4166 which has it disabled due to a feature of this demo board)

[2019-08-08 12:50] bstraehl opened #4074 "Running thread-cert tests on a SOC"
I'm trying to run thread-cert tests on SOCs, which are connected over UARTs to a PC. So I was doing something like that:
```NODE_TYPE=soc top_builddir=../../.. python Cert_6_3_01_OrphanReattach.py```

This threw the error:
[code]
I fixed this by:
[code]
I did the second modification in the diff above, because I've seen that (nodeid-1) is multiplied by two, which I don't understand, because the nam

[2019-08-08 13:30] bstraehl opened #4075 "Run entire NCP thread-cert suite"
I try to run the entire NCP thread-cert suite according to [this](https://github.com/openthread/pyspinel/blob/master/README.md#run-entire-ncp-thread-cert-suite).

Information to reproduce the behavior:
1. Git commit 6ebc5174087fbbe507f8132935d4f55ed7f6d1be
2. on posix
3. gcc: gcc (Debian 8.3.0-19) 8.3.0
4. Build steps:
- git clone https://github.com/openthread/openthread.git
- cd openthread
- make

[2019-08-08 15:41] jwhui commented on #4074
@bstraehl, thanks for raising this issue.

I believe the 2x factor comes from the fact that many dev boards include USB-to-serial converters that support two channels. I agree that the current mapping from node id to dev path is not ideal.

Couple possibilities that immediately come to mind:

1. Add another parameter that can specify whether to apply the 2x factor.

2. Have a config file that maps

[2019-08-08 17:33] jwhui commented on #4075
@bstraehl, thanks for raising this issue.

The documentation you referenced is out-of-date.

To install python dependencies:
[code]
Then try:
[code]

For future reference, you can take a look at what our Travis scripts do:

- [.travis/before_install.sh](https://github.com/openthread/openthread/blob/f740fda8d66720096846da99615501b7e2de4a73/.travis/before_install.sh#L43)
- [.travis/script.sh](https:

[2019-08-08 21:49] smides-nest opened #4077 "Retain address cache entries across router link re-establishment"
**Is your feature request related to a problem? Please describe.**
Mesh-local packets are often dropped for extended periods of time after a router-to-router link goes away. Broadcast Address Queries are often delayed due to previously failed queries and backoff, even once a link is re-established. This scenario is somewhat common in the presence of extended strong interference (enough to result i

[2019-08-09 03:21] bukepo opened #4079 "[nrf52840] undefined reference to `app_error_handler'"
**Describe the bug**
undefined reference to `app_error_handler' when build with DEBUG=1

**To Reproduce**
Information to reproduce the behavior, including:
1. make -f examples/Makefile-nrf52840 DEBUG=1 USB=1

**Expected behavior**
build successfully.

**Console/log output**
../../../third_party/NordicSemiconductor/libnordicsemi-nrf52840-sdk.a(libnordicsemi_nrf52840_sdk_a-app_usbd.o): In function `

[2019-08-09 05:18] #4070 closed

[2019-08-09 05:26] simonlingoogle commented on #4070
This issue was caused because openthread posix uses `fdde:ad00:beef::/64` as mesh local prefix, but 6LoWPAN protocol in the Wireshark is not configured with this prefix as Context Id 0.

Since 6LoWPAN compresses source address and destination address, the correct mesh local prefix `fdde:ad00:beef::/64` is stripped from the packet data and Wireshark had to use it's own configuration to calculate th

[2019-08-09 15:30] #4061 closed

[2019-08-12 08:06] bstraehl commented on #4074
@jwhui Maybe another possibility would be to have a command line option allowing to enumerate interfaces. In my own tools I usually implement something like this:
--another-option --interface /dev/ttyUSB0,/dev/ttyUSB1,/dev/ttyUSB2 --another-option
[code]
[code]
And having the option to load a configuration file is always a good idea I think.

[2019-08-12 08:47] bstraehl commented on #4075
@jwhui Thank you for your hints. I'm working always with the Debian Testing (currently code name Bullseye) release, which provides quite up-to-date packages. And of course I prefer to install native packages. But now I installed the versions mentioned in tests/scripts/thread-cert/requirements.txt using pip. Now
NODE_TYPE=ncp-sim make -f examples/Makefile-posix check
works and is green (PASS) up to

[2019-08-12 08:47] #4075 closed

[2019-08-12 11:43] bstraehl commented on #4074
It's also necessary to tweak Node.destroy in order to run certification tests smoothly on SOCs. I had to change the method as follows:
[code]
Adding a check whether we are running on SOC-mode helps to prevent the tear down of the simulation processes, which we only want to do on PC and not on SOCs. This is for sure not a clean solution, but it helps. Can it be that I'm doing something wrong, or ar

[2019-08-12 12:16] bstraehl opened #4092 "Running single thread-cert tests on SOCs"
I try to run single thread certification tests on SOCs. For instance:
```NODE_TYPE=soc python Cert_6_3_01_OrphanReattach.py```
As test systems I took 3 randomly chosen EFR32MG12 based SOCs and flashed them with ot-cli-ftd of git commit id b51ab6c45a1edc180ba48eb2fd94afca18094d57.
The test didn't pass because the device supposed to be router, always formed its own network. After a short analysis of

[2019-08-12 19:10] jwhui commented on #4092
@bstraehl, the python tests assume that the device is in a factory-reset state at the start. Could it be that your devices have some OpenThread settings stored in non-volatile?

You are correct that the primary use of the python tests currently is for continuous-integration testing on Travis (i.e. in a simulated environment) rather than on real hardware.

[2019-08-13 06:33] bstraehl commented on #4092
@jwhui , yes my devices had OpenThread settings in the NVM. That's the reason, why the keys were different. So before running any tests, SOCs have to be factory reset. I quickly grepped through all the thread-cert tests and there is no one, which does this. It would be very efficient to have one, which just executes a factory reset on the devices, which could be executed before the real tests.
But

[2019-08-13 06:33] #4092 closed

[2019-08-13 19:42] MrPointer opened #4095 "CMake Support"
Hi, I was wondering whether there are any plans to add cmake integration/support in the near future, or at all?
I feel I don't need to elaborate on why cmake is a good (and IMHO better) option to maintain the project's structure and build process.

[2019-08-14 19:33] jwhui commented on #4018
Resolved by #4081.

[2019-08-14 19:33] #4018 closed

[2019-08-15 02:42] NickNamerr commented on #3768
@hemanth-silabs thanks!

[2019-08-15 16:47] tehnorm commented on #3255
I get "You do not have permission to access this content. (#418)" when trying to access the openweave-users group.

[2019-08-15 16:52] jwhui commented on #3255
@tehnorm, try signing in and becoming a member of [openweave-users](https://groups.google.com/forum/#!forum/openweave-users) - it is currently configured such that only group members can view posts.

[2019-08-15 18:05] jwhui commented on #2498
Closing stale issue.

[2019-08-15 18:05] #2498 closed

[2019-08-16 04:17] seungigi opened #4100 "Max allowed children"
Hi all,

I'm trying to build a large scale Thread network which has about 500 children per router. According to the OpenThread webpage (https://openthread.io/guides/thread-primer/node-roles-and-types), within a single network, each router can have up to 511 children.

But the OpenThread implementation seems not to support that many children. When I checked the source code (include/openthread/threa

[2019-08-19 03:56] huamenggg opened #4105 "Add feature to determine if multicast packets should be looped back to the local sockets."
**Is your feature request related to a problem? Please describe.**
I'm implementing website topology graph of OpenThread on OpenWRT, and I need to get the information of the whole network. But I found that multicast packets won't be looped back to the local sockets.

**Describe the solution you'd like**
We can set or read a boolean integer argument that determines whether sent multicast packets sh

[2019-08-19 06:47] bukepo commented on #3896
#4026 enabled reporting size diff for every PR. Next step is to record the history of size. I am running out of cycles recently. Anyone who want to contribute are welcome. The source code is at https://github.com/openthread/size-report

[2019-08-19 06:58] bukepo commented on #4105
From https://www.tldp.org/HOWTO/Multicast-HOWTO-6.html, it seems this behavior is per socket based. I think we should extend the `UdpSocket` to include some flags.

[2019-08-19 07:03] bukepo commented on #4105
Another issue needs to consider is multicast datagrams can be processed by multiple sockets of a single host. #3398 doesn't take into multicast into account. After we introduced UDP flags, we may consider enhance the multicast situation as well.

[2019-08-19 07:12] bukepo commented on #4100
Yes, we should change that to `uint16_t`. Besides,  there are two threads in openthread-users group:

https://groups.google.com/forum/#!topic/openthread-users/wpUPlhCEYlI
https://groups.google.com/forum/#!topic/openthread-users/QEFC2kYLGMM

They might be helpful as well.

[2019-08-19 07:16] bukepo commented on #4095
We have a CMakefile for OpenThread in https://github.com/openthread/ot-rtos/blob/master/third_party/openthread/CMakeLists.txt

I don't think it a bad idea to add native support. Thoughts? @jwhui @abtink @gjc13

[2019-08-19 07:17] bukepo commented on #4079
@LuDuda any thoughts?

[2019-08-19 07:20] LuDuda commented on #4079
@bukepo Thanks for reporting this issue, I added it to the current sprint, will take a look very soon.

[2019-08-19 11:50] Ahmedkalnaggar commented on #3946
@jwhui Is there any page or issue to track the status of contributing Thread 1.2 code ?
Features that has been added, other features that still under development  .. etc ?

[2019-08-19 17:49] MrPointer commented on #4095
@bukepo Hmm, didn't notice that - Never would've thought it'll be under the `third_party` dir.
However it'll be nice to have CMake a 1st-grade citizen here.

[2019-08-19 23:28] jwhui commented on #4095
@MrPointer, thank you for submitting this issue.

I think it's worth considering CMake support. I just submitted #4112 to help drive the discussion on what that would look like.

[2019-08-20 00:06] bukepo commented on #4105
Thoughts? @jwhui

[2019-08-20 01:58] bukepo commented on #4105
@librasungirl

[2019-08-20 19:00] jwhui commented on #4100
Duplicate of #3979.

[2019-08-20 19:00] #4100 closed

[2019-08-20 19:01] jwhui commented on #3979
@jsnayak @seungigi, just submitted #4118. Please review.

[2019-08-23 16:15] #3979 closed

[2019-08-27 10:32] musalk-dk opened #4128 "Improve multicast, allow children to listen to src:0xffff or maybe redefine Link-Local to Logical-Local"
2 issues closely related.
1. A Child does not listen to 0xffff broadcast for ff02::1 or ff03::1 only if it the source is it's router. meaning even if it was in range and received the multicast it will ignore it leaving it to only react to 1 of many possible received radio transmissions containing a valid message for the child.

2. A message to ff02::1 or ::2 is not actually as described "Link-Loca

[2019-08-29 08:38] musalk-dk commented on #4128
@jwhui thanks for answering so fast.

1. We are running all of our devices as FTD and i am pretty sure we are running RX always on. But i have to check if that was the specifically defined with the last test.
But if i understand you correctly it dose not matter if the device is FTD and rx on always if the broadcast message comes from child with different parent. As according to you they will only

[2019-08-30 18:35] jwhui commented on #4128
@musalk-dk

1. Because Thread requires IEEE 802.15.4 MAC security for all data traffic, Thread devices will generally only receive data traffic for neighbors where an MLE link is established.

2. One exception to the above is MLE packets, which are sent without IEEE 8021.5.4 MAC security enabled. MLE is used to establish a secure link, which is why MLE does not require MAC security. In the case of

[2019-08-31 17:46] LuDuda commented on #4079
I think we can close this PR thanks to @bukepo.

[2019-08-31 17:49] jwhui commented on #4079
Resolved by #4124

[2019-08-31 17:49] #4079 closed

[2019-09-05 16:43] jwhui commented on #1860
Codelabs have also been updated (thanks to @Vyrastas)

- [Build a Thread network with nRF52840 boards and OpenThread](https://codelabs.developers.google.com/codelabs/openthread-hardware/index.html#0)
- [Simulating a Thread network with OpenThread](https://codelabs.developers.google.com/codelabs/openthread-simulation-posix/index.html#0)

[2019-09-05 16:43] #1860 closed

[2019-09-05 16:45] jwhui commented on #4074
@bstraehl, thanks for this update. As you surmised, we primarily use the python test scripts for Travis CI tests and not on real targets.

[2019-09-10 13:58] sravanti298 commented on #3754
Trying to reproduce this issue in POSIX platform but, didn't find any memory problem.
When the joiner is successfully completed the commissioning process, it's entry is removing after several seconds.
Could you please provide some other details like which platform you have used?

[2019-09-10 14:46] binartech opened #4153 "Using VUART with EFR32MG21"
It would be important to have the possibility to change the CLI to use VUART instead the USART so the USART can be free for other uses.
Any instructions on how to do this ?
platform: efr32

[2019-09-11 06:20] bukepo opened #4159 "[api] unify enable/disable API style"
**Is your feature request related to a problem? Please describe.**
Currently we have two styles for enable/disable. Most uses two separate APIs. But `otLinkRawSetEnable(bool)` and `otLinkRawSrcMatchEnable(bool)` accepts a parameter to disable the functionality, shall we unify the style by adding two disable APIs?

[2019-09-11 07:27] VijayGitCode commented on #3679
Hi Bukepo,
Could you please give more information ?

1. The interface you are talking about is the interface name in border router(OTBR)?
2. Currently the interface name in OTBR is "wpan0"
3. A command line option is expected as part of "wpanctl"?

Please give your comments for the above queries. It will be helpful to work on this issue.

[2019-09-11 21:21] jwhui commented on #4159
The following APIs seems to follow the `SetEnabled(boo)` model:
- otChannelManagerSetAutoChannelSelectionEnabled
- otChannelMonitorSetEnabled
- otIp6SetEnabled
- otIp6SetMulticastPromiscuousEnabled
- otIp6SetReceiveFilterEnabled
- otIp6SetSlaacEnabled
- otLinkSetEnabled
- otLinkRawSetEnable
- otLinkRawSetPromiscuous
- otThreadSetEnabled
- otThreadSetRouterRoleEnabled
- otPlatRadioEnableSrcMatch
-

[2019-09-11 22:13] charly37 commented on #1803
What about the new NANO 33 BLE series based on nrf52840 ?

[2019-09-11 22:45] bukepo commented on #4159
Thanks! Which style is recommended for new APIs?

[2019-09-11 23:05] jwhui commented on #4159
I think the preference has been the `SetEnabled(bool)` style, rather than two separate APIs.

[2019-09-12 01:42] bukepo commented on #4159
Thank you for the confirmation!

[2019-09-12 01:42] #4159 closed

[2019-09-12 02:22] bukepo opened #4161 "Do we allow attached node operate in promiscuous mode?"
**Is your feature request related to a problem? Please describe.**
From https://github.com/openthread/openthread/blob/master/src/core/api/link_api.cpp#L300, we don't allow.
From https://github.com/openthread/openthread/blob/master/src/ncp/ncp_base.cpp#L1356, no check for this at all.

**Describe the solution you'd like**
I think it makes sense to support this, so that an attached node can still ac

[2019-09-12 02:23] bukepo commented on #4161
@smides-nest

[2019-09-12 02:50] jwhui commented on #4161
FWIW, many IEEE 802.15.4 radios do not support both promiscuous mode and auto generation of immediate acks.

[2019-09-12 07:31] sravanti298 commented on #3648
Observed that in the following commit https://github.com/openthread/openthread/pull/4073
otSysGetTime() API is replaced with platformGetTime() and
otSimSendRadioSpinelWriteEvent API is replaced with platformSimSendRadioSpinelWriteEvent
Are you expecting prefix name as otPosix or platform, which would be more helpful?
Kindly share your valuable suggestions to work on this task. Thanks!

[2019-09-12 20:08] binartech opened #4165 "Adding support for peripherals like I2C on EFR32MG21 Platform"
Is there any instructions on how to add the required files to be able to use GPIO I2C or other peripherals.
I know we have to modify Makefile. But would like to have an instruction on what Makefile to modify and all the required include folders and files.

platform: efr32

[2019-09-13 10:50] embeddedRSA opened #4168 "Issue with "Build a Thread network with nRF52840 boards and OpenThread" installation"
When running the command
`$ sudo /usr/local/sbin/wpantund -o Config:NCP:SocketPath /dev/ttyACM0  \
        -o Config:TUN:InterfaceName utun7 \
        -o Daemon:SyslogMask " -info"`
i get this error:
`
wpantund[6831]: Starting wpantund 0.08.00d (Sep 12 2019 14:41:58) . . .

wpantund[6831]: 	SOURCE_VERSION = 0.07.01-319-g1ec2b73

wpantund[6831]: 	BUILD_VERSION = 0.07.01-319-g1ec2b73

wpantund[6831]

[2019-09-14 12:12] HarshdipD commented on #1137
I'm getting the same error, and I have pycrpytodome installed version 3.9.0

[2019-09-16 15:56] NikhilSarnaik opened #4172 "Support for 868MHz band on EFR32MGx platform"
I understand that there is support for EFR32MGx to run OT on 915MHz. Are there any plans to add support for EFR32 to run on 868MHz band? Is there a porting guide or some help available to add the support for 868MHz?

[2019-09-16 18:57] binartech opened #4173 "Adding support for automatic ifconfig replacing command line"
I'm trying to automate the connection to the thread network using ot API.

I added the otIP6SetEnabled..... to the code.
As the ot LIbrary is built in CPP, functions cant be accessed from C source code.
However there's a sleepy demo that uses the otIp6Set.... function from C.

is there any flag that allow to compile and use CPP defined functions from the C source ?

Platform: EFR32MG21

[2019-09-17 01:27] jwhui commented on #1137
@HarshdipD, did you uninstall `pycrypto`?

If so, can you provide the output of `pip list | grep crypt`?

[2019-09-17 01:31] jwhui commented on #4173
@binartech, `otIp6SetEnabled()` only controls the IPv6 interface. You also need to call `otThreadSetEnabled()` to enable the Thread-related protocols.

Take a look at our [Deveoping with OpenThread APIs](https://codelabs.developers.google.com/codelabs/openthread-apis) and, in particular, [8. API: Configure the Thread network](https://codelabs.developers.google.com/codelabs/openthread-apis/index.ht

[2019-09-17 02:19] jwhui commented on #3679
@VijayGitCode, this issue is specific to the [POSIX App](https://github.com/openthread/openthread/tree/master/src/posix) implementation, where OpenThread runs on a Linux-based host. The tun interface is managed within [src/posix/platform/netif.cpp](https://github.com/openthread/openthread/blob/87ef3b1d5105ac6225c9043a7be0137cdcc11cd5/src/posix/platform/netif.cpp#L371).

This GitHub issue seeks to

[2019-09-17 02:28] jwhui commented on #3754
@sravanti298, I believe @hjian2017 was using the nRF52840 SoC. That said, I'm not sure anyone has reproduced this recently. I will close this issue. We can reopen if it comes up again.

[2019-09-17 02:28] #3754 closed

[2019-09-17 02:30] bukepo commented on #3648
In commit #4073, platform's non-public functions was renamed by removing the `ot` prefix. And public APIs are prefixed with `otSys`. I think `otPosix` looks better. If we change the prefix, maybe we should also rename `openthread-system.h` to `openthread-posix.h`. Thoughts? @jwhui

[2019-09-17 04:48] jwhui commented on #3648
`otPosix` works for me. We used `otSys` in `examples/` for the platform abstraction. However, `otPosix` is specific to the POSIX app.

[2019-09-17 05:52] binartech commented on #4173
@jwhui yes, several calls must be added, the thing is that all the thread api is implemented in C++, and the example source is C. I wonder if theres flag in the make file that allows to work

[2019-09-17 05:59] jwhui commented on #4173
@binartech, the OpenThread APIs defined in [include/openthread](https://github.com/openthread/openthread/tree/master/include/openthread) are C (not C++) APIs.

[2019-09-17 06:21] binartech commented on #4173
@jwhui you are correct the header is C, but source code of the api is C++:
[https://github.com/openthread/openthread/blob/master/src/core/api/ip6_api.cpp](url)
uses using namespace ot;
And looking at the cli.cpp its laso uses : namespace ot {
So there's no way to use the api from 'C' unless there's a flag in the makefiles which will allow the build with plain 'C' ?
Thanks for  helping,
by the way

[2019-09-17 06:35] jwhui commented on #4173
@binartech, if you are using the public OpenThread API, then everything can be done in C. You should not need to reference C++ APIs directly. Can you provide a concrete example of what you are trying to call?

[2019-09-17 07:05] binartech commented on #4173
@jwhui sure, added the call to:
otIp6SetEnabled(sInstance, true);
The problem is in link time, no error when the file is compiled but at link time you get:
../../../examples/platforms/efr32mg21/libopenthread-efr32mg21.a(libopenthread_efr32mg21_a-system.o): In function `otSysInit':
/mnt/c/openthread/examples/../examples/platforms/efr32mg21/system.c:149: undefined reference to `otIp6SetEnabled'
coll

[2019-09-17 07:34] jwhui commented on #4173
A couple notes:

1. The link error is probably occurring when trying to link `ot-rcp`. By design, the RCP does not include OpenThread and, as a result, does not include `otIp6SetEnabled()`. Try removing [`--enable-radio-only`](https://github.com/openthread/openthread/blob/c0ef32766447ccfd0cf5e89650a574cfc6187f97/examples/Makefile-efr32mg21#L49) from `examples/Makefile-efr32mg21`.

2. The `otSys*`

[2019-09-17 07:43] jwhui commented on #4074
@bstraehl, would you like to submit a PR with your enhancements above?

[2019-09-17 08:02] jwhui commented on #4172
@NikhilSarnaik, I am not aware of any current plans to add support for 868 MHz band. To add support for a different band, you'll need to:

1. Add support within OpenThread core for a new IEEE 802.15.4 Channel Page (search for `OPENTHREAD_CONFIG_RADIO_915MHZ_OQPSK_SUPPORT` to see what was done for 915 MHz band).

2. Add support within radio driver for new band. On the EFR32, the Simplicity Studio R

[2019-09-17 12:16] sravanti298 commented on #3648
Thanks for the support.
Currently `openthread-system.h` is being used by the platforms such as `POSIX, efr32mg12 and efr32mg21`.
So, replacing `otSys` with `otPosix` will effect other platforms (**efr32mg12, efr32mg21**).
For platform specific API’s, Shall I use `platform` prefix for all the hardware platforms in `openthread-master\examples\platforms` directory?
Please provide your valuable sugges

[2019-09-17 16:55] HarshdipD commented on #1137
@jwhui  I did not have pycrypto installed. My issue was solved by changing folder name from `crypto` to `Crypto`. Thank you!

[2019-09-17 19:11] binartech commented on #4173
@jwhui Thanks for the great help, after removing the --enable-radio-only it worked.
having other issues but in other comment.

[2019-09-17 22:50] #4173 closed

[2019-09-18 00:44] jwhui commented on #4168
@embeddedRSA, the wpantund symptoms you are experiencing typically indicates that wpantund is having trouble communicating with the NCP.

Have you validated that serial communication from Linux host to nRF52840 works?

[2019-09-18 11:02] e-rk opened #4185 "openthread-core-config.h is included by mbedtls-config.h"
Is there any reason why `openthread-core-config.h` is included in `mbedtls-config.h`?
I think that this include is unnecessary and causes us to copy all header files from `src/core/config` in order to use the libraries and mbedtls headers in an external project.

Should I make a PR to remove it?

[2019-09-18 14:43] jwhui commented on #4185
Some of the defines in [third_party/mbedtls/mbedtls-config.h](https://github.com/openthread/openthread/blob/master/third_party/mbedtls/mbedtls-config.h) are conditional on [OpenThread build configurations](https://github.com/openthread/openthread/blob/bb56fa906a09408acc3787ae54969270e43a2454/third_party/mbedtls/mbedtls-config.h#L79). How would we ensure the appropriate build configs are defined wi

[2019-09-18 18:58] binartech opened #4187 "Not joining Join failed [Security]"
Any way to diagnose why the join fails ?
 networkname pmcaiotnet
Done

Done

Done

Done

Done

Done
commissioner start
Commissioner: petitioning
Done

Done

on the joiner side:
ifconfig up
Done

Done

Platform: EFR32MG21

[2019-09-18 18:59] binartech commented on #4187
The scan on the joiner side returns

| J | Network Name     | Extended PAN     | PAN  | MAC Address      | Ch | dBm | LQI |
+---+------------------+------------------+------+------------------+----+-----+-----+

[2019-09-19 00:34] binartech commented on #4187
Another comment, I'm using firmware built with flags commissioner=1 , joiner=1. Loaded same firmware in both joiner and commissioner. Is this a correct implementation or joiner should have joiner=1 flag but not commissioner=1? ( and viceversa)

[2019-09-19 08:04] e-rk commented on #4185
I thought at first that most of the definitions were enabled only by `common-switches.mk` and the `src/core/config` files provided only default values, most of which were set to `0`, but then I remembered about the `openthread-config-generic.h` generated by the `configure`.
Sorry for misuderstanding.

[2019-09-19 12:14] sravanti298 commented on #3648
@jwhui @bukepo Thanks for the support.
Iam just summarizing the requirements of this issue.
1. For platform specific API's remove `ot` prefix
     - In the current openthread code-base,platforms such as `KW41Z`,`POSIX` and others are using the prefix names as  `kw41zUartProcess()`, `platformUartProcess()`,`efr32AlarmProcess()` and soon.
     - Since there is no `ot` prefix used, this requirement i

[2019-09-20 08:48] embeddedRSA commented on #4168
Hey jwhui,(sorry for late reply), no i haven't, but the device turned up as /dev/ttyACM*.. I suspect that the problem was because of lack of the VirtualBox expansion (which i'm not allowed to use).. either way. Im running linux ubuntu natively now and the issue is now non-existent.

[2019-09-20 08:48] #4168 closed

[2019-09-20 09:12] embeddedRSA opened #4197 "Not able to ping though borderrouter to link-local"
Hi, i have set up my border router and i amm able to ping to a global server by using the well-known prefix:
[code]
My problem is pinging link-local addresses such as this one:

[code]
(this is on my border router laptop)
when i try to ping from a node a respond never returns

[code]
Is what im trying to do possible?

[2019-09-20 12:47] vijayrao1988 opened #4199 "No serial output or responses from EFR32MG12 BRD4161A when executing example apps"
I am using a Mighty Gecko 19dBm (BOARD4161A) with the WSTK. The code builds fine and I can load the output hex file into the flash using JLinkExe. However, there is no output on the serial interface.

The posix build executes perfectly fine.

Looking at the user-guide for BRD4161A, Page 20, Section 5.6 on Virtual COM Port, I think there might be a mssing VCOM_ENABLE. It might be needed to enable P

[2019-09-20 18:06] jwhui commented on #4197
It seems that you are trying to ping a link-local address of a non-Thread interface on the border router. IPv6 link-local addressing explicitly prohibits this use case.

[RFC 4007](https://tools.ietf.org/html/rfc4007) states:
[code]
[RFC 4291](https://tools.ietf.org/html/rfc4291) states:
[code]

[2019-09-20 23:29] jwhui commented on #4185
The values in [`src/core/config`](https://github.com/openthread/openthread/tree/master/src/core/config) specify default configuration values. I believe all of the `OPENTHREAD_CONFIG_*` values used by [`third_party/mbedtls/mbedtls-config.h`](https://github.com/openthread/openthread/blob/master/third_party/mbedtls/mbedtls-config.h) currently default to zero, so we could replace:
[code]
with:
[code]

[2019-09-20 23:32] jwhui commented on #3648
@sravanti298, this issue applies to the posix-app source in [`src/posix`](https://github.com/openthread/openthread/tree/master/src/posix), not the code in [`examples/`](https://github.com/openthread/openthread/tree/master/examples/).

[2019-09-22 10:01] LuDuda opened #4200 "[mac] assert seen while SED performed data poll"
In our stress tests where nodes constantly send some packets quickly (mostly ICMPv6 multicast ones) several SEDs end up with the same assert [here](https://github.com/openthread/openthread/blob/6fd3a24a43de602ac7b22a391a761beb107cf870/src/core/mac/mac.cpp#L1266). I believe this assert has been introduced with #3915. The SED devices have a polling interval of around 5s and they try to send frames w

[2019-09-23 06:21] embeddedRSA commented on #4197
in that case, how are you supposed to ping non mesh adresses on the local network, and ping a specific node from the outside.

[2019-09-23 15:02] binartech commented on #4187
Solved. Added code to join from code instead from CLI. Seems that the instance initialized in the code using:  sInstance=otInstanceInitSingle(); interferes with the instance that the CLI initialized and causing the join failed.

[2019-09-23 15:07] binartech opened #4203 "connecting to more than one thread network at the same time."
Does any one knows if its possible to join one network and than move the node to another network that uses same masterkey and same PANID and connecting to that network without having to rejoin in that network ?

Just to be more clear: I have a threadnetwork in my house and another at the office. I want to move a device from my house to the office without having to rejoin to that network. Both netw

[2019-09-23 16:06] jwhui commented on #4197
You need to use an IPv6 address with a larger (e.g. global) scope.

On the OpenThread Border Router, you can configure prefixes that have global scope for the interfaces you want to communicate between.

For example:
[code]

[2019-09-23 16:25] binartech opened #4204 "verifiying if node already joined the network"
Is there any API that checks the status of the  join of node ?
The Idea is on startup to verify if the node was already commissioned and will connect to the network after reset of it was never commissioned and required to join the network ?
I saw the otJoinerGetState but this function if I understood correctly will check the status dring the join process and I' would like to know the status for ex

[2019-09-23 16:49] jwhui commented on #4187
@binartech, thanks for the update. Are you using code straight from GitHub or do you have custom code? AFAIK, OpenThread's existing CLI component does not initialize its own OpenThread instance.

[2019-09-23 16:51] jwhui commented on #4203
Are there other Thread Network parameters that differ between the home and office networks? If the Thread network parameters are the same, then there should be no issue. In fact, from a Thread network perspective, the home and office are simply two different partitions of the same Thread network.

[2019-09-23 16:52] jwhui commented on #4204
@binartech, see [otDatasetIsCommissioned()](https://openthread.io/reference/group/api-thread-general#otdatasetiscommissioned).

[2019-09-23 17:07] binartech commented on #4187
@jwhui to the examples of the Github code I started to add some custome code. ( Im using the EFR32MG21 examples)
at the app/cli/main.c theres a line:  otCliUartInit(instance);
so Cli will use this instance.
Without looking before this I added sInstance=otInstanceInitSingle(); to the system.c and that for sure interfere with the above initialization.
Removing the line I added to the system.c it sol

[2019-09-23 17:09] binartech commented on #4203
@jwhui
I can build both networks with same `parameters as those networks do not see each other. I'll test and see how it works thanks.

[2019-09-23 17:11] binartech commented on #4204
@jwhui
great thanks, will look at it, thanks and sorry for so many questions. Trying to move from SL-Thread to openthread. In SL-thread everything works but you dont see the inner things and additional possibilities  that can be achieved using open thread.

[2019-09-23 18:18] abtink commented on #4200
@LuDuda, I will take a look to see if I can find anything in core (mac implementation).

[2019-09-23 18:45] vijayrao1988 commented on #4199
I noticed that the hal-config.h file doesn't contain some important lines:
(1) lines regarding HAL_BUTTON_ENABLE and HAL_BUTTON_COUNT
(2) lines regarding HAL_VCOM_ENABLE

I updated the hal-config.h file from an example Simplicity Studio project which seemed to have these lines.

I now get the following error when I issue the make command:
~/openthread/examples/../third_party/silabs/gecko_sdk_suite

[2019-09-23 19:40] jwhui commented on #4187
@binartech, [`examples/apps/cli/main.c`](https://github.com/openthread/openthread/blob/a1cffd2545efbdc38ee8c59b490567f5c3f82608/examples/apps/cli/main.c#L101) already includes a call to `otInstanceInitSingle()`. Adding another call to `otInstanceInitSingle()` somewhere else will certainly cause issues.

[2019-09-23 19:41] jwhui commented on #4204
@binartech, thanks for the additional context. Let us know if you have additional questions.

[2019-09-23 19:41] #4187 closed

[2019-09-23 20:00] binartech commented on #4199
@vijayrao1988 Im using the EFR32MG21 kit which I think is very similar to the one you have.
at build have you used the following line:
make -f examples/Makefile-efr32mg12 BOARD=BRD4161A
before build or rebuild make sure to start from clean project

make -f examples/Makefile-efr32mg12 BOARD=BRD4161A clean

[https://github.com/openthread/openthread/blob/master/examples/platforms/efr32mg21/README.md]

[2019-09-23 21:19] abtink commented on #4200
@LuDuda , I did a bit of investigation on this. Could not see/find anything in Mac/SubMac code. The `Mac` operations are done in serial order, and we only start next operation after finishing the previous one. In case of all Tx operations, we pass the frame to radio platform and should wait for `TxDone` callback from radio platform layer before finishing operation. The gdb output indicates the PSD

[2019-09-23 21:19] vijayrao1988 commented on #4199
@binartech I did do a make clean before the make -f ....efr32mg12 BOARD=BRD4161A command. I can clearly see VCOM and BUTTON missing in the hal-config file for BRD4161A. These 2 are mentioned for efr32mg21 boards.

When I add these (VCOM and BUTTON), I get build errors related to HAL drivers/libraries.

[2019-09-23 22:00] abtink commented on #4200
@LuDuda , I checked the radio driver code (nrf52840) and all seems fine to me as well.
Would it be possible to run the test with OT logging at `DEBG`? I think that would help give us good info about this.

[2019-09-23 22:45] binartech commented on #4199
@vijayrao1988
Not looked at the buttons, just at the VCOM

In your hal-config.h for your BRD4161a look for the
// $[VCOM]
// [VCOM]$

and replace it with

// $[VCOM]
#define HAL_VCOM_ENABLE                       (1)

#define BSP_VCOM_ENABLE_PIN                   (5U)
#define BSP_VCOM_ENABLE_PORT                (gpioPortA)

// [VCOM]$

VCOM should be enabled and you should be able to access CLI

[2019-09-24 07:49] embeddedRSA commented on #4197
would that be the interfaces between two border routers in my case?  such as "veth159d65" which appears when running docker (method used in an example at the openthread site), and likewise the interface used on my raspberry pi.

[2019-09-24 16:09] LuDuda commented on #4200
@abtink thank you a lot for taking time on this. I will try to enable logs and replicate the bug on a smaller set up on my desk to see if I can capture it again.

[2019-09-24 20:17] vijayrao1988 commented on #4199
An earlier issue on the silabs forums similar to the retargetserial.h missing file error I am getting can be seen here - https://www.silabs.com/community/software/simplicity-studio/forum.topic.html/simplicity_studiopr-kRrX

Is there any connection between these two issues?

[2019-09-25 14:47] mselser opened #4208 "Sleepy-demo in 915MHz band."
Hello, I'm currently trying to make the Sleepy-demo with the EFR32MG12 (board 4170A) example use the 915MHz band, but I can't find the way to do it. The only change I made to the example (in both mtd and ftd) code is this:

`/* Set Channel to 4 `
`    aDataset.mChannel                      = 4;`
`    aDataset.mComponents.mIsChannelPresent = true;`

Instead of this:

`/* Set Channel to 15 */`
`   a

[2019-09-25 15:57] zhanglongxia commented on #4208
Hi Matías,

The channel range is from 1 to 10 in 915MHz band. The center frequency of these channels is: Fc = 906 + 2 (k – 1) in megahertz, for k = 1, 2, ..., 10.  You may need to set the channel in the channel range.

Thanks
Zhanglong

[2019-09-25 17:40] jwhui commented on #4208
@zhanglongxia, it appears @mselser is setting the channel to 4, which is in the sub-GHz range.

[2019-09-25 19:01] zhanglongxia commented on #4208
@jwhui I saw the current channel is set to 11. It seems the sub-GHz  is not enabled.   @mselser could you check if you enabled sub-GHz.

[2019-09-25 19:22] mselser commented on #4208
That's probably the issue, I don't know where to enable the sub-GHz. What file do I have to edit?

Thanks

[2019-09-26 00:03] bukepo opened #4209 "use no instead of none in --with-XXX options"
**Is your feature request related to a problem? Please describe.**
`--without-XXX` will result in `${with_XXX}=no`. If we use `none`, `--without-XXX` can be broken.

**Describe the solution you'd like**
replace `none` in configure.ac with `no`.

**Additional context**
https://github.com/openthread/openthread/blob/master/configure.ac#L627

[2019-09-26 00:27] zhanglongxia commented on #4208
Hi mselser:

I checked the code, the sub-GHz is enabled by default on board 4170A. So you don't need to enable it.

Could you add the following code to Sleepy-demo to set the channel mask, then compile and run your code again to see if the channel could be changed to 4.
[code]

If it still doesn't work, could you follow the following steps to check if the sub-GHz is working:
<1> Compile image `ot-

[2019-09-26 13:17] mselser commented on #4208
Hello,
I tried the first option, but it didn't work.
After that, I followed your instructions with the client example and, after compiling and flashing, I got this error:
`> channel 15`
`Done`
`> panid 1`
`Done`
`> ifconfig up`
`Done`
`> thread start`
`Done`
`>    `
`> channel manager change 4`
`Error 6: Parse`

It seems that the channel manager is not working, but I made sure to compile with this

[2019-09-27 07:19] zhanglongxia commented on #4208
Hi Matias,

It seems the channel manager is not enabled.  You may need to clean images first, then compile  the image again. You can follow the following commands to compile the image:
[code]

Thanks
Zhanglong

[2019-09-27 17:26] jwhui commented on #4208
@zhanglongxia, any idea why the Operational Dataset method doesn't work?

[2019-09-28 06:08] zhanglongxia commented on #4208
@jwhui I don’t have the dev board with me now. So I enabled both the sub-GHz and 2.4GHz on platform posix and added the function “[setNetworkConfiguration()](https://github.com/openthread/openthread/blob/master/examples/platforms/efr32mg12/sleepy-demo/sleepy-demo-ftd/main.c#L138)” to [examples/apps/cli/main.c](https://github.com/openthread/openthread/blob/master/examples/apps/cli/main.c#L106). The

[2019-09-30 09:21] AuSchell opened #4213 "[coap/-s block-wise transfer] Implementation of CoAP/-s Block-Wise Transfer (RFC7959))"
Hello everyone,

I'm currently implementing CoAP Block-Wise-Transfer for my fork of the OpenThread stack for a project and i would like to share my code with this community afterwards, as proposed in #3323. My goal is that the Block-Wise Transfer is handled at the CoAP layer similar to IPv6 fragmentation, should the user define that automatic Block-Wise Transfer should be used.

So, my current cha

[2019-09-30 14:18] mselser commented on #4208
Hello

I compiled and flashed again but after starting thread, the board stops responding. I'm not sure what's causing this. On the other hand, I'd like to try this with the 4164A board. Is there support for this board?
Thanks.

[2019-09-30 18:30] zhanglongxia commented on #4208
@mselser The PR [#3922](https://github.com/openthread/openthread/pull/3922) add an [assert]((https://github.com/openthread/openthread/blob/master/examples/platforms/efr32mg12/radio.c#L212)) to check if the first channel equals to the minimum channel for sub-GHz. The [minimum channel](https://github.com/openthread/openthread/blob/master/examples/platforms/efr32mg12/radio.c#L271) is set to 1. Howeve

[2019-10-01 14:18] mselser commented on #4208
Hello. Thank you very much for your patience.

I followed step by step what you posted. My outcome was the following:
`sleepy-demo-ftd started`
`> state`
`detached`
`Done`

Which I think means that the network is not being created correctly.

So, I tried flashing the ot-cli-ftd example. When I did this, I found out that if the initial dataset configuration (with dataset init new) had a channel num

[2019-10-02 05:37] wgtdkp commented on #3990
Thanks @AuSchell, we are glad to see that there is someone outside of OpenThread interested in implementing the Thread 1.2 CCM-related feature on top of OpenThread (**Are you implementing the EST client conforming to the Thread 1.2 Commercial Commissioning Extension?**). Actually, we have been developing the Thread 1.2 Commercial Commissioning Extension for some time. But, there are still some und

[2019-10-02 10:21] AuSchell commented on #3990
Thanks @wgtdkp for your response, we are very interested in that. We have an implementation which is runnig most parts of ANIMA/BRSKI/EST protocols, but only on an application level and in a more general approach for proof of concept than specificly for Thread. Here is a link to the paper we released about that: [https://doi.org/10.21256/zhaw-2750](https://doi.org/10.21256/zhaw-2750).

So if we ca

[2019-10-02 18:22] #4172 closed

[2019-10-02 18:23] #1353 closed

[2019-10-04 13:55] nigelg-silabs commented on #4208
@mselser The sleepy app has a hard coded pan and channel to make demonstrations easy. By default it will go to channel 15 on the 2.4Ghz channel. This is done at initialisation so you may need to look at this.

[2019-10-04 14:18] mselser commented on #4208
@nigelg-silabs I know, I changed the default channel to 4 (in both mtd and ftd). And after I checked that this didn't work, I did the client example thing I mentioned above.

[2019-10-04 15:42] nigelg-silabs commented on #4153
I'm afraid at the moment we don't currently support CLI via VUART on Open Thread by default.

[2019-10-04 15:45] nigelg-silabs commented on #4199
We are using VCOM on 4161 without an issue.  Can you confirm what terminal emulator are you using - Simplicity Studio? If you are it should be visible in the Serial 1 window.

You should set PA5 as you suggest to enable VCOM

https://www.silabs.com/community/wireless/zigbee-and-thread/knowledge-base.entry.html/2017/12/03/setting_up_serialou-fJAC

It may be useful to turn on additional logging in O

[2019-10-07 09:34] zhanglongxia commented on #4208
@mselser Sorry for the late reply. I double checked that if we apply the PR #4214 to the OpenThread code and follow my experiment steps above, the dev board 4170A should be able to switch to channel 4. The terminal of your device shows that the state is **detached**. I think it is caused by the previous stored info. You may need to run the command "**factoryreset**" to erase the stored the info.

[2019-10-07 10:23] zhanglongxia opened #4223 "Should we define utils configuration macros in a special file ?"
**Is your feature request related to a problem? Please describe.**

There are several common code files under the `examples/platforms/utils/` directory. The codes in these files are configurable. Currently, we define the utils configuration macros in the file "`openthread-core-xxxx-config.h`". However, the these utils configuration macros don't belong to the **openthread core**. It is better to de

[2019-10-08 04:57] wgtdkp commented on #3990
Hi @AuSchell, Do you have access to Thread 1.2 specifications?

[2019-10-08 08:00] AuSchell commented on #3990
Hello @wgtdkp, our institute is applying for an academic membership to the Thread Group, our legal department is currently evaluating the conditions.

[2019-10-08 18:34] #4153 closed

[2019-10-09 03:41] wgtdkp commented on #3990
That's great, because one will need the newest Thread 1.2 spec to develop the CCM feature. Considering more and more Thread users and companies are switching to OpenThread, it's better for us to take advantage of the OpenThread community for new feature development. So, we will discuss about speeding open source of our efforts on CCM feature, stay tunned!

[2019-10-11 11:11] AuSchell opened #4237 "Warnings appear with newest commit"
Hello everyone

I have recently updated my fork of openthread from commit eb5b42a86e8bc58e28b6290045457ad2c4caa223 to 862a2b3d02108cd07f604b25e199c9280936168a, and since then numerous warnings are occuring when building the code and i would like to get rid of them.

Here they are:

[code]

I use a NRF52840-DK board and build with `$ make -f examples/Makefile-nrf52840`. I am using Eclipse IDE for C

[2019-10-12 03:36] blackfur commented on #1137
Have you solve this? I have this error too.

[2019-10-13 12:16] hubertmis opened #4240 "EID-to-RLOC cache errors do not seem to be corrected."
I've noticed a problem with frames not routed correctly to a SED. After some investigation I suspect that the messages are forwarded to an invalid router (not parent of the SED), because the cache errors are not detected or not corrected.

I'm attaching [the script](https://github.com/openthread/openthread/files/3721710/eid-to-rloc-cache-problem.zip) that more-less shows the real scenario I've use

[2019-10-15 00:39] jwhui commented on #4240
@hubertmis, thank you for raising this issue. I can help take a look at it soon.

[2019-10-15 04:36] jwhui commented on #4237
@AuSchell, I do not see those compiler warnings. Have you tried on a fresh clone of the OpenThread repo?

[2019-10-15 08:49] AuSchell commented on #4237
@jwhui, yes i have, It was the same result. Maybe it is a conflict between versions of the tools. I list them here:

- GNU automake v1.15.1
- GNU Make v4.1
- g++ v7.4.0
- libtool 2.4.6-2
- lsb-release v9.20170808ubuntu1
- gcc-arm-embedded v7-2018q2-1~bionic1
- clang-format v6.0.0

[2019-10-15 09:05] Irving-cl opened #4245 "Failed at unit test in the latest master branch"
**Describe the bug**
When I run `make -f examples/Makefile-posix check` after bootstraping, I got the below errors:
[code]
The latest commit(ca798e2) could reproduce this problem
@abtink

[2019-10-15 16:09] abtink commented on #4245
We have a `Child::Clear()` which should be used instead of `memset`. I will add a fix for this.

[2019-10-15 16:13] AuSchell commented on #4213
PR is released: #4247

[2019-10-15 16:30] abtink commented on #4245
Submitted "[test] update test_child to use Clear() instead of memset #4248"

[2019-10-15 22:47] jwhui commented on #4245
Resolved by #4248.

[2019-10-15 22:47] #4245 closed

[2019-10-16 12:55] #4208 closed

[2019-10-16 13:14] mselser opened #4251 "Cli example on EFR32MG12 BRD4164A"
Hello,

I tried to build the client example for the 4164A board, which is not in the supported list of boards.
In order to do so, I did de following:

1. Edit the makefile (Makefile-efr32mg12):
Added:
`ifeq ($(BOARD),BRD4164A)`
`MCU = EFR32MG12P433F1024GL125`
`else`

2. Created the corresponding folder for this board in the /examples/platforms/efr32mg12 directory. it was named "brd4164a".

3. Insi

[2019-10-16 15:57] nigelg-silabs commented on #4251
I'm not sure if it is the fix but there was a channel range issue on the 4170 which is in PR.

Have a look at:
https://github.com/openthread/openthread/pull/4214

[2019-10-18 10:17] nigelg-silabs commented on #4165
The easiest way to obtain the files is to generate the project within simplicity with the desired peripherals enabled. This will also generate the correct hardware configuration for the project.
Currently we haven't produced any instructions on how to modify the OT makefile to add peripherals

[2019-10-21 12:27] tarunsmalviya opened #4259 "How to change USB ATTRS{product}?"
I want to assign NCP `/dev/ttyNCP` and CLI `/dev/ttyCLI` port. I tried this by changing udev.rules. Sometimes usb info command returns **ATTRS{product}=="nRF52 USB Product"** and sometimes **ATTRS{product}=="nRF52840 OpenThread Device"**.

Is there any way we can fix these values in NCP and CLI firmware itself?

[2019-10-22 06:56] embeddedRSA opened #4262 "Issue with UDP between border routers"
Hardware:
client: Nrf52840 using Ubuntu 18.04.3 LTS
server: rpi boder router

SW:
SW im using the docker image shown here https://openthread.io/guides/border-router/docker/run
and running a build with the flags:
examples/Makefile-nrf52840 USB=1 BORDER_AGENT=1 BORDER_ROUTER=1 COMMISSIONER=1 UDP_FORWARD=1

issue:
i've been using iperf3 for testing bandwidth, when using tcp i get a connection , but w

[2019-10-22 10:55] simonlingoogle commented on #4200
I have actually met with the same `assert`.
It happens when I after I run  `scan` command for multiple times in a heavy traffic.
I think I can reproduce this issue and I will look into it when I am available.

[2019-10-22 12:37] simonlingoogle commented on #4200
I added a log at the beginning and end of `Mac::BeginTransmit`:
[code]
Before assert failed, the log is like:
[code]
Because `PrepareDataRequest` returned `OT_ERROR_ABORT`, `sendFrame` was not property prepared. I think `Mac::HandleTransmitDone` should handle the case when `error != OT_ERROR_NONE` more thoughtfully.

[2019-10-22 14:50] mselser commented on #4251
Rookie mistake. Antennas were not connected. My bad.

[2019-10-22 14:50] #4251 closed

[2019-10-22 17:01] abtink commented on #4200
@simonlingoogle nice debugging.

[2019-10-22 17:08] simonlingoogle commented on #4200
@abtink Thanks. I can reproduce this issue within minutes using the simulator I recently developed: [go/otns-dd](http://go/otns-dd). Please take a look and give feedbacks if you have time.

[2019-10-22 17:16] abtink commented on #4200
Just submitted which should address this: https://github.com/openthread/openthread/pull/4264

[2019-10-22 20:31] abtink commented on #4200
Submitted PR https://github.com/openthread/openthread/pull/4265 replacing  https://github.com/openthread/openthread/pull/4264. This should help address this issue and other situations where the previous frame is being used in TxDone callbacks

[2019-10-22 20:40] jwhui commented on #4262
@embeddedRSA, a primary difference between TCP and UDP is that the former provides end-to-end flow and congestion control. When testing with UDP, I believe you are simply overwhelming the network and success rate is very poor.

1. The UDP packet size is larger than Thread's IPv6 MTU, which means IPv6 fragmentation is
enabled.

1. Each IPv6 fragment is 1232 bytes, which means 6LoWPAN fragmentation

[2019-10-22 20:42] jwhui commented on #4259
GitHub Code Search:

- https://github.com/openthread/openthread/search?q=%22nRF52+USB%22&unscoped_q=%22nRF52+USB%22

- https://github.com/openthread/openthread/search?q=%22nRF52840+OpenThread%22&unscoped_q=%22nRF52840+OpenThread%22

Hope that helps.

[2019-10-23 07:00] embeddedRSA commented on #4262
Thanks alot! adding the two flags and the parameters -b 100k and -l 1000 seem to work.
so yes it helped!

[2019-10-23 07:00] #4262 closed

[2019-10-24 08:50] NOA-Vernon commented on #2806
Dear,
I want to build the latest OpenThread libraries with GCC on Linux for nrf52840 SoC, and do the steps as the following link
https://infocenter.nordicsemi.com/topic/sdk_tz_v3.2.0/thread_ot_libraries_building.html?cp=5_3_2_1_4_0#thread_ot_libraries_building_1
however, the output libraries didn't have libopenthread-diag.a, see the screen shot below

![image](https://user-images.githubusercontent

[2019-10-24 10:21] Irving-cl opened #4271 "[nrf528xx] make pretty problem"
**Describe the bug**
When I run 'make pretty', I got the following error:

[code]

It seems that wildcard cannot be used here. It take src/*.c as a real file.

**To Reproduce**
1.    I ran it on a x86_64 Linux machine.
2.    After going to the root directory of the repo, run `./bootstrap`.
3.    Then make: `make -f examples/Makefile-posix`
4.    Next make-pretty: `make -C build/x86_64-unknown-linu

[2019-10-24 11:20] konradderda commented on #4271
I have created a PR that resolves this problem: #4272
Issue does not occur if you call './configure' and then 'make pretty' from the root directory. Anyway, usage of Makefile wildcard function seems to resolve the problem.

[2019-10-24 20:07] abtink commented on #4200
The https://github.com/openthread/openthread/pull/4265 is merged and should help address this.

Thanks all for help with this. :)

This was a tricky issue (which I think was a long-standing existing one). I think the new assert in data poll handling path helped expose it.

[2019-10-24 20:07] #4200 closed

[2019-10-24 20:43] LuDuda commented on #4200
@abtink @simonlingoogle thank you for this effort!

[2019-10-25 01:58] simonlingoogle commented on #4200
@LuDuda @abtink good news I can not reproduce this issue now

[2019-10-25 03:56] NOA-Vernon commented on #2806
@jwhui Thanks a lot for the clarification.

[2019-10-25 05:27] jwhui commented on #4271
Resolved by #4272.

[2019-10-25 05:27] #4271 closed

[2019-10-25 16:08] #4204 closed

[2019-10-25 16:08] #4203 closed

[2019-10-27 09:25] saikiran994 commented on #1137
even i am also facing same problem

[2019-10-27 15:04] bukepo commented on #1137
@blackfur @saikiran994 Could you try `pip3 install -r tests/scripts/thread-cert/requirements.txt`?

[2019-10-28 10:16] saikiran994 commented on #1137
requriments already satisfied but not import lib to work, still showing no
module found

On Sun, 27 Oct 2019 at 20:35, Yakun Xu <notifications@github.com> wrote:

[2019-10-28 12:54] vervaekejonathan commented on #3946
Any news on this?

[2019-10-28 22:37] jwhui commented on #1137
@saikiran994, have you tried the proposed resolutions above?

[2019-10-29 04:26] jwhui commented on #4240
@hubertmis, thank you again for raising this issue.

I have reviewed the script and the ping failure is expected. The OT CLI ping command only sends a single ICMP Echo Request packet. The ICMP Echo Request will go to the old / incorrect destination, the old parent will generate an ICMPv6 Error, and the EID-to-RLOC cache entry will be invalidated. As a result, dropping the initial packet sent to th

[2019-10-29 09:22] e-rk commented on #4185
We are now using a custom `mbedtls-config.h` that does not rely on `OPENTHREAD_CONFIG` definitions.
Closing.

[2019-10-29 09:22] #4185 closed

[2019-10-29 11:21] saikiran994 commented on #1137
yeahhhh.....so i tried in windows in that also getting same

On Tue, 29 Oct 2019 at 04:07, Jonathan Hui <notifications@github.com> wrote:

[2019-10-29 16:14] librasungirl commented on #4240
@hubertmis would you please check whether #4282 could help?
During the execution of the script
1) Leader would have one cache entry <SED-EID, RLOC16(DUT_ROUTER)> after it pings SED, when SED attaches to DUT_ROUTER;
2) Such <SED-EID, RLOC16(DUT_ROUTER)> still exists when SED attaches to Leader. When DUT_ROUTER pings SED, when the reply is forwarded by Leader, it would wrongly update its EidCache to

[2019-10-29 16:33] jwhui commented on #4240
@librasungirl, thanks for looking into this. I agree that #4282 will help the scenarios where the SED can invalidate the EID-to-RLOC cache entry in any new parent it attaches to. This is a useful optimization that we should incorporate.

That said, I do not think #4282 will address all scenarios - there are still scenarios where at least one message is required to generate an ICMPv6 Error to inval

[2019-10-29 16:37] jwhui commented on #4240
Thanks for reporting this observation! If the ICMPv6 Error is not getting generated, then I think there is a bug there. As for performing an Address Query when forwarding, I see this as a useful optimization because it avoids packet drops. I wonder if we should apply the same behavior to packets that were forwarded over multiple hops (i.e. with mesh header).

[2019-10-29 17:10] jwhui commented on #1137
@saikiran994, to verify:

1. `pycrypto` is **not** installed
2. `pycryptodome` is installed

If that does not help, can you provide the output of `pip3 list | grep crypt`?

[2019-10-29 20:14] LuDuda opened #4284 "[spinel] how to reset the counters"
@abtink We would like to implement a mechanism to clear all counters i.e. MAC Counters, MLE Counters, and IP counters via spinel and also via CLI.

I spotted that there is currently following SPINEL properties (not implemented):
[code]

I just want to ensure, that writing "1" to this property should reset ALL (MAC, MLE, IP) counters in the OT? If yes, then clearing MAC, MLE or IP counters is fine,

[2019-10-29 20:45] abtink commented on #4284
@LuDuda , I think it's a good idea to use `VALUE_SET` (with any value not necessarily `1`) to  `SPINEL_PROP_CNTR_RESET` to clear all counters (MAC, MLE and IP) that can be cleared.

As you point out the `SPINEL_PROP_MSG_BUFFER_COUNTERS` is different in the sense that it's the current number of msg/data buffers in use by all msg queues and we cannot (should not) clear it.

If we want more control,

[2019-10-29 21:03] hubertmis commented on #4240
@jwhui , @librasungirl Thanks for looking into this. I'll try to play with the script a little more to reproduce the real-life bug I've experienced with EID-to-RLOC cache errors. I'll update the script and verify if #4282 helps if I reproduce the issue. If I couldn't reproduce, I'll just close this ticket.

[2019-10-29 21:56] LuDuda commented on #4284
Hello @abtink if you have time and a clear vision on how to implement it and document I would appreciate the help! In meantime I've added [pyspinel](https://github.com/openthread/pyspinel/pull/83) support for retrieving counters, later I can extend it with resetting mechanism (same with CLI).

[2019-10-30 02:39] abtink commented on #4284
@LuDuda Sounds good! Just submitted PR https://github.com/openthread/openthread/pull/4286.

[2019-10-30 08:26] pszeplikintive opened #4289 "[dtc] provide a separate high level api for the dtc module"
### Problem description:
A current In-band commissioning API from `include/openthread`, consists of
`joiner/border_agent/commissioner.h` files, seems to be not well suited for DTC
needs. For instance in case of the commissioner API, many functions like
`otCommissionerAnnounceBegin()`, `otCommissionerEnergyScan()`, etc. do not apply
in the context of DTC. From the other hand some crucial API functi

[2019-10-30 08:51] #4289 closed

[2019-10-30 10:09] Tobamalau opened #4290 "Getting Started: Developing with OpenThread APIs build errors"
Hello,

I followed the Getting Started: Developing with OpenThread APIs to point 11 where I have to build OpenThread (make -f examples/Makefile-nrf52840). Here I get some errors

**To Reproduce**
Information to reproduce the behavior, including:
1. Git commit id: efd9ebaa
2. hardware platform nrf52840
3. Build steps like getting started

**Console output in step
           Making all in cli

[2019-10-30 20:37] Vyrastas commented on #4290
@Tobamalau can you double-check your main.c code?  You most likely are missing a semicolon after a statement somewhere.

[2019-10-30 21:48] abtink commented on #4240
Thanks @hubertmis, @librasungirl  for submitting and debugging this issue. This is indeed an interesting scenario.

We cover some of cache update scenarios from [test-021-address-cache-table.py](https://github.com/openthread/openthread/blob/master/tests/toranj/test-021-address-cache-table.py#L210). I added a new `toranj` test-case covering the situation from this issue (submitted https://github.co

[2019-10-30 22:09] Vyrastas commented on #4290
Actually, running through the Codelab I encountered the same issue.  It appears the issue is caused by the removal of the otNetifInterfaceId enumeration in #3925 (of which OT_NETIF_INTERFACE_ID_THREAD was an element)...

@jwhui What should we use instead?  It's in a couple places here https://codelabs.developers.google.com/codelabs/openthread-apis/#6

[2019-10-30 22:13] jwhui commented on #4290
You should be able to just remove the following line from the example code:
[code]
#3925 has many similar examples.

[2019-10-30 22:40] Vyrastas commented on #4290
Still got errors after that, caused by the removal of OTCALL in #3878 ... removing those finally fixed it.

@Tobamalau you'll need to do this:

In main.c, remove these lines:
`listenSockAddr.mScopeId = OT_NETIF_INTERFACE_ID_THREAD;`
`messageInfo.mInterfaceId = OT_NETIF_INTERFACE_ID_THREAD;`

Also in main.c, delete `OTCALL` from the `handleNetifStateChanged` function declaration and definition.

Af

[2019-10-31 17:05] jdougal84 commented on #1137
Had the same issue on Win10.

Rename the folder in site-packages from crypto to Crypto.

[2019-10-31 20:17] Tobamalau commented on #4290
it works, thanks a lot.
The tutorials are very helpfully!

[2019-10-31 22:07] Vyrastas commented on #4290
The codelab has been updated.
https://codelabs.developers.google.com/codelabs/openthread-apis/#0

[2019-10-31 22:07] #4290 closed

[2019-11-01 04:43] jwhui commented on #4284
Resolved by #4286.

[2019-11-01 04:43] #4284 closed

[2019-11-04 08:04] #4209 closed

[2019-11-04 08:38] musalk-dk opened #4301 "non volatile persist data not saved after join"
**Describe the bug**
After joining at network the persistent non volatile data is not stored correctly. And the non volatile data is invalid.

**To Reproduce**
code setup: We have our network join/commissioning as part of our bootloader selected via a key press'n hold on power on.
So the join process is part of a pre bootloader state (to ensure we can always bootload). Our openthread persist data

[2019-11-04 08:42] musalk-dk commented on #4301
We have a semi working version where we delay the reset by 10sec (1sec was not enough). But that's a bad workaround as we
A. have a properly unnecessary long user interface delay.
B. we have no insurance that thread actually did the writes within the that time.

[2019-11-04 15:06] jwhui commented on #4301
OpenThread does not currently save network parameters obtained via Thread Commissioning until the device successfully attaches to an existing Thread network (e.g. by becoming a end-device or router/leader). In your scenario above, is the device successfully attaching to the network? Or is that not a part of the flow that you are trying to support?

[2019-11-04 16:16] jwhui commented on #4199
Closing stale issue.

[2019-11-04 16:16] #4199 closed

[2019-11-04 17:28] musalk-dk commented on #4301
We get the device to successfully commission when we continue into our bootloader maintaining the same instance... But when we only need to use the bootloader to commission and then reset to application - the otherwise successful join is lost. Most likely due to data not written before it becomes some kind of node.
So if we wait for it to become something else than detached it should have saved th

[2019-11-08 08:22] musalk-dk commented on #4301
Will any of the disable/reset/finalize functions ensure all flash writes are done?
Before eg. A soft reset.?

[2019-11-10 18:12] otbr-user opened #4316 "OT BR documentation question"
When running OT BR with docker is it necessary to explicitly add static routes and bridge interfaces?

According to this https://openthread.io/guides/border-router/docker/test-connectivity simply starting the container is enough to get IPv6 connectivity between the Thread network and public internet. Is this really true though? How would the On-Mesh prefix be known to the host OS?

[2019-11-12 19:24] jwhui commented on #4316
Starting the OTBR docker container provides public Internet connectivity, but not necessarily IPv6 connectivity. Note that the referenced page describes connectivity using NAT64. As a result, it is not necessary for the container to have a publicly routable IPv6 address or prefix. For direct IPv6 connectivity to the public Internet, the container needs to have publicly routable IPv6 address/prefix

[2019-11-12 19:29] jwhui commented on #4301
Not currently. We could look to an enhancement that saves information received as part of Thread Commissioning to non-volatile.

No, once `otInstanceFinalize()` is called, the OpenThread instance object is no longer valid. (Note that `thread_process()` is specific to the Nordic SDK).

[2019-11-12 20:07] otbr-user commented on #4316
That page states

Without additional configuration the container does not have a publicly routable IPv6 address, right? So the statement quoted above is not correct?

[2019-11-13 19:16] jwhui opened #4327 "Thread 1.2.0 Core Implementation"
This issue tracks Thread 1.2.0 core feature implementation.

- [x] Thread 1.2 feature flag (#4325)
- [x] Parent Selection rules (#4423)
- [x] Enhanced Keep Alive (#4325)
- [x] Enhanced Frame Pending (#4334)
- [x] Ack Frame Generator Functions (#4884)
- [x] Move Transmit AES-CCM* processing to sub-mac (#4919)
- [x] Link Metrics
  - [x] Single Probe (#5481)
  - [x] Forward Tracking Series (#5608)

[2019-11-13 19:17] jwhui commented on #3946
We are starting to introduce Thread 1.2.0 features. See #4327 for status.

[2019-11-13 19:17] #3946 closed

[2019-11-13 23:01] soburi commented on #1803
Hi, all.

I also created experimental arduino package that integrated with openthread. (support nrf52840)

https://github.com/soburi/openthread_nrf52_arduino
Direct url for set arduino preferences .
https://soburi.github.io/openthread_nrf52_arduino/package_soburi_otnrf52_index.json

One thing I noticed on create a package.

- ISR implementation will conflicts with arduino's. one

   Arduino implem

[2019-11-14 00:10] bukepo opened #4328 "Border agent port should be configurable"
**Is your feature request related to a problem? Please describe.**
The border agent service is discovered through mDNS, the port is not fixed. We should change the current implementation and add API to allow user change the port at runtime. This allows us to run multiple Thread interfaces in a single system.

**Describe the solution you'd like**
Enhance the code to allow change border agent port a

[2019-11-14 00:18] #4165 closed

[2019-11-14 04:58] jwhui commented on #4316
Yes, it appears the documentation is incorrect. The example demonstrates how to ping public IPv4 addresses using NAT64.

[2019-11-14 22:27] Vyrastas commented on #4316
This has been fixed:
https://openthread.io/guides/border-router/docker/test-connectivity#ping-a-public-address

Thanks for bringing it up @otbr-user

[2019-11-14 22:27] #4316 closed

[2019-11-14 22:27] jwhui commented on #4301
@musalk-dk, I just submitted #4332, which should store the Thread network parameters as soon as they are received. Let me know if #4332 addresses your use case.

[2019-11-14 23:32] #4259 closed

[2019-11-14 23:33] jwhui commented on #4074
Closing stale issue.

[2019-11-14 23:33] #4074 closed

[2019-11-15 02:01] abtink opened #4333 "OT/platform config header files"
Currently many of the example platform implementation do `#include <openthread-core-config.h>`.

The `"openthread-core-config.h"` (as the name suggests) was intended as a private header file used by core modules only. I think we may have some config option definition which are indirectly (or directly) being used by platform code and that's the reason this header file is being included in many exam

[2019-11-15 02:02] abtink commented on #4333
I think this is related to issue https://github.com/openthread/openthread/issues/4223.

[2019-11-15 06:48] hpssjellis commented on #1803
What about the new NANO 33 BLE series based on nrf52840 ? I would very much like to see this series supported. Is there any way we could make a test openthread library for importing into the arduino IDE?

[2019-11-15 07:58] bstraehl commented on #4074
@jwhui
Sorry, for letting this getting stale. I considered multiple times to do a PR, but my changes are not fully aligned with the concepts of this certification test environment and are not mature enough. They just helped me to track down issues such as https://groups.google.com/forum/?hl=en-GB#!topic/openthread-users/JAvrPZh2Sao. It's not very satisfying to not have the time to do things right,

[2019-11-15 17:04] jwhui commented on #4074
@bstraehl, thanks for the note! Completely understand. If you do happen to find the time in the future, contributions are always welcome!

[2019-11-18 17:30] #3635 closed

[2019-11-19 16:14] 4tal commented on #1137
Help me as well on Mac

[2019-11-19 20:24] al1img opened #4342 "Joiner fails after forming network or join to network"
Once the joiner device forms the network it can't join to another network after clearing the active dataset.

Git commit id: 9f2ff3bcbfd837adbc9c6280c48fbefd01d3bd01
IEEE 802.15.4 hardware platform: posix, efr32, probably all other
Build steps: `make -f examples/Makefile-posix JOINER=1 COMMISSIONER=1`

Steps to reproduce:

1. Start the joiner device and form the network:
[code]
2. Stop the network

[2019-11-19 21:17] jwhui commented on #4342
@al1img, I believe this is currently due to the PAN ID value being cached. Can you try setting the PAN ID to `0xffff` before joining?

Note that the Joiner will use the PAN ID setting as a filter in its scan. If the PAN ID is not `0xffff`, then only networks with the matching PAN ID will be discovered.

[2019-11-20 10:44] al1img commented on #4342
Setting PAN ID to 0xffff resolves the issue. So, if the joiner needs to be joined to another network, setting PAN ID to 0xffff should be enough.

[2019-11-20 13:24] LuDuda opened #4346 "[ncp] logging enhancements"
We would like to work on some logging enhancements in NCP architecture. But first, I want to ensure this is something desirable for the community, and technically acceptable.

1. Dynamic log level configuration per module/region.

Currently, OpenThread supports dynamic configuration of the log level, this log level is the same for each enabled log region. We would like to introduce the option to d

[2019-11-21 01:33] jwhui commented on #4346
@LuDuda both proposed enhancements sound good to me!

[2019-11-21 01:44] abtink commented on #4346
I agree.
 For the `SPINEL_PROP_STREAM_LOG` we should be able to easily add more optional fields in the meta data part.

[2019-11-21 14:35] piotrkoziar opened #4347 "[radio] Variable set but never used."
**Describe the bug**
After this 82c13c25a40f3637da39b7332a203a69002d9df8 commit compiler warns about sExtAddress variable (from openthread\examples\platforms\nrf528xx\src\radio.c) set but never used.

**To Reproduce**
1. OT with commit 82c13c25a40f3637da39b7332a203a69002d9df8
2. Build with OPENTHREAD_CONFIG_MAC_HEADER_IE_SUPPORT=0

**Expected behavior**
Compilation ends without the warning.

**Con

[2019-11-25 08:23] NickNamerr opened #4353 "[efr32] Parent does not purge indirect message"
**Describe the bug**
During test of INDIRECT messages noticed that parent is needed ~100ms to decide that indirect message could be cleared. If do soft reset on SED within 10 to 40 ms after indirect messages been received, after boot up this messages will be received one more time (could be repeated multiple times). Is there any API to get informed about that all indirect messages been delivered t

[2019-11-25 11:50] #4342 closed

[2019-11-25 16:54] jwhui commented on #4095
Resolved by #4112.

[2019-11-25 16:54] #4095 closed

[2019-11-25 18:39] jwhui commented on #4301
Resolved by #4332.

[2019-11-25 18:39] #4301 closed

[2019-11-25 19:17] jwhui commented on #4240
@hubertmis, any further updates on this issue now that #4282 is merged?

[2019-11-26 05:20] jwhui opened #4358 "[radio] properly set mAckedWithFramePending on received frame"
The received frame structure includes an `mAckedWithFramePending` field that must be set if and only if the ACK sent in response to the received frame has the Frame Pending bit set. #4131 relies on radio driver to properly implement this. However, not all platforms implement this.

Without proper implementation, testing against the Thread Test Harness may result in test case failures due to redund

[2019-11-26 17:27] jwhui commented on #4347
Resolved by #4361.

[2019-11-26 17:27] #4347 closed

[2019-11-26 17:39] jwhui commented on #4353
@NickNamerr, thank you for raising this issue.

Can you provide more information on the indirect message? Are the unicast or multicast? What IPv6 destination address(es) are in the packets? Where are the packets being originated from?

[2019-11-27 01:09] NickNamerr commented on #4353
@jwhui this is unicast COAP message sends by node.js CoapServer to SED local-mesh IPv6 (based on Extended Panid).
If implement a code with logic to call otPlatReset after SED receives any CoAP message on dedicated CoAP uri, it will be in recursion of receiving same message until parent will not purge it by timeout. That something expected because device does not send confirmation of receiving indi

[2019-11-27 01:12] jwhui commented on #4353
@NickNamerr, thanks for the additional info. Can you provide a packet capture using a sniffer?

[2019-11-27 06:07] NickNamerr commented on #4353
@jwhui
![image](https://user-images.githubusercontent.com/5268016/69697599-db592e00-111d-11ea-80f9-53f48502a31c.png)
I cannot provide pcap data, because it consist private data, but can provide screenshot and explain it:
::fc2c:7c45:f5db:ef38 - wpan0 IPv6
::dfd6:94fa:bb86:748f - Router IPv6
fe80::dcb7:24dd:5ef:8e85 - SED IPv6
fe80::b8b3:d4c6:934c:99b5 - Router IPv6
0x9400 - Router RLOC16
0x9401 -

[2019-11-27 07:13] NickNamerr commented on #4353
@jwhui btw:
![image](https://user-images.githubusercontent.com/5268016/69701459-efa22880-1127-11ea-8b3f-0f399c07f34c.png)
Why sniffer shows same message was sent 4 times? My tcpdump on server shows only one in and one out messages.

[2019-11-27 18:26] jwhui commented on #4353
@NickNamerr, thanks for sharing the packet trace.

I see two CoAP requests getting delivered to the SED (packets 320 and 347). I do not see an ACK to 320, which can be due to sniffer dropping the packet or ACK is not getting delivered to parent.

Can you determine from the OpenThread logs whether an ACK is being received on the parent in response to the CoAP request messages?

[2019-11-28 08:04] NickNamerr commented on #4353
Actually I do not have time to debug it now. I close this ticket and reopen in future once will have enough time to debug.
Thanks and sorry.

[2019-11-28 08:04] #4353 closed

[2019-12-03 13:07] AlexeyShako opened #4376 "Build for NRF52840 fails when SETTINGS_RAM=1"
Hi! I faced with undefined reference to `otPlatSettingsDeinit' exception when tried to build libraries for NRF52840 platform. OpenThread commit id is 3161e9bac2a1576009d930a81558edad4c1aaceb (latest development branch)

I tried to execute the command:
[code]

And got next logs:

[code]

[2019-12-03 19:31] jwhui commented on #4376
@AlexeyShako, thank you for raising this issue. I have submitted a fix in #4378. Please review.

[2019-12-04 16:54] #4376 closed

[2019-12-05 08:54] musalk-dk opened #4381 "Router path is 0 when only 2 devices in network"
**Describe the bug**
Showing the router table - shows the opposing unit with a with a path cost of 0 when only 2 devices are in network.
When a 3rd unit is added the path costs correctly shows 1 for the opposing units.

**To Reproduce**
Information to reproduce the behavior, including:
Git commit id: 2279ef6
IEEE 802.15.4 hardware platform: nrf52840
Build steps: Nordic semi prebuilt lib's v3.1.0
N

[2019-12-05 16:59] jwhui commented on #4381
This is expected behavior.

The router table really stores two different ways of reaching the device:
1. Direct link - represented by LQ In/Out
2. Multihop path - represented by Next Hop and Path Cost.

The multihop path is only valid if there is a path that requires 2 or more hops to reach the router. In a topology with only 2 devices, no such paths exist.

The reason for storing direct link and

[2019-12-10 17:29] musalk-dk commented on #4381
Thanks.
The confusion comes when more than 3 devices are all in reach (direct link) the path becomes 1 for the opposing units all cases I have seen. But when only 2 the path becomes 0.
Thanks again

[2019-12-10 17:29] #4381 closed

[2019-12-11 17:16] AlexeyShako opened #4393 "[Settings] When using OPENTHREAD_SETTINGS_RAM=1 can`t restore devices ID manualy after reboot"
Hi!
    I was faced with issue, which forbids me to start a network with my previously known parameters (saved manually before platform reset) when I was using OPENTHREAD_SETTINGS_RAM=1 for NRF52840. I want manually fill the volatile memory buffer with my parameters before the start, but I can`t because it will be re-erased during the next init steps.
   I figured out of that by covering Get<Setti

[2019-12-11 20:12] jwhui commented on #4223
#4333 covers this issue more generally.

[2019-12-11 20:12] #4223 closed

[2019-12-11 20:16] jwhui commented on #4393
@AlexeyShako, thank you for submitting this issue.

Can you clarify exactly what information you are trying to restore? Is it the IEEE Extended Address? Something else?

For IEEE Extended Address, is it possible to use the existing [otLinkSetExtendedAddress()](https://openthread.io/reference/group/api-link-link#otlinksetextendedaddress) API?

[2019-12-11 22:04] AlexeyShako commented on #4393
I'm trying to have constant node parameters while using a volatile memory. I expected completely the same behavior as with using flash storage, after network establishment. But I've found API for getting/setting only global parameters of the network. I put manually saved dataset to otDatasetSetActive() and network successfully starts, but all identifiers didn't constant. That's exactly the issue f

[2019-12-11 22:20] jwhui commented on #4393
Given that your proposal is to effectively remove the call to `otPlatSettingsInit()`, can your platform simply provide an alternative implementation of `otPlatSettingsInit()` that populates the information instead of clearing it?

Note that one issue without non-volatile memory is managing the frame counters used with AES-CCM message security. The frame counter is included in the nonce and, as suc

[2019-12-12 08:33] jsnayak opened #4395 "Compilation Error when OPENTHREAD_CONFIG_MLE_MAX_CHILDREN is 511"
I am facing a compilation issue when the OPENTHREAD_CONFIG_MLE_MAX_CHILDREN is set to 511

**To Reproduce**
Information to reproduce the behavior, including:
1. fb14009916c39db43bf637648b0ff3c17e454f5f
2. kw41z
3. Change the configuration parameter to 512 and build, I used the below build flags:
`make -f examples/Makefile-kw41z BORDER_AGENT=1 BORDER_ROUTER=1 COMMISSIONER=1 JOINER=1 UDP_PROXY=1 UDP

[2019-12-12 17:10] jwhui commented on #4395
@jsnayak the error you are seeing is due to the message buffer size not being large enough to support the desired number of children. You could resolve this specified error by increasing [OPENTHREAD_CONFIG_MESSAGE_BUFFER_SIZE](https://github.com/openthread/openthread/blob/ab89f403850bfe5fc153a4f5cb5b38ae68800ea6/src/core/config/openthread-core-default-config.h#L181).

[2019-12-13 04:29] jsnayak commented on #4395
@jwhui I updated the parameter [OPENTHREAD_CONFIG_NUM_MESSAGE_BUFFERS](https://github.com/openthread/openthread/blob/ab89f403850bfe5fc153a4f5cb5b38ae68800ea6/src/core/config/openthread-core-default-config.h#L165) and saw the issue resolved. Thanks!

[2019-12-13 04:29] #4395 closed

[2019-12-13 06:52] bukepo opened #4406 "[build] output build configuration values"
**Is your feature request related to a problem? Please describe.**
It will be very helpful if the build system could output the a .h file which shows all OpenThread build option values, especial when integrating OpenThread onto some platforms has very complicated build systems.

**Describe the solution you'd like**
I don't have a concrete solution yet.

**Describe alternatives you've considered**

[2019-12-16 19:50] AlexeyShako commented on #4393
Got it, thanks for your clarification. Could you please recommend any correct approach on how to keep some constant identification for each node in the network since it joined the network? Because I need to create some logical connection over the network related to specified nodes, but I can`t since it always changes its logical address and I can`t predict when it changes (I mean case when a node

[2019-12-16 21:15] jwhui commented on #4393
One possible approach is to manually assign your own IPv6 addresses to each of the nodes using [otIp6AddUnicastAddress](https://openthread.io/reference/group/api-ip6#otip6addunicastaddress). When a node reboots, they will randomly select new identifiers for IEEE 802.15.4 Extended Address and Mesh Local Endpoint Identifier. However, you can manually assign your own IPv6 addresses.

Note: for the ma

[2019-12-17 02:31] bukepo opened #4413 "[code] create src/utils for common utilities"
**Is your feature request related to a problem? Please describe.**
create a folder `src/utils` for utilities that can be used by multiple applications. I think spinel, hdlc, the upcoming performance test utilities are examples of this requirement.

**Additional context**
#4117
https://github.com/openthread/openthread/pull/3975#discussion_r301717735

[2019-12-17 02:32] bukepo commented on #4413
@jwhui  @abtink @simonlingoogle @zhanglongxia Thoughts?

[2019-12-17 03:19] simonlingoogle commented on #4406
[code]

`gcc -E -dM` can dump all macro defines. We need a specific cpp/hpp file for running `gcc -E -dM` on it with the same CPPFLAGS of other cpp files.

[2019-12-17 03:26] bukepo commented on #4406
Great! @jwhui shall we export the effective core config header file to OpenThread users? That is install it as other OpenThread API header files.

[2019-12-17 13:15] allexoll opened #4415 "Update silabs platform support for gecko sdk v2.7"
With the Dec 13 2019 gecko SDK update from Silicon Labs (2.6->2.7) the platform examples are no longer working.
`v2.6`to `v2.7` in the makefiles fixes most of it, but the RTC driver used is now depreciated.

* temp fix: `#define SL_SUPRESS_DEPRECATION_WARNINGS_SDK_2_7` in `v2.7/platform/emdrv/rtcdrv/inc/rtcdriver.h`
* fix should use sleeptimer instead

[2019-12-18 09:27] nigelg-silabs commented on #4415
We are currently porting our examples to SDK2.7 to encompass the improvements made in this SDK release. We expect this to be available in the new year

[2019-12-19 01:36] abtink commented on #4413
Sounds good to me.

[2019-12-19 01:43] jwhui commented on #4413
SGTM

[2019-12-19 02:30] bukepo commented on #4406
friendly ping. @jwhui @abtink

[2019-12-19 02:30] zhanglongxia commented on #4413
SGTM

[2019-12-19 02:47] abtink commented on #4406
This seems related to: https://github.com/openthread/openthread/issues/4333

[2019-12-19 08:02] bukepo commented on #4406
Got it! I'm find with keeping this generated header file private, just for debugging purpose. @abtink

[2019-12-19 18:40] abtink commented on #4406
Having it for debugging sounds good and useful to me.

[2019-12-20 14:19] mwilniewiec opened #4424 "Service ALOC not working properly when Server is a Thread Child"
Hi, we are using Service ALOC in our project to communicate Nodes -> Border Router.
An NCP registers as a Server in a leader, getting ALOC etc. All nodes receive that ALOC in thread network data and communicates with the NCP over ALOC to get to the Border Router.

This solution looks very nice, no extra effort needed, supports multiple border routers in the same network, thread network forwarding

[2019-12-20 19:50] jwhui commented on #4424
@mwilniewiec, thank you for identifying this issue! I have confirmed that the current implementation does not trigger network data registration when in the child role. I have submitted #4425 to address this issue. Please review.

[2019-12-23 17:55] #4424 closed

[2019-12-25 07:30] zhanglongxia opened #4429 "[ncp] NCP log enhancement"
#### Is your feature request related to a problem? Please describe.
The function `otNcpPlatLogv()` doesn't process the log level. It just sends the content of the log message to Posix host. When the Posix host receives the log, it will call the function `otLogDebgPlat()` to store the log message. If the log level is higher than LOG_LEVEL_DEBUG on Posix host, the received log message will be droppe

[2019-12-28 12:32] wlk05505 commented on #3109
@NOA-Ben @jwhui  Hello,NOA-Ben,I want to ask you a question about the source file cli_uart.cpp,how to change it so that I can use Uart Received?This question has troubled me for a long tiime.

[2019-12-30 10:13] AlexeyShako opened #4433 "NetworkTime overflows on NRF52840"
Hi!
I'm using the latest version on NRF52840. And when I had tried to enable network time module using TIME_SYNC=1 flag, I found in logs that time moved for a years in a moment. Other options used for libraries builds are next:
[code]
And I`m attaching a small part of logs. It might be helpful:
[code]
If any additional logs are required, let me know, and I`ll try to reproduce this situation taking

[2019-12-30 16:08] dismirlian opened #4434 "[coap] Retransmissions when talking to SED"
**Describe the bug**
When sending CoAP requests to a SED, the transaction has retransmissions.
![image](https://user-images.githubusercontent.com/17166563/71589854-22638600-2b05-11ea-8bbc-4c59d86d81eb.png)

If the SED is turned into a REED or to a Rx-on-when-idle device, then the transactions work OK.
![image](https://user-images.githubusercontent.com/17166563/71589870-3a3b0a00-2b05-11ea-862f-1e81

[2020-01-01 15:54] konradderda commented on #4346
@LuDuda @jwhui  @abtink I have created PR that resolves 2nd point:
https://github.com/openthread/openthread/pull/4439

[2020-01-02 09:18] greg-fer opened #4442 "Move API group definitions out of error.h to a new file"
**Issue description**
The OT API documentation group hierarchy is currently defined in error.h file (lines 44-172):
https://github.com/openthread/openthread/blob/master/include/openthread/error.h

This is not the immediate and most obvious choice when working with API documentation and makes adding new groups more complicated.

**Expected behavior**
The ideal solution would be to have the API stru

[2020-01-02 17:16] LuDuda commented on #4442
FYI @Vyrastas

[2020-01-02 18:00] Vyrastas commented on #4442
I'll leave it up to @jwhui where it should go... would documentation.h make more sense?

[2020-01-04 18:52] konradderda opened #4449 "MTD configured NCP cannot start joining procedure"
**Describe the bug**
When the NCP device IS NOT the FTD it fails to join a network. When the "join" command is used wpantund sets the "router eligible" attribute to false but it cannot be done due to "IsFullThreadDevice() check" in the "MleRouter::SetRouterEligible" method.

**To Reproduce**
- Latest OT revision (5b0af03afb8e70e8216f69623bd18bcd3d4b8b43)
- Tested on nRF52840 but the bug is not pla

[2020-01-04 19:00] konradderda commented on #4449
I do not see any problem with setting router-eligible attribute from false to false for MTD devices since it does not impact anything.

Proposed fix:  https://github.com/openthread/openthread/pull/4450

[2020-01-06 18:45] jwhui commented on #4449
@konradderda, thanks for raising this issue and submitting a fix!

[2020-01-06 18:45] #4449 closed

[2020-01-07 09:06] Nopik opened #4454 "Non-compiling code when trying to use Service without Border Router"
When using Service API in client (i.e. having `OPENTHREAD_CONFIG_TMF_NETDATA_SERVICE_ENABLE` on node, without `OPENTHREAD_CONFIG_BORDER_ROUTER_ENABLE` enabled) following code: https://github.com/openthread/openthread/blob/master/src/core/thread/network_data_local.cpp#L370-L375

is not compiling (`||` expects 2 arguments, but get 1).

[2020-01-07 10:59] Nopik opened #4455 "Invalid #define name"
Instead of `OPENTHREAD_CONFIG_NCP_SPI_ENABLENEL_ENCRYPTER` there should be `OPENTHREAD_CONFIG_NCP_ENABLE_SPINEL_ENCRYPTER`:
- The extra `NEL` seems like a typo.
- Spinel encrypter is not related to NCP using SPI or not, it can encrypt whole spinel stream, regardless of transport.

[2020-01-07 11:01] Nopik commented on #4455
Ah, I've just realized that `SPINEL` was just split into `SPI` and `NEL`, with `ENABLE` inside ;)

[2020-01-07 12:00] dismirlian commented on #4454
Hi, please see PR #4443

[2020-01-07 12:02] dismirlian commented on #4455
Hi, please see #4300

[2020-01-07 13:15] Nopik commented on #4454
Thanks. The change in #4443 seems to do the trick, thanks!

[2020-01-07 13:20] Nopik commented on #4455
#4300 looks ok for me (at least in the spinel define area). Hopefully it will be merged soon!

[2020-01-07 17:00] jwhui commented on #4454
I think #4443 needs an update - see https://github.com/openthread/openthread/pull/4443#discussion_r363848675.

[2020-01-07 17:08] dismirlian commented on #4454
I'm sorry, I thought it was the usual Travis timeouts...

[2020-01-07 20:49] jwhui commented on #4454
Resolved by #4443

[2020-01-07 20:49] #4454 closed

[2020-01-08 16:56] jwhui commented on #4455
Resolved by #4300

[2020-01-08 16:56] #4455 closed

[2020-01-08 18:15] jwhui commented on #4415
Resolved by #4447

[2020-01-08 18:15] #4415 closed

[2020-01-08 18:23] jwhui commented on #4442
I think moving the doxygen-specific group hierarchy out of `include/openthread/error.h` makes sense. Given that this is doxygen-specific, would it make sense to have such information located in [`doc/`](https://github.com/openthread/openthread/tree/master/doc) somewhere?

[2020-01-09 00:33] Vyrastas commented on #4442
Yes, let's put it there.  I can move it.  Any preference on filename?

[2020-01-09 02:25] bukepo opened #4459 "MAC counters doesn't count out of band tx frames"
**Is your feature request related to a problem? Please describe.**
tx out of band frames are also 15.4 frames, no matter how it is secured, the frame type can be retrieved. Shall we count these frames?

**Describe the solution you'd like**
count frames according to the frame type instead of tx operation.

**Describe alternatives you've considered**
count these frames as other frames because there'

[2020-01-09 08:05] greg-fer commented on #4442
Yes, having it in `doc/` makes sense. I suggest `api_doc.h` as the filename.

[2020-01-09 23:37] bukepo commented on #4459
@abtink @jwhui do you think out of bound frames should also be counted?

[2020-01-10 00:39] abtink commented on #4459
Sounds reasonable to me.

[2020-01-10 01:41] bukepo opened #4461 "Provide settings serializer?"
**Is your feature request related to a problem? Please describe.**
Currently settings are persisted as opaque bytes, which is making restoring dataset from NCP not easy. I think this may also cause problem when switching from a 32-bit mode to a 64-bit mode. The alignment may be different.

**Describe the solution you'd like**
Implement a serializer and deserializer for settings structures, so that

[2020-01-10 01:42] bukepo commented on #4461
@abtink @jwhui @librasungirl Thoughts?

[2020-01-10 01:58] abtink commented on #4461
I like this.
We should be careful of transition but would be good to have this for longer term.

[2020-01-10 02:09] jwhui commented on #4461
Can you describe the challenge of restoring dataset from NCP?

My primary concern is the added overhead of needing to serialize the information. On embedded platforms, I don't think switching between 32 and 64 bit is a real use case.

[2020-01-10 02:10] jwhui commented on #4459
Can you define "out-of-bound"? Do you mean "out-of-band"? If the latter, I agree that we should account for them.

[2020-01-10 02:11] jwhui commented on #4442
`doc/ot_api_doc.h` sounds good to me!

[2020-01-10 02:11] jwhui commented on #4442
@greg-fer @Vyrastas, one of you want to take this on?

[2020-01-10 02:43] bukepo commented on #4459
sorry for the typo. Yes, it's out of band.

[2020-01-10 06:19] NickNamerr opened #4462 "[EFR32] Automake and autoconfig do create $(SDKVERSION) directory"
**Describe the bug**
make examples/Makefile-efr32mg12 creates subdirectory
openthread/build/efr32mg12/third_party/silabs/gecko_sdk_suite/$(SDKVERSION)/

**To Reproduce**
Information to reproduce the behavior, including:
1. 73e30d1d7b1454e0d82607381b6b9c1f79ff4cec
2. EFR32MG12P432F1024GM48
3. ./bootstrap; make -f examples/Makefile-efr32mg12 BOARD=BRD4304A
4. NA

**Expected behavior**
Cannot complet

[2020-01-10 09:39] marvensilabs commented on #4462
Hi Nick,

We have seen this issue overnight on our internal build system and are investigating this.  It has been seen that it creates a $(SDKVERSION) directory within the build directory on the build system but on my system this is replaced with v2.7.

I prefixed with "export" as without it on my system it appeared not to be passed down correctly to some of the sub-makefiles, in particular the th

[2020-01-10 11:03] greg-fer commented on #4442
@jwhui , @Vyrastas , feel free to take this on. I'm not that familiar with the OT project, and won't be able to work on this in the upcoming days/weeks. However, please add me to the PR if this is OK.

[2020-01-10 14:52] marvensilabs commented on #4462
Further testing on macOS and Linux is showing it building with Automake 1.16.1 whereas one of failing builds is using Automake 1.15.1.   If I use the -k option on make command line it skips the errors where it builds the dependency files and continues to build the sources and final images.  However it fails to copy the built files to the output directory.

It is as if Automake 1.15.1 does not expa

[2020-01-10 14:54] marvensilabs commented on #4462
One option is to replace the gecko_sdk_suite symlink in third_party/silabs with a symlink to the v2.7 directory within gecko_sdk_suite instead and remove the SDKVERSION variable.

[2020-01-10 15:41] marvensilabs commented on #4462
I intend to remove SDKVERSION for the moment and replace it's use with v2.7.   At later date this can be looked at further as we consider how to integrate it into the Silicon Labs SDK.

[2020-01-10 17:37] jwhui commented on #4434
The retransmissions are due to CoAP retransmissions. Sleepy End Devices (SEDs) receive messages from their parent by sending an IEEE 802.15.4 Data Request message. The period between Data Request transmissions determines the latency that messages can be delivered to a SED.

In this case, it seems the CoAP ack timeout is shorter than the period that the SED sends Data Request messages. You can find

[2020-01-10 19:22] dismirlian commented on #4434
Hi @jwhui, thanks for your answer, it's clear now. For anyone who may encounter the same behavior, I leave here some additional info:

- The sender times out before the first data poll because the ACK timeout is 2~3s with the default values, so it queues the retransmission to the SED.
- The SED polls for data, receives the two PUTs (first transmission and retransmission) and responds.
- The sender

[2020-01-10 21:24] sjlongland commented on #4434
On 11/1/20 5:22 am, Diego Ismirlian wrote:

It's on the back-log, somewhere… I've been up to my eyeballs with a few
other things lately (particularly CoAP Observe) but I expect I'll be
getting onto that soon as we'll need it for a RS-485 serial to Ethernet
feature we're building.

(We actually need to speed things up, not slow them down like for SEDs,
but same problem, it needs to be done per-requ

[2020-01-10 23:30] dismirlian commented on #4434
Ok great, I'll close this and open a new issue so that we can share ideas. Thanks!

[2020-01-10 23:30] #4434 closed

[2020-01-11 01:25] robszewczyk opened #4467 "nlbuild-autotools are out of date, fail to build on more modern platforms"
**Describe the bug**
On Mac OSX and on more modern Linux distributions, curl and wget do not necessarily support ftp any longer.  As a result, building tools for nlbuild-autotools is fails.   The solution is to update to more recent version of nlbuild-autotools that has switched all downloads to use http
**To Reproduce**
On Mac OS:

    cd third_party/nlbuild_autotools/repo
    make tools

**Expec

[2020-01-11 22:34] dismirlian opened #4470 "[coap] Make retransmission parameters dynamically configurable"
**Is your feature request related to a problem? Please describe.**
For some use cases, the default CoAP Transmission Parameters used by OpenThread (the same specified by RFC7252) are not adequate. Furthermore, for some applications, the Transmission Parameters should be configurable per-message, to accommodate different requirements by different parts of the application.

**Describe the solution y

[2020-01-11 23:22] sjlongland commented on #4470
My thinking is, you're not necessarily going to have every message with different timing parameters, in fact I think the vast majority of users of the CoAP library will be using the defaults (from RFC7252).

I think it fair to assume that the application developer would define a few parameters as a `const struct` and pass that in somehow.  Thus we could have a "default" one exported by OpenThread,

[2020-01-11 23:40] dismirlian commented on #4470
Exactly my thoughts

Browsing the code, it seems that there are very few calculations to be done, and (maybe almost) all during creation of the new message. I'm thinking that with a few minor modifications, the CoapMetadata class can hold the required status in the existing member variables:
- mRetransmissionTimeout (can be calculated on "transaction" creation from ACK_TIMEOUT and ACK_RANDOM_FACTO

[2020-01-13 06:08] jwhui commented on #4467
Resolved by #4468

[2020-01-13 06:08] #4467 closed

[2020-01-13 06:14] jwhui commented on #4462
Resolved by #4466

[2020-01-13 06:14] #4462 closed

[2020-01-13 11:47] zhanglongxia opened #4471 "[diags] add new commands"
#### Is your feature request related to a problem? Please describe.

The format and content of the frames sent by `factory_diag` are fixed. When we are debugging the radio driver, we need to generate real 15.4 frames which include FCF, Seq and MAC header to verify whether the radio driver could successfully handle different kinds of frames.

#### Describe the solution you'd like
Add more commands

[2020-01-13 11:47] zhanglongxia commented on #4471
@jwhui @abtink  @bukepo  Thoughts?

[2020-01-13 12:00] mwilniewiec opened #4472 "Packets sent to Service ALOC not reaching destination"
Lately an issue with Service ALOCs was found and fixed #4424

Currently we observe second part of the same problem.
A child service registers its RLOC in the Leader and it is added to the list but all old RLOCs are not removed. As a result we have 1 server node but multiple Server TLV (0d 02 RLOC16) entries in the network data mostly pointing to some old RLOCs.

During ALOC routing some routers ro

[2020-01-13 13:00] librasungirl commented on #4472
@mwilniewiec would you please describe the process a bit more when the issue happens? e.g. Did this child server attach to a different parent?

[2020-01-13 13:14] mwilniewiec commented on #4472
Yes the issue arrises when mesh topology is changing. Our server becomes a child of a different parent or changes chlid->router or router->child (generally changes its RLOC).
When mesh boots up for the first time - server registers itself and leader has only 1 RLOC in network data. When server changes its RLOC it notifies Leader about the change and a new Server TLV is added to the network data.
W

[2020-01-13 15:41] librasungirl commented on #4472
@mwilniewiec Would you please share what the 8 different RLOCs look like?

RLOC is considered temporary in the Thread Mesh Network. It may take some time for the outdated network data info to be removed from the Leader Network Data.

1) If child attaches to a different router, the old parent would deregister the outdated service when timing out the child (up to the ChildTimeout reported during att

[2020-01-13 15:47] librasungirl commented on #4433
@AlexeyShako is the log customized in your build? I fails to find similar log info in existing OT repo
Note that not every frame is a time sync frame and only non-zero `timeIeOffset` indicates it is a frame for time sync service.

[2020-01-13 21:27] mwilniewiec commented on #4472
@librasungirl Sure, this is the network data I've taken from one node:
`0b23
000000c6ac0100
0d 02 b809
0d 02 c812
0d 02 9411
0d 02 f81a
0d 02 ac0c
0d 02 8c0c
0d 02 8c17
080b
0b02 b852
0801 ff
0902 8c17`
You can notice 7 RLOCs here here only one is valid:
0d 02 c812
0d 02 9411
0d 02 f81a
0d 02 ac0c
0d 02 8c0c
0d 02 8c17

Our setup has only one server (NCP) with 30 other nodes. Issue is persistent f

[2020-01-13 23:59] jwhui commented on #4470
@dismirlian @sjlongland, thank you for looking into this enhancement. The proposed path forward seems reasonable to me.

[2020-01-14 02:16] bukepo commented on #4461
The current status:

* The data structure of settings are **not packed**
* All settings use the CPU endianness.

As a result, the settings data is not portable. Besides, since the data structure is not packed, there may be paddings between fields and **after the end of data structure**.

For example `sizeof(ChildInfo)` is not 15, but 16(there's 1 byte padding). If a `uint8_t mSomeThing` field is a

[2020-01-14 02:31] jwhui commented on #4461
Data that remains local to the same SoC generally does not need to be concerned about processor architecture differences.

The structure is initialized via `memset` on `sizeof(ChildInfo)`, so `mSomeThing` would be initialized to zero.

https://github.com/openthread/openthread/blob/51485d4ecd0b008518538c9a5c6d7970c2ee1745/src/core/common/settings.hpp#L130

What is the overhead of Option 1? It's dif

[2020-01-14 15:52] librasungirl commented on #4472
@mwilniewiec
All the Server RLOC16 in the network data are Child's RLOC16, it seems somehow the parents didnot de-register the service on behalf of its child.

Would you check whether or not the child table of old parents (e.g. Router c800) still has valid entry for the server?

Just fyi,  [one test script](https://github.com/openthread/openthread/compare/master...librasungirl:test_child_service4i

[2020-01-14 22:38] Vyrastas commented on #4442
@jwhui So doing this messes with Doxygen a little because I run it off the /output/include/openthread directory of the Posix build.  Moving it to /doc means it's dropped in the build output.  What's the best way to get it included?  (Or should we just leave it as a separate file in the /include directory?)

[2020-01-14 23:28] jwhui commented on #4442
@Vyrastas, how about adding the following:
[code]
somewhere after:
https://github.com/openthread/openthread/blob/05ba4c29f4badfe99fe6b478900e7af072059ebe/doc/Makefile.am#L78

[2020-01-14 23:34] mwilniewiec commented on #4472
@librasungirl
I managed to reproduce the issue on master, posix 4x ot-ftd-cli with similar setup to yours (a leader, 2x router and a child server).

[code]

The clue is that some packet must be lost which is normal on hardware nodes and not normal on posix.
I reproduced persistent multiple RLOCs in network data only after setting some blacklists between routers and leader just before repairing pac

[2020-01-15 08:13] greg-fer commented on #4442
If you agree, let's keep it in the `include/` directory.  This would make it easier to import it with other files in the `include/` directory to different projects.

[2020-01-15 13:48] librasungirl commented on #4472
@mwilniewiec Do you have sniffer in your setup? The capture may help for analysis.

[2020-01-15 16:51] Vyrastas commented on #4442
@jwhui Your suggestion didn't work.

It might be easier to just leave it in `include/` but in a separate file.

[2020-01-15 18:20] jwhui commented on #4442
@Vyrastas, is `--enable-docs` included as part of the build? That is required for `OPENTHREAD_BUILD_DOCS` to be true.

Otherwise, I am fine to leave it in `include/openthread` as a separate file.

[2020-01-15 19:51] Vyrastas commented on #4442
Thanks, figured it out

[2020-01-16 08:43] bhumikaajain opened #4478 "When does different device state mean in mtd's?"
SED sends one data point every 30 seconds if it is connected and increments the counter, but if it is detached or disabled, it does nothing.
Polling period is of 15 seconds, and child timeout is 30 seconds.
I am facing the issue that SED don't send data for sometime but when it again starts sending data , its counter is continuous.
So what does it mean to be in connected state for a SED?

[2020-01-16 08:46] bhumikaajain opened #4479 "Child Supervision disable meaning"
In openthread stack, by default child supervision is disabled.
So how or when does mtd re-attach process is enabled in case child supervison is disabled.

[2020-01-16 09:29] abtink commented on #4479
For Child Supervision I can refer you to https://openthread.io/guides/build/features/child-supervision.
Child supervision feature is not (directly) related to how re-attach process works. It is a mechanism for the child to detect whether the parent has removed it from its child table.

Regarding re-attach process,  a detached (MTD) child would continuously try to search for a parent (router) to at

[2020-01-16 12:00] bhumikaajain commented on #4479
can you please explain to me difference in polling and child supervision?

[2020-01-16 17:24] abtink commented on #4479
They are two different functionalities (not related):
- Polling (IEEE 802.15. data request) -> Sleepy child send data polls to its parent to query about any pending message for it (queued on the parent) and receive them.
- Child supervision ->  https://openthread.io/guides/build/features/child-supervision Feature/mechansim for child to detect if parent has timed out the child entry from parent's c

[2020-01-16 18:24] jwhui commented on #4478
To attach to a parent, a SED needs to perform an MLE exchange to establish a parent-child relationship. As part of that exchange, the child communicates a "child timeout" value that indicates to the parent how often the SED will check in with the parent. You can learn more about the MLE attach process at https://openthread.io/guides/thread-primer/network-discovery

When attached to a parent, the S

[2020-01-17 02:32] librasungirl commented on #4472
Thanks for @simonlingoogle for reproducing the issue by simulating certain packet loss (30%) with the OTNS #4268
@mwilniewiec I have had the pcap now and confirmed the issue exists.

Previous I thought 1) there are two chances to deregister the invalid service of old child - one is the old parent deregister it when timing out the child, the other is the child itself will include old rloc16 when re

[2020-01-17 05:37] bhumikaajain commented on #4478
@jwhui
The explanation shared was also my understanding of connectivity, but my issue is SED's counter don't increase unless it is in connected state, but I don't received any data packets on server from SED's for around 2hr but still when I receive the next packet, the counter is continuous on next packet received.
On the other hand if I power off Border router and FTD's and power on them after 2

[2020-01-17 07:01] jwhui commented on #4478
Can you provide more information about your setup, including:

- Git commit id
- Hardware platform
- Commands you used to build your image

One thing you could try is decreasing the polling period and/or increasing the child timeout period to reduce the chance of the parent losing a data request message from the SED.

Some other things you could do to investigate further:

- Inspect the child tabl

[2020-01-17 07:09] bhumikaajain commented on #4478
Git commit is
https://github.com/openthread/openthread/tree/704511c (with revert of 136a444)
Hardware Platform : nrf52840
I have built my image on  nRF5 SDK for Thread and Zigbee v2.0.0.

Also this issue is random, there is no specific pattern or it is not on any specific SED.

[2020-01-17 11:32] mwilniewiec commented on #4472
Im glad to hear that my investigation helped. My thoughts are:

1. All nodes could track RLOCS in network data that belongs to them and notify leader: There is my RLOC in network data but Im not the server.
2. Routers could track RLOCS in network data and notify leader: There is an invalid RLOC as this child doesn't exist

In that case no special retransmission is needed and its just some suggesti

[2020-01-17 22:24] librasungirl commented on #4472
@mwilniewiec
Just submitted https://github.com/openthread/openthread/pull/4485 to relieve the stale network data issue in high packet loss network.

Would you please help to check if it helps for your setup?

[2020-01-18 11:40] Nopik commented on #4472
Looks good to me.

[2020-01-21 10:41] mwilniewiec opened #4496 "Invalid ALOC routing between router children"
Lately we are testing heavily service ALOCs on NRF52840 hardware.
We noticed a strange behaviour in a setup:

[code]
In network data on 0x540A we can see 2 different RLOCS for a FC10 ALOC:
0d 02 5408 (which is ok)
0d 02 f407 (invalid RLOC as we only have 1 server in the network, see #4472 )

Still... communication to FC10 from 0x540A should work without any problems as 5400 should route FC10 packe

[2020-01-21 10:54] mwilniewiec commented on #4472
@librasungirl hi again,
We applied your patch to our hardware setup and we can still reproduce the issue:
For more than an hour now we have 2 RLOCs in network data (with only 1 server):
Full network data on a node in the network:
`0b0f000000c6ac01000d02f4070d02540808040b022206`
where we have 2 RLOCs:
0d 02 f407 (some invalid value, not replying to a ping)
0d 02 5408 (valid server RLOC, replying to

[2020-01-21 11:16] librasungirl commented on #4496
@mwilniewiec do you have the pcap?

[2020-01-21 12:44] mwilniewiec commented on #4496
Nope, we have no sniffer in our hardware setup. We must investigate how to make one first :)

[2020-01-21 13:15] librasungirl commented on #4496
Agree that the parent router should find the closest child server. will look into this.
However not sure why the invalid server entry not being removed in such long time given #4485.

Fyi, https://openthread.io/guides/ncp/sniffer, any NCP device with LINK_RAW enabled or RCP device could act as the sniffer.

[2020-01-21 13:24] librasungirl commented on #4496
@mwilniewiec If the issue could be easily reproduced, the pcap would surely help to accelerate the analysis process. thanks

[2020-01-22 08:01] mwilniewiec commented on #4496
We have some suspicion that this cost calculations works not as it is expected in this part of code:
https://github.com/openthread/openthread/blob/c4f32fd9074708de6e95bfa75ddedcf4a1cee4ed/src/core/thread/mesh_forwarder_ftd.cpp#L797
If you could look into this, what is a calculated cost for own child or self. Maybe we some additional checks ("is it my packet?") are needed before calculating any cos

[2020-01-23 14:35] librasungirl commented on #4496
@mwilniewiec
Just added a new commit to #4485  to resolve the child server selection issue, would you please have a try?

[2020-01-24 19:55] mwilniewiec opened #4508 "Not stable Thread network topology in a big > 100 nodes network"
Hi, first I must say it is very critical issue for us and I would need any urgent help if possible.

### The Setup:
We have a hardware setup of 50x nRF5280 + one NCP and a border router.
Currently we test them in a line topology:
`BR (NCP) --- NODE --- NODE --- NODE --- ... --- NODE`
Each link to a nearest neighbour is between 70 and 80 dbm, Nodes can see around 3-4 neighbour nodes (RSSI: 80-95).

[2020-01-24 20:02] Nopik commented on #4508
This version uses `LONG_ROUTES` enabled (to allow 'deep' networks), as well as has `kAdvertiseIntervalMax ` set to `5`, as discussed in https://groups.google.com/d/msg/openthread-users/F6YY_lQiTZg/QOUAPa6LAAAJ

[2020-01-24 21:40] jwhui commented on #4508
Can you further clarify "push some messages into the network"?
1. Are both the multicast and confirmable coap request initiated by the border router?
1. Are multicast and confirmable coap request messages generated by the border router to each individual device?
1. At what rate are multicast and confirmable coap request messages being generated?

[2020-01-24 23:49] mwilniewiec commented on #4508
1. All the messages are sent from border router NCP.
2. Our testcase starts with one multicast to all nodes.
There is a unicast retry to all nodes that didn't reply to multicast (confirmable coap)
3. Multicast start, unicast retries after 15 seconds, second retry to all with no answer after 20 sec, third 25, fourth 30 etc.
Problem generally occurs before second /third retry.
On monday I'll do some

[2020-01-25 00:45] jwhui commented on #4508
Thanks for the additional detail. Some additional questions:

1. Devices receiving the multicast message from the border router send a confirmable coap message back to the border router?
1. When the border router attempts unicast retries, does it generate a confirmable coap message to all devices that did not respond simultaneously (e.g. after 15 seconds, then again after 20 seconds, etc.)? Are th

[2020-01-25 09:42] mwilniewiec commented on #4508
1. Yes there is a confirmable coap node -> ncp when node receives a message (looks like a place to improvement, will test if non confirmable or piggyback answer causes the same issue)
2. In practice after 15 seconds router recives infomation from cloud to send messages to its nodes. Around 40 coap confirmable messages are sent almost immediately (not as fast a a forEach loop) but it's done on 40 s

[2020-01-26 10:29] mwilniewiec commented on #4508
It looks like without initial multicast this works better. Still managed to reproduce the issue 1 out of 5 with unicasts only but there is a noticable difference.
Firstly I thought it just a high traffic issue but we started a DFU upgrade on the same configuration causing thousands of messages sent and its more stable too.
What we also observed previously is that the same multicast can reach a nod

[2020-01-26 13:54] mwilniewiec commented on #4496
Recently we used a workaround as we still had multiple service ALOCs in network data. When services are not used we observe more stable communication. Will test both fixes and provide pcap after we resolve other critical issues for us.

[2020-01-27 01:59] jwhui commented on #4508
IPv6 multicast messages should not be passed up multiple times - MPL uses an IPv6 Hop-by-Hop Option header with a sequence number to detect duplicate messages. One thing you could try is increasing [OPENTHREAD_CONFIG_MPL_SEED_SET_ENTRY_LIFETIME](https://github.com/openthread/openthread/blob/a5f2a41cb3f05d330269af6f86e4b7be05bc5c0e/src/core/config/ip6.h#L147), which specifies the number of seconds

[2020-01-27 07:24] bhumikaajain commented on #4478
Any update on this what could be causing the issue.
Do you need any other info from my end?

[2020-01-27 07:29] bhumikaajain commented on #4479
I have used polling method in my stack and child supervision is disabled by default.
In this case, how will MTD know if parent has removed it from it's child table or not forwarding its data further.

[2020-01-27 07:36] jwhui commented on #4478
It is possible for the parent to have timed the child out without the child knowing. The only way for the child to check this is by receiving a data message from the parent. Have you tried one of the methods I suggested above?

At the same time, we could root cause this issue by investigating further. Have you tried any of the suggested investigations above?

[2020-01-27 07:39] jwhui commented on #4479
The child does not know if the parent still has a child entry for it simply by sending data polls. The child needs to receive a data message from the parent to validate this (see https://github.com/openthread/openthread/issues/4478#issuecomment-575501278).

Also, the child does not know simply by sending messages to the parent. The only way to validate whether the parent is forwarding further is b

[2020-01-27 17:29] mwilniewiec commented on #4508
First of all my theory failed ...
We see that packet isnt delivered multiple times to the node and using a non confirmable message node->ncp didn't help that much. I couldn't observe multicast being delivered multiple times in this setup too.

Still it seems that getting rid of the initial multicast has the biggest positive effect and mesh is more stable without it (some occasional topology change

[2020-01-28 18:13] cfaessler opened #4512 "[cli] Site survey CLI command"
For a new home automation product line I am evaluating OpenThread technology. One of the key performance metrics for the evaluation is possible coverage with meshed devices. With the current solution it is hard to evaluate different scenarios in a semi-automated way.

**Solution**
Client side: Add a new CLI command which receives UDP broadcasts and replies to a configured server with link quality,

[2020-01-30 01:13] PlaidShirtPat opened #4515 "Interest in a new platform example using Linux driver & SPI controlled radio?"
I have previously built a OpenThread platform integration using a SPI controlled radio on a raspberry pi previously for a proof-of-concept, but am not able to contribute that code. I am considering writing a similar implementation from scratch as a personal project, but would like to gauge interest in the concept first.

Here is a high-level outline of my plan:
1. Develop Linux Kernel module to dr

[2020-01-30 02:21] abtink commented on #4515
Thanks @PlaidShirtPat for raising the issue to contribute/improve OT functionality :)

I think you are already familiar with [RCP model](https://openthread.io/platforms#radio-co-processor-rcp). A recently merged contribution (PR https://github.com/openthread/openthread/pull/4431) added support for SPI interface between RCP and host (in addition to UART which was originally supported). I think you

[2020-01-30 04:28] PlaidShirtPat commented on #4515
I'm unsure if the RCP model will work. If I understand correctly, it would require the ability to flash custom open thread firmware on the radio module. I am proposing connecting a "dumb" radio module where low-level 802.15.4 radio configuration & frame transmission is connected over SPI. These modules don't have a programmable micro controller, but a few have driver support in the Linux kernel, b

[2020-01-30 18:54] abtink commented on #4515
Having a kernel driver to map the low-level radio function into common API which can then be used as  an OT platform code  sounds reasonable and useful to me.

I guess the low-level SPI format (between kernel driver and radio) would be vendor/device specific?

[2020-01-30 23:01] PlaidShirtPat commented on #4515
Exactly.

[2020-01-31 09:10] bukepo commented on #4515
Since Thread is a low rate network protocol, maybe we could start from making a prototype in user space.
Another interesting approach would be running OpenThread based on [linux-wpan](http://wpan.cakelab.org/).

[2020-01-31 20:50] PlaidShirtPat commented on #4515
@bukepo

I've tried linux-wpan in the past and controlling the low level functions through the socket interface wasn't very fast and there were some features I could not use. It has been a while though so that approach may work now. It would be cool if we could re-use the linux network stack 802.15.4/6LOWPAN capabilities.

Trying to control the low level radio functions in user space tends to be p

[2020-02-01 19:37] theHurc opened #4523 "Silicon Labs Support: Build OpenThread for Silicon Labs as a library and/or import into Simplicity Studio"
Silicon Labs has apparently dropped support for their proprietary Thread stack in favor of OpenThread. However, the Silicon Labs Eco System revolves around Windows development with their flavor of Eclipse called Simplicity Studio. OpenThread development is geared towards Linux development and building/debugging without an IDE. I don't see any documentation or migration guides for how to either use

[2020-02-03 06:04] bhumikaajain opened #4524 "Important APIs to commission to Thread Network"
I am using Nordic SDK for thread and Zigbee V4.0.0 for my application.
In most examples autocommissioning is set to true.
But when I set it to false to commission to my exiting thread network,
Before starting the commissioner at Border Router I get error in JoinerCallback 23 i.e. OT_ERROR_NOT_FOUND
When I start the start the commissioner at border router, I get joinercallback error 8 i.e. OT_ERROR

[2020-02-03 17:17] #4442 closed

[2020-02-04 16:51] jwhui commented on #4508
@mwilniewiec, did you get a chance to test with a larger value for `OPENTHREAD_CONFIG_TMF_ADDRESS_CACHE_ENTRIES`? Any other observations you can share?

[2020-02-05 08:37] cfaessler commented on #4512
@jwhui does no labeling and reaction mean there's no interest on this?

[2020-02-05 08:54] bukepo commented on #4512
@cfaessler Thank you for proposing this feature. We have a new tool in https://github.com/openthread/openthread/pull/4117, which seems to be able to serve as a base of this feature. It's close for now, but we are going to re-open it later.

Could you please help review it and see if it's helpful to your use case?

[2020-02-05 13:27] mwilniewiec commented on #4508
Yes, we tried that its hard to say if bumping OPENTHREAD_CONFIG_TMF_ADDRESS_CACHE_ENTRIES from 20 to 200 did anything good but we left it that way.

We did some investigation with the sniffer and we found that our multicast, actually multicast answers were causing too big load on the network. Every node upon receiving multicast message was responding with multiple packets on NCP Mesh Local address

[2020-02-05 14:29] doublemis1 opened #4530 "[harness-automation] v50 select case doesn't work to choose specific test cases"
**Describe the bug**
During execution test ex. Router 5.1.7 autothreadharness crash because of `action_chains.perform()` in harness_case.py file.
It happens every time if any previous test case is not available (not display) in test case tree

**To Reproduce**
Information to reproduce the behavior, including:
1. Openthread master
2. GRL 2.0.0 (v50)
3. Google chrome 80
4. start.bat -t -r 3 --blackl

[2020-02-05 15:20] machatta commented on #4523
Hi ,

Integration into Simplicity Studio is currently being planned.

In the mean-time, please use instructions provided below to build open thread.

You may find the Readme for mg12 at link:
https://github.com/openthread/openthread/tree/master/examples/platforms/efr32mg12

and for mg21 at link:
https://github.com/openthread/openthread/tree/master/examples/platforms/efr32mg21

mg21 is slightly dif

[2020-02-05 19:09] jwhui commented on #4515
@PlaidShirtPat, thanks for raising this proposal.

In the case of a radio transceiver with fixed, vendor-specific serial interface, I can see the potential advantages of implementing the radio driver in the kernel.

If you proceed down this path, you may want to consider starting with the "posix-host", implemented in [src/posix](https://github.com/openthread/openthread/tree/master/src/posix). Ther

[2020-02-05 21:11] jwhui commented on #4524
@bhumikaajain, given that the "auto-commissioning" feature mentioned here is specific to the Nordic SDK, this may be better asked at https://devzone.nordicsemi.com/, which is the official support portal for nRF5 SDK for Thread.

To give some insight on the errors, `OT_ERROR_NOT_FOUND` typically indicates that the joiner was not able to find a network that is looking to commission the joiner. Note

[2020-02-06 02:41] braiden opened #4531 "ot::Cli::Interpreter Cause Fault when ICMP Echo Reply Received"
**Describe the bug**

If an ICMP echo reply is received after `otCliConsoleInit` is called, but before there's been any user interaction with the CLI, a fault occurs. In my use case such a situation is common. I'm using openthread in zephyr, I start a cli, but rarely interact with it. Someone could craft an ICMP packet to crash my device, and the device crashes whenever I use zephyr's stack to pin

[2020-02-06 02:55] jwhui commented on #4531
@braiden thanks for raising this issue! We’ll work to propose a fix soon.

[2020-02-06 03:32] PlaidShirtPat commented on #4515
@jwhui posix-host sounds like a great starting point. Thanks.

[2020-02-06 08:36] mwilniewiec commented on #4472
@librasungirl Im back :)
We applied all your current patches for this issue and after longer testing we reproduced the issue.
It looks like leader is not clearing its own network data properly when there is an invalid RLOC in services (child of non existing router in our case). Our leader was its own leader with no routers and no neighbors but it's network data had some old RLOC. Before we removed

[2020-02-07 23:15] LuDuda opened #4535 "[adress-query] Address Error Notification"
When I enabled all logs during stress tests on 24 NCP-FTD boards (where devices often create different partitions and merge again due to too heavy traffic), I found a lot of this kind of logs:

`Error while processing address error notification: Drop`

Couple conclusions:

1. This particular error is printed since we don't accept non-confirmable CoAP type [here](https://github.com/openthread/opent

[2020-02-07 23:39] jwhui commented on #4535
@LuDuda, thank you for identifying this issue and working to resolve it!

I agree we should accept non-confirmable Address Error Notification messages.

I also agree that we need to update the Address Resolver code to handle entries that were created based on snooping messages. In this case, I think we need to make sure `mLastTransactionTime` is set to `kLastTransactionTimeInvalid` in [AddressReso

[2020-02-08 04:03] abtink commented on #4535
Thanks @LuDuda and @jwhui  for nice debugging of the issue.

Reading the code, I agree. I think  we do need to set `mLastTransactionTime` to `kLastTransactionTimeInvalid` in `AddCacheEntry()`.

One other thing I noticed is whether it is ok to call `MarkCacheEntryAsUsed()`from `AddCacheEntry` (which will put the entry at top of age list) since the entry is not actually used (it's created from snoop

[2020-02-08 05:33] librasungirl commented on #4472
@mwilniewiec , thanks for the updates.

For Child Server of non-existing router, in theory, the Leader would remove any network data relative to this non-existing router and its child when removing this router in existing implementation:
https://github.com/openthread/openthread/blob/master/src/core/thread/router_table.cpp#L295

Not sure how it happens. But please share the pcap if you have, let's

[2020-02-08 06:51] #4461 closed

[2020-02-09 00:29] LuDuda commented on #4535
@jwhui @abtink thank you for your thoughts! Please assign me to this issue, the fix is on the way. It looks like I found a couple more bugs in the address resolver module.

[2020-02-09 17:00] LuDuda opened #4541 "[router-table] assert seen while processing RouteTLV"
**Describe the bug**
I got [assert](https://github.com/openthread/openthread/blob/aa78b2688e72c1bbe66034059f76c6a4f4096e97/src/core/thread/router_table.cpp#L518) in `router_table.cpp` during a stress test of the large network.

I've never seen this one, the only change I did was to enable:
`OPENTHREAD_CONFIG_MLE_SEND_LINK_REQUEST_ON_ADV_TIMEOUT`.
So either this is related to this, or it's a very u

[2020-02-09 23:30] abtink opened #4542 "[address-resolver] change the age model"
The issue https://github.com/openthread/openthread/issues/4535 triggered a deeper look into the `AddressResolver` implementation.

First let me say, the existing approach and the fix by @LuDuda for the issue all look good and fine.

I was thinking of a possible future enhancement to simplify the logic and replace the age model.
Describing it here to get feedback on it:
- We use a cache entry array

[2020-02-10 00:10] jwhui commented on #4542
@abtink, thanks for proposing this enhancement.

I think single-linked list using index to array is a good optimization - it avoids needing to update the age value for all affected entries when inserting/removing entries.

I do **not** think we should reclaim entries that are in `kStateQuery`. The current implementation does not allocate new entries that are in `kStateQuery`: https://github.com/op

[2020-02-10 06:00] jwhui commented on #4541
@LuDuda, thanks for raising this issue!

At first glance, this condition failure indicates that there is an inconsistency between [mAllocatedRouterIds](https://github.com/openthread/openthread/blob/1edde90d91fff21343bdb8560eafcba6d5cf1331/src/core/thread/router_table.hpp#L357) and [mRouters](https://github.com/openthread/openthread/blob/1edde90d91fff21343bdb8560eafcba6d5cf1331/src/core/thread/rout

[2020-02-10 06:19] jwhui commented on #4393
Closing stale issue.

[2020-02-10 06:19] #4393 closed

[2020-02-10 13:21] LuDuda commented on #4542
@abtink I really like your proposal. It would simplify the current implementation a lot! I just followed the current model while bug-fixing.

Also as the developer, I would love to have CLI/NCP command to print the current full cache table (for example to understand connectivity issues).

Since we are talking about address-resolver improvements, I know that the Address Resolver parameters are conf

[2020-02-10 16:46] mwilniewiec commented on #4472
@librasungirl, thanks for the update
Code in the link which you sent looks OK. I also verified our openthread codebase as we use older version and there is such code too.
One thing that comes to my mind is that maybe router/child is sending a Service registry to the leader after its removed from router table. Would it be possible in a high packet loss setup?

1. Node registers itself as a  service

[2020-02-10 16:52] jwhui commented on #4472
Good catch. I don't think we have a check that rejects registrations with an unallocated Router ID. Would you like to propose a patch? Otherwise, I'm happy to submit a proposed patch for this specific issue.

[2020-02-10 17:07] jwhui commented on #4531
Resolved by #4534.

[2020-02-10 17:07] #4531 closed

[2020-02-10 18:27] jwhui commented on #4472
@mwilniewiec, I just submitted $4544 to address the issue of registering network data with invalid router id. Please review.

[2020-02-11 00:44] theHurc opened #4546 "Reconstructing build for an IDE is really difficult"
I'm building for the EFR32MG12 and I'm trying to reverse engineer the build so I can integrate into an IDE. Running make with the -V option was really helpful for verbose output but there are a few linking issues I am unable to get around. They all appear to be related to mbedtls so I'll just describe one issue and extrapolate from there.

For example, these 2 files are giving me an issue:

"third

[2020-02-11 02:26] abtink commented on #4542
Thanks guys.

@LuDuda , I agree it would be good/helpful to expand the NCP/CLI commands. We have commands in NCP/CLI to get the cache table but only valid entries and just address and rloc. In wpantund we have `Thread:AddressCacheTable` property. I think would be good to be able to get the full table, i.e., all entries in all states including query mode with timeout values, etc.

Fully agree with.

[2020-02-11 12:50] cfaessler opened #4550 "[question] non linux based border router"
I am trying to find out whether it is feasible to develop a thread compatible border router which is not based on a linux system. Reason is to save hw costs. We are evaluation the thread technology for a series of products in the smart home area. We don't consider a raspberry pi solution to be a stable product.
Currently it seems that there are hardly an thread compatible border routers available

[2020-02-11 17:36] jwhui commented on #4542
As @abtink mentioned, we found the existing Thread Specification values too long to provide a good user experience. For background, the concern was around traffic destined for a device that does not exist on the network. In that case, we want something sufficiently long so that repeated Address Query messages do not cause too much traffic overhead. We found 15 seconds and 120 seconds to be much be

[2020-02-11 17:42] jwhui commented on #4550
Yes, it is possible to implement a Thread Border Router in a non-Linux environment. The [Nest Connect](https://store.google.com/us/product/nest_connect) is one example of a shipping product that employs OpenThread to implement a FreeRTOS-based Thread Border Router. That said, the Nest Connect does not currently support Thread Commissioning, which makes it difficult to use outside the Nest ecosyste

[2020-02-11 22:18] #4535 closed

[2020-02-12 21:38] theHurc commented on #4546
I was able to figure this out by just removing `third_party/mbedtls/repo/library/ecp.c` from the build but it still doesn't explain why the build was actually linking before

[2020-02-14 01:41] bukepo opened #4560 "give up alignment of `\` in Makefiles"
**Is your feature request related to a problem? Please describe.**
`\` at end of Makefiles are now aligned. However, every time a longer line is added, lines around have to be modified. I don't see big benefits of this alignment style, shall we drop it?

**Describe the solution you'd like**
Just use a single space between `\` and line content.

**Describe alternatives you've considered**
None.

**

[2020-02-14 01:41] bukepo commented on #4560
@jwhui @abtink Thoughts?

[2020-02-14 09:26] praneethpanasala commented on #3676
Hi Yakun Xu,

Good Day!

I am interested to work on this issue.
Could you please let me know whether this issue is applicable to the below script files in openthread code-base or not?

[code]

Thanks in advance,
Praneeth Panasala.

[2020-02-17 15:54] librasungirl commented on #4472
@mwilniewiec
https://github.com/openthread/openthread/pull/4485 is rebased on master branch with @jwhui 's fix, and it also newly introduce the network data detection for invalid child server when there is new network data.

If you are stilling work on the service solution recently, would you please help to try it out? Thanks.

[2020-02-18 05:36] librasungirl commented on #4496
[commit 6b3e45a](https://github.com/openthread/openthread/pull/4485/commits/6b3e45af71aa75d4df65360068a316b87bf4562a) in #4485 should have solved the original issue reported here about routing to the server of minimum cost, right? @mwilniewiec

[2020-02-18 05:55] FiveDimensions commented on #4530
Hi @doublemis1, can you share the webdriver version using cmd "chromedriver version" and check if it is compatible with chrome 80 referring to https://chromedriver.chromium.org/?

[2020-02-18 07:28] doublemis1 commented on #4530
My chromedriver version is:
`Starting ChromeDriver 80.0.3987.16 (320f6526c1632ad4f205ebce69b99a062ed78647-refs/branch-heads/3987@{#185})`.
And referring to the website that you provide me my version of chromedriver and chrome is compatible.

[2020-02-18 08:29] Irving-cl opened #4571 "[build] getting error when running make check locally"
**Describe the bug**
When building as follow locally(linux):
[code]
I got the such error:

It seems that memset a class object is not allowed.

[2020-02-18 08:30] Irving-cl commented on #4571
@bukepo @LuDuda

[2020-02-18 09:34] mwilniewiec commented on #4496
We did some testing with your patch on our 50 devices setup and couldn't see issues. We can consider it as fixed.

[2020-02-18 09:37] mwilniewiec commented on #4472
Applied all your and Jonathans patches to our devices and the issue wasn't reproduced for a few days now. Thanks for all the fixes, in case I see something related to the same problem I can open a new issue.

[2020-02-18 18:51] jwhui commented on #4478
Closing stale issue.

[2020-02-18 18:51] #4478 closed

[2020-02-18 18:51] jwhui commented on #4479
Closing stale issue.

[2020-02-18 18:51] #4479 closed

[2020-02-19 16:51] jordanmelnychukhendrickson opened #4581 "CLI CoAP URI Query Strings"
**Is your feature request related to a problem? Please describe.**
Would like to be able to send URI queries with the CoAP CLI command
i.e. `coap get fdde:ad00:beef:0:fdde:ad00:beef:0 api/endpoint?a=1&b=2&c=3`

**Describe the solution you'd like**
In `Coap::ProcessRequest` parse `argv[2]` to split the raw input using `otCoapMessageAppendUriPathOptions` and then iterate over the query params with `

[2020-02-20 00:43] bukepo commented on #4560
Ping~

[2020-02-20 01:20] abtink commented on #4560
I don't have any strong preference here but would favor/suggest keeping it as is. I would say this is same as adding a new longer variable name in the code which with our clang-format rule could potentially cause the other definitions/lines to be re-aligned.

[2020-02-20 02:23] bukepo commented on #4560
Thank you for sharing your inputs. Affecting other lines for alignment is not git blame friendly and also increases unnecessary reviewing efforts. As more and more code are added in, I really hope we could do something to improve reviewers experience a little bit.

[2020-02-20 07:58] FiveDimensions commented on #4530
Ok, just make sure if it is compatible between chrome and chromedriver.  It can not be reproduced using the same autotools, chrome, chromedriver and TH on our testbed. "It happens every time if any previous test case is not available (not display) in test case tree", "previous" means the tested case before current testing case? Can you share the full log file? Thanks

[2020-02-20 17:07] jwhui commented on #4560
I do not have a strong opinion on the `\` in Makefiles. However, one could also make a similar argument that the same applies to:

- End-of-line comments.
- Multi-line macros.
- Variable declarations.
- Assignment operators.
- param and retval documentation.
- Method declarations.
- ...

Where do we draw the line?

[2020-02-20 17:10] jwhui commented on #3679
Resolved by #4573.

[2020-02-20 17:10] #3679 closed

[2020-02-20 17:13] jwhui commented on #3896
Resolved by #4026.

[2020-02-20 17:13] #3896 closed

[2020-02-20 17:15] jwhui commented on #3648
@bukepo, given that the `src/posix/platform` files have transitioned to C++, should we use C++ mechanisms for name spacing?

[2020-02-20 17:38] #4571 closed

[2020-02-21 02:46] librasungirl opened #4587 "[tests] thread_cert enhancements"
This issue tracks the issues noticed in existing thread_cert to be enhanced

- [ ] mixed style of `cmd` variable and command string when `send_command()` (https://github.com/openthread/openthread/pull/4423#discussion_r382054336)

- [ ] inconsistent attach waiting time in existing tests (https://github.com/openthread/openthread/pull/4423#discussion_r381914918)

- [ ] unnecessary `if i == 0` check f

[2020-02-21 20:00] jwhui commented on #4581
@jordanmelnychukhendrickson, thanks for this proposal. This seems like a good enhancement. Would you like to submit a PR?

[2020-02-22 00:08] jwhui commented on #4470
Resolved by #4481

[2020-02-22 00:08] #4470 closed

[2020-02-22 02:41] bukepo commented on #4560
Do these styles really improves code readability? Especially

* Multi-line macros.
* Variable declarations.
* Assignment operators.
* Method declarations.

I am fine with requiring alignment for documentation, because we usually read them directly instead of the generation of doxygen. Thoughts?

[2020-02-24 21:13] #4496 closed

[2020-02-24 21:13] jwhui commented on #4472
Resolved by #4485

[2020-02-24 21:13] #4472 closed

[2020-02-24 22:28] #4523 closed

[2020-02-24 22:29] jwhui commented on #4240
Resolved by #4282

[2020-02-24 22:29] #4240 closed

[2020-02-24 22:50] abtink commented on #4560
I agree and understand that style is subjective but personally I like the code style we currently use in OpenThread. I find the alignments of variable names, assignments, method declarations, multi-line macros,  etc. to make the code look nicer and help with its readability.

I agree that enforcing such a  code style can cause diffs in PRs/commits to look larger than what the change is and may mak

[2020-02-26 05:54] sjlongland commented on #4546
I found running `make` with `V=1` is helpful to gleam out how things are getting called… did that a _lot_ in the early days of getting my build system working for some of the in-house stuff I'm working on (my "IDE" is `fvwm`+`gvim`+`make`+`gcc`+`konsole`… very basic).

Recently, a lot of `./configure` switches got moved to `Makefile` definitions; there's a lot you can learn by perusing `examples/c

[2020-02-26 11:49] edmont opened #4597 "[meshcop] Commissioner Credential should be used to generate PSKc"
Thread 1.1 Specification section 8.4.1.2 defines how a passphrase (the Commissioner Credential) is used to derive a key (PSKc) that is used to establish a DTLS session between the Commissioner and the Border Agent.

This Commissioner Credential is defined as (8.2):

At the moment, I believe OT (API + CLI + docs) is failing to provide this functionality since only the PSKc can be configured when mo

[2020-02-26 14:45] edmont opened #4598 "[cli] Not possible to set a Network Name using spaces"
The Network Name is defined in Thread as:

However the space character (UTF-8 `0020`) is not possible to be assigned to a Network Name through the [CLI](https://github.com/openthread/openthread/blob/thread-reference-20191113/src/cli/cli.cpp#L1822) since it's used as argument separator.

A possible solution would be to require quotation when entering the Network Name through the CLI.

I found this

[2020-02-26 18:01] jwhui commented on #4598
@edmont, thank you for raising this issue.

I agree it would be nice to support space characters in the Network Name. Would you like to submit a PR with the proposed change?

[2020-02-26 18:21] jwhui commented on #4597
@edmont, thank you for raising this issue.

I agree we could improve on the use of Commissioner Credential when setting up the network. Perhaps we could enhance the "dataset" CLI command to support generation of datasets with the a Commissioner Passphrase, rather than a random PSKc.

OpenThread already has an API for generating the PSKc [otCommissionerGeneratePskc()](https://github.com/openthread/

[2020-02-27 01:28] simonlingoogle commented on #4598
This is an issue I am aware of recently.
I think there are generally 3 options:

1. Use quotation for CLI arguments that contain whitespaces
    - e.x. `networkname "hello world"`
2. Use windows style `\<space>` to escape whitespaces in commands
    - e.x. `networkname hello\ world`
3. Add new command that receives a hex network name
    - e.x. `networknamex 68656c6c6f20776f726c64`

Option 1 and 2

[2020-02-27 08:22] edmont commented on #4598
I would say the first option is cleaner for the user.

But notice that values of Network Name containing quotes should be allowed as well, so the logic would be: a single string argument is the one between the two farthermost quote characters. This disallows commands taking two consecutive UTF-8 string arguments, which I don't think are needed now anyway.

In that sense, option 2 is more versatile

[2020-02-27 11:29] doublemis1 commented on #4530
[harness-20200227122356.log](https://github.com/openthread/openthread/files/4261331/harness-20200227122356.log)
[auto-20200227122355.log](https://github.com/openthread/openthread/files/4261332/auto-20200227122355.log)

Logs from Cert tool and autothreadharness.
Also test are executed on widows 10.

[2020-02-27 16:49] #4413 closed

[2020-02-27 17:40] theHurc commented on #4546
That's exactly what I did. Build with V=1. Thanks!

[2020-02-27 20:56] theHurc opened #4609 "EFR32 alarm.c implementation issues"
The alarm.c implementation for the EFR32 boards doesn't correctly time alarms. In fact, the current implementation doesn't allow more than one alarm at a time which I believe the alarm functionality expects. Also, the timer interrupt isn't actually used for timing and it's unclear why a timer interrupt is involved at all. (The timer interrupt calls otSysEventSignalPending which is an empty functio

[2020-02-27 21:45] #4609 closed

[2020-02-28 01:39] bukepo commented on #4560
agree.

[2020-02-28 01:39] #4560 closed

[2020-02-28 10:27] wgtdkp opened #4611 "[error] semantic of OT_ERROR_PARSE and OT_ERROR_INVALID_ARGS"
Hi guys, this PR is opened for discussion of the semantic of `otError`, specifically, `OT_ERROR_PARSE` and `OT_ERROR_INVALID_ARGS`.

https://github.com/openthread/openthread/blob/c36fa453f1726f4e5f810264ede54a56b75252aa/include/openthread/error.h#L90-L98

It says that `OT_ERROR_PARSE` stands  for both message and arguments parsing error, while **I think `OT_ERROR_PARSE` should only represent messa

[2020-02-28 11:06] Irving-cl commented on #4611
It makes sense to me. I think **OT_ERROR_INVALID_ARGS** is better for API/CLI.

[2020-02-28 13:39] wgtdkp commented on #4524
@bhumikaajain `OT_ERROR_NOT_FOUND` **is the expected error** when there is no active commissioner or the joiner has not been added by the commissioner.

[2020-02-28 16:54] bhumikaajain commented on #4524
Hi,

The issue was in Nordic's SDK. It has been resolved.
Thanks for your help.

[2020-02-28 16:54] #4524 closed

[2020-02-28 21:33] jwhui commented on #4237
@AuSchell, are you still experiencing these warnings?

I have not been able to reproduce nor has anyone else confirmed seeing similar warnings. Also, between eb5b42a86e8bc58e28b6290045457ad2c4caa223 to 862a2b3d02108cd07f604b25e199c9280936168a, there were not any changes to `third_party/nlbuild-autotools`.

[2020-02-28 23:28] jwhui commented on #4611
All sounds good to me. Thanks for proposing this.

[2020-02-29 00:15] bukepo commented on #4611
In the current implementation, not recognized diag commands will output string like

`diag feature 'what-ever' is not supported`

With #4556, this error is represented with error OT_ERROR_NOT_IMPLEMENTED. Are we going to mark all CLI  errors as invalid arguments?

In my option, commands are commands, arguments are arguments. Using different error codes (result in different error message) is more u